<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="header-wrapper">
  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/academic.png', :html => {:alt => 'Calendar'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
       <a href="/calendar/" style="float: left;">Calendar</a>
       <span style="float: left;clear:both;font-size: 15px;"><%= @local_tzone_time.to_date %></span>
      </div>
      <div class="header-title-sub-text f5">

        </div>
      </div>
    </div>    
<div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
        
      <ul class="header-tabs">
        <li class="active">
          <a href="/calendar/" class="f2">Calendar</a>
        </li>
        <li>
          <a href="/calendar/list_events/" class="f2"> Event List</a>          
        </li>
      </ul>
      <div class="loader-image">
          <%= image_tag("loader2.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader2",
            :style =>"display: none;" ) %>
        </div>
    </div>
</div>
<div id="page-yield"  class="bg-disable" style="margin-top: 0px;">
  <div style="background-color: #ffffff;float: left;width: 94%;padding: 30px;">
    <div id="tooltip_box">
      <div class="image_loading">
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader",:style =>"display: none; float:left;" ) %>
      </div>
      <div id="tooltip_header">
      </div>
    </div>
    <div id="calendar" sty>
      <%= render :partial=>"month" %>
    </div>
  </div>
</div>


<%= stylesheet_link_tag 'tadded-header' %>


