<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% remote_form_for :card_attendnace,:url=>{:action=>'employee_create_attendance_all'} do |c| %>
<% unless flash[:notice].nil? %>
   <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
   <div class="label-field-pair" style="float:left; clear:both; width:100%; margin-bottom:5px;">
      <label for="duedate">Select date</label>
      <div  class="text-input-bg">
        <%= calendar_date_select_tag "attandence_date",I18n.l(@date_today,:format=>"%d %b %Y"),
        :class=>"text-input-bg",:onChange => "#{remote_function(:url => {:action => "employees_list"},
        :with => "'department_id='+$('subject_assignment_department_id').value+'&new_date='+value",:before=>"$('loader').show();",:success=>"$('loader').hide();")}",:readonly=>true,:popup=>:force%>
      </div>
    </div>

   <input type="hidden" name="department_id" value="<%= @dept_id %>" />
<table id="listing" width="100%">
  <% unless @employees.blank? %>
    <tr class="tr-head">
      <td><%= t('name') %></td>
      <td><%= t('employee_number') %></td>
      <td><%= t('department') %></td>
     
      <td><%= "Set In Time" %></td>
      <td><%= "Set Out Time" %></td>
      <td><%= "is present" %>&nbsp;&nbsp;<%= link_to_function "#{t('all')}", "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" ,:class=>"themed_text"%>
      &nbsp;&nbsp;<%= link_to_function "#{t('none')}", "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" ,:class=>"themed_text" %></td>
    </tr>
    <% @employees.each do |e| %>
      <tr class="tr-<%= cycle('odd','even') %>">
        <td class="col-3"><%= link_to "#{e.full_name}", :controller=>"employee", :action=>"profile", :id=>e.id %></td>
        <td class="col-3"><%=e.employee_number %></td>
        <td class="col-3"><%=e.employee_department.name %></td>
        <% emp_card_att = @cardAttendances.select{|ce| e.user_id == ce.user_id } %>
        <td class="col-3">
          <%
              hour_in = "08"
              min_in = "00"
              unless emp_card_att[0].blank?
                explode_time = emp_card_att[0].min_time.split(":")
                hour_in = explode_time[0]
                min_in = explode_time[1]
              end
          %>  
            
          <%= time_select "card_attendnace[#{e.user_id}][in_time]", {:minute_step => 5}, {:default => {:hour => "#{hour_in}", :minute => "#{min_in}"}} %>      
        </td>
        <td class="right">
          <%
              hour_out = "16"
              min_out = "00"
              unless emp_card_att[0].blank?
                explode_time = emp_card_att[0].max_time.split(":")
                hour_out = explode_time[0]
                min_out = explode_time[1]
              end
          %> 
          <%= time_select "card_attendnace[#{e.user_id}][out_time]", {:minute_step => 5}, {:default => {:hour => "#{hour_out}", :minute => "#{min_out}"}} %>
        </td>
        <td class="right">
            <% checked = ""
              unless emp_card_att[0].blank?
                checked = "checked='checked'"
              end
            %>
            <input type="checkbox" value="1" class="right" name="card_attendnace[<%=e.user_id %>][present]" <%= checked %> />
        </td>
      </tr>
    <% end %>
      <tr><td colspan="6">  
    <%= submit_tag "", :value => "► #{t('save')}&nbsp;", :class => "user_button", :disable_with => "► #{t('please_wait')}" %>
          </td></tr>
  <% else %>
    <tr class="tr-<%= cycle('odd', 'even') %>">
      <td class="col-2"><%= t('no_employee_found') %></td>
    </tr>
  <% end %>
</table>
<% end %>
   <style>
       .calendar_date_select_popup_icon
       {
           margin:10px 3px;
       }
   </style>    