</div>
<div id="page-yield">
    <h4 align="center">Academic module report</h4>
    <div id="pdf-info">
          <table id="pdf-table" width="99%" cellspacing="0" style="bordeR: 1px solid #000;">
              <% c = 'even'  %>
              <tr class="even">
                <td rowspan="2" style="bordeR: 1px solid #000;">ID</td>
                <td rowspan="2" style="bordeR: 1px solid #000;">Teacher Name</td>
                <td rowspan="2" style="bordeR: 1px solid #000;">Department Name</td>
                <td rowspan="2" style="bordeR: 1px solid #000;">Attendance</td>
                <td rowspan="2" style="bordeR: 1px solid #000;">Class Section</td>
                <td rowspan="2" style="bordeR: 1px solid #000;">Total Class</td>
                <td colspan="2" style="bordeR: 1px solid #000;">Homework</td>
                <td colspan="2" style="bordeR: 1px solid #000;">Classwork</td>
                <td colspan="2" style="bordeR: 1px solid #000;">Lessonplan</td>
                <td colspan="2" style="bordeR: 1px solid #000;">Quiz</td>
                <td rowspan="2" style="bordeR: 1px solid #000;">Class Routine</td>
              </tr> 
              <tr class="odd">
                <td>Total</td><td>Given</td>
                <td>Total</td><td>Given</td>
                <td colspan="2">Total</td>
                <td>Total</td><td>Given</td>
              </tr> 
              <% @data.each do |data| %>
                <tr class="odd" style="bordeR: 1px solid #000;">
                  <td style="bordeR: 1px solid #000;"><%= data[0] %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[1] %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[2] %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[3] %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[4] %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[5] %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[6] %></td>
                  <td style="bordeR: 1px solid #000;"><%= 0 %></td>
                  <td style="bordeR: 1px solid #000;"><%= data[7] %></td>
                  <td style="bordeR: 1px solid #000;"><%= 0 %></td>
                  <td style="bordeR: 1px solid #000;" colspan="2"><%= data[8] %></td>
                  <td style="bordeR: 1px solid #000;">0</td>
                  <td style="bordeR: 1px solid #000;">0</td>
                  <td style="bordeR: 1px solid #000;">Yes</td>
                </tr>
              <% end %>

          </table>
      </div>
</div>