<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
<%#= show_header_icon %>
  <h1><%#= t('school_news') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%#= t('latest_announcement') %></div>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('view_all')}", :controller => 'news', :action => 'all' %></li>
    <%# if permitted_to? :add,:news %>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('add')}", :controller => 'news', :action => 'add' %></li>
    <%# end %>
  </ul>
</div>
</div>-->

<div class="header-wrapper">
  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Employee Report'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
       <a href="/news/all">Employee Report</a>
      </div>
      <div class="header-title-sub-text f5">

        </div>
      </div>
    </div>    
</div>
<div style="background-color:#fff; padding: 30px;">
<div class="row" style="width:50%">
    <div class="row_label" >
      <div>
        Date
      </div>
    </div>
    <div class="row_data calender-div">
      <div>
        <%= calendar_date_select_tag "date_report",I18n.l(@date_to_use,:format=>"%d %b %Y"), :readonly=> true, :popup=>:force, :image => '/images/icons/calendar/calendar-icon.png' %>
      </div>
    </div>
  </div>
  <div class="row" style="width:50%; margin-top:10px">
    <div class="row_label" >
      <div>
        Department
      </div>
    </div>
    <div class="row_data calender-div">
      <div>
        <%= select_tag "employee_department_id",options_for_select([["#{t('select_department')}", '']]+@departments.map {|s| [s.name, s.id]})%>
      </div>
    </div>
  </div>
  <div class="row">
    <button value="Search" id="search_att" style="height:30px; margin-top:15px;">Generate Report</button>
  </div>  
   <div class="loader-image">
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>
    </div>
  </div>  


  <div id="report" style="background-color:white;">
    <%= render :partial => "att_report_all" %>
  </div>

</div>

<style>
.calender-div img
{
    width: 30px;
    margin-bottom: -10px;
}
.calender-div input
{
    height: 27px;
    width: 200px;
}
select
{
  height: 30px;
  width: 207px;
}
</style>
<%= stylesheet_link_tag 'tadded-header' %>

<script>
  var jj = jQuery.noConflict();
  jj(document).ready(function () {
      
      jj('#search_att').click(function () {
          var dep_id = jj("#employee_department_id").val();
          var date_to_use = jj("#date_report").val(); 
       
          Element.show('loader');
          jj.post( "/employee/att_report_all", { date_report: date_to_use, dep_id: dep_id })
            .done(function( data ) {
              Element.hide('loader');
              jj("#report").html(data);
            });



      });
  });
</script>  