</div>
<div id="page-yield" style="width: 1200px;">
    <div class="powered-text" style="margin-top: 40px;">
      <font size='2'>Print Date: <%##= Time.now.strftime("%Y/%m/%d") %><%= Time.now.strftime("%d-%m-%Y") %></font>
    </div>
    <center>
      <div id="pdf-header-south" class="general-header">
        <br />
          <h4 align="center" style="margin-top: 50px;"><%=Configuration.get_config_value('InstitutionName'); %></h4>
          <h2 align="center">Academic Module Report On <%= @date_to_use.to_date.strftime("%d-%m-%Y") %></h2>
      </div>
    </center>
    <div id="pdf-info">
          <table id="pdf-table" width="101%" cellspacing="0" style="bordeR: 1px solid #000; text-align: center;">
              <% c = 'even'  %>
              <tr class="even">
                <td style="width: 8%; bordeR: 1px solid #aaa; text-align: center;">Date</td>
                <td style="width: 8%; bordeR: 1px solid #aaa; text-align: center;">ID</td>
                <td style="width: 15%;bordeR: 1px solid #aaa; text-align: center;">Teacher Name</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">C-T</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Attendance</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Total Class</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Homework</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Classwork</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Lessonplan</td>
                <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Class Routine</td>
                <td style="width: 20%;bordeR: 1px solid #aaa; text-align: center;">Remarks</td>
              </tr> 
              <% cnt = 0 %>
              <% @data.each do |data| %>
                <% cnt = cnt+1; %>
                <% if cnt>12 %>
                  <% cnt = 0 %>
                  <tr>
                      <td colspan="10" style="height: 50px;">&nbsp;</td>
                  </tr>  
                  <tr class="even">
                    <td style="width: 8%; bordeR: 1px solid #aaa; text-align: center;">Date</td>
                    <td style="width: 8%; bordeR: 1px solid #aaa; text-align: center;">ID</td>
                    <td style="width: 15%;bordeR: 1px solid #aaa; text-align: center;">Teacher Name</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">C-T</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Attendance</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Total Class</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Homework</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Classwork</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Lessonplan</td>
                    <td style="width: 7%; bordeR: 1px solid #aaa; text-align: center;">Class Routine</td>
                    <td style="width: 20%;bordeR: 1px solid #aaa; text-align: center;">Remarks</td>
                  </tr> 
                <% end %>
                <tr class="odd" style="bordeR: 1px solid #aaa; text-align: center;">
                <td style="bordeR: 1px solid #aaa; text-align: center;"><%= @date_to_use.to_date.strftime("%d-%m-%Y") %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[0].gsub('sagc-','') %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[1] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[4] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[3] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[5] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[6] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[7] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;"><%= data[8] %></td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;">Yes</td>
                  <td style="bordeR: 1px solid #aaa; text-align: center;">&nbsp;</td>
                </tr>
              <% end %>

          </table>
      </div>
</div>