</div>
<div id="page-yield">

    <h4 align="center"><%= @employee.full_name+" Attendance Report " %></h4> 
    <h4 align="center"><%= @date_today.strftime("%Y-%m-%d") %> - <%= @end_date.strftime("%Y-%m-%d") %></h4>
  
    <% unless @subjects.blank? %>
      <div id="pdf-info">
          <table id="pdf-table" width="99%" cellspacing="0">
              <% c = 'even'  %>
              <tr class="even">
                <td>Date</td>
                <td>Class</td>
                <td>Subject</td>
                <td>Start Time</td>
                <td>Attendance Taken</td>
                <td>Assignment</td>
              </tr> 
              <% (@date_to_use..@end_date).each do |date| %> 
                <% weekday_id = date.strftime("%w") %>
                <% sublists = [] %>
                <% has_event = @events.find{|val| date.strftime("%y%m%d") >= val.start_date.strftime("%y%m%d")  and date.strftime("%y%m%d") <= val.end_date.strftime("%y%m%d")   }%>  
                <% if has_event.blank? %>
                  <% @subjects.each do |sub| %>
                  
                  <% entry = @entries.find{|val| val.subject_id.to_i == sub.id.to_i and val.weekday_id.to_i == weekday_id.to_i }%>
                    <% unless entry.blank? or sublists.include?(sub.id.to_i)%>
                    <% sublists << sub.id.to_i %>
                      
                      <tr class="odd">
                        <td><%= date.strftime("%Y-%m-%d")%></td>
                        <td><%= sub.batch.full_name %></td>
                        <td><%= sub.name %></td>
                        
                        <td><%= entry.class_timing.start_time.strftime("%I:%M %p") unless entry.blank? %></td>
                        <% attendance = @attenadnce_register.find{|val| val.subject_id.to_i == sub.id.to_i and val.attendance_date.strftime("%a %d %y") == date.strftime("%a %d %y")  }%>
                        <td><%= "Yes" unless attendance.blank? %></td>
                        <% assignment = @assignment_register.find{|val| val.subject_id.to_i == sub.id.to_i and val.created_at.strftime("%a %d %y") == date.strftime("%a %d %y") }%>
                        <td><%= assignment.title  unless assignment.blank? %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% else %>
                  <tr class="odd">
                        <td><%= date.strftime("%Y-%m-%d")%></td>
                        <td colspan="5">No Class Today</td>
                </tr>
                <% end %>
              <% end %>

          </table>
      </div>
    <% end %>
</div>