</div>
<div id="page-yield">
    <h4 align="center">Academic module report</h4>
    <%= abort(@data.inspect) %>
    <div id="pdf-info">
          <table id="pdf-table" width="99%" cellspacing="0">
              <% c = 'even'  %>
              <tr class="even">
                <td rowspan="2">ID</td>
                <td rowspan="2">Teacher Name</td>
                <td rowspan="2">Department Name</td>
                <td rowspan="2">Attendance</td>
                <td rowspan="2">Class Section</td>
                <td rowspan="2">Total Class</td>
                <td colspan="2">Homework</td>
                <td colspan="2">Classwork</td>
                <td colspan="2">Lessonplan</td>
                <td colspan="2">Quiz</td>
                <td rowspan="2">Class Routine</td>
              </tr> 
              <tr class="odd">
                <td>Total</td><td>Given</td>
                <td>Total</td><td>Given</td>
                <td colspan="2">Total</td>
                <td>Total</td><td>Given</td>
              </tr> 
              <% @data.each do |data| %>
                <tr class="odd">
                  <td><%= data[0] %></td>
                  <td><%= data[1] %></td>
                  <td><%= data[2] %></td>
                  <td><%= data[3] %></td>
                  <td><%= data[4] %></td>
                  <td><%= data[5] %></td>
                  <td><%= data[6] %></td>
                  <td><%= 0 %></td>
                  <td><%= data[7] %></td>
                  <td><%= 0 %></td>
                  <td colspan="2"><%= data[8] %></td>
                  <td>0</td>
                  <td>0</td>
                  <td>Yes</td>
                </tr>
              <% end %>

          </table>
      </div>
</div>