</div>
<div id="page-yield">
    <h4 align="center">Academic module report</h4>
    <div id="pdf-info">
          <table id="pdf-table" width="99%" cellspacing="0" style="bordeR: 1px solid #CCC;">
              <% c = 'even'  %>
              <tr class="even">
                <td rowspan="2" style="bordeR: 1px solid #CCC;">ID</td>
                <td rowspan="2" style="bordeR: 1px solid #CCC;">Teacher Name</td>
                <td rowspan="2" style="bordeR: 1px solid #CCC;">Department Name</td>
                <td rowspan="2" style="bordeR: 1px solid #CCC;">Attendance</td>
                <td rowspan="2" style="bordeR: 1px solid #CCC;">Class Section</td>
                <td rowspan="2" style="bordeR: 1px solid #CCC;">Total Class</td>
                <td colspan="2" style="bordeR: 1px solid #CCC;">Homework</td>
                <td colspan="2" style="bordeR: 1px solid #CCC;">Classwork</td>
                <td colspan="2" style="bordeR: 1px solid #CCC;">Lessonplan</td>
                <td colspan="2" style="bordeR: 1px solid #CCC;">Quiz</td>
                <td rowspan="2" style="bordeR: 1px solid #CCC;">Class Routine</td>
              </tr> 
              <tr class="odd">
                <td>Total</td><td>Given</td>
                <td>Total</td><td>Given</td>
                <td colspan="2">Total</td>
                <td>Total</td><td>Given</td>
              </tr> 
              <% @data.each do |data| %>
                <tr class="odd" style="bordeR: 1px solid #CCC;">
                  <td style="bordeR: 1px solid #ccc;"><%= data[0] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[1] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[2] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[3] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[4] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[5] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[6] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= 0 %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= data[7] %></td>
                  <td style="bordeR: 1px solid #CCC;"><%= 0 %></td>
                  <td style="bordeR: 1px solid #CCC;" colspan="2"><%= data[8] %></td>
                  <td style="bordeR: 1px solid #CCC;">0</td>
                  <td style="bordeR: 1px solid #CCC;">0</td>
                  <td style="bordeR: 1px solid #CCC;">Yes</td>
                </tr>
              <% end %>

          </table>
      </div>
</div>