</div>
<div id="page-yield">
    <h4 align="center">Academic module report</h4>
    <h4 align="center"><%= @employee.full_name %></h4> 
    <h4 align="center"><%= @employee.employee_position.name+" ("+@employee.employee_department.code+")" unless @employee.employee_position.blank?  %></h4> 
  
    <% unless @lesson_plans.blank? %>
      <div id="pdf-info">
          <table id="pdf-table" width="99%" cellspacing="0">
              <% c = 'even'  %>
              <tr class="even">
                <td>Publish Date</td>
                <td>Subjects</td>
                <td>Title</td>
                <td>Has Attachment</td>
              </tr>
              <% @lesson_plans.each do |lesson_plan| %>
                <% unless lesson_plan.subject_ids.nil? %>  
                  <% @sdata = [] %>
                  <% data = lesson_plan.subject_ids.split(/,/) %>                    
                      <%  data.each do |w|%>                           
                        <% @sdata << w %>
                      <% end %>
                <% end %>
                <tr class="odd">
                  <td><%= lesson_plan.publish_date %></td>
                  <td><% unless @sdata.nil? %>
                        <%  @sdata.each do |z|%>                           
                          <div class="subject_tag"><% sub =  Subject.find_by_id(z) %>
                          <%= h "#{sub.name}  - #{sub.batch.full_name}" -%></div>
                        <% end %>
                      <% end %>
                  </td>
                  <td><%= lesson_plan.title %></td>
                  <td><%= "Yes" unless  lesson_plan.attachment_file_name.blank? %></td>
                  
                </tr>
                <% end %>

          </table>
      </div>
    <% end %>
</div>