<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="page-yield">
  <h4><%=Configuration.get_config_value('InstitutionName').upcase; %></h4>
  <div class="hor_line"></div>
  <h4><%= @employee.full_name %>  </h4>
  
  <div id="general_info">
    <table id="pdf-table" width="100%" cellspacing="0">
      <tr class="odd"><td class="col-pdf"><%= t('position') %></td><td class="col-pdf"><%= @employee.employee_position.name unless (@employee.employee_position.nil? or @employee.employee_position.name.nil?) %></td></tr>
      <tr class="even"><td class="col-pdf"><%= "Date of Birth" %></td><td class="col-pdf"><%= I18n.l(@employee.date_of_birth,:format=>"%d %b %Y") unless @employee.date_of_birth.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('joining_date') %></td><td class="col-pdf"><%= I18n.l(@employee.joining_date,:format=>"%d %b %Y") unless @employee.joining_date.nil? %></td></tr>
      <% unless @additional_details.blank? %>
          <% @additional_details.each do |add_det| %>
              <% p =cycle('odd','even ') %>
              <tr class="<%= "#{p}" %>"><td class="col-pdf"><%= add_det.additional_field.name %></td><td class="col-pdf"><%= add_det.additional_info.gsub(/\n/, '<br>') %></td></tr>
          <% end %>
      <% end %>
      <tr class="even"><td class="col-pdf"><%= t('father_name') %></td><td class="col-pdf"><%= @employee.father_name unless @employee.father_name.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('mother_name') %></td><td class="col-pdf"><%= @employee.mother_name unless @employee.mother_name.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= t('spouse_name') %></td><td class="col-pdf"><%= @employee.husband_name unless @employee.husband_name.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= "Present Address" %></td><td class="col-pdf"><%= @employee.home_address_line1 unless @employee.home_address_line1.nil? %><br/><%= @employee.home_address_line2 unless @employee.home_address_line2.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= "Permanent Address" %></td><td class="col-pdf"><%= @employee.office_address_line1 unless @employee.office_address_line1.nil? %><br/><%= @employee.office_address_line2 unless @employee.office_address_line2.nil? %></td></tr>
      <tr class="odd"><td class="col-pdf"><%= t('mobile') %></td><td class="col-pdf"><%= @employee.mobile_phone unless @employee.mobile_phone.nil? %></td></tr>
      <tr class="even"><td class="col-pdf"><%= "Academic Degree" %></td><td class="col-pdf"><%= @employee.qualification unless @employee.qualification.nil? %></td></tr>
     
    </table>

  </div>
  
  <div class="hor_line2"></div>
  <h4>SIGNATURE</h4>
 

</div>

<style>
  div.hor_line
  {
      background: red;
  }
.hor_line2{
    width:200px;
    background: #333333;
    height: 2px;
}

tr.odd td
{
    padding: 12px;  
    border: 1px solid #000000;
    font-size:15px;
}
tr.even td
{
    padding: 12px;
    border: 1px solid #000000;
    font-size:15px;
}

table#pdf-table{
    border-top: none;
    border-collapse:collapse
}
tr.even{
    border: none;
}

tr.odd{
    border: none;
}
  
</style>
