<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('new_exam') %></div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <% if @from == "shift" %> 
      <% ARGV[0] = 'shift' %>
      <%= link_to t('manage_batch'), :controller => "courses", :action => "manage_batches" %>  <div class = "bread-crumb-separator"> > </div> 
    <% else %>
      <%= link_to "#{t('exam_management')}", :controller => "exam", :action => "create_exam" %> <div class = "bread-crumb-separator"> > </div>
    <% end %>  
    
    <% if @is_class_exam %>  
      <% if @is_batch_exam %>
        <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch, :class_exam => true, :batch_exam => true) %> <div class = "bread-crumb-separator"> > </div>
      <% else %>
        <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch, :class_exam => true) %> <div class = "bread-crumb-separator"> > </div>
      <% end %>
    <% else %>
      <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch) %> <div class = "bread-crumb-separator"> > </div>
    <% end %>
      
    <%= t('new_exam') %>
  </div>  
    
  <% if @from == "shift" %> 
    <% ARGV[0] = 'shift' %>
  <% else %>
    <% ARGV[0] = 'exam' %>
  <% end %>    
  
  <% if  @is_class_exam    %>  
  <h4>Exam For: <%= @course.course_name %></h4>    
  <% else %>  
  <h4>Exam For: <%= @course.course_name + ", section: " + @course.section_name %></h4>    
  <% end %>
  
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>



  <div class="box">

    <div id="flash"></div>
    <div id="exam-form">
      <% unless params[:exam_group].blank? %>
        <% if params[:exam_group][:exam_type] == 'Marks' or params[:exam_group][:exam_type] == 'MarksAndGrades' %>
          <%= render :partial=>'exam/exam_marks_form' %>
        <% else %>
          <%= render :partial=>'exam/exam_grade_form' %>
        <% end %>
      <% else %>
        <%= error_messages_for :exam_group %>
        <% form_remote_for :exam_option, :url => {:controller=>'exam',:action => 'update_exam_form',:batch=>@batch}, :before=>"$('submit_button').disable()", :complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |form| %>
          <% if  @is_class_exam    %>
            <%= hidden_field :class_exam, "class_exam", :value=>"1"%>
          <% else %>
            <%= hidden_field :class_exam, "class_exam", :value=>"0"%>
          <% end %>
        
          <% if  @is_batch_exam    %>
            <%= hidden_field :class_exam, "batch_exam", :value=>"1"%>
          <% else %>
            <%= hidden_field :class_exam, "batch_exam", :value=>"0"%>
          <% end %>
        
          <div class="label-field-pair">
            <label for="exam_name"><%= t('exam_name') %></label>
            <% if params[:ename].nil?  %>
              <% @ename = "" %>
            <% else %>
              <% @ename = params[:ename] %>
            <% end  %>
            <div class="text-input-bg"><%= form.text_field :name, :value=>@ename%></div>
          </div>
          <div class="label-field-pair">
            <label >Exam Category</label>
            <div  class="text-input-bg" id="exam-category-select">
              <%= select :exam_option,:exam_category, [['Class Test',1],['Project',2],['Term',3],['Surprise Test',4]] %>
            </div>
          </div>
          <div class="label-field-pair" id="exam_topic" style="display:none;">
            <label for="topic">Topic :</label>
          </div>
          <%= form.text_area "topic" %>
          <% if @batch.gpa_enabled? or @batch.cwa_enabled? %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :exam_option,:exam_type,[[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% elsif @batch.cce_enabled? %>
            <div class="label-field-pair">
              <label for="cce_exam_category_id"><%= t('cce_exam_category') %></label>
              <div class="text-input-bg"><%= select :exam_option,:cce_exam_category_id,@cce_exam_categories.map{|ec| [ec.name,ec.id]},:prompt=>t("select") %></div>
            </div>
            <%= hidden_field :exam_option,:exam_type, :value=>"MarksAndGrades"  %>
          <% else %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :exam_option,:exam_type,[[t('marks'),"Marks"],[t('grades'), "Grades"],[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% end %>
          <div class="label-field-pair"  style="float:left; clear:both;">
            <label for="duedate"><%= "#{t('attandence_start_date')}"%></label>
            <div  class="text-input-bg">
              <%= calendar_date_select_tag "exam_option[attandence_start_date]",
                I18n.l(1.week.since,:format=>"%Y-%m-%d") ,:class=>"text-input-bg",:readonly=>true,:popup=>:force%>
            </div>
          </div>
          <div class="label-field-pair"  style="float:left; clear:both;">
            <label for="duedate"><%= "#{t('attandence_end_date')}"%></label>
            <div  class="text-input-bg">
              <%= calendar_date_select_tag "exam_option[attandence_end_date]",
                I18n.l(1.week.since,:format=>"%Y-%m-%d") ,:class=>"text-input-bg",:readonly=>true,:popup=>:force%>
            </div>
          </div>
          <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
          <%  #  form.submit("Save") %>
        <%end%>
      <% end %>
    </div>

    <div class="extender"></div>


  </div></div>
<script type="text/javascript">
      var j = jQuery.noConflict();
      j(document).ready(function() {
        j("#exam-category-select select").change(function(){
          if(j(this).val() == 2)
          {
            j("#exam_topic").show();
            j("#exam_option_topic").show();
          }  
          else
          {
            j("#exam_topic").hide();
            j("#exam_option_topic").val("");
            j("#exam_option_topic").hide();
          }  
        });
      });
</script> 
<style>
  #exam_option_topic
  {
    display:none;
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #c6c6c6;
    height: 190px;
    padding: 5px;
    width: 520px;
  }
</style>  
