<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>




<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
    <div class="all-exam-links exam_types" >
        <a href="javascript:void(0)" onclick="result_type_change(1)" id="type_1" class="active" >Tabulation Sheet</a>
        <a href="javascript:void(0)" onclick="result_type_change(2)"  id="type_2" >Term End Tabulation Sheet</a>
        <a href="javascript:void(0)" onclick="result_type_change(3)"  id="type_3" >Progress Report</a>
        <a href="javascript:void(0)" onclick="result_type_change(4)"  id="type_4" >Comment Entry</a>
        <a href="javascript:void(0)" onclick="result_type_change(5)"  id="type_5" >Marks Sheet Class Teacher</a>
        <a href="javascript:void(0)" onclick="result_type_change(6)"  id="type_5" >Marks Sheet Subject Teacher</a>
    </div>
    <input type="hidden" name="result_type" value="1" id="result_type" />
    <input type="hidden" name="batch_id" value="0" id="batch_id" />
    <% batches = Batch.active.find(:all, :group => "name") %>
    <div class="shift_batch_section">
      <% if batches %>
      <% 
      number_of_batches = batches.count()
      width_percentize = (100/number_of_batches)
      
      %>
        <div class="shift all-exam-links">
          <% batches.each do |batch| %>
            <a style="width:<%= width_percentize-2 %>%;" href="javascript:void(0)" onclick="get_class('<%= batch.name %>','<%= batch.id %>')" id="batch_name_<%= batch.id %>" ><%= batch.name %></a>
          <% end %>  
        </div>    
      <% end %> 
        <div class="class_section" >
          <div class="class_only all-exam-links">
              <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_2", :style =>"display: none;" ) %>
          </div>
          <div class="section_only all-exam-links">
              
          </div>
        </div>
    </div>
    
    <div class="result_div">
        
    </div>
    
</div>
<style>
 #content-header
 {
   display:none !important;
 }
    
    
    
 #pdf_file
 {
     display:none;
     min-height: 50px;
 }
  table tr td a
  {
     text-decoration: none;
     cursor: pointer;
     color: black;
  }
  .pagination {
      margin-top: 0px;
    margin-right: -18px;
}
.box select
{
    margin-left: 16px;
    height: 27px;
    width: 200px;
}
body, html
{
    line-height: normal;
    font-family: initial;
}
.sub-header3
{
    float: right;
    padding-top: 38px;
    margin-right: 10px;
}
.sub-header3 a
{
    float: left;
    margin-left: 0px;
    text-decoration: none;
    color: black;
    padding: 7px;
    border: 1px solid white;
    background: white;
    cursor: pointer;
    width: 73px;
    
}
.sub-header2
{
    float: right;
    padding-top: 38px;
    
}
.sub-header2 a
{
    float: left;
    
    text-decoration: none;
    color: black;
    padding: 7px;
    border: 1px solid white;
    background: white;
    cursor: pointer;
    
}
a:hover
{
  text-decoration: underline;
}
.mdl-data-table
{
   white-space: normal;
}
#content_wrapper
{
    width:96%;
}
.champs21_palette_container_1 #boxes
{
    width:100% !important;
    display:none;
    height: 0px;
}
.champs21_palette_container_1 #boxes .als-viewport
{
    width:100% !important
}
.champs21_palette_container_1 #boxes .als-next
{
    display:none;
}
.school_feed_box
{
    width:0px;
    display:none;
}
#page-yield
{
    width: 97%;
    margin-top:0px;
}
#page-yield .box
{
    width: 38%;
    float:left;
    clear:both;
}

.subject_div
{
    float:left;
    clear:both;
    width: 100%;
    margin-top: 20px; 
    margin-left: 25px; 
}


.exam_div
{
    float:left;
    clear:both;
    width: 100%;
    margin-top: 20px; 
    margin-left: 25px;
}

.class_section
{
    float:left;
    clear:both;
    width: 100%;
    margin-top: 10px;
    
}

.class_only
{
    float:left;
    width: 33% !important;
    margin-left: 10px;   
}

.section_only
{
    float:left;
    width: 59% !important;
    margin-left: 10px;   
}


.shift
{
    margin-top:10px;
}
.all-exam-links
{
    width: 100%;
    cloat:left;
}


.all-exam-links a
{
    width: 12%;
    float:left;
    padding: 5px 0px;
    text-align: center;
    margin-left:5px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    border:1px solid black;
    background: #d6f5d6;
   
}
.all-exam-links a.active
{
  background: #fff;
  cursor: crosshair;
}
.all-exam-links a:last-child
{
    border-right: 1px solid black;
}
.all-exam-links a:hover
{
   
    background: #fff; 
}

.shift_batch_section
{
   float:left;
   clear:both;
   width: 20%;
   margin: 10px 5px;
   min-height: 788px;
   border: 2px solid #000;
}

.result_div
{
   float:left;
   width: 77.5%;
   margin: 10px 5px;
   min-height: 788px;
   border: 2px solid #000; 
}


</style>
<style>
.pdfobject-container { height: 700px;}
.pdfobject { border: 1px solid #666; }
</style>
<script>
   var jj = jQuery.noConflict();
   function result_type_change(type_number)
   {
     jj("#result_type").val(type_number);
     jj(".exam_types a").removeClass('active');
     jj("#type_"+type_number).addClass('active');
     jj(".result_div").html("");
     get_exams();
   }
   function get_class(batch_name,batch_id)
   {
     var html = "";
      jj(".class_only").html("<img src='/images/loader.gif' />");
      jj.get( "/marks/get_class?batch="+batch_name, function( data ) {
        var batch_data = jQuery.parseJSON(data)
        var dataA = batch_data.data;
        jj.each( dataA, function( key, value ) {
          
            html = html+"<a style='width:100%;clear:both;margin-top:10px;' href='javascript:void(0)' id='section_"+value[0]+"' onclick=\"get_section('"+value[1]+"','"+value[2]+"','"+value[0]+"')\"  >"+value[2]+"</a>";
        });
        
        jj(".class_only").html(html);
        jj(".shift a").removeClass('active');
        jj("#batch_name_"+batch_id).addClass('active');
        jj(".result_div").html("");
        jj("#batch_id").val(0);
      });
      
     
   }
   function get_section(batch_name,course_name,batch_id)
   {
     var html = "";
     jj(".section_only").html("<img src='/images/loader.gif' />");
      jj.get( "/marks/get_section?batch="+batch_name+"&course_name="+course_name, function( data ) {
        var batch_data = jQuery.parseJSON(data)
        var dataA = batch_data.data;
        jj.each( dataA, function( key, value ) {
          
            html = html+"<a style='width:42%;margin-top:10px;' href='javascript:void(0)' id='batch_id_"+value[0]+"' onclick='set_batch_id("+value[0]+")\'>"+value[3]+"</a>";
        });
        jj(".section_only").html(html);
        jj(".class_only a").removeClass('active');
        jj("#section_"+batch_id).addClass('active');
        jj(".result_div").html("");
        jj("#batch_id").val(0);
      });
      
     
   }
   function get_exam_subject(exam_id)
   {  
      jj.get( "/marks/get_exam_subject?exam_id="+exam_id, function( data ) {
          var exam_data = jQuery.parseJSON(data)
          var dataA = exam_data.data;
          var html = "";
          jj.each( dataA, function( key, value ) {

              html = html+value;
          });
          html = "<div class='subject_div all-exam-links'>"+html+"</div><div id='pdf_file' style='float: left;clear:both; width:95%; margin:20px 30px; background: transparent url(/images/pdf_loading2.gif) no-repeat;background-position: center;'></div> "
          
          jj(".result_div").append(html);
          jj(".exam_div a").removeClass("active");
          jj("#exams_id_"+exam_id).addClass("active");
      });
      
   }
   
   function set_batch_id(batch_id)
   {
     jj("#batch_id").val(batch_id);
     jj(".section_only a").removeClass('active');
     jj("#batch_id_"+batch_id).addClass('active');
     jj(".result_div").html("");
     get_exams();
   }
   
  
   
   function get_exams()
   {
      var batch_id = jj("#batch_id").val();
      var result_type = jj("#result_type").val();
      var html = "";
      if(batch_id && result_type)
      {
        jj(".result_div").html("<img src='/images/loader.gif' />");
        jj.get( "/marks/get_exams?batch_id="+batch_id+"&data_type="+result_type, function( data ) {
            var exam_data = jQuery.parseJSON(data)
            var dataA = exam_data.data;
            jj.each( dataA, function( key, value ) {
             
                html = html+value;
            });
            html = "<div class='exam_div all-exam-links'>"+html+"</div>";
            if(result_type<5)
            {
              html = html+"<div id='pdf_file' style='float: left;clear:both; width:95%; margin:20px 30px; background: transparent url(/images/pdf_loading2.gif) no-repeat;background-position: center;'></div>"; 
            }  
            jj(".result_div").html(html);
        });
      }
   }
   
   jj( document ).on( "click", "a", function(event) {
      
      if(jj(this).attr("href").indexOf("continues")!=-1 || jj(this).attr("href").indexOf("tabulation")!=-1 || jj(this).attr("href").indexOf("marksheet")!=-1 || jj(this).attr("href").indexOf("comment_tabulation_pdf")!=-1)
      {
         jj("#pdf_file").hide();
         jj("#pdf_file").show();
         event.preventDefault();
         PDFObject.embed(jj(this).attr("href"), "#pdf_file", {id: "pdf_id",forcePDFJS: true,PDFJS_URL: "/javascripts/pdfjs/web/viewer.html"});
         if(jj(this).attr("href").indexOf("marksheet")!=-1)
         {
           jj(".subject_div a").removeClass("active");
         }
         else
         {  
            jj(".exam_div a").removeClass("active");
         }
         
         jj(this).addClass("active");
        
         
      }
      
    });
  
</script>  
