<%
@all_subject_id = []
@has_exam_score = []
@all_exam_groups = []
@subject_exam = []
@all_group_exams = GroupedExam.find(
  :all,
  :conditions => [
    "connect_exam_id = ?",
    @connect_exam_obj.id
  ]
  )
unless @all_group_exams.blank?
  @all_exam_group_id = @all_group_exams.map(&:exam_group_id).uniq
  @all_exam_groups = ExamGroup.find(
    :all,
    :conditions => ["id IN (?)", @all_exam_group_id]
    )

  @all_exams = Exam.find(
    :all,
    :conditions => ["exam_group_id IN (?)", @all_exam_group_id]
    )
  @all_exam_id = @all_exams.map(&:id).uniq
  


  unless @all_exams.blank?
    @total_scores  = {}
    @all_exams.each do |exam|
      unless @subject_exam.include?(exam.subject_id.to_s+"_"+exam.exam_group_id.to_s)
        @subject_exam << exam.subject_id.to_s+"_"+exam.exam_group_id.to_s
      end 
      
      @all_exam_absent = ExamAbsent.find(
      :all,
      :conditions => ["exam_id = ? ", exam.id]
      )
      @all_exam_absent_student_id = @all_exam_absent.map(&:student_id).uniq
      exam_subject = Subject.find_by_id(exam.subject_id)
      is_elective = exam_subject.elective_group_id
      total_exam = 0
      if @all_exam_absent_student_id.blank?
        if is_elective == nil
          total_exam = Student.count(:all, :conditions =>["is_deleted = ? and batch_id = ?",false,exam_subject.batch_id])
        else
          total_exam = StudentsSubject.count(:all, :conditions =>["subject_id = ? and batch_id = ?",exam_subject.id,exam_subject.batch_id])
        end
      else
        if is_elective == nil
          total_exam = Student.count(:all, :conditions =>["is_deleted = ? and batch_id = ? and id not in (?)",false,exam_subject.batch_id,@all_exam_absent_student_id])
        else
          total_exam = StudentsSubject.count(:all, :conditions =>["subject_id = ? and batch_id = ? and student_id not in (?)",exam_subject.id,exam_subject.batch_id,@all_exam_absent_student_id])
        end
      end  
      if @all_exam_absent_id.blank? or !@all_exam_absent_id.include?(exam.id)
        if @total_scores[exam.exam_group_id.to_s].nil?
          @total_scores[exam.exam_group_id.to_s] = {}
          @total_scores[exam.exam_group_id.to_s][exam_subject.id.to_s] = total_exam

        else
          @total_scores[exam.exam_group_id.to_s][exam_subject.id.to_s] = @total_scores[exam.exam_group_id.to_s][exam_subject.id.to_s].to_i+total_exam
        end 
      end
    end 
    @all_subject_id = @all_exams.map(&:subject_id).uniq
    @all_subject_connect_exam = Subject.find_all_by_id(@all_subject_id)
    
    @exam_score_all = ExamScore.find(
      :all,
      :conditions => ["exam_id IN (?)", @all_exam_id],
      :include => [:exam]
      )
    @total_scores_given = {}
    unless @exam_score_all.blank?
      @exam_score_all.each do |score|
        if !score.marks.blank?
          exammain = score.exam
          unless exammain.blank?
            @has_exam_score << exammain.exam_group_id.to_s+"_"+exammain.subject_id.to_s
          end
          if @total_scores_given[exammain.exam_group_id.to_s].nil?
            @total_scores_given[exammain.exam_group_id.to_s] = {}
            @total_scores_given[exammain.exam_group_id.to_s][exammain.subject_id.to_s] = 1
          else
            @total_scores_given[exammain.exam_group_id.to_s][exammain.subject_id.to_s] = @total_scores_given[exammain.exam_group_id.to_s][exammain.subject_id.to_s].to_i+1
          end
          
        end  
      end
    end
  end
  end 
%>

<div id="page-yield" class="available_sections1">
    <div class="section1 row" >
        <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center"><%= wicked_pdf_image_tag "/"+"#{Rails.root}/"+ "public/images/school_logo/352/logo-sagc.png",:width=> '10%' %></h4>
                <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
            </div>
            <h4 align="center">Non Posted Marks Entry, <%= @connect_exam_obj.name %></h4>
            <br/>
            <table width="100%" >
                <thead>
                    <tr>
                        <td><b>Year: <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B-%Y"):@connect_exam_obj.published_date.strftime("%B-%Y") %> </b></td>
                        <td align="right"><b>Class : 
                                <% if @batch.name == "General" %>
                                  <%= @batch.course.full_name %>
                                <% else %>
                                  <%= @batch.name %> ,<%= @batch.course.full_name %>
                                <% end %></b>
                        </td>
                    </tr>
                </thead>    
            </table>
        </center>
        <br/>
        <% unless @all_subject_id.blank?  %>
          <table id="pdf-table" width="100%" cellspacing="0">
              <tr class="table-header">
                  <td class="col-pdf"><%= "Sl." %></td>
                  <td class="col-pdf">Subject</td>
                  <% unless @all_exam_groups.blank? %>
                    <% @all_exam_groups.each do |exam| %>
                      <td class="col-pdf"><%= exam.name %></td>
                    <% end %>
                  <% end %> 
              </tr>
              <% i = 0 %>
              <% @all_subject_connect_exam.each do |connect_exam_subject| %>
                <% i = i+1 %>
                <tr class="table-header">
                    <td class="col-pdf"><%= i %></td>
                    <td class="col-pdf"><%= connect_exam_subject.name %></td>
                    <% unless @all_exam_groups.blank? %>
                      <% @all_exam_groups.each do |exam| %>
                        <% if @subject_exam.include?(connect_exam_subject.id.to_s+"_"+exam.id.to_s) %>
                          <% if @has_exam_score.include?(exam.id.to_s+"_"+connect_exam_subject.id.to_s) %>
                            <% if !@total_scores[exam.id.to_s].blank? && !@total_scores[exam.id.to_s][connect_exam_subject.id.to_s].blank? && !@total_scores_given[exam.id.to_s].blank? && !@total_scores_given[exam.id.to_s][connect_exam_subject.id.to_s].blank? %>
                              <td class="col-pdf"><%= @total_scores[exam.id.to_s][connect_exam_subject.id.to_s].to_i-@total_scores_given[exam.id.to_s][connect_exam_subject.id.to_s].to_i %></td>
                            <% elsif !@total_scores[exam.id.to_s].blank? && !@total_scores[exam.id.to_s][connect_exam_subject.id.to_s].blank? %>
                              <td class="col-pdf"><%= @total_scores[exam.id.to_s][connect_exam_subject.id.to_s].to_s %></td>
                            <% else %>
                              <td class="col-pdf"><%= "-" %></td>
                            <% end %>
                          <% else %>
                            <% if !@total_scores[exam.id.to_s].blank? && !@total_scores[exam.id.to_s][connect_exam_subject.id.to_s].blank? %>
                              <td class="col-pdf"><%= @total_scores[exam.id.to_s][connect_exam_subject.id.to_s].to_s %></td>
                            <% else %>
                              <td class="col-pdf"><%= "-" %></td>
                            <% end %>
                          <% end %>
                        <% else %>
                          <td class="col-pdf">-</td>
                        <% end %>  
                      <% end %>
                    <% end %>
                </tr>
              <% end %>
          </table>    
        <% end %>
    </div>
</div>    