<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'>Connect Exam Marks</div>
<div id="inner-tab-menu">
  <ul>
    <% if permitted_to? :previous_batch_exams, :exam %>
      <li class='themed_bg themed-dark-hover-background' style="display: none;"><%= link_to "#{t('previous_batch_exam')}", {:controller => "exam", :action => "previous_batch_exams"} %></li>
    <% end %>
    <% unless @show_class_exam %>   
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('exams_text'), :controller => "exam", :action => "exam_connect_list",:id=>@batch.id %></li>
    <% end %>  
    <%  if permitted_to? :grouping,:exam %>
      <% unless @is_class_exam %>   
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('connect_exams_new')}", :controller=>'exam', :action=>'new_exam_connect', :id=>@batch %></li>
      <% end %>
    <% end %>
  </ul>
    

</div>
</div>


<div id="page-yield">
  
  <div id="flash-box">   
    <% unless flash[:notice].nil? %>
      <p class="flash-msg" style="text-align:center; padding-left:20px; font-size: 20px; font-weight: bold;"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
    
 
  <%
    version = 
    batch_split = @exam_subject.batch.name.split(" ");
    shift = batch_split[0]
    unless batch_split[1].blank?
      version = batch_split[1]
    end
  
  %>
  <p class="flash-msg" style="text-align:center; padding-left:20px; font-size: 20px; font-weight: bold;">Please Input 0 for 0 & Absent for ab</p>  
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head" style="background:#49BB4B; color:white;">
          <td>Class : <%= @exam_subject.batch.course.course_name %></td>
          <td>Version : <%= version %></td>
          <td>Shift : <%= shift %></td>
      </tr>
      <tr class="tr-head" style="background:#49BB4B; color:white;">
          <td>Section : <%= @exam_subject.batch.course.section_name %></td>
          
          <td>Group : 
          <% unless @exam_subject.batch.course.group.blank? %>
            <% group_split = @exam_subject.batch.course.group.split(" ") %>
            <%= group_split[0] %>
          <% end %>
          <% 
            if !@exam_subject.batch.course.group.blank? && !@exam_subject.batch.course.group.index("--").nil? 
              group_split[0] = ""
            end 
          %>
          </td>
          <td>Session : <%= @exam_subject.batch.course.session %></td>
      </tr>
  </table>
  
  <h3><%= @exam_subject.name %> (<%= @exam_connect.name %>)</h3>

  <% unless @students.empty? %>
      <% form_for :exams do |f| %>
        
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
       
          <tr class="tr-head fixed-position">
            <td  class="zui-sticky-col" style="width:18%;"><b><%= "Roll" %></b></td>
            <td  class="zui-sticky-col2"><b><%= t('name') %></b></td>
            
            <% unless @exams.blank? %>
            <% 
              exam_ids = @exams.map(&:id).uniq
              @exam_score_all = ExamScore.find(
              :all,
              :conditions => ["exam_id IN (?)", exam_ids]
              )
              @all_exam_absent = ExamAbsent.find(
              :all,
              :conditions => ["exam_id IN (?)", exam_ids]
              )
            %>
            <% @exams.each do |exam| %>
              <% if exam.exam_group.show_in_connect.to_i == 1 %>
              <td>
                  <% if exam.exam_group.exam_category == 7 %>
                    <b><%= exam.exam_group.name %></b>
                  <% else %>
                    <b><%= exam.exam_group.name %></b>
                    <% if !exam.alternative_title.nil? and exam.alternative_title != "" %>  
                     <p style="font-size: 10px;"> (<%= exam.alternative_title %>)</p>
                    <% else %>

                     <p> 
                         <% if (exam_marks_entry_allowed(exam.exam_group) or @current_user.admin?) and MultiSchool.current_school.id != 352 %>
                            <%= text_field_tag "exam_marks[#{exam.id}][maximum_marks]", exam.maximum_marks.to_i, :size => '4', :class=>"marks-box" %>
                         <% else %>
                            <%= exam.maximum_marks.to_i %>
                         <% end %>
                      </p>

                    <% end %> 
                  <% end %>
              </td>
              <% end %>
            <% end %>
            <% end %> 
            <% if MultiSchool.current_school.id == 312 && (@exam_connect.result_type == 2 || @exam_connect.result_type == 1 || @exam_connect.result_type == 8 || @exam_connect.result_type == 10 || @exam_connect.result_type == 11 || @exam_connect.result_type == 13 || @exam_connect.result_type == 14 || @exam_connect.result_type == 15)   && !@exams.blank? %>
              <td><b><%= "Class Participation" %></b></td>
            <% elsif MultiSchool.current_school.id != 352 %>  
              <td><b><%= t('remarks') %>/<%= t('grade') %></b></td>
            <% end %>
           
            
          </tr>
          <% @students.each do |student| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2 zui-sticky-col" style="width: 18%;" ><%= student.class_roll_no %> </td>
              <td class="col-2 zui-sticky-col2" ><%= student.full_name %> </td>
             
              
              <% unless @exams.blank? %>
              <% @exams.each do |exam| %>
                <% @exam_score = @exam_score_all.select{|val| val.exam_id == exam.id && val.student_id == student.id } %>
                <% @exam_absent = @all_exam_absent.select{|val| val.exam_id == exam.id && val.student_id == student.id } %>
                <% 
                  unless @exam_score.blank?
                    @exam_score = @exam_score[0]
                  else
                    @exam_score = exam.score_for(student)
                  end
                %>
                <% 
                  unless @exam_absent.blank?
                     @exam_absent = @exam_absent[0]
                  end
                %>
              
               
                
                <% if @updated_at.blank? %>
                  <% @updated_at = @exam_score.updated_at.to_s %>
                <% elsif @updated_at < @exam_score.updated_at.to_s %>
                  <% @updated_at = @exam_score.updated_at.to_s %>
                <% end %>
                <% if exam.exam_group.show_in_connect.to_i == 1 %>
                <td class="col-2 td-mark">

                    <div class="label-field-pair2">
                      <% extra_class="" %>
                      <% if !@exam_score.marks.blank? and @exam_score.marks >  exam.maximum_marks.to_f %>
                        <% extra_class="red_class" %>
                      <% end %> 
                        <%
                            mark = @exam_score.marks
                            unless @exam_absent.blank?
                              if @exam_absent.remarks.upcase != "NA" and @exam_absent.remarks.upcase != "N/A" and mark.to_i == 0
                                mark = @exam_absent.remarks
                              end
                            end
                        %>
                        <div class="text-input-bg2">
                          <% if exam.exam_group.exam_category == 7 && MultiSchool.current_school.id != 323 %>
                            <%= text_field_tag "exam_remarks[#{exam.id}][#{student.id}][remarks]", @exam_score.remarks %>
                          <% else %>   
                            <% if exam_marks_entry_allowed(exam.exam_group) or @current_user.admin? %>
                              <%= text_field_tag "exam_score[#{exam.id}][#{student.id}][marks]", mark, :onkeyup => "checkValueMax(#{exam.maximum_marks.to_i},this)",:onkeydown => "checkValueMax(#{exam.maximum_marks.to_i},this)", :size => '4', :class=>"marks-box #{extra_class}" %>
                            <% else %>
                              <%= mark %>
                            <% end %> 
                          <% end %>
                            
                        </div>
                    </div>
                    <div class="date" ><span class="themed_text"><%=  student.class_roll_no.to_s+" : "+student.full_name %><div> <%= exam.name %></div></span></div>
                </td>
                <% end %>
              <% end %>
              <% end %> 
               <%
                exam_comment = ""
                @exam_comments = ExamConnectSubjectComment.find(:first, :conditions => {:exam_connect_id=>@exam_connect.id,:subject_id => @exam_subject.id, :student_id => student.id} )
                if !@exam_comments.blank?
                  exam_comment = @exam_comments.comments
                end
              %>
                <% if MultiSchool.current_school.id != 352 %>
                  <td class="col-2 td-mark">

                       <div class="label-field-pair2">

                       <div class="text-input-bg2">
                         <% if MultiSchool.current_school.id == 312 && (@exam_connect.result_type == 2 || @exam_connect.result_type == 1 || @exam_connect.result_type == 8 ||  @exam_connect.result_type == 10 || @exam_connect.result_type == 11) && !@exams.blank? %>
                           <%= text_field_tag "exam[#{student.id}][comments]", exam_comment, :size => '4', :onkeyup => "checkValueMax(#{50},this)",:onkeydown => "checkValueMax(#{50},this)" %>
                         <% else %>  
                           <%= text_field_tag "exam[#{student.id}][comments]", exam_comment, :size => '30' %>
                         <% end %>

                       </div>
                       </div>
                       <div class="date2"><span class="themed_text"><%=  student.class_roll_no.to_s+" : "+student.full_name %></span></div>
                   </td>
                <% end %>
              
            <tr>
          <% end %>      
        </table>
            
        <br/>
        <% unless @updated_at.blank? %>
        <% time_updated = @updated_at.to_time + 6*60*60+16*60 %>
        <h3> Last Updated : <%= I18n.l(time_updated, :format=>'%A, %d %B %Y %l:%M %p') %> </h3>
        <% end %>
        <div id="sub-button" style="margin:0 auto;width: 50px;"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
      <% end %> 
        
    <% end %>

     </div>
<script>
  var jj = jQuery.noConflict();
   jj(document).ready(function () {
 
      jj('input').keyup(function (e) {
        if (e.which == 39) { // right arrow
          jj(this).closest('td').next().find('input').focus();
          
 
        } else if (e.which == 37) { // left arrow
          jj(this).closest('td').prev().find('input').focus();
         
 
        } else if (e.which == 40) { // down arrow
         
          child_number = jj(this).closest('td').index()+1
          jj(this).closest('tr').next().next().find('td:nth-child('+child_number+')').find('input').focus();
          
 
        } else if (e.which == 38) { // up arrow
          child_number = jj(this).closest('td').index()+1
          jj(this).closest('tr').prev().prev().find('td:nth-child('+child_number+')').find('input').focus();
          
        }
        jj('input').each(function(){
          if(jj(this).hasClass("input-blocked"))
          {  
            jj(this).focus();
          }
        });
     });
     jj('input').click(function (e) {
       jj('input').each(function(){
          if(jj(this).hasClass("input-blocked"))
          {  
            jj(this).focus();
          }
        });
     });
   }); 
   function checkValueMax(maxvalue,th_is)
   {
     if(jj(th_is).val()>maxvalue || jj(th_is).val() < 0)
     {
       jj(th_is).css( "color", "red" );
       jj(th_is).addClass( "input-blocked" );
     }
     else
     {
       jj(th_is).css( "color", "black" );
       jj(th_is).removeClass( "input-blocked" );
     }  
     
     
   }
</script>  
<style>
    #content_wrapper #content
    {
      width: 95% !important;
    }
    #page-yield {
    margin: 0px 0px;
    float: left;
    width: 100%;
}
    form 
    {
        float:left;
        width: 100%;
    }
    .red_class
    {
      color:red;
    }
  #sub-button .submit_button
  {
    cursor: pointer;
  }
  table#listing {
    padding: 0px;
    width: 100%;
    overflow-x: auto;
}
<% if MultiSchool.current_school.id == 352 %>
.marks-box 
{
   width: 100px;
   height: 30px;
   border: 1px solid black;
   text-align: center;
}
@media only screen and (max-width: 600px) {
 .marks-box  {
    height: 50px;
  }
}
<% end %>
.zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
    border-left: solid 1px #DDEFEF;
}
.zui-wrapper {
    position: relative;
}
.zui-scroller {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 5px;
    width: 930px;
}
.td-mark .date2{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-mark .date2 span,.td-name .date2 span{
    display: none;
    color: #FFFFFF;
}
.td-mark:hover .date2 span{
    display: block;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #c3d9ff;
    min-height: 30px;
    left: 20px;
    top: 10px;
    color: #FFFFFF;
    padding-top: 10px;
    padding: 3px;
    color:#990A10;
    font-size: 12px;
}
.td-mark .date{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-mark .date span,.td-name .date span{
    display: none;
    color: #FFFFFF;
}
.td-mark:hover .date span{
    display: block;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #c3d9ff;
    min-height: 20px;
    left: 20px;
    top: 10px;
    color: #FFFFFF;
    padding: 3px;
    color:#990A10;
    font-size: 12px;
}
</style>
