<table id="listing table-design">
    <thead>
        <tr>
            <th style="white-space:nowrap">Subject Name</b></th>
            <% unless @report_data['report']['exams'].blank? %>  
              <% @report_data['report']['exams'].each do |report| %>
                <th style="padding:0px;">
        <table>
            <tr>
                <td colspan="2"><%= report['exam_name'] %></td>
            </tr>
            <tr>
                <td style="width:50%;">Full Marks</td>
                <td style="width:50%;">Marks Obtained</td>
            </tr>

        </table>
    </th> 
  <% end %>
<% end %>

<th>Total</th>
<th>Marks Obtained (%)</th>
<th>Highest Marks (%)</th>
<th>Letter Grade</th>
<th>GPA</th>
</tr>
</thead>
<% total_parcent = 0 %>
<% total_subject = 0 %>
<% unless @report_data['report']['subjects'].blank? %> 
  <% @report_data['report']['subjects'].each do |subjects| %>
    <tr>
        <% weightage_mark = 0 %>
        <% total_mark = 0 %>
        <% full_mark = 0 %>

        <td style="white-space:nowrap" class="col-2"><b><%= subjects['name'] %><% unless @current_user.student? or @current_user.parent? %>
                  &nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Mark Sheet",
                    {:action => "marksheet", :subject_id => subjects['id'],:id=>@connect_exam_obj.id},:target => '_blank' %><% end %></b></td>
        <% unless @report_data['report']['exams'].blank? %>  
          <% @report_data['report']['exams'].each do |report| %>
            <td  style="padding:0px;">

                <table>

                    <tr>
                        <td style="width:50%;">
                            <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                              <%= report['result'][report['exam_id']][subjects['id']]['full_mark'] %>
                              <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                            <% else %>
                              N/A
                            <% end %>  
                        </td>
                        <td style="width:50%;">
                            <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                              <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %>
                              <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                            <% else %>
                              N/A
                            <% end %>  
                        </td>
                    </tr>

                </table>   


            </td>

            <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
              <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
            <% end %>

          <% end %>
        <% end %>





        <% 
        heighst_mark = 0
        if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
          heighst_mark = (@report_data['report']['max_mark'][subjects['id']].to_f/full_mark.to_f)*100
          end  

      %>
        <% 
        if total_mark.to_f>0 and full_mark.to_f>0
          main_mark = (total_mark.to_f/full_mark.to_f)*100 
          else
          main_mark = 0
          end  
      %>

        <% if full_mark.to_f > 0 %>
          <td class="col-2"><b><%= sprintf( "%0.02f", total_mark) %></b></td>

          <td class="col-2"><b><%= sprintf( "%0.02f", main_mark) %> %</b></td>
          <td class="col-2"><b><%= sprintf( "%0.02f", heighst_mark)   %> %</b></td>
          <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>

          <% if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank? %>
            <td class="col-2"><b><%= grade.name %></b></td>
            <td class="col-2"><b><%= grade.credit_points %></b></td>
          <% else %>
            <td class="col-2"><b>-</b></td>
            <td class="col-2"><b>-</b></td>
          <% end %>

          <% total_parcent= total_parcent+main_mark %>
          <% total_subject = total_subject+1 %>
        <% else  %>
          <td class="col-2"><b>N/A</b></td>
          <td class="col-2"><b>N/A</b></td>
          <td class="col-2"><b>N/A</b></td>
          <td class="col-2"><b>N/A</b></td>
          <td class="col-2"><b>N/A</b></td>
        <% end %>  

    </tr> 
  <% end %>  
<% end %>     

</table>

</div>    


<% avgparcent = total_parcent.to_f/total_subject.to_f %>
<table id="listing table-design" style="margin-top:10px;">
    <tr>
        <td>Total Number of Working Days : <%= @report_data['total'] %></td>
<%#*<td>Total Number Of Days : 67</td>%>
        <td>Days Present : <%= @report_data['present'] %> </td>
<%#*<td>Days Present : <%= @report_data['present'] %>
        <td>Average Marks : <%= sprintf( "%0.02f",avgparcent) %> % </td>
        <%  grade = GradingLevel.percentage_to_grade(avgparcent, @batch.id) %>

        <% if !grade.blank?  and !grade.credit_points.blank? %>
          <td>CGPA : <%= grade.credit_points %> </td>
        <% else %>
          <td >-</td>
        <% end %>    


    </tr>  

</table>