<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="page-yield" class="available_sections1 baf_shaheen">
    <div class="page1"> </div>
    <div class="section1 row" >
        <center>
            <p>&nbsp;</p>
            <% if !@student_result.blank? %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <tr class="table-header">
                      <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                      <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                      <td class="col-pdf no-warp" rowspan="2">Roll</td>
                      <td class="col-pdf no-warp" rowspan="2">Name</td>
                      <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                      <td class="col-pdf no-warp" rowspan="2">GP</td>
                      <td class="col-pdf no-warp" rowspan="2">GPA</td>
                      <td class="col-pdf no-warp" rowspan="2">Marks</td>
                      <td class="col-pdf no-warp" rowspan="2">LG</td>
                      <td class="col-pdf no-warp center-class" colspan="2">Position</td>
                  </tr> 
                  <tr class="table-header">
                      <td class="col-pdf no-warp center-class" colspan="1">Section</td>
                      <td class="col-pdf no-warp center-class" colspan="1">Class</td>
                  </tr>
                  <% std_count = 0 %>
                  <% srl = 0 %>
                  <% @student_result.each do |std_result| %>
                    <%  std_count = std_count+1 %>
                    <%  srl = srl+1 %>
                    <% if std_count>47 %>
                      <% std_count = 0 %>
                      <tr class="page-break">
                          <td colspan="100">&nbsp;</td>
                      </tr>
                      <tr class="table-header">
                          <td class="col-pdf no-warp" rowspan="2">Srl</td>
                          <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                          <td class="col-pdf no-warp" rowspan="2">Roll</td>
                          <td class="col-pdf no-warp" rowspan="2">Name</td>
                          <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                          <td class="col-pdf no-warp" rowspan="2">GP</td>
                          <td class="col-pdf no-warp" rowspan="2">GPA</td>
                          <td class="col-pdf no-warp" rowspan="2">Marks</td>
                          <td class="col-pdf no-warp" rowspan="2">LG</td>
                          <td class="col-pdf no-warp center-class" colspan="2">Position</td>
                      </tr> 
                      <tr class="table-header">
                          <td class="col-pdf no-warp center-class" colspan="1">Section</td>
                          <td class="col-pdf no-warp center-class" colspan="1">Class</td>
                      </tr>
                    <% end %>    
                    
                      <tr class="table-header">
                        <td class="col-pdf no-warp"><%= srl %></td>
                        <td class="col-pdf no-warp"><%= std_result['sid'].to_s %></td> 
                        <td class="col-pdf no-warp"><%= std_result['roll'].to_s %></td> 
                        <td class="col-pdf no-warp"><%= std_result['name'].to_s %></td>
                        <td class="col-pdf no-warp"><%= @batch.full_name %></td>
                        <td class="col-pdf no-warp"><%= std_result['gpa'].to_s %></td>
                        <td class="col-pdf no-warp"><%= std_result['gp'].to_s %></td>
                        <td class="col-pdf no-warp"><%= std_result['grand_total'].to_s %></td>
                        <% if !@student_position_first_term.blank? && !@student_position_first_term[std_result['id'].to_i].blank? %>
                          <td class="col-pdf no-warp"><%= std_result['lg'] %></td>
                        <% else %>
                          <td class="col-pdf no-warp"><%= "F" %></td>
                        <% end %> 
                          
                        <% if !@student_position_first_term_batch.blank? && !@student_position_first_term_batch[std_result['id'].to_i].blank? %>
                          <td class="col-pdf no-warp center-class"><%= @student_position_first_term_batch[std_result['id'].to_i] %></td>
                        <% else %>
                          <td class="col-pdf no-warp" colspan="2">
                          <%
                          iloop = 0
                          unless std_result['subject_failed'].blank?
                            std_result['subject_failed'].each do |sub_failed|
                              iloop = iloop+1
                              if iloop > 1
                                %>, <%
                              end 
                              %><%= sub_failed %><%
                            end 
                            
                          end  
                        
                          %>
                          </td>
                         
                        <% end %> 
                         <% if !@student_position_first_term.blank? && !@student_position_first_term[std_result['id'].to_i].blank? %>
                            <td class="col-pdf no-warp center-class"><%= @student_position_first_term[std_result['id'].to_i] %></td>
                          <% end %>
                      </tr>

                
                    <% end %>

              </table>     
            <% end %>
        </center>
    </div>
</div>

<style>
    .baf_shaheen table#pdf-table tr.table-header td
    {
        text-align: left !important;
    }
    .baf_shaheen table#pdf-table tr.table-header td.center-class
    {
        text-align: center !important;
    }
    .baf_shaheen table#pdf-table tr.table-header td p
    {
        padding:0 !important;
        margin:0 !important;
        margin-top:4px !important;
        margin-bottom:4px !important;
    }
    .no-warp 
    {
        white-space: nowrap !important;
    }
    .baf_shaheen table#pdf-table tr.page-break
    {
        height: 100px !important;
    }
</style>    
