<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div style="clear: both;"></div>
<div class="CSSTableGenerator">
<%if @error%>
    <div class="errorExplanation">
        <ul>
          <li id="ert">
            <%=t('basestart_date_is_lower_than_end_date')%>
          </li>
        </ul>
      </div>

<%else%>
<div class="heading themed_text" style="margin:10px 0;"><%= "Total Leaves" %>: <%= @student_attendances.length.to_s %></div>
  <table id="listing  table-design" align="center" width="100%" cellpadding="1" cellspacing="1">
    <thead>
      <tr class="tr-head">
        <th>
          <%= "Leave Date" %>
        </th>
        <th>
          <%= t('reason') %>
        </th>
      </tr>
    </thead>
  <% if @student_attendances == [] %>
    <tr class="tr-<%=cycle('odd', 'even')%>">
      <td colspan="3"><%= t('no_leaves_taken') %></td>
    </tr>
  <% else %>
    <% @student_attendances.each do |leave| %>
    <tr class="tr-<%=cycle('odd', 'even')%>">
        <td class="col-2"><%= I18n.l(leave.month_date,:format=>:default) %></td>
        <td class="col-2"><%= leave.reason %></td>
    </tr>
    <%end%>
  <% end %>
</table>
<% end %>

</div>  

<style>
  .CSSTableGenerator table td a
  {
        background: none;
        color: #000;
        cursor: pointer;
        float: left;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        padding: 0px;
  }
  .CSSTableGenerator table td a:hover
  {
      background: none;
      color: #000;
      text-decoration: underline;
  }
  
</style>  
