<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="page-yield" class="bg-disable">

  <div class="header-wrapper">
    <div class="header-title">
      <div class="header-icon">
        <%= image_tag '/images/icons/leave-management.png', :html => {:alt => 'leave_management'} %>
      </div>
      <div class="header-title-text-wrapper">
        <div class="header-title-main-text f2">
          <%=t('leave')%>
        </div>
        <div class="clearfix"></div>
        <div class="header-title-sub-text f2">
          <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
      <ul class="header-tabs">
        <li class="active">
          <%= link_to "#{t('apply')}", {:controller => 'student_attendance', :action => 'leaves', :id => @student.id},{:class => 'f2'} %>
        </li>

        <li>
          <%= link_to_remote "#{t('my_leaves')}",
            :before => "Element.show('loader2');",
            :success => "Element.hide('loader2');",
            :update => 'data_div',
            :url=>{:action => "individual_leave_applications", :id=>@student.id},
            :html => {:class => 'f2'}
        %>
        </li>
        <li>
          <%= link_to_remote "#{t('leave_history')}",
            :before => "Element.show('loader2');",
            :success => "Element.hide('loader2');",
            :update => 'data_div',
            :url=>{:action => "leave_history", :id=>@student.id},
            :html => {:class => 'f2'}
        %>
        </li>
      </ul>
    </div>
  </div>

  <div class="loader-image">
    <%= image_tag("loader2.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader2",
      :style =>"display: none;" ) %>
  </div>

  <div class="clearfix"></div>

  <div id="data_div">
    <%= render :partial => "apply_leave" %>

  </div>


</div>

<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'list_table' %>
<%= stylesheet_link_tag 'syllabus/single_syllabus' %>
<%= stylesheet_link_tag 'pagination_and_table' %>
<%= stylesheet_link_tag 'online_exam/new_online_exam' %>

<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<%= load_redactor_script %>

<style type="text/css">
  .header-wrapper .header-title-sub-text {
    letter-spacing: unset;
  }
  .timetable_last a
  {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #CB1119 none repeat scroll 0 0;
    color: #FFFFFF !important;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    padding: 7px 10px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    float: left;
    margin-left:8px;
    text-decoration: none;
    display: block;
  }
  .subcontent-date p
  {
    line-height: 1.8;
    margin: 0px;
    padding: 0;
  }
  div.button-link-report
  {

    background: #C91018;
    color:white;

  }
  div.button-link-report:hover
  {
    background: #383838;
  }
  .full_width {
    width: 100%;
  }
  .redactor_wrapper {
    padding: 0 !important;
    width: 100% !important;
  }
  #submit-button {
    float: right;
    width: auto;
  }
  .pagination {
    margin-bottom: 30px;
    margin-right: 20px;
  }
</style>
