</div>
<div id="page-yield">

    <h4 align="center"><%= "Subject Attendance Report " %>,<%= Time.now.strftime("%Y") %></h4> 
    <hr />
  
    <% unless @report.nil? %>
      <div id="pdf-info">
          <table id="pdf-table" width="100%" cellspacing="0">
              <% c = 'even'  %>
              <tr class="even">
                  <td class="col-pdf"><b><%= "Subject Name" %></b></td>
                  <td class="col-pdf"><b><%= "Code" %></b></td>
                  <td class="col-pdf"><b><%= "Total" %></b></td>
                  <td class="col-pdf"><b><%= "Present" %></b></td>
                  <td class="col-pdf"><b><%= "Absent" %></b></td>
                  <td class="col-pdf"><b><%= "Late" %></b></td>
              </tr>
              <tr class="tr-blank"></tr>
              <% std_count = 0 %>
              <% extender = 0 %>
              <% unless @report.blank? %>
                  <% @report.each do |att| %>
                  <% std_count = std_count+1 %>
                  <% if std_count>40 && extender ==0 %>
                    <% std_count = 0 %>
                    <% extender = 1 %>
                    <tr class="page-break">
                        <td colspan="100">&nbsp;</td>
                    </tr> 
                    <tr class="even">
                          <td class="col-pdf"><b><%= "Subject Name" %></b></td>
                          <td class="col-pdf"><b><%= "Code" %></b></td>
                          <td class="col-pdf"><b><%= "Total" %></b></td>
                          <td class="col-pdf"><b><%= "Present" %></b></td>
                          <td class="col-pdf"><b><%= "Absent" %></b></td>
                          <td class="col-pdf"><b><%= "Late" %></b></td>
                    </tr>
                  <% elsif std_count>40 && extender ==1 %>
                    <% std_count = 0 %>
                    <% extender = 1 %>
                    <tr class="page-break">
                        <td colspan="100">&nbsp;</td>
                    </tr> 
                    <tr class="even">
                         <td class="col-pdf"><b><%= "Subject Name" %></b></td>
                          <td class="col-pdf"><b><%= "Code" %></b></td>
                          <td class="col-pdf"><b><%= "Total" %></b></td>
                          <td class="col-pdf"><b><%= "Present" %></b></td>
                          <td class="col-pdf"><b><%= "Absent" %></b></td>
                          <td class="col-pdf"><b><%= "Late" %></b></td>
                    </tr>
                  <% end %> 


                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf"><%= att['name'] %></td>
                      <td class="col-pdf"><%= att['code'] %></td>
                      <td class="col-pdf"><%= att['total'] %></td>
                      <td class="col-pdf"><%= att['present'] %></td>
                      <td class="col-pdf"><%= att['absent'] %></td>
                      <td class="col-pdf"><%= att['late'] %></td>
                  </tr>
                <% end %>
              <% end %>

          </table>
      </div>
    <% end %>
</div>