    <%if @has_advance_attendance_report  %>
    <h3>Attendance Report</h3>
    <% end %>
    <%if @has_advance_attendance_report  %>
    <div class="box" style="border-radius: 8px; float:left; clear:both; margin:20px 0px; background: #f6f6f6; border: 1px solid #ccc; padding: 20px;">
    <% else %>    
    <div class="box" style="float:left; clear:both; margin: 10px 0px;">
    <% end %>    
        <select id="department_id" name="department_id" onchange="filterEmployeeDatatableByDepartment(this)">
              <option value="" selected="selected">Select a Department</option>
              <% unless @departments.nil? or @departments.blank? %>
                  <% @departments.each do |department| %>
                        <option value="<%= department.id %>"><%= department.name %></option>
                  <% end %>
              <% end %>
          </select>
     
        
      
        
        <select id="category_id"  name="category_id" onchange="filterEmployeeDatatableByCategory(this)">
              <option value="" selected="selected">Select a Category</option>
              <% unless @categories.nil? or @categories.blank? %>
                  <% @categories.each do |category| %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
              <% end %>
          </select>
     
 
    
      
        <select id="position_id" name="position_id" onchange="filterEmployeeDatatableByPosition(this)">
            <option value="" selected="selected">Select a position</option>
            <% unless @positions.nil? or @positions.blank? %>
                <% @positions.each do |position| %>
                      <option value="<%= position.id %>"><%= position.name %></option>
                <% end %>
            <% end %>
        </select>
      
  
 
      
        <select id="grade_id" name="grade_id" onchange="filterEmployeeDatatableByGrade(this)">
            <option value="" selected="selected">Select a Grade</option>
            <% unless @grades.nil? or @grades.blank? %>
                <% @grades.each do |grade| %>
                      <option value="<%= grade.id %>"><%= grade.name %></option>
                <% end %>
            <% end %>
        </select>
    </div>

<div class="box"  style="float:left; clear:both; margin:10px 0px; width: 100%;">
  <table class="mdl-data-table" id="hr_report" cellspacing="0" width="100%" style="float:left; clear:both; margin:10px 0px;">
    <thead>
        <% if @report_for.to_i == 1 %>
          <% if @has_advance_attendance_report %>
          <th width="30%"><%= "Image" %></th>
          <th width="30%"><%= "Employee Info" %></th>
          <th width="25%"><%= "Department" %></th>
          <th width="25%" data-orderable="false"><%= "In Time" %></th>
          <th width="25%" data-orderable="false"><%= "Out Time" %></th>
          <th width="10%" data-orderable="false"><%= "Late" %></th>
          <th width="10%" data-orderable="false"><%= "Absent" %></th>
          <th width="10%" data-orderable="false"><%= "Leave" %></th>
          <% else %>
          <th width="30%"><%= "Image" %></th>
          <th width="30%"><%= "Employee Info" %></th>
          <th width="25%"><%= "Department" %></th>
          <th width="25%" data-orderable="false"><%= "In Time" %></th>
          <th width="25%" data-orderable="false"><%= "Out Time" %></th>
          <th width="20%" data-orderable="false"><%= "Duration" %></th>
          <th width="20%" data-orderable="false"><%= "Late" %></th>
          <% end %>
        <% elsif @report_for.to_i == 2 %>
          <th width="15%"><%= "Image" %></th>
          <th width="20%"><%= "Employee Info" %></th>
          <th width="15%"><%= "Department" %></th>
          <th width="10%" data-orderable="false"><%= "Total Present" %></th>
          <th width="10%" data-orderable="false"><%= "Total Absent" %></th>
          <th width="10%" data-orderable="false"><%= "Total Late" %></th>
          <th width="10%" data-orderable="false"><%= "Total Leave" %></th>
        <% elsif @report_for.to_i == 3 %>
          <th width="15%"><%= "Image" %></th>
          <th width="20%"><%= "Employee Info" %></th>
          <th width="15%"><%= "Department" %></th>
          <th width="10%" data-orderable="false"><%= "Total Present" %></th>
          <th width="10%" data-orderable="false"><%= "Total Absent" %></th>
          <th width="10%" data-orderable="false"><%= "Total Late" %></th>
          <th width="10%" data-orderable="false"><%= "Total Leave" %></th>
        <% end %>
    </thead>
  </table>
  <%if @has_advance_attendance_report  %>
    <% unless @report_for.to_i == 1 %>
      <div class="box" style="border-radius: 8px; text-align: center; float:left; clear:both; margin:20px 0px; background: #f6f6f6; border: 1px solid #ccc; padding: 20px; width: 94%;">
          <button class="submit_button" id="employee_wise_report" onclick='var win = window.open("/employee_attendance/card_attendance_pdf_details?summary=0&report_date_from=<%=@report_from_date%>&report_date_to=<%=@report_to_date%>","_blank"); win.focus();'>► Export Employee Details Report</button>
          <button class="submit_button" id="employee_wise_report" onclick='var win = window.open("/employee_attendance/card_attendance_pdf_details?summary=1&report_date_from=<%=@report_from_date%>&report_date_to=<%=@report_to_date%>","_blank"); win.focus();'>► Export Monthly Report</button>
      </div>
    <% end %>
  <% end %>  
</div>
