<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.material.min.css"/>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.material.min.js"></script>

<div id="content-header">
  <h1><%= "Attendance Report" %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= "Employee" %></div>
<div id="inner-tab-menu">
</div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% form_remote_for :campus_report, :url => {:action=> 'campus_report_show'}, :html=> {:id=>'campus_report_show'} do |s| %>
  <div class="box">
      <div class="label-field-pair" style="float:left; clear:both; width:80%; margin-bottom:5px;margin-left: 17px;">
          <label for="attandence_date"><%= "Report Type" %></label>
          <div class="text-input-bg">
              <%= select :campus_report, :report_type, [["All",1],["Absent",2],["Present",3],["Late",4]] %>
          </div>
      </div>
      <div class="label-field-pair" style="float:left; clear:both; width:80%; margin-bottom:5px;margin-left: 17px;">
       <label for="duedate">Select date</label>
       <div  class="text-input-bg">
         <%= calendar_date_select_tag "campus_report[attandence_date]",@date_today,
           :class=>"text-input-bg" ,:readonly=>true,:popup=>:force%>
       </div>
     </div>
     <%= submit_tag "", :value => "► Proceed", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>  
  </div>
  <% end %>
  <%= hidden_field_tag 'time_zone_date',@date_today, :id=>'time_zone' %>
  <div id="report_content"></div>
    
</div>
<script>
  var jq = jQuery.noConflict();
  var oDataTable;
  function generate_datatable(report_type, report_date)
  {
      
      jq(document).ready(function() {
         if (report_type!=4)
         {
            oDataTable = jq('#hr_report').DataTable( {
                processing: true,
                serverSide: true,
                columnDefs: [
                    {
                        targets: [ 0, 1, 2 ],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ],
                ajax: {
                    url: "/empattendance/campus_report_view",
                    type: 'POST',
                    data: {
                        report_type: report_type, 
                        report_date: report_date,
                        all_record: 1, 
                        employee_department_id: jq("#dept_id").val(),
                        category_id: jq("#cate_id").val(),
                        position_id: jq("#pos_id").val(),
                        grade_id: jq("#grade").val(),
                    }
                },
                columns: [
                    { "data": "employee_image" },
                    { "data": "employee_info" },
                    { "data": "department" },
                    { "data": "in_time", "sClass" : "ofc_time" },
                    { "data": "out_time", "sClass" : "ofc_time" },
                    { "data": "status", "sClass" : "ofc_time" },
                    { "data": "late" }
                ]
            });
        }
        else
        {
          oDataTable = jq('#hr_report').DataTable( {
                processing: true,
                serverSide: true,
                bPaginate: false,
                language: {
                  info:  "Total Number Of Late _END_",
                  infoEmpty: "No Late Found"
                },
                columnDefs: [
                    {
                        targets: [ 0, 1, 2 ],
                        className: 'mdl-data-table__cell--non-numeric'
                    }
                ],
                ajax: {
                    url: "/empattendance/campus_report_view",
                    type: 'POST',
                    data: {
                        report_type: report_type, 
                        report_date: report_date,
                        all_record: 1, 
                        employee_department_id: jq("#dept_id").val(),
                        category_id: jq("#cate_id").val(),
                        position_id: jq("#pos_id").val(),
                        grade_id: jq("#grade").val(),
                    }
                },
                columns: [
                    { "data": "employee_image" },
                    { "data": "employee_info" },
                    { "data": "department" },
                    { "data": "in_time", "sClass" : "ofc_time" },
                    { "data": "out_time", "sClass" : "ofc_time" },
                    { "data": "status", "sClass" : "ofc_time" },
                    { "data": "late" }
                ]
            });
        }  
      });
    
  }
  function add_filter()
{
    if ( jq(".dataTables_filter")[0] )
    {
        jq(".dataTables_filter").addClass("col-sm-6");
        jq(".dataTables_filter").parent("div").parent("div").prepend(jQuery("#department_filter").html());
        jq("#department_filter").remove();
    }
    
    if ( jq("#dept_id").val() != "0" )
    {
        jq("#department_id").val(jq("#dept_id").val()).trigger('change');
    }
    
    if ( jq("#cate_id").val() != "0" )
    {
        jq("#category_id").val(jq("#cate_id").val()).trigger('change');
    }
    
    if ( jq("#pos_id").val() != "0" )
    {
        jq("#position_id").val(jq("#pos_id").val()).trigger('change');
    }
    
    if ( jq("#grade").val() != "0" )
    {
        jq("#grade_id").val(jq("#grade").val()).trigger('change');
    }
}

function filterEmployeeDatatableByDepartment(data)
{
    var value = jq("#department_id").val();
    oDataTable.column( 1 ).search( value ).draw(); 
  
}

function filterEmployeeDatatableByCategory(data)
{
    var value = jq("#category_id").val();
    oDataTable.column( 2 ).search( value ).draw(); 
   
}

function filterEmployeeDatatableByPosition(data)
{
    var value = jq("#position_id").val();
    oDataTable.column( 3 ).search( value ).draw();
   
}

function filterEmployeeDatatableByGrade(data)
{
    var value = jq("#grade_id").val();
    oDataTable.column( 4 ).search( value ).draw();
}
</script>
<style>
  table tr td a
  {
     text-decoration: none;
     cursor: pointer;
     color: black;
  }
  .pagination {
       margin-top: 0px;
    margin-right: -18px;
}
.box select
{
    margin-left: 16px;
    height: 27px;
    width: 200px;
}
body, html
{
    line-height: normal;
    font-family: initial;
}
.calendar_date_select_popup_icon
{
    margin-top: 10px;
    margin-left: 7px;
}
.submit_button
{
  padding: 5px 5px;
  float:left;
  clear:both;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: white !important;
}
.submit_button:hover
{
  background-color: #CCC !important;
}
</style>
