<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('clubs') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('club_edit') %></div>
<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('clubs')}", :controller => "club", :action => "index" %> </li>
  </ul>
</div>
</div>
<div id="page-yield">
  <%= flash[:notice] %>
  <% form_for :event do |f| %>
    <%= error_messages_for 'event' %>
    <div class="label-field-pair" style="display:none;">
      <label for="start-date"><%= t('start_date') %>:</label>
      <div class="text-input-bg"><%= calendar_date_select_tag "event[start_date]", I18n.l(@event.start_date.to_date,:format=>("%d %b %Y %H:%M")), :time => true, :readonly=>true, :popup=>"force"%></div>
    </div>
    <div class="label-field-pair" style="display:none;">
      <label for="end-date"><%= t('end_date') %>:</label>
      <div class="text-input-bg"><%= calendar_date_select_tag "event[end_date]", I18n.l(@event.end_date.to_date,:format=>("%d %b %Y %H:%M")), :time => true , :readonly=>true, :popup=>"force" %></div>
    </div>
    <div class="label-field-pair">
          <label for="event_category"><%= t('category') %></label>
          <div class="text-input-bg"><%= f.select :event_category_id, @event_categories.map {|c| [c.name, c.id]}%></div>
    </div>
    <div class="label-field-pair">
      <label for="title"><%= t('club_title') %>:</label>
      <div class="text-input-bg"><%= f.text_field :title %></div>
    </div>
    <div class="label-field-pair">
      <label for="title"><%= t('club_fees') %>:</label>
      <div class="text-input-bg"><%= f.text_field :fees %></div>
    </div>
    <div class="label-field-pair">
      <label for="description"><%= t('club_description') %>:</label>
    </div>
    <%= f.text_area "description" %>
  
    <%= f.submit "►#{t('update_club')}" %>
  <% end %>
</div>
