<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="box">
  <% form_for :event_category, :url => {:action => 'categories'}, :html => {:class => "new_event_category"} do |f| %>
    <%= error_messages_for 'event_category', :header_message => nil %>
    <div class="label-field-pair">
      <label><%= t('enter_new_category') %> : </label>
      <div class="text-input-bg"><%= f.text_field :name, :value => @event_category.name %>
      </div>
    </div>
  
   <%= f.hidden_field :icon_number %>

    <div id="icons">
      <ul>
        <% @images.each do |im| %>
          <% im_name = im.split('/').last %>
          <li><%= image_tag "/images/icons/events/#{im_name}", :class => 'custom_icon', :id => "#{im_name}" %></li>
        <% end %>
      </ul>
    </div>
    <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :disable_with => "► #{t('please_wait')}" %>

  <% end %>
</div>

<style type="text/css">
  #grading-levels-form{
    float: left;
    width: 450px;
  }
  #icons{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    float: right;
    height: 270px;
    margin-right: 10px;
    margin-top: 30px;
    overflow: auto;
    width: 390px;
  }
  #icons ul{
    padding-left: 12px;
  }
  #icons ul li{
    cursor: pointer;
    display: inline;
  }
  .custom_icon{
    border: 1px solid #ccc;
    height: 60px;
    padding: 3px;
    width: 60px;
  }

</style>
