<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <% unless @sms_logs.blank? %>
      <tr class="tr-head">
          <td>Mobile No</td>
          <td><%= t('sms_messages') %></td>
          <td>Gateway Response</td>
          <td>Date</td>
      </tr>
      <% @sms_logs.each do |sms| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-4"><%= sms.mobile %></td>
            <td class="col-4"><%= sms.sms_message.blank? ? 'No-Message' : CGI.unescape(sms.sms_message.body) %></td>
            <td class="col-4"><%= sms.gateway_response %></td>
            <td class="col-7"><%= SmsMessage.default_time_zone_present_time(sms.created_at).strftime("%A, %d. %B %Y, %H:%M") %></td>
        </tr>
      <% end %>
    <% else %>
        <tr>
            <td colspan="4" style="text-align: center;">
                <h2>No Record Found</h2>
            </td>
        </tr>
    <% end %>
</table>
