<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('sms_text') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('messages') %></div>

</div>
<div id="page-yield">
    <div class="box">
        <% form_remote_for :sms_log, :url=>{:action=>"filter_sms_logs"}  do |form| %>
          <table style="padding:10px; background: #ddd; width:100%;">
              <tr>
                  <th colspan="4" style="text-align:right; padding: 5px;">
                      <%= t('total_sms_sent') %> : <%= @total_sms %> <%= @mobile %>
                  </th>
              </tr>
              <tr>
                  <td>
                      <%= form.text_field :mobile, :class=>"form-control", :placeholder => "Enter Mobile Number" %>
                  </td>
                  <td>
                      <div class="form-control-date">
                          <%= calendar_date_select_tag :start_date, I18n.l(Date.today,:format=>"%d %b %Y"),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>   
                      </div>
                  </td>
                  <td>
                      <div class="form-control-date">
                          <%= calendar_date_select_tag :end_date, I18n.l(Date.today,:format=>"%d %b %Y"),:year_range => 15.years.ago..0.years.from_now,:popup=>"force" %>
                      </div>
                  </td>
                  <td>
                      <%= form.submit "Filter", :id => "filter-button" %>
                  </td>
              </tr>
          </table>
        <% end %>
    </div>
    <div class="box" id="sms-log-box">
        <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <tr class="tr-head">
                <td>Mobile No</td>
                <td><%= t('sms_messages') %></td>
                <td>Gateway Response</td>
                <td>Date</td>
            </tr>
            <% @sms_logs.each do |sms| %>
              <tr class="tr-<%= cycle('odd', 'even') %>">
                  <td class="col-4"><%= sms.mobile %></td>
                  <td class="col-4"><%= sms.sms_message.blank? ? 'No-Message' : CGI.unescape(sms.sms_message.body) %></td>
                  <td class="col-4"><%= sms.gateway_response %></td>
                  <td class="col-7"><%= SmsMessage.default_time_zone_present_time(sms.created_at).strftime("%A, %d. %B %Y, %H:%M") %></td>
              </tr>
            <% end %>
        </table>
        <%= will_paginate @sms_logs %>
    </div>
</div>
<style>
    .form-control {
        display: block;
        width: 90%;
        padding: 10px 10px;
        font-size: 12px;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .form-control-date {
        width: 90%;
        font-size: 12px;
        line-height: 1.5;
        padding: 8px;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    #filter-button{
        background: #49BB4B;
        color:#fff;
        font-weight:bold;
        cursor:pointer;
        padding:5px; 
        display: block;
        width: 100%;
        padding: 10px 10px;
        font-size: 12px;
        line-height: 1.5;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>