    <% if @grading_levels.blank? %>
      <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
      <% if @grading_levels.blank? %>
        <% @grading_levels = GradingLevel.default %>
      <% end %>
    <% end %>
    <%  unless @grading_levels.empty? %>
      <table id="pdf-table" class="grade_info_table" width="100%" cellspacing="0">
          <tr class="even header-shade">
              <td>Letter Grade</td>
              <td>Marks</td> 
              <td>Grade Point</td> 
          </tr> 
          <% prev_score = 0 %>
          <% @grading_levels.each_with_index do |grade,index| %>
             <tr class="even">
            
            <td><%= grade.name %></td>
            <td class="no-warp">
                <% if grade.max_score.nil? %> 
                  <% if grade.min_score.to_i == 0 %>
                    <&nbsp;<%= '%i%' % prev_score %>
                  <% else %>
                      <%= '%i%' % grade.min_score %> 
                  <% end %>
                <% else %> 
                  <%= grade.min_score.to_s + " - " + grade.max_score.to_s %>
                <% end %>
                <%  prev_score = grade.min_score %>
            </td>
            <td><%= grade.credit_points %></td>
              </tr> 
          <% end %> 

      </table>

    <% end %> 

<style>
  div.baf_shaheen div.grade_information table.grade_info_table tr.even td
  {
     font-weight: normal !important;
     padding: 2px 10px !important; 
  }
</style>

