<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  
      <%
      if @student_list_first_term.blank?
        @subject_highest_1st_term = @subject_highest_2nd_term
        @student_position_first_term = @student_position_second_term
        @student_position_first_term_batch = @student_position_second_term_batch
        end
      
      pos = 0
      section_pos = 0
      
      outof_pos = 0
      outof_section_pos = 0
      exam_connect_merit_lists = ExamConnectMeritList.find(:first, :conditions=>{:connect_exam_id=>@connect_exam_obj.id,:student_id=>@student.id,:batch_id=>@student.batch_id})
      unless exam_connect_merit_lists.nil?
        pos = exam_connect_merit_lists.position
        section_pos = exam_connect_merit_lists.section_position
        
        group_course_ids = Course.find(:all, :conditions => "course_name = '#{@batch.course.course_name}' and `group` = '#{@batch.course.group}' and is_deleted = 0").map(&:id)
        group_batch_ids = Batch.find(:all, :conditions => "course_id IN (#{group_course_ids.join(",")}) and is_deleted = 0").map(&:id)
        outof_pos = Student.count(:all, :conditions => "batch_id = #{@student.batch_id}")
        outof_section_pos = Student.count(:all, :conditions => "batch_id IN (#{group_batch_ids.join(",")}) and is_deleted = 0")
        
        exam_connect_merit_lists.destroy
      end
      
      exam_connect_merit_lists = ExamConnectMeritList.new 
      exam_connect_merit_lists.connect_exam_id = @connect_exam_obj.id
      exam_connect_merit_lists.student_id = @student.id
      exam_connect_merit_lists.student_admission_no = @student.admission_no
      exam_connect_merit_lists.student_roll_no = @student.class_roll_no
      exam_connect_merit_lists.student_name = @student.full_name
      exam_connect_merit_lists.batch_id = @student.batch_id
      exam_connect_merit_lists.subject_failed = ""
      
      exam_connect_merit_lists.outof_pos = outof_pos
      exam_connect_merit_lists.outof_section_pos = outof_section_pos

    %> 
      <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/sagc/header" %>
      <h2 align="center" class="font-24"><%= @connect_exam_obj.name %> <%= @batch.course.session %></h2>


      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td>
              <td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td>
              <td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td>
              <td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td>
              <td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Session </td>
              <td class="align-left"><%= @batch.course.session %></td>
              <td class="align-right col-pdf" width="20%" >Version </td>
              <td class="align-left"><%= batch_split[1] %></td> 
          </tr>
          <tr class="even">
              <% group_split = @batch.course.group.split(" ") %>
              <% unless group_split[2].blank? %>
                <% group_split[0] = group_split[0]+" "+group_split[1] %>
              <% end %>
              <% 
                if !@batch.course.group.blank? && !@batch.course.group.index("--").nil? 
                  group_split[0] = ""
                end 
              %>
              
              <td class="align-right col-pdf" width="20%">Group </td>
              <td class="align-left"><%= group_split[0] %></td>
              <td class="align-right col-pdf" width="20%" >Category </td>
              <td class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>


      <%
      has_sb = false
      has_ob = false
      has_pr = false

    %>
      <div class="grade_information">
          <%= render  :partial=>"/connect_exam/sagc/gradding_level" %>

      </div>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <table id="pdf-table" class="top-left-center" width="80%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <% extra_subject = 0 %>

                  <tr class="even header-shade">
                      <td class="col-pdf" rowspan="2">
                          <b>Sl.</b>
                      </td>
                      <td class="col-pdf no-warp  align-left-baf" rowspan="2"><b><%= "Subjects" %></b></td>
                      <td class="col-pdf" rowspan="2">
                          <b>Full Marks</b>
                      </td>
                      <% colspan = 0 %>
                      <% @report_data['report']['exams'].each do |report| %>
                        <% if report['exam_category'] == '1' or report['exam_category'] == '2' %>
                          <td rowspan="2"><b><%= report['exam_name'] %></b></td>
                          <% extra_subject = extra_subject+1 %>
                        <% else %>
                          <% if report['exam_category'] == '3' %>
                            <% has_sb = true %>
                          <% end %>
                          <% if report['exam_category'] == '4' %>
                            <% has_ob = true %>
                          <% end %>
                          <% if report['exam_category'] == '5' %>
                            <% has_pr = true %>
                          <% end %>
                          <% colspan = colspan+1 %>
                        <% end %>  
                      <% end %>
                      <% colspan = colspan+2 %>
                      <td class="col-pdf" colspan="<%= colspan %>" rowspan="1"><b>Examination</b></td>
                      <td class="col-pdf" rowspan="2"><b>Total Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Highest Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td>

                  </tr>
                  <tr class="even header-shade">
                      <% if has_ob == true %>
                        <td rowspan="1"><b>MCQ</b></td>
                      <% end %> 
                      <% if has_sb == true %>
                        <td rowspan="1"><b>CQ</b></td>
                      <% end %> 
                      <% if has_pr == true %>
                        <td rowspan="1"><b>PR</b></td>
                      <% end %>
                      <td rowspan="1"><b>Total</b></td>
                      <td rowspan="1"><b>Avg</b></td>
                  </tr>

                  <% total_grade = 0 %>
                  <% total_subject = 0 %>
                  <% total_subject_main = 0 %>
                  <% grand_total = 0 %>
                  <% grand_total_fraction = 0 %>
                  <% grade_point_avg = 0 %>
                  <% failed = false %>
                  <% already_done = false %>
                  <% subject_passed = {} %>
                  <% subject_failed = {} %>
                  <% absent = false %>
                  <% subject_appeard = {} %>
                  <% subject_absent = {} %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <% failed_subject = false %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <%
                          third_subject = ""
                          fourth_subject = ""
                        %>
                          <% if !@std_subject_hash_type.blank? %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                              <% fourth_subject = "(4th)" %>
                            <% end %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||3") %>
                              <% third_subject = "(3rd)" %>
                            <% end %>
                          <% end %>
                          <% if fourth_subject.blank? %>
                            <% total_subject = total_subject+1 %>
                          <% end %>
                          <% total_subject_main = total_subject_main+1 %>
                          <td class="col-pdf"><%= total_subject_main %></td>

                          <% class_test_full_mark = 0 %>
                          <% class_test_ab = true %>
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name'] %><%= fourth_subject %><%= third_subject %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? and report['exam_category'] != '1' %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %> 
                              <% if report['exam_category'] == '1' %>
                                
                                <% class_test_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %>
                            <% end %>
                          <% end %>


                          <% 
                          if full_mark > 0
                            full_mark = full_mark+20
                          end  
                          highest_mark = 0
                          if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects['id'].to_i].blank?
                            highest_mark = @subject_highest_1st_term[subjects['id'].to_i].to_f
                          end

                        %>

                          <% if full_mark.to_f > 0 %>
                            <% full_mark_all = 50 %>
                            <% if full_mark.to_f >= 100 %>
                              <% full_mark_all = 100 %>
                              <td class="col-pdf">100</td>
                            <% else %>    
                              <td class="col-pdf">50</td>
                            <% end %>
                            <% class_test_mark = 0 %>
                            <% at_mark = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %>   
                                <% if report['exam_category'] == '1' or report['exam_category'] == '2' %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                    <% if report['exam_category'] == '1' %>
                                      <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s != "AB" %>
                                        <% class_test_ab = false %>
                                      <% end %>
                                      <%  class_test_mark = class_test_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% else %>
                                      <%  at_mark = at_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% end %>

                                  <% else %>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>




                            <% if class_test_full_mark > 0 %>
                              <% class_test_mark = (class_test_mark.to_f/class_test_full_mark.to_f)*20 %>  
                              <% class_test_mark = class_test_mark.round()  %>
                            <% end %>  

                            <% if at_mark > 0 %>
                              <td class="col-pdf"><%= at_mark.to_i %></td>
                            <% else %>
                              <td class="col-pdf"><%= "0" %></td>
                            <% end %>      
                            <% if class_test_mark > 0 %>
                              <td class="col-pdf"><%= class_test_mark.to_i %></td>
                            <% elsif class_test_ab == true %> 
                              <% absent = true %> 
                              <td class="col-pdf"><%= "AB" %></td>
                            <% else %>
                              <td class="col-pdf"><%= "0" %></td>
                            <% end %>      

                            <% main_exam_mark = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %>   
                                <% if report['exam_category'] != '1' and report['exam_category'] != '2' %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                    <%  main_exam_mark = main_exam_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s == "AB" %>
                                      <% absent = true %>
                                      <td class="col-pdf">AB</td>
                                    <% else %>
                                      <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                    <% end %>
                                    <% if report['result'][report['exam_id']][subjects['id']]['grade'] == "F" && fourth_subject.blank? && (report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i != 25 or report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i != 8) %>
                                      <% failed = true %>
                                      <% failed_subject = true %>
                                    <% end %>
                                  <% else %>
                                    <td class="col-pdf">-</td>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                            <td class="col-pdf no-warp">
                                <%= main_exam_mark.to_f.round.to_i %>
                            </td>
                            <% avg_mark = main_exam_mark.to_f %>
                            <% if full_mark.to_f > 100 %>
                              <% avg_mark = main_exam_mark.to_f*0.75 %>
                            <% end %>

                            <td class="col-pdf no-warp">
                                <%= sprintf( "%0.02f", avg_mark)%>
                            </td>
                            <% tota_mark_with_monthly = avg_mark+class_test_mark+at_mark %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <%
                            main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                          %>
                            <% grand_total_fraction = grand_total_fraction+tota_mark_with_monthly.to_f %>
                            <% grand_total = grand_total+tota_mark_with_monthly.to_f.round.to_i %>
                            <td class="col-pdf no-warp">
                                <%= highest_mark.to_f.round.to_i %>
                            </td>


                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                <% failed = true %>
                                <% failed_subject = true %>
                              <% end %>
                              <% if  failed_subject == true %>
                                <% grade.credit_points = 0.0 %>
                                <% grade.name = "F" %>
                              <% end %>
                              
                              <% if  failed_subject == true %>
                              <% if subject_failed[subjects['code']].blank? %>
                                <% subject_failed[subjects['code']] = 1 %>
                              <% else %>
                                <% subject_failed[subjects['code']] = subject_failed[subjects['code']] + 1 %>
                              <% end %>
                              <% if absent %>
                                <% if subject_absent[subjects['code']].blank? %>
                                  <% subject_absent[subjects['code']] = 1 %>
                                <% else %>
                                  <% subject_absent[subjects['code']] = subject_absent[subjects['code']] + 1 %>
                                <% end %>
                              <% else %>
                                <% if subject_appeard[subjects['code']].blank? %>
                                  <% subject_appeard[subjects['code']] = 1 %>
                                <% else %>
                                  <% subject_appeard[subjects['code']] = subject_appeard[subjects['code']] + 1 %>
                                <% end %>
                              <% end %>
                              <%
                              exam_connect_merit_lists.subject_failed = exam_connect_merit_lists.subject_failed + subjects['code'].to_s + " - " + tota_mark_with_monthly.to_f.round.to_s + ","
                              %>
                              <% else %>
                              <% if subject_passed[subjects['code']].blank? %>
                                <% subject_passed[subjects['code']] = 1 %>
                              <% else %>
                                <% subject_passed[subjects['code']] = subject_passed[subjects['code']] + 1 %>
                              <% end %>
                              <% end %>
                        
                              <% if fourth_subject.blank? %>
                                <% total_grade = total_grade.to_f+grade.credit_points.to_f %>
                              <% else %>
                                <% new_grade_point = grade.credit_points.to_f - 2.0 %>
                                <% if new_grade_point > 0 %>
                                  <% total_grade = total_grade.to_f+new_grade_point.to_f %>
                                <% end %>  
                              <% end %>
                              <td class="col-pdf"><%= grade.name %>

                              </td>
                              <td class="col-pdf"><%= grade.credit_points %></td>

                            <% else %>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                            <% end %>

                          <% else  %>
                            <td class="col-pdf" colspan="100">-</td>
                          <% end %>      

                      </tr> 

                    <% end %>  
                  <% end %>

                  <% if total_grade > 0 && total_subject > 0 %>
                    <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                    <% if grade_point_avg > 5 %>
                      
                      <% grade_point_avg = 5.00 %>
                    <% end %>  
                  <% end %>  
                  <tr class="even">
                      <% colspan = colspan+3+extra_subject %>
                      <td class="col-pdf align-left-baf" colspan="<%= colspan %>"><b>Total Marks & Total GP</b></td>
                      <td class="col-pdf no-warp align-left-baf" colspan="3">&nbsp;&nbsp;&nbsp;<b><%= grand_total %></b></td>
                      <td class="col-pdf"><b><%= total_grade %></b></td>
                      <%
                        exam_connect_merit_lists.marks = grand_total
                        exam_connect_merit_lists.gp = total_grade
                      %>
                  </tr>    

                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i != 1 %>
                        <% next %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <% total_subject = total_subject+1 %>
                          <td class="col-pdf"><%= total_subject %></td>
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   

                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %> 
                            <% end %>
                          <% end %>


                          <% 
                          highest_mark = 0
                          if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects['id'].to_i].blank?
                            highest_mark = @subject_highest_1st_term[subjects['id'].to_i].to_f
                            end

                        %>

                          <% if full_mark.to_f > 0 %>
                            <% full_mark_all = 50 %>
                            <% if full_mark.to_f >= 100 %>
                              <% full_mark_all = 100 %>
                              <td class="col-pdf">100</td>
                            <% else %>    
                              <td class="col-pdf">50</td>
                            <% end %> 
                            <% class_test_mark = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %>   
                                <% if report['exam_category'] == '1' or report['exam_category'] == '2' %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                    <%  class_test_mark = class_test_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                  <% else %>
                                    <td class="col-pdf">-</td>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>

                            <% main_exam_mark = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %>   
                                <% if report['exam_category'] != '1' and report['exam_category'] != '2' %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                    <%  main_exam_mark = main_exam_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                  <% else %>
                                    <td class="col-pdf">-</td>
                                  <% end %>
                                <% end %>
                              <% end %>
                            <% end %>
                            <td class="col-pdf no-warp">
                                <%= main_exam_mark.to_f.round.to_i %>
                            </td>   
                            <% avg_mark = main_exam_mark.to_f*0.9 %>

                            <td class="col-pdf no-warp">
                                <%= sprintf( "%0.02f", avg_mark)%>
                            </td>
                            <% tota_mark_with_monthly = avg_mark+class_test_mark %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <%
                            main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                          %>
                            <td class="col-pdf no-warp">
                                <%= highest_mark.to_f.round.to_i %>
                            </td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 %>
                                <% failed = true %>
                              <% end %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                            <% else %>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                            <% end %>
                          <% else  %>
                            <td class="col-pdf" colspan="100">-</td>
                          <% end %>      

                      </tr> 
                    <% end %>  
                  <% end %>


              </table>



              <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
              <% grade_point_avg = grade_point_avg.to_f/100 %>
              <table id="pdf-table" class="evaluation table_99 top-left-center" width="99.8%" cellspacing="0">
                  <tr class="odd">
                      <td class="align-left no-warp"><b>Grade Point Avg</b></td>
                      <td><b>
                              <% if failed == true %>
                                0.00
                                <%
                                  exam_connect_merit_lists.gpa = 0
                                %>
                              <% else %>
                                <%= sprintf( "%0.02f", grade_point_avg) %>
                                <%
                                  exam_connect_merit_lists.gpa = grade_point_avg
                                %>
                              <% end %></b>
                      </td>
                      <td class="align-left no-warp" colspan="2"><b>Position in Merit List</b></td>
                      <td class="align-left no-warp" colspan="2"><b>Attendance</b></td>
                  </tr> 
                  <tr class="odd">
                      <%

                      grade = GradingLevel.grade_point_to_grade(grade_point_avg, @batch.id)
                    %>
                      <td class="align-left no-warp">Letter Grade</td>
                      <td >
                          <b>
                              <% if failed == true %>
                                F
                                <%
                                  exam_connect_merit_lists.lg = "F"
                                %>
                              <% else %>
                                <% if !grade.blank? and !grade.name.blank? %>
                                  <%= grade.name %>
                                  <%
                                    exam_connect_merit_lists.lg = grade.name
                                  %>
                                <% else %>
                                  -
                                <% end %>
                              <% end %>
                          </b>
                      </td>
                      <td class="align-left no-warp">Section</td>
                      <td class="no-warp">
                          <% if failed == true %>
                            -
                            <% exam_connect_merit_lists.position = 0 %>
                          <% else %>
                            <% if pos.to_i > 0 %> 
                              <%= pos %> out of <%= @total_std_batch %>
                              <%
                                exam_connect_merit_lists.position = pos
                              %>  
                            <% else %>
                              -
                              <%
                                exam_connect_merit_lists.position = 0
                              %>  
                            <% end %> 
                          <% end %> 
                      </td>
                      <td class="col-pdf align-left">
                          Working Days
                      </td> 
                      <td class="col-pdf align-center">
                          &nbsp;
                      </td>
                  </tr>
                  <tr class="odd">

                      <td class="align-left no-warp">Total Marks With Fraction</td>
                      <td class="align-left no-warp"><b><%= sprintf( "%0.02f", grand_total_fraction)%></b></td>
                      <%
                        exam_connect_merit_lists.marks = grand_total_fraction
                      %>  
                      <td class="align-left no-warp">Class/Group</td>
                      <td class="no-warp">
                          <% if failed == true %>
                            -
                            <%
                              exam_connect_merit_lists.section_position = 0
                            %>
                          <% else %>
                            <% if section_pos.to_i > 0 %> 
                              <b><%= section_pos %> out of <%= @total_std %></b>
                              <%
                                exam_connect_merit_lists.section_position = section_pos
                              %>  
                            <% else %>
                              -
                              <%
                                #exam_connect_merit_lists.section_position = 0
                              %>
                            <% end %> 
                          <% end %>
                      </td> 
                      <td class="col-pdf align-left">
                          Attendance
                      </td> 
                      <td class="col-pdf align-center" >
                          &nbsp;
                      </td>
                  </tr>
                  
                  <% subject_pass_failed = "" %>  
                  <% unless subject_passed.blank? %>
                    <% subject_passed.each do |key, val| %>
                      subject_pass_failed = subject_pass_failed + "pass-" + key + "-" + val + ","
                    <% end %>
                  <% end %>
                  <% unless subject_failed.blank? %>
                    <% subject_failed.each do |key, val| %>
                      subject_pass_failed = subject_pass_failed + "fail-" + key + "-" + val + ","
                    <% end %>
                  <% end %>
                  <% unless subject_appeard.blank? %>
                    <% subject_appeard.each do |key, val| %>
                      subject_pass_failed = subject_pass_failed + "appear-" + key + "-" + val + ","
                    <% end %>
                  <% end %>
                  <% unless subject_absent.blank? %>
                    <% subject_absent.each do |key, val| %>
                      subject_pass_failed = subject_pass_failed + "absent-" + key + "-" + val + ","
                    <% end %>
                  <% end %>
                  
                  <%
                    exam_connect_merit_lists.subject_pass_failed = subject_pass_failed
                    exam_connect_merit_lists.save
                  %>  
                  

              </table>
              
              <table id="pdf-table" class="evaluation table_99 top-left-center"  width="99.8%" >
                  <tr class="even remarks-tr">
                      <td>

                          <b>Remarks : </b> <% if !@exam_comment.blank? %><%= @exam_comment.comments %><% else %>
                            <% if failed == true %>
                              Failed
                            <% else %>
                              <% if !grade.blank? and !grade.name.blank? %>
                                <%= grade.description %>
                              <% else %>

                              <% end %>
                            <% end %>
                          <% end %>

                      </td>
                  </tr>
              </table>

              <div class='fine'></div>
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

                  <tr class="even border-bottom-1-px">
                      <td class="col-pdf " width="25%">
                          <br/><br/><br/>
                      </td> 
                      <td class="col-pdf" width="25%">
                          <br/><br/><br/>
                      </td>
                      <td class="col-pdf" width="25%">
                          <% if @batch.course.course_name == "Eleven" or @batch.course.course_name == "Twelve" %>
                            <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/college_vp_signature.png")), :width=>"60%" %>
                          <% else %>
                            <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/"+batch_split[0].downcase+".png")), :width=>"60%" %>
                          <% end %>
                      </td> 
                      <td class="col-pdf " width="25%">
                          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/principal-sir-signature-2019.jpg")), :width=>"60%" %>
                      </td>
                  </tr>
                  <tr class="even">

                      <td class="col-pdf" width="25%">
                          Class Teacher
                      </td>
                      <td class="col-pdf " width="25%">
                          Parents/Guardian
                      </td>
                      <td class="col-pdf " width="25%">
                          Vice-Principal
                      </td>
                      <td class="col-pdf" width="25%">
                          Principal
                      </td> 

                  </tr>

              </table> 

          </div>
      </div>



  </div>

<% end %>

