<% unless @report_data.blank?  or  @report_data['report'].blank? %>
 <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/sagc/header" %>
      <h2 align="center" class="font-24"><%= @connect_exam_obj.name %> - <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></h2>
      
     
      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td><td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td><td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td><td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td><td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Session </td>
              <td class="align-left"><%= @batch.course.session %></td>
              <td class="align-right col-pdf" width="20%" >Version </td><td class="align-left"><%= batch_split[1] %></td> 
          </tr>
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Category</td><td colspan="3" class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>
      
      
     <%
        has_sb = false
        has_ob = false
        has_pr = false

      %>
      <div class="grade_information">
        <%= render  :partial=>"/connect_exam/sagc/gradding_level" %>
        
      </div>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <table id="pdf-table" class="top-left-center" width="80%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                 
                  <tr class="even header-shade">
                      <td class="col-pdf" rowspan="2">
                          <b>Sl.</b>
                      </td>
                      <td class="col-pdf no-warp  align-left-baf" rowspan="2"><b><%= "Subjects" %></b></td>
                      <td class="col-pdf" rowspan="2">
                        <b>Full Marks</b>
                      </td>
                      <% @report_data['report']['exams'].each do |report| %>
                          <% if report['exam_category'].to_i < 3 or report['exam_category'].to_i > 4 %>
                            <td class="col-pdf" rowspan="2">
                              <b><%= report['exam_name'] %></b>
                            </td>
                          <% end %>
                      <% end %>
                      <% colspan = 0 %>
                      <% @report_data['report']['exams'].each do |report| %>
                          <% if report['exam_category'] == '3' %>
                            <% has_sb = true %>
                            <% colspan = colspan+1 %> 
                          <% end %>
                          <% if report['exam_category'] == '4' %>
                            <% has_ob = true %>
                            <% colspan = colspan+1 %> 
                          <% end %>
                      <% end %>
                      <% colspan = colspan+1 %> 
                      <td class="col-pdf" colspan="<%= colspan %>" rowspan="1"><b>Examination</b></td>
                      <td class="col-pdf" rowspan="2"><b>Total Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Highest Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td>
                      
                  </tr>
                  <tr class="even header-shade">
                      <% if has_ob == true %>
                            <td rowspan="1"><b>OB</b></td>
                      <% end %> 
                      <% if has_sb == true %>
                            <td rowspan="1"><b>SB</b></td>
                      <% end %> 
                      <td rowspan="1"><b>Total</b></td>
                  </tr>

                  <% total_grade = 0 %>
                  <% total_subject = 0 %>
                  <% total_subject_main = 0 %>
                  <% grand_total = 0 %>
                  <% grand_total_fraction = 0 %>
                  <% grade_point_avg = 0 %>
                  <% failed = false %>
                  <% already_done = false %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <% failed_subject = false %>
                      <% sb_failed_subject = false %>
                      <% ob_failed_subject = false %>
                      <%
                        total_sb = 0
                        total_ob = 0
                        total_pr = 0
                    
                        full_sb = 0
                        full_ob = 0
                        full_pr = 0
                      %> 
                      <% if already_done %>
                          <%
                            already_done = false
                            next
                          %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <%
                            third_subject = "";
                            fourth_subject = "";
                          %>
                          <% if !@std_subject_hash_type.blank? %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                              <% fourth_subject = "(4th)" %>
                            <% end %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||3") %>
                              <% third_subject = "(3rd)" %>
                            <% end %>
                          <% end %>
                          <% if fourth_subject.blank? %>
                            <% total_subject = total_subject+1 %>
                          <% end %>
                          <% total_subject_main = total_subject_main+1 %>
                          <td class="col-pdf"><%= total_subject_main %></td>
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name'] %><%= fourth_subject %><%= third_subject %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>     
                                <% if report['exam_category'] == '3' %>
                                  <% full_sb = full_sb+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                <% end %>
                                <% if report['exam_category'] == '4' %>
                                  <% full_ob = full_ob+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                <% end %>
                              <% end %> 
                            <% end %>
                          <% end %>

                          <% 
                            highest_mark = 0
                            if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                              highest_mark = @subject_highest[subjects['id'].to_i].to_f
                            end
                          
                          %>
                          <% divider = 3 %>
                          <% full_mark = 100 %>
                          <% if full_mark.to_f > 0 %>
                             <td class="col-pdf">100</td>
                            
                            <% main_exam_mark = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %> 
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                    <%  main_exam_mark = main_exam_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% if report['exam_category'] == '3' %>
                                      <% total_sb = total_sb+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% end %>
                                    <% if report['exam_category'] == '4' %>
                                      <% total_ob = total_ob+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% end %>
                                    <td class="col-pdf">
                                     <% if @student.admission_no.to_s == '14655' and ! ['28927','28911'].include?(report['exam_id'].to_s) %>
                                     <%= 'AB'  %>
                                     <% else %>
                                     <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                     <% end %>
                                   </td>
                                  <% else %>
                                      <% if @student.admission_no.to_s == '14655' %>
                       <td class="col-pdf"><%= 'AB' %></td>
                                     <% else %>
                                     <td class="col-pdf">-</td>
                                     <% end %>
                                  <% end %>
                              <% end %>
                            <% end %>
                            <% total_all = total_ob+total_sb %>
                            <td class="col-pdf no-warp"><%= total_all %></td>
                            
                            

                            <% tota_mark_with_monthly = main_exam_mark %>
                            <% grand_total = grand_total+tota_mark_with_monthly%>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <%
                              main_mark = tota_mark_with_monthly
                            %>
                            
                            <td class="col-pdf no-warp">
                               <%= highest_mark.to_f.round.to_i %>
                            </td>
                            <%
                            if full_sb.to_i > 0
                              if full_sb.to_i == 50 && total_sb.to_i <23
                                if fourth_subject.blank?
                                  failed = true
                                  failed_subject = true
                                  sb_failed_subject = true
                                else
                                  failed_subject = true
                                  sb_failed_subject = true
                                end
                              end
                              if full_sb.to_i == 35 && total_sb.to_i <16
                                if fourth_subject.blank?
                                  failed = true
                                  failed_subject = true
                                  sb_failed_subject = true
                                else
                                  failed_subject = true
                                  sb_failed_subject = true
                                end
                              end
                            end
                            
                            # if full_ob.to_i == 16 && total_ob.to_i <7
     
                            if full_ob.to_i > 0
                              if total_ob.to_i <7
                                if fourth_subject.blank?
                                  failed = true
                                  failed_subject = true
                                  ob_failed_subject = true
                                else
                                  failed_subject = true
                                  ob_failed_subject = true
                                end
                              end
                            end

                            if main_exam_mark.to_i < 45
                              if fourth_subject.blank?
                                failed = true
                                failed_subject = true
                              else
                                failed_subject = true
                              end
                            end
                           
                            if ob_failed_subject == true or sb_failed_subject == true
                              failed_subject = true
                            end
                            
                            %>
                            
                              <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                              <% if !grade.blank? and !grade.name.blank? %>
                                <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                  <% failed = true %>
                                  <% failed_subject = true %>
                                <% end %>
                                <% if  failed_subject == true %>
                                  <% grade.credit_points = 0.0 %>
                                  <% grade.name = "F" %>
                                <% end %>
                                <% if fourth_subject.blank? %>
                                    <% total_grade = total_grade.to_f+grade.credit_points.to_f %>
                                <% else %>
                                  <% new_grade_point = grade.credit_points.to_f-2 %>
                                  <% if new_grade_point > 0 %>
                                   <% total_grade = total_grade.to_f+new_grade_point.to_f %>
                                  <% end %>  
                                <% end %>
                                <td class="col-pdf"><%= grade.name %></td>
                                <td class="col-pdf"><%= grade.credit_points %></td>
                              <% else %>
                                <td class="col-pdf">-</td>
                                <td class="col-pdf">-</td>
                              <% end %>
                          <% else  %>
                            <td class="col-pdf" colspan="100">-</td>
                          <% end %>      

                      </tr> 
                      <% end %>
                    <% end %> 
                      
                  <% if total_grade > 0 && total_subject > 0 %>
                      <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                      <% if grade_point_avg > 5 %>
                        <% grade_point_avg = 5.00 %>
                      <% end %>  
                  <% end %>  
                  <tr class="even">
                      <% colspan = colspan+5 %>
                      <td class="col-pdf align-left-baf" colspan="<%= colspan %>"><b>Total Marks & Total GP</b></td>
                      <td class="col-pdf no-warp align-left-baf" colspan="3">&nbsp;&nbsp;&nbsp;<b><%= grand_total %></b></td>
                      <td class="col-pdf"><b><%= total_grade %></b></td>
                  </tr> 

              </table>
                
             <% 
                total_att = ""
                absent = ""
                if !@exam_comment.blank?
                  all_comments = @exam_comment.comments
                  if !all_comments.blank?
                    all_comments_array = all_comments.split("|")
                    total_att = all_comments_array[0]
                    if !all_comments_array[1].nil?
                      absent = all_comments_array[1]
                    end
                  end
                end
              %> 
                
              <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
              <% grade_point_avg = grade_point_avg.to_f/100 %>
              <% if grade_point_avg > 5 %>
                  <% grade_point_avg = 5.00 %>
             <% end %>
              <table id="pdf-table" class="tbl-lign-left top-margin-20 letter-grade" width="100%" cellspacing="0">
                <tr class="odd">
                      <td class="align-left no-warp" width="50%"><b>Grade Point Avg</b></td>
                      <td><b>
                          <% if failed == true %>
                            0.00
                          <% else %>
                            <%= sprintf( "%0.02f", grade_point_avg) %>
                          <% end %></b>
                      </td>
                      <td class="align-left no-warp" colspan="2"><b>Position in Merit List</b></td>
                  </tr> 
                  <tr class="odd">
                      <%
                        
                        grade = GradingLevel.grade_point_to_grade(grade_point_avg, @batch.id)
                     %>
                      <td class="align-left no-warp">Letter Grade</td>
                      <td >
                          <b>
                          <% if failed == true %>
                              F
                          <% else %>
                            <% if !grade.blank? and !grade.name.blank? %>
                            <%= grade.name %>
                            <% else %>
                              -
                            <% end %>
                          <% end %>
                          </b>
                      </td>
                      <td class="align-left no-warp" width="15%">Section</td>
                      <td class="no-warp">
                         <% if !@student_position_batch[@student.id.to_i].blank? %> 
                          <%= @student_position_batch[@student.id.to_i] %> out of <%= @total_std_batch %>
                         <% else %>
                          -
                         <% end %> 
                      </td>
                  </tr>
                  <tr class="odd">
                      
                      <td class="align-left no-warp">Total Marks</td>
                      <td class="align-left no-warp"><b><%= sprintf( "%0.02f", grand_total)%></b></td>
                      <td class="align-left no-warp" width="15%">Class/Group</td>
                      <td class="no-warp">
                          <b>
                         <% if !@student_position[@student.id.to_i].blank? %> 
                          <%= @student_position[@student.id.to_i] %> out of <%= @total_std %>
                         <% else %>
                          -
                         <% end %> 
                        </b>  
                      </td>    
                  </tr>
                  
              </table>
              <% 
                total_att = ""
                absent = ""
                if !@exam_comment.blank?
                  all_comments = @exam_comment.comments
                  if !all_comments.blank?
                    all_comments_array = all_comments.split("|")
                    total_att = all_comments_array[0]
                    if !all_comments_array[1].nil?
                      absent = all_comments_array[1]
                    end
                  end
                end
              %>
             <div class="grade_information">
                <table id="pdf-table" class="evaluation top-margin-20" width="100%" >
                        <tr class="odd">
                            <td class="col-pdf align-left" colspan="2" width="100%"><b>Attendance</b></td>
                        </tr>
                        <tr class="odd">
                            <td class="col-pdf align-left" width="50%">
                                Working Days
                            </td> 
                            <td class="col-pdf align-center" width="50%">
                                <%= total_att %>
                            </td>
                        </tr>
                        <tr class="odd">
                            <td class="col-pdf align-left" width="50%">
                                Attendance
                            </td> 
                            <td class="col-pdf align-center " width="50%">
                                <b><%= absent %></b>
                            </td>
                        </tr>    
                </table>
              </div>
              <table id="pdf-table" class="evaluation table_99 top-left-center"  width="99.8%" >
                  <tr class="even remarks-tr">
                    <td>
                        <b>Remarks : </b>
                            <% if failed == true %>
                              Failed
                           <% else %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <%= grade.description %>
                            <% else %>
                                
                            <% end %>
                        <% end %>
                    </td>
                  </tr>
              </table>
              
             
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

                      <tr class="even border-bottom-1-px">
                          <td class="col-pdf " width="25%">
                               <br/><br/><br/>
                          </td> 
                          <td class="col-pdf" width="25%">
                              <br/><br/><br/>
                          </td>
                          <td class="col-pdf" width="25%">
                              <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/"+batch_split[0].downcase+".png")), :width=>"100%" %>
                          </td> 
                          <td class="col-pdf " width="25%">
                              <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/principal-sir-signature-2019.jpg")), :width=>"70%" %>
                          </td>
                      </tr>
                      <tr class="even">
                           
                          <td class="col-pdf" width="25%">
                              Class Teacher
                          </td>
                          <td class="col-pdf " width="25%">
                              Parents/Guardian
                          </td>
                          <td class="col-pdf " width="25%">
                              Vice-Principal
                          </td>
                          <td class="col-pdf" width="25%">
                              Principal
                          </td> 
                          
                      </tr>

              </table> 
              
          </div>
      </div>



  </div>

<% end %>

<style>
.baf_shaheen table#pdf-table tr.even td, .baf_shaheen table#pdf-table tr.odd td 
{
  padding: 3px !important;
}
</style>
