
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
              <table id="pdf-table" class="top-left-center extra_bottom" width="80%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                 
                  <tr class="even header-shade">
                      <td class="col-pdf" rowspan="3">
                          <b>Sl.</b>
                      </td>
                      <td class="col-pdf no-warp" rowspan="3"><b><%= "Subjects" %></b></td>
                      <td class="col-pdf" rowspan="3"><b><%= "Full Marks" %></b></td>
                      <% colspan = 0 %>
                      <% @report_data['report']['exams'].each do |report| %>
                        <% if report['quarter'] == '1' %>
                          <% colspan = colspan+1 %>
                        <% end %>  
                      <% end %>
                      <% colspan = colspan+6 %>
                      <td class="col-pdf" colspan="<%= colspan %>">
                          <b>1st Term Exam - <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></b>
                      </td>
                      <td class="col-pdf" colspan="<%= colspan %>"><b>2nd Term Exam - <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></b></td>
                      <td class="col-pdf" colspan="<%= colspan-2 %>"><b>Aggregated Result</b></td>
                      
                  </tr>
                  
                  <%
                    has_sb = false
                    has_ob = false
                    has_pr = false
                  
                  %>
                  <tr class="even header-shade">
                      <% colspan = 0 %>
                      <% @report_data['report']['exams'].each do |report| %>
                        <% if report['exam_category'] == '1' && report['quarter'] == '1' %>
                          <td rowspan="2"><%= report['exam_name'] %></td>
                        <% elsif report['quarter'] == '1' %>
                          <% colspan = colspan+1 %>
                        <% end %>  
                      <% end %>
                      <% colspan = colspan+2 %>
                      <td class="col-pdf" colspan="<%= colspan %>" rowspan="1"><b>Examination</b></td>
                      <td class="col-pdf" rowspan="2"><b>Total</b></td>
                      <td class="col-pdf" rowspan="2"><b>Highest Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td>
                      
                      <% colspan = 0 %>
                      <% @report_data['report']['exams'].each do |report| %>
                        <% if report['exam_category'] == '1' && report['quarter'] == '2' %>
                          <td rowspan="2"><%= report['exam_name'] %></td>
                        <% elsif report['quarter'] == '2' %>
                          <% colspan = colspan+1 %>
                        <% end %>  
                      <% end %>
                      <% colspan = colspan+2 %>
                      <td class="col-pdf" colspan="<%= colspan %>" rowspan="1"><b>Examination</b></td>
                      <td class="col-pdf" rowspan="2"><b>Total</b></td>
                      <td class="col-pdf" rowspan="2"><b>Highest Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td>
                      
                      <% colspan = 0 %>
                      <% @report_data['report']['exams'].each do |report| %>
                          <% if report['quarter'] == '2' %>
                            <% if report['exam_category'] == '1' %>
                                <td rowspan="2"><%= report['exam_name'] %></td>
                            <% end %>
                            <% if report['exam_category'] == '3' %>
                              <% has_sb = true %>
                            <% end %>
                            <% if report['exam_category'] == '4' %>
                              <% has_ob = true %>
                            <% end %>
                            <% if report['exam_category'] == '5' %>
                              <% has_pr = true %>
                            <% end %>
                          <% end %>
                      <% end %>
                      <% if has_ob == true %>
                            <td rowspan="2">OB</td>
                      <% end %> 
                      <% if has_sb == true %>
                            <td rowspan="2">SB</td>
                      <% end %> 
                      <% if has_pr == true %>
                            <td rowspan="2">PR</td>
                      <% end %> 
                      <% colspan = colspan+2 %>
                      <td class="col-pdf" rowspan="2"><b>Total</b></td>
                      <td class="col-pdf" rowspan="2"><b>Highest Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td>
                      
                  </tr>
                  <tr class="even header-shade">
                    
                      <% if has_ob == true %>
                            <td>OB</td>
                      <% end %> 
                      <% if has_sb == true %>
                            <td>SB</td>
                      <% end %> 
                      <% if has_pr == true %>
                            <td>PR</td>
                      <% end %> 
                      <td rowspan="1"><b>Total</b></td>
                      <td rowspan="1"><b>Avg</b></td>
                      <% if has_ob == true %>
                            <td>OB</td>
                      <% end %> 
                      <% if has_sb == true %>
                            <td>SB</td>
                      <% end %> 
                      <% if has_pr == true %>
                            <td>PR</td>
                      <% end %> 
                         
                      <td rowspan="1"><b>Total</b></td>
                      <td rowspan="1"><b>Avg</b></td>
                  </tr>

                  <% total_grade = 0 %>
                  <% total_subject = 0 %>
                  <% grade_point_avg1 = 0 %>
                  <% grade_point_avg2 = 0 %>
                  <% grade_point_avg = 0 %>
                  <% total_grade1 = 0 %>
                  <% total_grade2 = 0 %>
                  <% total_grade = 0 %>
                  <% failed1 = false %>
                  <% failed2 = false %>
                  <% failed = false %>
                  
                  <% grand_total1 = 0 %>
                  <% grand_total_fraction1 = 0 %>
                  <% grand_total2 = 0 %>
                  <% grand_total_fraction2 = 0 %>
                  <% grand_total = 0 %>
                  <% grand_total_fraction = 0 %>
                  
                  
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          
                          <%  monthly = 0 %>
                          <%  sb = 0 %>
                          <%  ob = 0 %>
                          <%  pr = 0 %>
                          
                          <%  sb2 = 0 %>
                          <%  ob2 = 0 %>
                          <%  pr2 = 0 %>
                          
                          <%  sb_full_marks = 0 %>
                          <% ob_full_marks = 0 %>
                          <% pr_full_marks = 0 %>
                          <% class_test_full_mark = 0 %>
                          <% total_mark1 = 0 %>
                          <% full_mark1 = 0 %>
                          <% total_mark2 = 0 %>
                          <% full_mark2 = 0 %>
                          <% full_mark = 0 %>
                          <% total_subject = total_subject+1 %>
                          <td class="col-pdf"><%= total_subject %></td>
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['quarter'] == '2' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                  <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% if report['exam_category'] == '3'  %>
                                    <% sb_full_marks = sb_full_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                  <% if report['exam_category'] == '4'  %>
                                    <% ob_full_marks = ob_full_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                  <% if report['exam_category'] == '5'  %>
                                    <% pr_full_marks = pr_full_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                  <% if report['exam_category'] == '1'  %>
                                    <% class_test_full_mark = class_test_full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                <% end %> 
                              <% end %>
                            <% end %>
                          <% end %>
                          <% 
                            highest_mark1 = 0
                            if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects['id'].to_i].blank?
                              highest_mark1 = @subject_highest_1st_term[subjects['id'].to_i].to_f
                            end
                          
                            highest_mark2 = 0
                            if !@subject_highest_2nd_term.blank? and !@subject_highest_2nd_term[subjects['id'].to_i].blank?
                              highest_mark2 = @subject_highest_2nd_term[subjects['id'].to_i].to_f
                            end
                          
                            highest_mark = 0
                            if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                              highest_mark = @subject_highest[subjects['id'].to_i].to_f
                            end
                          
                          %>
                          <% if full_mark.to_f > 0 %>
                            <% full_mark_all = 50 %>
                            <% if full_mark.to_f >= 100 %>
                             <% full_mark_all = 100 %>
                             <td class="col-pdf">100</td>
                            <% elsif full_mark.to_f >= 50 %>    
                              <td class="col-pdf">50</td>
                            <% else %> 
                              <% full_mark_all = 25 %>
                              <td class="col-pdf">25</td>
                            <% end %> 
                            <% class_test_mark1 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] == '1' && report['quarter'] == '1' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  class_test_mark1 = class_test_mark1+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>   
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                                  
                            <% main_exam_mark1 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] != '1' && report['quarter'] == '1' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  main_exam_mark1 = main_exam_mark1+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                  <% if report['exam_category'] == '3'  %>
                                    <% sb = sb+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% elsif report['exam_category'] == '4' %>
                                    <% ob = ob+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% elsif report['exam_category'] == '5' %>
                                    <% pr = pr+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                            <td class="col-pdf no-warp">
                               <%= main_exam_mark1.to_f.round.to_i %>
                            </td>  
                            <% 
                              sb_avg_marks = 0
                              sb_full_marks_shoud_be = full_mark_all-pr_full_marks-ob_full_marks-class_test_full_mark
                              if sb_full_marks > 0 && sb > 0
                                sb_avg_marks = (sb.to_f/sb_full_marks.to_f)*sb_full_marks_shoud_be
                              end
                            %>
                            <% avg_mark = sb_avg_marks+ob+pr %>
                                  
                            <td class="col-pdf no-warp">
                               <%= sprintf( "%0.02f", avg_mark)%>
                            </td>
                            <% tota_mark_with_monthly = avg_mark+class_test_mark1 %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <td><%=  highest_mark1.round() %></td>
                            <%
                              main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                            %>
                            <% grand_total_fraction1 = grand_total_fraction1+tota_mark_with_monthly.to_f %>
                            <% grand_total1 = grand_total1+tota_mark_with_monthly.to_f.round.to_i %>
                           
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 %>
                                <% failed1 = true %>
                              <% end %>
                              <% total_grade1 = total_grade1.to_f+grade.credit_points.to_f %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                            <% else %>
                              <td class="col-pdf">N/A</td>
                              <td class="col-pdf">N/A</td>
                            <% end %>
                            
                            <% class_test_mark2 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] == '1' && report['quarter'] == '2' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  class_test_mark2 = class_test_mark2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                <% else %>
                                  <td class="col-pdf">AB</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                                  
                            <% main_exam_mark2 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] != '1' && report['quarter'] == '2' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  main_exam_mark2 = main_exam_mark2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                  <% if report['exam_category'] == '3'  %>
                                    <% sb = sb+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% sb2 = sb2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% elsif report['exam_category'] == '4' %>
                                    <% ob = ob+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% ob2 = ob2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    
                                  <% elsif report['exam_category'] == '5' %>
                                    <% pr = pr+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% pr2 = pr2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                            <td class="col-pdf no-warp">
                               <%= main_exam_mark2.to_f.round.to_i %>
                            </td> 
                            <% 
                              sb_avg_marks2 = 0
                              sb_full_marks_shoud_be = full_mark_all-pr_full_marks-ob_full_marks-class_test_full_mark
                              if sb_full_marks > 0 && sb > 0
                                sb_avg_marks2 = (sb2.to_f/sb_full_marks.to_f)*sb_full_marks_shoud_be
                              end
                            %>
                            <% avg_mark = sb_avg_marks2+ob2+pr2 %>
                                  
                            <td class="col-pdf no-warp">
                               <%= sprintf( "%0.02f", avg_mark)%>
                            </td>
                            <% tota_mark_with_monthly = avg_mark+class_test_mark2 %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <td><%=  highest_mark2.round() %></td>
                            <%
                              main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                            %>
                            <% grand_total_fraction2 = grand_total_fraction2+tota_mark_with_monthly.to_f %>
                            <% grand_total2 = grand_total2+tota_mark_with_monthly.to_f.round.to_i %>
                           
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 %>
                                <% failed2 = true %>
                              <% end %>
                              <% total_grade2 = total_grade2.to_f+grade.credit_points.to_f %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                            <% else %>
                              <td class="col-pdf">N/A</td>
                              <td class="col-pdf">N/A</td>
                            <% end %>

                          <% 
                            monthly_marks = (class_test_mark1.to_f+class_test_mark2.to_f)/2.00
                            sb_marks = 0
                            ob_marks = 0
                            pr_marks = 0
                            if sb>0
                              sb_marks = (sb_avg_marks.to_f+sb_avg_marks2.to_f)/2.00
                            end
                            if ob>0
                              ob_marks = ob.to_f/2.00
                            end
                            if pr>0
                              pr_marks = pr.to_f/2.00
                            end
                            total_marks_ag = sb_marks+ob_marks+pr_marks+monthly_marks
                            grand_total_fraction = grand_total_fraction+total_marks_ag
                            total_marks_ag = total_marks_ag.round()
                            grand_total = grand_total+total_marks_ag
                            
                            letter_grade_point = 0.0
                            letter_grade_name = "N/A"
                            main_mark = (total_marks_ag.to_f/full_mark_all.to_f)*100
                            grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                            if !grade.blank? and !grade.name.blank?
                              if grade.credit_points.to_i == 0
                                failed = true
                              end
                              total_grade = total_grade.to_f+grade.credit_points.to_f 
                              letter_grade_name = grade.name
                              letter_grade_point = grade.credit_points
                            end
                            
                            
                          %>
                              
                            <td class="col-pdf"><%= sprintf( "%0.02f", monthly_marks)%></td>
                            <% if has_ob %>
                              <td class="col-pdf"><%= sprintf( "%0.02f", ob_marks)%></td>
                            <% end %>
                            <% if has_sb %>
                              <td class="col-pdf"><%= sprintf( "%0.02f", sb_marks)%></td>
                            <% end %>
                            <% if has_pr %>
                              <td class="col-pdf"><%= sprintf( "%0.02f", pr_marks)%></td>
                            <% end %>
                              <td class="col-pdf"><%= total_marks_ag.to_i %></td>
                              <td class="col-pdf"><%=  highest_mark.round() %></td>
                              <td class="col-pdf"><%=  letter_grade_name %></td>
                              <td class="col-pdf"><%= sprintf( "%0.02f", letter_grade_point) %></td>
                          <% else  %>
                            <td class="col-pdf" colspan="100">N/A</td>
                          <% end %>
                          

                      </tr> 
                    <% end %>  
                  <% end %>
                      
                  <% if total_grade > 0 && total_subject > 0 %>
                      <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                  <% end %> 
                      
                  <% if total_grade1 > 0 && total_subject > 0 %>
                      <% grade_point_avg1 = total_grade1.to_f/total_subject.to_f %>
                  <% end %> 
                  <% if total_grade2 > 0 && total_subject > 0 %>
                      <% grade_point_avg2 = total_grade2.to_f/total_subject.to_f %>
                  <% end %>
                      
                  <tr class="even extra-padding-total">
                      <% colspan = 3 %>
                      <% if has_ob %>
                        <% colspan = colspan+1 %>
                      <% end %>
                      <% if has_sb %>
                        <% colspan = colspan+1 %>
                      <% end %>
                      <% if has_pr %>
                        <% colspan = colspan+1 %>
                      <% end %>
                      <td class="col-pdf align-left-baf" colspan="3"><b>Total Marks & Total Gp</b></td>
                      <td class="col-pdf" colspan="<%= colspan %>"></td>
                      <td class="col-pdf no-warp" ><b><%= grand_total1 %></b></td>
                      <td class="col-pdf" colspan="2"></td>
                      <td class="col-pdf"><b><%= total_grade1 %></b></td>
                      <td class="col-pdf" colspan="<%= colspan %>"></td>
                      <td class="col-pdf no-warp" ><b><%= grand_total2 %></b></td>
                      <td class="col-pdf" colspan="2"></td>
                      <td class="col-pdf"><b><%= total_grade2 %></b></td>
                      <td class="col-pdf" colspan="<%= colspan-2 %>"></td>
                      <td class="col-pdf no-warp" ><b><%= grand_total %></b></td>
                      <td class="col-pdf align-left-baf" colspan="2"></td>
                      <td class="col-pdf"><b><%= total_grade %></b></td>
                  </tr> 
                      
                    
                  <tr class="page-break-grade">
                      <td colspan="100"></td>
                  </tr> 
                  
                  
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i != 1 %>
                        <% next %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          
                          <%  monthly = 0 %>
                          <%  sb = 0 %>
                          <%  ob = 0 %>
                          <%  pr = 0 %>
                          
                          <%  sb2 = 0 %>
                          <%  ob2 = 0 %>
                          <%  pr2 = 0 %>
                          
                          <%  sb_full_marks = 0 %>
                          <% ob_full_marks = 0 %>
                          <% pr_full_marks = 0 %>
                          <% class_test_full_mark = 0 %>
                          <% total_mark1 = 0 %>
                          <% full_mark1 = 0 %>
                          <% total_mark2 = 0 %>
                          <% full_mark2 = 0 %>
                          <% full_mark = 0 %>
                          <% total_subject = total_subject+1 %>
                          <td class="col-pdf"><%= total_subject %></td>
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['quarter'] == '2' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                  <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% if report['exam_category'] == '3'  %>
                                    <% sb_full_marks = sb_full_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                  <% if report['exam_category'] == '4'  %>
                                    <% ob_full_marks = ob_full_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                  <% if report['exam_category'] == '5'  %>
                                    <% pr_full_marks = pr_full_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                  <% if report['exam_category'] == '1'  %>
                                    <% class_test_full_mark = class_test_full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                <% end %> 
                              <% end %>
                            <% end %>
                          <% end %>
                          <% 
                            highest_mark1 = 0
                            if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects['id'].to_i].blank?
                              highest_mark1 = @subject_highest_1st_term[subjects['id'].to_i].to_f
                            end
                          
                            highest_mark2 = 0
                            if !@subject_highest_2nd_term.blank? and !@subject_highest_2nd_term[subjects['id'].to_i].blank?
                              highest_mark2 = @subject_highest_2nd_term[subjects['id'].to_i].to_f
                            end
                          
                            highest_mark = 0
                            if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                              highest_mark = @subject_highest[subjects['id'].to_i].to_f
                            end
                          
                          %>
                          <% if full_mark.to_f > 0 %>
                            <% full_mark_all = 50 %>
                            <% if full_mark.to_f >= 100 %>
                             <% full_mark_all = 100 %>
                             <td class="col-pdf">100</td>
                            <% elsif full_mark.to_f >= 50 %>    
                              <td class="col-pdf">50</td>
                            <% else %> 
                              <% full_mark_all = 25 %>
                              <td class="col-pdf">25</td>
                            <% end %> 
                            <% class_test_mark1 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] == '1' && report['quarter'] == '1' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  class_test_mark1 = class_test_mark1+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>   
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                                  
                            <% main_exam_mark1 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] != '1' && report['quarter'] == '1' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  main_exam_mark1 = main_exam_mark1+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                  <% if report['exam_category'] == '3'  %>
                                    <% sb = sb+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% elsif report['exam_category'] == '4' %>
                                    <% ob = ob+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% elsif report['exam_category'] == '5' %>
                                    <% pr = pr+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                            <td class="col-pdf no-warp">
                               <%= main_exam_mark1.to_f.round.to_i %>
                            </td>  
                            <% 
                              sb_avg_marks = 0
                              sb_full_marks_shoud_be = full_mark_all-pr_full_marks-ob_full_marks-class_test_full_mark
                              if sb_full_marks > 0 && sb > 0
                                sb_avg_marks = (sb.to_f/sb_full_marks.to_f)*sb_full_marks_shoud_be
                              end
                            %>
                            <% avg_mark = sb_avg_marks+ob+pr %>
                                  
                            <td class="col-pdf no-warp">
                               <%= sprintf( "%0.02f", avg_mark)%>
                            </td>
                            <% tota_mark_with_monthly = avg_mark+class_test_mark1 %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <td><%=  highest_mark1.round() %></td>
                            <%
                              main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                            %>
                            
                           
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 %>
                                <% failed1 = true %>
                              <% end %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                            <% else %>
                              <td class="col-pdf">N/A</td>
                              <td class="col-pdf">N/A</td>
                            <% end %>
                            
                            <% class_test_mark2 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] == '1' && report['quarter'] == '2' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  class_test_mark2 = class_test_mark2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                <% else %>
                                  <td class="col-pdf">AB</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                                  
                            <% main_exam_mark2 = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] != '1' && report['quarter'] == '2' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  main_exam_mark2 = main_exam_mark2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                  <% if report['exam_category'] == '3'  %>
                                    <% sb = sb+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% sb2 = sb2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% elsif report['exam_category'] == '4' %>
                                    <% ob = ob+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% ob2 = ob2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    
                                  <% elsif report['exam_category'] == '5' %>
                                    <% pr = pr+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <% pr2 = pr2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>
                            <td class="col-pdf no-warp">
                               <%= main_exam_mark2.to_f.round.to_i %>
                            </td> 
                            <% 
                              sb_avg_marks2 = 0
                              sb_full_marks_shoud_be = full_mark_all-pr_full_marks-ob_full_marks-class_test_full_mark
                              if sb_full_marks > 0 && sb > 0
                                sb_avg_marks2 = (sb2.to_f/sb_full_marks.to_f)*sb_full_marks_shoud_be
                              end
                            %>
                            <% avg_mark = sb_avg_marks2+ob2+pr2 %>
                                  
                            <td class="col-pdf no-warp">
                               <%= sprintf( "%0.02f", avg_mark)%>
                            </td>
                            <% tota_mark_with_monthly = avg_mark+class_test_mark2 %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <td><%=  highest_mark2.round() %></td>
                            <%
                              main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                            %>
                            
                           
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 %>
                                <% failed2 = true %>
                              <% end %>
                              
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                            <% else %>
                              <td class="col-pdf">N/A</td>
                              <td class="col-pdf">N/A</td>
                            <% end %>

                          <% 
                            monthly_marks = (class_test_mark1.to_f+class_test_mark2.to_f)/2.00
                            sb_marks = 0
                            ob_marks = 0
                            pr_marks = 0
                            if sb>0
                              sb_marks = (sb_avg_marks.to_f+sb_avg_marks2.to_f)/2.00
                            end
                            if ob>0
                              ob_marks = ob.to_f/2.00
                            end
                            if pr>0
                              pr_marks = pr.to_f/2.00
                            end
                            total_marks_ag = sb_marks+ob_marks+pr_marks+monthly_marks
                            total_marks_ag = total_marks_ag.round()
                            
                            letter_grade_point = 0.0
                            letter_grade_name = "N/A"
                            main_mark = (total_marks_ag.to_f/full_mark_all.to_f)*100
                            grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                            if !grade.blank? and !grade.name.blank?
                              if grade.credit_points.to_i == 0
                                failed = true
                              end
                              letter_grade_name = grade.name
                              letter_grade_point = grade.credit_points
                            end
                            
                            
                          %>
                              
                            <td class="col-pdf"><%= sprintf( "%0.02f", monthly_marks)%></td>
                            <% if has_ob %>
                              <td class="col-pdf"><%= sprintf( "%0.02f", ob_marks)%></td>
                            <% end %>
                            <% if has_sb %>
                              <td class="col-pdf"><%= sprintf( "%0.02f", sb_marks)%></td>
                            <% end %>
                            <% if has_pr %>
                              <td class="col-pdf"><%= sprintf( "%0.02f", pr_marks)%></td>
                            <% end %>
                              <td class="col-pdf"><%= total_marks_ag.to_i %></td>
                              <td class="col-pdf"><%=  highest_mark.round() %></td>
                              <td class="col-pdf"><%=  letter_grade_name %></td>
                              <td class="col-pdf"><%= sprintf( "%0.02f", letter_grade_point) %></td>
                          <% else  %>
                            <td class="col-pdf" colspan="100">N/A</td>
                          <% end %>
                          

                      </tr>
                    <% end %>  
                  <% end %>
                  
                  
                 
                   

              </table>  
<% end %>