<% unless @report_data.blank?  or  @report_data['report'].blank? %>
<%#= debug @subject_highest_1st_term.inspect %>
<%#= debug @subject_highest_2nd_term.inspect %>
<%#= debug @subject_highest.inspect %>
<%
  if @student_position_first_term.blank? && @subject_highest_1st_term.blank?
    @subject_highest_1st_term = @subject_highest_2nd_term
    @student_position_first_term = @student_position_second_term
    @student_position_first_term_batch = @student_position_second_term_batch
  end




%> 
 <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/sagc/header" %>
      <h2 align="center" class="font-24"><%= @connect_exam_obj.name %></h2>
      
     
      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td>
              <td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td>
              <td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td>
              <td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td>
              <td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Session </td>
              <td class="align-left"><%= @batch.course.session %></td>
              <td class="align-right col-pdf" width="20%" >Version </td>
              <td class="align-left"><%= batch_split[1] %></td> 
          </tr>
          <tr class="even">
              <% group_split = @batch.course.group.split(" ") %>
              <% unless group_split[2].blank? %>
                <% group_split[0] = group_split[0]+" "+group_split[1] %>
              <% end %>
              <% 
                if !@batch.course.group.blank? && !@batch.course.group.index("--").nil? 
                  group_split[0] = ""
                end 
              %>
              <td class="align-right col-pdf" width="20%">Group </td>
              <td class="align-left"><%= group_split[0] %></td>
              <td class="align-right col-pdf" width="20%" >Category </td>
              <td class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>
      
      
     <%
        has_sb = false
        has_ob = false
        has_pr = false

      %>
      <div class="grade_information">
        <%= render  :partial=>"/connect_exam/sagc/gradding_level" %>
        
      </div>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <table id="pdf-table" class="top-left-center" width="80%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                 
                  <tr class="even header-shade">
                      <td class="col-pdf" rowspan="2">
                          <b>Sl.</b>
                      </td>
                      <td class="col-pdf no-warp  align-left-baf" rowspan="2"><b><%= "Subjects" %></b></td>
                      <td class="col-pdf" rowspan="2">
                        <b>Full Marks</b>
                      </td>
                      <% colspan = 0 %>
                      <% has_sb = true %>
                      <% @report_data['report']['exams'].each do |report| %>
                        
                        <% if report['exam_category'] == '3' %>
                          <% has_sb = true %>
                        <% end %>
                        <% if report['exam_category'] == '4' %>
                          <% has_ob = true %>
                        <% end %>
                        <% if report['exam_category'] == '5' %>
                          <% has_pr = true %>
                        <% end %>
                        <% colspan = colspan+1 %>
                         
                      <% end %>
                  
                      <td class="col-pdf" colspan="<%= colspan %>" rowspan="1"><b>Examination</b></td>
                      <td class="col-pdf" rowspan="2"><b>Total Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Highest Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td>
                      
                  </tr>
                  <tr class="even header-shade">
                      <% if has_ob == true %>
                            <td rowspan="1"><b>OB</b></td>
                      <% end %> 
                      <% if has_sb == true %>
                            <td rowspan="1"><b>SB</b></td>
                      <% end %> 
                      <% if has_pr == true %>
                            <td rowspan="1"><b>PR</b></td>
                      <% end %>
                  </tr>

                  <% total_grade = 0 %>
                  <% total_subject = 0 %>
                  <% total_subject_main = 0 %>
                  <% grand_total = 0 %>
                  <% grand_total_fraction = 0 %>
                  <% grade_point_avg = 0 %>
                  <% failed = false %>
                  <% already_done = false %>
                  <% subjects_done  = [] %>
                  <% mark_bangla = 0 %>
                  <% mark_english = 0 %>
                  <% mark_bangla_full = 0 %>
                  <% mark_english_full = 0 %>

                  <%
                    mark_bangla_pass_failed = 0
                    mark_english_pass_failed = 0
                    mark_bangla_pass_failed_full = 0
                    mark_english_pass_failed_full = 0
        
                    mark_bangla_pass_failed_ob = 0
                    mark_bangla_pass_failed_sb = 0
                    mark_english_pass_failed_ob = 0
                    mark_english_pass_failed_sb = 0
                    bang_code_pass_failed = ['Bang-1','Bang-2']
                    eng_code_pass_failed = ['Eng-1','Eng-2']
                  %>

                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <% failed_subject = false %>
                      <%
                        total_sb = 0
                        total_ob = 0
                        total_pr = 0
                    
                        full_sb = 0
                        full_ob = 0
                        full_pr = 0
                      %>              
                  
                      
                      <% if subjects_done.include?(subjects['id'].to_i) %>
                          <%
                            next
                          %>
                      <% end %>
                      <% subjects_done << subjects['id'].to_i %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <%
                            third_subject = "";
                            fourth_subject = "";
                          %>
                          <% if !@std_subject_hash_type.blank? %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                              <% fourth_subject = "(4th)" %>
                            <% end %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||3") %>
                              <% third_subject = "(3rd)" %>
                            <% end %>
                          <% end %>
                          <% if fourth_subject.blank? %>
                            <% total_subject = total_subject+1 %>
                          <% end %>
                          <% total_subject_main = total_subject_main+1 %>
                          <td class="col-pdf"><%= total_subject_main %></td>
                          <% bang_code = ['Bang-1','Bang-2'] %>
                          <% eng_code = ['Eng-1','Eng-2'] %>
                          
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name']  %><%= fourth_subject %><%= third_subject %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                <% if report['exam_category'] == '3' %>
                                  <% mrk = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% full_sb = full_sb+mrk.to_i %>
                                <% end %>
                                <% if report['exam_category'] == '4' %>
                                  <% mrk = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% full_ob = full_ob+mrk.to_i %>
                                <% end %>
                                <% if report['exam_category'] == '5' %>
                                  <% full_pr = full_pr+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                <% end %>
                              <% end %> 
                            <% end %>
                          <% end %>
                        

                          <% 
                            highest_mark = 0
                            if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects['id'].to_i].blank?
                              highest_mark = @subject_highest_1st_term[subjects['id'].to_i].to_f
                            end
                          
                          %>
                          <% sub_codes = ['Phys','Chem','Bio','H.Math'] %>
                          <% full_sb_mark = 0 %>
                          <% if full_sb.to_i == 40 %>
                            <% full_sb_mark = 70 %>
                          <% elsif full_sb.to_i == 30 %>
                            <% full_sb_mark = 50 %> 
                          <% elsif full_sb.to_i == 50 %>
                            <% full_sb_mark = 100 %>   
                          <% else %>  
                            <% full_sb_mark = full_sb %>   
                          <% end %>

                          <% full_ob_mark = 0 %>
                          <% if full_ob.to_i == 15 %>
                            <% if sub_codes.include?(subjects['code']) %>
                              <% full_ob_mark = 25 %>
                            <% else %>
                              <% full_ob_mark = 30 %>
                            <% end %>
                          <% else %>  
                            <% full_ob_mark = full_ob %>
                          <% end %>

                          <% full_mark = full_sb_mark.to_i + full_ob_mark.to_i + full_pr.to_i  %>
                            
                          <% if full_mark.to_f > 0 %>
                            <% full_mark_all = 50 %>
                            <% if full_mark.to_f >= 100 %>
                             <% full_mark_all = 100 %>
                             <td class="col-pdf">100</td>
                            <% elsif full_mark.to_f == 75 %>  
                             <% full_mark_all = 75 %>
                             <td class="col-pdf">75</td>
                            <% else %>  
                              <td class="col-pdf">50</td>
                            <% end %>
                            
                                  
                            <% main_exam_mark = 0 %>
                            <% exam_mark_single = 0 %>
                            <% exam_full_mark_single = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] != '1' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <% exam_full_mark_single = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% exam_mark_single = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% if report['exam_category'] == '3' %>
                                    <%
                                    converted_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                    mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                    if full_sb.to_i == 40
                                      converted_mark = 70
                                      mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_sb.to_f) * converted_mark
                                    elsif full_sb.to_i == 30
                                        converted_mark = 50
                                        mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_sb.to_f) * converted_mark
                                    elsif full_sb.to_i == 50
                                        converted_mark = 100
                                        mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_sb.to_f) * converted_mark
                                    end
                                    %>
                                    <% total_sb = total_sb+mark.to_f %>
                                    <%  main_exam_mark = main_exam_mark+mark.to_f %>
                                  <% end %>
                                  <% if report['exam_category'] == '4' %>
                                    <%
                                    converted_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                    mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                    if full_ob.to_i == 15
                                      if sub_codes.include?(subjects['code'])
                                        converted_mark = 25
                                      else
                                        converted_mark = 30
                                      end
                                    end
                                    if full_ob.nil?
                                      mark = 0
                                    else
                                      mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_ob.to_f) * converted_mark
                                    end
                                    %>
                                    <% total_ob = total_ob+mark.to_f %>
                                    <%  main_exam_mark = main_exam_mark+mark.to_f %>
                                  <% end %>
                                  <% if report['exam_category'] == '5' %>
                                    <% total_pr = total_pr+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                    <%  main_exam_mark = main_exam_mark+total_pr.to_f %>
                                  <% end %>
                                  <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s == "AB" %>
                                    <td class="col-pdf">AB</td>
                                  <% else %>
                                    <td class="col-pdf">
                                      <%
                                      mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                      if report['exam_category'] == '3'
                                        if full_sb.to_i == 40
                                          converted_mark = 70
                                          mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_sb.to_f) * converted_mark
                                        elsif full_sb.to_i == 30
                                            converted_mark = 50
                                            mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_sb.to_f) * converted_mark
                                        elsif full_sb.to_i == 50
                                            converted_mark = 100
                                            mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_sb.to_f) * converted_mark
                                        end
                                      elsif report['exam_category'] == '4'
                                        if full_ob.to_i == 15
                                          if sub_codes.include?(subjects['code'])
                                            converted_mark = 25
                                          else
                                            converted_mark = 30
                                          end
                                          mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_ob.to_f) * converted_mark
                                        end
                                      elsif report['exam_category'] == '5'
                                        if full_pr.to_i == 25
                                          converted_mark = 25
                                          mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f / full_pr.to_f) * converted_mark
                                        end
                                      end
                                      %>
                                      <%= mark.round.to_s  %>
                                    </td>
                                  <% end %>
                                    
                                  <%# if report['result'][report['exam_id']][subjects['id']]['grade'] == "F" && fourth_subject.blank? && subjects['subject_group_id'].to_i == 0 %>
                                      <%# if exam_full_mark_single != 25 || exam_mark_single.to_i != 8 %>
                                        <%# failed = true %>
                                        <%# failed_subject = true %>
                                      <%# end %>
                                  <%# end %>
                                    
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>  
                            <% avg_mark = main_exam_mark.to_f %>
                                  
                            
                            <% tota_mark_with_monthly = avg_mark %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <%
                              main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                            %>
                            <% grand_total_fraction = grand_total_fraction+tota_mark_with_monthly.to_f %>
                            <% grand_total = grand_total+tota_mark_with_monthly.to_f.round.to_i %>
                            <td class="col-pdf no-warp">
                               <%= highest_mark.to_f.round.to_i %>
                            </td>
                            <% if subjects['subject_group_id'].to_i > 0 %>
                              
                              <% @report_data['report']['subjects'].each do |subjects2| %>
                                <% if subjects2['subject_group_id'].to_i != subjects['subject_group_id'].to_i || subjects2['id'].to_i == subjects['id'].to_i  %>
                                  <% next %>
                                <% end %>
                                <% total_mark = 0 %>
                                <% full_mark = 0 %>
                                
                                <% unless @report_data['report']['exams'].blank? %>  
                                  <% @report_data['report']['exams'].each do |report| %>   
                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects2['id']].blank?  and !report['result'][report['exam_id']][subjects2['id']]['full_mark'].blank? %>
                                      <% full_mark = full_mark+report['result'][report['exam_id']][subjects2['id']]['full_mark'].to_i %>
                                      <% if report['exam_category'] == '3' %>
                                        <% full_sb = full_sb+report['result'][report['exam_id']][subjects2['id']]['full_mark'].to_i %>
                                      <% end %>
                                      <% if report['exam_category'] == '4' %>
                                        <% full_ob = full_ob+report['result'][report['exam_id']][subjects2['id']]['full_mark'].to_i %>
                                      <% end %>
                                      <% if report['exam_category'] == '5' %>
                                        <% full_pr = full_pr+report['result'][report['exam_id']][subjects2['id']]['full_mark'].to_i %>
                                      <% end %>
                                    <% end %> 
                                  <% end %>
                                <% end %>
                                <% if full_mark.to_f > 0 %>
                                  <% full_mark_all = 50 %>
                                  <% if full_mark.to_f >= 100 %>
                                   <% full_mark_all = 100 %>    
                                  <% end %>
                                  <% if full_mark.to_f == 75 %>
                                   <% full_mark_all = 75 %>    
                                  <% end %>
                                <% end %>
                                

                                <% main_exam_mark = 0 %>
                                <% unless @report_data['report']['exams'].blank? %>  
                                  <% @report_data['report']['exams'].each do |report| %>   
                                    <% if report['exam_category'] != '1' %>
                                      <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects2['id']].blank?  and !report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].blank? %>                                   
                                        <%  main_exam_mark = main_exam_mark+report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_f %>
                                        <% if report['exam_category'] == '3' %>
                                          <% total_sb = total_sb+report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_f %>
                                        <% end %>
                                        <% if report['exam_category'] == '4' %>
                                          <% total_ob = total_ob+report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_f %>
                                        <% end %>
                                        <% if report['exam_category'] == '5' %>
                                          <% total_pr = total_pr+report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_f %>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                            
                                <% if full_sb > 0 %>
                                  <%
                                    
                                    if total_sb > 0
                                      sb_main = (total_sb.to_f/full_sb.to_f)*100
                                      grade = GradingLevel.percentage_to_grade(sb_main, @batch.id)
                                      if !grade.blank? and !grade.name.blank?
                                        if (grade.credit_points.to_i == 0 && fourth_subject.blank?) || (total_sb < 34 && full_sb == 100 && fourth_subject.blank? )
                                          failed_subject = true
                                        end
                                      end   
                                    else
                                      failed_subject = true
                                    end    
                                
                                  %>
                                <% end %>
                                <% if full_ob > 0 %>
                                  <%
                                    
                                    if total_ob > 0
                                      ob_main = (total_ob.to_f/full_ob.to_f)*100
                                      grade = GradingLevel.percentage_to_grade(ob_main, @batch.id)
                                      if !grade.blank? and !grade.name.blank? && (total_ob != 16 || full_ob != 50)
                                        if (grade.credit_points.to_i == 0 && fourth_subject.blank?)
                                          failed_subject = true
                                        end
                                      end   
                                    else
                                      failed_subject = true
                                    end    
                                
                                  %>
                                <% end %>
                                <% if full_pr > 0 %>
                                  <%
                                    
                                    if total_pr > 0
                                      pr_main = (total_pr.to_f/full_pr.to_f)*100
                                      grade = GradingLevel.percentage_to_grade(pr_main, @batch.id)
                                      if !grade.blank? and !grade.name.blank? && (total_ob != 16 || full_ob != 50)
                                        if grade.credit_points.to_i == 0 && fourth_subject.blank?
                                          failed_subject = true
                                        end
                                      end   
                                    else
                                      failed_subject = true
                                    end    
                                
                                  %>
                                <% end %>

                                <% avg_mark = main_exam_mark.to_f %>
                                <% tota_mark_with_monthly = avg_mark %>
                                <%
                                  main_mark2 = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                                  main_mark = (main_mark.to_f+main_mark2.to_f)/2.00
                                %>
                                <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                                <% if !grade.blank? and !grade.name.blank? %>
                                  <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                    <% failed = true %>
                                    <% failed_subject = true %>
                                  <% end %>
                                  <% if  failed_subject == true %>
                                    <% grade.credit_points = 0.0 %>
                                    <% grade.name = "F" %>
                                  <% end %>
                            
                                  
                                  <% if fourth_subject.blank? %>
                                    <% total_grade = total_grade.to_f+grade.credit_points.to_f %>
                                  <% else %>
                                    <% new_grade_point = grade.credit_points.to_f-2 %>
                                    <% if new_grade_point > 0 %>
                                     <% total_grade = total_grade.to_f+new_grade_point.to_f %>
                                    <% end %>  
                                  <% end %>
                                  <td class="col-pdf" rowspan="2"><%= grade.name %></td>
                                  <td class="col-pdf" rowspan="2"><%= grade.credit_points %></td>
                                <% else %>
                                  <td class="col-pdf" rowspan="2">-</td>
                                  <td class="col-pdf" rowspan="2">-</td>
                                <% end %>
                               <% end %>
                            <% else %>


                            <%
                                    total_pass = true
                                    
                                    failed_subject = false
                                    failed = false
                                    if total_pass
                                      con_full_mark = full_ob.to_i + full_sb.to_i + full_pr.to_i
                                      con_mrk = total_ob.to_i + total_sb.to_i + total_pr.to_i
                                      if bang_code_pass_failed.include?(subjects['code'])
                                        mark_bangla_pass_failed  = mark_bangla_pass_failed  + con_mrk.to_f
                                        mark_bangla_pass_failed_full  = mark_bangla_pass_failed_full  + con_full_mark.to_f
                                      elsif eng_code_pass_failed.include?(subjects['code'])
                                        mark_english_pass_failed  = mark_english  + con_mrk.to_f
                                        mark_english_pass_failed_full  = mark_english_pass_failed_full  + con_full_mark.to_f
                                      end
                                      not_include_code = ['Bang-1','Eng-1']
                                      if !not_include_code.include?(subjects['code'])
                                        if subjects['code'] == "Bang-2"
                                          if mark_bangla_pass_failed_full.to_i == 200
                                            if mark_bangla_pass_failed < 90 && fourth_subject.blank?
                                              failed_subject = true
                                              failed = true
                                            end
                                          end
                                        elsif subjects['code'] == "Eng-2"
                                          if mark_english_pass_failed_full.to_i == 200
                                            if mark_english_pass_failed < 90 && fourth_subject.blank?
                                              failed_subject = true
                                              failed = true   
                                            end
                                          end
                                        else
                                          if con_full_mark.to_i == 100
                                            if con_mrk < 45 && fourth_subject.blank?
                                              failed_subject = true
                                              failed = true 
                                            end
                                          end
                                        end
                                      end
                                    else
                                      pass_s = true
                                      con_full_mark = full_ob.to_i + full_sb.to_i + full_pr.to_i
                                      con_mrk = total_ob.to_i + total_sb.to_i + total_pr.to_i
                                      if bang_code_pass_failed.include?(subjects['code'])
                                        mark_bangla_pass_failed_ob  = mark_bangla_pass_failed_ob  + total_ob.to_i
                                        mark_bangla_pass_failed_sb  = mark_bangla_pass_failed_sb + total_sb.to_i
                                      elsif eng_code.include?(subjects['code'])
                                        mark_english_pass_failed_sb  = mark_english_pass_failed_sb  + total_sb.to_f
                                      end
                                      not_include_code = ['Bang-1','Eng-1']
                                      if !not_include_code.include?(subjects['code'])
                                        if subjects['code'] == "Bang-2"
                                          if mark_bangla_pass_failed_ob < 27
                                            pass_s = false
                                          end
                                          if pass_s
                                            if mark_bangla_pass_failed_sb < 63
                                              pass_s = false
                                            end
                                          end
                                          if pass_s == false && fourth_subject.blank?
                                            failed_subject = true
                                            failed = true 
                                          end
                                        elsif subjects['code'] == "Eng-2"
                                          if mark_english_pass_failed_sb < 90
                                            pass_s = false
                                          end
                                          if pass_s == false && fourth_subject.blank?
                                            failed_subject = true
                                            failed = true 
                                          end
                                        else
                                          if full_ob.to_i == 30
                                            if total_ob1 < 13
                                              pass_s = false
                                            end
                                          elsif full_ob.to_i == 25
                                            if total_ob1 < 11
                                              pass_s = false
                                            end
                                          end
                                          if pass_s
                                            if full_sb.to_i == 70
                                              if total_sb1 < 32
                                                pass_s = false
                                              end
                                            elsif full_sb.to_i == 50
                                                if total_sb1 < 23
                                                  pass_s = false
                                                end
                                            end
                                          end
                                          if pass_s
                                            if full_pr1 > 0
                                              if full_pr.to_i == 25
                                                if total_sb1 < 11
                                                  pass_s = false
                                                end
                                              end
                                            end
                                          end
                                          if pass_s == false && fourth_subject.blank?
                                            failed_subject = true
                                            failed = true 
                                          end
                                        end
                                      end
                                    end
                                  
                                  %>


                              <% if bang_code.include?(subjects['code']) %>
                                  <% mark_bangla  = mark_bangla  + main_mark.to_f %>
                                  <% mark_bangla_full  = mark_bangla_full  + full_mark_all.to_f %>
                              <% elsif eng_code.include?(subjects['code']) %>
                                  <% mark_english  = mark_english  + main_mark.to_f %>
                                  <% mark_english_full  = mark_english_full  + full_mark_all.to_f %>
                              <% end %>
                              <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                              <% if !grade.blank? and !grade.name.blank? %>
                                <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                  <% failed = true %>
                                  <% failed_subject = true %>
                              <% end %>
                              <% if  failed_subject == true %>
                                <% grade.credit_points = 0.0 %>
                                <% grade.name = "F" %>
                              <% end %>
                              
                                <% if fourth_subject.blank? %>
                                    <% total_grade = total_grade.to_f+grade.credit_points.to_f %>
                                <% else %>
                                  <% new_grade_point = grade.credit_points.to_f-2 %>
                                  <% if new_grade_point > 0 %>
                                   <% total_grade = total_grade.to_f+new_grade_point.to_f %>
                                  <% end %>  
                                <% end %>
                                <% if subjects['code'] == "Bang-1" %>
                                  <td class="col-pdf" style="border-bottom: 1px solid #fff;border-right: 1px solid #000;"></td>
                                  <td class="col-pdf" style="border-bottom: 1px solid #fff;"></td>
                                <% elsif subjects['code'] == "Bang-2" %>
                                  <%
                                    main_mark2 = (mark_bangla.to_f.round/mark_bangla_full.to_f)*100
                                  %>
                                  <%  grade = GradingLevel.percentage_to_grade(main_mark2, @batch.id) %>
                                  <% if !grade.blank? and !grade.name.blank? %>
                                    <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                      <% failed = true %>
                                      <% failed_subject = true %>
                                    <% end %>
                                    <% if  failed_subject == true %>
                                      <% grade.credit_points = 0.0 %>
                                      <% grade.name = "F" %>
                                    <% end %>
                                  <% end %>
                                  <td class="col-pdf" style="border-top: 1px solid #fff; position: relative; top: -20px;"><%= grade.name %></td>
                                  <td class="col-pdf" style="border-top: 1px solid #fff; position: relative; top: -20px;"><%= grade.credit_points %></td>
                                <% elsif subjects['code'] == "Eng-1" %>
                                  <td class="col-pdf" style="border-bottom: 1px solid #fff;"></td>
                                  <td class="col-pdf" style="border-bottom: 1px solid #fff;"></td>
                                <% elsif subjects['code'] == "Eng-2" %>
                                  <%
                                    main_mark2 = (mark_english.to_f.round/mark_english_full.to_f)*100
                                  %>
                                  <%  grade = GradingLevel.percentage_to_grade(main_mark2, @batch.id) %>
                                  <% if !grade.blank? and !grade.name.blank? %>
                                    <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                      <% failed = true %>
                                      <% failed_subject = true %>
                                    <% end %>
                                    <% if  failed_subject == true %>
                                      <% grade.credit_points = 0.0 %>
                                      <% grade.name = "F" %>
                                    <% end %>
                                  <% end %>
                                  <td class="col-pdf" style="border-top: 1px solid #fff; position: relative; top: -20px;"><%= grade.name %></td>
                                  <td class="col-pdf" style="border-top: 1px solid #fff; position: relative; top: -20px;"><%= grade.credit_points %></td>
                                <% else %>
                                  <td class="col-pdf"><%= grade.name %></td>
                                  <td class="col-pdf"><%= grade.credit_points %></td>
                                <% end %>
                              <% else %>
                                <td class="col-pdf">-</td>
                                <td class="col-pdf">-</td>
                              <% end %>
                            <% end %>
                          <% else  %>
                            <td class="col-pdf" colspan="100">-</td>
                          <% end %>      

                      </tr> 
                      <% if subjects['subject_group_id'].to_i > 0 %>
                          <% @report_data['report']['subjects'].each do |subjects2| %>
                      
                          
                          <% if subjects_done.include?(subjects2['id'].to_i) %>
                              <%
                                next
                              %>
                          <% end %>
                          <% if subjects2['subject_group_id'].to_i != subjects['subject_group_id'].to_i || subjects2['id'].to_i == subjects['id'].to_i  %>
                            <% next %>
                          <% end %>
                          <% subjects_done << subjects2['id'].to_i %>
                          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <% total_mark = 0 %>
                            <% full_mark = 0 %>
                              <%
                                third_subject = "";
                                fourth_subject = "";
                              %>
                              <% if !@std_subject_hash_type.blank? %>
                                <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects2['id'].to_s+"|||4") %>
                                  <% fourth_subject = "(4th)" %>
                                <% end %>
                                <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects2['id'].to_s+"|||3") %>
                                  <% third_subject = "(3rd)" %>
                                <% end %>
                              <% end %>
                            <% total_subject_main = total_subject_main+1 %>
                            <td class="col-pdf"><%= total_subject_main %></td>
                            <td class="col-pdf no-warp align-left-baf"><%= subjects2['name'] %><%= fourth_subject %><%= third_subject %></td>
                            <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %>   

                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects2['id']].blank?  and !report['result'][report['exam_id']][subjects2['id']]['full_mark'].blank? %>
                                  <% full_mark = full_mark+report['result'][report['exam_id']][subjects2['id']]['full_mark'].to_i %>
                                <% end %> 
                              <% end %>
                            <% end %>


                            <% 
                              highest_mark = 0
                              if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects2['id'].to_i].blank?
                                highest_mark = @subject_highest_1st_term[subjects2['id'].to_i].to_f
                              end

                            %>

                            <% if full_mark.to_f > 0 %>
                              <% full_mark_all = 50 %>
                              <% if full_mark.to_f >= 100 %>
                               <% full_mark_all = 100 %>
                               <td class="col-pdf">100</td>
                              <% elsif full_mark.to_f == 75 %>  
                               <% full_mark_all = 75 %>
                               <td class="col-pdf">75</td>
                              <% else %>  
                                <td class="col-pdf">50 <%= subjects2['id'].to_s %></td>
                              <% end %>
                            

                              <% main_exam_mark = 0 %>
                              <% unless @report_data['report']['exams'].blank? %>  
                              <% @report_data['report']['exams'].each do |report| %>   
                                <% if report['exam_category'] != '1' %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects2['id']].blank?  and !report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].blank? %>                                   
                                    <%  main_exam_mark = main_exam_mark+report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_f %>
                                    <% if report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_s == "AB" %>
                                      <td class="col-pdf">AB</td>
                                    <% else %>
                                      <td class="col-pdf"><%= report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_f.round.to_i %></td>
                                    <% end %>
                                  <% else %>
                                    <td class="col-pdf">-</td>
                                  <% end %>
                                <% end %>
                              <% end %>
                              <% end %>
                             
                              <% avg_mark = main_exam_mark.to_f %>

                              <% tota_mark_with_monthly = avg_mark %>
                              <td class="col-pdf no-warp">
                                  <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                              </td>
                              <%
                                main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                              %>
                              <% grand_total_fraction = grand_total_fraction+tota_mark_with_monthly.to_f %>
                              <% grand_total = grand_total+tota_mark_with_monthly.to_f.round.to_i %>
                              <td class="col-pdf no-warp">
                                 <%= highest_mark.to_f.round.to_i %>
                              </td>
                              <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                              <% if !grade.blank? and !grade.name.blank? %>
                                <% if grade.credit_points.to_i == 0 && fourth_subject.blank? %>
                                 
                                <% end %>
                              <% else %>
                              <% end %>
                            <% else  %>
                              <td class="col-pdf" colspan="100">-</td>
                            <% end %>      

                        </tr> 
                      <% end %>
                      
                      <% end %>
                    <% end %>  
                  <% end %>
                      
                  <% if total_grade > 0 && total_subject > 0 %>
                      <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                      <% if grade_point_avg > 5 %>
                        
                        <% grade_point_avg = 5.00 %>
                      <% end %>  
                  <% end %>  
                  <tr class="even">
                      <% colspan = colspan+3 %>
                      <td class="col-pdf align-left-baf" colspan="<%= colspan %>"><b>Total Marks & Total GP</b></td>
                      <td class="col-pdf no-warp"><b><%= grand_total %></b></td>
                      <td class="col-pdf no-warp" colspan="2"></b></td>
                      <td class="col-pdf"><b><%= total_grade %></b></td>
                  </tr> 
                  <tr class="page-break-grade">
                     <td colspan="100"></td>
                  </tr> 
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i != 1 %>
                        <% next %>
                      <% end %>
                      <% failed_subject = false %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <% total_subject_main = total_subject_main+1 %>
                          <td class="col-pdf"><%= total_subject_main %></td>
                          <td class="col-pdf no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   

                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %> 
                            <% end %>
                          <% end %>


                          <% 
                          highest_mark = 0
                          if !@subject_highest_1st_term.blank? and !@subject_highest_1st_term[subjects['id'].to_i].blank?
                            highest_mark = @subject_highest_1st_term[subjects['id'].to_i].to_f
                            end

                        %>

                          <% if full_mark.to_f > 0 %>
                            <% full_mark_all = 50 %>
                            <% if full_mark.to_f >= 100 %>
                             <% full_mark_all = 100 %>
                             <td class="col-pdf">100</td>
                            <% elsif full_mark.to_f == 75 %>  
                             <% full_mark_all = 75 %>
                             <td class="col-pdf">75</td>
                            <% else %>  
                              <td class="col-pdf">50</td>
                            <% end %> 
                            <% main_exam_mark = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>   
                              <% if report['exam_category'] != '1' %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>                                   
                                  <%  main_exam_mark = main_exam_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s == "AB" %>
                                    <td class="col-pdf">AB</td>
                                  <% else %>
                                    <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round.to_i %></td>
                                  <% end %>
                                  <% if report['result'][report['exam_id']][subjects['id']]['grade'] == "F" %>
                                    <% failed_subject = true %>
                                   <% end %>
                                <% else %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>
                            <% end %>
                            <% end %>  
                            <% avg_mark = main_exam_mark.to_f %>
                                  
                            
                            <% tota_mark_with_monthly = avg_mark %>
                            <td class="col-pdf no-warp">
                                <b><%= tota_mark_with_monthly.to_f.round.to_i %></b>
                            </td>
                            <%
                              main_mark = (tota_mark_with_monthly.to_f.round/full_mark_all.to_f)*100
                            %>
                            
                            <td class="col-pdf no-warp">
                               <%= highest_mark.to_f.round.to_i %>
                            </td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if grade.credit_points.to_i == 0 %>
                                <% failed_subject == true %>
                              <% end %>
                              <% if  failed_subject == true %>
                                <% grade.credit_points = 0.0 %>
                                <% grade.name = "F" %>
                              <% end %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                            <% else %>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                            <% end %>
                          <% else  %>
                            <td class="col-pdf" colspan="100">-</td>
                          <% end %>      

                      </tr> 
                    <% end %>  
                  <% end %>
                
                    
                  
                   

              </table>
                
             <% 
                total_att = ""
                absent = ""
                if !@exam_comment.blank?
                  all_comments = @exam_comment.comments
                  if !all_comments.blank?
                    all_comments_array = all_comments.split("|")
                    total_att = all_comments_array[0]
                    if !all_comments_array[1].nil?
                      absent = all_comments_array[1]
                    end
                  end
                end
              %>
                
               <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
              <% grade_point_avg = grade_point_avg.to_f/100 %>
              <table id="pdf-table" class="evaluation table_99 top-left-center" width="99.8%" cellspacing="0">
                  <tr class="odd">
                      <td class="align-left no-warp"><b>Grade Point Avg</b></td>
                      <td><b>
                              <% if @student_position_first_term_batch[@student.id.to_i].blank? %>
                              <%=  0.00 %>
                              <% else %>
                                <%= sprintf( "%0.02f", grade_point_avg) %>
                              <% end %></b>
                      </td>
                      <td class="align-left no-warp" colspan="2"><b>Position in Merit List</b></td>
                      <td class="align-left no-warp" colspan="2"><b>Attendance</b></td>
                  </tr> 
                  <tr class="odd">
                      <%

                      grade = GradingLevel.grade_point_to_grade(grade_point_avg, @batch.id)
                    %>
                      <td class="align-left no-warp">Letter Grade</td>
                      <td >
                          <b>
                              <% if @student_position_first_term_batch[@student.id.to_i].blank? %>
                              <%=  "F" %>
                              <% else %>
                                <% if !grade.blank? and !grade.name.blank? %>
                                  <%= grade.name %>
                                <% else %>
                                  -
                                <% end %>
                              <% end %>
                          </b>
                      </td>
                      <td class="align-left no-warp">Section</td>
                      <td class="no-warp">
                          <% if !@student_position_first_term_batch[@student.id.to_i].blank? %> 
                            <%= @student_position_first_term_batch[@student.id.to_i] %> out of <%= @total_std_batch %>
                          <% else %>
                            
                          <% end %> 

                      </td>
                      <td class="col-pdf align-left">
                          Working Days
                      </td> 
                      <td class="col-pdf align-center">
                          <%= total_att %>
                      </td>
                  </tr>
                  <tr class="odd">

                      <td class="align-left no-warp">Total Marks With Fraction</td>
                      <td class="align-left no-warp"><b><%= sprintf( "%0.02f", grand_total_fraction)%></b></td>
                      <td class="align-left no-warp">Class/Group</td>
                      <td class="no-warp">
                          <b>
                             
                              <% if !@student_position_first_term[@student.id.to_i].blank? %> 
                                <%= @student_position_first_term[@student.id.to_i] %> out of <%= @total_std %>
                              <% else %>
                                -
                              <% end %> 
                          </b>  
                      </td> 
                      <td class="col-pdf align-left">
                          Attendance
                      </td> 
                      <td class="col-pdf align-center" >
                          <%= absent %>
                      </td>
                  </tr>
                  

              </table>
              
              <table id="pdf-table" class="evaluation table_99 top-left-center"  width="99.8%" >
                  <tr class="even remarks-tr">
                      <td>

                          <b>Remarks : </b> 
                            <% if @student_position_first_term_batch[@student.id.to_i].blank? %>
                              Failed
                           <% else %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <%= grade.description %>
                            <% else %>
                              
                            <% end %>
                        <% end %>

                      </td>
                  </tr>
              </table>

              <div class='fine'></div>
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

                  <tr class="even border-bottom-1-px">
                      <td class="col-pdf " width="25%">
                          <br/><br/><br/>
                      </td> 
                      <td class="col-pdf" width="25%">
                          <br/><br/><br/>
                      </td>
                      <td class="col-pdf" width="25%">
                          <% if @batch.course.course_name == "Eleven" or @batch.course.course_name == "Twelve" %>
                            <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/college_vp_signature.png")), :width=>"60%" %>
                          <% else %>
                            <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/"+batch_split[0].downcase+".png")), :width=>"60%" %>
                          <% end %>
                      </td> 
                      <td class="col-pdf " width="25%">
                          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/principal-sir-signature-2019.jpg")), :width=>"70%" %>
                      </td>
                  </tr>
                  <tr class="even">

                      <td class="col-pdf" width="25%">
                          Class Teacher
                      </td>
                      <td class="col-pdf " width="25%">
                          Parents/Guardian
                      </td>
                      <td class="col-pdf " width="25%">
                          Vice-Principal
                      </td>
                      <td class="col-pdf" width="25%">
                          Principal
                      </td> 

                  </tr>

              </table> 
              
          </div>
      </div>



  </div>

<% end %>
 
     
