<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% unless @report_data.blank? %>
<div class="clearfix"></div>
  <div class="CSSTableGenerator" style="width: 97%;margin-top: 20px;">
        
      <% if @report_data['day_type']!="1" %>
        <h2><%=@report_data['day_type']%></h2>
      <% 
      @report_data['total_class'] = "N/A"
      @report_data['classwork_given'] = "N/A"
      @report_data['frequency'] = "N/A"
      @report_data['late'] = "N/A"
      @report_data['leave'] = "N/A"
      %>
      <% end %>
      <table id="listing table-design">
                  
            <tr>
              <td class="col-2"><b>Total CLass</b></td>
              <td class="col-2"><%= @report_data['total_class'] %></td> 
            </tr> 
            
            <tr>
              <td class="col-2"><b>Classwork Given</b></td>
              <td class="col-2" style="color:#0091D3"><%= @report_data['classwork_given'] %></td>
               
            </tr>
            
            
            
            <tr>
              <td class="col-2"><b>Frequency</b></td>
              <td class="col-2" style="color:#E65335"><%= @report_data['frequency'] %></td>
                
            </tr> 
            
           
           
      
      </table>
      <div style="float:left; clear:both; margin-top:20px; width:100%;">
      <div class="row">  
        <div class="row_label">
          <div>
            Select duration
          </div>
        </div>
        <div class="row_data">
          <div>
            <div class="custom_drop_wrapper">
             <%= select :student,:graph_type, options_for_select(['Day', 'Week', 'Month'], @graph_type), 
              {:prompt => "#{t('select')}"},
              {:onChange => "#{remote_function(:url => {:controller => "intelligence", :action => "get_classwork_report"}, :with => "$('new_student').serialize()" ,:before => "$('loading_3').show();",
              :success => "$('loading_3').hide();")}"} %>
              <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_3", :style =>"display: none;" ) %>
            </div>
          </div>
        </div>
      </div>
      
      
      </div>
      <script type="text/javascript" src="javascripts/swfobject.js"></script>
      
      <div style="float:left; clear:both; margin-top:20px;">
        <%= @graph %>
      </div>    
  </div>
<% end %>


 

<%= stylesheet_link_tag 'list_table' %>
 
<style>
  .CSSTableGenerator td.view:hover
  {
    background: #E6585A;
    color: white;
  }
  .CSSTableGenerator td.view
  {
     cursor: pointer;
  }
  .CSSTableGenerator td a
  {
    color: inherit;
    padding : 0;
    background-color: inherit;
    float: none;  
    display: block;
    margin: -20px;
    padding: 10px;
  }
  .CSSTableGenerator td
  {
      font-size: 20px;
      text-align:center;
       padding: 10px;
  }
  .CSSTableGenerator td a:hover
  {
    color: inherit;
    padding : 0;
    background-color: inherit;
    float: none;
    display: block;
    margin: -20px;
    padding: 10px;
  }
   .CSSTableGenerator table tr td 
  {
     font-weight: bold;
     overflow: hidden;
  }
  .checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

span div.absent {
    position: absolute;
    width:22px;
    height:22px;
    background-color: #B3B9BB;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: #0691D5;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}
</style>  