<% c = 'even' %>
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
            <table id="pdf-table" width="48%" class="left-table even-table extra_padding" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="odd">
                      <td class="col-pdf"><b><%= "SUBJECTS" %></b></td>
                      <td class="col-pdf"><b>GRADES</b></td>
                  </tr>
                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                      <tr class="odd">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>

                          <td class="col-pdf left-td"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>      
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>       
                                <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                              <% end %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %>  
                            <% end %>
                          <% end %>





                          <% 
                          
                          if total_mark.to_f>0 and full_mark.to_f>0
                            main_mark = (total_mark.to_f/full_mark.to_f)*100 
                          else
                            main_mark = 0
                          end  
                        %>

                          <% if full_mark.to_f > 0 %>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf"><b><%= grade.name %></b></td>
                            <% else %>
                              <td class="col-pdf"><b>N/A</b></td>
                            <% end %>

                            <% total_parcent= total_parcent+main_mark %>
                            <% total_subject = total_subject+1 %>
                          <% else  %>
                            <td class="col-pdf">N/A</td>
                          <% end %>      

                      </tr> 
                    <% end %>  
                  <% end %>     

              </table>
              <table id="pdf-table"  width="48%" class="left-table odd-table" cellspacing="0" >
                <tr class="odd">
                    <td class="col-pdf"><b>COMMENTS</b></td>
                    <td class="col-pdf"><b>GRADES</b></td>
                </tr>
                <tr class="even">
                  <td class="col-pdf left-td">Excellent</td>
                  <td class="col-pdf">A</td>
                </tr>
                <tr class="even">
                  <td class="col-pdf left-td">Very Good</td>
                  <td class="col-pdf">B+</td>
                </tr>
                <tr class="even">
                  <td class="col-pdf left-td">Good</td>
                  <td class="col-pdf">B</td>
                </tr>
                <tr class="even">
                  <td class="col-pdf left-td">Needs Improvement</td>
                  <td class="col-pdf">NI</td>
                </tr>
                <tr class="even">
                  <td class="col-pdf left-td">Regular/Irregular</td>
                  <td class="col-pdf">R/IR</td>
                </tr>
                <tr class="page-break-grade">
                  <td colspan="2"></td>
                </tr>
                <tr class="even">
                    <td colspan="2"><b>GENERAL PERFORMANCE</b></td>
                </tr>
                <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['no_exams_sjws'].to_i == 0  or !has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                        <% next %>
                      <% end %>
                      <% wordString_main = "" %>
                  
                      <% @report_data['report']['exams'].each do |report| %>
                         <% if !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank? and !report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                          <% wordString_main = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                          <% break %>
                         <% end %>
                      <% end %> 
                      <% wordString = wordString_main.split("|") %>
                      
                        <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                        <% iloop = 0 %>
                        <% subject_groups.each do |group_name| %>
                            <% if !wordString.blank? and !wordString[iloop].blank? %>
                            <tr class="odd">
                               <td class="col-pdf align-left"><%= group_name.name %></td>
                               <td class="col-pdf"><%=  wordString[iloop] %></td>
                           </tr>
                           <% else %>
                           <tr class="even">
                               <td class="col-pdf align-left"><%= group_name.name %></td>
                               <td class="col-pdf"></td>
                           </tr>
                           <% end %>
                          <% iloop = iloop+1 %> 
                        <% end %> 
                      
                    <% end %>
                  <% end %>
              </table>
       
<% end %>
<style>
    table.extra_padding tr.odd td.col-pdf
    {
       padding: 35px 10px !important;
    }
    .left-td
    {
       text-align:left !important;
    }
    table#pdf-table tr.odd td,
    table#pdf-table tr.even td,
    .student_information table.std_info_table tr td
    {
        font-size: 23px !important;
    }
    .general-header h2
    {
        font-size: 30px !important;
    }
    .page-break-grade td{
      height: 20px;
      border: 1px solid #fff;
      border-top: 1px solid Black;
      border-bottom: 1px solid Black;
    }
    table.signature
    {
      margin-top:60px !important;
    }
    table.signature tr td
    {
       height: 70px;
    }
</style>