<% c = 'even' %>
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
            <table id="pdf-table"  width="30%" class="left-table even-table" cellspacing="0" >
                  <% c = 'even'  %>
                  <tr class="odd">
                      <td class="col-pdf"><%= "Subject" %></td>
                      <% if @connect_exam_obj.quarter_number == 5 %>
                        <td class="col-pdf height-18">First Term<br/>(Grade)</td>
                      <% else %>
                        <td class="col-pdf height-18">Final Term<br/>(Grade)</td>
                      <% end %>
                  </tr>

                 
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                        <% q1_mark = 0 %>
                        <% q2_mark = 0 %>
                        <% q3_mark = 0 %>
                        <% q4_mark = 0 %>
                        <% first_term_mark = 0 %>
                        <% final_term_mark = 0 %>
                        <% q1_fullmark = 0 %>
                        <% q2_fullmark = 0 %>
                        <% q3_fullmark = 0 %>
                        <% q4_fullmark = 0 %>
                        <% first_term_fullmark = 0 %>
                        <% final_term_fullmark = 0 %>
                        <% total_mark = 0 %>
                        <% has_mark = false %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                          <td class="col-pdf no-warp  align-left"><%= subjects['name'] %></td>
                          <% 
                          unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                              
                              if report['quarter'] == '1'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q1_mark = q1_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q1_fullmark = q1_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '2'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q2_mark = q2_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q2_fullmark = q2_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '3'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q3_mark = q3_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q3_fullmark = q3_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '4'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q4_mark = q4_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q4_fullmark = q4_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '5'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  first_term_mark = first_term_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  first_term_fullmark = first_term_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '6'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  final_term_mark = final_term_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  final_term_fullmark = final_term_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                            end 
                          end 
                        
                          if first_term_fullmark > 0
                            q1_mark_20 = 0
                            q2_mark_20 = 0
                            first_term_mark_60 = 0 
                            if q1_fullmark > 0 && q1_mark > 0
                              q1_mark_20 = (q1_mark.to_f/q1_fullmark.to_f)*20
                            end 
                            if q2_fullmark > 0 && q2_mark > 0
                              q2_mark_20 = (q2_mark.to_f/q2_fullmark.to_f)*20
                            end 
                            if first_term_fullmark > 0 && first_term_mark > 0
                              first_term_mark_60 = (first_term_mark.to_f/first_term_fullmark.to_f)*60
                            end
                            total_mark = q1_mark_20+q2_mark_20+first_term_mark_60
                          end 
                          if final_term_fullmark > 0
                            q3_mark_20 = 0
                            q4_mark_20 = 0
                            final_term_mark_60 = 0 
                            if q3_fullmark > 0 && q3_mark > 0
                              q3_mark_20 = (q3_mark.to_f/q3_fullmark.to_f)*20
                            end 
                            if q4_fullmark > 0 && q4_mark > 0
                              q4_mark_20 = (q4_mark.to_f/q4_fullmark.to_f)*20
                            end 
                            if final_term_fullmark > 0 && final_term_mark > 0
                              final_term_mark_60 = (final_term_mark.to_f/final_term_fullmark.to_f)*60
                            end
                            total_mark = q3_mark_20+q4_mark_20+final_term_mark_60
                          end
                        
                          grade = GradingLevel.percentage_to_grade(total_mark, @batch.id)

                          if has_mark == true
                          %>
                          <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf"><b><%= grade.name %></b></td>
                          <% else %>
                            <td class="col-pdf"><b>-</b></td>
                          <% end %> 
                          <% else %>
                            <td class="col-pdf"><b>AB</b></td>
                          <% end %>   

                      </tr> 
                    <% end %>  
                  <% end %>     
                  <%  
                    
                    group_exams = GroupedExam.find_all_by_connect_exam_id(@connect_exam_obj.id) 
                    
                    @all_subjects = []
                    group_exams.each do |group_exam|
                      allexams = Exam.find_all_by_exam_group_id(group_exam.exam_group_id);
                      allexams.each do |exam|
                        if !@all_subjects.include?(exam.subject.id)
                          @all_subjects << exam.subject.id
                        end
                      end
                    end 
                  %>
                  <% unless @report_data['report']['no_exam_subject_resutl'].blank? %>
                    <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>
                      <%  if @all_subjects.include?(report['id'].to_i) %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <td class="col-pdf no-warp  align-left"><%= report['subject_name'] %></td>
                          <td class="col-pdf"><b><%= report['subject_comment'] %></b></td>
                      </tr>
                      <% end %>
                    <% end %>
                  <% end %> 
              </table>
              
       
<% end %>
<style>
    
table tr.odd table.std_info_table tr td
{
    border:none !important;
    text-align: left !important;
    padding: 5px 0px !important;
    font-weight:bold;
}
</style>