<% c = 'even' %>
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
<% year_month = I18n.l(@connect_exam_obj.published_date,:format=>"%Y-%m") %>
      <% if year_month.to_s == "2020-07" %>
        <% covid = 1 %>
      <% end %>
      <% total_subject = 0 %>
      <% total_comments_grade = 3 %>
            <table id="pdf-table"  width="30%" class="left-table even-table exam-marks" cellspacing="0" >
                  <% c = 'even'  %>
                  <tr class="odd">
                      <% if @covid_main == 0 and (@batch.course.course_name == "IV" or @batch.course.course_name == "V" or @batch.course.course_name == "VI" or @batch.course.course_name == "VII"  or @batch.course.course_name == "VIII") %>
                        <td class="col-pdf" rowspan="2"><%= "Subject" %></td>
                      <% else %>
                        <td class="col-pdf"><%= "Subject" %></td>
                      <% end %>
                      <% if @covid_main == 0 and (@batch.course.course_name == "IV" or @batch.course.course_name == "V" or @batch.course.course_name == "VI" or @batch.course.course_name == "VII"  or @batch.course.course_name == "VIII") %>
                        <% if @connect_exam_obj.quarter_number == 5 %>
                          <td class="col-pdf height-18" colspan="2">First Term</td>
                        <% else %>
                          <td class="col-pdf height-18" colspan="2">Final Term</td>
                        <% end %>
                      <% else %>  
                        <% if @connect_exam_obj.quarter_number == 5 %>
                          <td class="col-pdf height-18">First Term<br/>(Grade)</td>
                        <% else %>
                          <td class="col-pdf height-18">Final Term<br/>(Grade)</td>
                        <% end %>
                      <% end %>  
                  </tr>
                  <% if @covid_main == 0 and (@batch.course.course_name == "IV" or @batch.course.course_name == "V" or @batch.course.course_name == "VI" or @batch.course.course_name == "VII"  or @batch.course.course_name == "VIII") %>
                  <tr class="even">
                    <td class="col-pdf height-18">Marks</td>
                    <td class="col-pdf height-18">Grade</td>
                  </tr>
                  <% end %>

                  <% total_marks_obtain = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                        <% q1_mark = 0 %>
                        <% q2_mark = 0 %>
                        <% q3_mark = 0 %>
                        <% q4_mark = 0 %>
                        <% first_term_mark = 0 %>
                        <% final_term_mark = 0 %>
                        <% q1_fullmark = 0 %>
                        <% q2_fullmark = 0 %>
                        <% q3_fullmark = 0 %>
                        <% q4_fullmark = 0 %>
                        <% first_term_fullmark = 0 %>
                        <% final_term_fullmark = 0 %>
                        <% total_mark = 0 %>
                        <% total_mark_all = 0 %>
                        <% has_mark = false %>
                        <% if @connect_exam_obj.id == 2231 && subjects['name'] == "Reading" %>
                          <% next %>
                        <% end %>
                        <%
                          unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                              if report['exam_category'] == '7'
                                 next
                              end
                              if report['quarter'] == '1'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q1_mark = q1_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q1_fullmark = q1_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '2'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q2_mark = q2_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q2_fullmark = q2_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '3'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q3_mark = q3_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q3_fullmark = q3_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '4'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  q4_mark = q4_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  q4_fullmark = q4_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '5'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  first_term_mark = first_term_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  first_term_fullmark = first_term_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                              if report['quarter'] == '6'
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  final_term_mark = final_term_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s!="AB"
                                    has_mark = true
                                  end
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  final_term_fullmark = final_term_fullmark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              end
                            end 
                          end 
                        %>
                      <% if first_term_fullmark == 0 and final_term_fullmark == 0 %>
                        <% next %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                          <td class="col-pdf no-warp  align-left"><%= subjects['name'] %></td>
                          <% 
                          
                        
                          full_mark_term = 0
                          if first_term_fullmark > 0 or q1_fullmark > 0 or q2_fullmark > 0
                            q1_mark_20 = 0
                            q2_mark_20 = 0
                            first_term_mark_60 = 0 
                            if q1_fullmark > 0 && q1_mark > 0
                              q1_mark_20 = (q1_mark.to_f/q1_fullmark.to_f)*25
                              q1_mark_20 = q1_mark_20.round()
                            end 
                            if q2_fullmark > 0 && q2_mark > 0
                              q2_mark_20 = (q2_mark.to_f/q2_fullmark.to_f)*25
                              q2_mark_20 = q2_mark_20.round()
                            end 
                          if first_term_fullmark > 0
                                  full_mark_term = first_term_fullmark
                                end
                            if first_term_fullmark > 0 && first_term_mark > 0
                              full_mark_term = first_term_fullmark
                              first_term_mark_60 = first_term_mark.to_f
                            end
                            total_mark = q1_mark_20+q2_mark_20+first_term_mark_60
                            unless first_term_fullmark > 0	
                              total_mark = total_mark*2	
                            end
                            total_mark_all = total_mark_all+total_mark.round()
                          end 
                          if final_term_fullmark > 0 or q3_fullmark > 0 or q4_fullmark > 0
                            q3_mark_20 = 0
                            q4_mark_20 = 0
                            final_term_mark_60 = 0 
                            if q3_fullmark > 0 && q3_mark > 0
                              q3_mark_20 = (q3_mark.to_f/q3_fullmark.to_f)*25
                              q3_mark_20 = q3_mark_20.round()
                            end 
                            if q4_fullmark > 0 && q4_mark > 0
                              q4_mark_20 = (q4_mark.to_f/q4_fullmark.to_f)*25
                              q4_mark_20 = q4_mark_20.round()
                            end 
                          if final_term_fullmark > 0
                                  full_mark_term = final_term_fullmark
                                end
                            if final_term_fullmark > 0 && final_term_mark > 0
                              full_mark_term = final_term_fullmark
                              final_term_mark_60 = final_term_mark.to_f
                            end
                            total_mark = q3_mark_20+q4_mark_20+final_term_mark_60
                            unless final_term_fullmark > 0	
                              total_mark = total_mark*2	
                            end
                            total_mark_all = total_mark_all+total_mark.round()
                          end
                          total_mark = total_mark.round()
                          full_mark_all = full_mark_term+50
                          main_mark = 0
                          if total_mark > 0 && full_mark_all > 0
                            main_mark = (total_mark.to_f/full_mark_all.to_f)*100
                          end
                          grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                          total_marks_obtain = total_marks_obtain+total_mark_all
                           
                          if has_mark == true
                          %>
                          <% if @covid_main == 0 and (@batch.course.course_name == "IV" or @batch.course.course_name == "V" or @batch.course.course_name == "VI" or @batch.course.course_name == "VII"  or @batch.course.course_name == "VIII") %>
                          <td class="col-pdf"><b><%= total_mark %></b></td>
                          <% end %>
                          <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf"><b><%= grade.name %></b></td>
                          <% else %>
                            <td class="col-pdf"><b>-</b></td>
                          <% end %> 
                          <% else %>
                            <% if @covid_main == 0 and (@batch.course.course_name == "IV" or @batch.course.course_name == "V" or @batch.course.course_name == "VI" or @batch.course.course_name == "VII"  or @batch.course.course_name == "VIII") %>
                              <td class="col-pdf"><b>-</b></td>
                            <% end %>
                            <td class="col-pdf"<b>-</b></td>
                          <% end %> 
                          

                      </tr> 
                      <% total_subject = total_subject+1 %>
                    <% end %>  
                  <% end %>   
                  <%  
                    
                    group_exams = GroupedExam.find_all_by_connect_exam_id(@connect_exam_obj.id) 
                    
                    @all_subjects = []
                    group_exams.each do |group_exam|
                      allexams = Exam.find_all_by_exam_group_id(group_exam.exam_group_id);
                      allexams.each do |exam|
                        if !@all_subjects.include?(exam.subject.id)
                          if exam.exam_group.quarter.to_i == 5 or exam.exam_group.quarter.to_i == 6
                            @all_subjects << exam.subject.id
                          end
                        end
                      end
                    end 
                  %>
                  <% unless @report_data['report']['no_exam_subject_resutl'].blank? %>
                    <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>
                      <%  if @all_subjects.include?(report['id'].to_i) %>
                      <% total_subject = total_subject+1 %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <td class="col-pdf no-warp  align-left"><%= report['subject_name'] %></td>
                          <% if @covid_main == 0 and (@batch.course.course_name == "IV" or @batch.course.course_name == "V" or @batch.course.course_name == "VI" or @batch.course.course_name == "VII"  or @batch.course.course_name == "VIII") %>
                            <td class="col-pdf"><b>-</b></td>
                          <% end %>
                          <% unless report['subject_comment'].blank? %>
                            <td class="col-pdf"><b><%= report['subject_comment'] %></b></td>
                          <% else %>
                            <td class="col-pdf"><b>-</b></td>
                          <% end %> 
                      </tr>
                      <% end %>
                    <% end %>
                  <% end %>    

              </table>
              
       
<% end %>
<style>
    
table tr.odd table.std_info_table tr td
{
    border:none !important;
    text-align: left !important;
    padding: 5px 0px !important;
    font-weight:bold;
}
</style>