<% unless @report_data.blank?  or  @report_data['report'].blank? %>
<% c = 'even' %>
  <p>&nbsp;</p>
  <div id="page-yield"  class="available_sections1 sis">
      <div class="section1 row" >
          <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center" class="height-50">
                <% unless @covid_main.blank? %>
                  <% if @batch.course.course_name.upcase.index("PLAYGROUP").nil? and @batch.course.course_name.upcase.index("NURSERY").nil? and @batch.course.course_name.upcase.index("PG").nil? and  @batch.course.course_name.upcase.index("KG").nil? %>
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/348/summer.jpg")),:width=> '40%' %>
                  <% else %>
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/348/tiny_tots_logo.png")),:width=> '30%' %>
                  <% end %>
                <% else %>
                    &nbsp;
                <% end %>    
                </h4>    
                <h2 align="center"><font size="6"><%= @batch.course.course_name %>: <%= @connect_exam_obj.name %></font></h2>

            </div>
          </center>
      </div>
      <% year_month = I18n.l(@connect_exam_obj.published_date,:format=>"%Y-%m") %>
      <% if year_month.to_s == "2020-07" or year_month.to_s == "2020-08" or year_month.to_s == "2020-09" or year_month.to_s == "2020-10" %>
        <% covid = 1 %>
      <% end %>
      
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
              <table id="pdf-table" width="99.8%" cellspacing="0">
                  
                  <tr class="even">
                    <td class="col-pdf no-warp  align-left"><b><%= "DEVELOPMENT CHECKLIST" %></b></td>
                    <td class="col-pdf no-warp"><b><%= "GRADE" %></b></td>
                  </tr>
                  <% if @batch.course.course_name.upcase == "JPG" or @batch.course.course_name.upcase == "JUNIOR PLAYGROUP" %>
                  
                    
                      <tr class="odd"><td class="col-pdf align-left"><b>NAME : </b><%= @student.full_name %></td><td class="col-pdf align-left" rowspan="2">
                            <b>
                            <%= "A - Excellent" %><br/>
                            <%= "B+ - Very Good" %><br/>
                            <%= "B - Good" %>
                            </b>
                      </td></tr>
                      <tr class="odd"><td class="col-pdf align-left"><b>DATE : </b><%= I18n.l(@connect_exam_obj.published_date,:format=>"%d %B %Y") %></td></tr>
                     
                    <% else %>  
                    <tr class="odd">
                      <td class="col-pdf align-left">
                          <table class="std_info_table" width="100%" cellspacing="0">
                            <tr>
                                <td>NAME </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= @student.full_name %></td>
                            </tr>
                            <tr>
                                <td>DATE </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= I18n.l(@connect_exam_obj.published_date,:format=>"%d %B %Y") %></td>
                            </tr>
                          </table>
                      </td> 
                      <td class="col-pdf align-left">
                          <b>
                           <%= "A - Excellent" %><br/>
                           <%= "B+ - Very Good" %><br/>
                           <%= "B - Good" %>
                          </b>
                      </td>
                     </tr>
                    <% end %>
                  <tr class="page-break-grade">
                          <td colspan="2"></td>
                      </tr>
                  <% mloop = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% mloop+=1 %>
                      <tr class="even">
                          
                          <td class="col-pdf no-warp align-left" colspan="2"><b><%= subjects['name'].upcase %></b></td>
                             

                      </tr> 
                        <% if has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                          <% iloop = 0 %>
                          <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                              <% subject_groups.each do |group_name| %>
                                <% mloop+=1 %>
                                <% subject_subgroup = get_subject_sub_group(group_name.id,@connect_exam_obj.quarter_number) %>
                                <% unless subject_subgroup.blank? %>
                                   <tr class="odd">
                                    <td class="col-pdf no-warp align-left"  colspan="2"><b><%= group_name.name %></b></td>
                                   </tr>
                                    <% subject_subgroup.each do |sub_group_name| %>
                                      <% mloop+=1 %>
                                       <% @report_data['report']['exams'].each do |report| %>
                                        <% if report['exam_category'] == '7' %>
                                            <% next %>
                                        <% end %>
                                        <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <tr class="even">
                                          <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left"></td>
                                          <% end %>
                                          </tr> 
                                          <% break %>
                                        <% else %>
                                            <tr class="even">
                                              <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                             <td class="col-pdf no-warp align-left"></td> 
                                            </tr>
                                            <% break %>
                                         <% end %>
                                      <% end %>    
                                      <% iloop+=1 %> 
                                    <% end %>
                                <% else %>
                                    <tr class="odd">
                                    <td class="col-pdf no-warp align-left"><%= group_name.name %></td>
                                    <% @report_data['report']['exams'].each do |report| %>
                                       <% if report['exam_category'] == '7' %>
                                            <% next %>
                                        <% end %>
                                       <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp"></td>
                                          <% end %>
                                       <% else %>
                                           <td class="col-pdf no-warp"></td> 
                                       <% end %>     
                                    <% end %>
                                    </tr>          
                                    <% iloop+=1 %> 
                                <% end %>
                                 
                          <% end %>
                        <% end %>            
                      <tr class="page-break-grade">
                          <td colspan="2"></td>
                      </tr>
                    <% end %>  
                  <% end %>    
                   

              </table>
              <table id="pdf-table" width="99.8%" cellspacing="0">
                  <% if @covid_main == 0 %>
                    <!--tr class="even">
                          
                          <td class="col-pdf no-warp align-left" width="50%"><b>Class Teacher</b></td>
                          <td class="col-pdf no-warp align-left" width="50%"><br/><br/></td>    
                   </tr-->  
                  <% end %>
                   <tr class="even">
                          
                          <td class="col-pdf no-warp align-left" width="50%"><b>Section In-Charge</b></td>
                          <td class="col-pdf no-warp align-left" width="50%"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/348/#{@section_in_charge}.png")), :width=>"30%" %></td>    
                   </tr>  
              </table>

          </div>
      </div>



  </div>

<% end %>

<style>
.sis table tr.odd td, .sis table tr.even td
{
    font-size: 25px !important;
    padding: 12px !important;
}
.sis table tr.odd table.std_info_table tr td
{
    font-size: 25px !important;
}
<% if !mloop.blank? && mloop<24 %>
.page-break-grade td{
      height: 20px;
      border: 1px solid #fff;
      border-top: 1px solid Black;
      border-bottom: 1px solid Black;
}
<% end %>
<% if !mloop.blank? && mloop>=24 && mloop<28 %>
.page-break-grade td{
      height: 10px;
      border: 1px solid #fff;
      border-top: 1px solid Black;
      border-bottom: 1px solid Black;
}
.sis table tr.odd td, .sis table tr.even td
{
    font-size: 23px !important;
    padding: 6px 15px !important;
}
.sis table tr.odd table.std_info_table tr td
{
    font-size: 23px !important;
}
<% end %>
<% if !mloop.blank? && mloop>=28 && mloop<35 %>
.page-break-grade td{
      height: 7px;
      border: 1px solid #fff;
      border-top: 1px solid Black;
      border-bottom: 1px solid Black;
}
.sis table tr.odd td, .sis table tr.even td
{
    font-size: 21px !important;
    padding: 4px 15px !important;
}
.sis table tr.odd table.std_info_table tr td
{
    font-size: 21px !important;
}
<% end %>
<% if !mloop.blank? && mloop>=35 %>
.page-break-grade td{
      height: 6px;
      border: 1px solid #fff;
      border-top: 1px solid Black;
      border-bottom: 1px solid Black;
}
.sis table tr.odd td, .sis table tr.even td
{
    font-size: 20px !important;
    padding: 4px 15px !important;
}
.sis table tr.odd table.std_info_table tr td
{
    font-size: 20px !important;
}
<% end %>
</style>    
