<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 sis sis-final">
      <div class="section1 row" >
          <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center" class="height-50">&nbsp;</h4>
                <h2 align="center"><%= @connect_exam_obj.name %></h2>
            </div>
          </center>
      </div>
      <div class="student_information">
        <table class="std_info_table" width="100%" cellspacing="0">
          <tr>
              <td colspan="5">NAME&nbsp;&nbsp;:&nbsp;&nbsp;<%= @student.full_name %></td>
              <td colspan="1" class="right-td">DATE&nbsp;&nbsp;:&nbsp;&nbsp;<%= I18n.l(@connect_exam_obj.published_date,:format=>"%d %B %Y") %></td>
              
          </tr>
          <tr>
              <td colspan="3">CLASS&nbsp;&nbsp;:&nbsp;&nbsp;<%= @batch.course.course_name %></td>
              <%
                  session = ""
                  shift = ""
                  batch_explode = @batch.name.split("(")
                  unless batch_explode[1].blank?
                    session = batch_explode[1].gsub(")","")
                  end
                  unless batch_explode[0].blank?
                    shift_explode = batch_explode[0].split(" ")
                    shift = shift_explode[0]
                  end
                  
              %>
              <td colspan="2" class="center-td">SESSION&nbsp;&nbsp;:&nbsp;&nbsp;<%= session %></td>
              <td colspan="1" class="right-td">SHIFT&nbsp;&nbsp;:&nbsp;&nbsp;<%= shift %></td>
          </tr>
        </table>
      </div>
      
      
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
                  <% unless @report_data['report']['subjects'].blank? %>
                    <% subjectt_left = 0 %>
                    <% subjectt_right = 0 %>
                    <% c = 'even' %>
                    <% sub_loop = 0 %>
                    <% total_subject = @report_data['report']['subjects'].count %>
                    <% per_group = total_subject.to_f/2 %>
                    <% if @batch.course.course_name.upcase == "NURSERY" %>
                      <% per_group = per_group.floor %>
                    <% else %>
                      <% per_group = per_group.round %>
                    <% end %>
                    <table id="pdf-table" width="48%" class="left-table even-table left-table-nursery" cellspacing="0">
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      
                      <% sub_loop +=1  %>
                      <% if sub_loop > per_group %>
                        <% break %>
                      <% end %>
              
                    
                      
                      <% subjectt_left = subjectt_left+1 %>
                      <tr class="odd">
                          
                          <td class="col-pdf no-warp align-left subject-padding" colspan="2"><b><%= subjects['name'].upcase %></b></td>   

                      </tr> 
                      
                        <% if has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                          <% iloop = 0 %>
                          <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                              <% subject_groups.each do |group_name| %>
                                <% subjectt_left = subjectt_left+1 %>
                                <% subject_subgroup = get_subject_sub_group(group_name.id,@connect_exam_obj.quarter_number) %>
                                <% unless subject_subgroup.blank? %>
                                   <tr class="odd subgroup">
                                    <td class="col-pdf no-warp align-left"><b><%= group_name.name %></b></td>
                                    <td class="col-pdf no-warp align-left">-</td>
                                   </tr>
                                    <% subject_subgroup.each do |sub_group_name| %>
                                       <% subjectt_left = subjectt_left+1 %>
                                       <% @report_data['report']['exams'].each do |report| %>
                                        <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <tr class="even subgroup">
                                          <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left">-</td>
                                          <% end %>
                                          </tr> 
                                          <% break %>
                                        <% else %>
                                            <tr class="even subgroup">
                                              <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                             <td class="col-pdf no-warp align-left">-</td> 
                                            </tr>
                                            <% break %>
                                         <% end %>
                                      <% end %>    
                                      <% iloop+=1 %> 
                                    <% end %>
                                <% else %>
                                    <tr class="odd subgroup">
                                    <td class="col-pdf no-warp align-left"><%= group_name.name %></td>
                                    <% @report_data['report']['exams'].each do |report| %>
                                       <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left">-</td>
                                          <% end %>
                                       <% else %>
                                           <td class="col-pdf no-warp align-left">-</td> 
                                       <% end %>     
                                    <% end %>
                                    </tr>          
                                    <% iloop+=1 %> 
                                <% end %>
                                 
                          <% end %>
                        <% end %>           
                      
                    <% end %> 
                    </table>
                    <% sub_loop = 0 %>
                    <table id="pdf-table" width="48%" class="left-table odd-table second" cellspacing="0">
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      
                      <% sub_loop +=1  %>
                      <% if sub_loop <= per_group %>
                        <% next %>
                      <% end %>
              
                    
                      
                      <% subjectt_right = subjectt_right+1 %>
                      <tr class="odd">
                          
                          <td class="col-pdf no-warp align-left subject-padding2" colspan="2"><b><%= subjects['name'].upcase %></b></td>   

                      </tr> 
                      
                        <% if has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                          <% iloop = 0 %>
                          <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                              <% subject_groups.each do |group_name| %>
                                <% subjectt_right = subjectt_right+1 %>
                                <% subject_subgroup = get_subject_sub_group(group_name.id,@connect_exam_obj.quarter_number) %>
                                <% unless subject_subgroup.blank? %>
                                   <tr class="odd">
                                    <td class="col-pdf no-warp align-left"><b><%= group_name.name %></b></td>
                                    <td class="col-pdf no-warp align-left">-</td>
                                   </tr>
                                    <% subject_subgroup.each do |sub_group_name| %>
                                       <% subjectt_right = subjectt_right+1 %>
                                       <% @report_data['report']['exams'].each do |report| %>
                                        <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <tr class="even">
                                          <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left">-</td>
                                          <% end %>
                                          </tr> 
                                          <% break %>
                                        <% else %>
                                            <tr class="even">
                                              <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                             <td class="col-pdf no-warp align-left">-</td> 
                                            </tr>
                                            <% break %>
                                         <% end %>
                                      <% end %>    
                                      <% iloop+=1 %> 
                                    <% end %>
                                <% else %>
                                    
                                    <tr class="odd">
                                    <td class="col-pdf no-warp align-left"><%= group_name.name %></td>
                                    <% @report_data['report']['exams'].each do |report| %>
                                       <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left">-</td>
                                          <% end %>
                                       <% else %>
                                           <td class="col-pdf no-warp align-left">-</td> 
                                       <% end %>     
                                    <% end %>
                                    </tr>          
                                    <% iloop+=1 %> 
                                <% end %>
                                 
                          <% end %>
                        <% end %>           
                      
                    <% end %> 
                    </table>
                  <% end %> 
                
               
                <table id="pdf-table" width="24%" class="left-table even-table grade_table" cellspacing="0">
                      <% class_grade = "height-50" %>
                    <% if @connect_exam_obj.quarter_number == 5 %>
                      <% class_grade = "height-40" %>
                    <% end %>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>A</b></td>
                      <td class="col-pdf no-warp align-left"><b>Excellent</b></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>B+</b></td>
                      <td class="col-pdf no-warp align-left"><b>Very Good</b></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>B</b></td>
                      <td class="col-pdf no-warp align-left"><b>Good</b></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>NI</b></td>
                      <td class="col-pdf no-warp align-left"><b>Needs Improvement</b></td>
                     </tr>
              
                </table>
                <table id="pdf-table" width="70%" class="left-table odd-table signature_table" cellspacing="0">
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>Class Teacher</b></td>
                      <td class="col-pdf no-warp align-left width-60"><%= subjectt_right %><br/></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>Teacher-in-charge</b></td>
                      <td class="col-pdf no-warp align-left width-60"><%= subjectt_left %><br/></td>
                     </tr>
                     
                </table>

              

          </div>
      </div>



  </div>

<% end %>
<% 
  padding = 300/subjectt_left.to_f 
  padding1 = padding.round()
  
  padding2 = (padding1.to_f/subjectt_right.to_f)*subjectt_left.to_f
  padding2 = padding2.round
%>
<style>
.sis-final table tr.odd td, .sis-final table tr.even td
{
    font-size: 22px !important;
    padding: <%= padding %>px 12px !important;
}
.sis-final table.second tr.odd td, .sis-final table.second tr.even td
{
    font-size: 22px !important;
    padding: <%= padding2 %>px 12px !important;
}


.sis-final table.signature_table tr.odd td, .sis-final table.signature_table tr.even td
{
    height: 88px !important;
}
.sis-final table.grade_table tr.odd td, .sis-final table.grade_table tr.even td
{
    padding: 15px 12px !important;
}
</style>
