<% unless @report_data.blank?  or  @report_data['report'].blank? %>

  <div id="page-yield"  class="available_sections1 sis sis-final">
      <div class="section1 row" >
          <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center" class="height-50">&nbsp;</h4>
                <h2 align="center"><%= @batch.course.course_name %>: <%= @connect_exam_obj.name %></h2>
            </div>
          </center>
      </div>
      <div class="student_information">
        <table class="std_info_table" width="100%" cellspacing="0">
          <tr>
              <td>NAME </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= @student.full_name %></td>
              <td>SHIFT </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= @batch.name %></td>
          </tr>
          <tr>
              <td>DATE OF BIRTH </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></td>
              <td>DATE </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= I18n.l(@connect_exam_obj.published_date,:format=>"%d %b %Y") %></td>
          </tr>
        </table>
      </div>
      
      
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
                  <% unless @report_data['report']['subjects'].blank? %>
                    <% c = 'even' %>
                    <% sub_loop = 0 %>
                    <% total_subject = @report_data['report']['subjects'].count %>
                    <% per_group = total_subject.to_f/2 %>
                    <% if @batch.course.course_name.upcase == "NURSERY" %>
                      <% per_group = per_group.floor %>
                    <% else %>
                      <% per_group = per_group.round %>
                    <% end %>
                    <table id="pdf-table" width="48%" class="left-table even-table left-table-nursery" cellspacing="0">
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      
                      <% sub_loop +=1  %>
                      <% if sub_loop > per_group %>
                        <% break %>
                      <% end %>
              
                    
                      
                      
                      <tr class="odd">
                          
                          <td class="col-pdf no-warp align-left"><b><%= subjects['name'].upcase %></b></td>
                          <td class="col-pdf no-warp align-left marks-sub"></td>    

                      </tr> 
                      
                        <% if has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                          <% iloop = 0 %>
                          <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                              <% subject_groups.each do |group_name| %>
                                <% subject_subgroup = get_subject_sub_group(group_name.id,@connect_exam_obj.quarter_number) %>
                                <% unless subject_subgroup.blank? %>
                                   <tr class="odd subgroup">
                                    <td class="col-pdf no-warp align-left"><b><%= group_name.name %></b></td>
                                    <td class="col-pdf no-warp align-left"></td>
                                   </tr>
                                    <% subject_subgroup.each do |sub_group_name| %>
                                       <% @report_data['report']['exams'].each do |report| %>
                                        <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <tr class="even subgroup">
                                          <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left"></td>
                                          <% end %>
                                          </tr> 
                                          <% break %>
                                        <% else %>
                                            <tr class="even subgroup">
                                              <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                             <td class="col-pdf no-warp align-left"></td> 
                                            </tr>
                                            <% break %>
                                         <% end %>
                                      <% end %>    
                                      <% iloop+=1 %> 
                                    <% end %>
                                <% else %>
                                    <tr class="odd subgroup">
                                    <td class="col-pdf no-warp align-left"><%= group_name.name %></td>
                                    <% @report_data['report']['exams'].each do |report| %>
                                       <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left"></td>
                                          <% end %>
                                       <% else %>
                                           <td class="col-pdf no-warp align-left"></td> 
                                       <% end %>     
                                    <% end %>
                                    </tr>          
                                    <% iloop+=1 %> 
                                <% end %>
                                 
                          <% end %>
                        <% end %>           
                      
                    <% end %> 
                    </table>
                    <% sub_loop = 0 %>
                    <table id="pdf-table" width="48%" class="left-table odd-table" cellspacing="0">
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      
                      <% sub_loop +=1  %>
                      <% if sub_loop <= per_group %>
                        <% next %>
                      <% end %>
              
                    
                      
                      
                      <tr class="odd">
                          
                          <td class="col-pdf no-warp align-left"><b><%= subjects['name'].upcase %></b></td>
                          <td class="col-pdf no-warp align-left marks-sub"></td>    

                      </tr> 
                      
                        <% if has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                          <% iloop = 0 %>
                          <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                              <% subject_groups.each do |group_name| %>
                                <% subject_subgroup = get_subject_sub_group(group_name.id,@connect_exam_obj.quarter_number) %>
                                <% unless subject_subgroup.blank? %>
                                   <tr class="odd">
                                    <td class="col-pdf no-warp align-left"><b><%= group_name.name %></b></td>
                                    <td class="col-pdf no-warp align-left"></td>
                                   </tr>
                                    <% subject_subgroup.each do |sub_group_name| %>
                                       <% @report_data['report']['exams'].each do |report| %>
                                        <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <tr class="even">
                                          <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left"></td>
                                          <% end %>
                                          </tr> 
                                          <% break %>
                                        <% else %>
                                            <tr class="even">
                                              <td class="col-pdf no-warp align-left"><%= sub_group_name %></td>
                                             <td class="col-pdf no-warp align-left"></td> 
                                            </tr>
                                            <% break %>
                                         <% end %>
                                      <% end %>    
                                      <% iloop+=1 %> 
                                    <% end %>
                                <% else %>
                                    <tr class="odd">
                                    <td class="col-pdf no-warp align-left"><%= group_name.name %></td>
                                    <% @report_data['report']['exams'].each do |report| %>
                                       <% unless report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                                          <% wordString = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                                          <% wordString_split = wordString.split("|") %>
                                          <% unless wordString_split[iloop.to_i].blank? %>
                                              <td class="col-pdf no-warp align-left"><b><%= wordString_split[iloop.to_i].to_s %></b></td>
                                              
                                          <% else %>
                                            <td class="col-pdf no-warp align-left"></td>
                                          <% end %>
                                       <% else %>
                                           <td class="col-pdf no-warp align-left"></td> 
                                       <% end %>     
                                    <% end %>
                                    </tr>          
                                    <% iloop+=1 %> 
                                <% end %>
                                 
                          <% end %>
                        <% end %>           
                      
                    <% end %> 
                    </table>
                  <% end %> 
                
                <div class='line'></div>
                <table id="pdf-table" width="24%" class="left-table even-table" cellspacing="0">
                      <% class_grade = "height-50" %>
                    <% if @connect_exam_obj.quarter_number == 5 %>
                      <% class_grade = "height-40" %>
                    <% end %>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>A</b></td>
                      <td class="col-pdf no-warp align-left <%= class_grade %>"><b>Excellent</b></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>B+</b></td>
                      <td class="col-pdf no-warp align-left  <%= class_grade %>"><b>Very Good</b></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>B</b></td>
                      <td class="col-pdf no-warp align-left  <%= class_grade %>"><b>Good</b></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>NI</b></td>
                      <td class="col-pdf no-warp align-left  <%= class_grade %>"><b>Needs Improvement</b></td>
                     </tr>
              
                </table>
                <table id="pdf-table" width="69%" class="left-table odd-table signature_table" cellspacing="0">
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>Class Teacher</b></td>
                      <td class="col-pdf no-warp align-left width-60"><br/></td>
                     </tr>
                     <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="col-pdf no-warp align-left"><b>Teacher-in-charge</b></td>
                      <td class="col-pdf no-warp align-left width-60"><br/></td>
                     </tr>
                     
                </table>

              

          </div>
      </div>



  </div>

<% end %>
<style>
.sis-final table tr.odd td, .sis-final table tr.even td
{
    font-size: 22px !important;
    padding: 6px 12px !important;
}
.sis-final table.left-table-nursery tr.odd td, .sis-final table.left-table-nursery tr.even td
{
    padding: 12px !important;
}
.sis-final table.left-table-nursery tr.subgroup td, .sis-final table.left-table-nursery tr.subgroup td
{
    padding: 7px 12px !important;
}
.sis-final table.signature_table tr.odd td, .sis-final table.signature_table tr.even td
{
    height: 99px !important;
}
</style>
