<% unless @report_data.blank?  or  @report_data['report'].blank? %>

  <div id="page-yield"  class="available_sections1 sis sis-final">
      <div class="section1 row" >
          <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center" class="height-50">&nbsp;</h4>
                <h2 align="center"><%= @batch.course.course_name %>: <%= @connect_exam_obj.name %></h2>
            </div>
          </center>
      </div>
      <div class="student_information">
        <table class="std_info_table" width="100%" cellspacing="0">
          <tr>
              <td>NAME </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= @student.full_name %></td>
              <td>SHIFT </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= @batch.name %></td>
          </tr>
          <tr>
              <td>DATE OF BIRTH </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></td>
              <td>DATE </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;<%= I18n.l(@connect_exam_obj.published_date,:format=>"%d %b %Y") %></td>
          </tr>
        </table>
      </div>
      
      
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
              <table id="pdf-table" width="48%" class="left-table even-table extra_padding" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="odd">
                      <td class="col-pdf"><b><%= "SUBJECTS" %></b></td>
                       <td class="col-pdf"><b>MARKS</b></td>
                      <td class="col-pdf"><b>GRADES</b></td>
                  </tr>
                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                      <tr class="odd">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>

                          <td class="col-pdf left-td"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>      
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>       
                                <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                              <% end %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %>  
                            <% end %>
                          <% end %>





                          <% 
                          
                          show_marks = 0
                          if total_mark.to_f>0 and full_mark.to_f>0
                            main_mark = (total_mark.to_f/full_mark.to_f)*100 
                            show_marks = total_mark.to_f/2
                          else
                            main_mark = 0
                          end  
                        %>

                          <% if full_mark.to_f > 0 %>
                            <td class="col-pdf"><b><%= show_marks.round() %></b></td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf"><b><%= grade.name %></b></td>
                            <% else %>
                              <td class="col-pdf"><b>-</b></td>
                            <% end %>

                            <% total_parcent= total_parcent+main_mark %>
                            
                          <% else  %>
                            <td class="col-pdf">-</td>
                            <td class="col-pdf">-</td>
                          <% end %>      
                          <% total_subject = total_subject+1 %>
                      </tr> 
                    <% end %>  
                  <% end %>
                  <%  
                    
                    group_exams = GroupedExam.find_all_by_connect_exam_id(@connect_exam_obj.id) 
                    
                    @all_subjects = []
                    group_exams.each do |group_exam|
                      allexams = Exam.find_all_by_exam_group_id(group_exam.exam_group_id);
                      allexams.each do |exam|
                        if !@all_subjects.include?(exam.subject.id)
                          @all_subjects << exam.subject.id
                        end
                      end
                    end 
                  %>
                  
                  <% unless @report_data['report']['no_exam_subject_resutl'].blank? %>
                    <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>

                    <%  if @all_subjects.include?(report['id'].to_i) %>
                        <% total_subject = total_subject+1 %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        
                          <td class="col-pdf left-td"><b><%= report['subject_name'] %></b></td>
                          <td class="col-pdf">-</td>
                          <td class="col-pdf"><b><%= report['subject_comment'] %></td>
                        </tr>
                      <% end %>
                    <% end %>
                  <% end %>

              </table>
              <table id="pdf-table"  width="48%" class="left-table odd-table" cellspacing="0" >
                
                <tr class="even">
                    <td colspan="2"><b>GENERAL PERFORMANCE</b></td>
                </tr>
                <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['no_exams_sjws'].to_i == 0  or !has_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                        <% next %>
                      <% end %>
                      <% wordString_main = "" %>
                  
                      <% @report_data['report']['exams'].each do |report| %>
                         <% if !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank? and !report['result'][report['exam_id']][subjects['id']]['remarks'].blank?  %>
                          <% wordString_main = report['result'][report['exam_id']][subjects['id']]['remarks'] %>
                          <% break %>
                         <% end %>
                      <% end %> 
                      <% wordString = wordString_main.split("|") %>
                      
                        <% subject_groups = get_subject_group(subjects['id'].to_i,@connect_exam_obj.quarter_number) %>
                        <% iloop = 0 %>
                        <% subject_groups.each do |group_name| %>
                            <% if !wordString.blank? and !wordString[iloop].blank? %>
                            <tr class="odd">
                               <td class="col-pdf align-left"><%= group_name.name %></td>
                               <td class="col-pdf"><%=  wordString[iloop] %></td>
                           </tr>
                           <% else %>
                           <tr class="even">
                               <td class="col-pdf align-left"><%= group_name.name %></td>
                               <td class="col-pdf"></td>
                           </tr>
                           <% end %>
                          <% iloop = iloop+1 %> 
                        <% end %> 
                      
                    <% end %>
                  <% end %>
              </table>
              
              <table id="pdf-table" width="100%" class="left-table even-table signature" cellspacing="0">
                <tr class="even">
                    <td class="small-height"><b>Signature of Class Teacher</b></td>
                    <td class="small-height"><b>Signature of Academic coordinator</b></td>
                    <td class="small-height"><b>Signature of Parent(s)</b></td>
                </tr> 
                <tr class="even">
                   <td></td>
                   <td></td>
                   <td></td>
                </tr> 
              </table>

              

          </div>
      </div>



  </div>

<% end %>
<style>
    .sis-final #grouped_exam_report table.extra_padding tr.odd td.col-pdf
    {
       padding: 35px 10px !important;
    }
    .left-td
    {
       text-align:left !important;
    }
    .sis-final #grouped_exam_report table#pdf-table tr.odd td,
    .sis-final #grouped_exam_report table#pdf-table tr.even td,
    .sis-final .student_information table.std_info_table tr td
    {
        font-size: 23px !important;
    }
    .sis-final .general-header h2
    {
        font-size: 30px !important;
    }
    .page-break-grade td{
      height: 20px;
      border: 1px solid #fff;
      border-top: 1px solid Black;
      border-bottom: 1px solid Black;
    }
    .sis-final #grouped_exam_report table.signature
    {
      margin-top:60px !important;
    }
    .sis-final #grouped_exam_report table.signature tr td
    {
       height: 70px;
    }
    <% if  total_subject > 10 && total_subject<12  %>
    .sis-final #grouped_exam_report table.extra_padding tr.odd td.col-pdf
    {
       padding: 20px 10px !important;
    }
    <% end %>
    <% if  total_subject > 12 && total_subject<14  %>
    .sis-final #grouped_exam_report table.extra_padding tr.odd td.col-pdf
    {
       padding: 18px 10px !important;
    }
    
    <% end %>
    <% if  total_subject > 14 && total_subject<16  %>
    .sis-final #grouped_exam_report table.extra_padding tr.odd td.col-pdf
    {
       padding: 20px 10px !important;
    }
    <% end %>
    <% if  total_subject > 16 && total_subject<18  %>
    .sis-final #grouped_exam_report table.extra_padding tr.odd td.col-pdf
    {
       padding: 15px 10px !important;
    }
    <% end %>
    <% if  total_subject > 16 %>
    .sis-final #grouped_exam_report table.extra_padding tr.odd td.col-pdf
    {
       padding: 10px 10px !important;
    }
    <% end %>

</style>    