<% form_for(@student, :url => {:action=> 'show'}, :html=> {:id=>'new_student'}) do |s| %>
  <div id="page-yield" style="margin-top:0px;">  
      <% if @current_user.admin? or Multischool.current_school.id == 325 %>
      <div class="label-field-pair" style="float:left; clear:both; width:80%; margin-bottom:5px;">
       <label for="duedate">Select date</label>
       <div  class="text-input-bg">
         <%= calendar_date_select_tag "attandence_date",I18n.l(@date_today,:format=>"%d %b %Y"),
           :class=>"text-input-bg",:onchange =>"j('#register').html( '' );j('#student_batch_name').val( '' );j('#student_batch_name').trigger('change');" ,:readonly=>true,:popup=>:force%>
       </div>
       <div class="text-input-bg" style="cursor:pointer;  font-size: 13px;
            font-weight: bold;color: #db3434;text-decoration: underline; margin-top: 11px;"  onClick="j('#attandence_date').val('');j('#attandence_date').trigger('change');">Clear</div>
     </div>
      <% else %>
      <%= hidden_field_tag 'attandence_date',@date_today, :id=>'attandence_date' %>
      <% end %>
      <div class="row">  
        <div class="row_label">
          <div>
            <%= t('shift_label') %>
          </div>
        </div>
        <% 
         
            batches = Batch.active.find(:all,:select=>"batches.id as batch_id, batches.name as name", :group => "name")
        %>  
        <div class="row_data">
          <div>
            <div class="custom_drop_wrapper">
             <%= select :student, :batch_name, options_for_select(batches.map {|b| [b.name, b.batch_id]}, @batch_no.to_i), 
              {:prompt => "#{t('select')}"},
              {:onChange => "#{remote_function(:url => {:controller => "student", :action => "get_classes"}, :with => "'batch_id='+value+'&'+$('new_student').serialize()+'&page=courses_attendances_batch&partial_view=student/courses_attendances_batch_view&section_page=sections_attendances_batch&section_partial=student/sections_attendances_batch_view'" ,:before => "$('loading_2').show();",
              :success => "$('loading_2').hide();")}"} %>
              <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_2", :style =>"display: none;" ) %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row_label">
          <div>
            <%= t('class_label') %>
          </div>
        </div>
        <div class="row_data">
          <div>
            <div id="courses_attendances_batch" class="custom_drop_wrapper">
              <%= render :partial => 'student/courses_attendances_batch_view', :object => @courses %>
            </div>
          </div>
        </div>
      </div>

      <div class="row"  id="sections_div">
        <div class="row_label">
          <div>
            <%= t('section_label') %>
          </div>
        </div>
        <div class="row_data">
          <div>
            <div id="sections_attendances_batch" class="custom_drop_wrapper">
              <%= render :partial => 'student/sections_attendances_batch_view', :object => @classes %>
            </div>
          </div>
        </div>
      </div>
      
     
      
    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none;" ) %>


  <% end %>
  <%= hidden_field_tag 'time_zone_date',@date_today, :id=>'time_zone' %>
  <div id="subjects"></div>
  <div id="register"></div>
  <div id="modal-box" style="display:none;"></div>
</div>
<style>
    .label-field-pair label {
    width: 80px;
}
    .text-input-bg img {
  padding-top: 10px;
  padding-left: 2px;
}
  .row {
  background-color: #f8f8fa;
  border: 1px solid #DFE1E2;
  float: left;
  width: 30%;
  margin-right: 28px;
  border-right: 1px solid #DFE1E2;
}
.row_label {
  background-color: #ffffff;
  border-right: 1px solid #DFE1E2;
  float: left;
  width: 48.2%;
  padding: 0px 0px;
}
.row_label div {
  color: #868A8B;
  float: left;
  padding: 8px 10px;
  width: 80%;
}
.row_data {
  float: left;
  width: 48.6%;
}
.custom_drop_wrapper select::-ms-expand {
    display: none;
}
.custom_drop_wrapper select {
  background-color: transparent;
  background-image: url("/images/icons/drop_down_normal.png");
  background-position: 98% 0;
  background-repeat: no-repeat;
  background-size: 37px 36px;
  border: medium none;
  cursor: pointer;
  display: block;
  height: 35px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* border-right: 1px solid black; */
}

</style>  