<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%# @javascript_for_page = ['attendance','date'] %>
<%  content_for :head do%>
  <% if @config.config_value == 'Daily' %>
    <%= javascript_include_tag 'attendance', 'date' %>
  <% else %>
    <%= javascript_include_tag 'subject_leave', 'date' %>
  <% end %>

<%  end %>
<div id="page-yield" class="bg-disable">

  <div class="header-wrapper">
    <div class="header-title" style="width:68%;">
      <div class="header-icon"  style="width:12%;">
        <%= image_tag '/images/icons/attendance-header.png', :html => {:alt => 'Attendance'} %>
      </div>
      <div class="header-title-text-wrapper">
        <div class="header-title-main-text f2">
          <%= t('attendance_register') %>
        </div>
        <div class="header-title-sub-text">
          <%#= Time.now.strftime("%d/%m/%Y") %>
          <%= @local_tzone_time.to_time %>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
      <ul class="header-tabs">
        <li class="active">
          <%= link_to "Roll Call",
            {:controller=>"attendances", :action=>"index"},
            {:class => 'f2'}
        %>
        </li>
        <li>
          <%= link_to_remote "Roll Call Subject",
            :before => "Element.show('loader2');",
            :success => "Element.hide('loader2');",
            :update => 'report-roll-call',
            :url=>{:controller=>"attendances", :action=>"rollcall"},
            :html => {:class => 'f2'}
        %>
        </li>
        <li>
          <%= link_to_remote "Class Report",
            :before => "Element.show('loader2');",
            :success => "Element.hide('loader2');",
            :update => 'report-roll-call',
            :url=>{:controller=>"attendances", :action=>"class_report"},
            :html => {:class => 'f2'}
        %>
<%#= link_to "", {:controller => 'student_attendance', :action => ''}, {:class => 'f2'} %>
        </li>
        <li>
          <%= link_to_remote "Student Report",
            :before => "Element.show('loader2');",
            :success => "Element.hide('loader2');",
            :update => 'report-roll-call',
            :url=>{:controller=>"attendances", :action=>"student_report"},
            :html => {:class => 'f2'}
        %>
        </li>
      </ul>
    </div>
  </div>

  <div class="loader-image">
    <%= image_tag("loader2.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader2",
      :style =>"display: none;" ) %>
  </div>

  <div id="report-roll-call">
    <%= render :partial => "roll_register" %>
  </div>

</div>
<style>
  div.button-link-report
  {
    
    background: #C91018;
    color:white;
    
  }
  div.button-link-report:hover
  {
    background: #383838;
  }
</style>  

<% content_for :head do %>
  <%= javascript_include_tag "swfobject" %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>

<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'inline-calendar' %>

<script>
  function show_student_list(type)
  {
    if(j("#"+type).is(":visible"))
    {
      j(".std_list").hide(); 
      j("td.view").css( "background-color", "white" );
      j("td.view").css( "color", "black" );
    }
    else
    {
      j(".std_list").hide();
      j("td.view").css( "background-color", "white" );
      j("td.view").css( "color", "black" );
      j("#"+type).show();
      j("#"+type+"_view").css( "background-color", "#E6585A" );
      j("#"+type+"_view").css( "color", "white" );
    }
    
  }
</script>