<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
  <%#= show_header_icon %>
  <h1><%#= t('add') + ' ' + t('news_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%#= t('publish_t') + ' ' + t('school_news') %></div>

</div>-->
<div class="header-wrapper">
  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/notice.png', :html => {:alt => 'Notice'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
       <a href="/news/all">Notice | New</a>
      </div>
      <div class="header-title-sub-text f5">

        </div>
      </div>
    </div>    

  <div class="header-form-wrapper">
      
  </div>
</div>

<div id="page-yield" class="ch_news_wrapper" style="margin-top: 0px;">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <% form_for :news , :html => { :multipart => true } do |f| %>

    <%= error_messages_for :news %>

    <div id="add_news_form">
      <div class="news_label_field">
        <label for="title"><%= t('title') %></label>
        <div id="news_title_text_field_bg"><%= f.text_field :title %></div>
      </div>
      
      <div class="news_label_field">
        <label for="title"><%= t('category') %></label>
        <div class="text-input-bg">
          <select name="news[category_id]"  style="margin:0px;">
            <option value="1">Academic</option>
            <option value="2">Extra-Academic</option>
          </select>
        </div>
      </div>
      </br></br>
      <% content = "" %>
      <% if MultiSchool.current_school.id == 246 %>
      <%
        sign = '<p>&nbsp;</p><p>&nbsp;</p><p>Best Regards</p><img src="http://'+MultiSchool.current_school.code+'.classtune.com/images/school_logo/246/principal_signature.png" width="8%" />'
        @news.content = "<p>"+sign+"</p><p>Dr. Shaleha Kader</p><p>Chairman & Principal</p>"
    
      %>
      <%= @news.content %>
      
      <% end %>
      
      <div class="news_label_field">
        <label for="news_content"><%= t('content') %></label>
        <div id="news_content_text_field_bg">
            
          <%= fckeditor_textarea :news, :content, :value => @news.content %>
        </div>
      </div>
      <div class="news_label_field" >
          <label >Attach a File</label>
          <div  class="text-input-bg" id="assignment-attachment"><%= f.file_field  :attachment %></div>
      </div>
      
      <div class="news_label_field">
        <label >Upload Icon (500 KB, 100w*100h)</label>
        <div class="text-input-bg" id="event-image"><%= f.file_field :icon %></div>
      </div>
      
      <% if @current_user.admin? %>
      <div class="news_label_field" >
          <label>Common</label>
          <div class="text-input-bg">
              <select name="news[is_common]" style="margin:0px;" onchange="hide_show_hidden(this.value)">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
          </div>
      </div>
      
      <div class="news_label_field hidden_field_class_department" style="float: left; display:none;clear: both;width: 100%;margin: 10px 0px;" >
          <label >Select Class</label>
          <% @batches.each do |batch| %>
            <div style="float:left; width:33%;">
                <%= check_box_tag "select_options[batch_id][]",batch.id %>&nbsp;&nbsp;<%= batch.full_name %> 
            </div>    
          <% end %>
      </div>
      <% else %>
      <div class="news_label_field" style="display:none;" >
          <label>Common</label>
          <div class="text-input-bg">
              <select name="news[is_common]" style="margin:0px;" onchange="hide_show_hidden(this.value)">
                <option value="1">Yes</option>
                <option value="0" selected="selected">No</option>
              </select>
          </div>
      </div>
      <div class="news_label_field hidden_field_class_department" style="float: left;clear: both;width: 100%;margin: 10px 0px;" >
          <label >Select Class</label>
          <% @batches.each do |batch| %>
            <div style="float:left; width:33%;">
                <%= check_box_tag "select_options[batch_id][]",batch.id %>&nbsp;&nbsp;<%= batch.full_name %> 
            </div>    
          <% end %>
      </div>
      <% end %>
      
      
      <% if @current_user.admin? %>
      <div class="news_label_field hidden_field_class_department" style="float: left;clear: both;width: 100%;display:none;margin: 10px 0px;" >
          <label >Select Employee Department</label>
          <% @employee_department.each do |department| %>
            <div style="float:left; width:25%;">
                <%= check_box_tag "select_options[department][]",department.id %>&nbsp;&nbsp;<%= department.name %> 
            </div>    
          <% end %>
      </div>
      <% end %>
      <div class="news_label_field" >
          <label>Can Comment</label>
          <div class="text-input-bg">
              <select name="news[can_comment]" style="margin:0px;">
                <option value="1">Yes</option>
                <option value="0">No</option>
              </select>
          </div>
      </div>
    </div>
    <%= hidden_field :news,"is_published", :value =>1 %>

    <%= submit_tag "", :value => "► #{t('publish_news')}", :class => "news_publish_button", :disable_with => "► #{t('please_wait')}" %>
  
    <input style="margin-left: 10px;
    padding: 7px 10px;
    color: #fff;
    background: #db3434;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;background:#49BB4B !important" class="news_publish_button" name="commit" onclick="j('#news_is_published').val('0');if (window.hiddenCommit) { window.hiddenCommit.setAttribute('value', this.value); }else { hiddenCommit = document.createElement('input');hiddenCommit.type = 'hidden';hiddenCommit.value = this.value;hiddenCommit.name = this.name;this.form.appendChild(hiddenCommit); }this.setAttribute('originalValue', this.value);this.disabled = true;this.value='► Please Wait';result = (this.form.onsubmit ? (this.form.onsubmit() ? this.form.submit() : false) : this.form.submit());if (result == false) { this.value = this.getAttribute('originalValue');this.disabled = false; }return result;" type="submit"  value="Save As Draft">

  <% end %>
  <%= load_redactor_script %>
</div>
<%= stylesheet_link_tag 'tadded-header' %>
<script>
  function hide_show_hidden(value)
  {
    if(value==1)
    {
      j(".hidden_field_class_department").hide();
    }
    else
    {
      j(".hidden_field_class_department").show();
    }  
  }
</script>  