<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
  <%#= show_header_icon %>
  <h1><%#= t('news_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%#= t('read_news') %></div>

</div>-->
<div class="header-wrapper">
  <div class="header-title">
    <div class="header-icon">
      <% if @news.icon.file? %>
         <%= image_tag @news.icon.url, :alt => 'Notice',:style=>"width:70px; height:70px;"  %>      
      <% else %>
         <%= image_tag '/images/icons/notice.png', :html => {:alt => 'Notice'} %>
      <% end %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
       <a href="/news/all">Notice | Edit</a>
      </div>
      <div class="header-title-sub-text f5">

        </div>
      </div>
    </div>    

  <div class="header-form-wrapper">
      
  </div>
</div>
<div id="page-yield" class="ch_news_wrapper" style="margin-top: 0px;">

  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>

  <% form_for :news, :html => { :multipart => true } do |f| %>

    <%= error_messages_for :news %>

    <div id="add_news_form">
      <div class="news_label_field">
        <label for="news_title"><%= t('title') %></label>
        <div id="news_title_text_field_bg"><%= f.text_field :title, :value => @news.title %></div>
      </div>
      <div class="news_label_field">
        <label for="news_title"><%= t('category') %></label>
        <div class="text-input-bg">
          
          <%= select :news, :category_id, [["Academic",1],["Extra-Academic",2]], :selected => @news.category_id,:class=>"no_margin" %>
        </div>
      </div>
      </br></br>
      <div class="news_label_field">
        <label for="news_content"><%= t('content') %></label>
        <div id="news_content_text_field_bg">
          <%= fckeditor_textarea :news, :content, :value => @news.content %>
        </div>
      </div>
      <div class="news_label_field" >
          <label >Attach a File</label>
          <div  class="text-input-bg" id="assignment-attachment"><%= f.file_field  :attachment %></div>
      </div>
      
      <div class="news_label_field">
        
        <label >Upload Icon (500 KB, 50w*50h)</label>
        <div class="text-input-bg" id="event-image"><%= f.file_field :icon %></div>
        <% if @news.icon.file? %>
         <%= image_tag @news.icon.url %>      
        <% end %>
      </div>
      <% if @current_user.admin? %>
       <div class="news_label_field" >
           <label>Common</label>
           <div class="text-input-bg">
              <select name="news[is_common]" style="margin:0px;" onchange="hide_show_hidden(this.value)">
                <option value="1" <% if @news.is_common==1 %> selected="selected"<% end %>>Yes</option>
                <option value="0"  <% if @news.is_common==0 %> selected="selected"<% end %>>No</option>
                <option value="2"  <% if @news.is_common==2 %> selected="selected"<% end %>>Specific Student</option>
                <option value="3"  <% if @news.is_common==3 %> selected="selected"<% end %>>Specific Employee</option>
              </select>
          </div>
          
      </div>
      <% else %>
      
      <div class="news_label_field" style="float: left;clear: both;width: 100%;margin: 10px 0px;">
           <label>To</label>
           <div class="text-input-bg">
              <select name="news[is_common]" style="margin:0px;" onchange="hide_show_hidden(this.value)">
                <option value="0"  <% if @news.is_common==0 %> selected="selected"<% end %>>Batch Students</option>
                <option value="2"  <% if @news.is_common==2 %> selected="selected"<% end %>>Specific Student</option>
              </select>
          </div>      
      </div>
      
      <% end %>
      <div class="news_label_field hidden_field_class_department" style="float: left;<% if @news.is_common!=0 %> display:none;<% end %>clear: both;width: 100%;margin: 10px 0px;" >
          <label >Select Class</label>
          <% @batches.each do |batch| %>
            <div style="float:left; width:33%;">
                <%
                selected = false
                if @batches_ids.include?(batch.id.to_i) 
                  selected = true
                end
                %> 
                  
                <%= check_box_tag "select_options[batch_id][]",batch.id,selected %>&nbsp;&nbsp;<%= batch.full_name %> 
            </div>    
          <% end %>
      </div>
      <% if @current_user.admin? %>
      <div class="news_label_field hidden_field_class_department" style="float: left;clear: both;width: 100%;<% if @news.is_common!=0 %> display:none;<% end %>margin: 10px 0px;" >
          <label >Select Employee Department</label>
          <% @employee_department.each do |department| %>
            <div style="float:left; width:25%;">
                 <%
                selected = false
                if @department_ids.include?(department.id.to_i) 
                  selected = true
                end
                %> 
                <%= check_box_tag "select_options[department][]",department.id,selected %>&nbsp;&nbsp;<%= department.name %> 
            </div>    
          <% end %>
      </div>
      <div class="news_label_field hidden_field_class_department hidden_field_class_department_employee" style="float: left; <% if @news.is_common!=3 %> display:none;<% end %>clear: both;width: 100%;margin: 10px 0px;" >
          <label >Select Department</label>
          <div class="text-input-bg">

              <%= select :employee, :department_id,
                options_for_select(@employee_department.map {|b| [b.name, b.id]},@batch_id_for_user_news),
        {:prompt => "Select A Department"},
        {:onChange => "#{remote_function(:url => {:action => "list_employees"},
        :with => "'department_id='+ value",
        :before => "Element.show('loader2')",
        :success => "Element.hide('loader2')"
        )}"} %>
             
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader2",
            :style =>"display: none;" ) %>
          </div>
      </div>
      <% end %>
      <div class="news_label_field hidden_field_class_department hidden_field_class_department_student" style="float: left; <% if @news.is_common!=2 %> display:none;<% end %>clear: both;width: 100%;margin: 10px 0px;" >
          <label >Select Class</label>
          <div class="text-input-bg">

              <%= select :batch, :batch_id,
                options_for_select(@batches.map {|b| [b.full_name, b.id]},@batch_id_for_user_news),
        {:prompt => "#{t('select_a_batch')}"},
        {:onChange => "#{remote_function(:url => {:action => "list_students"},
        :with => "'batch_id='+ value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"} %>
             
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
          </div>
      </div>
      <div id="student-list"  style="float: left;clear: both;width: 100%;margin: 10px 0px;">
          <% if @batch_id_for_user_news != 0 %>
            <% if @news.is_common == 2 %>
            <% @students_all = Student.find_all_by_batch_id(@batch_id_for_user_news) %>
            <div id="list">
              <div class="sel-list">
                <%= t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" %>,
            <%= link_to_function "#{t('none')}", "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" %>
            </div>
            <% @students_all.each do |student| %>

             <div class="name_list<%=cycle('odd', 'even')%>">
              <li>
                <% checked = false %>
                <% if @usernews_ids.include?(student.user_id) %>
                  <% checked = true %>
                <% end %>  
                <label><%= check_box_tag "list[student_ids][]", student.user_id, checked,:class=>'right' %>
                <div class="att_list_names"><%= student.full_name %></div> </label>
              </li>  
             </div>
            <% end %>
            </div>
          <% elsif @news.is_common == 3 %>
            <% @employee_all = Employee.find_all_by_employee_department_id(@batch_id_for_user_news) %>
            <div id="list">
              <div class="sel-list">
                <%= t('select') %>: <%= link_to_function "#{t('all')}", "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" %>,
            <%= link_to_function "#{t('none')}", "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" %>
            </div>
            <% @employee_all.each do |employee| %>

             <div class="name_list<%=cycle('odd', 'even')%>">
              <li>
                <% checked = false %>
                <% if @usernews_ids.include?(employee.user_id) %>
                  <% checked = true %>
                <% end %>  
                <label><%= check_box_tag "list[student_ids][]", employee.user_id, checked,:class=>'right' %>
                <div class="att_list_names"><%= employee.full_name %></div> </label>
              </li>  
             </div>
            <% end %>
            </div>
          <% end %>  
          <% end %>
      </div>
      <div class="news_label_field" style="float: left;clear: both;width: 100%;margin: 10px 0px;" >
          <label>Can Comment</label>
          <div class="text-input-bg">
              <select name="news[can_comment]" style="margin:0px;">
                <option value="1" <% if @news.can_comment.to_i==1 %> selected="selected"<% end %>>Yes</option>
                <option value="0" <% if @news.can_comment.to_i==0 %> selected="selected"<% end %>>No</option>
              </select>
          </div>
      </div>
      
    </div>
  
    </div>

    <%= submit_tag "", :value => "► #{t('update')}", :class => "news_publish_button" %>
  <% end %>
  <%= load_redactor_script %>
</div>
<%= stylesheet_link_tag 'tadded-header' %>

<style>
    select.no_margin
    {
        margin:0px;
    }
    
</style>    

<script>
  function hide_show_hidden(value)
  {
    if(value==1)
    {
      j(".hidden_field_class_department").hide();
      j(".hidden_field_class_department_student").hide();
      j(".hidden_field_class_department_employee").hide();
      j("#student-list").html("");
    }
    else if(value==2)
    {
      j(".hidden_field_class_department").hide();
      j(".hidden_field_class_department_employee").hide();
      j(".hidden_field_class_department_student").show();
      j("#student-list").html("");
    }
    else if(value==3)
    {
      j(".hidden_field_class_department").hide();
      j(".hidden_field_class_department_student").hide();
      j(".hidden_field_class_department_employee").show();
      j("#student-list").html("");
    }
    else
    {
      j(".hidden_field_class_department").show();
      j(".hidden_field_class_department_employee").hide();
      j(".hidden_field_class_department_student").hide();
      j("#student-list").html("");
    } 
  }
</script> 
<style>
   #employee_department_id
   {
     margin:0px;
   }
   #batch_batch_id
   {
     margin:0px;
   }
   .name_listodd{
    background:#E4EBFE;
    height:30px;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.name_listeven{
    background:#DAE6FF;
    height:30px;
    width:400px;
    border-top:1px solid #C2CEEF;
}
.att_list_names {
    display:inline;
    font-weight: 600;
    font-size: 13px;
}
label {display:inline;}

#list {
    width:400px;
}
#list li {
    padding:6px 0 0 50px;
    list-style-type:none;
}
#list li label input {
    margin-right:10px;
}
</style>  