<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
<%#= show_header_icon %>
  <h1><%#= t('news_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%#= t('read_news') %></div>

<%# if @is_moderator %>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('edit_text')}",{:controller => "news",  :action => "edit", :id => @news.id } %></li>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('delete_text')}",{:controller => "news", :action => "delete", :id => @news.id },:confirm => "#{t('delete_confirm_msg')}" %></li>
    </ul>
  </div>
<%# end %>

</div>-->

<div class="header-wrapper">
  <div class="header-title">
    <div class="header-icon">
        <% if @news.icon.file? %>
          <%= image_tag @news.icon.url, :html => {:alt => 'Notice'}  %>      
        <% else %>
          <%= image_tag '/images/icons/notice.png', :html => {:alt => 'Notice'} %>
        <% end %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
       <a href="/news/all"> Notice</a>
       <span style="float: left;clear:both;font-size: 15px;"><%= Time.now.strftime("%Y-%m-%d") %></span>
      </div>
      <div class="header-title-sub-text f5">

        </div>
      </div>
    </div>    

  <div class="header-form-wrapper">
     
    <% if @is_moderator %>
      <div class='header-right-button'><%= link_to "#{t('edit_text')}",{:controller => "news",  :action => "edit", :id => @news.id } %>      </div>
      <div class='header-right-button'><%= link_to "#{t('delete_text')}",{:controller => "news", :action => "delete", :id => @news.id },:confirm => "#{t('delete_confirm_msg')}" %>      </div>
      
        <% if @news.is_published==0 %>
         <div class='header-right-button' style="float:right; clear:both; margin-bottom:5px;"> <%= link_to "Published Notice", { :action => 'published_news', :id =>@news.id},
              :confirm => "Do You realy want to publish this notice?" %></div>
          <% end %>  
      
      <d


    <% end %>
      
  </div>
</div>
<div id="page-yield" class="ch_news_wrapper" style="margin-top: 0px;">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="news_title">
    <%= @news.title %>
  </div>
  <div id="create_date" class="themed_text">
    <%= t('posted_on') %> <%= I18n.l(@news.created_at,:format=>"%A, %d %B, %Y") %>
    <% if @news.category_id == 1
              @category = "Academic"
            elsif @news.category_id == 2
              @category = "Extra-Academic"
            else
              @category = "None"
            end %>
            ( <%= @category %> )
  </div>
  <div id="news_content" style="padding:0px;">
    <%= sanitize @news.content , :tags => %w[b i a h1 h2 h3 u li ol strike p img font span sup sub tr td table th tbody thead strong em iframe], :attributes => %w[href src style border cellspacing cellpadding height width align]%>
  </div>
  
  <% unless @news.attachment_file_name.nil? %>
  <div class="portlet-subcontent atachment_div" style="width:100%">
    <div style=" float: left; clear:both;  margin: 10px 0px;">
      <%= link_to 'Download Attachment', :controller => "news", :action => "download_attachment" , :id=>@news.id %>
    </div>
  </div>  
  <% end %>
  <%  @config = Configuration.find_by_config_key('NoticeComment') %>
  <% if @config.blank? or @config.config_value.blank? or @config.config_value.to_i == 0 %>
    <% if @news.can_comment.to_i == 1 %>
    <h4 id="leave-a-comment"><%= t('leave_comment') %>   <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader",
        :style =>"display: none;" ) %></h4>

    <% form_remote_for :comment, :id => 'comments-form', :url => { :action => 'add_comment' },  :loading => "$('loader').show();$('mysubmit').disable();", :loaded => "$('loader').hide();$('mysubmit').enable();" do |f| %>
      <div class="comment-content"> <%= f.text_area :content %> </div>
      <%= f.hidden_field :news_id, :value => @news.id %>
      <div id="submit-button"><%= submit_tag '', {:value =>"► #{t('submit')}",:onClick => "return validate()",:id => "mysubmit"} %></div>
    <% end %>
    <div class="extender"></div>
    <% else %>
      <p style="color:red">Comment section is off by "<%= @news.author.first_name %> <%= @news.author.last_name %>" for this notice</p>
    <% end %>
    
    <h3 id="comments-heading"><%= t('comments') %>
     <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader2",
        :style =>"display: none;" ) %></h3>
    <span id="comments-count"><% if @comments.empty? %><%= t('no_comments') %><% end %></span>
    <ul id="comments-list">
      <%= render :partial => "comment" %>
    </ul>
  <% end %>

</div>
<script type="text/javascript">
  function validate()
  {

    if($('comment_content').value.trim()=="")
    {
      return false;
    }
    else
    {
      return true;
    }
  }
</script>
<%= stylesheet_link_tag 'tadded-header' %>