<% unless @courses.nil? %>    
  <% unless @batches.nil? %>
  <ul id="category-list" style="float: left; width: 650px; padding: 10px 1px 0 10px; ">
  <% else %>    
  <ul id="category-list">    
  <% end %>        
    <% @courses.each do |course| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <% courses_batches = course.courses_batches.split(',') %>
        <%#*<div class="category-name"><%= link_to course.course_name, course_path(course) </div>%>
        <div id="cate_name_<%= course.id %>" class="category-name" style="width: 100px; padding: 4px 2px 8px 8px;"><%=  course.course_name %></div>
        <div id="cate_sections_<%= course.id %>" class="category-sections" style=" padding: 4px 2px 12px 8px;">
          <% courses_batches.each do |cb| %>
            <%# a_course_batch_info = cb.split('-') %>
            <% @batch_data =   Batch.find(cb) %>
            <%= link_to course.section_name, {:controller => "syllabus", :action => 'show_syllabus', :batch_id => @batch_data.id, :batch_name => @batch_data.name, :course_name => course.course_name,:class=>false},:target => "_blank", :class => "user_button", :style => "margin-top: 0px;"  %>            
          <% end %>  
          
        </div>
        <%# a_course_batch_info = courses_batches[0].split('-')   %>
        <%# batch_id = a_course_batch_info[2]   %>
        <div class="category-name" style="padding: 0 2px 8px 8px; float: right; width: 80px; ">
            <%#*new_batch_exam_group_path(Batch.find(batch_id),:class_exam=>true)%>
            <% unless @batch_data.nil? %>
            <%= link_to t('syllabus_text'), {:controller => "syllabus", :action => 'show_syllabus', :batch_id => @batch_data.id, :batch_name => @batch_data.name, :course_name => course.course_name,:class=>true},:target => "_blank", :class => "user_button", :style => "margin-top: 0px;"  %>            
            <% end %>
        </div>
      </li>
    <% end %>

  </ul>
<% end %>