<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%
  copy = []
  copy << "Parent/Student Copy"
  copy << "VAT Office Copy"
  copy << "School Copy"
  copy << "Bank Copy"
  
  
%>

<% @jloop = 0 %>
<div id="page-yield" class="available_sections">
    <% copy.each do |cp| %>
    <% @jloop = @jloop+1 %>
    <div class="div-24 div_number_<%= @jloop %>" >
            
               <table class="vat_area">
                   <tr>
                       <td class="left">Area Code: 180303</td>
                       <td class="right">VAT Reg No : 18131064795</td>
                   </tr>
               </table>
          
       
            <center>
                <div id="pdf-header-south" class="general-header">
                  <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/312/logo.jpg")),:width=> '16%' %></h4>
                  <h3 align="center"><%=Configuration.get_config_value('InstitutionName').upcase %></h3>
                 
                    <h5 align="center">House#02, Road#02, Banani, Dhaka-1213</h5>
                    <h5 align="center">Tel : 9895153</h5>
                    <h4 align="center"><b>Dhaka Bank Limited, Mohakhali Branch</b></h4>
                    <h4 align="center">SND Account No : 225.150.132</h5>
                
                </div>
            </center>
            <% total_fees = 0 %>
            <table class="std_info">
                <tr>  
                    <td class="left">For Month:</td> <td><b><%=  "#{@date.name}" %></b></td>
                    <td class="right">Date:</td> <td><b>&nbsp;______/______/______</b></td>
                </tr>
            </table>     
            <table class="std_info">
               
                <tr>
                    <td colspan="1"><%= "Name of student" %>:</td> <td colspan="11"><b> <%=  "#{@student.full_name}" %></b></td>
                </tr>
                <tr>
                    <td colspan="1"><%= "Shift" %>:</td> <td colspan="5"><b> <%=  "#{@student.batch.name}" %></b></td>
                    <td colspan="2" class="td-align-right"><%= "Medium" %>:</td> <td colspan="4"><b><%=  "English" %></b></td>
                </tr>
                    <td colspan="1"><%= "Class" %>:</td> <td colspan="3"><b><%=  "#{@student.batch.course.course_name}" %></b></td>
                    <td colspan="1" class="td-align-right"><%= "Section" %>:</td> <td colspan="3"> <b><%=  "#{@student.batch.course.section_name}" %></b></td>
                    <td colspan="1" class="td-align-right"><%= "Roll" %>:</td> <td colspan="3"><b> <%=  "#{@student.class_roll_no}" %></b></td>
                </tr> 
                 
            </table>
          
       
       
            <table id="pdf-table" width="98%" cellspacing="0">
                <tr class="table-header">
                    <td class="name-td"  colspan="2"><%= "Fee Details" %></td>
                    <td class="mark-td"> <%= "Taka" %></td>
                </tr>
                <% subject_discount = 0 %>
                <% laboratory_discount = 0 %>
                <% unless @total_discount == 0 %>
                  <% @discounts.each do |d| %>
                    <% unless d.name.index("Tuition").blank?  %>
                    
                         <% subject_discount = d.discount.to_f %> 
                    
                    <% end %>
                    <% unless d.name.index("Laboratory").blank?  %>
                    
                         <% laboratory_discount = d.discount.to_f %> 
                    
                    <% end %>
                  <% end %>  
                <% end %>
                <% @total_discount = @total_discount - subject_discount - laboratory_discount  %>
                
                <%k=7%>
                <% i = 0  %>
                <% c= 'even' %>
                <% vat_amount = 0 %>
                <% vat_amount_main = 0 %>
                <% @fee_particulars.each do |fee| %>
                   <%  if fee.name.index("VAT").blank? %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% unless fee.name.index("Tuition").blank?  %>
                            <% fee.amount = fee.amount.to_f-subject_discount %>
                          <% end %>
                          <% unless fee.name.index("Laboratory").blank?  %>
                            <% fee.amount = fee.amount.to_f-laboratory_discount %>
                          <% end %>
                          <%k+=1%>
                          <td class="name-td" colspan="2"><%= fee.name %></td>
                          <td class="mark-td"><% if fee.amount.to_i > 0 %><%= "#{precision_label(fee.amount.to_f.round())}" %><% else %>-<% end %></td>
                      </tr>
                      <% total_fees += fee.amount %>
                  <% else %>
                      <% vat_amount_main = vat_amount_main+fee.amount %>
                      <% vat_amount = vat_amount_main.round() %>
                  <% end %>    
                <% end %>
                 
                <% @discount_without_vat = 0 %>
                <% @vat_discount = 0 %>
                <% unless @total_discount == 0 %>
                 

                  <% @discounts.each do |d| %>
                    <% unless d.is_amount == true %>
                    <%  @vat_discount += vat_amount_main * d.discount.to_f/100 %>
                    
                    <% end %>
                  <% end %>
                  
                  
                  <% vat_amount = vat_amount_main-@vat_discount %>
                  <% vat_amount = vat_amount.round() %>
                    
                  <% @discounts.each do |d| %>
                    <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}(#{d.discount.to_i}%)" %>
                    <% if d.name.index("Tuition").blank? or d.name.index("Laboratory").blank?  %>
                    <%k+=1%>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">   
                        <td class="name-td"  colspan="2"><%= discount_text %></td>
                        <%  dis = total_fees * d.discount.to_f/ (d.is_amount?? total_fees : 100) %>
                        <td class="mark-td"><%= precision_label(dis.to_f.round()) %></td>
                        <%  @discount_without_vat += total_fees * d.discount.to_f/ (d.is_amount?? total_fees : 100) %>
                        <% @discount_without_vat = @discount_without_vat.to_f.round() %>
                    </tr>
                    
                    <% end %>
                  <% end %>


           


                <% end %>

                <% if @paid_fees%>



                  <% unless @paid_fees.blank? %>
                    <% @paid_fees.each do |trans| %>
                      <% if trans.fine_included %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <%k+=1%>
                            
                            <td class="col-2"  colspan="2"><span><%= t('fine_on') %> <%= trans.transaction_date %></span></td>

                            <td class="col-4"><%= "#{precision_label(trans.fine_amount.to_f)}" %></td>
                        </tr>
                        <% total_fees += trans.fine_amount.to_f %>
                      <% end %>
                    <% end %>
                  <% end %>
                <%end%>
                <% unless @paid_fees.nil? %>
                  <% paid=0 %>
                  <% @paid_fees.each{|a| paid += a.amount.to_f} %>
                  <% total_fees -= paid %>
                  <%if @fine_amount.present?%>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        <%k+=1%>
                        <td class="col-8" colspan="2" ><%= t('fine_on') %> <%= Date.today %></td>
                        <td class="col-6" ><%= "#{precision_label(@fine_amount.to_f)}" %></td>
                    </tr>
                  <%end%>
                    <% if paid.to_i>0 %>
                     <% @fee_particulars.each do |fee| %>
                        <%  if !fee.name.index("Vat").blank? %>
                          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="name-td" colspan="2"><b><%= fee.name %></b></td>
                            <td class="mark-td"><% if fee.amount.to_i > 0 %><%= "#{precision_label(vat_amount.round().to_s)}" %><% else %>-<% end %></td>
                          </tr>
                        <% end %>
                    <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <%k+=1%>
                          <td class="col-8" colspan="2" ><%= t('payment_done') %></td>
                          <td class="col-6" ><%= precision_label(paid.round()) %></td>
                      </tr>
                    <% end %>
                  
                <% end %>
                <% if paid.to_i<=0 %> 
                  <%balance=@financefee.balance.to_f+@fine.to_f+@fine_amount.to_f-vat_amount.round()%>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <%k+=1%>
                      <td colspan="2" class="col-8"><b><%= "Total(Without VAT)" %></b></td>
                      <td class="col-pdf"><%= "#{precision_label(balance.round())}" %></td>
                  </tr>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td colspan="3">Amount in words :<b><%= in_words(balance.round().to_i).titleize  %></b></td>
                  </tr>
                  <% if params[:show_two].blank? %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <% date_one = @date.due_date.to_date+1.days %>
                      <% date_two = date_one+1.months %>
                      <% date_two = date_two-1.days %>
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 200 Tk( if payment date is from <b><%= date_one.to_date.strftime("%d-%m-%Y").to_s %></b> to <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b>  ) </td>
                      <%
                       
                        balance1 = balance+200
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance1.round())}" %></td>
                  </tr>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <% date_one = date_two+1.days %>
                      <% date_two = date_one+1.months %>
                      <% date_two = date_two-1.days %>
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 400 Tk( if payment date is from <b><%= date_one.to_date.strftime("%d-%m-%Y").to_s %></b> to <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b>  ) </td>
                      <%
                       
                        balance2 = balance+400
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance2.round())}" %></td>
                  </tr>
                  
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                        <td colspan="2" class="col-8"><b>Payable amount with fine of 1000 Tk( if paid after <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b> )</td>
                        <%
                          
                          balance3 = balance+1000
                        %>

                        <td class="col-pdf"><%= "#{precision_label(balance3.round())}" %></td>
                    </tr>
                  <% else %>
                 <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <% date_one = @date.due_date.to_date+1.days %>
                      <% date_two = date_one+15.days %>
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 200 Tk+VAT( if payment date is from <b><%= date_one.to_date.strftime("%d-%m-%Y").to_s %></b> to <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b>  ) </td>
                      <%
                        fine_vat = (200*7.5)/100
                        fine_vat = fine_vat.ceil
                        total_fine = 200+fine_vat.to_i
                        balance1 = balance+total_fine
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance1.round())}" %></td>
                  </tr>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 400 Tk+VAT( if paid after <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s%></b> ) </td>
                      <%
                        fine_vat = (400*7.5)/100
                        fine_vat = fine_vat.ceil
                        total_fine = 400+fine_vat.to_i
                        balance2 = balance+total_fine
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance2.round())}" %></td>
                  </tr>
                <% end %>
                  
                  <% @fee_particulars.each do |fee| %>
                      <%  if !fee.name.index("VAT").blank? %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <td class="name-td" colspan="2"><b><%= fee.name %></b></td>
                          <td class="mark-td"><% if fee.amount.to_i > 0 %><%= "#{precision_label(vat_amount.round().to_s)}" %><% else %>-<% end %></td>
                        </tr>
                        <% balance = balance+vat_amount.round() %>
                      <% end %>
                  <% end %>

                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <%k+=1%>
                      <td colspan="2" class="col-8"><b>Total Payable Amount Including VAT <br/>(if paid within <%= @date.due_date.to_date.strftime("%d-%m-%Y") %> )</b></td>
                      <td class="col-pdf"><%= "#{precision_label(balance.round())}" %></td>
                  </tr>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td colspan="3">Amount in words :<b><%= in_words(balance.round().to_i).titleize  %></b></td>
                  </tr>


                  <% if params[:show_two].blank? %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <% date_one = @date.due_date.to_date+1.days %>
                      <% date_two = date_one+1.months %>
                      <% date_two = date_two-1.days %>
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 200 Tk+VAT( if payment date is from <b><%= date_one.to_date.strftime("%d-%m-%Y").to_s %></b> to <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b>  ) </td>
                      <%
                        fine_vat = (200*7.5)/100
                        fine_vat = fine_vat.ceil
                        total_fine = 200+fine_vat.to_i
                        balance1 = balance+total_fine
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance1.round())}" %></td>
                  </tr>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <% date_one = date_two+1.days %>
                      <% date_two = date_one+1.months %>
                      <% date_two = date_two-1.days %>
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 400 Tk+VAT( if payment date is from <b><%= date_one.to_date.strftime("%d-%m-%Y").to_s %></b> to <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b>  ) </td>
                      <%
                        fine_vat = (400*7.5)/100
                        fine_vat = fine_vat.ceil
                        total_fine = 400+fine_vat.to_i
                        balance2 = balance+total_fine
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance2.round())}" %></td>
                  </tr>
                  
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                        <td colspan="2" class="col-8"><b>Payable amount with fine of 1000 Tk+VAT( if paid after <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b> )</td>
                        <%
                          fine_vat = (1000*7.5)/100
                          fine_vat = fine_vat.ceil
                          total_fine = 1000+fine_vat.to_i
                          balance3 = balance+total_fine
                        %>

                        <td class="col-pdf"><%= "#{precision_label(balance3.round())}" %></td>
                    </tr>
                  <% else %>
                 <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <% date_one = @date.due_date.to_date+1.days %>
                      <% date_two = date_one+15.days %>
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 200 Tk+VAT( if payment date is from <b><%= date_one.to_date.strftime("%d-%m-%Y").to_s %></b> to <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s %></b>  ) </td>
                      <%
                        fine_vat = (200*7.5)/100
                        fine_vat = fine_vat.ceil
                        total_fine = 200+fine_vat.to_i
                        balance1 = balance+total_fine
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance1.round())}" %></td>
                  </tr>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td colspan="2" class="col-8"><b>Payable amount with fine of 400 Tk+VAT( if paid after <b><%= date_two.to_date.strftime("%d-%m-%Y").to_s%></b> ) </td>
                      <%
                        fine_vat = (400*7.5)/100
                        fine_vat = fine_vat.ceil
                        total_fine = 400+fine_vat.to_i
                        balance2 = balance+total_fine
                      %>

                      <td class="col-pdf"><%= "#{precision_label(balance2.round())}" %></td>
                  </tr>
                <% end %>
                <% end %>
                <% if ((k+1)%1)==0 %>
              </table>
              </center>
               <table id="pdf-table" width="100%" >

                    <% end %>
                </table>
              <h3>&nbsp;</h3>
              <h3>&nbsp;</h3>
              <table class="signature">
                  <tr>
                      <td>Parent/Student</td>
                      <td>Cashier</td>
                      <td>Officer</td>
                  </tr>
              </table>
              
              <h4 align="center">Parent Mobile No: .........................</h4>
             
              <center>
                <div id="pdf-header-south" class="copy">
                    <h3><%= cp %></h3>
                </div>          
              <center>      
              
    </div>
    
    <% end %>
    
    
</div>

