<div id="pdf-footer">

    <table id="listing table-design"  width="100%"  style="margin-top:10px;">
        <thead>          

            <tr>
                <td class="">
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/sjis/principal_n.png")),:width=> '36%' %><br />
                    <%= "---------------------------------------------------------------" %><br />
                    <font size='5'><%= "Principal" %></font>
                </td>
                <td class="">
                    <br /><br /><br /><br />
                    <%= "---------------------------------------------------------------" %><br />
                    <font size='5'><%= "Class Teacher" %></font>
                </td>

                <td class="">
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/sjis/director_n.png")),:width=> '25%' %><br/>
                    <%= "---------------------------------------------------------------" %><br />
                    <font size='5'><%= "Director" %></font>
                </td>
        </tr>

    </table>
</div>