<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 sis sis-final">
      <div class="section1 row" >
         
              
                  <table id="pdf-table"  width="100%" class="no-border left-clear-both margin-bottom-20"  cellspacing="0" >
                      <tr>
                          <td class="align-left" width="3%">&nbsp;</td>
                          
                          <td class="align-left" width="20%">  
                              <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/ess/logo.jpg")),:width=> '90%' %>  
                          </td>
                          <td width="74%">
                              <h4 align="center"><font size="7" color="#4CAEE3">EUROPEAN STANDARD SCHOOL(ESS)</font></h2>
                              <h4 align="center" style="margin-top:-5px;"><font size="6" color="#000"><%= @connect_exam_obj.name %></font></h2>
                              <% month_number = @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%-m"):@connect_exam_obj.published_date.strftime("%-m") %>
                              <h4 align="center" style="margin-top:-5px;">
                                <font size="6" color="#000">
                                  <% if month_number.to_i>6 %>
                                    Session : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i+1:@connect_exam_obj.published_date.strftime("%Y").to_i+1 %>
                                  <% else %>
                                    Session : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i-1:@connect_exam_obj.published_date.strftime("%Y").to_i-1 %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>
                                  <% end %>
                                </font>
                              </h4>
                              <h4 align="center" style="margin-top:-5px;">
                                <font size="6" color="#000">
                                  Class : <%= @batch.course.course_name %>
                                </font>
                              </h4>  
                          </td>
                          <td class="align-left" width="3%">&nbsp;</td>
                          
                     </tr>
                     <tr><td colspan="3">&nbsp;</td></tr>
                  </table>
            
      </div>
      <% class_teacher = "" %>
      <% class_teachers = [] %>
      <% if !@assigned_employee.blank? %>
        <% @assigned_employee.each do |emp| %>
           <% class_teachers << emp.first_name+" "+emp.last_name %>
        <% end %>
       <% end %>
      <% unless class_teachers.blank? %>
        <% class_teacher = class_teachers.join(", ") %>
      <% end %>
      <div class="student_information">
          <table class="std_info_table" width="100%" cellspacing="0">
              <tr>
                  <td class="align-left">Name : <%= @student.full_name %></td>
                  <td class="align-left">Roll : <%= @student.class_roll_no %></td>
                  <% unless @batch.course.section_name.blank? %>
                    <td class="align-left">Section : <%= @batch.course.section_name %></td>
                  <% end %>
                  <td class="align-left">A /C ID : <%= @student.admission_no %></td>
              </tr>
              <tr>
                  
                  <td class="align-left" <% unless @batch.course.section_name.blank? %>colspan="4"<% else %>colspan="3"<% end %>>Class Teacher :
                      <%= class_teacher  %>
                  </td>
              </tr>
          </table>
      </div>
     
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
              <table id="pdf-table"  width="100%" class="left-table even-table exam-marks" cellspacing="0">
                  <% c = 'even'  %>
                 
                  <% total_mark_of_allexam = 0 %>
                
                  <tr class="even">
                    <td><b>Subjects</b></td>
                    <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <td><b><%= report['exam_name'] %></b></td>
                         <% end %>
                    <% end %>
                    <td ><b>Total</b></td> 
                  </tr>
                  
                  <% total_marks = 0 %>
                  <% total_marks_obtain = 0 %>
                  <% subject_count = 0 %>
                  <% @batch_subjects = Subject.find_all_by_batch_id(@batch.id)  %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                    <%
                      has_mark = 0
                      absent = true
                       unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                             
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  has_mark = has_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s != "AB"
                                    absent = false
                                  end
                                end
                            end
                       end  
                  
                    %>
                      <% if subjects['no_exams_sjws'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <% subject_count = subject_count+1 %>
                        
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>" >

                          <td class="col-pdf no-warp  align-left"  style="padding:5px !important;"><%= subjects['name'] %></td>
                          <%
                          full_mark = 0
                          obtain_mark = 0
                          unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                             
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  obtain_mark = obtain_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                 %>
                                    <td class="col-pdf no-warp"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                <%
                                else
                                  %>
                                    <td class="col-pdf no-warp">-</td>
                                <% 
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              
                            end 
                          end 
                        %>

                          <% 
                          total_marks = total_marks+full_mark
                          total_marks_obtain = total_marks_obtain+obtain_mark
                          main_mark = 0
                          if full_mark > 0 && obtain_mark > 0
                            main_mark = (obtain_mark.to_f/full_mark.to_f)*100
                          end  
                          
                          main_mark = main_mark.round()
                          grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                           
                          
                          %>
                          <% if absent == true %>
                            <td class="col-pdf"><b>AB</b></td>
                          <% else %>
                            <td class="col-pdf"><b><%= sprintf( "%0.02f", obtain_mark) %></b></td>
                          <% end %>
                         
                          

                      </tr>
                    <% end %>  
                  <% end %>   
                
                  <tr class="even"> 
                    <td class="col-pdf no-warp  align-left">Total Marks</td>
                    <td>
                      <b><%= total_marks %></b>
                    </td>
                    <td>
                      <b><%= sprintf( "%0.02f", total_marks_obtain) %></b>
                    </td>
                  </tr>
                  <tr class="even"> 
                    <td class="col-pdf no-warp  align-left">Comment on Overall Performance</td>
                    <td colspan="2">
                    <% if !@exam_comment.blank? %>
                      <b><%= @exam_comment.comments %></b>
                    <% end %>
                    
                    </td>
                  </tr>
                  <tr class="even"> 
                    <td class="col-pdf no-warp  align-left">Total No. of Working Days </td>
                    <td colspan="100"><b><%= @connect_exam_obj.total_working_days %> Days</b></td>
                  </tr>
                  <tr class="even"> 
                    <td>Signature of Principal</td>
                    <td colspan="2">
                      <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/ess/principal.png")), :width=>"30%" %>
                      <br/>
                      <%= Time.now.strftime("%Y/%m/%d") %>
                    </td>
                  </tr>

              </table>
           


          </div>
      </div>



  </div>

<% end %>

<style>
.sis-final #grouped_exam_report table.exam-marks tr.odd td, .sis-final #grouped_exam_report table.exam-marks tr.even td
{
   padding: 3px !important;
   font-size: 23px !important;
}
.landscape table tr.odd td, .landscape table tr.even td
{
    padding: 4px 4px !important;

} 
.landscape table.signature tr.odd td, .landscape table.signature tr.even td
{
    padding: 4px 4px !important;

}
.landscape table.signature2 tr.odd td, .landscape table.signature2 tr.even td
{
    padding: 14px 5px !important;

}
.height-18
{
    height: 18px !important; 
}
 table.evaluation tr.border-bottom-1-px td.no-border
            {
                border-bottom: none !important;
            }
</style>     