<% @hide = 1 %>
<% @extra_text = "" %>
<% unless params[:hide].blank? %>
  <% @hide = params[:hide] %>
<% end %>
<% unless params[:extra].blank? %>
  <% @extra_text = params[:extra].uppercase %>
<% end %>
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 sis sis-final">
      <div class="section1 row" >
         
              
                  <table id="pdf-table"  width="100%" class="no-border left-clear-both margin-bottom-20"  cellspacing="0" >
                      <tr>
                          <td class="align-left" width="3%">&nbsp;</td>
                          
                          <td class="align-left" width="20%">  
                              <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/ess/logo.jpg")),:width=> '90%' %>  
                          </td>
                          <td width="74%">
                              <h4 align="center"><font size="7" color="#4CAEE3">EUROPEAN STANDARD SCHOOL(ESS)</font></h2>
                              <h4 align="center" style="margin-top:-5px;">
                                <font size="6" color="#000">
                                  <%= @extra_text %> PROGRESS REPORT
                                </font>
                              </h4>
                              <h4 align="center" style="margin-top:-5px;"><font size="6" color="#000"><%= @connect_exam_obj.name %></font></h2>
                              <% month_number = @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%-m"):@connect_exam_obj.published_date.strftime("%-m") %>
                              <h4 align="center" style="margin-top:-5px;"><font size="6" color="#000"><%= @batch.name %></font></h4>
                              <h4 align="center" style="margin-top:-5px;">
                                <font size="6" color="#000">
                                  Class : <%= @batch.course.course_name %>
                                </font>
                              </h4>  
                          </td>
                          <td class="align-left" width="3%">&nbsp;</td>
                          
                     </tr>
                     <tr><td colspan="3">&nbsp;</td></tr>
                  </table>
            
      </div>
      <% class_teacher = "" %>
      <% class_teachers = [] %>
      <% if !@assigned_employee.blank? %>
        <% @assigned_employee.each do |emp| %>
            <% if emp.last_name.blank? %>
               <% class_teachers << emp.first_name %>
            <% else %>
               <% class_teachers << emp.first_name+" "+emp.last_name %>
            <% end %>   
        <% end %>
       <% end %>
      <% unless class_teachers.blank? %>
        <% class_teacher = class_teachers.join(", ") %>
      <% end %>
      <div class="student_information">
          <table class="std_info_table" width="100%" cellspacing="0">
              <tr>
                  <td class="align-left">Name : <%= @student.full_name %></td>
                  <td class="align-left">Roll : <%= @student.class_roll_no %></td>
                  <% unless @batch.course.section_name.blank? %>
                    <td class="align-left">Section : <%= @batch.course.section_name %></td>
                  <% end %>
                  <td class="align-left">A /C ID : <%= @student.admission_no %></td>
              </tr>
              <tr>
                  
                  <td class="align-left" <% unless @batch.course.section_name.blank? %>colspan="4"<% else %>colspan="3"<% end %>>Class Teacher :
                      <%= class_teacher  %>
                  </td>
              </tr>
          </table>
      </div>
     
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
              <table id="pdf-table"  width="100%" class="left-table even-table exam-marks" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="even">
                      <td colspan="5" ><b>ACADEMIC PERFORMANCE</b></td>
                  </tr>
                  <% total_mark_of_allexam = 0 %>
                  <tr class="even">
                    <td class="col-pdf" rowspan="2"><b><%= "Subject" %></b></td>
                    <% if !@connect_exam_obj.name.upcase.index("CLASS TEST 2").nil? %>
                      <td colspan="2" ><b>Class Test 2</b></td>
                    <% else %>
                      <td colspan="2" ><b>Class Test 1</b></td>
                    <% end %>
                    <% if @hide == 0 %>
                    <td colspan="2" ><b>Attendance</b></td>
                    <% end %>
                  </tr>
                  <tr class="even">
                    <td><b>Full Marks</b></td>
                    <td><b>Obtained Marks</b></td>
                    <% if @hide == 0 %>
                    <td><b>No. of Classes</b></td>
                    <td><b>Present</b></td>
                    <% end %>
                  </tr>
                  
                  <% total_marks = 0 %>
                  <% total_marks_obtain = 0 %>
                  <% subject_count = 0 %>
                  <% @batch_subjects = Subject.find_all_by_batch_id(@batch.id)  %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                    <%
                      has_mark = 0
                      absent = true
                       unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                             
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  has_mark = has_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_s != "AB"
                                    absent = false
                                  end
                                end
                            end
                       end  
                  
                    %>
                      <% if subjects['no_exams_sjws'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <% subject_count = subject_count+1 %>
                        
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>" >

                          <td class="col-pdf no-warp  align-left"  style="padding:5px !important;"><%= subjects['name'] %></td>
                          <%
                          full_mark = 0
                          obtain_mark = 0
                          unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                             
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  obtain_mark = obtain_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              
                            end 
                          end 
                        %>

                          <% 
                          total_marks = total_marks+full_mark
                          total_marks_obtain = total_marks_obtain+obtain_mark
                          main_mark = 0
                          if full_mark > 0 && obtain_mark > 0
                            main_mark = (obtain_mark.to_f/full_mark.to_f)*100
                          end  
                          
                          main_mark = main_mark.round()
                          grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                           
                          
                          %>
                          <td class="col-pdf"><b><%=  full_mark %></b></td>
                          <% if absent == true %>
                            <td class="col-pdf"><b>AB</b></td>
                          <% else %>
                            <td class="col-pdf"><b><%= sprintf( "%0.02f", obtain_mark) %></b></td>
                          <% end %>
                          <% total_att = 0 %>
                          <% absent_att = 0 %>
                          <% total_att_main = 0 %>   
                            
                          <% e_subject_id = 0 %>
                          <% if !@student.admission_date.blank? && @student.admission_date.to_date > @connect_exam_obj.attandence_start_date.to_date %>
                            <% start_date = @student.admission_date.to_date %>
                          <% else %>
                            <% start_date = @connect_exam_obj.attandence_start_date.to_date %>
                          <% end %>  
                          <% start_date2 = @connect_exam_obj.attandence_start_date.to_date %>
                          <% end_date = @connect_exam_obj.attandence_end_date.to_date %>
                          <% unless @batch_subjects.blank? %>
                            <% @batch_subjects.each do |subject| %>
                                <% unless subject.blank? %>
                                <% if subject.name.include?(subjects['name']) || subjects['name'].include?(subject.name) %>
                                    <% e_subject_id = subject.id %>
                                    <% total_att_temp = SubjectAttendanceRegister.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:attendance_date => start_date..end_date}) %>
                                    <% absent_att_temp = SubjectAttendance.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:is_late=>0,:student_id=>@student.id,:attendance_date => start_date..end_date}) %>
                                    <% total_att_temp2 = SubjectAttendanceRegister.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:attendance_date => start_date2..end_date}) %>
                                    <% total_att = total_att+total_att_temp.to_i %>
                                    <% total_att_main = total_att_main+total_att_temp2.to_i %>
                                    <% absent_att = absent_att+absent_att_temp.to_i %>
                                <% end %>
                                <% end %>
                            <% end %>
                          <% end %> 
                          <% present = total_att.to_i - absent_att.to_i %>
                          <% if @hide == 0 %>    
                          <td class="col-pdf"><b><%= total_att_main %></b></td>
                          <td class="col-pdf"><b><%= present %></b></td>
                          <% end %>

                      </tr>
                    <% end %>  
                  <% end %>   
                  <%
                    
                    group_exams = GroupedExam.find_all_by_connect_exam_id(@connect_exam_obj.id) 
                    @all_subjects = []
                    group_exams.each do |group_exam|
                      allexams = Exam.find_all_by_exam_group_id(group_exam.exam_group_id);
                      allexams.each do |exam|
                        if !@all_subjects.include?(exam.subject.id)
                            @all_subjects << exam.subject.id
                        end
                      end
                    end 
                  %>
                  <% unless @report_data['report']['no_exam_subject_resutl'].blank? %>
                    <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>
                      <%  if @all_subjects.include?(report['id'].to_i) %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf no-warp  align-left"><%= report['subject_name'] %></td>
                            <% if @hide == 0 %>
                            <td class="col-pdf" colspan="4"><b><%= report['subject_comment'] unless report['subject_comment'].blank? %></b></td>
                            <% else %>
                            <td class="col-pdf" colspan="2"><b><%= report['subject_comment'] unless report['subject_comment'].blank? %></b></td>
                            <% end %>
                        </tr>
                      <% end %>
                    <% end %>
                  <% end %> 
                  <tr class="even"> 
                    <td class="col-pdf no-warp  align-left">Total Marks</td>
                    <td><b><%= total_marks %></b></td>
                    <td><b><%= sprintf( "%0.02f", total_marks_obtain) %></b></td>
                    <% if @hide == 0 %>
                    <td></td>
                    <td></td>
                    <% end %>
                  </tr>
                  <% parcentise = 0.0 %> 
                  <% if total_marks_obtain > 0 %>
                      <% parcentise = (total_marks_obtain.to_f/total_marks.to_f)*100 %>
                  <% end %>
                  <%
                        parcentise = parcentise.round()
                        comments = ""
                        if parcentise >= 91 && parcentise <= 100
                          comments = "Excellent"
                        end
                        if parcentise >= 81 && parcentise <= 90
                          comments = "Very Good"
                        end
                        if parcentise >= 71 && parcentise <= 80
                          comments = "Good"
                        end
                        if parcentise >= 61 && parcentise <= 70
                          comments = "Satisfactory"
                        end
                        if parcentise >= 0 && parcentise <= 60
                          comments = "Needs Improvement"
                        end
                      %>
                  <tr class="even"> 
                    <td class="col-pdf no-warp  align-left">Comment on Overall Performance</td>
                    <% if @hide == 0 %>
                    <td colspan="4"><b><%= comments %></b></td>    
                    <% else %>
                    <td colspan="2"><b><%= comments %></b></td>
                    <% end %>
                  </tr>
                  <tr class="even"> 
                    <td  class="col-pdf no-warp  align-left">Total No. of Working Days </td>
                    <% if @hide == 0 %>
                    <td colspan="4"><b><%= @connect_exam_obj.total_working_days %> Days</b></td>
                    <% else %>
                    <td colspan="2"><b><%= @connect_exam_obj.total_working_days %> Days</b></td>
                    <% end %>
                  </tr>
                  <tr class="even"> 
                    <td>Signature of Principal</td>
                    <% if @hide == 0 %>
                    <td colspan="4">
                      <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/ess/principal.png")), :width=>"20%" %>
                      <br/>
                      <%#= Time.now.strftime("%d/%m/%Y") %>
                      10/03/2022
                    </td>
                    <% else %>
                    <td colspan="2">
                      <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/ess/principal.png")), :width=>"20%" %>
                      <br/>
                      <%#= Time.now.strftime("%d/%m/%Y") %>
                      10/03/2022
                    </td>
                    <% end %>
                  </tr>

              </table>
           


          </div>
      </div>



  </div>

<% end %>

<style>
.sis-final #grouped_exam_report table.exam-marks tr.odd td, .sis-final #grouped_exam_report table.exam-marks tr.even td
{
   padding: 3px !important;
   font-size: 23px !important;
}
.landscape table tr.odd td, .landscape table tr.even td
{
    padding: 4px 4px !important;

} 
.landscape table.signature tr.odd td, .landscape table.signature tr.even td
{
    padding: 4px 4px !important;

}
.landscape table.signature2 tr.odd td, .landscape table.signature2 tr.even td
{
    padding: 14px 5px !important;

}
.height-18
{
    height: 18px !important; 
}
 table.evaluation tr.border-bottom-1-px td.no-border
            {
                border-bottom: none !important;
            }
</style>     