
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
             <table id="pdf-table"  width="100%" class="left-table even-table exam-marks" cellspacing="0">
                  <% c = 'even'  %>
                 
                  <% total_mark_of_allexam = 0 %>
                 
                  <tr class="even">
                      <td colspan="5" ><b>ACADEMIC PERFORMANCE</b></td>
                  </tr>
                  <tr class="even">
                      <td class="col-pdf" rowspan="2"><b><%= "Subject" %></b></td>
                      <td class="col-pdf" colspan="4"><b>
                      <% if !@connect_exam_obj.name.upcase.index("CT 1").nil? %>
                        <%= "Class Test 1 (Out of 25)" %>
                      <% elsif !@connect_exam_obj.name.upcase.index("CT 2").nil? %>
                        <%= "Class Test 2 (Out of 25)" %>
                      <% elsif !@connect_exam_obj.name.upcase.index("CT 3").nil? %>
                        <%= "Class Test 3 (Out of 25)" %>
                      <% end %>
                      </b></td>

                  </tr>
                  <tr class="even">
                    
                    <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                        <td><b>
                        <%= report['exam_name'] %><br/>
                        (Out of <% unless @exam_marks[report['exam_id'].to_s].blank?  %><% total_mark_of_allexam = total_mark_of_allexam+@exam_marks[report['exam_id'].to_s].to_i  %><%= @exam_marks[report['exam_id'].to_s] %><% end %>)
                        </b></td>
                        <% end %>
                    <% end %>
                    <td><b>Total<br/>25</b></td>
                  </tr>
                  <% total_marks = 0 %>
                  <% subject_count = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                    <%
                      has_mark = 0
                       unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                             
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  has_mark = has_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                end
                            end
                       end  
                  
                    %>
                      <% if subjects['no_exams_sjws'].to_i == 1 or has_mark == 0 %>
                        <% next %>
                      <% end %>
                        <% subject_count = subject_count+1 %>
                        
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>" >

                          <td class="col-pdf no-warp  align-left"  style="padding:5px !important;"><%= subjects['name'] %></td>
                          <%
                          full_mark = 0
                          obtain_mark = 0
                          unless @report_data['report']['exams'].blank?   
                            @report_data['report']['exams'].each do |report| 
                             
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  obtain_mark = obtain_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                  %>
                                    <td class="col-pdf no-warp"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                <%
                                else
                                  %>
                                    <td class="col-pdf no-warp">-</td>
                                <% 
                                end
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                  full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                end
                              
                            end 
                          end 
                        %>

                          <% 
                          
                          main_mark = 0
                          if full_mark > 0 && obtain_mark > 0
                            main_mark = (obtain_mark.to_f/full_mark.to_f)*100
                          end  
                          
                          main_mark = main_mark.round()
                          grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                           
                          
                          %>
                          <td class="col-pdf" style="padding:5px !important;"><b><%= obtain_mark %></b></td>
                         
                          

                      </tr>
                    <% end %>  
                  <% end %>   
                  <%
                    percent = 0
                    if total_marks > 0 && subject_count > 0
                      percent = total_marks.to_f/subject_count.to_f
                    end
                    group_exams = GroupedExam.find_all_by_connect_exam_id(@connect_exam_obj.id) 
                    @all_subjects = []
                    group_exams.each do |group_exam|
                      allexams = Exam.find_all_by_exam_group_id(group_exam.exam_group_id);
                      allexams.each do |exam|
                        if !@all_subjects.include?(exam.subject.id)
                            @all_subjects << exam.subject.id
                        end
                      end
                    end 
                  %>
                  <% unless @report_data['report']['no_exam_subject_resutl'].blank? %>
                    <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>
                      <%  if @all_subjects.include?(report['id'].to_i) %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf no-warp  align-left"><%= report['subject_name'] %></td>
                            <td class="col-pdf"></td>
                            <td class="col-pdf"></td>
                            <td class="col-pdf"><b><%= report['subject_comment'] unless report['subject_comment'].blank? %></b></td>
                        </tr>
                      <% end %>
                    <% end %>
                  <% end %>    

              </table>
<% end %>