<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%
employee_group = []
employee_string = ""
unless @employee_all.blank?
  @employee_all.each do |employee|
    employee_group << employee.full_name
  end  
end  

unless employee_group.blank?
  employee_string = employee_group.join(", ")
end  

%>
<div id="page-yield" class="available_sections1">
  <div class="page1"> </div>
  <div class="section1 row" >
    <center>
      <table id="pdf-table"  width="100%" class="no-border left-clear-both margin-bottom-20" style="border:none !important;"  cellspacing="0" >
          <tr>
              <td class="align-left" width="28%">&nbsp;</td>

              <td class="align-left" width="6%" style="vertical-align: top;">  
                  <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/ess/logo.jpg")),:width=> '90%' %>  
              </td>
              <% month_number = @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%-m"):@connect_exam_obj.published_date.strftime("%-m") %>
              <td width="28%">
                  <h4 align="center"><font size="5">EUROPEAN STANDARD SCHOOL(ESS)</font></h4>
                  <h4 align="center" style="margin-top:-15px;"><font size="5"><%= @batch.name %> Campus</font></h4>
                  <h4 align="center" style="margin-top:-15px;"><font size="4" color="#000">Subject Wise Mark Sheet</font></h4>
                  <h4 align="center" style="margin-top:-15px;"><font size="4" color="#000"><%= @connect_exam_obj.name %>, 
                      <% if month_number.to_i>6 %>
                        Session : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i+1:@connect_exam_obj.published_date.strftime("%Y").to_i+1 %>
                      <% else %>
                        Session : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i-1:@connect_exam_obj.published_date.strftime("%Y").to_i-1 %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>
                      <% end %></font></h4>
                  
                  <h4 align="center" style="margin-top:-15px;">
                    <font size="4" color="#000">
                      Class <%= @batch.course.course_name %>, Section <%= @batch.course.section_name %>
                    </font>
                  </h4>  
              </td>
              <td class="align-left" width="28%">&nbsp;</td>

         </tr>
         <tr><td colspan="3">&nbsp;</td></tr>
      </table>
      
      <div id ="main_info">
          <table width="100%">
              <tr>
                 <% if !@employee.nil? %> 
                  <td align='left'><h4>Teacher's Name : <%=  employee_string %></h4></td>
                  <td align='right' style="text-align:right !important;"><h4>Subject : <%= @subject.name %></h4></td>
                 <% else %>
                  <td align='left'><h4>Subject : <%= @subject.name %></h4></td>
                 <% end %> 
              </tr>    
          </table>    
       
      </div>
      <% unless @report_data.blank?  or  @report_data['result'].blank? %>
      <% c = 'even' %>
      <% full_mark = 0 %>
      <% colspan = 0 %>
      <% total_exam = 0 %>
      <% total_exam_continues = 0 %>
      <% total_mark_continues = 0 %>
      <% total_mark = 0%>
        <% unless @report_data['result']['ALL'].blank? %>
            <% @report_data['result']['ALL'].each do |report| %>
              <% total_exam = total_exam+1%>
              <% if report['exam_category'] == '1' %>
                <% total_exam_continues = total_exam_continues+1 %>
                <%
                unless report['maximum_marks'].blank?
                    total_mark_continues = total_mark_continues+report['maximum_marks'].to_f
                end
                %>

              <% end %>
              <%
                unless report['maximum_marks'].blank?
                    total_mark = total_mark+report['maximum_marks'].to_f
                end
                %>
            <% end %>
        <% end %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
          <td rowspan="2">SL</td>  
          <td class="name" rowspan="2">Name Of Student</td>
          <td class="name" colspan="<%= total_exam_continues %>">Continuous Assessment (Out of <%= total_mark_continues%>)</td>
          <% @report_data['result']['ALL'].each do |rs| %>
           <% if rs['exam_category'] != '1' %>
            <td style="white-space: normal !important;"  rowspan="2"><%=  rs['name'] %><br/>(Out of <%= rs['maximum_marks'].to_f %>)</td>
           <% end %> 
          <% end %>  
          
          <td rowspan="2">Total<br/> (Out of <%= total_mark%>)</td>
          <td rowspan="2">TOTAL marks <br/>will be converted to <br/> 25</td>
        
        </tr>
        <tr class="table-header">
          <% @report_data['result']['ALL'].each do |rs| %>
           <% if rs['exam_category'] == '1' %>
            <td style="white-space: normal !important;"><%=  rs['name'] %><br/>(Out of <%= rs['maximum_marks'].to_f %>)</td>
           <% end %> 
          <% end %> 
        </tr>
        
        <% extender = 0 %>
        <% std_count = 0 %>
        <% unless @report_data['result']['al_students'].blank? %>
        <% sl = 0 %>
        <% @report_data['result']['al_students'].each do |std| %>
          <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>std['id'].to_s,:subject_id=>@subject.id.to_s,:elective_group_id=>@subject.elective_group_id.to_i} %>
          <% if @has_exam_student == false %>
            <% next %>
          <% end %>          
                

          <%  std_count = std_count+1; %>
          <% colspan = colspan+4 %>
          <% if std_count>13 && extender ==0 %>
              <% std_count = 0 %>
              <% extender = 1 %>
              <tr class="page-break">
                  <td colspan="<%= colspan %>">&nbsp;</td>
              </tr>    
          <% elsif std_count>18 && extender ==1 %>
              <% std_count = 0 %>
              <% extender = 1 %>
              <tr class="page-break">
                  <td colspan="<%= colspan %>">&nbsp;</td>
              </tr> 
          <% end %>    
        
        
          <% total_mark = 0 %>
          <% full_mark = 0 %>
          
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <% sl = sl+1 %>
            <td class="name"><%= sl %></td>
            <td class="name-std"><%= std['name'] %></td>
            <% @report_data['result']['ALL'].each do |rs| %>
              <td>
              <% if !rs['students'].blank? && !rs['students'][std['id']].blank? && !rs['students'][std['id']]['score'].blank? %>
                  <%= rs['students'][std['id']]['score'] %>
                  <% total_mark = total_mark.to_f+rs['students'][std['id']]['score'].to_f %>
              <% else %>
                  -
              <% end %>
              <% if !rs['maximum_marks'].blank? %>    
                <% full_mark = full_mark+rs['maximum_marks'].to_f %> 
              <% end %>    
              </td>
              
            <% end %> 
            

           <td class="name"><%= sprintf( "%0.02f", total_mark) %></td>
           <%
           main_mark = 0
          if full_mark > 0 && total_mark > 0
            main_mark = (total_mark.to_f/full_mark.to_f)*25
          end  
           %>
          <td class="col-2"><b><%= sprintf( "%0.02f", main_mark) %></b></td>
         
        </tr>
        <% end %>
        <% end %>
      </table>
      <% end %>
    </center>
  </div>
  
  
</div>
