<% total_parcent = 0 %>
  <% total_subject = 0 %>
  <% subjects_new = [] %>  
  <% i = 0 %>
  <% unless @report_data['report']['subjects'].blank? %> 
    <% @report_data['report']['subjects'].each do |subjects| %>
    <% weightage_mark = 0 %>
    <% total_mark = 0 %>    
    <% full_mark = 0 %>
    <% sba_full_mark = 0 %>
    <% sba_mark = 0 %>
    <% mark_80 = 0 %>
      
      <% unless @report_data['report']['exams'].blank? %>  
        <% @report_data['report']['exams'].each do |report| %>
         <% sba_full_mark = 0 %>
         <% sba_mark = 0 %>
         <% if report['sba']!="1" %>
              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
              <% end %>  

              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
              <% end  %>
         <% else %>
            <% 
              if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? 
                 sba_full_mark = sba_full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
              end

              if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? 
                 sba_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'] 
              end
            %>  
         <% end %> 
        
        <% end %>
      <% end %>
      <% if full_mark.to_f > 0 or sba_full_mark.to_f > 0  %>
            
            <% 
            if sba_full_mark.to_i > 0
              mark_80 = (total_mark/100)*80
              full_mark_80 = (full_mark.to_f/100)*80
             else 
              mark_80 = total_mark
              full_mark_80 = full_mark.to_f
             end  
            %> 
            <% total_mark_before = mark_80.to_f+sba_mark.to_f %>

            <% full_mark = full_mark_80.to_f+sba_full_mark.to_f %>
            <% main_mark = (total_mark_before.to_f/full_mark.to_f)*100  %>
            <% total_parcent= total_parcent+main_mark %>
            <% total_subject = total_subject+1 %> 
            <% subjects_new << subjects %>
      
      <% else %>
            <%#  @report_data['report']['subjects'].delete_at(i) %>
        
      <% end %>
      <% i = i+1 %>
    <% end %> 
  <% end %> 
<% @report_data['report']['subjects'] = subjects_new %>
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
    <div id="page-yield"  class="available_sections1 academia cherry_blossoms">
       
        
        <div class="academia_box">
         
          <div class="academia_middle_box">
            <h5 align="center">(PLAY GROUP-'A' LEVEL, EDEXCEL CENTRE NO. 96440, UK)</h4>
            <h5 align="center">(www.cherryblossommsint.com, Contact : +88017130073860, Email : cherryblossomsint@gmail.com)</h5>
            <div class="academia_exam_title_box">
              <h6 align="center"><%= @connect_exam_obj.name+" Report : " %><%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B, %Y"):@connect_exam_obj.published_date.strftime("%B, %Y") %></h6>
            </div>
              <%#= debug @student %>
            <div class="academia_exam_details_box">              
              <table width="100%">
                <tr>
                    <td class="left">
                      Name : <%= @student.full_name %><br />
                      Student ID : <%= @student.admission_no %>
                    </td>
                    <td class="middle">                      
                      Session : <%= Time.now.year %><br />
                      Shift : <%= @batch.name %>
                    </td>
                    <td width="28%">
                       Class : <%= @batch.course.full_name %><br />       
                       Roll No. : <%= @student.class_roll_no %>
                    </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="academia_right_box">
            <% @grading_levels = GradingLevel.default %>
            <%  unless @grading_levels.empty? %>
              <table class="">
                  <tr>
                    <td>Marks Range</td>
                    <td>Grade</td>
                  </tr>
                  <% @grading_levels.each do |grade| %>
                  <tr>
                    <td>
                      <% if grade.max_score.nil? %>  
                      <%= '%i%' % grade.min_score %>
                      <% else %>  
                      <%= grade.min_score.to_s + " - " + grade.max_score.to_s %>  
                      <% end %>
                    </td>
                    <td><%= grade.name %></td>
                  </tr>                  
                  <% end %>
              </table>  
            <% else %>
              <h4><%= t('set_in_common') %></h4>
            <% end %>
          </div>
        </div>
       
        <div class ="current_batch">
            <div id="grouped_exam_report">
                <div class="CSSTableGenerator">
                    <table id="listing table-design" class='score' width="100%">
                        <thead>
                          <tr>
                              <td class='subjects'>Subject Name </td>
                              <% unless @report_data['report']['exams'].blank? %>  
                              <% count = @report_data['report']['exams'].count %>                        
                                <% @report_data['report']['exams'].each do |report| %>
                                  <% w = 60/count%>
                              <td width='<%=  ("#{w}%")%>'>
                                    <table width='100%' border="0">
                                        <tr>
                                            <td width="100%" colspan="2" class="special_top special_left special_right"><%= report['exam_name'] %></td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="special_bottom special_left">Full Marks</td>
                                            <td width="50%" class="special_bottom special_right">Marks Obtained</td>
                                        </tr>

                                    </table>
                                  </td> 
                                <% end %>
                              
                              <% end %>

                              <td class="totalmark">Total Marks</td>
                              <!--th width="5%">Marks Obtained (%)</th-->
                              <td class="totalmark">Highest Marks (%)</td>
                              <td class="totalmark">Letter Grade</td>
                              <!--th width="5%">GPA</th-->
                          </tr>
                        </thead>
                        <% total_parcent = 0 %>
                        <% total_subject = 0 %>
                        <% unless @report_data['report']['subjects'].blank? %> 
                          <% count2 = @report_data['report']['exams'].count %>         
                          <% @report_data['report']['subjects'].each do |subjects| %>
                            <tr>
                                <% weightage_mark = 0 %>
                                <% total_mark = 0 %>
                                <% full_mark = 0 %>

                                <td class='subjects'><b><%= subjects['name'] %></b></td>
                                <% unless @report_data['report']['exams'].blank? %>  
                                  <% @report_data['report']['exams'].each do |report| %>
                                    <% w = 60/count2%>
                                    <th width='<%=  ("#{w}%")%>'>

                                        <table width="100%" CELLPADDING="3" CELLSPACING="3">

                                            <tr>
                                                <td width="50%" class="special_top special_left special_bottom">
                                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                                      <%= report['result'][report['exam_id']][subjects['id']]['full_mark'] %>
                                                      <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                                    <% else %>
                                                      N/A
                                                    <% end %>  
                                                </td>
                                                <td width="50%" class="special_top special_right special_bottom ">
                                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                                      <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %>
                                                      <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                                    <% else %>
                                                      N/A
                                                    <% end %>  
                                                </td>
                                            </tr>

                                        </table>   


                                    </td>

                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
                                      <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
                                    <% end %>

                                  <% end %>
                                <% end %>





                                <% 
                                  heighst_mark = 0
                                  if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
                                    heighst_mark = (@report_data['report']['max_mark'][subjects['id']].to_f/full_mark.to_f)*100
                                  end  

                                  if total_mark.to_f>0 and full_mark.to_f>0
                                    main_mark = (total_mark.to_f/full_mark.to_f)*100 
                                  else
                                    main_mark = 0
                                  end  
                               %>

                                  <% if full_mark.to_f > 0 %>
                                      <td class="totalmark"><b><%= sprintf( "%0.02f", total_mark) %></b></td>
                                      <!--td class="totalmark"><b><%= sprintf( "%0.02f", main_mark) %> %</b></td-->
                                      <td class="totalmark"><b><%= sprintf( "%0.02f", heighst_mark)   %> %</b></td>
                                      <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>

                                      <% if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank? %>
                                        <td class="totalmark"><b><%= grade.name %></b></td>
                                        <!--td width="5%"><b><%= grade.credit_points %></b></td-->
                                      <% else %>
                                        <td class="totalmark"><b>N/A</b></td>
                                        <!--td width="5%"><b>N/A</b></td-->
                                      <% end %>


                                      <% total_parcent= total_parcent+main_mark %>
                                      <% total_subject = total_subject+1 %>
                                  <% else  %>
                                      <td class="totalmark"><b>N/A</b></td>
                                      <!--td class="totalmark"><b>N/A</b></td-->
                                      <td class="totalmark"><b>N/A</b></td>
                                      <td class="totalmark"><b>N/A</b></td>
                                      <!--td width="5%"><b>N/A</b></td-->
                                  <% end %>      

                            </tr> 
                          <% end %>  
                        <% end %> 
                            <% avgparcent = total_parcent.to_f/total_subject.to_f %>
                            <tr>
                                <td  align="right" colspan="50" class="avg_mark">
                                    <b><font size="2">(Average Marks : <%= sprintf( "%0.02f",avgparcent) %> %)</font></b>
                                </td>
                            </tr>    

                    </table>
                   

                   

                    <% unless @report_data['report']['no_exam_subject_resutl'].blank? or !@report_data['report']['no_exam_subject_resutl'].blank? %>

                      <h4 align="center">Cumulative Assessment Record</h4>


                      <table  width="100%"  id="listing table-design" style="margin-top:20px;">
                          <% 
                          iloop = 1
                          cloop = 1
                        %>
                          <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>

                            <% if iloop == 1 %>
                              <tr>
                                <% end %>
                                <% if cloop == 3 %>
                              </tr>
                              <tr>
                                  <% cloop = 1 %>        
                                <%  end %> 
                                <td   width="6%"><%= iloop %></td>
                                <td   width="23%"><%= report['subject_name'] %></td>
                                <% if report['subject_comment'].blank? %>
                                  <td   width="23%">Not Tested Yet</td>
                                <% else %>
                                  <td   width="23%"><%= report['subject_comment'] %></td>
                                <% end %>
                                <% iloop = iloop+1 %> 
                                <% cloop = cloop+1 %>
                              <% end %>

                      </table>

                    <% end %>

                </div>

            </div>
        </div>
        <div class="academia_box">
          <div class="academia_sign_left">
              <table class="teachers_sign">
                  <tr>
                      <td>
                          <b>Teacher's Remark :</b>
                      </td>                      
                  </tr>
                  <tr>
                      <td>
                          &nbsp;<br /><br />&nbsp;<br /><br />
                      </td>                      
                  </tr>
              </table>
          </div>
          
          <div class="academia_sign_right">
              <table class="teachers_sign">
                  <tr>
                      <td colspan="2">
                          <b>Class Attendance</b>
                      </td>                      
                  </tr>
                  <tr>
                      <td width="50%">
                          <b>Working Days</b>
                      </td>
                      <td width="50%">
                          <%= @report_data['total'] %>
                      </td>
                  </tr>
                  <tr>
                      <td width="50%">
                          <b>Present</b>
                      </td>
                      <td width="50%">
                          <%= @report_data['present'] %>
                      </td>
                  </tr>
                  <tr>
                      <td width="50%">
                          <b>Absent</b> 
                      </td>
                      <td width="50%">
                          <%= @report_data['total'] - @report_data['present'] %>
                      </td>
                  </tr>
              </table>
          </div>
        </div>
    </div>

  <% end %>
  <%= stylesheet_link_tag 'list_table' %>

  <% if params[:page_height] %>
    <script type="text/javascript">
      var body = document.body,
              html = document.documentElement;
      var pg_height = parseInt(<%= params[:page_height] %>)
      var page = new Element('div', {'class': 'page1'});
      var pageBreak = new Element('div', {'class': 'page-break1'});
      var insertPageBreak = function () {
          body.appendChild(pageBreak.cloneNode(true))
      };
      var insertPage = function () {
          body.appendChild(page.cloneNode(true));
      };
      var currPage = function () {
          return $$('.page1').last()
      };
      var current_page_height = 0
      var i = 0
      $$('.available_sections1 .section1').each(function (el) {
          a = parseInt(el.getHeight());
          c = current_page_height + a;
          current_page_height = c;
          if (c > pg_height) {
              current_page_height = a
              body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
              document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
              document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
              i += 1
              el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
              insertPageBreak();
              insertPage();
          }
          currPage().appendChild(el);
      });
    </script>
  <% end %>