<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%= render  :partial=>"connect_result_reformate" %>

<% unless @report_data.blank?  or  @report_data['report'].blank? %>
      <div class="section1 row" >
        <center>
          <div class="hor_line"></div>
          <h3></h3>
        </center>
      </div>
      <div class="CSSTableGenerator" style="width: 97%;margin-top: 20px;">
          <p><%= "#{@student.full_name}" %> (Roll No : <%= "#{@student.class_roll_no}" %>)</p>
          <div style="width:100%; overflow:auto;">
              <% if MultiSchool.current_school.id == 319 or MultiSchool.current_school.id == 324 %>
                  <%= render  :partial=>"/connect_exam/sfx/group_marks" %>
              <% elsif MultiSchool.current_school.id == 323 %>
                  <%= render  :partial=>"/connect_exam/baf_shaheen/group_marks" %>
              <% elsif MultiSchool.current_school.id == 325 %>
                  <%= render  :partial=>"/connect_exam/mirpur_english/group_marks" %>
              
              <% elsif MultiSchool.current_school.id == 2 or MultiSchool.current_school.id == 312 %>
                  <%= render  :partial=>"/connect_exam/south_point/group_marks" %>
              <% else if File.exists?(Rails.root.join("app", "views", "connect_exam",MultiSchool.current_school.code, "_group_marks.erb")) %>
                  <%= render  :partial=>"/connect_exam/#{MultiSchool.current_school.code}/group_marks" %>
               <% else %>
                  <%= render  :partial=>"/connect_exam/group_marks" %>
              <% end %>
          
          
          <% unless @report_data['report']['no_exam_subject_resutl'].blank? || !@report_data['report']['no_exam_subject_resutl'].blank? %>
           <div class="section1 row" >
            <center>
              <div class="hor_line"></div>
              <h3>Cumulative Assessment Record</h3>
            </center>
          </div>
            <table id="listing table-design" style="margin-top:20px;">
                <% 
                  iloop = 1
                  cloop = 1
                %>
                <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>
                   
                    <% if iloop == 1 %>
                        <tr>
                    <% end %>
                    <% if cloop == 3 %>
                        </tr>
                        <tr>
                    <% cloop = 1 %>        
                    <%  end %> 
                        <td   width="6%"><%= iloop %></td>
                        <td   width="23%"><%= report['subject_name'] %></td>
                        <% if report['subject_comment'].blank? %>
                          <td   width="23%">Not Tested Yet</td>
                        <% else %>
                          <td   width="23%"><%= report['subject_comment'] %></td>
                        <% end %>
                    <% iloop = iloop+1 %> 
                    <% cloop = cloop+1 %>
                <% end %>
                              
            </table>
          <% end %>
       
          <% if MultiSchool.current_school.id == 323 %>
              <%= render  :partial=>"/connect_exam/baf_shaheen/exam_comments" %>  
          <% elsif MultiSchool.current_school.id == 325 %>
              <%= render  :partial=>"/connect_exam/mirpur_english/exam_comments" %>
          <% elsif MultiSchool.current_school.id == 319 or MultiSchool.current_school.id == 324 %>
              <%= render  :partial=>"/connect_exam/sfx/exam_comments" %>
          <% elsif MultiSchool.current_school.id == 2 or MultiSchool.current_school.id == 312 %>
              <%= render  :partial=>"/connect_exam/south_point/exam_comments" %>
          <% else if File.exists?(Rails.root.join("app", "views", "connect_exam",MultiSchool.current_school.code, "_exam_comments.erb")) %>
             <%= render  :partial=>"/connect_exam/#{MultiSchool.current_school.code}/exam_comments" %>
          <% else %> 
              <%= render  :partial=>"/connect_exam/exam_comments" %>  
          <% end %>
          <%= link_to " ► #{t('pdf_report')}",
            { :action => "generated_report5_pdf", :batch_id => @batch.id, :student=>@student.id, :type=> @type,:connect_exam=>@connect_exam, :page_height=>450},:target => '_blank', :class=> 'user_button' %>

          <div class="extender"></div>
      </div>

     

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<style type="text/css">
    .user_button
    {
        margin-left:0px;
    }
    .CSSTableGenerator table.summary thead tr th
    {
        color: #000;
        padding : 30px;
        background-color:#F2F5F6;
    }
    .CSSTableGenerator table.summary thead tr th:last-child
    {
        border:none;
    }
    .CSSTableGenerator table thead tr th {
        background-color: #f0f2f3;
        border-right: 1px solid #d7dbdd;
        padding: 3px;
        text-align: center;
        font-size: 12px;
    }
    .CSSTableGenerator td a:hover {
          background:none;
    }
    .CSSTableGenerator td a {
      background: white;
      color: #000;
      cursor: pointer;
      float: none;
      font-size: 12px;
      font-weight: bold;
      padding: 0px;
      text-decoration: none;
  }

    .CSSTableGenerator table#listing  td {
        vertical-align: middle;
        border: 1px solid #D7DBDD;
        text-align: left;
        padding: 15px;
        font-size: 12px;
        font-weight: normal;
        color: #333333;
    }
    .CSSTableGenerator table thead tr th span:last-child
    {
        color: #C00;
        font-size: 35px;
        float:left;
        margin-left: 10px;
        margin-top: 0px;

    }
    .header-wrapper .header-title-sub-text {
        letter-spacing: unset;
    }
    .timetable_last a
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #CB1119 none repeat scroll 0 0;
        color: #FFFFFF !important;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        padding: 7px 10px;
        border: none;
        text-align: center;
        width: auto;
        cursor: pointer;
        float: left;
        margin-left:8px;
        text-decoration: none;
        display: block;
    }
    .subcontent-date p
    {
        line-height: 1.8;
        margin: 0px;
        padding: 0;
    }
    div.button-link-report
    {

        background: #C91018;
        color:white;

    }
    div.button-link-report:hover
    {
        background: #383838;
    }
    .CSSTableGenerator td
    {
        padding: 10px;
    }
</style> 
<script>
  var jj = jQuery.noConflict();
jj(document).ready(function() {
jj('#exam_comment_save').click(function(){
    Element.show('loader2')
    new Ajax.Request('/exam/generated_report5',
    {asynchronous:true, evalScripts:true,
      parameters:'comments='+jj('#exam_comments').val()+'&student=<%= @student.id %>&type=<%= @type %>&connect_exam=<%= @connect_exam %>',onSuccess:function(request){Element.hide('loader2')}
    }); 
    });   
});     
</script>

