<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% total_parcent = 0 %>
  <% total_subject = 0 %>
  <% subjects_new = [] %>  
  <% i = 0 %>
  <% unless @report_data['report']['subjects'].blank? %> 
    <% @report_data['report']['subjects'].each do |subjects| %>
    <% weightage_mark = 0 %>
    <% total_mark = 0 %>    
    <% full_mark = 0 %>
    <% sba_full_mark = 0 %>
    <% sba_mark = 0 %>
    <% mark_80 = 0 %>
      
      <% unless @report_data['report']['exams'].blank? %>  
        <% @report_data['report']['exams'].each do |report| %>
         <% sba_full_mark = 0 %>
         <% sba_mark = 0 %>
         <% if report['sba']!="1" %>
              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
              <% end %>  

              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
              <% end  %>
         <% else %>
            <% 
              if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? 
                 sba_full_mark = sba_full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
              end

              if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? 
                 sba_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'] 
              end
            %>  
         <% end %> 
        
        <% end %>
      <% end %>
      <% if full_mark.to_f > 0 or sba_full_mark.to_f > 0  %>
            
            <% 
            if sba_full_mark.to_i > 0
              mark_80 = (total_mark/100)*80
              full_mark_80 = (full_mark.to_f/100)*80
             else 
              mark_80 = total_mark
              full_mark_80 = full_mark.to_f
             end  
            %> 
            <% total_mark_before = mark_80.to_f+sba_mark.to_f %>

            <% full_mark = full_mark_80.to_f+sba_full_mark.to_f %>
            <% main_mark = (total_mark_before.to_f/full_mark.to_f)*100  %>
            <% total_parcent= total_parcent+main_mark %>
            <% total_subject = total_subject+1 %> 
            <% subjects_new << subjects %>
      
      <% else %>
            <%#  @report_data['report']['subjects'].delete_at(i) %>
        
      <% end %>
      <% i = i+1 %>
    <% end %> 
  <% end %> 
  <% avgparcent = total_parcent.to_f/total_subject.to_f %>
  <%  grade = GradingLevel.percentage_to_grade(avgparcent, @batch.id) %>
  <% @report_data['report']['subjects'] = subjects_new %>

<% unless @report_data.blank?  or  @report_data['report'].blank? %>
      <div class="section1 row" >
        <center>
          <div class="hor_line"></div>
          <h3></h3>
        </center>
      </div>
      <div class="CSSTableGenerator" style="width: 97%;margin-top: 20px;">
          <p><%= "#{@student.full_name}" %></p>
          <div style="width:100%; overflow:auto;">
          <table id="listing table-design">
              <thead>
                  <tr>
                      <th style="white-space:nowrap">Subject Name</b></th>
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <th style="padding:0px;">
                            <table>
                                <tr>
                                    <td colspan="2"><%= report['exam_name'] %></td>
                                </tr>
                                <tr>
                                    <td style="width:50%;">Full Marks</td>
                                    <td style="width:50%;">Marks Obtained</td>
                                </tr>
                                
                             </table>
                          </th> 
                        <% end %>
                      <% end %>

                      <th>Total</th>
                      <th>Marks Obtained (%)</th>
                      <th>Highest Marks (%)</th>
                      <th>Letter Grade</th>
                      <th>GPA</th>
                  </tr>
              </thead>
              <% total_parcent = 0 %>
              <% total_subject = 0 %>
              <% unless @report_data['report']['subjects'].blank? %> 
                <% @report_data['report']['subjects'].each do |subjects| %>
                  <tr>
                      <% weightage_mark = 0 %>
                      <% total_mark = 0 %>
                      <% full_mark = 0 %>
                      
                      <td style="white-space:nowrap" class="col-2"><b><%= subjects['name'] %>
                  &nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Mark Sheet",
        {:action => "marksheet", :subject_id => subjects['id'],:id=>@connect_exam_obj.id},:target => '_blank' %></b></td>
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <td  style="padding:0px;">
                               
                            <table>
                                
                                <tr>
                                    <td style="width:50%;">
                                      <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                        <%= report['result'][report['exam_id']][subjects['id']]['full_mark'] %>
                                        <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                      <% else %>
                                        N/A
                                      <% end %>  
                                    </td>
                                    <td style="width:50%;">
                                      <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                        <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %>
                                        <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                      <% else %>
                                        N/A
                                      <% end %>  
                                    </td>
                                </tr>
                                
                             </table>   
                          
                              
                          </td>
                          
                          <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
                                <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
                          <% end %>

                        <% end %>
                      <% end %>


                       
                      
                        
                      <% 
                      heighst_mark = 0
                      if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
                        heighst_mark = (@report_data['report']['max_mark'][subjects['id']].to_f/full_mark.to_f)*100
                      end  
                      
                      %>
                      <% 
                      if total_mark.to_f>0 and full_mark.to_f>0
                        main_mark = (total_mark.to_f/full_mark.to_f)*100 
                      else
                        main_mark = 0
                      end  
                      %>
                       
                      <% if full_mark.to_f > 0 %>
                          <td class="col-2"><b><%= sprintf( "%0.02f", total_mark) %></b></td>
                          
                          <td class="col-2"><b><%= sprintf( "%0.02f", main_mark) %> %</b></td>
                          <td class="col-2"><b><%= sprintf( "%0.02f", heighst_mark)   %> %</b></td>
                          <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>

                          <% if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank? %>
                          <td class="col-2"><b><%= grade.name %></b></td>
                          <td class="col-2"><b><%= grade.credit_points %></b></td>
                          <% else %>
                          <td class="col-2"><b>-</b></td>
                          <td class="col-2"><b>-</b></td>
                          <% end %>

                          <% total_parcent= total_parcent+main_mark %>
                          <% total_subject = total_subject+1 %>
                      <% else  %>
                          <td class="col-2"><b>N/A</b></td>
                          <td class="col-2"><b>N/A</b></td>
                          <td class="col-2"><b>N/A</b></td>
                          <td class="col-2"><b>N/A</b></td>
                          <td class="col-2"><b>N/A</b></td>
                     <% end %>  

                  </tr> 
                <% end %>  
              <% end %>     

          </table>
          </div>    
          
          
          <% avgparcent = total_parcent.to_f/total_subject.to_f %>
          <table id="listing table-design" style="margin-top:10px;">
              <tr>
                  <td>Total Number of Working Days : <%= @report_data['total'] %></td>
                  <%#*<td>Total Number Of Days : 67</td>%>
                  <td>Days Present : <%= @report_data['present'] %> </td>
                  <%#*<td>Days Present : <%= @report_data['present'] %>
                  <td>Average Marks : <%= sprintf( "%0.02f",avgparcent) %> % </td>
                  <%  grade = GradingLevel.percentage_to_grade(avgparcent, @batch.id) %>
                  
                  <% if !grade.blank?  and !grade.credit_points.blank? %>
                  <td>CGPA : <%= grade.credit_points %> </td>
                  <% else %>
                  <td >-</td>
                  <% end %>    
                  
                
              </tr>  
                  
          </table>
          
          
          <% unless @report_data['report']['no_exam_subject_resutl'].blank? || !@report_data['report']['no_exam_subject_resutl'].blank? %>
           <div class="section1 row" >
            <center>
              <div class="hor_line"></div>
              <h3>Cumulative Assessment Record</h3>
            </center>
          </div>
            <table id="listing table-design" style="margin-top:20px;">
                <% 
                  iloop = 1
                  cloop = 1
                %>
                <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>
                   
                    <% if iloop == 1 %>
                        <tr>
                    <% end %>
                    <% if cloop == 3 %>
                        </tr>
                        <tr>
                    <% cloop = 1 %>        
                    <%  end %> 
                        <td   width="6%"><%= iloop %></td>
                        <td   width="23%"><%= report['subject_name'] %></td>
                        <% if report['subject_comment'].blank? %>
                          <td   width="23%">Not Tested Yet</td>
                        <% else %>
                          <td   width="23%"><%= report['subject_comment'] %></td>
                        <% end %>
                    <% iloop = iloop+1 %> 
                    <% cloop = cloop+1 %>
                <% end %>
                              
            </table>
          <% end %>
          <p>
              <b>
               <% if !@exam_comment.blank? and (@current_user.student? or @current_user.parent? ) %>
                Teachers Comments : <%= @exam_comment.comments %>
               <% end %>   
              </b>
          </p>
          <% unless @current_user.student? or @current_user.parent? %>
          <p>Teachers Comments : </p>
          <p><input type="text" value="<% if !@exam_comment.blank? %><%= @exam_comment.comments %><% end %>" size="90" style="height:50px;" id="exam_comments" name="exam_comments"></p>
          <p><%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader2", :style =>"display: none;" ) %><input type="button" value="save" name="exam_comment_save" id="exam_comment_save" /></p>
            
          <% end %>
          <%= link_to " ► #{t('pdf_report')}",
            { :action => "generated_report5_pdf", :batch_id => @batch.id, :student=>@student.id, :type=> @type,:connect_exam=>@connect_exam, :page_height=>450},:target => '_blank', :class=> 'user_button' %>

          <div class="extender"></div>
      </div>

     

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<style type="text/css">
    .user_button
    {
        margin-left:0px;
    }
    .CSSTableGenerator table.summary thead tr th
    {
        color: #000;
        padding : 30px;
        background-color:#F2F5F6;
    }
    .CSSTableGenerator table.summary thead tr th:last-child
    {
        border:none;
    }
    .CSSTableGenerator table thead tr th {
        background-color: #f0f2f3;
        border-right: 1px solid #d7dbdd;
        padding: 3px;
        text-align: center;
        font-size: 12px;
    }
    .CSSTableGenerator td a:hover {
          background:none;
    }
    .CSSTableGenerator td a {
      background: white;
      color: #000;
      cursor: pointer;
      float: none;
      font-size: 12px;
      font-weight: bold;
      padding: 0px;
      text-decoration: none;
  }

    .CSSTableGenerator table#listing  td {
        vertical-align: middle;
        border: 1px solid #D7DBDD;
        text-align: left;
        padding: 15px;
        font-size: 12px;
        font-weight: normal;
        color: #333333;
    }
    .CSSTableGenerator table thead tr th span:last-child
    {
        color: #C00;
        font-size: 35px;
        float:left;
        margin-left: 10px;
        margin-top: 0px;

    }
    .header-wrapper .header-title-sub-text {
        letter-spacing: unset;
    }
    .timetable_last a
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #CB1119 none repeat scroll 0 0;
        color: #FFFFFF !important;
        font-size: 14px;
        font-weight: bold;
        margin-top: 20px;
        padding: 7px 10px;
        border: none;
        text-align: center;
        width: auto;
        cursor: pointer;
        float: left;
        margin-left:8px;
        text-decoration: none;
        display: block;
    }
    .subcontent-date p
    {
        line-height: 1.8;
        margin: 0px;
        padding: 0;
    }
    div.button-link-report
    {

        background: #C91018;
        color:white;

    }
    div.button-link-report:hover
    {
        background: #383838;
    }
    .CSSTableGenerator td
    {
        padding: 10px;
    }
</style> 
<script>
  var jj = jQuery.noConflict();
jj(document).ready(function() {
jj('#exam_comment_save').click(function(){
    Element.show('loader2')
    new Ajax.Request('/exam/generated_report5',
    {asynchronous:true, evalScripts:true,
      parameters:'comments='+jj('#exam_comments').val()+'&student=<%= @student.id %>&type=<%= @type %>&connect_exam=<%= @connect_exam %>',onSuccess:function(request){Element.hide('loader2')}
    }); 
    });   
});     
</script>

