<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="page-yield" class="bg-disable">

  <div class="header-wrapper">
    <div class="header-title">
      <div class="header-icon">
        <%= image_tag '/images/icons/report-card.png', :html => {:alt => 'Report Card'} %>
      </div>
      <div class="header-title-text-wrapper">
        <div class="header-title-main-text f2">
          <%= link_to "#{t('exams_text')}", :controller => "student", :action => "class_test_report", :extra => "term" %>&nbsp;| Report
          
        </div>
        <div class="header-title-sub-text">
          <%= @local_tzone_time.to_date %>
        </div>
      </div>
      
    </div>
    <% unless @current_user.student? or @current_user.parent? %>
          <div id="inner-tab-menu">
            <ul style="margin: 10px 20px 0 0;">
              <li class="themed_bg themed-dark-hover-background"><%= link_to "All result",
                        {:action => "student_wise_generated_report_all",:exam_group=>@exam_group.id},:target => '_blank' %></li>
              <% if @exam_group.exam_category == 5 %>
              <li class="themed_bg themed-dark-hover-background"><%= link_to "Tabulation Sheet",
                        {:action => "student_wise_tabulation",:exam_group=>@exam_group.id},:target => '_blank' %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
  </div>



  <div class="clearfix"></div>

  <% unless @current_user.student? or @current_user.parent? %>
      <div id="page-yield" style="margin-top:0px;">

        <% unless @current_user.student? or @current_user.parent? %>
          <div class="bread_crumb">
            <%= link_to t('exam_text'), :controller => "exam", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
            <%= link_to t('report_center'), :controller => "exam", :action => "report_center" %> <div class = "bread-crumb-separator"> > </div>
            <%= link_to t('exam_wise_report'), :controller => "exam", :action => "exam_wise_report" %> <div class = "bread-crumb-separator"> > </div>
            <%= t('generated_report') %>
          </div>
        <% end %>
        <% unless flash[:notice].nil? %>
          <p class="flash-msg"> <%= flash[:notice] %> </p>
        <% end %>
        <% if @student.batch.id == @exam_group.batch_id %>
          <h3 align="center"><%= @student.batch.full_name %> - <%= @exam_group.name %></h3>
        <% else %>
          <h3 align="center">Result Of : <%= @batch.full_name %> - <%= @exam_group.name %></h3>
          <h3 align="center">Current Student Class : <%= @student.batch.full_name %></h3>
        <% end %> 
        <div id="student_list">
          <%= render  :partial=>"exam_wise_student_list" %>
        </div>
        <div id="exam_wise_report">
          <%= render :partial=>'exam_wise_report' %>
        </div>
        <div class="box">

        </div>
      </div>
<% else %>
  <div id="page-yield" style="margin-top:0px; width: 97%;padding: 15px;">

    <% unless @current_user.student? or @current_user.parent? %>
      <div class="bread_crumb">
        <%= link_to t('exam_text'), :controller => "exam", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
        <%= link_to t('report_center'), :controller => "exam", :action => "report_center" %> <div class = "bread-crumb-separator"> > </div>
        <%= link_to t('exam_wise_report'), :controller => "exam", :action => "exam_wise_report" %> <div class = "bread-crumb-separator"> > </div>
        <%= t('generated_report') %>
      </div>
    <% end %>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
     <% if @exams.empty? && @current_user.parent? %>
      <p class="flash-msg"> <%=  t('select_appropite_child') %> </p>
    <% else %>
      <div class="CSSTableGenerator" >
          <table id="listing" class="f5 summary" align="center" width="100%" cellpadding="1" cellspacing="1">
              <thead>
              <tr class="tr-head">
              <th><span style="font-size:22px;"><%= @exam_group.name %></span></th>
          <!--<h3 align="center"><%#= @student.batch.full_name %> - <%#= @exam_group.name %></h3>-->

                <th><%= render  :partial=>"exam_wise_student_name" %></th>
                <th><span  style="margin-top:0px;">Class :</span> <span style="font-size:22px;"><%= @batch.course.full_name %>
                <%= @batch.name %></span></th>
               </tr>
              </thead>
          </table>    
     
      <div>
        <%= render :partial=>'exam_wise_report' %>
      </div>
      <div class="box">

      </div>
    <% end %>
  </div>
<% end %>
  
    
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'list_table' %>
<%= stylesheet_link_tag 'syllabus/single_syllabus' %>
<%= stylesheet_link_tag 'pagination_and_table' %>

<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<%= load_redactor_script %>
<style type="text/css">
  .CSSTableGenerator table.summary thead tr th
  {
     color: #000;
     padding : 30px;
     background-color:#F2F5F6;
  }
  .CSSTableGenerator table.summary thead tr th:last-child
  {
     border:none;
  }
  .CSSTableGenerator table thead tr th span
  {
    color: #000;
    float:left;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 10px;
    
  }
  .CSSTableGenerator table#listing  td {
  vertical-align: middle;
  border: 1px solid #D7DBDD;
  text-align: left;
  padding: 15px;
  font-size: 12px;
  font-weight: normal;
  color: #333333;
}
  .CSSTableGenerator table thead tr th span:last-child
  {
      color: #C00;
      font-size: 35px;
      float:left;
      margin-left: 10px;
      margin-top: 0px;
     
  }
  .header-wrapper .header-title-sub-text {
    letter-spacing: unset;
  }
    .timetable_last a
  {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: #CB1119 none repeat scroll 0 0;
      color: #FFFFFF !important;
      font-size: 14px;
      font-weight: bold;
      margin-top: 20px;
      padding: 7px 10px;
      border: none;
      text-align: center;
      width: auto;
      cursor: pointer;
      float: left;
      margin-left:8px;
      text-decoration: none;
      display: block;
  }
  .subcontent-date p
  {
       line-height: 1.8;
      margin: 0px;
      padding: 0;
  }
   div.button-link-report
  {
    
    background: #C91018;
    color:white;
    
  }
  div.button-link-report:hover
  {
    background: #383838;
  }
  .CSSTableGenerator td
  {
     padding: 10px;
  }
</style>



<script type="text/javascript">
  function set_active(){
    $$('.active-link').each(function(e){
      e.removeClassName('active-link');
    });
    this.addClassName('active-link')
  }
  function draw_report(){
    Element.show('loader')
    new Ajax.Request('/exam/generated_report',
    {asynchronous:true, evalScripts:true,
      parameters:'student='+this.id+'&exam_group=<%= @exam_group.id %>&batch_id=<%= @exam_group.batch_id %>',onSuccess:function(request){Element.hide('loader')}
    })
  }
  document.observe("dom:loaded", function() {
    $$('.student-link').invoke('observe','click',draw_report);
    $$('.student-link').invoke('observe','click',set_active);
  });
</script>
