<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('grouped_exam_reports') %></div>
</div>
<div id="page-yield">
      <div class="bread_crumb">
    <%= link_to t('exam_text'), :controller => "exam", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to t('report_center'), :controller => "exam", :action => "report_center" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('grouped_exam_reports') %>
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">

    <% form_for :exam_report, :url=>{:action=>'generated_report5'}, :html=> {:id=>'new_student'}  do |x| %>
      <%# if Batch.active.find(:all, :group => "name").length > 1  %> 
        <div class="label-field-pair">
          <label for="student_grade"><%= t('shift_label') %></label>
          <div class="text-input-bg">
            <%= select :student, :batch_name, options_for_select(Batch.active.find(:all, :group => "name").map {|b| [b.name, b.id]}, @batch_no.to_i), 
              {:prompt => "#{t('select')}"},
              {:onChange => "#{remote_function(:url => {:controller => "student", :action => "get_classes"}, :with => "'batch_id='+value+'&'+$('new_student').serialize()+'&section_page=section_view&section_partial=exam/grouped_sections_view_new&page=course_new&partial_view=exam/grouped_courses_view_new'" ,:before => "$('loading_2').show();",
              :success => "$('loading_2').hide();")}"} %>
              <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_2", :style =>"display: none;" ) %></div>
        </div>
        <%# end %>
        <div class="label-field-pair">
          <label for="student_grade"><%= t('class_label') %></label>
          <div class="text-input-bg"><div id="course_new"> <%= render :partial => 'grouped_sections_view_new', :object => @courses %></div></div>
        </div>
        <div class="label-field-pair">
          <label for="student_grade"><%= t('section_label') %></label>
          <div class="text-input-bg"><div id="section_view"> <%= render :partial => 'grouped_courses_view_new', :object => @classes %></div></div>
        </div>  
        
      <div id="report_type"></div>
      <%= submit_tag "", :value => "► #{t('view')}", :class => "submit_button" %>
      <% #  x.submit 'View' %>

    <% end %>
    <div class="extender"></div>
  </div></div>
