<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%
unless @group_name_upper.blank?
  group_split = @group_name_upper.split(" ")
  unless group_split[2].blank?
    group_split[0] = group_split[0]+" "+group_split[1]
  end 
  
  if !@group_name_upper.blank? && !@group_name_upper.index("--").nil? 
    group_split[0] = ""
  end 
       
  @group_name_upper = group_split[0]
end


if !@student_position.blank? and !@student_position_batch.blank?
  @student_position_first_term_batch = @student_position_batch
  @student_position_first_term = @student_position
  if @connect_exam_obj.result_type < 13
    @section_all_position_batch = @section_all_position_batch_final_term
  end
elsif !@student_position_second_term.blank?  and !@student_position_second_term_batch.blank?
  @student_position_first_term_batch = @student_position_second_term_batch
  @student_position_first_term = @student_position_second_term
  @section_all_position_batch = @section_all_position_batch_2nd_term
end  

%>
<div id="page-yield" class="available_sections1 baf_shaheen">
    <div class="page1"> </div>
    <div class="section1 row" >
        <center>
            <p>&nbsp;</p>
            <% if !@student_result.blank? %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <% if @class.blank? %>
                    <tr class="table-header">
                        <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                        <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                        <td class="col-pdf no-warp" rowspan="2">Roll</td>
                        <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                        <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                        
                        <td class="col-pdf no-warp" rowspan="2">GP</td>
                        <td class="col-pdf no-warp" rowspan="2">GPA</td>
                        <td class="col-pdf no-warp" rowspan="2">Marks</td>
                        <td class="col-pdf no-warp" rowspan="2">LG</td>

                        <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>

                    </tr> 

                    <tr class="table-header">
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group</td>
                    </tr>
                  <% else %>

                    <tr class="table-header">
                        <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                        <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                        <td class="col-pdf no-warp" rowspan="2">Roll</td>
                        <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                        <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                        <td class="col-pdf no-warp" rowspan="2">GP</td>
                        <td class="col-pdf no-warp" rowspan="2">GPA</td>
                        <td class="col-pdf no-warp" rowspan="2">Marks</td>
                        <td class="col-pdf no-warp" rowspan="2">LG</td>
                        <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>
                    </tr>
                    <tr class="table-header">
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group
                        <% unless @group_name_upper.blank? %>
                            &nbsp;(<%= @group_name_upper %>)
                        <% end %>    
                        </td>
                    </tr>
                  <% end %>

                  <% std_count = 0 %>
                  <% srl = 0 %>
                    <% onebreak = 0 %>
                  <% @student_result.each do |std_result| %>
                    <%  std_count = std_count+1 %>
                    <%  srl = srl+1 %>
                    <% if std_count>24 %>
                      <% std_count = 1 %>
                      <tr class="page-break-merit-list">
                          <td colspan="100">&nbsp;</td>
                      </tr>
                      <% onebreak = 1 %>
                      <% if @class.blank? %>
                        <tr class="table-header">
                            <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                            <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                            <td class="col-pdf no-warp" rowspan="2">Roll</td>
                            <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                            <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                            <td class="col-pdf no-warp" rowspan="2">GP</td>
                            <td class="col-pdf no-warp" rowspan="2">GPA</td>
                            <td class="col-pdf no-warp" rowspan="2">Marks</td>
                            <td class="col-pdf no-warp" rowspan="2">LG</td>

                            <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>

                        </tr> 

                        <tr class="table-header">
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group</td>
                        </tr>
                      <% else %>

                        <tr class="table-header">
                            <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                            <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                            <td class="col-pdf no-warp" rowspan="2">Roll</td>
                            <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                            <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                            <td class="col-pdf no-warp" rowspan="2">GP</td>
                            <td class="col-pdf no-warp" rowspan="2">GPA</td>
                            <td class="col-pdf no-warp" rowspan="2">Marks</td>
                            <td class="col-pdf no-warp" rowspan="2">LG</td>
                            <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>
                        </tr>
                        <tr class="table-header">
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group
                            <% unless @group_name_upper.blank? %>
                              &nbsp;(<%= @group_name_upper %>)
                            <% end %>
                            </td>
                        </tr>
                      <% end %>
                    <% end %>    

                    <tr class="table-header">
                        <td class="col-pdf no-warp"><%= srl %></td>
                        <td class="col-pdf no-warp"><%= std_result['sid'].to_s %></td> 
                        <td class="col-pdf no-warp"><%= std_result['roll'].to_s %></td> 
                        <td class="col-pdf no-warp"><%= std_result['name'].to_s %></td>
                        <td class="col-pdf no-warp"><%= std_result['batch_data'].to_s %></td>
                        <td class="col-pdf no-warp">
                        <% if !@student_position_first_term_batch.blank? && !@student_position_first_term_batch[std_result['id'].to_i].blank? %>
                          <%= std_result['gpa'].to_s %>
                        <% else %>
                            -
                        <% end %>    
                        </td>
                        <td class="col-pdf no-warp">
                        <% if !@student_position_first_term_batch.blank? && !@student_position_first_term_batch[std_result['id'].to_i].blank? %>
                          <%= std_result['gp'].to_s %>
                        <% else %>
                            -
                        <% end %></td>
                        <td class="col-pdf no-warp"><%= sprintf( "%0.02f", std_result['grand_total_with_fraction'].to_f ) %></td>

                        <% if !@student_position_first_term_batch.blank? && !@student_position_first_term_batch[std_result['id'].to_i].blank? %>
                          <td class="col-pdf no-warp"><%= std_result['lg'] %></td>
                        <% else %>
                          <td class="col-pdf no-warp"><%= "F" %></td>
                        <% end %> 

                        <% if @class.blank? %>
                          <% if !@student_position_first_term_batch.blank? && !@student_position_first_term_batch[std_result['id'].to_i].blank? %>

                            <td class="col-pdf no-warp center-class"><%= @student_position_first_term_batch[std_result['id'].to_i] %></td>

                          <% else %>
                            <td class="col-pdf no-warp" colspan="2">
                                <%
                                iloop = 0
                                unless std_result['subject_failed'].blank?
                                  std_result['subject_failed'].each do |sub_failed|
                                    iloop = iloop+1
                                    if iloop > 1
                                    %>, <%
                                      end 
                                  %><%= sub_failed %><%
                                    if iloop>4
                                       iloop = 0
                                       %><%= "<br/>"  %><%
                                    end
                                  end 

                                  end  

                              %>
                            </td>
                          <% end %> 
                          <% if !@student_position_first_term.blank? && !@student_position_first_term[std_result['id'].to_i].blank? %>
                            <td class="col-pdf no-warp center-class"><%= @student_position_first_term[std_result['id'].to_i] %></td>
                          <% end %>
                        <% else %>
                            
                          <% if !@section_all_position_batch.blank? && !@section_all_position_batch[std_result['batch_id'].to_i].blank? && !@section_all_position_batch[std_result['batch_id'].to_i][std_result['id'].to_i].blank? %>

                            <td class="col-pdf no-warp center-class"><%= @section_all_position_batch[std_result['batch_id'].to_i][std_result['id'].to_i] %></td>

                          <% else %>
                            <td class="col-pdf no-warp" colspan="2">
                                <%
                                iloop = 0
                                
                                unless std_result['subject_failed'].blank?
                                  std_result['subject_failed'].each do |sub_failed|
                                    iloop = iloop+1
                                    if iloop > 1
                                    %>, <%
                                    end 
                                  %><%= sub_failed %><%
                                    if iloop>4
                                       iloop = 0
                                       %><%= "<br/>"  %><%
                                    end  
                                  end 

                                  end  

                              %>
                            </td>

                          <% end %> 
                          
                          <% if !@student_position_first_term_batch.blank? && !@student_position_first_term_batch[std_result['id'].to_i].blank? %>
                            <td class="col-pdf no-warp center-class"><%= @student_position_first_term_batch[std_result['id'].to_i] %></td>
                          <% end %>
                            
                          

                        <% end %>  
                    </tr>


                  <% end %>

              </table>  
            <% else %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <% if @class.blank? %>
                    <tr class="table-header">
                        <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                        <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                        <td class="col-pdf no-warp" rowspan="2">Roll</td>
                        <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                        <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                        
                        <td class="col-pdf no-warp" rowspan="2">GP</td>
                        <td class="col-pdf no-warp" rowspan="2">GPA</td>
                        <td class="col-pdf no-warp" rowspan="2">Marks</td>
                        <td class="col-pdf no-warp" rowspan="2">LG</td>

                        <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>

                    </tr> 

                    <tr class="table-header">
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group</td>
                    </tr>
                  <% else %>

                    <tr class="table-header">
                        <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                        <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                        <td class="col-pdf no-warp" rowspan="2">Roll</td>
                        <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                        <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                        <td class="col-pdf no-warp" rowspan="2">GP</td>
                        <td class="col-pdf no-warp" rowspan="2">GPA</td>
                        <td class="col-pdf no-warp" rowspan="2">Marks</td>
                        <td class="col-pdf no-warp" rowspan="2">LG</td>
                        <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>
                    </tr>
                    <tr class="table-header">
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                        <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group
                        <% unless @group_name_upper.blank? %>
                            &nbsp;(<%= @group_name_upper %>)
                        <% end %>    
                        </td>
                    </tr>
                  <% end %>

                  <% std_count = 0 %>
                  <% srl = 0 %>
                    <% onebreak = 0 %>
                  <% @exam_connect_merit_lists.each do |exam_connect_merit_list| %>
                    <%  std_count = std_count+1 %>
                    <%  srl = srl+1 %>
                    <% if std_count>24 %>
                      <% std_count = 1 %>
                      <tr class="page-break-merit-list">
                          <td colspan="100">&nbsp;</td>
                      </tr>
                      <% onebreak = 1 %>
                      <% if @class.blank? %>
                        <tr class="table-header">
                            <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                            <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                            <td class="col-pdf no-warp" rowspan="2">Roll</td>
                            <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                            <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                            <td class="col-pdf no-warp" rowspan="2">GP</td>
                            <td class="col-pdf no-warp" rowspan="2">GPA</td>
                            <td class="col-pdf no-warp" rowspan="2">Marks</td>
                            <td class="col-pdf no-warp" rowspan="2">LG</td>

                            <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>

                        </tr> 

                        <tr class="table-header">
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group</td>
                        </tr>
                      <% else %>

                        <tr class="table-header">
                            <td class="col-pdf no-warp" rowspan="2" >Srl</td>
                            <td class="col-pdf no-warp" rowspan="2">StudentId</td>
                            <td class="col-pdf no-warp" rowspan="2">Roll</td>
                            <td class="col-pdf no-warp" rowspan="2">Student Name</td>
                            <td class="col-pdf no-warp" rowspan="2">Academic Information</td>
                            <td class="col-pdf no-warp" rowspan="2">GP</td>
                            <td class="col-pdf no-warp" rowspan="2">GPA</td>
                            <td class="col-pdf no-warp" rowspan="2">Marks</td>
                            <td class="col-pdf no-warp" rowspan="2">LG</td>
                            <td class="col-pdf no-warp center-class colspan-1" colspan="2">Position</td>
                        </tr>
                        <tr class="table-header">
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Section</td>
                            <td class="col-pdf no-warp center-class colspan-1" colspan="1">Class/Group
                            <% unless @group_name_upper.blank? %>
                              &nbsp;(<%= @group_name_upper %>)
                            <% end %>
                            </td>
                        </tr>
                      <% end %>
                    <% end %>    

                    <tr class="table-header">
                        <td class="col-pdf no-warp center-clas"><%= srl %></td>
                        <td class="col-pdf no-warp center-clas"><%= exam_connect_merit_list.student.admission_no.to_s %></td> 
                        <td class="col-pdf no-warp"><%= exam_connect_merit_list.student.class_roll_no.to_s %></td> 
                        <td class="col-pdf no-warp"><%= exam_connect_merit_list.student.full_name.to_s %></td>
                        <td class="col-pdf no-warp"><%= exam_connect_merit_list.batch.full_name.to_s %></td>
                        <td class="col-pdf no-warp center-clas"><%= exam_connect_merit_list.gp.to_s %></td>
                        <td class="col-pdf no-warp center-clas"><%= exam_connect_merit_list.gpa.to_s %></td>
                        <td class="col-pdf no-warp center-clas"><%= sprintf( "%0.02f", exam_connect_merit_list.marks.to_f ) %></td>
                        <td class="col-pdf no-warp center-clas"><%= exam_connect_merit_list.lg.to_s %></td>
                        <% if @class.blank? %>
                        <td class="col-pdf no-warp center-class"><%= exam_connect_merit_list.position.to_s %></td>
                        <% else %>
                          <% subject_fails = exam_connect_merit_list.subject_failed.split(",").compact %>
                          <td class="col-pdf no-warp" colspan="2">
                                <%
                                iloop = 0
                                
                                unless subject_fails.blank?
                                  subject_fails.each do |sub_failed|
                                    iloop = iloop+1
                                    if iloop > 1
                                    %>, <%
                                    end 
                                  %><%= sub_failed %><%
                                    if iloop>4
                                       iloop = 0
                                       %><%= "<br/>"  %><%
                                    end  
                                  end 

                                  end  

                              %>
                            </td>
                      
                        <% end %>
                        <td class="col-pdf no-warp center-class"><%= exam_connect_merit_list.section_position.to_s %></td>
                    </tr>
                  <% end %>
              </table>  
            <% end %>
        </center>
    </div>
</div>

<style>
    .baf_shaheen table#pdf-table tr.table-header td
    {
        text-align: left !important;
    }
    .baf_shaheen table#pdf-table tr.table-header td.center-class
    {
        text-align: center !important;
    }
    .baf_shaheen table#pdf-table tr.table-header td p
    {
        padding:0 !important;
        margin:0 !important;
        margin-top:4px !important;
        margin-bottom:4px !important;
    }
    .no-warp 
    {
        white-space: nowrap !important;
    }
    .baf_shaheen table#pdf-table tr.page-break-merit-list td
    {
        height: 177px !important;
    }
    h4.line-height-10
    {
        line-height: 10px !important;
    }
</style>    
