<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%
@group_name_upper = @batch.course.group unless @batch.course.group.blank?
unless @group_name_upper.blank?
  group_split = @group_name_upper.split(" ")
  unless group_split[2].blank?
    group_split[0] = group_split[0]+" "+group_split[1]
  end 
  if !@group_name_upper.blank? && !@group_name_upper.index("--").nil? 
    group_split[0] = ""
  end 
  @group_name_upper = group_split[0]
end
%>
<div id="page-yield" class="available_sections1 baf_shaheen">
    <div class="page1"> </div>
    <div class="section1 row" >
        <center>
            <%= render  :partial=>"/layouts/header_sagc" %>
            
            <h3 align="center"><%= @connect_exam_obj.name %></h3>
            <h3 align="center">Subjectwise Total Number of Passed & Failed</h3>
            <table id="pdf-table" width="100%" cellspacing="0">
              <tr class="table-header">
                      <td class="col-pdf">Program : <%= @batch.course.course_name %></td>
                      <td class="col-pdf">Group : <% unless @group_name_upper.blank? %><%= @group_name_upper %><% end %></td>
                      <td class="col-pdf">Section : <% if @class.blank? %> <%= @batch.course.section_name %><% end %></td>
              </tr>
              <% batch_split = @batch.name.split(" ") %>
              <tr class="table-header">
                      <td class="col-pdf">Shift : <%= batch_split[0] %></td>
                      <td class="col-pdf">Version : <%= batch_split[1] %></td>
                      <td class="col-pdf">Session : <%= @batch.course.session %></td>
              </tr>
            </table>
            <h3>&nbsp;</h3>
            
            <table id="pdf-table" width="100%" align="center" cellspacing="0">
                    <tr class="table-header">
                        <td class="col-pdf" rowspan="2"><b>Srl.</b></td>  
                        <td class="col-pdf" rowspan="2"><b>Subject Name</b></td> 
                        <td class="col-pdf center-align" rowspan="2"><b>Total Examinee</b></td> 
                        <td class="col-pdf center-align" rowspan="2"><b>Total Passed</b></td>
                        <td class="col-pdf center-align" rowspan="2"><b>Total Failed</b></td>
                        <td class="col-pdf center-align" colspan="2"><b>Failed Due To</b></td> 
                    </tr> 
                    <tr class="table-header">
                        <td class="col-pdf center-align"><b>Appeared</b></td>
                        <td class="col-pdf center-align"><b>Absent</b></td> 
                    </tr>
                    <% srl = 1 %>
                    <% if @custom %>
                      <% total_student_subjects = [] %>
                      <% @subjects.each do |subject| %>
                        <%
                          total_student_subjects[subject.id] = @subject_passed[subject.id.to_s].to_i + @subject_failed[subject.id.to_s].to_i + @subject_appeard[subject.id.to_s].to_i + @subject_absent[subject.id.to_s].to_i
                        %>
                      <% end %>
                      <% @subjects.each do |subject| %>
                        <tr class="table-header">
                          <td class="col-pdf"><%= srl %></td>  
                          <td class="col-pdf"><%= subject.name %></td> 
                          <td class="col-pdf center-align"><%= total_student_subjects[subject.id]  %></td> 
                          <td class="col-pdf center-align"><%= @subject_passed[subject.id.to_s].blank? ? 0 : @subject_passed[subject.id.to_s]  %></td>
                          <td class="col-pdf center-align"><%= @subject_failed[subject.id.to_s].blank? ? 0 : @subject_failed[subject.id.to_s] %></td>
                          <td class="col-pdf center-align"><%= @subject_appeard[subject.id.to_s].blank? ? 0 : @subject_appeard[subject.id.to_s] %></td> 
                          <td class="col-pdf center-align"><%= @subject_absent[subject.id.to_s].blank? ? 0 : @subject_absent[subject.id.to_s]  %></td>
                        </tr> 
                        <% srl = srl + 1 %>
                      <% end %>
                    <% else %>
                    <% if !@subject_result.blank? %>
                      <%
                        sub_id_array = []
                        @subject_result.each do |key,sub_res|
                          unless sub_id_array.include?(key)
                            sub_id_array << key
                          end
                        end
                        @all_subject_connect_exam = Subject.find_all_by_code(sub_id_array,:conditions=>["batch_id = ? and is_deleted = ?",@batch.id, false],:order=>"priority asc")
                      %>
                    
                      <% @all_subject_connect_exam.each do |val| %>
                        <% key = val.code.to_s %>
                        <% if @subject_result[key].blank?  %>
                          <% next %>
                        <% end %>
                        <% key2 = val.id.to_s %>
                        <% srl = srl+1 %> 
                        <% total_passed = 0 %>
                        <% total_passed = @subject_result[key]['total'] unless @subject_result[key]['total'].blank? %>
                        <% unless @subject_result[key]['failed'].blank? %>
                          <% total_passed = total_passed.to_i-@subject_result[key]['failed'].to_i %>
                        <% end %>
                        <tr class="table-header">
                          <td class="col-pdf"><%= srl %></td>  
                          <td class="col-pdf"><%= @subject_result[key]['name'] unless @subject_result[key]['name'].blank? %></td> 
                          <td class="col-pdf center-align"><%= @subject_result[key]['total'] unless @subject_result[key]['total'].blank? %></td> 
                          <td class="col-pdf center-align"><%= total_passed %></td>
                          <td class="col-pdf center-align"><%= @subject_result[key]['failed'] unless @subject_result[key]['failed'].blank? %></td>
                          <td class="col-pdf center-align"><%= @subject_result[key]['appeared'] unless @subject_result[key]['appeared'].blank? %></td> 
                          <td class="col-pdf center-align"><%= @subject_result[key]['absent'] unless @subject_result[key]['absent'].blank? %></td>
                        </tr> 
                      <% end %>
                    <% end %>
                    <% end %>
            </table>     
              
              
        </center>
    </div>
</div>

<style>
    .baf_shaheen table#pdf-table tr.table-header td.name-left
    {
        text-align: left !important;
    }
</style>    
