<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%
if !@student_position.blank?
  @student_position_first_term_batch = @student_position_batch
  @student_position_first_term = @student_position
  @student_list_first_term_batch = @student_list_batch
elsif !@student_position_second_term.blank? 
  @student_position_first_term_batch = @student_position_second_term_batch
  @student_position_first_term = @student_position_second_term
  @student_list_first_term_batch = @student_list_second_term_batch
end 
%>
<%
@group_name_upper = @batch.course.group unless @batch.course.group.blank?
unless @group_name_upper.blank?
  group_split = @group_name_upper.split(" ")
  unless group_split[2].blank?
    group_split[0] = group_split[0]+" "+group_split[1]
  end  
  if !@group_name_upper.blank? && !@group_name_upper.index("--").nil? 
    group_split[0] = ""
  end 
  @group_name_upper = group_split[0]
end
%>
<div id="page-yield" class="available_sections1 baf_shaheen">
    <div class="page1"> </div>
    <div class="section1 row" >
        <center>
            <%= render  :partial=>"/layouts/header_sagc" %>
            <h3 align="center">Summary Report</h3>
            <h3 align="center"><%= @connect_exam_obj.name %></h3>
            
            <table id="pdf-table" width="100%" cellspacing="0">
              <tr class="table-header">
                      <td class="col-pdf">Program : <%= @batch.course.course_name %></td>
                      <td class="col-pdf">Group : <% unless @group_name_upper.blank? %><%= @group_name_upper %><% end %></td>
                      <td class="col-pdf">Section :<% if @class.blank? %> <%= @batch.course.section_name %><% end %></td>
              </tr>
              <% batch_split = @batch.name.split(" ") %>
              <tr class="table-header">
                      <td class="col-pdf">Shift : <%= batch_split[0] %></td>
                      <td class="col-pdf">Version : <%= batch_split[1] %></td>
                      <td class="col-pdf">Session : <%= @batch.course.session %></td>
              </tr>
            </table>
            
              <h3 align="center">Summary</h3>
              <% if @Class.blank? %>
                <% if !@my_student.blank? %>
                  <table id="pdf-table" width="60%" align="center" cellspacing="0">
                      <tr class="table-header">
                        <td class="col-pdf right-align">Total No. of Students12 </td><td><%= @my_student %> </td>
                      </tr>
                  </table>     
                <% end %>
              <% else %>
                <% if !@total_std_batch.blank? %>
                  <table id="pdf-table" width="60%" align="center" cellspacing="0">
                      <tr class="table-header">
                        <td class="col-pdf right-align">Total No. of Students123 </td><td><%= @total_std_batch %> </td>
                      </tr>
                  </table>     
                <% end %>
              <% end %>

              <h3 align="center">Passed/ Failed</h3>
              <% if @Class.blank? %>
                <% if !@section_all_position_batch.blank? %>
                  <table id="pdf-table" width="60%" align="center" cellspacing="0">
                          <tr class="table-header">
                            <td class="col-pdf right-align" >No. of Passed Students </td><td><%= @section_all_position_batch[@batch.id.to_i].count %> </td>
                          </tr>
                          <tr class="table-header">
                            <td class="col-pdf right-align" >No. of Failed with Partial Absentee Students </td><td><%= @my_student-@section_all_position_batch[@batch.id.to_i].count %> </td>
                          </tr>
                          <tr class="table-header border-top">
                            <td class="col-pdf right-align" ></td><td><%= @my_student %> </td>
                          </tr>
                  </table>     
                <% end %>
              <% else %>
                <% if !@student_list_first_term_batch.blank? %>
                  <table id="pdf-table" width="60%" align="center" cellspacing="0">
                          <tr class="table-header">
                            <td class="col-pdf right-align" >No. of Passed Students </td><td><%= @student_list_first_term_batch.count %> </td>
                          </tr>
                          <tr class="table-header">
                            <td class="col-pdf right-align" >No. of Failed with Partial Absentee Students </td><td><%= @total_std_batch-@student_list_first_term_batch.count %> </td>
                          </tr>
                          <tr class="table-header border-top">
                            <td class="col-pdf right-align" ></td><td><%= @total_std_batch %> </td>
                          </tr>
                  </table>     
                <% end %> 
              <% end %> 
              
              <% if @grading_levels.blank? %>
                <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
                <% if @grading_levels.blank? %>
                  <% @grading_levels = GradingLevel.default %>
                <% end %>
              <% end %>
              <% if !@grade_count.blank? %>
              
              <h3 align="center">Passed Student(s)</h3>
              <table id="pdf-table" width="60%" align="center" cellspacing="0">
                      <% total_got = 0 %>
                      <% @grading_levels.each do |grade| %>
                      
                      <% if grade.name != "F" %>
                        <% unless @grade_count[grade.name].blank?  %>
                          <tr class="table-header">
                            <td class="col-pdf right-align" >No. of Student(s) got <%= grade.name %> </td><td><%= @grade_count[grade.name] %> <% total_got = total_got+@grade_count[grade.name].to_i %> </td>
                          </tr>
                        <% end %>
                      <% end %>
                      <% end %>
                      <tr class="table-header border-top">
                        <td class="col-pdf" ></td><td><%= total_got %> </td>
                      </tr>
                  </tr> 
              </table>     
              <% end %>
              <% if !@failed_partial_absent.blank? %>
              
              <h3 align="center">Subject Wise Failed Student(s)</h3>
              
              
              <table id="pdf-table" width="60%" align="center" cellspacing="0">
                      <% total_got = 0 %>
                      
                      <% (1..10).each do |key| %>
                          <% if @failed_partial_absent[key].blank? %>
                            <% next %>
                          <% end %>
                          <tr class="table-header">
                            <td class="col-pdf right-align" >No. of Student(s) Failed in <%= key %> Subjects </td><td><%= @failed_partial_absent[key] %> <% total_got = total_got+@failed_partial_absent[key].to_i %> </td>
                          </tr>
                      <% end %>
                      <tr class="table-header border-top">
                        <td class="col-pdf" ></td><td><%= total_got %> </td>
                      </tr>
                  </tr> 
              </table>     
              <% end %>
              <% if !@failed_appeared_absent.blank? %>
                 
              <% end %>
        </center>
    </div>
</div>

<style>
    .baf_shaheen table#pdf-table tr.table-header td.name-left
    {
        text-align: left !important;
    }
</style>    
