<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <%  unless @from_action == "subjects"  %>     
  <h1><%= t('batches_text') %></h1>
  <% else %>
  <h1><%= t('subjects_text') %></h1>
  <% end %>
<div class='header-sep'>|</div>
<div class='sub-header'><%= "#{t('new_subjectgroup')}" %></div>
<div id="inner-tab-menu">
  <ul>
    <% if @show_batch_subject %>   
    <li class='themed_bg themed-dark-hover-background'><%= link_to t('new_text'), new_batch_subject_group_path(@batch, :from_action => @from_action) %></li>
    <% else %>
      <% if @batch_only %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('new_text'), new_batch_subject_group_path(@batch, :from_action => @from_action, :show_batch_subject => "0", :batch_only => "1", :batch_name => @batch_name) %></li>
      <% else %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('new_text'), new_batch_subject_group_path(@batch, :from_action => @from_action, :show_batch_subject => "0") %></li>
      <% end %>
    <% end %>
  </ul>
</div>
</div>
<div id="page-yield">


 
    <div class="bread_crumb">
      <% if @show_batch_subject %>
      <%= link_to t('subject_text'), :controller => "subjects", :action=>"index", :show_batch_subject => "1" %> <div class = "bread-crumb-separator"> > </div>
      <% else %>
        <% if @batch_only %>
          <%= link_to t('subject_text'), :controller => "subjects", :action=>"index", :show_batch_subject => "1" %> <div class = "bread-crumb-separator"> > </div>
        <% else %>
          <%= link_to t('subject_text'), :controller => "subjects", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
        <% end %>
      <% end %>
      <% if @show_batch_subject %> 
        <%= link_to "#{t('subject_group')}", batch_subject_groups_path(@batch, :show_batch_subject => "1", :from_action => "subjects")  %>  <div class = "bread-crumb-separator"> > </div> 
      <% else %>
        <% if @batch_only %>
          <%= link_to "#{t('subject_group')}", batch_subject_groups_path(@batch, :show_batch_subject => "0", :from_action => "subjects", :batch_only => "1", :batch_name => @batch_name)  %>  <div class = "bread-crumb-separator"> > </div> 
        <% else %>
          <%= link_to "#{t('subject_group')}", batch_subject_groups_path(@batch, :show_batch_subject => "0", :from_action => "subjects")  %>  <div class = "bread-crumb-separator"> > </div> 
        <% end %>
      <% end %>
      <%= t('edit_text') %>
    </div>
    
  <% if @show_batch_subject %>  
    <h4><%= @course.course_name + ", section: " + @course.section_name %></h4>
  <% else %>
    <% if @batch_only %>
      <h4>Subject Group for: <%= @course.course_name %>, <%= @batch_name %> <%= t('batch_text') %> </h4>
    <% else %>
      <h4>Subject Group for: <%= @course.course_name %></h4>
    <% end %>
  <% end %> 
    
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">


    <% form_for [@batch, @subject_group] do |f| %>
      <%= f.error_messages :header_message => nil %>
      <% if @show_batch_subject %>
        <%= hidden_field :batch_subject, :show, :value => "1" %>
      <% else %>
        <%= hidden_field :batch_subject, :show, :value => "0" %>
      <% end %>
      <%= hidden_field :from, :action, :value => @from_action %>
      
      <% unless @batch_only.nil? %>
        <% if @batch_only %>
          <%= hidden_field :course, :batch_only, :value => "1" %>
          <%= hidden_field :course, :batch_name, :value => @batch_name %>
        <% end %>
      <% end %>
      
      <div class="label-field-pair">
        <div class="label-container"> <%= f.label "#{t('name')}" %></div>
        <div class="input-container"><%= f.text_field :name %></div>
      </div>

      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

    <% end %>

    <div class="extender"></div>
  </div>
</div>
