<%
avg = 0
if !@report_data['total'].blank? and @report_data['total'].to_i>0 and !@report_data['present'].blank? and @report_data['present'].to_i>0
  avg = (@report_data['present'].to_f/@report_data['total'].to_f)*100  
  end
%>
<table id="pdf-table" class="margin-top-20 td-align-left text-size-18" width="100%" cellspacing="0">
    <tr class="even">
        <td class="no-warp" colspan="1"><b>School begins On</b></td>
        <td class="no-warp" colspan="1"><b><%=  @connect_exam_obj.attandence_start_date.strftime("%Y-%m-%d") %></b></td>
        <td class="no-warp" colspan="1"><b>Total Working Days</b></td>
        <td class="no-warp" colspan="1"><b><%=  @report_data['total'].to_i %></b></td>
        <td class="no-warp" colspan="1"><b>Attendance Percentage</b></td>
        <td class="no-warp" colspan="1"><b><%= sprintf( "%0.01f", avg) %></b></td>
    </tr>
    <tr class="even">
        <td class="no-warp" colspan="1"><b>Result Issue Date</b></td>
        <td class="no-warp" colspan="2"><b><%= @connect_exam_obj.published_date %></b></td>
        <td class="no-warp" colspan="1"><b>Result Comment</b></td>
        <td class="no-warp" colspan="2"><b><% if !@exam_comment.blank? %><b><%= @exam_comment.comments %><% end %></b></td>
    </tr>
</table>
<table id="pdf-table" class="margin-top-20" width="100%" cellspacing="0">
    <tr class="even">
        <td width="10%"><b>Code No</b></td>
        <td width="90%"><center><b>Remarks</b></center></td>    
</tr>
<tr class="odd">
    <td width="10%"><center>1</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>CONDUCT</b></span>
    <table width="100%">
        <tr>
            <td width="50%">a. Excellent Behaviour</td>
            <td width="50%">b. Good manner</td>
        </tr>
        <tr>
            <td width="50%">c. Organized</td>
            <td width="50%">d. Disorganized</td>
        </tr>
        <tr>
            <td width="50%">e. Satisfactory</td>
            <td width="50%">f. Unsatisfactory</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>2</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>ClASS PERFORMANCE</b></span>
    <table width="100%" >
        <tr>
            <td width="50%">a. Excellent participation</td>
            <td width="50%">b. Attentive</td>
        </tr>
        <tr>
            <td width="50%">c. Intellectual and good interaction</td>
            <td width="50%">d. Hard Working</td>
        </tr>
        <tr>
            <td width="50%">e. More effort required</td>
            <td width="50%">f. Disturbs the class</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>3</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>LANGUAGE AND WRITING SKILLS</b></span>
    <table width="100%">
        <tr>
            <td width="50%">a. Good Command in English</td>
            <td width="50%">b. Creative Thinker</td>
        </tr>
        <tr>
            <td width="50%">c. Research based study in evident</td>
            <td width="50%">d. Vocabulary,spelling and handwriting need attention</td>
        </tr>
        <tr>
            <td width="50%">e. Comprehensive skills required</td>
            <td width="50%">f. Need to read on widely contemporary issues</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>4</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>SCIENCE/MATHS/BUSINESS/HUMANITIES</b></span>
    <table width="100%" >
        <tr>
            <td width="50%">a. Capable of understanding the matter and question</td>
            <td width="50%">b. Lack concentration and conversion Units</td>
        </tr>
        <tr>
            <td width="50%">c. Answer need to be in context</td>
            <td width="50%">d. Clear diagram should be presented</td>
        </tr>
        <tr>
            <td width="50%">e. Correct steps and basic maths methodology needs attention</td>
            <td width="50%">f. Makes careless mistakes</td>
        </tr>
    </table>    

</td>    
</tr>
<tr class="odd">
    <td width="10%"><center>5</center></td>
<td width="90%" class="remarks_code_table">
    <span><b>GENERAL</b></span>
    <table width="100%">
        <tr>
            <td width="50%">a. Very Good</td>
            <td width="50%">b. Good</td>
        </tr>
        <tr>
            <td width="50%">c. Satisfactory</td>
            <td width="50%">d. Unsatisfactory</td>
        </tr>
        <tr>
            <td width="50%">e. Careless regarding school uniform</td>
            <td width="50%">f. Irregular and comes late for school</td>
        </tr>
    </table>    

</td>    
</tr>


</table>



<%= render  :partial=>"/connect_exam/sfx/grading_level_2_column", :locals=>{:exam_marks=>exam_marks} %>

<table id="pdf-table" class="margin-top-20 left-table" width="100%" cellspacing="0">
    <tr class="odd">
        <td class='td-align-left' width='20%'>Section Incharge's Signature</td>
        <td width='80%'><br/><br/></td>
    </tr>
    <tr class="odd">
        <td class='td-align-left' width='20%'>Principal's Signature</td>
        <td width='80%'><br/><br/></td>
    </tr>
</table>