<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <% senior_setion = false %>
  <% senior_setion1 = false %> 
  <% senior_setion2 = false %> 
  <% course_name = @batch.course.course_name  %>
  <% if  course_name == "VI" or course_name == "VII" or course_name == "VIII" or course_name == "IX" %> 
    <% senior_setion = true %>
  <% end %> 
  <% if  course_name == "VI" or course_name == "VII" %> 
    <% senior_setion1 = true %>
  <% end %> 
  <% if  course_name == "VIII" or course_name == "IX" %> 
    <% senior_setion2 = true %>
  <% end %>
  <div id="pdf-header-south" class="sfx-header">
    <h2 align="center">S.F.X Greenherald International School</h2>
  </div> 
  <div id="page-yield"  class="available_sections1 sjis-new sfx">
      <h2 align="center"><%= @connect_exam_obj.name %></h2>
      <table id="pdf-table" class="margin-top-bottom-20" width="100%" cellspacing="0">
          <tr class="even">
              <% if @batch.course.course_name=="AS"%>
                <td class="td-align-left">Name : <b><%= @student.full_name %></b></td>
                <td class="td-align-right">Class : <input type="checkbox" checked="checked" />&nbsp;AS Level&nbsp;&nbsp;<input type="checkbox" />&nbsp;A2 Level</td>

              <% elsif @batch.course.course_name=="A2" %>
                <td class="td-align-left">Name : <b><%= @student.full_name %></b></td>
                <td class="td-align-right">Class : <input type="checkbox"  />&nbsp;AS Level&nbsp;&nbsp;<input type="checkbox" checked="checked" />&nbsp;A2 Level</td>

              <% else %>
                <td >Name : <b><%= @student.full_name %></b></td>
                <td>Class : <b><%= @batch.course.course_name %></b></td>
                <td>Section : <b><%= @batch.course.section_name %></b></td>
                <% if senior_setion == false %>
                <td >Student Id: <b><%= @student.class_roll_no %></b></td>
                <% end %>
              <% end %>
          </tr>
      </table>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">
              <% colspan = 1 %>
              <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <% if report['exam_category'] != '1' %>
                          <% colspan = colspan+1 %>
                          <% end %>
                        <% end %>
                      <% end %>
              
              <table id="pdf-table" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf" rowspan="2"><b><%= "SUBJECTS" %></b></td>
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <% if report['exam_category'] == '1' %>
                          <td class="col-pdf" rowspan="2">
                              <%= report['exam_name'] %>
                          </td>  
                          <% end %>
                        <% end %>
                      <% end %>
                      <td class="col-pdf" colspan="<%= colspan %>">Final Examination</td>
                      <td class="col-pdf" rowspan="2">100%</td>
                      <td class="col-pdf" rowspan="2">Grade</td>
                      <td class="col-pdf" rowspan="2">Remarks</td>
                  </tr>
                  <tr class="table-header">
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <% if report['exam_category'] != '1' %>
                          <td class="col-pdf">
                              <%= report['exam_name'] %>
                          </td> 
                          <% end %>
                        <% end %>
                      <% end %>
                      <td class="col-pdf">60%</td>
                  </tr>

                  <% total_mark_all_subject = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                         <% next %>
                      <% end %>
                      <% has_exam = false %>
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                            <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'] != "AB" %>
                              <% has_exam = true %>
                              <% break %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                      <% if has_exam == false %>
                         <% next %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <% sixty_mark = 0 %>
                          <% sixty_full_mark = 0 %>
                          <% class_test_mark = 0 %>

                          <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                  <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f > 0 %>
                                      <td><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                  <% else %>
                                       <td>-</td>
                                  <% end %>
                                  <% if report['exam_category'] == '1' %>
                                    <% class_test_mark = class_test_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f  %>
                                  <% else %>
                                     <% sixty_mark = sixty_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f  %>
                                  <% end %>
                              <% else %>
                                  <td>-</td>
                              <% end %> 
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% if report['exam_category'] != '1' %>
                                    <% sixty_full_mark = sixty_full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                <% end %>
                                <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %> 
                            <% end %>
                          <% end %>
                          <% 
                          sixty_mark_converted = 0
                          if sixty_full_mark > 0 &&  sixty_mark > 0
                            sixty_mark_converted = (sixty_mark.to_f/sixty_full_mark.to_f)*60 
                            sixty_mark_converted = sixty_mark_converted.round()
                          end
                          main_mark = sixty_mark_converted+class_test_mark
                        %>

                          <% if full_mark.to_f > 0 %>
                            <td class="col-pdf"><%= sixty_mark_converted %></td>
                            <td class="col-pdf"><%= main_mark.round() %></td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf"><%= grade.name %></td>
                            <% else %>
                              <td class="col-pdf">-</td>
                            <% end %>
                          <% else  %>
                            <td class="col-pdf">-</td>
                            <td class="col-pdf">-</td>
                            <td class="col-pdf">-</td>
                          <% end %>  
                          <td class="col-pdf">
                            <% unless @report_data['report']['comments'].blank? %>
                              <% unless @report_data['report']['comments'][subjects['id']].blank? %>
                                <%= @report_data['report']['comments'][subjects['id']] %> 
                              <% end %>
                            <% end %>
                          </td>  
                          

                      </tr> 
                    <% end %>  
                  <% end %>
              </table>
                <%= render  :partial=>"/connect_exam/sfx/comments7" %> 
                 
                <h5><b>&nbsp;</b></h5>
                <% class_teacher = "" %>
                <% class_teachers = [] %>
                <% if !@assigned_employee.blank? %>
                  <% @assigned_employee.each do |emp| %>
                    <% class_teacher = emp.first_name+" "+emp.last_name %>
                  <% end %>
                <% end %>
                <% unless class_teachers.blank? %>
                  <% class_teacher = class_teachers.join(", ") %>
                <% end %>
                <table id="pdf-table" width="99.8%" cellspacing="0">
                    <tr>
                     
                        <td>&nbsp;<%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/319/sis-signature-6-10.jpg")),:width=> '40%' %></td>
                        
                        <td>&nbsp;&nbsp;&nbsp;<%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/319/sfx-1.png")), :width=>"35%" %></td>
                        <% if course_name == "X" %>
                            <% if @batch.course.section_name == "Jupiter" %>
                              <td>&nbsp;&nbsp;&nbsp;<%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/319/jupiter.png")), :width=>"50%" %></td>
                            <% else %>
                              <td>&nbsp;&nbsp;&nbsp;<%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/319/mars.png")), :width=>"50%" %></td>
                            <% end %>

                        <% else %>
                        <td>&nbsp;<%= class_teacher %></td>
                        <% end %>
                    </tr>
                   
                    <tr>
                    <td>&nbsp;HEAD OF SECTION</td>
                    <td>&nbsp;&nbsp;&nbsp;PRINCIPAL'S SIGNATURE</td>
                    <td>&nbsp;Class Teacher</td>
                    </tr>
                   
                </table>
              
          </div>
      </div>



  </div>
  
<% end %>
<%= stylesheet_link_tag 'list_table' %>
<style>
    .sfx margin-top-bottom-50
    {
        margin: 50px !important;
    }
    .sfx .margin-top-50
    {
        margin-top: 50px !important;
    }

    .sfx
    {
        font-family: serif;
    }
    sfx  .table-header td{
        color: #000;
        font-weight: bold;
    }
    <% if senior_setion == true %>
    .sfx table tr.table-header td
    {
        font-size:18px;
        color:black;
        text-align: center;
        padding: 1px 2px;
    }
    .sfx table  tr.odd td
    {
        font-size:18px;
        color:black;
        padding: 1px 2px; 
    }
    .sfx table  tr.even td
    {
        font-size:18px;
        color:black;
        padding: 1px 2px; 
    }
    .sfx table  td
    {

        font-size:18px;
        color:black;
        padding: 1px 2px; 
    }
    <% end %>

    .sfx .left-table
    {
        float:left;
    }
    .sfx .right-table
    {
        float:left;
        margin-left:21px;
    }
    .sfx td.remarks_code_table2
    {
        text-align: left;
        font-size:14px;
    }
    .sfx td.remarks_code_table
    {
        text-align: left;
        font-size:17px;
    }
    .sfx td.remarks_code_table span
    {
        float:left;
    }
    .sfx td.remarks_code_table table
    {
        float:left;
        clear:both;
        text-align: left;
        border:none;

    }
    .sfx td.remarks_code_table table tr
    {
        border:none;
    }
    .sfx td.remarks_code_table table tr td
    {
        border:none;
        padding: 2px 2px 2px 0px;
        text-align: left;
        font-size:17px;
    }
    .no-warp
    {
        white-space: nowrap !important;
    }
    .sfx table.td-align-left td
    {
        text-align: left;
    }
    .sfx table.text-size-18 tr td
    {
        font-size: 17px; 
    }


    .sfx table td.td-align-left
    {
        text-align: left;
    }

    .sfx table td.td-align-right
    {
        text-align: right;
    }
    .sjis table td.border-left-none{
        border-left: 1px solid #000000 !important; 
    } 
    .sjis table td.border-right-none{
        border-right: 1px solid #000000 !important;  
    }
    div.sjis-new
    {
        border: none;
    }


</style>    