<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 sfx sfx-with-comment">  
      <h4 align="center">&nbsp;</h4>

      <table id="pdf-table" class="margin-top-bottom-20" width="100%" cellspacing="0">
          <tr class="even">
              <% if @batch.course.course_name=="AS"%>
                <td class="td-align-left">Name : <b><%= @student.full_name %></b></td>
                <td class="td-align-right">Class : <input type="checkbox" checked="checked" />&nbsp;AS Level&nbsp;&nbsp;<input type="checkbox" />&nbsp;A2 Level</td>
              
              <% elsif @batch.course.course_name=="A2" %>
                <td class="td-align-left">Name : <b><%= @student.full_name %></b></td>
                <td class="td-align-right">Class : <input type="checkbox"  />&nbsp;AS Level&nbsp;&nbsp;<input type="checkbox" checked="checked" />&nbsp;A2 Level</td>
              
              <% else %>
              <td>Name : <b><%= @student.full_name %></b></td>
              <td>Class : <b><%= @batch.course.course_name %></b></td>
              <td>Section : <b><%= @batch.course.section_name %></b></td>
              <td>Roll : <b><%= @student.class_roll_no %></b></td>
              <% end %>
          </tr>
      </table>

      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">


              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <% exam_number = 0 %>
                  <tr class="table-header">
                      <td class="col-pdf td-align-left"><%= "Subject" %></b></td>
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                         <% if exam_number == 0 %>
                            <td class="col-pdf">
                                <%= report['exam_name'] %><% unless @exam_marks[report['exam_id'].to_s].blank?  %><% total_mark_of_allexam = total_mark_of_allexam+@exam_marks[report['exam_id'].to_s].to_i  %> (<%= @exam_marks[report['exam_id'].to_s] %> %)<% end %>
                            </td>
                          
                            <td class="col-pdf">
                              <%= report['exam_name'] %><% unless @exam_marks[report['exam_id'].to_s].blank?  %> (60 %)<% end %>
                            </td>
                          <% else %>
                            <td class="col-pdf">
                              <%= report['exam_name'] %><% unless @exam_marks[report['exam_id'].to_s].blank?  %><% total_mark_of_allexam = total_mark_of_allexam+@exam_marks[report['exam_id'].to_s].to_i  %> (<%= @exam_marks[report['exam_id'].to_s] %>)<% end %>
                            </td>
                          <% end %>
                          <% exam_number = exam_number+1 %>
                        <% end %>
                      <% end %>

                      <td class="col-pdf">Total (100)</td>
                      <td class="col-pdf">Highest Marks</td>
                      <td class="col-pdf">Grade</td>
                      <td class="col-pdf">Remarks Code</td>
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% exam_marks = 0 %>
                  
                  
                  <% unless @report_data['report']['subjects'].blank? %> 
                    
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                              <td class="col-pdf  td-align-left"><%= subjects['name'] %></td>
                              <% unless @report_data['report']['exams'].blank? %>  
                                <% @report_data['report']['exams'].each do |report| %>
                                  <td class="col-pdf">-</td>
                                <% end %>
                              <% end %>  
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                          </tr>
                      <% else %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <% exam_marks = 0 %>
                          <% grade_i = false %>
                          <% grade_w = false %>

                          <td class="col-pdf td-align-left"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% exam_number = 0 %>
                            <% @report_data['report']['exams'].each do |report| %>
                              <td class="col-pdf">
                                      <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                        <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i > -1 %>
                                          <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                          <% if exam_number!=0 %>
                                            <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                          <% end %>
                                        <% elsif report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i == -1 %>
                                            N/A
                                        <% grade_i= true %>
                                        <% elsif report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i == -2 %>
                                            N/A
                                            <% grade_w = true %>
                                        <% end %>
                                      <% else %>
                                        N/A
                                      <% end %>
                                      <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                        <% if exam_number!=0 %>
                                          <% exam_marks = exam_marks+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                        <% end %>
                                      <% else %>

                                      <% end %>  

                              </td>
                              <% if exam_number==0 %>
                                <% marks_obtain = 0 %>
                                <td class="col-pdf">
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                          <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i > -1 %>
                                            <% marks_obtain = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f/100)*60  %>
                                            <%= marks_obtain.to_f %>
                                            <% total_mark = total_mark.to_f+marks_obtain.to_f %>
                                           
                                          <% elsif report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i == -1 %>
                                              N/A
                                          <% grade_i= true %>
                                          <% elsif report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i == -2 %>
                                              N/A
                                              <% grade_w = true %>
                                          <% end %>
                                        <% else %>
                                          N/A
                                        <% end %>
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                          
                                            <% exam_marks = exam_marks+60 %>
                                            <% full_mark = full_mark+60 %>
                                         
                                        <% else %>

                                        <% end %>  

                                </td>
                              <% end %>
                                
                              <% exam_number = exam_number+1 %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
                                <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
                              <% end %>

                            <% end %>
                          <% end %>





                          <% 
                          heighst_mark = 0
                          if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
                            heighst_mark = @report_data['report']['max_mark'][subjects['id']].to_f
                            end  

                          if total_mark.to_f>0 and full_mark.to_f>0
                            main_mark = (total_mark.to_f/full_mark.to_f)*100 
                            else
                            main_mark = 0
                            end  
                        %>

                          <% if full_mark.to_f > 0 %>
                            <td class="col-pdf"><%= total_mark.to_f %></td>
                            <td class="col-pdf"><% if heighst_mark.to_f.round.to_i > 0 %><%= heighst_mark.to_f %><% end %> </td>
                            <td class="col-pdf">
                            <% if grade_i %>
                              <%= "I" %>
                            <% elsif grade_w %>
                              <%= "W" %>
                            <% else %>
                              <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                              <% if !grade.blank? and !grade.name.blank? %>
                              <%= grade.name %>
                              <% else %>
                              N/A
                              <% end %>
                            <% end %>
                            </td>   
                            <td class="col-pdf">
                            <% unless @report_data['report']['comments'].blank? %>
                              <% unless @report_data['report']['comments'][subjects['id']].blank? %>
                                <%= @report_data['report']['comments'][subjects['id']] %> 
                              <% end %>
                            <% end %>
                            </td>
                            
                            

                            <% total_parcent= total_parcent+main_mark %>
                            <% total_subject = total_subject+1 %>
                          <% else  %>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                           
                          <% end %>      

                      </tr> 
                      <% end %>
                    <% end %>  
                  <% end %>     

              </table>
              <%= render  :partial=>"/connect_exam/sfx/comments", :locals=>{:exam_marks=>exam_marks} %>
              
              
              


          </div>
      </div>



  </div>

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>)
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var current_page_height = 0
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1
            el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            insertPage();
        }
        currPage().appendChild(el);
    });
  </script>
<% end %>