
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 sfx">
      
     <h4 align="center">&nbsp;</h4>
      
     <h2 align="center"><%= @connect_exam_obj.name %></h2>
      
     <h4 align="center">&nbsp;</h4>
     <h4 align="center">&nbsp;</h4>
      <table id="pdf-table" class="margin-top-bottom-50" width="100%" cellspacing="0">
          <tr class="even">
              <% if @batch.course.course_name=="AS"%>
                <td class="td-align-left">Name : <b><%= @student.full_name %></b></td>
                <td class="td-align-right">Class : <input type="checkbox" checked="checked" />&nbsp;AS Level&nbsp;&nbsp;<input type="checkbox" />&nbsp;A2 Level</td>
              
              <% elsif @batch.course.course_name=="A2" %>
                <td class="td-align-left">Name : <b><%= @student.full_name %></b></td>
                <td class="td-align-right">Class : <input type="checkbox"  />&nbsp;AS Level&nbsp;&nbsp;<input type="checkbox" checked="checked" />&nbsp;A2 Level</td>
              
              <% else %>
              <td>Name : <b><%= @student.full_name %></b></td>
              <td>Class : <b><%= @batch.course.course_name %></b></td>
              <td>Section : <b><%= @batch.course.section_name %></b></td>
              <td>Roll : <b><%= @student.class_roll_no %></b></td>
              <% end %>
          </tr>
      </table>
      <h4 align="center">&nbsp;</h4>
       <h4 align="center">&nbsp;</h4>
      <div class ="current_batch"  class="margin-top-bottom-50" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <% colspan = 0 %>
              <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <% colspan = colspan+1 %>
                        <% end %>
              <% end %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <tr class="table-header">
                      <td class="col-pdf" colspan="2"></td>
                      <td class="col-pdf" colspan="<%= colspan %>"><center>CLASS TESTS</center></td>
                      <% if @connect_exam_obj.id != 1113 or @connect_exam_obj.id != 1114  %>
                      <td class="col-pdf"></td>
                      <% end %>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf"><b><%= "SUBJECTS" %></b></td>
                      <td class="col-pdf"></td>
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <td class="col-pdf">
                              <%= report['exam_name'] %>
                          </td> 
                        <% end %>
                      <% end %>
                      <% if @connect_exam_obj.id != 1113 or @connect_exam_obj.id != 1114  %>
                      <td class="col-pdf">Class Attendance</td>
                      <% end %>
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% exam_marks = 0 %>
                  <% @std_subject_elective = StudentsSubject.find_all_by_student_id(@student.id)  %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                            
                      <% else %>
                      <% subjec_marks = 0 %>
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                           <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                              <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i > -1 %>
                                <% subjec_marks = subjec_marks+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                              <% end %>
                           <% end %>
                        <% end %>
                      <% end %>
                      <% if subjec_marks == 0 and (@connect_exam_obj.id == 1113 or  @connect_exam_obj.id == 1114) %>
                        <% next %>
                      <% end %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <% exam_marks = 0 %>
                          <% grade_i = false %>
                          <% grade_w = false %>
                          

                          <td class="col-pdf td-align-left"><b><%= subjects['name'] %></b></td>
                          <td class="col-pdf"><span class="no-warp">Full Marks</span> <hr/><span class="no-warp">Marks Obtained</span></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>
                              <%= render  :partial=>"/connect_exam/has_exam_score", :locals=>{:exam_group_id=>report['exam_id'].to_s,:subject_id=>subjects['id'].to_s} %>
                              <%  check_exam = false %>
                              <% if @check_exam_score==true %>
                                <% check_exam = true %>
                              <% end %>
                              
                              <td class="col-pdf">
                                     <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? and check_exam == true  %>
                                       
                                        <%= report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i  %>
                                      <% else %>
                                         -
                                      <% end %>
                                      <hr/>
                                     <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                        <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i > -1 and check_exam == true %>
                                          <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                        <% elsif check_exam == false %>
                                           -
                                        <% elsif report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i == -1 %>
                                            -
                                        <% grade_i= true %>
                                        <% elsif report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i == -2 %>
                                            -
                                            <% grade_w = true %>
                                        <% end %>
                                      <% else %>
                                        -
                                      <% end %>
                                      
                                       


                              </td>

                            

                            <% end %>
                          <% end %>
                            <% if @connect_exam_obj.id != 1113 or @connect_exam_obj.id != 1114  %>
                            <td class="col-pdf">
                             <% total_att = 0 %>
                             <% absent_att = 0 %>   
                                
                             <% e_subject_id = 0 %>
                             <% unless @std_subject_elective.blank? %>
                                <% @std_subject_elective.each do |esub| %>
                                    <% unless esub.subject.blank? %>
                                    <% if esub.subject.name.include?(subjects['name']) && esub.subject.id != subjects['id'].to_i %>
                                        <% e_subject_id = esub.subject.id %>
                                        <% total_att_temp = SubjectAttendanceRegister.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:attendance_date => @connect_exam_obj.attandence_start_date..@connect_exam_obj.attandence_end_date}) %>
                                        <% absent_att_temp = SubjectAttendance.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:is_late=>0,:student_id=>@student.id,:attendance_date => @connect_exam_obj.attandence_start_date..@connect_exam_obj.attandence_end_date}) %>
                                        <% total_att = total_att+total_att_temp.to_i %>
                                        <% absent_att = absent_att+absent_att_temp.to_i %>
                                    <% end %>
                                    <% end %>
                                <% end %>
                             <% end %> 
                             <% if e_subject_id != 0 %>
                               

                                <% att_percentize = 0 %>  
                                <% if total_att.to_i > 0 %>
                                    <% total_present = total_att-absent_att  %>
                                    <% if total_present > 0 %>
                                      <% att_percentize = ((total_present.to_f)/total_att.to_f)*100  %>

                                    <% end %>
                                    
                                
                                    <% if att_percentize < 60 %>
                                        <% att_percentize = 60 %>
                                    <% end %>
                                    <% if @connect_exam_obj.id == 1113 or @connect_exam_obj.id == 1114 %>
                                        <% if @student.id == 10305 %>
                                          <% att_percentize = 80 %>
                                        <% end %>
                                    <% end %>
                                    <%= sprintf( "%0.02f", att_percentize) %> %
                                <% else %> 
                                    <%= "-" %>
                                <% end %> 
                                
                             <% end %>   
                            
                            
                            </td>  
                            <% end %>
                      </tr> 
                      <% end %>
                    <% end %>  
                  <% end %> 
                      

              </table>
            
               <h4 align="center">&nbsp;</h4>
              
              <table id="pdf-table" class="margin-top-50" width="100%" cellspacing="0">
                  <tr class="even">
                      <td><b>Result Issue Date</b></td>
                      <td><b>Signature of the Section In-Charge</b></td>
                      <td><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/319/signature.jpg")) %></td>
                  </tr> 
                  <tr class="odd">
                      <td><%= @connect_exam_obj.published_date %></td>
                      <td><b>&nbsp;&nbsp;Date&nbsp;&nbsp;</b></td>
                      <td><%= Time.now.strftime("%Y-%m-%d") %></td>
                  </tr>
                
              </table>


          </div>
      </div>



  </div>

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>)
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var current_page_height = 0
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1
            el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            insertPage();
        }
        currPage().appendChild(el);
    });
  </script>
<% end %>