
<% @grading_levels = GradingLevel.for_batch(@batch.id) %>
              <% if @grading_levels.blank? %>
                <% @grading_levels = GradingLevel.default %>
              <% end %>
              <%  unless @grading_levels.empty? %>
                
                    <table   id="pdf-table"  class="margin-top-bottom-10 float-left font-size-2 gradding" width="49%" >
                         <tr  class="even">
                          <td colspan="3" class="col-pdf"><b>Grading System</b></td>
                         </tr>
                         <tr class="odd">
                          <td class="col-pdf"><b>Mark</b></td>
                          <td class="col-pdf"><b>Grade</b></td>
                          <td class="col-pdf"><b>Meaning</b></td>
                         </tr> 
                         <% l = 0; %>
                         
                         <% @grading_levels.each_with_index do |grade,index| %>
                         <% l = l+1 %>
                         <tr class="even">

                          <td class="col-pdf">
                            <% if grade.max_score.nil? %>  
                              <%= '%i%' % grade.min_score %>
                            <% else %>  
                              <% min_score = grade.min_score.to_f  %>
                              <% max_score = grade.max_score.to_f  %>
                              <% min_score = min_score.to_i %>
                              <% max_score = max_score.to_i %>

                              <% if min_score.to_i == 0  %>
                                <% below = max_score.to_i+1 %>
                                <%=  "Below "+below.to_s+"%"  %>
                              <% else %>
                                <%= min_score.to_s+"%" + " - " + max_score.to_s+"%" %>
                              <% end %>
                            <% end %>
                          </td>
                          <td class="col-pdf"><%= grade.name %></td>
                          <td class="col-pdf"><%= grade.description %></td>
                         </tr>
                         <% end %>
                          
                    </table> 
                  <% end %>
                    <table  id="pdf-table"   class="margin-top-bottom-10 float-left-5-10 float-left-5-10-new font-size-2 gradding" width="49%" >
                         <tr  class="even">
                          <td colspan="1" class="col-pdf"><b>&nbsp;</b></td>
                          <td colspan="2" class="col-pdf"><b>Attendance</b></td>
                         </tr>
                          
                         <tr class="odd">
                                <td class="col-pdf">Total Working day</td>
                                <td class="col-pdf"><%= @report_data['total'] %></td>
                         </tr>
                         <tr class="odd">
                                <td class="col-pdf">Days Present</td>
                                <% unless @report_data['total_new_std'].blank?  %>
                                  <td class="col-pdf"><%= @report_data['total_new_std'].to_i-@report_data['absent'].to_i %></td>
                                <% else %>
                                  <td class="col-pdf"><%= @report_data['present'] %></td>
                                <% end %>
                         </tr>
                         <tr class="odd">
                                <td class="col-pdf">Days Absent</td>
                                <% unless @report_data['absent'].nil?  %>
                                  <td class="col-pdf"><%= @report_data['absent'] %></td>
                                <% else %>
                                  <td class="col-pdf"><%= @report_data['total']-@report_data['present'] %></td>
                                <% end %>
                                
                            
                         </tr>
                   

                    </table>     
          