<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 st_and_ct">
      
      <h4 align="center">&nbsp;</h4>
      <h4 align="center">&nbsp;</h4>


      <h4 align="center">English Medium - Banani Branch</h4>
      <h4 align="center">Result Sheet - <%= @connect_exam_obj.name %></h4>
      <% if @batch.name == "General" %>
          <h4 align="center"> <%= @batch.course.full_name %></h4>
      <% else %>
          <h4 align="center"> <%= @batch.name %> ,<%= @batch.course.full_name %></h4>
      <% end %>
      <table class="margin-top-bottom-20" width="100%" >
            <thead>
                <tr>
                    <td><b>Student's Name : <%= "#{@student.full_name}" %> </b></td>
                    <td align="right"><b>Roll No. : <%= "#{@student.class_roll_no}" %></b></td>
                </tr>
            </thead>    
      </table> 


      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">


              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf"><%= "Sl. No." %></td>
                      <td class="col-pdf"><%= "Subject" %></td>
                      <td class="col-pdf">Full Mark</td>
                      <td class="col-pdf">Obtained Mark</td>
                      <td class="col-pdf">Grade</td>
                      <td class="col-pdf">Highest</td>
                    
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% i = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% i = i+1 %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          
                          <% obtained_mark = 0 %>
                          <% full_mark = 0 %>
                          <% highest_mark = 0 %>
                          <% st_full_mark = 0 %>
                          <% ct_full_mark = 0 %>
                          
                          <% st_marks = [] %>
                          <% ct_marks = [] %>
                          <% avg_mark_st = 0; %>
                          <% avg_mark_ct = 0; %>
                          
                          <td class="col-pdf"><%= i %></td>
                          <td class="col-pdf"><%= subjects['name'] %></td>
                            <% 
                              unless @report_data['report']['exams'].blank?  
                                 @report_data['report']['exams'].each do |report| 
                                    if st_full_mark == 0 and report['exam_category'] == '4'
                                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                        st_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                      end
                                    end                     
                                    if ct_full_mark == 0 and report['exam_category'] == '1'
                                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                                        ct_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                                      end
                                    end
                                    
                                    if report['exam_category'] == '4'
                                     if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                        st_marks << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                     else
                                        st_marks << 0
                                     end      
                                    end

                                    if report['exam_category'] == '1'
                                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                         ct_marks << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                                      else
                                         ct_marks << 0
                                      end      
                                    end
                                    
                                end
                              end
                            
                              st_marks.sort! {|x,y| y <=> x }
                              ct_marks.sort! {|x,y| y <=> x }
                              
                            if ct_full_mark.to_i == 20 
                                avg_mark_ct = (ct_marks[0].to_f+ct_marks[1].to_f)/2
                            else 
                                avg_mark_ct = ct_marks[0].to_f
                            end 
                          
                            if st_full_mark.to_i == 10 
                                avg_mark_st = (st_marks[0].to_f+st_marks[1].to_f+st_marks[2].to_f)/3
                            else st_full_mark.to_i == 5  
                                avg_mark_st = (st_marks[0].to_f+st_marks[1].to_f)/2
                            end
                          
                            full_mark = ct_full_mark.to_i+st_full_mark.to_i
                            obtained_mark = avg_mark_ct.to_f+avg_mark_st.to_f
                            
                            main_mark = (obtained_mark.to_f/full_mark.to_f)*100 
                            
                            %>


                          <td class="col-pdf"><%= sprintf( "%0.02f", full_mark) %></td>
                          <td class="col-pdf"><%= sprintf( "%0.02f", obtained_mark) %></td>
                          <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                          <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf"><%= grade.name %></td>  
                          <% else %>
                            <td class="col-pdf">N/A</td>  
                          <% end %> 
                          <td class="col-pdf"><%= sprintf( "%0.02f", full_mark) %></td>
                               

                      </tr> 
                    <% end %>  
                  <% end %>     

              </table>
              
              <div class="academia_box">  
                    <table class="teachers_sign">
                        <tr>
                            <th align="left">
                                Class Teacher's Comment : 
                            </th>                      
                        </tr>
                        <tr>
                            <td><% if !@exam_comment.blank? %><b><%= @exam_comment.comments %></b><% else %><br/>&nbsp;<br/>&nbsp;<br/><% end %>                     
                        </tr>
                    </table>
              </div>


          </div>
      </div>



  </div>

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>)
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var current_page_height = 0
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1
            el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            insertPage();
        }
        currPage().appendChild(el);
    });
  </script>
<% end %>