
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <table id="pdf-table" width="100%" cellspacing="0">
      <% c = 'even'  %>
      <tr class="table-header">
          <td class="col-pdf"><%= "Subject" %></td>
          <td class="col-pdf">1<sup>st</sup> Quarter (30/15)</td>
          <td class="col-pdf">2<sup>nd</sup> Quarter (30/15)</td>
          <td class="col-pdf">First Term (40/20)</td>
          <td class="col-pdf">Full Marks</td>
          <td class="col-pdf">Total Marks Obtain</td>
          <td class="col-pdf">Grade</td>
      </tr>

      <% total_parcent = 0 %>
      <% total_subject = 0 %>
      <% unless @report_data['report']['subjects'].blank? %> 
        <% @report_data['report']['subjects'].each do |subjects| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <% obtained_mark = 0 %>
              <% full_mark = 0 %>
              <% highest_mark = 0 %>


              <% st_full_mark1 = 0 %>
              <% ct_full_mark1 = 0 %>

              <% st_marks1 = [] %>
              <% ct_marks1 = [] %>
              <% avg_mark_st1 = 0; %>
              <% avg_mark_ct1 = 0; %>
              <% full_mark1 = 0 %>

              <% st_full_mark2 = 0 %>
              <% ct_full_mark2 = 0 %>

              <% st_marks2 = [] %>
              <% ct_marks2 = [] %>
              <% avg_mark_st2 = 0; %>
              <% avg_mark_ct2 = 0; %>
              <% full_mark2 = 0 %>

              <% first_term_mark = 0 %>
              <% first_term_full_mark = 0 %>
              <% first_term_avg_mark = 0 %>

              <% 
              unless @report_data['report']['exams'].blank?  
                @report_data['report']['exams'].each do |report|

                  #Calculation First Quarter Mark
                  if report['quarter'] == '1'
                    if st_full_mark1 == 0 and report['exam_category'] == '4'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                        st_full_mark1 = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                      end
                      end                     
                    if ct_full_mark1 == 0 and report['exam_category'] == '1'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                        ct_full_mark1 = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                      end
                      end

                    if report['exam_category'] == '4'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                        st_marks1 << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                        else
                        st_marks1 << 0
                      end      
                      end

                    if report['exam_category'] == '1'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                        ct_marks1 << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                        else
                        ct_marks1 << 0
                      end      
                    end
                    end 

                  #Calculation 2nd Quarter Mark
                  if report['quarter'] == '2'
                    if st_full_mark2 == 0 and report['exam_category'] == '4'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                        st_full_mark2 = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                      end
                      end                     
                    if ct_full_mark2 == 0 and report['exam_category'] == '1'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                        ct_full_mark2 = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                      end
                      end

                    if report['exam_category'] == '4'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                        st_marks2 << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                        else
                        st_marks2 << 0
                      end      
                      end

                    if report['exam_category'] == '1'
                      if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                        ct_marks2 << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                        else
                        ct_marks2 << 0
                      end      
                    end
                    end 

                  #Calculation First Term (40/20) Mark
                  if report['quarter'] == '5'
                    if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank?
                      first_term_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i
                      end
                    if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                      first_term_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f
                    end

                  end


                end
                end

              #Calculation First Quarter Mark
              st_marks1.sort! {|x,y| y <=> x }
              ct_marks1.sort! {|x,y| y <=> x }

              if ct_full_mark1.to_i == 20 
                avg_mark_ct1 = (ct_marks1[0].to_f+ct_marks1[1].to_f)/2
                else 
                avg_mark_ct1 = ct_marks1[0].to_f
                end 

              if st_full_mark1.to_i == 10 
                avg_mark_st1 = (st_marks1[0].to_f+st_marks1[1].to_f+st_marks1[2].to_f)/3
                else st_full_mark1.to_i == 5  
                avg_mark_st1 = (st_marks1[0].to_f+st_marks1[1].to_f)/2
                end

              obtained_mark1 = avg_mark_ct1.to_f+avg_mark_st1.to_f
              full_mark1 = ct_full_mark1.to_i+st_full_mark1.to_i

              #Calculation 2nd Quarter Mark
              st_marks2.sort! {|x,y| y <=> x }
              ct_marks2.sort! {|x,y| y <=> x }

              if ct_full_mark2.to_i == 20 
                avg_mark_ct2 = (ct_marks2[0].to_f+ct_marks2[1].to_f)/2
                else 
                avg_mark_ct2 = ct_marks2[0].to_f
                end 

              if st_full_mark2.to_i == 10 
                avg_mark_st2 = (st_marks2[0].to_f+st_marks2[1].to_f+st_marks2[2].to_f)/3
                else st_full_mark2.to_i == 5  
                avg_mark_st2 = (st_marks2[0].to_f+st_marks2[1].to_f)/2
                end

              obtained_mark2 = avg_mark_ct2.to_f+avg_mark_st2.to_f
              full_mark2 = ct_full_mark2.to_i+st_full_mark2.to_i

              #Calculation First Term (40/20) Mark
              full_mark = full_mark1+full_mark2+first_term_full_mark
              obtained_mark = obtained_mark1+obtained_mark2+first_term_mark
              main_mark = (obtained_mark.to_f/full_mark.to_f)*100


            %>
              <td class="col-pdf"><%= subjects['name'] %><% unless @current_user.student? or @current_user.parent? %>
                  &nbsp;|&nbsp;&nbsp;&nbsp;<%= link_to "Mark Sheet",
                    {:action => "marksheet", :subject_id => subjects['id'],:id=>@connect_exam_obj.id},:target => '_blank' %><% end %></td>
              <td class="col-pdf"><%= obtained_mark1.round().to_s %></td>
              <td class="col-pdf"><%= obtained_mark2.round().to_s %></td>
              <td class="col-pdf"><%= first_term_mark.round().to_s %></td>
              <td class="col-pdf"><%= full_mark.to_i  %></td>
              <td class="col-pdf"><%= obtained_mark.round().to_s %></td>
               <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
              <% if !grade.blank? and !grade.name.blank? %>
                <td class="col-pdf"><b><%= grade.name %></b></td>
              <% else %>
                <td class="col-pdf"><b>N/A</b></td>
              <% end %>


          </tr> 
        <% end %>  
      <% end %> 

      <%  

      group_exams = GroupedExam.find_all_by_connect_exam_id(@connect_exam_obj.id) 

      @all_subjects = []
      group_exams.each do |group_exam|
        allexams = Exam.find_all_by_exam_group_id(group_exam.exam_group_id);
        allexams.each do |exam|
          if !@all_subjects.include?(exam.subject.id)
            @all_subjects << exam.subject.id
          end
        end
        end 
    %>

      <% unless @report_data['report']['no_exam_subject_resutl'].blank? %>
        <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>

          <%  if @all_subjects.include?(report['id'].to_i) %>

            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                <td class="col-pdf"><%= report['subject_name'] %></td>
                <td class="col-pdf"></td>
                <td class="col-pdf"></td>
                <td class="col-pdf"></td>
                <td class="col-pdf"></td>
                <td class="col-pdf"></td>
                <td class="col-pdf"><%= report['subject_comment'] %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>

  </table>    
<% end %>