<div id="pdf-footer">
              
              <table id="listing table-design"  width="100%">
                  <thead>          

                      <tr>
                          <td class="">
                              <br /><br /><br />
                              <%= "------------------------------------" %><br />
                              <font size='5'><b><%= "Class Teacher" %></b></font>
                          </td>
                          <td class="">
                              <br /><br /><br />
                              <%= "------------------------------------" %><br />
                              <font size='5'><b><%= "Teacher In charge" %></b></font>
                          </td>
                          <td class="">
                              <br /><br /><br />
                              <%= "------------------------------------" %><br />
                              <font size='5'><b><%= "Principal" %></b></font>
                          </td>

                          <td class=""><center>
                            <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/312/signature.png")) %><br />
                            <%= "-----------------------------------" %><br />
                            <font size='5'><b><%= "F. Principal" %></b></font>
                            </center>
                          </td>
                  </tr>

              </table>
          </div>