<table width="100%" >
            <thead>
                <tr>
                    
                    <td><b>Year : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i-1:@connect_exam_obj.published_date.strftime("%Y").to_i-1 %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></b></td>
                    
                    
                    <td align="right"><b>Class :  
                        <% if @batch.name == "General" %>
                        <%= @batch.course.full_name %>
                        <% else %>
                           <%= @batch.name %> ,<%= @batch.course.full_name %>
                        <% end %></b>
                    </td>
                    
                    <% unless @assigned_employee.blank? %>
                    <% @assigned_employee.each do |emp| %>
                    <% emp_full_name = emp.first_name.to_s+" "+emp.last_name.to_s  %>
                    <% if emp_full_name!="Shahnaz Begum" && emp_full_name!="Rasheada Nasser Wassay" %>
                    <td align="right"> <b>Class Teacher : <%= emp.first_name %>&nbsp;<%= emp.last_name %></b></td>
                    <% break %>
                    <% end %>
                    <% end %>
                    <% end %>
                </tr>
            </thead>    
      </table>