<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
<%#= show_header_icon %>
  <h1><%#= t('school_syllabus') %></h1>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('view_all')}", :controller => 'syllabus', :action => 'all' %></li>
    <%# if permitted_to? :add,:syllabus %>
      <% #if @is_class %>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to t('new'), {:controller => "syllabus", :action => 'new', :batch_id => @batch.id, :batch_name => @batch_name, :course_name => @course.course_name ,:class=> @is_class},:target => "_blank"  %>            </li>      
      <%# else %>
        <li class='themed_bg themed-dark-hover-background'><%#= link_to t('new'), {:controller => "syllabus", :action => 'new', :batch_id => @batch.id, :batch_name => @batch_name },:target => "_blank"  %>            </li>      
      <%# end %>
    <%# end %>
  </ul>
</div>
</div>-->


<div class="header-wrapper">
  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/syllabus/syllabus.png', :html => {:alt => 'Syllabus'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
        <%= link_to "Syllabus", :controller => "syllabus", :action => "classes_view" %>
        <span style="float: left;clear:both;font-size: 15px;"><%= @local_tzone_time.to_date %></span>
      </div>
      <div class="header-title-sub-text f5">

        </div>
      </div>
    </div>    
    <div class="clearfix"></div>
    <div class="tabbed-header-wrapper">        
      <ul class="header-tabs">
        <li>
          <%= link_to "#{t('view_all')}", {:controller => 'syllabus', :action => 'all'}, :class => "f2" %>
        </li>
        <% if permitted_to? :add,:syllabus %>
          <% if @is_class %>
            <li>
              <%= link_to t('new'), {:controller => "syllabus", :action => 'new', :batch_id => @batch.id, :batch_name => @batch_name, :course_name => @course.course_name ,:class=> @is_class},:class => "f2",:target => "_blank"  %>
            </li>
          <% else %>
              <li>
              <%= link_to t('new'), {:controller => "syllabus", :action => 'new', :batch_id => @batch.id, :batch_name => @batch_name },:target => "_blank", :class => "f2" %>
            </li>
          <% end %>
        <% end %>
        
      </ul>

    </div>
  </div>
<div class="select_all">
    <div class="f2" style="float: left;">        
      <% if @batch.name != "General" %>      
        <%="Shift" %> : <%= @batch.name  %><br />
      <% end  %>
      <%="Class" %> : <%=@course.course_name %><br />
      <% if @is_class and @batch_name %>

      <% else %>
        <%="Section" %> : <%=@course.section_name %><br /><br />
      <% end %>
    </div>
</div>
<div id="page-yield" style="padding: 0px 0px;width: 100%;margin:0px;">
  <br />
  <div class="box">
    <br /><br /><br />
    <!--<div class="label-field-pair">
      <label for="student_course"><%#= t('select_a_batch') %>:
        <%#= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
      </label>
      <div class="text-input-bg">
        <%#= select :batch, :id,
          @batches.map {|b| [b.full_name, b.id] },
          {:prompt => t('select_a_batch')},
          {:onchange => "#{remote_function(
          :url => { :action => 'showall' },
          :with => "'batch_id='+value",
          :before => "Element.show('loader')",
          :success => "Element.hide('loader')"  )}"} %>
      </div></div>-->
    
  <% unless @syllabus.nil? %>
  <ul id="category-list">

    <% @syllabus.each do |syllabus| %>
      <% link_value = syllabus.title %>  
    <li id="subject-<%= syllabus.id %>" class="list<%= cycle('even','odd')%>" >
        <div class="category-name">
<%=  link_to link_value, {:controller => 'syllabus', :action => 'view', :id => syllabus.id},:target => "_blank"%>
        </div>
        <div class="opt">
          <div class="category-code">
            <% if syllabus.subject_id.to_i > 0%>
              <% @subject = Subject.find(syllabus.subject_id) %>                
                  <% unless @subject.nil? %>
                    <%= @subject.name %>
                  <% else %>
                      <%= "-" %>
                  <% end %>                
            <% else %>
              <%= "-" %>
            <% end %>
            
          </div>
          <div class="category-code">            
            <% if syllabus.exam_group_id.to_i > 0 %>              
              <% @examgroup = ExamGroup.active.find_by_id(syllabus.exam_group_id) %>
              <% unless @examgroup.nil? %>
                <%= @examgroup.name %>
              <% else %>
                  <%= "-" %>
              <% end %> 
            <% else %>
                <% if syllabus.is_yearly.to_i > 0 %>
                  <%= "Yearly" %>
                <% else %>
                  <%= "-" %>
                <% end %>                
            <% end %>
          </div>
          <% if @is_class %>
            <div class="category-edit"><%= link_to t('edit_text'), {:controller => 'syllabus', :action => 'update', :id => syllabus.id},:target => "_blank" %></div>
            <div class="category-delete">
              <%= link_to "#{t('delete_text')}", {:controller => "syllabus", :action => 'delete', :id => syllabus.id, :batch_id => @batch.id, :batch_name => @batch_name, :course_name => @course.course_name ,:class=> @is_class},:confirm => "#{t('delete_confirm_msg')}" %>
            </div>
          <% else %>
            <% if syllabus.related_syllabus_id.to_i == 0 %>
              <% @related_syllabuses_count = Syllabus.find_all_by_related_syllabus_id(syllabus.id).count %>              
              <% if @related_syllabuses_count == 0 %>
                <div class="category-edit"><%= link_to t('edit_text'), {:controller => 'syllabus', :action => 'update', :id => syllabus.id},:target => "_blank" %></div>
                <div class="category-delete">
                  <%= link_to "#{t('delete_text')}", {:controller => "syllabus", :action => 'delete', :id => syllabus.id, :batch_id => @batch.id, :batch_name => @batch_name },:confirm => "#{t('delete_confirm_msg')}" %>
                </div>
              <% else %>
                  <div class="category-edit"><%= " "%></div>
                  <div class="category-delete"><%= " "%></div>
              <% end %>
            <% else %>
                <div class="category-edit"><%= " "%></div>
                <div class="category-delete"><%= " "%></div>
            <% end %>
          <% end %>         
        </div>
    </li>
    <% end %>
  </ul>
  <% end %>



  </div></div>

<%= stylesheet_link_tag 'tadded-header' %>