<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<script>
  function check_blanks()
  {
    var blank_marks = 0;
    $$('.marks-box').each(function(marks) {if(marks.value==""){blank_marks=1;} });
    if(blank_marks==1)
    {
      if (!confirm('Students with no marks will be marked as absent. Do you want to continue?')) return false;
      else return true;
    }
    else return true;
  }
</script>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('result_entry') %></div>
<div id="inner-tab-menu">
  <ul>
    <% if (@batch.cce_enabled? and  permitted_to? :exam_fa_groups,:assessment_scores and @exam.exam_group.cce_exam_category.present?) %>
      <li class='themed_bg themed-dark-hover-background'><%= link_to "FA Scores",:controller=>:assessment_scores,:action=>"exam_fa_groups",:id=>@exam.id %></li>
    <% end %>
  </ul>
</div>
</div>
<div id="page-yield">

  <div class="bread_crumb">
    <% if @from == "shift" %> 
      <% ARGV[0] = 'shift' %>
      <%= link_to t('manage_batch'), :controller => "courses", :action => "manage_batches" %>  <div class = "bread-crumb-separator"> > </div> 
    <% else %>
      <%= link_to "#{t('exam_management')}", :controller => "exam", :action => "create_exam" %> <div class = "bread-crumb-separator"> > </div>
    <% end %>  
    
    <% if @is_class_exam %>  
      <% if @is_batch_exam %>
        <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch, :class_exam => true, :batch_exam => true) %> <div class = "bread-crumb-separator"> > </div>
      <% else %>
        <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch, :class_exam => true) %> <div class = "bread-crumb-separator"> > </div>
      <% end %>
    <% else %>
      <%= link_to "#{t('exam_groups_text')}", batch_exam_groups_path(@batch) %> <div class = "bread-crumb-separator"> > </div>
    <% end %>

    <% if @is_class_exam %>  
      <% if @is_batch_exam %>
        <%= link_to @exam_group.name, '/batches/' + @batch.id.to_s + '/exam_groups/' + @exam_group.id.to_s + '?class_exam=true&batch_exam=true' %> <div class = "bread-crumb-separator"> > </div>
      <% else %>
        <%= link_to @exam_group.name, '/batches/' + @batch.id.to_s + '/exam_groups/' + @exam_group.id.to_s + '?class_exam=true' %> <div class = "bread-crumb-separator"> > </div>
      <% end %>
    <% else %>
      <%= link_to @exam_group.name, [@batch, @exam_group] %> <div class = "bread-crumb-separator"> > </div>
    <% end %>
    
    <%= @exam.subject.name %>
  </div>
    <% no_exam = @exam.subject.no_exams %>
    <% 
        styletext = ""
        markexam = 0
        if no_exam or (@exam_group.exam_category == 4 && has_subject_group(@exam.subject.id))
          styletext = "style='display:none;'" 
          markexam = 1
        end 
   %>
    
  <% if @from == "shift" %> 
    <% ARGV[0] = 'shift' %>
  <% else %>
    <% ARGV[0] = 'exam' %>
  <% end %>  
    
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
   <% if @current_user.employee %> <div class="bread_crumb" ><%= link_to "Back To Your Subject Exams", :controller => "marks", :action=>"index" %></div><% end %>
  
  <div class="box" style="width:100%; overflow: auto;">
      


    <% unless @students.empty? %>
      <% form_for :exams, :url => save_scores_exam_group_exam_url do |f| %>

        <table id="listing" width="100%">
          <tr class="tr-head">
            <% if @exam_group.exam_category != 4 or !has_subject_group(@exam.subject.id) %>
            <td><%= "Roll" %></td>
            <% end %>
            <td><%= t('name') %></td>
            <% unless @exam_group.exam_type == 'Grades' %>
              <td  <%=styletext%>><%= t('marks') %> (<%= @exam.maximum_marks %>)</td>
            <% else %>
              <td  <%=styletext%>><%= t('grades') %></td>
            <% end %>
            <% if @exam_group.exam_category == 4 && has_subject_group(@exam.subject.id) %>
              <% subject_groups = get_subject_group(@exam.subject.id) %>
              
              <% iloop = 0 %>
              <% subject_groups.each do |group_name| %>
                      
                        
                        <% subject_subgroup = get_subject_sub_group(group_name.id) %>
                        <% if subject_subgroup %>
                          <td style="padding:0px;"><table width="100%">
                                <tr><td colspan="100" style="text-align:center;padding:3px;"><%= group_name.name %><hr/></td></tr>
                                <tr>
                                  <% isubgroup = 0 %>
                                  <% subject_subgroup.each do |sub_group_name| %>
                                        <% if isubgroup == 0 %>
                                          <td style="text-align:center;padding:3px;font-size: 11px;"><%= sub_group_name %></td>
                                        <% else %>
                                          <td style="text-align:center;padding:3px;font-size: 11px; width:60px; border-left: 1px solid #D7D7D7;"><%= sub_group_name %></td>
                                        <% end %>
                                        <% isubgroup = isubgroup+1 %>
                                  <% end %> 
                                </tr>
                           </table></td>   
                         
                        <% else %>
                          <td><%= group_name.name %></td>
                        <% end %>   
                       
                <% iloop = iloop+1 %>      
              <% end %>
                  
            <% else %>  
              <td><%= t('remarks') %></td>
            <% end %>
              
            <% unless @exam_group.exam_type == 'Marks' %>
              <td  <%=styletext%>><%= t('grade') %></td>
            <% end %>
          </tr>
          <% @students.each do |student| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <% if @exam_group.exam_category != 4 or !has_subject_group(@exam.subject.id) %>
              <td class="col-2"><%= student.class_roll_no %> </td>
              <% end %>
              <td class="col-2"><%= student.full_name %> </td>
              
              <% @exam_score = @exam.score_for(student) %>
              <% unless @exam_group.exam_type == 'Grades' %>
                <td class="col-1"  <%=styletext%>><div class="label-field-pair">
                    <div class="text-input-bg">
                      <% if @exam_group.marks_entry.to_i == 1 or !@current_user.employee? %>
                        <% if markexam==1 %>
                          <%= text_field_tag "exam[#{student.id}][marks]", @exam_score.marks,:value=>markexam,:onkeyup => "checkValueMax(#{@exam.maximum_marks.to_i},this)",:onkeydown => "checkValueMax(#{@exam.maximum_marks.to_i},this)", :size => '4', :class=>"marks-box" %>
                        <% else %>
                          <%= text_field_tag "exam[#{student.id}][marks]", @exam_score.marks,:onkeyup => "checkValueMax(#{@exam.maximum_marks.to_i},this)",:onkeydown => "checkValueMax(#{@exam.maximum_marks.to_i},this)", :size => '4', :class=>"marks-box" %>
                        <% end %>   
                      <% else %>
                        <% if markexam!=1 %>
                         <%= @exam_score.marks %>
                        <% end %> 
                      <% end %>  
                    </div></div></td>
              <% else %>
                <td class="col-2"  <%=styletext%>><div class="label-field-pair">
                    <% select_options = [["#{t('select_grade')}", nil ]] %>
                    <%  @grades.map {|g| select_options.push([g.name, g.id]) } %>
                    <div class="text-input-bg"><%= select "exam[#{student.id}]", "grading_level_id", select_options ,
                        { :selected => @exam_score.grading_level_id }, :class=>"marks-box" %></div></div></td>
              <% end %>

              
                  <% if @exam_group.exam_category == 4 && has_subject_group(@exam.subject.id) %>
                   
                        <% unless @exam_score.blank? or @exam_score.remarks.blank?  %>
                          <% exam_score_split = @exam_score.remarks.split("|") %>
                        <% end %>
                        <% subject_groups = get_subject_group(@exam.subject.id) %>
                        <% iloop = 0 %>
                        <% @group_loop = 0 %>
                        <% subject_groups.each do |group_name| %>
                                 
                                 
                                  
                                  
                                  <% subject_subgroup = get_subject_sub_group(group_name.id) %>
                                  <% unless subject_subgroup.blank? %>
                                      <td style="padding:0px;"><table width="100%">
                                        <tr>
                                      <% subject_subgroup.each do |sub_group_name| %>
                                            <% exam_group_remarks = "" %>
                                            <% unless @exam_score.blank? or @exam_score.remarks.blank?  %>

                                              <% unless exam_score_split[@group_loop.to_i].blank? %>

                                                <% exam_group_remarks = exam_score_split[@group_loop.to_i] %>
                                              <% end %>
                                            <% end %>
                                            <td  class="col-2 td-mark" style="text-align:center; width:60px;">
                                                <%= text_field_tag "exam[#{student.id}][remarks][]", exam_group_remarks, :size => '4' %>
                                                <div class="date" ><span class="themed_text"><%=  student.full_name %><div> <%= group_name.name.to_s+">>"+sub_group_name %></div></span></div>
                                            </td>
                                            <% @group_loop = @group_loop+1 %>
                                            
                                      <% end %>
                                            
                                      </tr>
                                      </table></td>
                                  <% else %>
                                     <% exam_group_remarks = "" %>
                                      <% unless @exam_score.blank? or @exam_score.remarks.blank?  %>

                                        <% unless exam_score_split[@group_loop.to_i].blank? %>

                                          <% exam_group_remarks = exam_score_split[@group_loop.to_i] %>
                                        <% end %>
                                      <% end %>
                                     <td  class="col-2 td-mark" style="text-align:center;">
                                            <%= text_field_tag "exam[#{student.id}][remarks][]", exam_group_remarks, :size => '10' %>
                                            <div class="date" ><span class="themed_text"><%=  student.full_name %><div> <%= group_name.name.to_s %></div></span></div>
                                     </td>
                                     <% @group_loop = @group_loop+1 %>
                                  <% end %>  
 
                          <% iloop = iloop+1 %>      
                        <% end %>
                                 
                  <% else %>
                    <td class="col-2">
                    <% if @exam_group.marks_entry.to_i == 1 or !@current_user.employee? %>
                        <%= text_field_tag "exam[#{student.id}][remarks]", @exam_score.remarks, :size => '40' %>
                    <% else %>
                        <%= @exam_score.remarks %>
                    <% end %>    
                    </td>    
                  <% end %>
          
              <% unless @exam_group.exam_type == 'Marks' %>
                <td class="col-1"  <%=styletext%>><% if @exam_score.grading_level.nil? %> <%= '_' %> <% else %> <%= @exam_score.grading_level %> <% end %></td>
              <% end %>
            </tr>

          <% end %>

        </table>
        <% if @exam_group.marks_entry.to_i == 1 or !@current_user.employee? %>
        <div id="sub-button"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :onClick => "if(check_blanks()==true) return true; else return false;" %></div>
        <% end %>
      <% end %>
    <% else %>
      <p class="flash-msg"> <%= t('no_students_found') %> </p>
    <% end %>
    <div class="extender"></div>
  </div>
</div>

<style>
    table#listing
    {
      padding:0px;
    }
    .td-mark .date2{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-mark .date2 span,.td-name .date2 span{
    display: none;
    color: #FFFFFF;
}
.td-mark:hover .date2 span{
    display: block;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #c3d9ff;
    min-height: 30px;
    left: 20px;
    top: 10px;
    color: #FFFFFF;
    padding-top: 10px;
    padding: 3px;

    color:#990A10;
    font-size: 12px;
}

.td-mark .date{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-mark .date span,.td-name .date span{
    display: none;
    color: #FFFFFF;
}
.td-mark:hover .date span{
    display: block;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #c3d9ff;
    min-height: 20px;
    left: 10px;
    top: 0px;
    color: #FFFFFF;
    padding: 3px;

    color:#990A10;
    font-size: 12px;
}
</style>  

<% if MultiSchool.current_school.id == 312 or MultiSchool.current_school.id == 2  %>
<style>
 .school_feed_box
{
    width:0px;
    display:none;
}
.champs21_palette_container_1 #boxes
{
    
    display:none;
    height: 0px;
}
#header_bg
{
    display:none;
    height: 0px;
}
#content-header
{
    display:none;
    height: 0px;
}
#content_wrapper
{
    margin-top:-100px !important;
    width:auto;
    padding:0px;
    
}
.zui-scroller {
   
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: none;
}
#footer
{
    display:none;
}
#content
{
    padding-bottom: 0px !important;
    width: auto !important;
}
#page-yield
{
    margin:0px 0px;
}
</style>    
<% end %>
<script>
  var jj = jQuery.noConflict();
   jj(document).ready(function () {
 
      jj('input').keyup(function (e) {
        if (e.which == 39) { // right arrow
          jj(this).closest('td').next().find('input').focus();
          
 
        } else if (e.which == 37) { // left arrow
          jj(this).closest('td').prev().find('input').focus();
         
 
        } else if (e.which == 40) { // down arrow
         
          child_number = jj(this).closest('td').index()+1
          jj(this).closest('tr').next().find('td:nth-child('+child_number+')').find('input').focus();
          
 
        } else if (e.which == 38) { // up arrow
          child_number = jj(this).closest('td').index()+1
          jj(this).closest('tr').prev().find('td:nth-child('+child_number+')').find('input').focus();
          
        }
     });
   });
   
   function checkValueMax(maxvalue,th_is)
   {
     if(jj(th_is).val()>maxvalue)
     {
       jj(th_is).css( "color", "red" );
     }
     else
     {
       jj(th_is).css( "color", "black" );
     }  
     
     
   }
   
 </script>  
