</div>
<div id="page-yield">
  
  <!--h2><%#= "#{t('student_wise_report_for')} "+@exam_group.name+", #{t('batch')}:"+@batch.full_name %></h2-->
   
<h4 align="center"><%= @exam_group.name+" Report " %>,<%= Time.now.strftime("%Y") %></h4> 
  <div>
    
    <% if @batch.name == "General" %>
      
      <h4 align="center"> <%= @batch.course.full_name %></h4>
    <% else %>
      <h4 align="center"> <%= @batch.name %> - <%= @batch.course.full_name %></h4>
    <% end %>
  
  </div>
  
  <table class="margin-top-bottom-20" width="100%" >
            <thead>
                <tr>
                    <td><b>Name : <%= "#{@student.full_name}" %> </b></td>
                    <td align="right"><b>Roll : <%= "#{@student.class_roll_no}" %></b></td>
                </tr>
            </thead>    
  </table>          

  <% exam_score = [] %>
  <% max_mark = [] %>
  <% @exams.each do |exam| %>
    <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
  <%   
    exam_score_high = ExamScore.find_by_exam_id(exam.id,:limit=>1, :order => 'marks desc') unless exam.nil?  
  %>
  <% unless exam_score_high.nil? %>
  <% max_mark << exam_score_high.marks %>
  <% end %>
  <% end %>
  <div id="pdf-info">
    <% if @batch.cwa_enabled? %>
      <% total_credits=0 %>
      <% total_weighted_marks=0 %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">
          <td class="col-pdf"><%= t('subject_code') %></td>
          <td class="col-pdf"><%= t('title') %></td>
          <td class="col-pdf"<%= t('marks') %></td>
          <td class="col-pdf"><%= t('credit') %></td>
          <td class="col-pdf"><%= t('grade') %></td>
          <td class="col-pdf"><%= t('weighted_marks') %></td>
        </tr>
        <tr class="tr-blank"></tr>
        <% exam_score.each do |es| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"> <%= es.exam.subject.code %></td>
            <td class="col-pdf"> <%= es.exam.subject.name %></td>
            <td class="col-pdf"><%= es.marks.present? ? mark=(es.marks.to_f/es.exam.maximum_marks.to_f)*100 : '-' %></td>
            <td class="col-pdf"><%= es.exam.subject.credit_hours %></td>
            <% total_credits = total_credits + es.exam.subject.credit_hours.to_f %>
            <td class="col-pdf"><%= es.grading_level.present? ? es.grading_level : "-" %></td>
            <% weighted_mark=0 %>
            <% weighted_mark = mark.to_f * es.exam.subject.credit_hours.to_f if es.marks.present? %>
            <% total_weighted_marks = total_weighted_marks + weighted_mark %>
            <td class="col-pdf"><%= weighted_mark %></td>
          </tr>
        <% end %>
        <tr class="tr-blank"></tr>
        <tr class="table-header">
          <td class="col-pdf" colspan="3" align="right"><%= t('total') %></td>
          <td class="col-pdf"><%= total_credits %></td>
          <td>-</td>
          <td class="col-pdf"><%= total_weighted_marks %></td>
        </tr>
      </table>
      <h5><%= t('weighted_average') %> =
        <% unless total_credits==0 %>
          <%= "%.2f" %(total_weighted_marks.to_f/total_credits.to_f) %>
        <% else %>
          -
        <% end %>
      </h5>
    <% elsif @batch.gpa_enabled? %>
      <% total_credit_points=0 %>
      <% total_credit_hours=0 %>
      <% elective_group_mark = {} %>
      <% 
   
      exam_score.each do |es|
        if es.marks.present?
          if elective_group_mark[es.exam.subject.elective_group_id].nil?
            elective_group_mark[es.exam.subject.elective_group_id] = (((es.marks.to_f*100)/es.exam.maximum_marks.to_f)*es.exam.subject.percentage.to_f)/100
          else
            elective_group_mark[es.exam.subject.elective_group_id] = elective_group_mark[es.exam.subject.elective_group_id]+(((es.marks.to_f*100)/es.exam.maximum_marks.to_f)*es.exam.subject.percentage.to_f)/100
          end
        end    
      end 
      %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">  
          <td class="col-pdf"><%= "Subject" %></td>
          <td class="col-pdf"><%= "Score" %></td>
          <td class="col-pdf"><%= "Grade" %></td> 
        </tr>
        <tr class="tr-blank"></tr>
        <% j = 0; %>
        <% total_mark = 0 %>
        <% max_total_mark = 0 %>
        <% cradit_point = 0 %>
        <% elective_group = [] %>
        
        <% exam_score.each do |es| %>
          <% if !elective_group.include?(es.exam.subject.elective_group_id) %>
          <% elective_group << es.exam.subject.elective_group_id %>
          <tr class="<%= cycle(c,(["odd1","even1"]-[c]).first) %>">
              
             <td class="col-pdf"> <%= es.exam.subject.elective_group.name %></td>
              <td class="col-pdf"><%= elective_group_mark[es.exam.subject.elective_group_id].round() %></td>
              <%  grade = GradingLevel.percentage_to_grade(elective_group_mark[es.exam.subject.elective_group_id].round(), @batch.id) %>
              <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf"><b><%= grade.name %></b></td>
                            <% else %>
                            <td class="col-pdf"><b>N/A</b></td>
                            <% end %>
              
   
          </tr>
          
        <% j = j+1; %>   
        <% end %>  
        <% end %>
 
      </table>

        
       
      
      
      
       <table id="pdf-table" class="margin-top-40 font-size-20" width="100%" >
            <thead>
                <tr class="table-header">

                    <td class="col-pdf">Total Number of Working Days</td> <td class="col-pdf"><%= @academic_days %></td>

                    <td class="col-pdf">Days Present</td> <td class="col-pdf"> <%= @present %> </td>
                        


                </tr> 
            </thead>  

        </table>
      
        <div class="academia_box">  
              <table class="teachers_sign teacher_remarks">
                  <tr>
                      <th align="left">
                          Class Teacher's Remark
                      </th>                      
                  </tr>
                  <tr>
                      <td>
                          <% if !@exam_comment.blank? %>
                            <%= @exam_comment.comments %>
                          
                          <% else %>     
                            &nbsp;<br /><br /><br />
                          <% end %>
                      </td>                      
                  </tr>
              </table>
        </div>

    <% else %>
      <% total_marks_attained = 0 %>
      <% total_max_marks = 0 %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">
          <td class="col-pdf"><%= t('subject') %></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-pdf"><%= t('marks_obtained') %></td>
            <td class="col-pdf"><%= t('max') %></td>
            <td class="col-pdf"><%= t('percentage') %>(%)</td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td><%= t('grades') %></td>
          <% else %>
            <td class="col-pdf"><%= t('marks_obtained') %></td>
            <td class="col-pdf"><%= t('max') %></td>
            <td class="col-pdf"><%= t('grades') %></td>
            <td class="col-pdf"><%= t('percentage') %>(%)</td>
          <% end %>
        </tr>
        <tr class="tr-blank"></tr>
        <% exam_score.each do |es| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"> <%= es.exam.subject.name %></td>
            <% if @exam_group.exam_type == 'Marks' %>
              <td class="col-pdf"><%= es.marks || '-' %></td>
              <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
              <td class="col-pdf"><%= es.exam.maximum_marks %></td>
              <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
              <td class="col-pdf"><%= es.calculate_percentage.round(2) %></td>
            <% elsif @exam_group.exam_type == 'Grades' %>
              <td class="col-pdf"><%= es.grading_level || "-" %></td>
            <% else %>
              <td class="col-pdf"><%= es.marks || "-" %></td>
              <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
              <td class="col-pdf"><%= es.exam.maximum_marks %></td>
              <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
              <td class="col-pdf"><%= es.grading_level || "-" %></td>
              <td class="col-pdf"><%= es.calculate_percentage.round(2) %></td>
            <% end %>
          </tr>
        <% end %>
        <tr class="tr-blank"></tr>
        <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
          <tr class="table-header">
            <td class="col-pdf"><%= t('total_marks') %>:</td>
            <td class="col-pdf"><%= total_marks_attained %></td><td><%= total_max_marks %></td>
            <%  if @exam_group.exam_type == 'MarksAndGrades' %>
              <td>-</td>
            <% end %>
            <td class="col-pdf"><%= "%.2f" %(total_marks_attained*100/total_max_marks) unless total_max_marks == 0 %></td>
          </tr>
        <% end %>
      </table>

      <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
        <div class="custom_header">
          <%= t('class_average_marks') %> : <%= "%.2f" %@exam_group.batch_average_marks('marks') unless total_max_marks == 0%> | <%= t('class_average') %> % : <%=  "%.2f" %(@exam_group.batch_average_marks('marks')*100/total_max_marks) unless total_max_marks == 0 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>