</div>
<div style="height: 300px;">&nbsp;</div>
<div id="page-yield" class="available_sections1 baf_shaheen border-all">
   
      <div class="student_information">

        <table class="std_info_table" width="100%" cellspacing="0">
            <tr>
                <td colspan="2" class="underline"><b><font size="6">Student's Information</font></b></td>
                <td>&nbsp;&nbsp;</td>
                
            </tr>
            <tr>
                <% month_number =@exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%-m"):@exam_group.exam_date.strftime("%-m") %>

                <% if month_number.to_i>6 %>
                  <td><font size="5">Academic Session </font></td><td colspan="4" class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%Y"):@exam_group.exam_date.strftime("%Y") %>-<%= @exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%Y").to_i+1:@exam_group.exam_date.strftime("%Y").to_i+1 %></font></td>
                <% else %>
                  <td><font size="5">Academic Session </font></td><td colspan="4" class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%Y").to_i-1:@exam_group.exam_date.strftime("%Y").to_i-1 %>-<%= @exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%Y"):@exam_group.exam_date.strftime("%Y") %></font></td>
                <% end %> 
            </tr>
            <tr>
                  <td><font size="5">Student's ID </font></td><td colspan="4"  class="font-dark"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @student.admission_no %></font></td>
                 
            </tr>
            <tr>
                <td><font size="5">Student's Name </font></td><td colspan="4" class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @student.full_name.upcase %></font></td>
            </tr>
            <tr>
                <td><font size="5">Date of Birth </font></td><td class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.date_of_birth,:format=>"%d %b, %Y") unless @student.date_of_birth.nil? %></font></td>
                <td>&nbsp;&nbsp;</td>
                <td><font size="5">Gender </font></td><td class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= t("#{@student.gender_as_text.downcase}") %></font></td>
            </tr> 
             <tr>
                <td><font size="5">Enrollment Date </font></td><td class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.admission_date,:format=>"%d %b, %Y")%></font></td> 
                <td>&nbsp;&nbsp;</td>
                <td><font size="5">Roll </font></td><td class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @student.class_roll_no %></font></td>
            </tr> 
            <tr>
                <td><font size="5">Standard </font></td><td class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @batch.course.course_name %></font></td>
                <td>&nbsp;&nbsp;</td>
                <td><font size="5">Section </font></td><td class="font-light"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @batch.course.section_name %></font></td>

            </tr>
            <tr>
                <td><font size="5">Name of Examination </font></td><td class="font-dark"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @exam_group.name.upcase %></font></td>
                <td>&nbsp;&nbsp;</td>
                <td><font size="5">Exam Held </font></td><td class="font-dark"><font size="5">:&nbsp;&nbsp;&nbsp;<%= @exam_group.publish_date.blank? ? @exam_group.created_at.strftime("%b, %Y"):@exam_group.publish_date.strftime("%b, %Y") %></font></td>
            </tr>
        </table>
    </div>
    <div class="grade_information" style="40%">
        <%= render  :partial=>"/group_exam_report/pdf/gradding_level" %>
    </div>
      
         

  <% exam_score = [] %>
  <% max_mark = [] %>
  <% exam_subjects = [] %>  
  <% elective_groups_student = StudentsSubject.find_all_by_batch_id_and_student_id(@batch.id,@student.id) %>  
  <% @exams.each do |exam| %>
    <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
    <% exam_subjects << exam.subject_id %>
    
  <%   
    exam_score_high = ExamScore.find_by_exam_id(exam.id,:limit=>1, :order => 'marks desc') unless exam.nil?  
  %>
   
    
  <% unless exam_score_high.nil? %>
  <% max_mark << exam_score_high.marks %>
  <% end %>
  <% end %>
  <div id="pdf-info">
    <% if @batch.cwa_enabled? %>
      <% total_credits=0 %>
      <% total_weighted_marks=0 %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">
          <td class="col-pdf"><font size="5"><%= t('subject_code') %></font></td>
          <td class="col-pdf"><font size="5"><%= t('title') %></font></td>
          <td class="col-pdf"><font size="5"><%= t('marks') %></font></td>
          <td class="col-pdf"><font size="5"><%= t('credit') %></font></td>
          <td class="col-pdf"><font size="5"><%= t('grade') %></font></td>
          <td class="col-pdf"><font size="5"><%= t('weighted_marks') %></font></td>
        </tr>
        <tr class="tr-blank"></tr>
        <% exam_score.each do |es| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><font size="5"> <%= es.exam.subject.code %></font></td>
            <td class="col-pdf"><font size="5"> <%= es.exam.subject.name %></font></td>
            <td class="col-pdf"><font size="5"><%= es.marks.present? ? mark=(es.marks.to_f/es.exam.maximum_marks.to_f)*100 : '-' %></font></td>
            <td class="col-pdf"><font size="5"><%= es.exam.subject.credit_hours %></font></td>
            <% total_credits = total_credits + es.exam.subject.credit_hours.to_f %>
            <td class="col-pdf"><font size="5"><%= es.grading_level.present? ? es.grading_level : "-" %></font></td>
            <% weighted_mark=0 %>
            <% weighted_mark = mark.to_f * es.exam.subject.credit_hours.to_f if es.marks.present? %>
            <% total_weighted_marks = total_weighted_marks + weighted_mark %>
            <td class="col-pdf"><font size="5"><%= weighted_mark %></font></td>
          </tr>
        <% end %>
        <tr class="tr-blank"></tr>
        <tr class="table-header">
          <td class="col-pdf" colspan="3" align="right"><font size="5"><%= t('total') %></font></td>
          <td class="col-pdf"><font size="5"><%= total_credits %></font></td>
          <td>-</td>
          <td class="col-pdf"><font size="5"><%= total_weighted_marks %></font></td>
        </tr>
      </table>
      <h5><%= t('weighted_average') %> =
        <% unless total_credits==0 %>
          <font size="5"><%= "%.2f" %(total_weighted_marks.to_f/total_credits.to_f) %></font>
        <% else %>
          <font size="5">-</font>
        <% end %>
      </h5>
    <% elsif @batch.gpa_enabled? %>
      <% total_credit_points=0 %>
      <% total_credit_hours=0 %>
      <% elective_group_mark = {} %>
      <% elective_max_mark = {} %>
      <% elective_subject_percentage = {} %>
      <% elective_group_mark_total = {} %>
      <% 
   
      exam_score.each do |es|
          if es.marks.present?
            if elective_group_mark[es.exam.subject.elective_group_id].nil?
              elective_group_mark[es.exam.subject.elective_group_id] = (((es.marks.to_f*100)/es.exam.maximum_marks.to_f) *es.exam.subject.percentage.to_f)/100
              elective_max_mark[es.exam.subject.elective_group_id] = es.exam.maximum_marks.to_f
              elective_group_mark_total[es.exam.subject.elective_group_id] = es.marks.to_f
              elective_subject_percentage[es.exam.subject.elective_group_id] = es.exam.subject.percentage.to_f
            else
              if elective_group_mark[es.exam.subject.elective_group_id] == -1
                elective_group_mark[es.exam.subject.elective_group_id] = 0
                elective_group_mark_total[es.exam.subject.elective_group_id] = 0
                elective_max_mark[es.exam.subject.elective_group_id] = 0
              end 
              elective_group_mark[es.exam.subject.elective_group_id] = elective_group_mark[es.exam.subject.elective_group_id]+(((es.marks.to_f*100)/es.exam.maximum_marks.to_f) *es.exam.subject.percentage.to_f)/100
              elective_max_mark[es.exam.subject.elective_group_id] =  elective_max_mark[es.exam.subject.elective_group_id] + es.exam.maximum_marks.to_f
              elective_group_mark_total[es.exam.subject.elective_group_id] = elective_group_mark_total[es.exam.subject.elective_group_id]+es.marks.to_f
              elective_subject_percentage[es.exam.subject.elective_group_id] = es.exam.subject.percentage.to_f
            end
          else
            if elective_group_mark[es.exam.subject.elective_group_id].nil?
              elective_group_mark[es.exam.subject.elective_group_id] = -1
            end  
          end     
      end 
      %>
      <h4 class="h4-evaluation">&nbsp;</h4>
      <h4 class="h4-evaluation">&nbsp;</h4>
      <h4 class="h4-evaluation underline"><b><font size="5">Result in Details</font></b></h4>
      <table id="pdf-table" width="99.8%" class="table_99" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">  
          <td class="col-pdf no-warp align-left"><font size="5"><%= "Subject" %></font></td>
          <% if @batch.course.course_name != "X" && @batch.course.course_name != "IX" %>
            <td class="col-pdf"><font size="5"><%= "Attainment" %></font></td>
          <% end %>
          <td class="col-pdf"><font size="5"><%= "Weighted Average (Out of 100)" %></font></td>
          <td class="col-pdf "><font size="5"><%= "GRADE" %></font></td> 
          <% if @batch.course.course_name != "X" && @batch.course.course_name != "IX" && @batch.course.course_name == "IX"%>
          <td class="col-pdf "><font size="5"><%= "Attendance" %></font></td> 
          <% end %>
        </tr>
        <tr class="tr-blank"></tr>
        <% j = 0; %>
        <% total_mark = 0 %>
        <% max_total_mark = 0 %>
        <% cradit_point = 0 %>
        <% elective_group = [] %>
        
        <% exam_score.each do |es| %>
          <% if !es.exam.subject.elective_group_id.blank? && !elective_group.include?(es.exam.subject.elective_group_id)  %>
          <% elective_group << es.exam.subject.elective_group_id %>
          <% if elective_group_mark[es.exam.subject.elective_group_id] == -1 %>
            <% next %>
          <% end %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              
             <td class="col-pdf no-warp  align-left"><font size="5"><%= es.exam.subject.elective_group.name %></font></td>
             <% if @batch.course.course_name != "X" && @batch.course.course_name != "IX" %>
             <td class="col-pdf">
                  <font size="5">
                  <% if elective_group_mark[es.exam.subject.elective_group_id] == -1 %>
                    AB
                  <% else %>   
                    <%= elective_group_mark_total[es.exam.subject.elective_group_id].round() %>
                    <%#= elective_max_mark[es.exam.subject.elective_group_id].round() %> 
                  <% end %>      
                  </font>   
             </td>
             <% end %>
             <td class="col-pdf">
                  <font size="5">
                  <% if elective_group_mark[es.exam.subject.elective_group_id] == -1 %>
                    AB
                  <% else %>   
                    <% convert_mark = (elective_group_mark_total[es.exam.subject.elective_group_id] * 100) / elective_max_mark[es.exam.subject.elective_group_id] %>
                    <%= convert_mark.round() %>
                  <% end %>      
                  </font>   
             </td>
              <%# elective_group_mark[es.exam.subject.elective_group_id] %>
              <%  grade = GradingLevel.percentage_to_grade(convert_mark.round(), @batch.id) %>
              <% if !grade.blank? and !grade.name.blank? %>
              <td class="col-pdf  "><font size="5"><%= grade.name %></font></td>
              <% else %>
              <td class="col-pdf  "><font size="5">-</font></td>
              <% end %>
              
              <% if @batch.course.course_name != "X" && @batch.course.course_name != "IX" && @batch.course.course_name == "IX" %>
                <% total_att = 0 %>
                <% absent_att = 0 %>
                <% if !@exam_group.attandence_start_date.blank? && !@exam_group.attandence_end_date.blank? %>
                  <% all_subject_elective_group = Subject.find_all_by_elective_group_id(es.exam.subject.elective_group_id) %>
                  <% unless all_subject_elective_group.blank?  %>
                    <% all_subject_elective_group.each do |e_subject_id| %>
                      <% total_att = total_att+SubjectAttendanceRegister.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:attendance_date => @exam_group.attandence_start_date..@exam_group.attandence_end_date}) %>
                      <% absent_att = absent_att+SubjectAttendance.count(:all,:conditions=>{:batch_id=>@batch.id,:subject_id=>e_subject_id,:is_late=>0,:student_id=>@student.id,:attendance_date => @exam_group.attandence_start_date..@exam_group.attandence_end_date}) %>
                    <% end %>
                  <% end %>
                <% end %>
                <% if total_att > 0 %>
                  <% percent = 100 %>
                  <% if absent_att > 0 %>
                    <% percent = 0 %>
                    <% diff = total_att-absent_att %>
                    <% if diff > 0 %>
                      <% percent = (diff.to_f/total_att.to_f)*100 %>
                    <% end %>
                  <% end %>
                  <td class="col-pdf  "><font size="5"><%= sprintf( "%0.02f", percent) %> %</font></td>
                <% else %>
                  <td class="col-pdf  "><font size="5">-</font></td>
                <% end %>
                
              <% end %>  
          </tr>
          
        <% j = j+1; %>   
        <% end %>  
        <% end %>
        
      
          
      
          
 
      </table>
      <% has_no_exam = false %>
      <% exam_score.each do |es| %>
          <% if es.exam.subject.no_exams %>
            <% has_no_exam = true %>
            <% break %>
          <% end %>
       <% end %>   

      <% if @batch.course.course_name != "X" && @batch.course.course_name != "IX" && has_no_exam == true %>
      <h4 class="h4-evaluation"><b><font size="5">Personal & Social Development</font></b></h4>
      <table id="pdf-table" width="99.8%" class="table_99" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">  
          <td class="col-pdf no-warp align-left" width="25%"></td>
          <td class="col-pdf" width="15%"><font size="5"><%= "Always" %></font></td>
          <td class="col-pdf" width="15%"><font size="5"><%= "Mostly" %></font></td>
          <td class="col-pdf " width="15%"><font size="5"><%= "Usually" %></font></td> 
          <td class="col-pdf " width="15%"><font size="5"><%= "Occasionally" %></font></td>
          <td class="col-pdf " width="15%"><font size="5"><%= "Rarely" %></font></td>
        </tr>
        <% exam_score.each do |es| %>
          <% if es.exam.subject.no_exams %>
          <tr class="even">
            <td class="col-pdf no-warp align-left" width="25%"><font size="5"><%= es.exam.subject.name %></font></td>
            <td class="col-pdf" width="15%"><font size="5"><% if es.remarks.to_i == 1 %><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/tick.png")) %><% end %></font></td>
            <td class="col-pdf" width="15%"><font size="5"><% if es.remarks.to_i == 2 %><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/tick.png")) %><% end %></font></td>
            <td class="col-pdf " width="15%"><font size="5"><% if es.remarks.to_i == 3 %><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/tick.png")) %><% end %></font></td> 
            <td class="col-pdf " width="15%"><font size="5"><% if es.remarks.to_i == 4 %><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/tick.png")) %><% end %></font></td>
            <td class="col-pdf " width="15%"><font size="5"><% if es.remarks.to_i == 5 %><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/tick.png")) %><% end %></font></td>
          </tr>
          <% end %>
        <% end %>
        
      </table>  
      <% end %>
      <h4 class="h4-evaluation"><b></b></h4>
      <h4 class="h4-evaluation">&nbsp;</h4>
      <table id="pdf-table" class="evaluation table_99"  width="99.8%" >

              <tr class="even">
                  <td class="col-pdf " width="25%">
                      <font size="5">Class Teacher's Signature</font>
                  </td> 
                  <td class="col-pdf" width="75%">
                      <br/><br/><br/>
                  </td>
              </tr>
              <tr class="even">
                  <td class="col-pdf " width="25%">
                      <font size="5">Principal's Signature</font>
                  </td> 
                  <td class="col-pdf" width="75%">
                      <br/><br/><br/>
                  </td>
              </tr>

      </table>

    <% else %>
      <% total_marks_attained = 0 %>
      <% total_max_marks = 0 %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">
          <td class="col-pdf"><font size="5"><%= t('subject') %></font></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-pdf"><font size="5"><%= t('marks_obtained') %></font></td>
            <td class="col-pdf"><font size="5"><%= t('max') %></font></td>
            <td class="col-pdf"><font size="5"><%= t('percentage') %>(%)</font></td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td><font size="5"><%= t('grades') %></font></td>
          <% else %>
            <td class="col-pdf"<font size="5">><%= t('marks_obtained') %></font></td>
            <td class="col-pdf"><font size="5"><%= t('max') %></font></td>
            <td class="col-pdf"><font size="5"><%= t('grades') %></font></td>
            <td class="col-pdf"><font size="5"><%= t('percentage') %>(%)</font></td>
          <% end %>
        </tr>
        <tr class="tr-blank"></tr>
        <% exam_score.each do |es| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><font size="5"> <%= es.exam.subject.name %></font></td>
            <% if @exam_group.exam_type == 'Marks' %>
              <td class="col-pdf"><font size="5"><%= es.marks || '-' %></font></td>
              <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
              <td class="col-pdf"><font size="5"><%= es.exam.maximum_marks %></font></td>
              <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
              <td class="col-pdf"><font size="5"><%= es.calculate_percentage.round(2) %></font></td>
            <% elsif @exam_group.exam_type == 'Grades' %>
              <td class="col-pdf"><font size="5"><%= es.grading_level || "-" %></font></td>
            <% else %>
              <td class="col-pdf"><font size="5"><%= es.marks || "-" %></font></td>
              <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
              <td class="col-pdf"><font size="5"><%= es.exam.maximum_marks %></font></td>
              <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
              <td class="col-pdf"><font size="5"><%= es.grading_level || "-" %></font></td>
              <td class="col-pdf"><font size="5"><%= es.calculate_percentage.round(2) %></font></td>
            <% end %>
          </tr>
        <% end %>
        <tr class="tr-blank"></tr>
        <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
          <tr class="table-header">
            <td class="col-pdf"><font size="5"><%= t('total_marks') %>:</font></td>
            <td class="col-pdf"><font size="5"><%= total_marks_attained %></td><td><%= total_max_marks %></font></td>
            <%  if @exam_group.exam_type == 'MarksAndGrades' %>
              <td><font size="5">-</font></td>
            <% end %>
            <td class="col-pdf"><font size="5"><%= "%.2f" %(total_marks_attained*100/total_max_marks) unless total_max_marks == 0 %></font></td>
          </tr>
        <% end %>
      </table>

      <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
        <div class="custom_header"><font size="5">
          <%= t('class_average_marks') %> : <%= "%.2f" %@exam_group.batch_average_marks('marks') unless total_max_marks == 0%> | <%= t('class_average') %> % : <%=  "%.2f" %(@exam_group.batch_average_marks('marks')*100/total_max_marks) unless total_max_marks == 0 %>
        </font></div>
      <% end %>
    <% end %>
  </div>
</div>
  
 <% if @batch.course.course_name == "X" or @batch.course.course_name == "IX"  or @batch.course.course_name == "A2"  or @batch.course.course_name == "AS" %>
 <style>
  .baf_shaheen table.table_99 .table-header td{
      padding: 3px !important;
      font-size: 20px !important;
  }

  .baf_shaheen table.table_99 tr.odd td
  {
      padding: 3px !important;
      font-size: 20px !important;
  }
  .baf_shaheen table.table_99 tr.even td
  {
      padding: 3px !important;
      font-size: 20px !important;
  }
  .baf_shaheen div.student_information table tr td
  {
      padding: 10px 4px !important; 
      font-size: 20px !important;
  }
  .baf_shaheen tr td.align-left
  {
     text-align: left !important;
  }
  .baf_shaheen tr td.align-right
  {
     text-align: right !important;
  }
     
</style>
<% end %>
<style>
  #pdf-header-south
  {
      width: 1100px !important;
  }
  #pdf-header-south2
  {
      width: 1250px !important;
  }
  #page-yield
  {
      width: 1250px !important;
  }
  .underline
  {
     text-decoration:underline;
  }
  .border-all
  {
    border: 1px solid black;
    margin-top: 100px;
  }
</style>
