</div>
 <h2>&nbsp;&nbsp;&nbsp;</h2>
<div id="page-yield" class="available_sections1 baf_shaheen">
   
      <div class="student_information">
        <h4><b>Student's Information</b></h4>

        <table class="std_info_table" width="100%" cellspacing="0">
            <tr>
                <td>Student's ID </td><td colspan="4" class="font-dark">:&nbsp;&nbsp;&nbsp;<%= @student.admission_no %></td>
            </tr>
            <tr>
                <td>Student's Name </td><td colspan="4" class="font-light">:&nbsp;&nbsp;&nbsp;<%= @student.full_name.upcase %></td>
            </tr>
            <tr>
                <td>Date of Birth </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.date_of_birth,:format=>:normal) unless @student.date_of_birth.nil? %></td>
                <td>&nbsp;&nbsp;</td>
                <td>Gender </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= t("#{@student.gender_as_text.downcase}") %></td>
            </tr> 
             <tr>
                <td>Academic Session </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%Y"):@exam_group.exam_date.strftime("%Y") %></td>
                <td>&nbsp;&nbsp;</td>
                <td>Roll </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @student.class_roll_no %></td>
            </tr> 
            <tr>
                <td>Standard </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @batch.course.course_name %></td>
                <td>&nbsp;&nbsp;</td>
                <td>Section </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @batch.course.section_name %></td>

            </tr>
            <tr>
                <td>Name of Examination </td><td class="font-dark">:&nbsp;&nbsp;&nbsp;<%= @exam_group.name %></td>
                <td>&nbsp;&nbsp;</td>
                <td>Exam Held </td><td class="font-dark">:&nbsp;&nbsp;&nbsp;<%= @exam_group.exam_date.blank? ? @exam_group.created_at.strftime("%B-%Y"):@exam_group.exam_date.strftime("%B-%Y") %></td>
            </tr>
        </table>
    </div>
    <div class="grade_information">
        <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
        <% if @grading_levels.blank? %>
          <% @grading_levels = GradingLevel.default %>
        <% end %>
        <%  unless @grading_levels.empty? %>
          <p>Grade Boundaries</p>
          <table id="pdf-table" class="grade_info_table" width="100%" cellspacing="0">
              <tr class="even">
                  <td>Marks</td>
                  <td>Grade</td>  
              </tr> 
             
              <% @grading_levels.each_with_index do |grade,index| %>
                 <tr class="odd">
                <td>
                    <% if grade.max_score.nil? %>  
                      <%= '%i%' % grade.min_score %>
                    <% else %> 
                      <%= grade.min_score.to_s + " - " + grade.max_score.to_s %>
                    <% end %>
                </td>
                <td><%= grade.name %></td>
                  </tr> 
              <% end %> 
              
          </table>

        <% end %> 
      </div>
      
         

  <% exam_score = [] %>
  <% max_mark = [] %>
  <% @exams.each do |exam| %>
    <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
  <%   
    exam_score_high = ExamScore.find_by_exam_id(exam.id,:limit=>1, :order => 'marks desc') unless exam.nil?  
  %>
  <% unless exam_score_high.nil? %>
  <% max_mark << exam_score_high.marks %>
  <% end %>
  <% end %>
  <div id="pdf-info">
    <% if @batch.cwa_enabled? %>
      <% total_credits=0 %>
      <% total_weighted_marks=0 %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">
          <td class="col-pdf"><%= t('subject_code') %></td>
          <td class="col-pdf"><%= t('title') %></td>
          <td class="col-pdf"<%= t('marks') %></td>
          <td class="col-pdf"><%= t('credit') %></td>
          <td class="col-pdf"><%= t('grade') %></td>
          <td class="col-pdf"><%= t('weighted_marks') %></td>
        </tr>
        <tr class="tr-blank"></tr>
        <% exam_score.each do |es| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"> <%= es.exam.subject.code %></td>
            <td class="col-pdf"> <%= es.exam.subject.name %></td>
            <td class="col-pdf"><%= es.marks.present? ? mark=(es.marks.to_f/es.exam.maximum_marks.to_f)*100 : '-' %></td>
            <td class="col-pdf"><%= es.exam.subject.credit_hours %></td>
            <% total_credits = total_credits + es.exam.subject.credit_hours.to_f %>
            <td class="col-pdf"><%= es.grading_level.present? ? es.grading_level : "-" %></td>
            <% weighted_mark=0 %>
            <% weighted_mark = mark.to_f * es.exam.subject.credit_hours.to_f if es.marks.present? %>
            <% total_weighted_marks = total_weighted_marks + weighted_mark %>
            <td class="col-pdf"><%= weighted_mark %></td>
          </tr>
        <% end %>
        <tr class="tr-blank"></tr>
        <tr class="table-header">
          <td class="col-pdf" colspan="3" align="right"><%= t('total') %></td>
          <td class="col-pdf"><%= total_credits %></td>
          <td>-</td>
          <td class="col-pdf"><%= total_weighted_marks %></td>
        </tr>
      </table>
      <h5><%= t('weighted_average') %> =
        <% unless total_credits==0 %>
          <%= "%.2f" %(total_weighted_marks.to_f/total_credits.to_f) %>
        <% else %>
          -
        <% end %>
      </h5>
    <% elsif @batch.gpa_enabled? %>
      <% total_credit_points=0 %>
      <% total_credit_hours=0 %>
      <% elective_group_mark = {} %>
      <% 
   
      exam_score.each do |es|
        if es.marks.present?
             
            if elective_group_mark[es.exam.subject.elective_group_id].nil?
              elective_group_mark[es.exam.subject.elective_group_id] = (((es.marks.to_f*100)/es.exam.maximum_marks.to_f)*es.exam.subject.percentage.to_f)/100
            else
              if elective_group_mark[es.exam.subject.elective_group_id] == -1
                elective_group_mark[es.exam.subject.elective_group_id] = 0
              end 
              elective_group_mark[es.exam.subject.elective_group_id] = elective_group_mark[es.exam.subject.elective_group_id]+(((es.marks.to_f*100)/es.exam.maximum_marks.to_f)*es.exam.subject.percentage.to_f)/100
            end
          else
            if elective_group_mark[es.exam.subject.elective_group_id].nil?
              elective_group_mark[es.exam.subject.elective_group_id] = -1
            end  
          end     
      end 
      %>
      <h4 class="h4-evaluation"><b>Result in Details</b></h4>
      <table id="pdf-table" width="99.8%" class="table_99" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">  
          <td class="col-pdf no-warp align-left" width="40%"><%= "SUBJECT" %></td>
          <td class="col-pdf" width="30%"><%= "SCORE" %></td>
          <td class="col-pdf " width="30%"><%= "GRADE" %></td> 
        </tr>
        <tr class="tr-blank"></tr>
        <% j = 0; %>
        <% total_mark = 0 %>
        <% max_total_mark = 0 %>
        <% cradit_point = 0 %>
        <% elective_group = [] %>
        
        <% exam_score.each do |es| %>
          <% if !elective_group.include?(es.exam.subject.elective_group_id) %>
          <% elective_group << es.exam.subject.elective_group_id %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              
             <td class="col-pdf no-warp  align-left" width="40%"> <%= es.exam.subject.elective_group.name %></td>
             <td class="col-pdf" width="30%">
                  <% if elective_group_mark[es.exam.subject.elective_group_id] == -1 %>
                    AB
                  <% else %>   
                    <%= elective_group_mark[es.exam.subject.elective_group_id].round() %>
                  <% end %>       
             </td>
              <%  grade = GradingLevel.percentage_to_grade(elective_group_mark[es.exam.subject.elective_group_id].round(), @batch.id) %>
              <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf  " width="30%"><%= grade.name %></td>
                            <% else %>
                            <td class="col-pdf  " width="30%">N/A</td>
                            <% end %>
              
   
          </tr>
          
        <% j = j+1; %>   
        <% end %>  
        <% end %>
 
      </table>

        
      <h5 class="h4-evaluation"><b>&nbsp;</b></h5>
      <table id="pdf-table" class="evaluation table_99"  width="99.8%" >

              <tr class="even">
                  <td class="col-pdf " width="33%">
                      Class Teacher's Signature
                  </td> 
                  <td class="col-pdf" width="67%">
                      <br/><br/><br/><br/>
                  </td>
              </tr>
              <tr class="even">
                  <td class="col-pdf " width="33%">
                      Principal's Signature
                  </td> 
                  <td class="col-pdf" width="67%">
                      <br/><br/><br/><br/>
                  </td>
              </tr>

      </table>  

    <% else %>
      <% total_marks_attained = 0 %>
      <% total_max_marks = 0 %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <% c = 'even'  %>
        <tr class="table-header">
          <td class="col-pdf"><%= t('subject') %></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-pdf"><%= t('marks_obtained') %></td>
            <td class="col-pdf"><%= t('max') %></td>
            <td class="col-pdf"><%= t('percentage') %>(%)</td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td><%= t('grades') %></td>
          <% else %>
            <td class="col-pdf"><%= t('marks_obtained') %></td>
            <td class="col-pdf"><%= t('max') %></td>
            <td class="col-pdf"><%= t('grades') %></td>
            <td class="col-pdf"><%= t('percentage') %>(%)</td>
          <% end %>
        </tr>
        <tr class="tr-blank"></tr>
        <% exam_score.each do |es| %>
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"> <%= es.exam.subject.name %></td>
            <% if @exam_group.exam_type == 'Marks' %>
              <td class="col-pdf"><%= es.marks || '-' %></td>
              <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
              <td class="col-pdf"><%= es.exam.maximum_marks %></td>
              <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
              <td class="col-pdf"><%= es.calculate_percentage.round(2) %></td>
            <% elsif @exam_group.exam_type == 'Grades' %>
              <td class="col-pdf"><%= es.grading_level || "-" %></td>
            <% else %>
              <td class="col-pdf"><%= es.marks || "-" %></td>
              <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
              <td class="col-pdf"><%= es.exam.maximum_marks %></td>
              <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
              <td class="col-pdf"><%= es.grading_level || "-" %></td>
              <td class="col-pdf"><%= es.calculate_percentage.round(2) %></td>
            <% end %>
          </tr>
        <% end %>
        <tr class="tr-blank"></tr>
        <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
          <tr class="table-header">
            <td class="col-pdf"><%= t('total_marks') %>:</td>
            <td class="col-pdf"><%= total_marks_attained %></td><td><%= total_max_marks %></td>
            <%  if @exam_group.exam_type == 'MarksAndGrades' %>
              <td>-</td>
            <% end %>
            <td class="col-pdf"><%= "%.2f" %(total_marks_attained*100/total_max_marks) unless total_max_marks == 0 %></td>
          </tr>
        <% end %>
      </table>

      <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
        <div class="custom_header">
          <%= t('class_average_marks') %> : <%= "%.2f" %@exam_group.batch_average_marks('marks') unless total_max_marks == 0%> | <%= t('class_average') %> % : <%=  "%.2f" %(@exam_group.batch_average_marks('marks')*100/total_max_marks) unless total_max_marks == 0 %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>