<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

  <div class="page1"> </div>
  <div class="section1 row" >
    <center>
      
      <h4 align="center">Tabulation Sheet, <%= @connect_exam_obj.name %></h4>
      <table width="100%" >
            <thead>
                <tr>
                    <td><b>Year: <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B-%Y"):@connect_exam_obj.published_date.strftime("%B-%Y") %> </b></td>
                    <td align="right"><b>Class : 
                        <% if @batch.name == "General" %>
                        <%= @batch.course.full_name %>
                        <% else %>
                           <%= @batch.name %> ,<%= @batch.course.full_name %>
                        <% end %></b>
                    </td>
                </tr>
            </thead>    
      </table>
      <% exam_type = 1 %>
      <% if @connect_exam_obj.result_type == 10 %>
        <% exam_type = 2 %>
      <% end %>
      <% if @connect_exam_obj.result_type == 11 or @connect_exam_obj.result_type == 6 %>
        <% exam_type = 3 %>
      <% end %>
     
      <% unless @report_data.blank? %>
      <% c = 'even' %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
          <td class="col-pdf">Sl.</td>
          <td class="col-pdf">Roll</td>
          <td class="col-pdf">Students Name</td>
          <% @report_data['report']['subjects'].each do |sub| %>
            <td><%=  sub['code'] %><hr/>Grade</td>
          <% end %> 
          
          <td>Total</td>
          <td>Grade Count</td>
        
        </tr>
        
        <% extender = 0 %>
        <% std_count = 0 %>
        <% i = 0 %>
      
        <% @report_data['report']['students'].each do |std| %>
          <% students_data = Student.find_by_id(std['id'].to_i) %>
        
          <% if !@current_user.admin and (!@current_user.employee_record.is_advisor or students_data.advisor_id != @current_user.employee_record.id) %>
            <% next %>
          <% end %>
          <% i = i+1 %>
          <%  std_count = std_count+1; %>  
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="col-pdf"><%= i %></td>
            <td class="name"><%= std['class_roll_no'] %></td>
            <% if !std['first_name'].blank? and !std['last_name'].blank?  %>
            <td class="name-std"><%= std['first_name']+" "+std['last_name'] %></td>
            <% elsif !std['first_name'].blank? %>
            <td class="name-std"><%= std['first_name'] %></td>
            <% else %>
            <td class="name-std"><%= "-" %></td>
            <% end %>
            <% total_mark = 0 %>
            <% grades = [] %>
            <% grade_count = {} %>
            <% @report_data['report']['subjects'].each do |sub| %>
                  <% subject_full_mark1 = 0 %>
                  <% subject_obtain_mark1 = 0 %>
                  <% subject_full_mark2 = 0 %>
                  <% subject_obtain_mark2 = 0 %>
                  <% subject_full_mark3 = 0 %>
                  <% subject_obtain_mark3 = 0 %>
                  <% subject_full_mark4 = 0 %>
                  <% subject_obtain_mark4 = 0 %>
                  
                  <% @report_data['report']['exams'].each do |rs| %>
                    <% @examobj = Exam.find_by_exam_group_id_and_subject_id(rs['exam_id'].to_i,sub['id'].to_i) %>
                    <% unless @examobj.blank?  %>
                      <% check_exam = false %>
                      <% @exam_score_all = ExamScore.find_all_by_exam_id(@examobj.id.to_i) %>
                      <% if @exam_score_all.blank? %>
                          <% check_exam = false %>
                      <% else %>
                        <% @exam_score_all.each do |score| %>
                        <%
                          unless score.marks.blank?
                            check_exam = true
                            break
                          end
                        %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% if !rs['result'].blank? and !rs['result'][rs['exam_id']].blank? and !rs['result'][rs['exam_id']][sub['id']].blank? and !rs['result'][rs['exam_id']][sub['id']][std['id']].blank? and check_exam == true %>
                      
                      <%
                      
                          if exam_type == 1
                           if rs['exam_category'].to_i == 1 
                              subject_full_mark1 = subject_full_mark1+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                              subject_obtain_mark1 = subject_obtain_mark1+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                            else
                              subject_full_mark2 = subject_full_mark2+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                              subject_obtain_mark2 = subject_obtain_mark2+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                            end
                          else 
                            if rs['priority'].to_i == 1 and rs['exam_category'].to_i == 1
                              subject_full_mark1 = subject_full_mark1+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                              subject_obtain_mark1 = subject_obtain_mark1+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                            elsif rs['priority'].to_i == 2 and rs['exam_category'].to_i != 1
                              subject_full_mark2 = subject_full_mark2+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                              subject_obtain_mark2 = subject_obtain_mark2+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                            elsif rs['priority'].to_i == 3 and rs['exam_category'].to_i == 1
                              subject_full_mark3 = subject_full_mark3+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                              subject_obtain_mark3 = subject_obtain_mark3+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                            elsif rs['priority'].to_i == 4 and rs['exam_category'].to_i != 1
                              subject_full_mark4 = subject_full_mark4+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                              subject_obtain_mark4 = subject_obtain_mark4+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                            end  
                          end
                         
                        
                      %>
                    <% end %>
                   <% end %> 
                      
                      <%
                        if exam_type == 1
                          
                          main_mark1 = (subject_obtain_mark1.to_f/subject_full_mark1.to_f)*40 
                          main_mark2 = (subject_obtain_mark2.to_f/subject_full_mark2.to_f)*60 
                          main_mark1 = main_mark1.round()
                          main_mark2 = main_mark2.round()
                          main_mark_sum = main_mark = main_mark1+main_mark2
                     
                        elsif exam_type == 3
                          main_mark1 = (subject_obtain_mark1.to_f/subject_full_mark1.to_f)*100 
                          main_mark2 = (subject_obtain_mark2.to_f/subject_full_mark2.to_f)*100 
                          main_mark1 = main_mark1.round()
                          main_mark2 = main_mark2.round()
                          main_mark_sum = main_mark1+main_mark2 
                          main_mark = (main_mark_sum/200)*100
                        else
                          main_mark1 = (subject_obtain_mark1.to_f/subject_full_mark1.to_f)*40 
                          main_mark2 = (subject_obtain_mark2.to_f/subject_full_mark2.to_f)*60 
                          main_mark1 = main_mark1.round()
                          main_mark2 = main_mark2.round()
                          main_mark1 = main_mark1+main_mark2
                          
                          main_mark3 = (subject_obtain_mark3.to_f/subject_full_mark3.to_f)*40 
                          main_mark4 = (subject_obtain_mark4.to_f/subject_full_mark4.to_f)*60 
                          main_mark3 = main_mark3.round()
                          main_mark4 = main_mark4.round()
                          main_mark2 = main_mark3+main_mark4
                          
                          main_mark_sum = main_mark1+main_mark2 
                          main_mark = (main_mark_sum/200)*100
                        
                        end
                        main_mark = main_mark.round()
                     
                      %> 
                    <td>
                       <% total_mark = total_mark+main_mark_sum.to_f %>
                       <%= main_mark_sum.to_i %><hr/>
                       <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                       <% if !grade.blank? and !grade.name.blank? %>
                           <%
                              if grades.include?(grade.name.to_s)
                                grade_count[grade.name.to_s] = grade_count[grade.name.to_s]+1
                              else
                                grades << grade.name.to_s
                                grade_count[grade.name.to_s] = 1
                              end  
                           %>
                          <%= grade.name %>  
                       <% else %>
                          N/A  
                       <% end %>
                    </td>  
             <% end %> 
            
              <td>
                   <%= sprintf( "%0.02f", total_mark) %>    
              </td>
              <td>
                  <% i = 1 %>
                  <% total_grade_std = grades.count  %>
                  <% grades.each do |grade| %>
                      <%= grade.to_s+"-"+grade_count[grade].to_s %>
                      <% if i!=total_grade_std %>
                      ,
                      <% end %>
                      <% i = i+1 %>
                  <% end %>
              </td> 
              
           
        </tr>
        <% @std_info = std %>
        <% @std_id_comment = std['id'] %>
        <%= render  :partial=>"/connect_exam/comment_input" %>
        <% end %>
      </table>
      <% end %>
    </center>
  </div>
