<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'>Connect Exam Subjects Comments</div>
<div id="inner-tab-menu">
  <ul>
    <% if permitted_to? :previous_batch_exams, :exam %>
      <li class='themed_bg themed-dark-hover-background' style="display: none;"><%= link_to "#{t('previous_batch_exam')}", {:controller => "exam", :action => "previous_batch_exams"} %></li>
    <% end %>
    <% unless @show_class_exam %>   
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('exams_text'), :controller => "exam", :action => "exam_connect_list",:id=>@batch.id %></li>
    <% end %>  
    <%  if permitted_to? :grouping,:exam %>
      <% unless @is_class_exam %>   
      <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('connect_exams_new')}", :controller=>'exam', :action=>'new_exam_connect', :id=>@batch %></li>
      <% end %>
    <% end %>
  </ul>
    

</div>
</div>


<div id="page-yield">
  
  <div id="flash-box">   
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
    
 

  <h3>EXAM COMMENTS >> <%= @exam_subject.name %></h3>
  <% unless @students.empty? %>
      <% form_for :exams do |f| %>
        <div class="zui-wrapper">
    <div class="zui-scroller">
        <table class="zui-table">
       
          <tr class="tr-head fixed-position">
            <td  class="zui-sticky-col2"><b><%= t('name') %></b></td>
            <td><b><%= "Effort" %></b></td>
            <% unless @exams.blank? %>
            <% @exams.each do |exam| %>
              <% if exam.exam_group.exam_category == 4 && has_subject_group(@exam_subject.id) %>
                <% subject_groups = get_subject_group(@exam_subject.id) %>
                <td style="padding:0px; border:none;">
                  <table width="100%" style="height: 63px;">
                  <tr>
                      <td colspan="100" style="text-align:center; border:1px solid black;"><b><%= exam.exam_group.name %></b>
                      
                      
                      </td></tr><tr>
                   <% subject_groups.each do |group_name| %>
                     
                            <% subject_subgroup = get_subject_sub_group(group_name.id) %>
                            <% if subject_subgroup %>
                                <td style="text-align:center; border:1px solid black;">
                                 <table width="100%">
                                       <tr><td colspan="100" style="text-align:center;padding:3px;"><%= group_name.name %><hr/></td></tr>
                                       <tr>
                                         <% isubgroup = 0 %>
                                         <% subject_subgroup.each do |sub_group_name| %>
                                               <% if isubgroup == 0 %>
                                                 <td style="text-align:center;padding:3px;font-size: 11px; width:60px;white-space:normal;"><%= sub_group_name %></td>
                                               <% else %>
                                                 <td style="text-align:center;padding:3px;font-size: 11px; width:60px; border-left: 1px solid #D7D7D7;white-space:normal;"><%= sub_group_name %></td>
                                               <% end %>
                                               <% isubgroup = isubgroup+1 %>
                                         <% end %> 
                                       </tr>
                                  </table> 
                                 </td>

                               <% else %>
                                  <td style="text-align:center;padding:3px;font-size: 11px; white-space:normal; width:60px; border:1px solid black;">
                                    <%= group_name.name %>
                                  </td>    
                               <% end %>  
                              
                  <% end %>
                  </tr>
                </table>
                </td>  
              <% else %>
              <td>
                  <b><%= exam.exam_group.name %></b>
                  <% if !exam.alternative_title.nil? and exam.alternative_title != "" %>  
                   <p style="font-size: 10px;"> (<%= exam.alternative_title %>)</p>
                  <% else %>
                   <p> 
                       <% if exam.exam_group.marks_entry.to_i == 1 %>
                          <%= text_field_tag "exam_marks[#{exam.id}][maximum_marks]", exam.maximum_marks.to_i, :size => '4', :class=>"marks-box" %>
                       <% else %>
                          <%= exam.maximum_marks.to_i %>
                       <% end %>
                    </p>
                  <% end %> 
              </td>
              <% end %>
            <% end %>
            <% end %>  
            <td><b><%= "M. Obt." %><hr><%="T. Marks"%></b></td>
            <td><b><%= "%" %></b></td>
            <td><b><%= "Grade" %></b></td>
            <td><b><%= t('remarks') %></b></td>
            
            
          </tr>
          <% @students.each do |student| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-2 zui-sticky-col2"  style="padding: 13px 10px"><%= student.full_name %> </td>
              <%
                exam_comment = ""
                @exam_comments = ExamConnectSubjectComment.find(:first, :conditions => {:exam_connect_id=>@exam_connect.id,:subject_id => @exam_subject.id, :student_id => student.id} )
                if !@exam_comments.blank?
                  exam_comment = @exam_comments.comments
                  exam_effort = @exam_comments.effort
                end
              %>
              <td class="col-2 td-mark">
                  
                  <div class="label-field-pair2">
                  
                  <div class="text-input-bg2">
                    <%= text_field_tag "exam[#{student.id}][effort]",exam_effort, :size => '2' %></div>
                  </div>
                  
              </td>
            
              <% total_mark = 0 %>
              <% full_mark = 0 %>
              <% unless @exams.blank? %>
                <% @exams.each do |exam| %>
                  <% @exam_score = exam.score_for(student) %>
              
                  <% if exam.exam_group.exam_category == 4 && has_subject_group(@exam_subject.id) %>
                        <% unless @exam_score.blank? or @exam_score.remarks.blank?  %>
                        <% exam_score_split = @exam_score.remarks.split("|") %>
                        <% end %>
                        <% subject_groups = get_subject_group(@exam_subject.id) %>
                        <% iloop = 0 %>
                        <% @group_loop = 0 %>
                        <td>
                          <table width="100%">
                          <tr>
                        <% subject_groups.each do |group_name| %>
                                 
                                 
                                
                                  
                                  <% subject_subgroup = get_subject_sub_group(group_name.id) %>
                                  <% unless subject_subgroup.blank? %>
                                     <td style="padding:0px;">
                                      <table width="100%">
                                        <tr>
                                      <% subject_subgroup.each do |sub_group_name| %>
                                            <% exam_group_remarks = "" %>
                                            <% unless @exam_score.blank? or @exam_score.remarks.blank?  %>

                                              <% unless exam_score_split[@group_loop.to_i].blank? %>

                                                <% exam_group_remarks = exam_score_split[@group_loop.to_i] %>
                                              <% end %>
                                            <% end %>
                                            <td  class="col-2 td-mark" style="text-align:center; width:60px;">
                                                <%= text_field_tag "exam_score[#{exam.id}][#{student.id}][remarks][]", exam_group_remarks, :size => '4' %>
                                                <div class="date2" ><span class="themed_text"><%=  student.full_name %><div> <%= group_name.name.to_s+">>"+sub_group_name %></div></span></div>
                                            </td>
                                            <% @group_loop = @group_loop+1 %>
                                            
                                      <% end %>
                                            
                                      </tr>
                                      </table>
                                     </td>    
                                  <% else %>
                                    <td  class="col-2 td-mark" style="text-align:center; width:60px;">
                                     <% exam_group_remarks = "" %>
                                      <% unless @exam_score.blank? or @exam_score.remarks.blank?  %>

                                        <% unless exam_score_split[@group_loop.to_i].blank? %>

                                          <% exam_group_remarks = exam_score_split[@group_loop.to_i] %>
                                        <% end %>
                                      <% end %>
                                     
                                            <%= text_field_tag "exam_score[#{exam.id}][#{student.id}]][remarks][]", exam_group_remarks, :size => '10' %>
                                            <div class="date2" ><span class="themed_text"><%=  student.full_name %><div> <%= exam.exam_group.name.to_s %></div><div> <%= group_name.name.to_s %></div></span></div>
                                     
                                     <% @group_loop = @group_loop+1 %>
                                    </td>
                                  <% end %> 
                                
 
                          <% iloop = iloop+1 %>      
                        <% end %>
                        </tr>
                    </table>
                </td>
                <% else %>
                  <% if !@exam_score.marks.blank? %>
                    <% total_mark = total_mark.to_f+@exam_score.marks.to_f %>
                          
                  <% end %>
                  <% full_mark = full_mark+exam['maximum_marks'].to_f %>
                  <td class="col-2 td-mark">
                      <div class="label-field-pair2">
                        <div class="text-input-bg2">
                            <%= text_field_tag "exam_score[#{exam.id}][#{student.id}][marks]", @exam_score.marks, :size => '3', :class=>"marks-4box" %>
                         </div>
                      </div>
                      <div class="date" ><span class="themed_text"><%=  student.class_roll_no.to_s+" : "+student.full_name %><div> <%= exam.name %></div></span></div>
                  </td>                    
                <% end %>
                <% end %>  
              <% end %>
              
              <td class="col-2 td-mark"><center><b><%=total_mark.to_i%><hr><%=  full_mark.to_i %></b></center></td>
              <td class="col-2 td-mark">
                <%
                  stGetPercentage = 0
                  if full_mark != 0
                    stGetPercentage = (total_mark/full_mark)*100
                  end
                %>
                <center><b><%=  stGetPercentage.to_i%> % </b></center>
              </td>
              <td class="col-2 td-mark">
                <%  grade = GradingLevel.percentage_to_grade(stGetPercentage, @batch.id) %>
                <% if !grade.blank? and !grade.name.blank? %>
                  <center><b><%= grade.name %></b></center>
                <% else %>
                  <center><b>N/A</b></center>
                <% end %>
              </td>
              <td class="col-2 td-mark">
                  
                  <div class="label-field-pair2">
                  
                  <div class="text-input-bg2">
                    
                    <%= text_field_tag "exam[#{student.id}][comments]", exam_comment, :size => '30' %></div>
                  </div>
                  <div class="date2"><span class="themed_text"><%=  student.class_roll_no.to_s+" : "+student.full_name %></span></div>
              </td> 
           
              
            
            <tr>
          <% end %>      
        </table>
        </div> 
        </div>    
        <br/>
        <div id="sub-button" style="float:right; clear:both;"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %></div>
      <% end %> 
        
    <% end %>

     </div>
<style>
  #sub-button .submit_button
  {
    cursor: pointer;
  }
  table#listing {
    padding: 0px;
    width: 100%;
    overflow-x: auto;
}
.zui-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: none;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}
.zui-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
    border-left: solid 1px #DDEFEF;
}
.zui-wrapper {
    position: relative;
}
.zui-scroller {
    overflow-x: auto;
    overflow-y: auto;
    padding-bottom: 5px;
    width: 930px;
    max-height: 500px;
}

.td-mark .date2{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-mark .date2 span,.td-name .date2 span{
    display: none;
    color: #FFFFFF;
}
.td-mark:hover .date2 span{
    display: block;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #c3d9ff;
    min-height: 30px;
    left: 20px;
    top: 0px;
    color: #FFFFFF;
    padding-top: 10px;
    padding: 3px;

    color:#990A10;
    font-size: 12px;
}

.td-mark .date{
    position: relative;
    left: -172px;
    top: -73px;
}
.td-mark .date span,.td-name .date span{
    display: none;
    color: #FFFFFF;
}
.td-mark:hover .date span{
    display: block;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #c3d9ff;
    min-height: 20px;
    left: 20px;
    top: 10px;
    color: #FFFFFF;
    padding: 3px;

    color:#990A10;
    font-size: 12px;
}

</style>
