<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="page-yield" class="available_sections1">
  <div class="page1 sjws"> 
      <div class="logo_left"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/340/sjws_logo.png")),:width=> '80%' %></div>
      <div class="exam_title_left"><p><%= @connect_exam_obj.name %> - EVALUATION SHEET - ACADEMIC YEAR <%= Time.current.year %>-<%= Time.current.year + 1 %></p></div>
      <!--div class="grad_list_right">ATTAINMENT:<br />
          <%#= debug @grades %>
          <% @grades.each do |g| %>
            <% gValue = g.min_score.to_i %>
            <% if gValue > 0 %>            
              <%= gValue.to_s+"% + ="+ g.name + " - " + g.description %><br />
            <% else %>
              <%= "Less than 50% = " + g.name + " - " + g.description %><br />
            <% end %>
          <% end %>
      </div-->
  </div>  
  
  <div class="section1 row" >
    <center>     
      
      <div id ="main_info" class="sjws">
            
       
      </div>
      
      <% unless @report_data.blank?  or  @report_data['result'].blank? %>
      <% c = 'even' %>
      <% full_mark = 0 %>
      <% colspan = 0 %>        
      
      <table id="pdf-table" class="sjws_table_head" width="100%" cellspacing="0">
        <% total_colspan_count = 0 %>
        <tr class="sjws-table-header">
            <td colspan="2" rowspan="2">              
              <p><b>TERM: <%= @connect_exam_obj.name %></b></p>
              <p><b>Class : <%= (@batch.name=="General")?"":@batch.name+" " %><%= @batch.course.course_name %>&nbsp;<%= @batch.course.section_name %></b></p>
            <% if !@employee.nil? %> 
              <p><b>Subject : <%= @subject.name %></b></p>
              <p><b>Teacher's Name : <%=  @employee.full_name %></b></p>              
            <% else %>
              <p><b>Subject : <%= @subject.name %></b></p>
            <% end %> 
            <p></p>
          </td>
          <% total_colspan_count = total_colspan_count+2 %>
          
          <% subject_groups = get_subject_group(@subject.id) %>          
          <% ilooop = 0 %>
          <% groupCount = subject_groups.count %>
          <% subject_groups.each do |group_name| %>
            <% subject_subgroup = get_subject_sub_group(group_name.id) %>
            <% subGroupCount = 1 %>
            <% if subject_subgroup %>
              <% subGroupCount = subject_subgroup.count %>
              <td colspan="<%=subGroupCount.to_i * 3 %>" class="word_break" ><%= group_name.name.to_s %></td> 
              <% total_colspan_count = total_colspan_count+(subGroupCount.to_i * 3) %>
            <% else %>
              <td colspan="3" rowspan="3" class="word_break" ><%= group_name.name.to_s %></td>
              <% total_colspan_count = total_colspan_count+3 %>
            <% end %> 
            
            <% ilooop = ilooop+1 %>   
          <% end %>
          <% if @subject.no_exams_sjws.to_i == 1 %>
            <td colspan="1" rowspan="3"><b>TOTAL<br />MARKS</b></td> 
            <td colspan="1" rowspan="3"><b>%</b></td> 
            <td colspan="1" rowspan="3"><b>GRADE<br />&<br />EFFORT</b></td> 
            <% total_colspan_count = total_colspan_count+3 %>
          <% end %>
        </tr>
        
        <tr class="sjws-table-header">        
            <% iloop = 0 %>
            <% subject_groups.each do |group_name| %>
              <% subject_subgroup = get_subject_sub_group(@subject.id) %>
                <% if subject_subgroup %>
                  <% subject_subgroup.each do |sub_group_name| %>
                      <td class="word_break" colspan="3" rowspan="2"> 
                        <%= sub_group_name %>
                      </td>
                  <% end %>
                <% end %>  
              <% iloop = iloop+1 %>      
            <% end %>
        </tr>
        <tr class="sjws-table-header">
          <td class="sl"><b>SL.</b></td>
          <td class="st_name"><b>STUDENTS' NAME</b></td>
          
        
        </tr>
        
        <% extender = 0 %>
        <% std_count = 0 %>
        <% main_count = 0 %>
        <% unless @report_data['result']['al_students'].blank? %>
        <% @report_data['result']['al_students'].each do |std| %>
          <% std_count = std_count+1; %>
          <% main_count = main_count+1; %>
          <% colspan = colspan+4 %>
          <% if std_count>12 && extender ==0 %>
              <% std_count = 0 %>
              <% extender = 1 %>
              <tr class="page-break">
                  <td colspan="100">&nbsp;</td>
              </tr>    
          <% elsif std_count>18 && extender ==1 %>
              <% std_count = 0 %>
              <% extender = 1 %>
              <tr class="page-break">
                  <td colspan="100">&nbsp;</td>
              </tr> 
          <% end %>    
        
        
          
          
          <%#= debug @report_data['result']['ALL'][0]['students'][std['id']]['remarks'] %> 
          
          <tr class="<%= cycle(c,(["sjws_odd","sjws_even"]-[c]).first) %>">
            <td class="sl"><%#= std['class_roll_no'] %><%= main_count %></td>
            <td class="st_name"><%= std['name'] %></td>            
            <% @examScore1 = [] %>
            <% loopCounter = @report_data['result']['ALL'].count %>
            
            
              				
					
					
              <% iloooop = 0 %><% @group_loop = 0 %><% all_total_mark = 0 %><% all_full_mark = 0 %>
              <% subject_groups.each do |group_name| %>
                <% subject_subgroup = get_subject_sub_group(@subject.id) %>

                      <% unless subject_subgroup.blank? %>
                        <% subject_subgroup.each do |sub_group_name| %>
                          <% total_mark = 0 %><% full_mark = 5 %><% avg_counter = 0 %>
                          <% @report_data['result']['ALL'].each do |rs| %>
                            <% wordString = rs['students'][std['id']]['remarks'] %>
                            <% wordString_split = wordString.split("|") %>
                            <% exam_group_remarks = "" %>
                            <% unless rs['students'][std['id']]['remarks'].blank?  %>
                              <% unless wordString_split[iloooop.to_i].blank? %>
                                    <% exam_group_remarks = wordString_split[@group_loop.to_i] %>
                                    <% total_mark = total_mark + exam_group_remarks.to_i %>                                                              
                                    <% avg_counter = avg_counter +1 %>

                                    <% all_total_mark = all_total_mark + exam_group_remarks.to_i %>
                                    <% all_full_mark = all_full_mark + 5 %>
                              <% end %>
                            <% end %>
                            <td> 
                                  <%= exam_group_remarks %>
                            </td>
                          <% end %>

                          <td> 
                                <% total_avg = total_mark.to_f/avg_counter.to_i %>

                                <% mark_percentage = (total_avg.to_f/full_mark.to_f)*100 %>  
                                <% if mark_percentage.to_f > 80 %>
                                  <%= "A" %>
                                <% elsif  mark_percentage.to_f > 60 %>
                                  <%= "B" %>
                                <% elsif  mark_percentage.to_f > 40 %>
                                  <%= "C" %>
                                <% elsif  mark_percentage.to_f <= 40 %>
                                  <%= "D" %>
                                <% end %>
                          </td>                                                    
                          <% @group_loop = @group_loop+1 %>
                        <% end %>
                      <% else %>
                          <% total_mark = 0 %><% full_mark = 5 %><% avg_counter = 0 %>
                          <% @report_data['result']['ALL'].each do |rs| %>
                                <% exam_group_remarks = "" %>
                                <% if !rs['students'].blank? and !rs['students'][std['id']].blank? and !rs['students'][std['id']]['remarks'].blank? %>
                                  <% wordString = rs['students'][std['id']]['remarks'] %>
                                  <% unless wordString.nil? %>
                                    <% wordString_split = wordString.split("|") %>
                                    
                                    <% unless rs['students'][std['id']]['remarks'].blank?  %>
                                      <% unless wordString_split[iloooop.to_i].blank? %>
                                            <% exam_group_remarks = wordString_split[@group_loop.to_i] %>
                                            <% total_mark = total_mark + exam_group_remarks.to_i %>
                                            <% avg_counter = avg_counter +1 %>

                                            <% all_total_mark = all_total_mark + exam_group_remarks.to_i %>
                                            <% all_full_mark = all_full_mark + 5 %>
                                      <% end %>                                                            
                                    <% end %>
                                    <td> 
                                      <%= exam_group_remarks %>
                                    </td>
                                <% end %>
                                
                                  
                                <% end %>
                               
                                
                          <% end %>  
                          <td> 
                                <% total_avg = total_mark.to_f/avg_counter.to_i %>

                                <% mark_percentage = (total_avg.to_f/full_mark.to_f)*100 %>  
                                <% if mark_percentage.to_f > 80 %>
                                  <%= "A" %>
                                <% elsif  mark_percentage.to_f > 60 %>
                                  <%= "B" %>
                                <% elsif  mark_percentage.to_f > 40 %>
                                  <%= "C" %>
                                <% elsif  mark_percentage.to_f < 40 %>
                                  <%= "D" %>
                                <% end %>
                          </td>
                          <% @group_loop = @group_loop+1 %>                      
                      <% end %>  
                <% iloooop = iloooop+1 %>      
              <% end %>
              <% if @subject.no_exams_sjws.to_i == 1 %>
                <% if all_total_mark > 0  %>
                  <td colspan="1" rowspan="1"><b><%= all_total_mark %>/<%= all_full_mark %></b></td> 
                <% else %>
                  <td colspan="1" rowspan="1"><b>-</b></td> 
                <% end %>
                <% all_mark_percentage = 0 %>
                <% if all_total_mark > 0  %>
                <% all_mark_percentage = (all_total_mark.to_f/all_full_mark.to_f)*100 %>
                <% end %>
                <% unless all_mark_percentage == 0 %>
                <td colspan="1" rowspan="1"><b><%= all_mark_percentage %></b></td>
                <% else %>
                <td colspan="1" rowspan="1"><b>-</b></td>
                <% end %>
                <%
                  #exam_comment = ""
                  exam_effort = ""
                  @exam_comments = ExamConnectSubjectComment.find(:first, :conditions => {:exam_connect_id=>@connect_exam_obj.id,:subject_id => @subject.id, :student_id => std['id']} )
                  if !@exam_comments.blank?
                    #exam_comment = @exam_comments['comments']
                    exam_effort = @exam_comments['effort']
                  end
                %>
                <%  grade = GradingLevel.percentage_to_grade(all_mark_percentage, @batch.id) %>
                <% if !grade.blank? and !grade.name.blank? %>
                   <td class="col-2"><b><%= grade.name %> - <%= exam_effort %></b></td>
                <% else %>
                   <td class="col-2"><b>N/A - <%= exam_effort %></b></td>
                <% end %>
              <% end %>  
				
            
        </tr>
        <% end %>
        <% end %>
      </table>
      <% end %>
      
    </center>
  </div>
  
  
</div>
<style>
    table td
    {
    
    }
</style>    
