<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1 sjws">
    <div class="page1"> 
        <div class="logo_left">
          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/340/sjws_logo.png")),:width=> '120%' %>
        </div>
        <div class="exam_title_left">
            <p>PROGRESS REPORT OF <%= @connect_exam_obj.name %> (YEAE <%= Time.current.year %> - <%= Time.current.year + 1 %>)</p>
            <p>EVALUATION PERIOD: <%= @connect_exam_obj.attandence_start_date.strftime("%B") %> - <%= @connect_exam_obj.attandence_end_date.strftime("%B") %> <%= @connect_exam_obj.attandence_end_date.strftime("%Y") %></p>
        </div>
        <div class="grad_list_right">&nbsp; </div> 
    </div>
      
      
      
      <p>&nbsp;<p>
      
      <% total_subject_main = @report_data['report']['subjects'].count %>    
      <table class="sjws_table_head std_name_and_class" width="100%" cellspacing="0">
          <tr class="table-header">
              <td colspan="2"><b>STUDENT'S NAME : <%= @student.full_name %> </b></td> 
          </tr>
          <tr class="table-header">
              <td colspan="1"><b>Class : <%= @batch.course.course_name %></b></td>
              <td colspan="1"><b>Section : <%= @batch.course.section_name %></b></td> 
          </tr>
      </table>
      <p>&nbsp;<p>
      <div class ="current_batch std_name_and_class" style="margin-left:0px;">
          <div id="grouped_exam_report">

              
              <table id="pdf-table" class="sjws_table_intro align-center-table" <% if total_subject_main > 6 %> width="100%" <% else %> width="80%" <% end %> cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf"><%= "Subject" %></b></td>                      

                      <td class="col-pdf">Level of progress</td>
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% iloop = 0 %>
                  
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% iloop = iloop+1 %>
                    
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">                          
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>

                          <td class="col-pdf" class="subject-td"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>                              
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                    <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>                                  
                            <% end %>
                          <% end %>
                          
                          <% 
                            if total_mark.to_f>0 and full_mark.to_f>0
                              main_mark = (total_mark.to_f/full_mark.to_f)*100 
                            else
                              main_mark = 0
                            end  
                          %>

                          <% if full_mark.to_f > 0 %>  
                            <% if main_mark > 0 %>
                          
                              <td class="col-pdf <% if total_subject_main > 6 %>checkbox_inline<% else %> p-gap-<%= total_subject_main %><% end %>">
                                <% if main_mark >69 and main_mark < 101 %>
                                  <p><span class="tickbox_check"></span>Progressing well</p>
                                  <p><span class="tickbox_uncheck"></span>Progressing with difficulty</p>
                                  <p><span class="tickbox_uncheck"></span>Unsatisfactory progress</p>
                                <% elsif main_mark > 49 and main_mark < 70 %>
                                  <p><span class="tickbox_uncheck"></span>Progressing well</p>
                                  <p><span class="tickbox_check"></span>Progressing with difficulty</p>
                                  <p><span class="tickbox_uncheck"></span>Unsatisfactory progress</p>
                                <% elsif main_mark > 0 and main_mark < 50 %>
                                  <p><span class="tickbox_uncheck"></span>Progressing well</p>
                                  <p><span class="tickbox_uncheck"></span>Progressing with difficulty</p>
                                  <p><span class="tickbox_check"></span>Unsatisfactory progress</p>
                                <% else %>
                                  <p><span class="tickbox_uncheck"></span>Progressing well</p>
                                  <p><span class="tickbox_uncheck"></span>Progressing with difficulty</p>
                                  <p><span class="tickbox_uncheck"></span>Unsatisfactory progress</p>
                                <% end %>
                              </td>                            
                            <% else  %>                            
                              <td class="col-pdf <% if total_subject_main > 6 %>checkbox_inline<% else %> p-gap-<%= total_subject_main %><% end %>">
                                <p><span class="tickbox_uncheck"></span>Progressing well</p>
                                <p><span class="tickbox_uncheck"></span>Progressing with difficulty</p>
                                <p><span class="tickbox_uncheck"></span>Unsatisfactory progress</p>
                              </td>                            
                            <% end %>      
                          <% end %> 
                      </tr> 
                    <% end %>  
                  <% end %>     

              </table>


              <%# avgparcent = total_parcent.to_f/total_subject.to_f %>
              <!--table id="pdf-table" class="margin-top-bottom-10 font-size-20" width="100%" >
                 
                      <tr class="table-header">

                          <td class="col-pdf">Working Days : <%#= @report_data['total'] %></td>

                          <td class="col-pdf">Days Present : <%#= @report_data['present'] %> </td>
                          <td class="col-pdf">Days Absent : <%#= @report_data['total']-@report_data['present'] %> </td>
                          <td class="col-pdf">Average Marks : <%#= sprintf( "%0.02f",avgparcent) %> % </td>
                          <td class="col-pdf">Detention : <%#= @student.number_of_detention  %> </td>
                      </tr> 
                  

              </table-->
              <p>&nbsp;<p>
              <table class='sjws_table_head std_name_and_class' width="100%" >                 
                      <tr>
                          <td class="col-pdf">
                              <table class='sjws_table_head' width="100%"><tr>
                                      <td class="col-pdf"><b>CLASS TEACHER'S SIGNATURE:</b> </td><td class="col-pdf"><b>.............................................................................</b></td>  
                                  </tr>
                                  <tr>
                                      <% if @teacher_name.blank? %>
                                        <% teacher_name = "Teacher" %>
                                        <% emp_batch = @batch.class_teacher  %>
                                        <% unless emp_batch.blank? %>
                                          <% @teacher_name = emp_batch.full_name %>
                                        <% end %>
                                      <% end %>
                                      <td class="col-pdf"></td><td class="col-pdf text_center"><b><%= @teacher_name %></b></td>  
                                  </tr>
                              </table>
                          </td> 
                          <td class="col-pdf">
                              <table class='sjws_table_head' width="100%">
                                  <tr>
                                    <td class="col-pdf"><b>DATE: <%=Time.now.strftime("%d-%m-%Y")%></b></td> 
                                  </tr>
                                  <tr>
                                      <td class="col-pdf"></td><td class="col-pdf text_center">&nbsp;</td>  
                                  </tr>
                              </table>
                          </td> 
                      </tr> 
              </table>
              <table class='sjws_table_head std_name_and_class' width="100%" >                 
                      <tr>
                          <td width="50%">
                              <p class="note">Note: The level of progress is based on the marking class works and class test(s) taken in the month of 
                                <b><%= @connect_exam_obj.attandence_start_date.strftime("%B") %> - <%= @connect_exam_obj.attandence_end_date.strftime("%B") %> <%= @connect_exam_obj.attandence_end_date.strftime("%Y") %></b>.
                                Parents are encouraged to meet the subject teachers if the students are progressing with difficulty or below the satisfactory level.
                              </p>
                          </td>                          
                          <td width="50%">
                              <div class="roundbox">
                                <span class="roundbox_line">Progress Indicator Key:</span>
                                <span>70-100% - Progressing well (Grade A + B)</span><br />
                                <span>50-69% - Progressing with difficulty (Grade C)</span><br />
                                <span>49% and below - Unsatisfactory progress (Grade D)</span>
                              </div>
                          </td>                          
                      </tr> 
              </table>


              
          </div>
      </div>
  </div>

<% end %>
<% if total_subject_main < 7 %>
<style>
    .std_name_and_class
    {
       float:left;
       clear:both;
       margin-top:30px;
       
    }
    
    .exam_title_left
    {
        margin-top:30px;
    }
    .exam_title_left p
    {
        font-size:23px;
    }
    .align-center-table
    {
        margin: 0 auto;
    }
    .align-center-table tr.table-header td
    {
        padding: 10px 12px !important;
    }
    
    .align-center-table tr.odd td
    {
        padding: 0px 12px !important;
    }
    .align-center-table tr.even td
    {
        padding: 0px 12px !important;
    }
    .align-center-table tr.even td p
    {
        line-height: 1px;
    }
    .align-center-table tr.odd td p
    {
        line-height: 1px;
    }
    .subject-td
    {
        width:30%;
    }
    
</style>    

<% else %>

<style>
    .std_name_and_class
    {
       float:left;
       clear:both;
       margin-top:30px;
       
    }
    .exam_title_left
    {
        margin-top:30px;
    }
    .exam_title_left p
    {
        font-size:23px;
    }
    .align-center-table
    {
        margin: 0 auto;
    }
    table.align-center-table tr.table-header td
    {
        padding: 10px 12px !important;
    }
    
    table.align-center-table tr.odd td
    {
        padding: 12px 12px !important;
    }
    table.align-center-table tr.even td
    {
        padding: 0px 12px !important;
    }
    .sjws_table_intro .tickbox_uncheck,.sjws_table_intro .tickbox_check
    {
        padding:22px;
        background-position: 80%;
        background-size: 60%;
    }
    td.checkbox_inline p
    {
        float:left;
        margin-left:5px;
        padding:0px;
        font-size:17px !important;
    }
    .roundbox
    {
        min-height: 170px;
    }
</style> 
<% end %>
<style>
  .roundbox span 
    {
        white-space: nowrap;
    }
  .roundbox
  {
      padding:5px 20px;
  }
  sjws_table_head tr td.text_center
  {
      text-align: center !important;
  }
  .p-gap-3 p
  {
      margin-bottom: 60px;
  }
  .p-gap-3 p:last-child
  {
      margin-bottom: 60px;
  }
  .p-gap-3 p:first-child
  {
      margin-top: 60px;
  }
  
</style>
<% if total_subject_main == 3 %>
<style>
table.align-center-table tr.table-header td
{
    padding: 30px 12px !important;
}
</style>
<% end %>
