
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <% ab_grades = 0 %>
  <% c_grades = 0 %>
  <% d_grades = 0 %>
  <% total_grades = 0 %>
  <div id="page-yield"  class="available_sections1 sjws">
    <div class="page1"> 
        <div class="logo_left">
          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/340/sjws_logo.png")),:width=> '80%' %>
        </div>
        <div class="exam_title_left">
            <p>SIR JOHN WILSON SCHOOL</p><br />
          <p><%= @connect_exam_obj.name.upcase %> REPORT CARD - YEAR <%= Time.current.year %>-<%= Time.current.year + 1 %></p>
        </div>
        <div class="grad_list_right">&nbsp; </div> 
    </div>
      
      <br />

      <table class="sjws_table_head" width="100%" cellspacing="0">
          <tr>
              <td colspan="2"><b>NAME : <%= @student.full_name %></b></td> 
          </tr>
          <tr>
              <td colspan="1"><b>CLASS : <%= @batch.course.course_name %>&nbsp;<%= @batch.course.section_name %></b></td>
              <td colspan="1" class="text_right"><b>STUDENT ID: <%= @student.admission_no %> </b></td> 
          </tr>
      </table>
      
      <div class ="container_body">
          <div id="grouped_exam_report">
              <table id="pdf-table" class="sjws_table_intro" width="100%" cellspacing="0">
                  <% c = 'even'  %>                  
                  <tr class="table-header t_head">
                      <td class=""><b><center><%= "Subject" %></b></center></td> 
                      <td class=""><center>Class<br />Assessment<br />Mark(40%)</center></td> 
                      <td class="">
                        <center>
                        <% if @connect_exam_obj.name.include? ("FIRST") %>
                            <%=  "Half Yearly <br /> Exam (60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("First") %>
                            <%=  "Half Yearly <br /> Exam (60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("first") %>
                            <%=  "Half Yearly <br />Exam (60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("SECOND") %>
                            <%=  "Final Exam <br />(60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("Second") %>
                            <%=  "Final Exam <br />(60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("second") %>
                            <%=  "Final Exam <br />(60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("FINAL") %>
                            <%=  "Final Exam <br />(60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("Final") %>
                            <%=  "Final Exam <br />(60%)"%>
                        <% elsif @connect_exam_obj.name.include? ("final") %>
                            <%=  "Final Exam <br />(60%)"%>
                        <% end %>
                        </center>
                      </td>                       
                      <td class=""><center>Overall<br />Term Mark<br />(%)</center></td>
                      <td class=""><center>Grade</center></td>
                      <td class=""><center>Home Work</center></td> 
                      <td class=""><center>Effort</center></td>                      
                      
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">                          
                          <% total_mark = 0 %>
                          <% total_mark_2 = 0 %>
                          <% full_mark = 0 %>
                          <% full_mark_2 = 0 %>
                          <% main_mark = 0 %>
                          <% main_mark2 = 0 %>
                          <% exam_incremental = 1 %>

                          <td class="col-pdf"><b><%= subjects['name'] %></b></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% total_exam_count = @report_data['report']['exams'].count %>
                            <% @report_data['report']['exams'].each do |report| %>                              
                                <% if total_exam_count != exam_incremental %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                    <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %> 
                                <% end %> 
                          
                                <% if total_exam_count == exam_incremental %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                    <% total_mark_2 = total_mark_2.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% end %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% full_mark_2 = full_mark_2+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %> 
                                <% end %> 
                                  
                                <% exam_incremental = exam_incremental+1 %>
                            <% end %>
                          <% end %>
                          
                          <% 
                            if total_mark.to_i>0 and full_mark.to_i>0
                              main_mark = (total_mark.to_f/full_mark.to_f)*40 
                            else
                              main_mark = 0
                            end  
                          %>
                          <% 
                            if total_mark_2.to_i>0 and full_mark_2.to_i>0
                              main_mark2 = (total_mark_2.to_f/full_mark_2.to_f)*60 
                            else
                              main_mark2 = 0
                            end  
                          %>
                          
                          <td class="col-pdf"><center><%=main_mark.to_i %></center></td>
              
                          <td class="col-pdf"><center><%=main_mark2.to_i %></center></td>
                          <td class="col-pdf"><center><%= (main_mark + main_mark2).to_i %></center></td>
                          <%  grade2 = GradingLevel.percentage_to_grade(main_mark + main_mark2, @batch.id) %>
                          <% if !grade2.blank? and !grade2.name.blank? %>
                          <td class="col-pdf"><center><%= grade2.name %></center></td>
                          <% if grade2.name.downcase == "a" or grade2.name.downcase == "b" %>
                              <%  ab_grades = ab_grades+1 %>
                          <% end %>
                          <% if grade2.name.downcase == "c" %>
                              <%  c_grades = c_grades+1 %>
                          <% end %>
                          <% if grade2.name.downcase == "d" %>
                              <%  d_grades = d_grades+1 %>
                          <% end %>
                                <% total_grades = total_grades+1 %>
                          <% else %>
                          <td class="col-pdf"><center>N/A</center></td>
                          <% end %> 
                            
                          <% assignmentCount = Assignment.count(:all, :conditions => {:subject_id => subjects['id'],:is_published=>1,:duedate => @connect_exam_obj.attandence_start_date..@connect_exam_obj.attandence_end_date}) %>
                          <td class="col-pdf"><center><%= "0" %>/<%= assignmentCount %></center></td>  
                          
                          <%                           
                            exam_effort2 = ""
                            @exam_comments = ExamConnectSubjectComment.find(:first, :conditions => {:exam_connect_id=>@connect_exam_obj.id,:subject_id => subjects['id'], :student_id => @student.id} )
                            if !@exam_comments.blank?                              
                              exam_effort2 = @exam_comments['effort']
                            end
                          %>              
                          
                          <td class="col-pdf"><center><%= exam_effort2 %></center></td>
  
                          
                          
                      </tr> 
                    <% end %>  
                  <% end %>     

              </table>


            
            <br />
            <div>
              <table id="pdf-table" class="sjws_table_intro" width="100%" cellspacing="0">                
                      <tr class="table-header t_head">
                          <td width="27%">
                              <div class="roundbox_left">
                                  <p>Days Absent &nbsp;&nbsp;<span class='roundbox'><%= (@report_data['total']-@report_data['present']) %>/<%= @report_data['total'] %></span></p>
                                 
                              </div>
                          </td>                          
                          <td width="73%" class="no_padding">
                              <div class="roundbox2">  
                                <table id="pdf-table" class="no_border" width="100%" cellspacing="0"><tr>
                                <td  width='7%'><h3><center>Promotion Status</center></h3></td>
                                <td  width='93%'>        
                             
                                 <% ab_grades_percent = 0 %>
                                 <% c_grades_percent = 0 %>
                                 <% if ab_grades > 0 %>
                                    <% ab_grades_percent = (ab_grades.to_f/total_grades.to_f)*100 %>
                                 <% end %> 
                                 <% if c_grades > 0 %>
                                    <% c_grades_percent = (c_grades.to_f/total_grades.to_f)*100 %>
                                 <% end %>
                                <% if d_grades<2 && ab_grades_percent > 50 %>
                                  <span class="tickbox_check2"></span>Progressing well (Mostly A and B grades)
                                <% else %>    
                                  <span class="tickbox_uncheck2"></span>Progressing well (Mostly A and B grades)
                                <% end %>
                                <br /><br />
                                
                                <% if d_grades<2 && c_grades_percent > 50 %>
                                  <span class="tickbox_check2"></span>Progressing with some difficulties (Mostly C grades)
                                <% else %>
                                  <span class="tickbox_uncheck2"></span>Progressing with some difficulties (Mostly C grades)
                                <% end %>
                                <br /><br />
                                <% if d_grades>=2 %>
                                    <span class="tickbox_check2"></span>Grades at risk (2 and more D grades)
                                <% else %>
                                  <span class="tickbox_uncheck2"></span>Grades at risk (2 and more D grades)
                                <% end %>
                                
                                
                                </td></tr></table> 
                              </div>
                          </td>                          
                      </tr> 
              </table>
              <br />
              <table id="pdf-table" width="100%" cellspacing="0">              
                      <tr class="table-header t_head">
                          <td class="col-pdf" width='20%'>
                             <div class="roundbox_left">
                                <b>Advisor's Comments</b>                                
                             </div> 
                          </td>                          
                          <td class="col-pdf" width='80%'>
                              <table id="pdf-table" class="no_border" width="100%" cellspacing="0"><tr>
                              <td  width='50%'>
                                <i>
                                  <% if !@exam_comment.blank? %>
                                    <%=  @exam_comment.comments %>
                                  <% else %>
                                    Comment Goes Here Comment Goes Here Comment Goes Here Comment Goes Here Comment Goes Here
                                  <% end %>  
                                </i>
                              </td>
                              <td  width='50%' class="align-center">
                                 
                                 <p>
                                 <br/>
                                 <hr/>
                                 Tahmina Tabassum</p>
                                 <br/>
                                 <p><hr/>
                                 Date</p>
                                  
                              </td>
                             </tr>
                             </table>
                          </td>                          
                      </tr> 
              </table>
              <br />
              <table id="pdf-table" width="100%" cellspacing="0">     
                      <tr class="table-header t_head">
                          <td class="col-pdf" width='20%'>
                              <div class="roundbox_left">
                                <b>Principal</b>                                
                              </div>
                          </td>                          
                          <td class="col-pdf" width='40%'><br/><br/><br/><br/><br/></td>
                          <td class="col-pdf" width='40%' rowspan="2"  class="align-center">
                              <h3>KEY FOR GRADES</h3>
                              <p>85% and above - A - Outstanding</p>
                              <p>70% and above - B - Very Good</p>
                              <p>50% and above - C - Satisfactory</p>
                              <p>Less than 50% - D - Unsatisfactory</p>
                          </td>
                      </tr> 
                      
                      <tr class="table-header t_head">
                          <td class="col-pdf" width='20%'>
                              <div class="roundbox_left">
                                <b>Parent's Signature</b>                                
                              </div>
                          </td>                          
                          <td class="col-pdf" width='40%'>&nbsp;</td>
                      </tr>
              </table>
              
              
            </div>
          </div>
      </div>
  </div>

<% end %>

<style>
    #pdf-table table.no_border,#pdf-table table.no_border tr,#pdf-table table.no_border tr td
    {
        border:none !important;
        text-align: left;
    }
    #pdf-table table.no_border tr td.align-center
    {
        text-align: center;
    }
    #pdf-table table.no_border tr td.align-center hr
    {
        color:black;
    }
    table.sjws_table_intro tr.odd td
    {
        padding: 8px !important;
    }
    table.sjws_table_intro tr.even td
    {
        padding: 8px !important;
    }
    td.no_padding
    {
        padding: 0px !important;
    }
    .sjws_table_intro .roundbox2 table td
    {
        font-size:20px !important;
    }
   
</style>    


