<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
<%#= show_header_icon %>
  <h1><%#= t('my_lessonplan') %></h1>


</div>-->
<div class="partial_homework" style="padding: 0px 0px;">
  <div class="header-wrapper">
    <div class="header-title">
      <div class="header-icon">
        <%= image_tag '/images/icons/lessonplan_icon.png', :html => {:alt => 'Lessonplan'} %>
      </div>
      <div class="header-title-text-wrapper">
        <div class="header-title-main-text f2">
         <a href="/lessonplan/index/" style="float: left;"><%= "Lesson Plan" %></a>
         <span style="float: left;clear:both;font-size: 15px;"><%= Time.now.strftime("%Y-%m-%d") %></span>
        </div>
        <div class="header-title-sub-text f5">

          </div>
        </div>
    </div>
    <% if @current_user.employee?  %>
    <div class="header-form-wrapper">
      <% unless @lessonplan_categories.nil? %>
          <div class="label-field-pair">
                <label for="assignment_subject"><%= "Category"%></label>
                <div class="text-input-bg">

                    <%= select :lessonplan, :id,
                      @lessonplan_categories.map {|s| ["#{s.name}",s.id]},
                      {:prompt => "#{t('select_a_lessonplan_category')}"},
                      {:onChange => "#{remote_function(:url => {:action => "category_wise_lessonplan"},
                      :with => "'lessonplan_category_id='+ value",
                      :before => "Element.show('loader')",
                      :success => "Element.hide('loader')"
                      )}"} %>

                  </div>
                  <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
          </div><br />
        <% end %>
    </div>
    <% elsif @current_user.student? %>
    <div class="header-form-wrapper">
      <% unless @subjects.nil? %>
          <div class="label-field-pair">
            <label for="assignment_subject"><%= "#{t('subject')}"%></label>
            <div class="text-input-bg">

              <%= select :assignment, :subject,
                @subjects.map {|s| ["#{s.name}",s.id]},
                {:prompt => "#{t('select_a_subject')}"},
                {:onChange => "#{remote_function(:url => {:action => "subject_lessonplan"},
                :with => "'subject_id='+ value",
                :before => "Element.show('loader')",
                :success => "Element.hide('loader')"
                )}"} %>
            </div>

            <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
          </div><br />
        <% end %>
    </div>
    <% elsif @current_user.parent? %>
    <div class="header-form-wrapper">
      <% unless @subjects.nil? %>
          <div class="label-field-pair">
            <label for="assignment_subject"><%= "#{t('subject')}"%></label>
            <div class="text-input-bg">
              <%= select :assignment, :subject,
                @subjects.map {|s| ["#{s.name}",s.id]},
                {:prompt => "#{t('select_a_subject')}"},
                {:onChange => "#{remote_function(:url => {:action => "subject_lessonplan"},
                :with => "'subject_id='+ value",
                :before => "Element.show('loader')",
                :success => "Element.hide('loader')"
                )}"} %>
            </div>

            <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
          </div><br />
        <% end %>
    </div>
    <% end %>  
    <div class="clearfix"></div>

      <div class="tabbed-header-wrapper">
        <% if @current_user.employee?  %>  
        <ul class="header-tabs">        
          <li>
            <%= link_to "Category", {:controller => 'lessonplan', :action => 'categories'}, :class => 'f2' %>          
          </li>
          <li>
            <%= link_to "#{t('add')}", {:controller => 'lessonplan', :action => 'add'}, :class => 'f2' %>
          </li>        
        </ul>
        <% end %>      
      </div>
  </div>
  <div id="page-yield" style="margin-top: 0px;"  class="bg-disable">
    <div id="flash-box-popup">
      <% unless flash[:notice].nil? %>
        <p class="flash-msg"> <%= flash[:notice] %> </p>
      <% end %>
    </div>  
    <% if @current_user.employee?  %>

      <div id="all_news">
        <% @assigned_lessonplan ||= [] %>
        <% unless @lessonplan.nil? %>  
          <% form_remote_for :lessonplan,  :url=>{:action => 'assign_to_class', :user=>params[:lessonplan_ids] } do |f| %>
            <div class="select_all">
              <%= link_to_function "#{t('all')}", "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" ,:class=>"button-filter"%>
              <%= link_to_function "#{t('none')}", "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" ,:class=>"button-filter" %>

              <%= submit_tag "", :value => "► Assign to Class", :class => "button-filter", :disable_with => "► #{t('please_wait')}" %>
            </div>
            


              <% @lessonplan.each_with_index do |r,i| %>        
                <% link_value = r.title %>

                <% unless r.subject_ids.nil? %>  
                  <% @sdata = [] %>
                  <% data = r.subject_ids.split(/,/) %>                    
                      <%  data.each do |w|%>                           
                        <% @sdata << w %>
                      <% end %>
                <% end %>

                <div class="portlet-subcontent" style="width:100%">     
                  <div class="timetable_left">
                     <%#= i+1 %><%= check_box_tag "lessonplan_ids[]", r.id,@assigned_lessonplan.include?(r),:class=>"right" %>
                    
                  </div>
                  <div class="timetable_right"  style="float:left;height: 80px;width: 40%;padding:5px 0;">
                    <div class="subcontent-header themed_text">
                        <%=  link_to link_value, :controller => 'lessonplan', :action => 'view', :id => r.id%>
                    </div>                           
                    <div class="subcontent-info"><%= if r.lessonplan_category_id !=0 then r.lessonplan_category.name else "-" end %> </div>              
                    <div class="subcontent-info">
                        Post on &nbsp;<%= r.publish_date %>(<%= time_ago_in_words(r.created_at) %>)<br />
                        <%= if r.is_show.to_i == 1 then "Active" else "Inactive" end %>
                         
                    </div>              
                  </div>
                  <div class="timetable_right"  style="float:left;height: 80px;width: 30%;padding: 5px 0;border-left:1px dotted #cccccc">                            
                    <div class="subcontent-date">
                      <% unless @sdata.nil? %>
                          <%  @sdata.each do |z|%>                           
                            <div class="subject_tag"><% sub =  Subject.find_by_id(z) %>
                            <%= h "#{sub.name}  - #{sub.batch.full_name}" -%></div>
                          <% end %>
                        <% end %>
                    </div>
                  </div>
                  <div class="answer">              
                      <%=  link_to "View", :controller => 'lessonplan', :action => 'view', :id => r.id%>
                      <% if @current_user.id == r.author.id %>
                      <%= " | " %>
                      <%=  link_to "Edit", :controller => 'lessonplan', :action => 'edit', :id => r.id%>
                      <%= " | " %>                  
                      <%= link_to "#{t('delete_text')}",{:controller => "lessonplan", :action => "delete", :id => r.id },:confirm => "#{t('delete_confirm_msg')}" %>
                      <%= " | " %>
                      <%= link_to_remote(t('assign_to_class'),
                        :url => { :controller=>"lessonplan",:action => 'assign_to_class', :id => r.id },
                        :method => 'get' ) %>
                      <% end %>               
                  </div>
                </div>
                <div style="float: left; margin: 7px; width: 95%;"></div> 
              <% end %>

            <%= will_paginate @lessonplan %>
          <% end %>
        <% else %>
              <h2>No Lesson plan Found</h2>
        <% end %>

        </div>
        <div id="modal-box" style="display:none;"></div>  
    <% elsif @current_user.student? %>

        <div id="all_news">
        <% unless @lessonplan.nil? %>                        
            <% @lessonplan.each_with_index do |r,i| %>        
              <% link_value = r.title %>
              <% unless r.subject_ids.nil? %>  
                <% @sdata = [] %>
                <% data = r.subject_ids.split(/,/) %>                    
                    <%  data.each do |w|%>                           
                      <% @sdata << w %>
                    <% end %>
              <% end %>
              <div class="portlet-subcontent" style="width:100%">     
                <div class="timetable_left">
                  <span class="f2" style="font-size:20px;margin-left:40px;"><%= i+1 %></span>
                </div>
                <div class="timetable_right"  style="float:left;height: 80px;width: 40%;padding:5px 0;">
                  <div class="subcontent-header themed_text">
                      <%=  link_to link_value, :controller => 'lessonplan', :action => 'view', :id => r.id%>
                  </div>                                           
                  <div class="subcontent-info">
                      <% unless r.author.blank?  %>
                        <%= r.author.first_name+" "+r.author.last_name %> <%= '- admin' if r.author.admin==true%>
                      <% else %>
                       <%= t('user_deleted') %>
                      <% end %>  
                  </div>              
                </div>
                <div class="timetable_right"  style="float:left;height: 80px;width: 30%;padding: 5px 0;border-left:1px dotted #cccccc">                            
                  <div class="subcontent-date">
                    <% unless @subjects.nil? %>
                      <% @subjects.each_with_index do |s,x| %>  
                        <% if s.batch_id == @batch.id %>
                          <%= (@sdata.include? s.id.to_s) ? "<div class='subject_tag'>#{s.name}</div>" :"" %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="answer">              
                    <div class='header-right-button'><%=  link_to "View", :controller => 'lessonplan', :action => 'view', :id => r.id%></div>              
                </div>
              </div>
              <div style="float: left; margin: 7px; width: 95%;"></div> 
            <% end %>
          
          <%= will_paginate @lessonplan %>
        <% else %>
              <h2>No Lesson plan Found</h2>
        <% end %>

        </div>        
    <% elsif @current_user.parent? %>
        
        <div id="all_news">
        <% unless @lessonplan.nil? %> 
            <% @lessonplan.each_with_index do |r,i| %>        
              <% link_value = r.title %>
              <% unless r.subject_ids.nil? %>  
                <% @sdata = [] %>
                <% data = r.subject_ids.split(/,/) %>                    
                    <%  data.each do |w|%>                           
                      <% @sdata << w %>
                    <% end %>
              <% end %>
              <div class="portlet-subcontent" style="width:100%">     
              <div class="timetable_left">
                 <span class="f2" style="font-size:20px;margin-left:40px;"><%= i+1 %></span>
              </div>
              <div class="timetable_right"  style="float:left;height: 80px;width: 40%;padding:5px 0;">
                <div class="subcontent-header themed_text">
                    <%=  link_to link_value, :controller => 'lessonplan', :action => 'view', :id => r.id%>
                </div>                                           
                <div class="subcontent-info">
                    <% unless r.author.blank?  %>
                      <%= r.author.first_name+" "+r.author.last_name %> <%= '- admin' if r.author.admin==true%>
                    <% else %>
                     <%= t('user_deleted') %>
                    <% end %>  
                </div>              
              </div>
              <div class="timetable_right"  style="float:left;height: 80px;width: 30%;padding: 5px 0;border-left:1px dotted #cccccc">                            
                <div class="subcontent-date">
                  <% unless @subjects.nil? %>
                    <% @subjects.each_with_index do |s,x| %>  
                      <% if s.batch_id == @batch.id %>
                        <%= (@sdata.include? s.id.to_s) ? "<div class='subject_tag'>#{s.name}</div>" :"" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="answer">              
                  <div class='header-right-button'><%=  link_to "View", :controller => 'lessonplan', :action => 'view', :id => r.id%></div>                
              </div>
            </div>
            <div style="float: left; margin: 7px; width: 95%;"></div> 
            <% end %>
          
          <%= will_paginate @lessonplan %>
        <% else %>
              <h2>No Lesson plan Found</h2>
        <% end %>

        </div>    
    <% elsif @current_user.admin %>
        <% form_for(@student, :url => {:action=> 'view_all'}, :html=> {:id=>'new_student'}) do |s| %>    
        <%= hidden_field_tag 'student[from]',"lessonplan", :id=>'from' %>
        <div class="select_all">
          
          <div class="row">  
            <div class="row_label">
              <div>
                <%= t('shift_label') %>
              </div>
            </div>
            <div class="row_data">
              <div>
                <div class="custom_drop_wrapper">
                 <%= select :student, :batch_name, options_for_select(Batch.active.find(:all, :group => "name").map {|b| [b.name, b.id]}, @batch_no.to_i), 
                      {:prompt => "#{t('select')}"},
                      {:onChange => "#{remote_function(:url => {:controller => "student", :action => "get_classes"}, :with => "'batch_id='+value+'&from=lessonplan'+'&'+$('new_student').serialize()+'&page=course_assingment&partial_view=student/courses_assingment&section_page=section_assingment&section_partial=student/sections_assignment_view'" ,:before => "$('loading_2').show();",
                      :success => "$('loading_2').hide();")}"} %>
                    <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_2", :style =>"display: none;" ) %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="row_label">
              <div>
                <%= t('class_label') %>
              </div>
            </div>
            <div class="row_data">
              <div>
                <div id="course_assingment" class="custom_drop_wrapper">
                   <%= render :partial => 'student/courses_assingment', :object => @courses %>
                </div>
              </div>
            </div>
          </div>

          <div class="row"  id="sections_div">
            <div class="row_label">
              <div>
                <%= t('section_label') %>
              </div>
            </div>
            <div class="row_data">
              <div>
                <div id="section_assingment" class="custom_drop_wrapper">
                  <%= render :partial => 'student/sections_assignment_view', :object => @classes %>
                </div>
              </div>
            </div>
          </div>  
          <div id="syllabus" class="row"></div>
        </div>
        <% end %><%# FORM END%>  
        <div id="all_news">
        <% unless @lessonplan.nil? %> 
            <% @lessonplan.each_with_index do |r,i| %>        
              <% link_value = r.title %>
              <% unless r.subject_ids.nil? %>  
                <% @sdata = [] %>
                <% data = r.subject_ids.split(/,/) %>                    
                    <%  data.each do |w|%>                           
                      <% @sdata << w %>
                    <% end %>
              <% end %>
              <div class="portlet-subcontent" style="width:100%">     
              <div class="timetable_left">
                 <span class="f2" style="font-size:20px;margin-left:40px;"><%= i+1 %></span>
              </div>
              <div class="timetable_right"  style="float:left;height: 80px;width: 40%;padding:5px 0;">
                <div class="subcontent-header themed_text">
                    <%=  link_to link_value, :controller => 'lessonplan', :action => 'view', :id => r.id%>
                </div>                                           
                <div class="subcontent-info">
                    <% unless r.author.blank?  %>
                      <%= r.author.first_name+" "+r.author.last_name %> <%= '- admin' if r.author.admin==true%>
                    <% else %>
                     <%= t('user_deleted') %>
                    <% end %>  
                </div>   
                <div class="subcontent-info">
                    Post on &nbsp;<%= r.publish_date %>(<%= time_ago_in_words(r.created_at) %>)
                </div>  
              </div>
              <div class="timetable_right"  style="float:left;height: 80px;width: 30%;padding: 5px 0;border-left:1px dotted #cccccc">                            
                <div class="subcontent-date">
                  <% unless @subjects.nil? %>
                    <% @subjects.each_with_index do |s,x| %>  
                      <% if s.batch_id == @batch.id %>
                        <%= (@sdata.include? s.id.to_s) ? "<div class='subject_tag'>#{s.name}</div>" :"" %>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="answer">              
                  <div class='header-right-button'><%=  link_to "View", :controller => 'lessonplan', :action => 'view', :id => r.id%></div>                
              </div>
            </div>
            <div style="float: left; margin: 7px; width: 95%;"></div> 
            <% end %>
          
          <%= will_paginate @lessonplan %>
        <% else %>
              <h2>No Lesson plan Found</h2>
        <% end %>

        </div>    
    <% end %>
  </div>
</div>
<%= stylesheet_link_tag 'tadded-header' %>

<style>
    .label-field-pair label {
    width: 80px;
}
    .text-input-bg img {
  padding-top: 10px;
  padding-left: 2px;
}
  .row {
  background-color: #f8f8fa;
  border: 1px solid #DFE1E2;
  float: left;
  width: 30%;
  margin-right: 28px;
  border-right: 1px solid #DFE1E2;
}
.row_label {
  background-color: #ffffff;
  border-right: 1px solid #DFE1E2;
  float: left;
  width: 48.2%;
  padding: 0px 0px;
}
.row_label div {
  color: #868A8B;
  float: left;
  padding: 8px 10px;
  width: 80%;
}
.row_data {
  float: left;
  width: 48.6%;
}
.custom_drop_wrapper select::-ms-expand {
    display: none;
}
.custom_drop_wrapper select {
  background-color: transparent;
  background-image: url("/images/icons/drop_down_normal.png");
  background-position: 98% 0;
  background-repeat: no-repeat;
  background-size: 37px 36px;
  border: medium none;
  cursor: pointer;
  display: block;
  height: 35px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* border-right: 1px solid black; */
}

</style>  