<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!--<div id="content-header">
<%#= show_header_icon %>
  <h1><%#= link_to "#{t('lessonplan_text')}", :controller => 'lessonplan', :action => 'index' %></h1>

<%# if @is_moderator %>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('edit_text')}",{:controller => "news",  :action => "edit", :id => @news.id } %></li>
      <li class='themed_bg themed-dark-hover-background'><%#= link_to "#{t('delete_text')}",{:controller => "news", :action => "delete", :id => @news.id },:confirm => "#{t('delete_confirm_msg')}" %></li>
    </ul>
  </div>
<%# end %>

</div>-->
<div class="partial_homework" style="padding: 0px 0px;">
  <div class="header-wrapper">
    <div class="header-title">
      <div class="header-icon">
        <%= image_tag '/images/icons/lessonplan_icon.png', :html => {:alt => 'Lessonplan'} %>
      </div>
      <div class="header-title-text-wrapper">
        <div class="header-title-main-text f2">
         <a href="/lessonplan/index/" style="float: left;"><%= "Lesson Plan" %></a>
         <span style="float: left;clear:both;font-size: 15px;"><%= Time.now.strftime("%d %b %Y") %></span>
        </div>
        <div class="header-title-sub-text f5">

          </div>
        </div>
      </div>    

    
  </div>
  
  <div class="portlet-subcontent" style="width:100%">     
    <div class="timetable_left">
      <% if @current_user.id == @lessonplan.author_id %>        
        <%= link_to "<div class='delete_lessonplan'></div>",{:controller => "lessonplan", :action => "delete", :id => @lessonplan.id },:confirm => "#{t('delete_confirm_msg')}" %>
      <% end %>
    </div>
    <div class="timetable_right"  style="float:left;height: 70px;width: 40%;padding: 10px 0;">
      <div class="subcontent-header themed_text">
          <%= @lessonplan.title %>
      </div>                           
      <div class="subcontent-info"><span style="font-size:12px;"><%= t('posted_on') %> <%= I18n.l(@lessonplan.created_at,:format=>"%A, %d %B, %Y") %> </span> </div>              
    </div>
    <div class="timetable_right"  style="float:left;height: 70px;width: 35%;padding: 10px 0;border-left:1px dotted #cccccc">                            
      <div class="subcontent-date" style="color:#000;"> 
        <% if @current_user.employee? %>
          <% unless @lessonplan.subject_ids.nil? %>  
            <% @sdata = [] %>
            <% data = @lessonplan.subject_ids.split(/,/) %>                    
                <%  data.each do |w|%>                           
                  <% @sdata << w %>
                <% end %>
          <% end %>
          <% unless @sdata.nil? %>
            <%  @sdata.each do |z|%>                           
              <div class="subject_tag"><% sub =  Subject.find_by_id(z) %>
              <%= h "#{sub.name}  - #{sub.batch.full_name}" -%></div>
            <% end %>
          <% end %>
          <div class="subcontent-date" style="color:#999;font-size:12px;"><%= if @lessonplan.lessonplan_category_id !=0 then @lessonplan.lessonplan_category.name else "-" end %></div>                                    
        <% elsif @current_user.student? or @current_user.parent? %>      
          
          <% unless @lessonplan.subject_ids.nil? %>  
            <% @sdata = [] %>
            <% data = @lessonplan.subject_ids.split(/,/) %>                    
                <%  data.each do |w|%>                           
                  <% @sdata << w %>
                <% end %>
          <% end %>
          <% unless @subjects.nil? %>
            <% @subjects.each_with_index do |s,x| %>  
              <% if s.batch_id == @batch.id %>
                <%= (@sdata.include? s.id.to_s) ? "<div class='subject_tag'>#{s.name}</div>" :"" %>
              <% end %>
            <% end %>
          <% end %>
        
        <% end %>
      </div>  
      
    </div>    
    <div class="answer_mark">
      <% if @current_user.id == @lessonplan.author_id %>
        <%= link_to "<div class='edit_lessonplan'></div>",{:controller => "lessonplan",  :action => "edit", :id => @lessonplan.id } %>
      <% end %>
    </div>

  </div>
  
  <div id="page-yield" style="margin-top: 0px;">

    <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

    <div id="news_content">
      <%= sanitize @lessonplan.content , :tags => %w[b i a h1 h2 h3 u li ol strike p img font span sup sub tr td table th tbody thead strong em iframe], :attributes => %w[href src style border cellspacing cellpadding height width align]%>
    </div>
     <% unless @lessonplan.attachment_file_name.nil? %>
      <div class="portlet-subcontent atachment_div" style="width:100%; border:none;">
        <div style=" float: left; clear:both;  margin: 10px 0px;">
          <%= link_to 'Download Attachment', :controller => "lessonplan", :action => "download_attachment" , :id=>@lessonplan.id %>
        </div>
      </div>  
      <% end %>
  </div>
</div>
<%= stylesheet_link_tag 'tadded-header' %>