<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="add_sub">
    <%= link_to_remote "<i class='fa fa-pencil'></i> Add Student", :url => { :action => 'new_student', :id => @board_exam.id } %>
</div>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<% unless @students.empty? %>
  <table  id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
          <tr>
              <th><%= "Id" %></th>
              <th><%= "Name" %></th>
              <th><%= "Class" %></th>
              <th><%= "Version" %></th>
              <th><%= "Category" %></th>

              <th><%= "Reg Id" %></th>
              <th><%= "Roll" %></th>
              <th><%= "GPA" %></th>
              <th class="no-sort"><%= "" %></th>
          </tr>
      </thead>
      <tbody>
          <% @students.each do |student| %>
            <%
            std_info = get_student_all_type(student.student_id)
            if std_info.blank?
            next
              end
            batch_full = student.batch.full_name
            batch_split = batch_full.split(" ")
            version = batch_split[1]
            batch_full_name = student.batch.course_name+" "+student.batch.section_name
          %>
            <tr  class="tr-<%= cycle('odd', 'even') %>" id="student-<%= student.id %>">
                <td> <%= std_info.admission_no %></td>
                <td class="no-warp"> <%= std_info.full_name %></td>
                <td> <%= batch_full_name %></td>
                <td> <%= version %></td>
                <td> <%= std_info.student_category.name unless std_info.student_category.blank? %></td>

                <td> <%= student.registration %></td>
                <td> <%= student.roll %></td>
                <td> <%= student.board_grading_level.name unless student.board_grading_level_id.blank? %></td>
                <td style="text-align:left;;">
                    <%= link_to_remote("<i class='fa fa-pencil'></i> "+t('edit_text'),
                      :url => { :controller=>"board",:action => 'edit_student', :id =>student},
                      :method => 'get' ) %>&nbsp;&nbsp;
                    <%= link_to_remote("<i class='fa fa-trash'></i> "+t('delete_text'),
                      :url => { :controller=>"board",:action => 'delete_student', :id =>student},
                      :method => 'delete',
                      :confirm => t('delete_confirm_msg'),
                      :update => "subject-#{student.id}") %><br/>
                    <%= link_to "<i class='fa fa-list-ol'></i> Marks", {:action => "student_marks_entry", :id=>@board_exam.id,:id2=>student.id} %>
                    <% if @board_exam.is_published.to_i == 1 %>
                      &nbsp;&nbsp;<%= link_to "<i class='fa fa-graduation-cap'></i> Report", {:action => "exam_result", :id=>@board_exam.id,:id2=>student.id} %>
                    <% end %>  
                </td>

            </tr>
          <% end %>
      </tbody> 
      <tfoot>
            <tr>
              <th><%= "Id" %></th>
              <th><%= "Name" %></th>
              <th><%= "Class" %></th>
              <th><%= "Version" %></th>
              <th><%= "Category" %></th>

              <th><%= "Reg Id" %></th>
              <th><%= "Roll" %></th>
              <th id="grade"><%= "Grade" %></th>
              <th class="no-sort"><%= "" %></th>
            </tr>
        </tfoot>
  </table>
<% else %>
  <p style="padding: 7px; text-align: center; background: #eef2fd;">No Student Found For This Exam</p>
<% end %>

<style>
    #category-list .listodd,#category-list .listeven
    {
        padding:10px 10px 5px 10px;
    }
    .opt a
    {
        cursor: pointer;
    }
    .no-sort::after { display: none!important; }

    .no-sort { pointer-events: none!important; cursor: default!important; }
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
    
     *, *::before, *::after
    {
       box-sizing: initial;
    }
    tbody tr td a
    {
      font-weight:normal !important;
    }

</style>
<script>
  var jj = jQuery.noConflict();
  jj(document).ready(function () {
      var table = jj('#example').DataTable({
          "paging": false
      });
  jj('#example tfoot th').each( function () {
      var title = jj(this).text();
      if(title)
      jj(this).html( '<input type="text" />' );
  } );

  // Apply the search
  table.columns().every( function (index) {
      var that = this;
      var column = table.column( index );
      
      jj( 'input', this.footer() ).on( 'keyup change', function () {
        
          
          if ( that.search() !== this.value ) {
              if((index == 7 || index == 2 || index == 3) && this.value != "")
              {
                  that.search( "^" + this.value + "$", true, false, true )
                  .draw();
              }
              else
              {
                  that.search(this.value)
                  .draw();
              }  
          }
      } );
  } );
  
    
  });
</script>  


