<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div id="content-header">
  <h1><%= link_to "Board Exam",{:action => "exam",:page=>@page} %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'>Exam Student List</div>

</div>



<div id="page-yield">
  <div id="flash-box">
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
  <div class="box">  
        <h4 align="center"><%= @board_exam.board_exam_name.name %> <%= @board_exam.board_exam_group.name %> <%= @board_exam.board_session.name %></h4> 
        <div style="clear: both; height: 10px;"></div>
        <div id="students"><%= render :partial => "exam_students" %></div> 
        <div id="modal-box" style="display:none;"></div>

    <div class="extender"></div>
  </div></div>
<style>
.custom_icon{
    border: 1px solid #ccc;
    height: 40px;
    padding: 3px;
    width: 40px;
  }
   .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
    {
        z-index:999999;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
  .category-name a{
    text-decoration: none;
  }
  #category-list li div a:hover{
    text-decoration: none;
    color: #000;
  }
  #category-list li.batches_list{
    cursor: pointer;
  }
  #category-list li.batches_list:hover{
    background: #D7D7D7;
  }
  #category-list li.selected{
    background: #D7D7D7;
  }
  #category-list li div.category-sections span.sections {
    background: #DDD;
    margin-right: 8px;
    padding: 2px 6px 2px 5px;
    border: 1px solid #BBB;
    position: relative;
    cursor: pointer;
}
.add_sub
{
    margin-bottom: 20px;
}
.add_sub a
{
    padding: 5px;
  
}

#category-list li div.category-sections span.select_section {
    background: #DB3434;
    text-decoration: none;
    color: #fff;
    margin-right: 8px;
    padding: 2px 6px 2px 5px;
    border: 1px solid #BBB;
    position: relative;
    cursor: pointer;
}

#category-list li div.category-sections span.sections:hover {
    background: #DB3434;
    text-decoration: none;
    color: #fff;
}

#category-list li div.category-sections a.sections {
    background: #DDD;
    margin-right: 8px;
    padding: 2px 6px 2px 5px;
    border: 1px solid #BBB;
    position: relative;
}

#category-list li div.category-sections a.sections:hover {
    background: #DB3434;
    text-decoration: none;
    color: #fff;
}
#category-list li div.category-sections a.selected {
    background: #DB3434;
    text-decoration: none;
    color: #fff;
}
#page-yield
{
   margin: 0px 0px;
}
.mdl-data-table
{
   white-space: normal;
}
div.dataTables_wrapper div.dataTables_filter
{
   padding: 0px 0px 10px 0px;
}

.no-warp
{
   white-space: nowrap !important;
}
</style>
<% content_for :head do %>
  <%= javascript_include_tag "custom/assign-icon" %>
<% end %>
<script>
  
var jj = jQuery.noConflict();

  function autocom()
  {
     j(document).ready(function(){
       var cache = {};
       j.getScript( "https://code.jquery.com/ui/1.12.1/jquery-ui.js", function( data, textStatus, jqxhr ) {
         j( "#board_exam_student_student_id" ).autocomplete({
          minLength: 2,
          source: function( request, response ) {
            var term = request.term;
            if ( term in cache ) {
              response( cache[ term ] );
              return;
            }
            j.get(  "/board/search_student", { term:term } )
            .done(function( data ) {
              cache[ term ] = JSON.parse(data);
              response( JSON.parse(data));
            });
          }
        });
       
      });
        
     })
  }

</script>