<html>
    <head>
        <title>Admit Card</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <% i = 0 %>
        <% j = 0   %>
        <% @student_ids.each do |std_id| %>
        
        <% std_info = Student.find(std_id) %>
        <% if i % 2 == 0 %>
          <% j += 1 %>
        <% end %>
        <% i += 1 %>
        
        <% unless i % 2 == 0 %>
          <div style="float:left;clear:both; width:100%; height:5mm;"></div>
        <% end %>
        <% if j % 3 == 0 %>
          <div style="float:left;clear:both; width:100%; height:3mm;"></div>
        <% end %>
        <div class="col-xs-6" style="border:1px solid black; padding:0px; margin-left: 5%; margin-right: 5%; width: 90%;">
            
            <div class="col-xs-12" style="padding:0px;">
              <div class="col-xs-12" style="padding:0px;"><center><img style='margin-top:5px; height:60px;' src='<%= current_school_detail.logo.url  %> ' /></center></div>
              <div class="col-xs-12"><center><h4><b><font size="5"><%= j  %> <%=Configuration.get_config_value('InstitutionName'); %></font></b></h4></center></div>
              <div class="col-xs-12"><center><font size="3"><%= j %> Play Group - 'A' Level, Edexcel Center No- 96440, UK</font></center></div>
            
              <div class="col-xs-12 black-back border-top-bottom"><center><font size="4"><%= @exam_name %> <%= @term_year %></font></center></div>
             
              <div class="col-xs-12 border-bottom"><center><font size="4">Statement of Entry</font></center></div>
          
              <div class="col-xs-12 border-bottom"><center><b><font size="4"><%= std_info.batch.course.course_name %></font></b></center></div>
             
            </div>
            
            <div class="col-xs-12" style="margin-top:5px;padding:5px;">
              <table class="table table-user-information" width="90%">
                    <tbody>
                     
                      <tr>
                          <td><font size="4">Name Of Student:</font></td>
                          <td colspan="3"><b><font size="4">&nbsp;:&nbsp;<%= std_info.full_name %></font></b></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><font size="4">Roll No:</td>
                        <td><font size="4">&nbsp;:&nbsp;<%= std_info.class_roll_no %></font></td>
                        <td></td>
                        <td style="text-align:right;"><font size="4">ID No</font></td>
                        <td><font size="4">&nbsp;:&nbsp;<%= std_info.admission_no %></font></td>
                      </tr>
                      
                    </tbody> 
              </table>       
            </div>
            <div class="col-xs-12" style="margin-top:0px; font-size:10px; ">
                <p><img src="/images/school_logo/246/principal_signature.png" /></p>
                <p><font size="4">Dr. Shaleha Kader</font></p>
                <p><font size="4">Founder Principal & Chairman</font></p>
                
            </div>
            
            <div class="col-xs-12 border-top" style="margin-top:0px; font-size:10px;">
                <div style="float: left; width: 45%; text-align: left;">
                  <font size="4">&nbsp;&nbsp;Web: www.cherryblossomsint.com</font>
                </div>
                <div style="float: left; width: 55%; text-align: right;">
                    <font size="4">&nbsp;&nbsp;e-mail: cherryblossomsint@gmail.com&nbsp;</font>
                </div>
            </div>
            
            
            
        </div> 
        
        <% if i % 2 == 0 %>
          <div style="float:left;clear:both; width:100%; height:5mm;"></div>
        <% else %>
          <div style="float:left;clear:both; width:100%; height:10mm;"></div>
        <% end %>
        <% end %>
    </body>
</html>
<style>
    .black-back
    {
        padding:2px 0px; 
        background-color: Black; 
        color: white;
    }
    .border-top-bottom
    {
        padding: 2px 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .border-bottom
    {
        padding: 2px 0px;
        border-bottom: 1px solid black;
    }
    .border-top
    {
        padding: 2px 0px;
        border-top: 1px solid black;
    }


.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information
{
    border: 0;
    
}
.table-user-information > tbody > tr > td {
    border: 0;
    font-size: 10px;
    
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}
ul li
{
    list-style: decimal;
    font-size: 12px;
}
</style>
<style type="text/css" media="print">
  @page {
      size: A4 portrait;
  }
</style>
<script>
  window.print();
</script>  
