<html>
    <head>
        <title>Student Record</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <% i = 0 %>
        <% @student_ids.each do |std_id| %>
        
        <% std_info = Student.find(std_id) %>
        <% i = i+1 %>
        <% if i > 2 %>
          <% i = 1 %>
          <div class="col-xs-12">&nbsp;</div>
          <div class="col-xs-12">&nbsp;</div>
          <div class="col-xs-12">&nbsp;</div>
        <% end %>
        <% if std_info.photo.file? %>
          <% @profile_image = std_info.photo.url %>
        <% else %>
          <% @profile_image = "master_student/profile/default_student.png" %>
        <% end %>  
          
        <div class="col-xs-6">
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">
              <div class="col-xs-2" style="padding:0px;"><img style='margin-top:9px; height:70px;' src='/images/school_logo/2/sfx-logo.png' /></div>
              <div class="col-xs-8">
                  <div class="col-xs-12"><center><b><font size="3">STUDENT RECORD (Annual)</font></b></center></div>
                  <div class="col-xs-12"><center><font size="2"><%= @section_name %></font></center></div>
                  <div class="col-xs-12"><center><font size="2">YEAR : <%= @year %></font></center></div>
                  
              </div>
              <div class="col-xs-2" style="padding:0px;"><%= image_tag "#{@profile_image}" %></div>
            </div>
            <div class="col-xs-12"><center><b><font size="3"><%=Configuration.get_config_value('InstitutionName'); %></font></b></center></div>
            <div class="col-xs-12"><center><font size="1"><%=Configuration.get_config_value('InstitutionAddress'); %></font></center></div>
            
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">
                <div class="col-xs-12 data-group">
                  <div class="col-xs-2" >Name :</div>
                  <div class="col-xs-4 underline" ><%= std_info.full_name %></div>
                  <div class="col-xs-3" >Class & Section :</div>
                  <div class="col-xs-3 underline" ><%= std_info.batch.course.course_name %> <%= std_info.batch.course.section_name %></div>
                </div>
                <div class="col-xs-12 data-group">
                  <div class="col-xs-2" >Nationality :</div>
                  <div class="col-xs-3 underline" ><%= std_info.nationality.name unless std_info.nationality_id.nil? %></div>
                  <div class="col-xs-3" >Date of Birth :</div>
                  <div class="col-xs-4 underline" ><%= I18n.l(std_info.date_of_birth,:format=>:normal) unless std_info.date_of_birth.nil? %></div>
                </div>
                <div class="col-xs-12 data-group">
                  <div class="col-xs-4" >Date of Admission :</div>
                  <div class="col-xs-4 underline" ><%= I18n.l(std_info.admission_date,:format=>:normal) unless std_info.admission_date.nil? %></div>
                  <div class="col-xs-2" >Religion :</div>
                  <div class="col-xs-2 underline" ><%= std_info.religion.titlecase unless std_info.religion.blank? %></div>
                </div>
                <% father_mobile = "" %>
                <% mother_mobile = "" %>
                <% office_phone = "" %>
                <% guardians = GuardianStudents.find_all_by_student_id(std_info.id) %>
                <% unless guardians.blank?  %>
                 <% guardians.each do |gur| %>
                  <% gurdian = Guardian.find_by_id(gur.guardian_id) %>
                  <% unless gurdian.blank? %>
                      <% if gurdian.relation.index("Father") || gurdian.relation.index("father") %>
                          <div class="col-xs-12 data-group">
                            <div class="col-xs-3" >Father's Name :</div>
                            <div class="col-xs-4 underline" ><%=  gurdian.first_name %> <%=  gurdian.last_name %></div>
                            <div class="col-xs-3" >Qualification :</div>
                            <div class="col-xs-2 underline" ><%= gurdian.education unless gurdian.education.blank? %></div>
                          </div>
                          <div class="col-xs-12 data-group">
                            <div class="col-xs-3" >Passport / ID No :</div>
                            <div class="col-xs-9 underline" ></div>
                          </div>
                          <div class="col-xs-12 data-group">
                            <div class="col-xs-3" >Occupation :</div>
                            <div class="col-xs-3 underline" ><%=  gurdian.occupation  unless gurdian.occupation.blank? %></div>
                            <div class="col-xs-3" >Designation :</div>
                            <div class="col-xs-3 underline" ></div>
                          </div>
                          <% father_mobile = gurdian.mobile_phone %>
                          <% office_phone = gurdian.office_phone1  %>
                          <% break %>
                      <% end %>
                  <% end %>
                 <% end %>
                
                  <% guardians.each do |gur| %>
                  <% gurdian = Guardian.find_by_id(gur.guardian_id) %>
                  <% unless gurdian.blank? %>
                      <% if gurdian.relation.index("Mother") || gurdian.relation.index("mother") %>
                          <div class="col-xs-12 data-group">
                            <div class="col-xs-3" >Mother's Name :</div>
                            <div class="col-xs-4 underline" ><%=  gurdian.first_name %> <%=  gurdian.last_name %></div>
                            <div class="col-xs-3" >Qualification :</div>
                            <div class="col-xs-2 underline" ><%= gurdian.education unless gurdian.education.blank? %></div>
                          </div>
                          <div class="col-xs-12 data-group">
                            <div class="col-xs-3" >Passport / ID No :</div>
                            <div class="col-xs-9 underline" ></div>
                          </div>
                          <div class="col-xs-12 data-group">
                            <div class="col-xs-3" >Occupation :</div>
                            <div class="col-xs-3 underline" ><%=  gurdian.occupation  unless gurdian.occupation.blank? %></div>
                            <div class="col-xs-3" >Designation :</div>
                            <div class="col-xs-3 underline" ></div>
                          </div>
                          <% mother_mobile = gurdian.mobile_phone %>
                          <% break %>
                      <% end %>
                  <% end %>
                <% end %>
               <% end %>
               
               <div class="col-xs-12 data-group">
                  <div class="col-xs-3" >Present Address :</div>
                  <div class="col-xs-9 underline" ><%=  std_info.address_line1 unless std_info.address_line1.blank? %></div>
                </div>
                
                <div class="col-xs-12 data-group">
                  <div class="col-xs-4" >Land Phone(Res) :</div>
                  <div class="col-xs-3 underline" ><%=  std_info.phone1.to_s  unless std_info.phone1.blank? %></div>
                  <div class="col-xs-2" >Office :</div>
                  <div class="col-xs-3 underline" ><%= office_phone %></div>
                </div>
                
                <div class="col-xs-12 data-group">
                  <div class="col-xs-4" >Mobile Phone(Father) :</div>
                  <div class="col-xs-3 underline" ><%=  father_mobile %></div>
                  <div class="col-xs-2" >(Mother) :</div>
                  <div class="col-xs-3 underline" ><%= mother_mobile %></div>
                </div>
                   
            </div>
            <div class="col-xs-12">&nbsp;</div>
            <div class="col-xs-12">&nbsp;</div>
            <% @siblings = Student.find(:all,:conditions => ["sibling_id = ? AND id != ?", @student.sibling_id,@student.id]) %>
            <% unless @siblings.blank?  %>
              <div class="col-xs-12"><center><b><font size="3">OTHER CHILDREN OF THE FAMILY IN THE SCHOOL/CLASS & SECTION</font></b></center></div>
            <% end %>
            
               
              
            
            
        </div>   
        <% end %>
    </body>
</html>
<style>
   
    .col-xs-12
    {
       padding:0px !important;
    }
    .col-xs-12 div
    {
       padding:0px !important;
    }
     div.col-xs-12 div.data-group
    {
      padding: 5px 0px !important;
      border-bottom: 1px solid black;
    }

    
    
  .table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information
{
    border: 0;
    
}
.table-user-information > tbody > tr > td {
    border: 0;
    font-size: 12px;
    
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}
ul li
{
    list-style: decimal;
    font-size: 12px;
}
</style>
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<script>
  window.print();
</script>  
