<html>
    <head>
        <title>Bus Card</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <% i = 0 %>
        <% @students.each do |std_info| %>
          <% i = i+1 %>
          <% if i > 5 %>
            <div class="page-break-main"></div>
            <% i = 1 %>
          <% end %>
          <div class="col-xs-12" style="margin-top:25px;">
              <div class="col-xs-6" style="border: 1px solid black; padding-top:5px;">
                  <div class="col-xs-12">
                      <% if MultiSchool.current_school.id == 352 %>
                        <div class="col-xs-2" style="padding:0px;"><img style='width:90%;' src='/images/school_logo/352/sagc-logo.svg' /></div>
                      <% else %>
                        <div class="col-xs-2" style="padding:0px;"><img style='width:100%;' src='<%=  current_school_detail.logo.url %>' /></div>
                      <% end %>
                      <div class="col-xs-10">
                          <div class="col-xs-12" style="padding: 0px; white-space: nowrap;"><center><b><font size="1"><%=Configuration.get_config_value('InstitutionName'); %></font></b></center></div>
                          <div class="col-xs-12"><center><font size="1">Dhaka Cantonment, Dhaka</font></center></div>
                          <div class="col-xs-12"><center><font size="1">Phone:9833306</font></center></div>
                      </div>
                  </div>
                  <div class="col-xs-12">
                      <center>
                          <b><font size="1">BUS CARD</font></b>
                      </center>    
                  </div>
                  <div class="col-xs-8">
                      <table class="table table-user-information" width="100%">
                          <tbody>
                              <tr>
                                  <td colspan="2" style="white-space: nowrap">Student Name&nbsp;:&nbsp;<%= std_info.full_name %></td>
                              </tr>
                              <tr>
                                  <td style="white-space: nowrap">Class&nbsp;:&nbsp;<%= std_info.batch.course.course_name %></td>
                                  <td style="white-space: nowrap">Section&nbsp;:&nbsp;<%= std_info.batch.course.section_name %></td>
                                  
                              </tr>
                              <tr>
                                  <td style="white-space: nowrap">ID&nbsp;:&nbsp;<%= std_info.admission_no %></td>
                                  <td style="white-space: nowrap">Roll&nbsp;:&nbsp;<%= std_info.class_roll_no %></td>
                              </tr>
                              <%
                              father = ""
                              guardians = std_info.student_guardian  
                              unless guardians.nil?
                                p_loop = 0
                                guardians.each do |guardian|
                                    if p_loop == 0
                                      father = guardian.first_name.to_s+" "+guardian.last_name.to_s
                                    else
                                      mother_name = guardian.first_name.to_s+" "+guardian.last_name.to_s
                                      break
                                    end
                                    p_loop = p_loop+1
                                end
                              end
                              
                            %>
                              <tr>
                                  <td colspan="2" style="white-space: nowrap">Father Name&nbsp;:&nbsp;<%= father %></td>
                              </tr>
                              <tr>
                                  <td colspan="2" style="white-space: nowrap">Issue Date&nbsp;:&nbsp;<%= Time.now.strftime("%d-%m-%Y") %></td>
                              </tr>
                              <tr>
                                  <td colspan="2" style="white-space: nowrap">Mobile&nbsp;:&nbsp;<%= std_info.sms_number %></td>
                                 
                              </tr>
                              <tr>
                                  <%
                                  transport = @transports.find{|v| v.receiver_id == std_info.id}
                                %>
                                  <td colspan="2" style="white-space: nowrap">Departure&nbsp;:&nbsp;<%= transport.route.destination unless transport.blank? %></td>
                              </tr>
                              <tr>
                                  <td colspan="2" style="white-space: nowrap">Bus No&nbsp;:&nbsp;<%= transport.vehicle.vehicle_no unless transport.blank? %></td>
                              </tr>
                          </tbody> 
                      </table>       
                  </div>
                  <div class="col-xs-4">
                        <% if std_info.photo.file? %>
                        <% @profile_image = std_info.photo.url %>
                        <% unless @profile_image.index("RackMultipart").nil? %>	
                            <% if std_info.photo.exists? %>
                              <% @profile_image.gsub! '?', '.?' %>
                            <% else %>
                              <% @profile_image = "master_student/profile/default_student.png" %>
                            <% end %>
                        <% end %>

                      <% else %>
                        <% @profile_image = "master_student/profile/default_student.png" %>
                      <% end %>
                      <%= image_tag "#{@profile_image}", :width=>"60" %>
                  </div>
                  <div class="col-xs-12" style="margin-top:-73px; margin-left:30px;">
                      <div class="col-xs-6"></div>
                      <div class="col-xs-6">
                          <div class="col-xs-12"><center><br/><br/></center></div>
                        <div class="col-xs-12">
                            <center>Principal</center>
                        </div>
                      </div>
                  </div>
              </div> 
              <div class="col-xs-6" style="border: 1px solid black; margin-left: 20px;padding-top: 9px;">
                <div class="col-xs-12">
                      <center>
                          <b><font size="2">Rules & Regulation</font></b>
                      </center>    
                </div>
                <div class="col-xs-12 rules" style="padding:10px 9px 10px 9px; ">
                    <p>
                    1. To cancel Bus card application is to be submitted one month earlier.<br/>  
                    2. Bus fee should be continued until the submission of application.<br/>
                    3. After issuing a bus card if a student does not avail the bus service even though she is to continue paying bus fee (if her bus card has not been canceled).<br/>
                    4. Bus fee is to be paid even if the bus service is not available due to mechanical problem.<br/>
                    5. Bus card is to be renewed every year in January paying tk.20.<br/>
                    6. Monthly Bus fee should be paid with monthly tuition fee.<br/>
                    7. Bus card cannot be canceled in month of December.
                    </p>
                </div>
              </div>


          </div>   
        <% end %>
    </body>
</html>
<style>
    
    .rules p
    {
        font-size: 10px;
    }
    .col-xs-6
    {
        width: 48%;
    }
    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }

    .table-user-information
    {
        border: 0;

    }
    .table-user-information > tbody > tr > td {
        border: 0;
        font-size: 10px;

    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 1px 5px;
    }
    .page-break-main { display:block; clear:both; page-break-after:always; }

</style>
<style type="text/css" media="print">
    @page { size: legal portrait; }
</style>
<script>
  window.print();
</script>  
