<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('batch_transfer') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('transfer') %></div>


</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="transfer_batch_details">
    <div class="label-field-pair"><label><%= t('transferring_batch') %>:</label> <div class="text-input-bg themed_text transfer-label"><%= @batch.course_name + ", Section: " + @batch.section_name + " - " + @batch.name %></div></div></div>

  <% form_for :transfer,@batch, :url => { :controller => 'batch_transfers', :action => 'transfer', :id => @batch.id },:html => {:id => "new_student"} do |f| %>
    <%= error_messages_for 'batch', :header_message => nil %>
    
    <div class="label-field-pair">
      <label for="student_grade"><%= "Session" %></label>
      <div class="text-input-bg"><input type="text" name="session" placeholder="2017-2018" /></div>
    </div>
    <div class="label-field-pair" style="height: 70px;">
      <label for="student_admission_date"><%= "Previous Batch Start And End Date: " %></label>
      <div class="text-input-bg">
        <%= calendar_date_select_tag 'start_previous', I18n.l(@batch.start_date.to_date),
          :year_range => 2.years.ago..1.years.from_now, :readonly=>true, :popup=>"force" %>
        <%= calendar_date_select_tag 'end_previous', I18n.l(@batch.end_date.to_date),
          :year_range => 2.years.ago..1.years.from_now, :readonly=>true, :popup=>"force" %>
      </div>
    </div>
    
    <div class="label-field-pair" style="height: 70px;">
      <label for="student_admission_date"><%= "Expected Next Batch Start And End Date: " %></label>
      <div class="text-input-bg">
        <%= calendar_date_select_tag 'start_next', I18n.l(@batch.start_date.to_date+1.year),
          :year_range => 1.years.ago..2.years.from_now, :readonly=>true, :popup=>"force" %>
        <%= calendar_date_select_tag 'end_next', I18n.l(@batch.end_date.to_date+1.year),
          :year_range => 1.years.ago..2.years.from_now, :readonly=>true, :popup=>"force" %>
      </div>
    </div>
    
    <div class="label-field-pair">
      <label for="student_grade"><%= t('shift_label') %></label>
      <div class="text-input-bg"><%= select :student, :batch_name, options_for_select(Batch.active.find(:all, :group => "name").map {|b| [b.name, b.id]}, @batch_no.to_i),
      {:prompt => "#{t('select')}"},
      {:onChange => "#{remote_function(:url => {:controller => "student", :action => "get_classes"}, :with => "'batch_id='+value+'&'+$('new_student').serialize()+'&section_page=section_data&section_partial=sections_transfer&page_batch=batches_data&partial_view_batch=batches_transfer'" ,:before => "$('loading_2').show();",
      :success => "$('loading_2').hide();")}"} %>
      <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_2", :style =>"display: none;" ) %></div>
    </div>
    
    
    <div class="label-field-pair">
      <label for="student_grade"><%= t('class_label') %></label>
      <div class="text-input-bg"><div id="course"> <%= render :partial => 'student/courses', :object => @courses %></div></div>
    </div>
    
    <div class="label-field-pair">
      <label for="student_grade"><%= t('section_label') %></label>
      <div class="text-input-bg"><div id="section_data"> <%= render :partial => 'student/sections_transfer', :object => @classes %></div></div>
    </div>
    
    
    
    <div class="label-field-pair" style="display: none;">
      <label for="student_grade"><%= t('course_and_batch') %></label>
      <div class="text-input-bg"><div id="batches_data"> <%= render :partial => 'student/batches_transfer', :object => @batch_id %></div></div>
    </div>
    
    <div class="label-field-pair">
      <label for="student_grade"><%= "Tranfer All" %></label>
      <div class="text-input-bg"><input type="text" name="transfer_all" value="Yes" /></div>
    </div>
    <p>Note: Write "No" if you are doing partial transfer. </p>
    <% unless @batch.students.empty? %>
      <p><%= t('uncheck_message') %>. </p>

      <ul id="category-list">
        <li class="listheading">
          <div class="heading-no"><%= t('adm_no') %></div>
          <div class="category-name"><%= t('name') %></div>
          <div class="sel-list">
            <%= link_to_function t('all'), "$$('input.right').each(function(checkbox) { checkbox.checked = true; });" %>,
            <%= link_to_function t('none'), "$$('input.right').each(function(checkbox) { checkbox.checked = false; });" %>
          </div>
        </li>
        <% @batch.students.each do |student| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <% if student.finance_fees.collect(&:is_paid).flatten.include? false %>
              <div class="category-number"><%= link_to student.admission_no, :controller => 'student', :action => 'fees', :id=>student.id %></div>
              <div class="category-name"><%= link_to student.full_name, :controller => 'student', :action => 'fees', :id=>student.id %></div>
            <% else %>
              <div class="category-number_disabled"><%= student.admission_no %></div>
              <div class="category-name_disabled"><%= student.full_name %></div>
            <% end %>
            <div class="category-edit"><%= check_box_tag 'transfer[students][]', student.id, true,:class=>"right" %></div>
            <!--div class="category-edit"><%#= check_box_tag 'transfer[students][]', 1537, true,:class=>"right" %></div-->
          </li>
        <% end %>
      </ul>

      <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
    <% else %>
      <ul id="category-list">
        <li class="listheading">
          <div class="category-name"><%= t('no_students_found_in_the_batch') %></div>
        </li>
      </ul>
    <% end %>
  <% end %>

  <div class="extender"></div>
</div>
<script type="text/javascript">
  j('#submit_button').click(function()
  {
    var elt = $('transfer_to');
    var button = document.getElementById('submit_button');
    var c = false;
    $$('.right').each(function(check){
      if (check.checked == true){
        c = true;
      }
    })
    if (c==false){
      alert('<%= t('select_at_least_one_student') %>')
      return false
    }
    
    if (elt.value=="")
    {
      alert('<%=t('select_a_batch_to_continue')%>')
      return false
    }
    else
    {
      var text = elt.options[elt.selectedIndex].text;
      button.disabled = true;
      button.value = '<%= "► #{t('please_wait')}"%>';
      if (confirm('<%=t('are_you_sure_to_trnsfer')%> ' + text )){
        button.disabled = true;
        j('#new_student').submit();
      }
      else{
        button.disabled = false;
        button.value = '<%= "► #{t('save')}"%>';
        return false
      }
    }
  });
</script>
