<% unless @report_data.blank?  or  @report_data['report'].blank? %>
 
<%
  if @student_position_first_term.blank? && @subject_highest_1st_term.blank?
    @subject_highest_1st_term = @subject_highest_2nd_term
    @student_position_first_term = @student_position_second_term
    @student_position_first_term_batch = @student_position_second_term_batch
  end




%> 
 <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/bncd/header" %>
      <h2 align="center" class="font-24"><%= @connect_exam_obj.name %></h2>
      
     
      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td>
              <td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td>
              <td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td>
              <td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td>
              <td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Session </td>
              <td class="align-left"><%= @batch.course.session %></td>
              <td class="align-right col-pdf" width="20%" >Version </td>
              <td class="align-left"><%= batch_split[1] %></td> 
          </tr>
          <tr class="even">
              <% group_split = @batch.course.group.split(" ") %>
              <% unless group_split[2].blank? %>
                <% group_split[0] = group_split[0]+" "+group_split[1] %>
              <% end %>
              <% 
                if !@batch.course.group.blank? && !@batch.course.group.index("--").nil? 
                  group_split[0] = ""
                end 
              %>
              <td class="align-right col-pdf" width="20%">Group </td>
              <td class="align-left"><%= group_split[0] %></td>
              <td class="align-right col-pdf" width="20%" >Category </td>
              <td class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>
      
      
     <%
        has_sb = false
        has_ob = false
        has_pr = false

      %>
      <div class="grade_information">
        <%= render  :partial=>"/connect_exam/bncd/gradding_level" %>
        
      </div>
      


  </div>

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>)
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var current_page_height = 0
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1
            el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            insertPage();
        }
        currPage().appendChild(el);
    });
  </script>
<% end %>
  <style>


    div.baf_shaheen
    {
        border:none;
    }
    .baf_shaheen td.align-right
    {
        text-align: right !important;
    }
    .baf_shaheen td.align-left
    {
        text-align: left !important;
    }
    .baf_shaheen table.tbl-lign-left tr.even td,.baf_shaheen table.tbl-lign-left tr.odd td
    {
        font-weight: normal !important;
        padding: 7px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100 tr.even td,.baf_shaheen table.tbl-lign-left-100 tr.odd td
    {
        font-weight: normal !important;
        padding: 7px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100
    {
        float:left !important;
        width: 99.8% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen table.tbl-lign-left
    {
        float:left !important;
        width: 52% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen div.grade_information
    {
        margin-left:3%;
        float:left;
        width: 34.7%;
        font-size: 14px;

    }
    .baf_shaheen div.grade_information table#pdf-table tr.even td
    {
        padding: 8px !important;
    }
    div.baf_shaheen h2
    {
        font-weight: normal !important;
        font-size: 32px !important;
    }
    div.baf_shaheen table.top-left-center
    {
        float:left !important;
        margin-top:30px !important;
        margin-left: 4% !important;
        width: 90% !important;
    }
    
    div.baf_shaheen tr.odd td
    {
        padding: 2px 10px !important; 
        border: 1px solid #000000;
        font-size:21px;
    }
    div.baf_shaheen tr.even td
    {
        padding: 2px 10px !important;
        border: 1px solid #000000;
        font-size:21px;
    }
    div.baf_shaheen table#pdf-table tr.header-shade td
    {
        padding: 2px 3px !important;
    }

    .top-margin-20
    {
        margin-top:30px !important;
    }
    .letter-grade tr td
    {
        font-size: 21px !important;
    }
    div.baf_shaheen table#pdf-table tr.header-shade
    {
        background: #e8e9ed !important;
    }
    div.baf_shaheen div.fine
    {
        float:left;
        clear:both;
        margin-top:40px;
        margin-bottom:20px;
        margin-left: 4% !important;
        width: 90% !important
    }
    .letter-grade tr td.font-size-45
    {
        font-size:45px !important;
    }
    .page-break-grade td{
        height: 0px;
        border: 1px solid #fff;
        border-top: 1px solid Black;
        border-bottom: 1px solid Black;
    }
    


</style>     
     