
  <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/bncd/header" %>
     
      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td>
              <td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td>
              <td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td>
              <td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td>
              <td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="even">
              <% group_split = @batch.course.group.split(" ") %>
              <% unless group_split[2].blank? %>
                <% group_split[0] = group_split[0]+" "+group_split[1] %>
              <% end %>
              <% 
                if !@batch.course.group.blank? && !@batch.course.group.index("--").nil? 
                  group_split[0] = ""
                end 
              %>
              <td class="align-right col-pdf" width="20%">Group </td>
              <td class="align-left"><%= group_split[0] %></td>
              <td class="align-right col-pdf" width="20%" >Category </td>
              <td class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>
      <div class="grade_information">
          <%= render  :partial=>"/connect_exam/bncd/gradding_level" %>
      </div>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <% full_mark_of_allexam = 0 %>
                  <% total_grade_of_allexam = 0 %>
                  <tr class="even header-shade">
                      <td class="col-pdf">
                          <b>Sl.</b>
                      </td>
                      <% number_of_exam = 0%>
                      <td class="col-pdf no-warp  align-left-baf"><b><%= "SUBJECTS" %></b></td>
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <% number_of_exam = number_of_exam+1 %>
                          <td class="col-pdf"><%= report['exam_name'] %></td>
                        <% end %>
                      <% end %> 
                      
                      <td class="col-pdf"><b>Total Marks</b></td>
                      <td class="col-pdf"><b>Grade</b></td>
                      <td class="col-pdf"><b>GP</b></td> 
                  </tr>
                  
                  <% sl = 0 %>
                  <% subjects_done  = [] %>
                  <% first_one_done = false %>
                  <% subject_count = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %>
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% total_mark = 0 %>
                      <% obtain_mark = 0 %>
                      
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                         <% next %>
                      <% end %>
                       <%
                          third_subject = ""
                          fourth_subject = ""
                        %>
                          <% if !@std_subject_hash_type.blank? %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                              <% fourth_subject = "(4th)" %>
                            <% end %>
                            <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||3") %>
                              <% third_subject = "(3rd)" %>
                            <% end %>
                          <% end %>
                      <% if subjects_done.include?(subjects['id'].to_i) %>
                          <%
                            next
                          %>
                      <% end %>
                      <% if subjects['subject_group_id'].to_i == 0 or first_one_done == false  %>
                        <% sl = sl+1 %>
                      <% end %>
                      <% subject_count = subject_count+ 1 %>

                      <% subjects_done << subjects['id'].to_i %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf  no-warp"><%= subject_count %></td>
                            <td class="col-pdf align-left-baf no-warp"><%= subjects['name'] %><%= fourth_subject %><%= third_subject %></td>
                            <% unless @report_data['report']['exams'].blank? %>  
                                <% @report_data['report']['exams'].each do |report| %>  
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>  
                                    
                                      <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                   
                                    <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %></td>
                                  <% else %>
                                    <td class="col-pdf">-</td>
                                  <% end %>   
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% total_mark = total_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                <% end %>
                            <% end %>
                            <td class="col-pdf"><%= obtain_mark %></td>
                            <% if subjects['subject_group_id'].to_i > 0 %>
                                <% if first_one_done == false %>
                                  <% first_one_done = true %>
                                  <% @report_data['report']['subjects'].each do |subjects2| %>
                                    <% if subjects2['subject_group_id'].to_i != subjects['subject_group_id'].to_i || subjects2['id'].to_i == subjects['id'].to_i  %>
                                      <% next %>
                                    <% end %>
                                    <% unless @report_data['report']['exams'].blank? %>  
                                      <% @report_data['report']['exams'].each do |report| %>  
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects2['id']].blank?  and !report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].blank? %>  
                                          
                                            <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects2['id']]['marks_obtained'].to_i %>
                                        <% else %>
                                          <td class="col-pdf">-</td>
                                        <% end %>   
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects2['id']].blank?  and !report['result'][report['exam_id']][subjects2['id']]['full_mark'].blank? %>
                                          <% total_mark = total_mark+report['result'][report['exam_id']][subjects2['id']]['full_mark'].to_i %>
                                        <% end %>
                                      <% end %>
                                    <% end %>
                                    <% main_mark = (obtain_mark.to_f/total_mark.to_f)*100 %>
                                    <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                                    <% if !grade.blank? and !grade.name.blank? %>
                                      <td class="col-pdf" rowspan="2"><%= grade.name %></td>
                                      <td class="col-pdf" rowspan="2"><%= grade.credit_points %></td>
                                      <% if fourth_subject.blank? %>
                                        <% total_grade_of_allexam = total_grade_of_allexam.to_f+grade.credit_points.to_f %>
                                      <% else %>
                                        <% new_grade_point = grade.credit_points.to_f-2 %>
                                        <% if new_grade_point > 0 %>
                                          <% total_grade_of_allexam = total_grade_of_allexam.to_f+new_grade_point.to_f %>
                                        <% end %>  
                                      <% end %>
                                    <% else %>
                                      <td class="col-pdf" rowspan="2">-</td>
                                      <td class="col-pdf" rowspan="2">-</td>
                                    <% end %> 
                                    <% if !fourth_subject.blank? %>
                                      <% new_marks = obtain_mark - 40 %>
                                      <% if new_marks > 0 %>
                                        <% obtain_mark = new_marks.to_i %>
                                      <% end %>
                                    <% end %> 
                                    <% total_mark_of_allexam = total_mark_of_allexam+obtain_mark %>
                                    <% full_mark_of_allexam = full_mark_of_allexam+total_mark %>
                                    <% end %>

                                <% else %>
                                  <% first_one_done = false %>
                                <% end %>

                            <% else %>
                              <%
                                main_mark = (obtain_mark.to_f/total_mark.to_f)*100
                              %>
                              <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                              <% if !grade.blank? and !grade.name.blank? %>
                                <td class="col-pdf"><%= grade.name %></td>
                                <td class="col-pdf"><%= grade.credit_points %></td>
                                <% if fourth_subject.blank? %>
                                  <% total_grade_of_allexam = total_grade_of_allexam.to_f+grade.credit_points.to_f %>
                                <% else %>
                                  <% new_grade_point = grade.credit_points.to_f-2 %>
                                  <% if new_grade_point > 0 %>
                                    <% total_grade_of_allexam = total_grade_of_allexam.to_f+new_grade_point.to_f %>
                                  <% end %>  
                                <% end %>
                              <% else %>
                                <td class="col-pdf">-</td>
                                <td class="col-pdf">-</td>
                              <% end %> 
                              <% if !fourth_subject.blank? %>
                                <% new_marks = obtain_mark - 40 %>
                                <% if new_marks > 0 %>
                                  <% obtain_mark = new_marks.to_i %>
                                <% end %>
                              <% end %> 
                              <% total_mark_of_allexam = total_mark_of_allexam+obtain_mark %>
                              <% full_mark_of_allexam = full_mark_of_allexam+total_mark %>
                            <% end %>
                      </tr>
                    <% end %>
                  
                  <% end %>
              
                  <% colspan= number_of_exam+ 2%>
                  <tr class="even" >
                    <td class="col-pdf  no-warp align-right" colspan="<%= colspan %>"><b>GRAND TOTAL</b></td>
                    <td class="col-pdf  no-warp"><b><%= total_mark_of_allexam %></b></td>
                    <td class="col-pdf  no-warp">Total Grade</td>
                    <td class="col-pdf  no-warp"><%= total_grade_of_allexam %></td>
                  </tr>
                  
              </table>
              <% grade_point_avg = 0.00 %>
              <% if total_grade_of_allexam > 0 && sl > 0 %>
                <% grade_point_avg = total_grade_of_allexam.to_f/sl.to_f %>
                <% if grade_point_avg > 5 %>
                  <% grade_point_avg = 5.00 %>
                <% end %>  
              <% end %> 
              <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
              <% grade_point_avg = grade_point_avg.to_f/100 %>
              <div class='fine'></div>
              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <tr class="even">
                      <td>Result</td>
                      <td>GPA</td>
                      <td>Position in Section</td>
                      <td>Position in Class</td>
                  </tr>
                  <tr class="even">
                      <td class="col-pdf  no-warp"><% if !@student_position_batch[@student.id.to_i].blank? %>Pass<% else %>Failed<% end %></td>
                      <td class="col-pdf  no-warp"><% if !@student_position_batch[@student.id.to_i].blank? %><%= grade_point_avg %><% else %>0.00<% end %></td>
                      <td class="col-pdf  no-warp">
                          <% if !@student_position_batch[@student.id.to_i].blank? %> 
                            <%= @student_position_batch[@student.id.to_i] %> out of <%= @total_std_batch %>
                          <% else %>
                            -
                          <% end %>
                      </td> 
                      <td class="col-pdf  no-warp">
                          <% if !@student_position[@student.id.to_i].blank? %> 
                            <%= @student_position[@student.id.to_i] %> out of <%= @total_std %>
                          <% else %>
                            -
                          <% end %>
                      </td>
                  </tr>
              </table>
              <%
              percent = 0
              if full_mark_of_allexam > 0 and total_mark_of_allexam > 0
                percent = (total_mark_of_allexam.to_f/full_mark_of_allexam.to_f)*100
              end  
              remarks = "Passed"
              percent = percent.round()
              if percent >= 80 
                remarks = "Excellent. But there is no borderline of perfection."
              end
              if percent < 80 and percent >= 60
                remarks = "Good. But try to do better."
              end
              if percent < 60 and percent >= 40
                remarks = "Satisfactory. But need to work hard."
              end
              if percent < 40
                remarks = "Not satisfactory. But remember, “Failure is the
pillar of success.” So, try more."
              end
              %>
              <div class='fine'></div>
              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                <tr class="even align-left-baf">
                    <td class="aling-left-baf align-left">&nbsp;Remarks : 
                      <% if !@student_position_batch[@student.id.to_i].blank? %> 
                          <%= remarks %> 
                      <% else %> 
                          Failed 
                      <% end %>  
                    </td>
                </tr>  
              </table>
              <div class='fine'></div>
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

                  <tr class="even border-bottom-1-px">
                      <td class="col-pdf " width="33%">
                          <br/><br/><br/>
                      </td> 
                      <td class="col-pdf" width="33%">
                          <br/><br/><br/>
                      </td>
                      <td class="col-pdf" width="33%">
                          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/bncd/principal-sig.png")), :width=>"50%" %>
                      </td> 
                    
                  </tr>
                  <tr class="even">

                      <td class="col-pdf" width="33%">
                          Class Teacher's Sign & Date
                      </td>
                      <td class="col-pdf " width="33%">
                          Guardian's Sign & Date
                      </td>
                      <td class="col-pdf " width="33%">
                          Principal's Sign & Date
                      </td> 

                  </tr>

              </table> 
              
          </div>
      </div>



  </div>


<%= stylesheet_link_tag 'list_table' %>


  <style>


    div.baf_shaheen
    {
        border:none;
    }
    .baf_shaheen td.align-right
    {
        text-align: right !important;
    }
    .baf_shaheen td.align-left
    {
        text-align: left !important;
    }
    .baf_shaheen table.tbl-lign-left tr.even td,.baf_shaheen table.tbl-lign-left tr.odd td
    {
        font-weight: normal !important;
        padding: 3px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100 tr.even td,.baf_shaheen table.tbl-lign-left-100 tr.odd td
    {
        font-weight: normal !important;
        padding: 3px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100
    {
        float:left !important;
        width: 99.8% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen table.tbl-lign-left
    {
        float:left !important;
        width: 52% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen div.grade_information
    {
        margin-left:3%;
        float:left;
        width: 34.7%;
        font-size: 14px;

    }
    .baf_shaheen div.grade_information table#pdf-table tr.even td
    {
        padding: 8px !important;
    }
    div.baf_shaheen h2
    {
        font-weight: normal !important;
        font-size: 32px !important;
    }
    div.baf_shaheen table.top-left-center
    {
        float:left !important;
        margin-top:30px !important;
        margin-left: 4% !important;
        width: 90% !important;
    }
    
    div.baf_shaheen tr.odd td
    {
        padding: 2px 10px !important; 
        border: 1px solid #000000;
        font-size:20px;
    }
    div.baf_shaheen tr.even td
    {
        padding: 2px 10px !important;
        border: 1px solid #000000;
        font-size:20px;
    }
    div.baf_shaheen table#pdf-table tr.header-shade td
    {
        padding: 2px 3px !important;
    }

    .top-margin-20
    {
        margin-top:30px !important;
    }
    .letter-grade tr td
    {
        font-size: 21px !important;
    }
    div.baf_shaheen table#pdf-table tr.header-shade
    {
        background: #e8e9ed !important;
    }
    div.baf_shaheen div.fine
    {
        float:left;
        clear:both;
        margin-top:40px;
        margin-bottom:20px;
        margin-left: 4% !important;
        width: 90% !important
    }
    .letter-grade tr td.font-size-45
    {
        font-size:45px !important;
    }
    .page-break-grade td{
        height: 0px;
        border: 1px solid #fff;
        border-top: 1px solid Black;
        border-bottom: 1px solid Black;
    }
    


</style>     
     