
  <% total_u = 0 %>

  <%
    @config = Configuration.find_by_config_key('StudentAttendanceType')
    @batch = Batch.find(@student.batch_id)
    @start_date = ("2021-09-12").to_date
    @end_date = ("2021-11-03").to_date
    @leaves=Hash.new { |h, k| h[k] = Hash.new(&h.default_proc) }
    @today = @local_tzone_time.to_date
    working_days=@batch.working_days(@start_date.to_date)
    unless @start_date > @local_tzone_time.to_date
      unless @config.config_value == 'Daily'
        unless params[:subject] == '0'
          @subject = Subject.find params[:subject]
          @academic_days=@batch.subject_hours(@start_date, @end_date, params[:subject]).values.flatten.compact.count
          @grouped = SubjectLeave.find_all_by_subject_id(@subject.id,  :conditions =>{:month_date => @start_date..@end_date}).group_by(&:student_id)
          if @grouped[@student.id].nil?
			  @leaves[@student.id]['leave']=0
			else
			  @leaves[@student.id]['leave']=@grouped[@student.id].count
			end
			@leaves[@student.id]['total'] = (@academic_days - @leaves[@student.id]['leave'])
			@leaves[@student.id]['percent'] = (@leaves[@student.id]['total'].to_f/@academic_days)*100 unless @academic_days == 0
        else
          @academic_days=@batch.subject_hours(@start_date, @end_date, 0).values.flatten.compact.count
          @grouped = @batch.subject_leaves.find(:all,  :conditions =>{:month_date => @start_date..@end_date, :student_id => @student.id})
          if @grouped[@student.id].nil?
			@leaves[@student.id]['leave']=0
		  else
		    @leaves[@student.id]['leave']=@grouped[@student.id].count
          end
		  @leaves[@student.id]['total'] = (@academic_days - @leaves[@student.id]['leave'])
		  @leaves[@student.id]['percent'] = (@leaves[@student.id]['total'].to_f/@academic_days)*100 unless @academic_days == 0
        end
      else
          @start_date_main = @start_date
          
            @start_date = @start_date_main
            unless @student.admission_date.blank?
              if @student.admission_date.to_date > @start_date
                @start_date = @student.admission_date.to_date
              end
            end

            @academic_days = 0
            @student_leaves = []
            if @end_date >= @start_date
              @academic_days =  @batch.find_working_days(@start_date,@end_date).select{|v| v<=@end_date}.count
              @student_leaves = Attendance.find(:all,:conditions =>{:student_id=>@student.id,:batch_id=>@batch.id,:month_date => @start_date..@end_date})
            end
          
          on_leaves = 0;
          leaves_other = 0;
          leaves_full = 0;
          unless @student_leaves.empty?
            @student_leaves.each do |r|
              if r.student_id == @student.id
                working_days_count=@batch.find_working_days(r.month_date.to_date,r.month_date.to_date).select{|v| v<=r.month_date.to_date}.count

                if working_days_count==1
                  if r.is_leave == true
                    on_leaves = on_leaves+1;
                  elsif r.forenoon==true && r.afternoon==false
                    leaves_other = leaves_other+1;
                  elsif r.forenoon==false && r.afternoon==true  
                    leaves_other = leaves_other+1;
                  else
                    leaves_full = leaves_full+1;
                  end 
                end
              end
            end
          end
          @leaves[@student.id]['late'] = leaves_other
          @leaves[@student.id]['absent'] = leaves_full
          @leaves[@student.id]['on_leave'] = on_leaves
          @leaves[@student.id]['present'] = @academic_days-on_leaves-leaves_full
          @leaves[@student.id]['total']=@academic_days-leaves_full.to_f-(0.5*leaves_other)
          @leaves[@student.id]['percent'] = 0.0
          @leaves[@student.id]['percent'] = (@leaves[@student.id]['total'].to_f/@academic_days)*100 unless @academic_days == 0
        @academic_days =  @batch.find_working_days(@start_date_main,@end_date).select{|v| v<=@end_date}.count
      end
    else
      @report = ''
    end
  %> 
  <% student_attendance_percent = 0 %>	
  <% student_attendance_mark = 0 %>	
  <% unless @leaves[@student.id]['percent'].nil? %>
	<% student_attendance_percent =  @leaves[@student.id]['percent'] %>
  <% end %>	
  <% if student_attendance_percent.to_f > 0 %>
	<% if student_attendance_percent >= 0 and student_attendance_percent < 60 %>
	<% student_attendance_mark = 0 %>	
	<% elsif student_attendance_percent >= 60 and student_attendance_percent < 71 %>
	<% student_attendance_mark = 3 %>	
	<% elsif student_attendance_percent >= 71 and student_attendance_percent < 80 %>
	<% student_attendance_mark = 4 %>	
	<% elsif student_attendance_percent >= 80 %>
	<% student_attendance_mark = 5 %>	
	<% end %>
  <% end %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/bncd/header" %>
     
      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td>
              <td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td>
              <td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td>
              <td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td>
              <td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="even">
              <% group_split = @batch.course.group.split(" ") %>
              <% unless group_split[2].blank? %>
                <% group_split[0] = group_split[0]+" "+group_split[1] %>
              <% end %>
              <% 
                if !@batch.course.group.blank? && !@batch.course.group.index("--").nil? 
                  group_split[0] = ""
                end 
              %>
              <td class="align-right col-pdf" width="20%">Group </td>
              <td class="align-left"><%= group_split[0] %></td>
              <td class="align-right col-pdf" width="20%" >Category </td>
              <td class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>
      <div class="grade_information">
          <%= render  :partial=>"/connect_exam/bncd/gradding_level" %>
      </div>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <% full_mark_of_allexam = 0 %>
                  <% total_grade_of_allexam = 0 %>
                  <tr class="even header-shade">
                      <td class="col-pdf no-warp  align-left-baf" rowspan="2"><b><%= "SUBJECTS" %></b></td>
                      <td class="col-pdf" colspan="2"><b>Quiz Test</b></td>
                      <td class="col-pdf" colspan="2"><b>Pre-Test</b></td>
                      <td class="col-pdf" rowspan="2"><b>Att.</b></td>
                      <td class="col-pdf" rowspan="2"><b>Total(100)</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                      <td class="col-pdf" rowspan="2"><b>Grade Point</b></td> 
                  </tr>
                  <tr class="even header-shade">
                      <td class="col-pdf"><b>CQ</b></td>
                      <td class="col-pdf"><b>MCQ</b></td>
                      <td class="col-pdf"><b>CQ</b></td>
                      <td class="col-pdf"><b>MCQ</b></td>
                  </tr>
                  
                  <% sl = 0 %>
                  <% failed = false %>
                  <% unless @report_data['report']['subjects'].blank? %>
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% total_mark = 0 %>
                      <% obtain_mark = 0 %>
                      
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                         <% next %>
                      <% end %>
                      <% sl = sl+1 %>
                      <% subject_failed = false %>

                      <%
                      mcq = 0
                      mcq_total = 0
                      cq = 0
                      cq_total = 0
                      att = 0
                      %>

                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'].gsub(" 1st Paper","") %></td>
                            <% unless @report_data['report']['exams'].blank? %>  
                                <% @report_data['report']['exams'].each do |report| %>
                                  <% exam_marks = 0 %>
                                  <% exam_full_marks = 0 %>   
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>  
                                    <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                    <% exam_marks = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                    <% if report['exam_category'] == '3' %>
                                      <% cq = cq+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
			      	      <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %></td>	
                                    <% elsif report['exam_category'] == '4' %>
                                      <% mcq = mcq+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
			      	      <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %></td>	
                                    <% else %>
                                      <% att = att+student_attendance_mark.to_i %>
			      	      <td class="col-pdf"><%= student_attendance_mark.to_i %></td>	
                                    <% end %>
                                  <% else %>
                                    <td class="col-pdf">-</td>
                                  <% end %>   
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% total_mark = total_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                    <% exam_full_marks = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                    <% if report['exam_category'] == '3' %>
                                      <% cq_total = cq_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                    <% end %>
                                    <% if report['exam_category'] == '4' %>
                                      <% mcq_total = mcq_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                    <% end %>
                                  <% end %>
			      
                                  <%
                                  if exam_full_marks > 0
                                    if exam_full_marks == 20 && exam_marks < 7
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 10 && exam_marks < 4
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 50 && exam_marks < 17
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 25 && exam_marks < 8
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 5 && exam_marks < 2
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 70 && exam_marks < 23
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 70 && exam_marks < 23
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 30 && exam_marks < 10
                                      subject_failed = true
                                      failed = true
                                    end
                                    if exam_full_marks == 100 && exam_marks < 33
                                      subject_failed = true
                                      failed = true
                                    end
                                  end
                                  
                                  %>



                                <% end %>
                            <% end %>
                            <%
                              if mcq_total > 0 && mcq > 0
                                if mcq_total == 35 or mcq_total == 40
                                  mcq = (mcq.to_f/mcq_total.to_f)*25
                                  mcq = mcq.round()
                                end
                              end
                              if cq_total > 0 && cq > 0
                                if cq_total == 90
                                  cq = (cq.to_f/cq_total.to_f)*70
                                  cq = cq.round()
                                end
                                if cq_total == 130
                                  cq = (cq.to_f/cq_total.to_f)*95
                                  cq = cq.round()
                                end
                              end
                              main_mark = cq+mcq+att
                            %>
                            <td class="col-pdf"><%= main_mark %></td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
			      <%= exam_full_marks.to_s + "  " + exam_marks.to_s  + "  " + subject_failed.to_s + "  " + grade.name.to_s + " " + grade.credit_points.to_s %><br />
			      
                            <% if !grade.blank? and !grade.name.blank? %>
                              <% if subject_failed == true %>
                                <%
                                grade.name = "F"
                                grade.credit_points = 0.00
                                %>
                              <% end %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <td class="col-pdf"><%= grade.credit_points %></td>
                              <% total_grade_of_allexam = total_grade_of_allexam+grade.credit_points %>
                            <% else %>
                              <td class="col-pdf">-</td>
                              <td class="col-pdf">-</td>
                            <% end %>  
                            <% total_mark_of_allexam = total_mark_of_allexam+main_mark %>
                            <% full_mark_of_allexam = full_mark_of_allexam+100 %>
                      </tr>
                    <% end %>
                  
                  <% end %>
              
                  
                  <tr class="even" >
                    <td class="col-pdf  no-warp align-right" colspan="6"><b>GRAND TOTAL</b></td>
                    <td class="col-pdf  no-warp"><b><%= total_mark_of_allexam %></b></td>
                    <td class="col-pdf  no-warp"></td>
                    <td class="col-pdf  no-warp"></td>
                  </tr>
                  
              </table>
              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <tr class="even">
                    <td class="col-pdf  no-warp align-center" colspan="2"><b>Position in Merit List</b></td>
                         
                  </tr>
                  <tr class="even">
                    <td class="col-pdf  no-warp align-left-baf">&nbsp;Section</td>
                    <td class="col-pdf  no-warp align-left-baf">&nbsp;
                          <% if !@student_position_batch[@student.id.to_i].blank? %> 
                            <%= @student_position_batch[@student.id.to_i] %> out of <%= @total_std_batch %>
                          <% else %>
                            -
                          <% end %>
                    </td>     
                  </tr>
                  <tr class="even">
                    <td class="col-pdf  no-warp align-left-baf">&nbsp;Group</td>
                     <td class="col-pdf  no-warp align-left-baf">&nbsp;
                          <% if !@student_position[@student.id.to_i].blank? %> 
                            <%= @student_position[@student.id.to_i] %> out of <%= @total_std %>
                          <% else %>
                            -
                          <% end %>
                    </td>   
                  </tr>
              </table>
              <div class='fine'></div>
              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                <tr class="even align-left-baf"><td>&nbsp;Remarks : <% if !@student_position_batch[@student.id.to_i].blank? %> Passed <% else %> Failed <% end %>  </td></tr>  
              </table>
              <div class='fine'></div>
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

                  <tr class="even border-bottom-1-px">
                      <td class="col-pdf " width="33%">
                          <br/><br/><br/>
                      </td> 
                      <td class="col-pdf" width="33%">
                          <br/><br/><br/>
                      </td>
                      <td class="col-pdf" width="33%">
                          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/bncd/principal-sig.png")), :width=>"50%" %>
                      </td> 
                    
                  </tr>
                  <tr class="even">

                      <td class="col-pdf" width="33%">
                          Class Teacher's Sign & Date
                      </td>
                      <td class="col-pdf " width="33%">
                          Guardian's Sign & Date
                      </td>
                      <td class="col-pdf " width="33%">
                          Principal's Sign & Date
                      </td> 

                  </tr>

              </table> 
              
          </div>
      </div>



  </div>


<%= stylesheet_link_tag 'list_table' %>


  <style>


    div.baf_shaheen
    {
        border:none;
    }
    .baf_shaheen td.align-right
    {
        text-align: right !important;
    }
    .baf_shaheen td.align-left
    {
        text-align: left !important;
    }
    .baf_shaheen table.tbl-lign-left tr.even td,.baf_shaheen table.tbl-lign-left tr.odd td
    {
        font-weight: normal !important;
        padding: 7px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100 tr.even td,.baf_shaheen table.tbl-lign-left-100 tr.odd td
    {
        font-weight: normal !important;
        padding: 7px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100
    {
        float:left !important;
        width: 99.8% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen table.tbl-lign-left
    {
        float:left !important;
        width: 52% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen div.grade_information
    {
        margin-left:3%;
        float:left;
        width: 34.7%;
        font-size: 14px;

    }
    .baf_shaheen div.grade_information table#pdf-table tr.even td
    {
        padding: 8px !important;
    }
    div.baf_shaheen h2
    {
        font-weight: normal !important;
        font-size: 32px !important;
    }
    div.baf_shaheen table.top-left-center
    {
        float:left !important;
        margin-top:30px !important;
        margin-left: 4% !important;
        width: 90% !important;
    }
    
    div.baf_shaheen tr.odd td
    {
        padding: 2px 10px !important; 
        border: 1px solid #000000;
        font-size:21px;
    }
    div.baf_shaheen tr.even td
    {
        padding: 2px 10px !important;
        border: 1px solid #000000;
        font-size:21px;
    }
    div.baf_shaheen table#pdf-table tr.header-shade td
    {
        padding: 2px 3px !important;
    }

    .top-margin-20
    {
        margin-top:30px !important;
    }
    .letter-grade tr td
    {
        font-size: 21px !important;
    }
    div.baf_shaheen table#pdf-table tr.header-shade
    {
        background: #e8e9ed !important;
    }
    div.baf_shaheen div.fine
    {
        float:left;
        clear:both;
        margin-top:40px;
        margin-bottom:20px;
        margin-left: 4% !important;
        width: 90% !important
    }
    .letter-grade tr td.font-size-45
    {
        font-size:45px !important;
    }
    .page-break-grade td{
        height: 0px;
        border: 1px solid #fff;
        border-top: 1px solid Black;
        border-bottom: 1px solid Black;
    }
    


</style>     
     
