
  <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen">
      <%= render  :partial=>"/connect_exam/bncd/header" %>
     
      <table id="pdf-table" class="tbl-lign-left" width="52%" cellspacing="0">
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Student ID </td>
              <td colspan="3" class="align-left"><b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf col-pdf" width="20%">Name </td>
              <td colspan="3" class="align-left"><%= @student.full_name.upcase %></td>
          </tr>
          <tr class="even">
              <td class="align-right" width="20%">Roll </td>
              <td colspan="3" class="align-left"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="odd">
              <td class="align-right col-pdf" width="20%">Class/Program </td>
              <td colspan="3" class="align-left"><b><%= @batch.course.course_name %></b></td>
          </tr>
           
          <tr class="even">
              <td class="align-right col-pdf" width="20%">Section </td><td class="align-left"><%= @batch.course.section_name %></td>
              <% batch_split = @batch.name.split(" ") %>
              <td class="align-right col-pdf" width="20%" >Shift </td><td class="align-left"><%= batch_split[0] %></td>   
          </tr>
          <tr class="even">
              <% group_split = @batch.course.group.split(" ") %>
              <% unless group_split[2].blank? %>
                <% group_split[0] = group_split[0]+" "+group_split[1] %>
              <% end %>
              <% 
                if !@batch.course.group.blank? && !@batch.course.group.index("--").nil? 
                  group_split[0] = ""
                end 
              %>
              <td class="align-right col-pdf" width="20%">Group </td>
              <td class="align-left"><%= group_split[0] %></td>
              <td class="align-right col-pdf" width="20%" >Category </td>
              <td class="align-left"><%= @student.student_category.name unless @student.student_category.blank? %></td>
          </tr>
      </table>
      <div class="grade_information">
          <%= render  :partial=>"/connect_exam/bncd/gradding_level" %>
      </div>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <% full_mark_of_allexam = 0 %>
                  <% total_grade_of_allexam = 0 %>
                  <% colspan = 0%>
                  <tr class="even header-shade">
                      <td class="col-pdf" rowspan="2">
                          <b>Sl.</b>
                      </td>
                      <td class="col-pdf no-warp  align-left-baf" rowspan="2"><b><%= "SUBJECTS" %></b></td>
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <% colspan = colspan+1 %>
                          <td class="col-pdf"><%= report['exam_name'] %></td>
                        <% end %>
                      <% end %> 
                      
                      <td class="col-pdf"><b>Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                  </tr>
                  <% first_exam_mark = 0 %>
                  <% unless @report_data['report']['exams'].blank? %>
                    <% @report_data['report']['exams'].each do |report| %>
                      <% first_exam_mark = @exam_marks[report['exam_id'].to_s].to_i %>
                      <% break %>
                    <% end %>
                  <% end %>

                  <tr class="table-header">
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <td class="col-pdf"><%= @exam_marks[report['exam_id'].to_s] %></td>
                        <% end %>
                      <% end %>   
                    <td class="col-pdf">100</td> 
                  </tr> 
                  
                  <% sl = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %>
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% total_mark = 0 %>
                      <% obtain_mark = 0 %>
                      
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                         <% next %>
                      <% end %>
                      <% sl = sl+1 %>
                      <% rowspan = 1 %>
                      <% unless @report_data['report']['exams'].blank? %>  
                          <% @report_data['report']['exams'].each do |report| %> 
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                  <% if report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i != first_exam_mark %>
                                    <% rowspan = 2 %>
                                  <% end %>
                                <% end %>
                          <% end %>
                      <% end %>          
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf  no-warp" rowspan="<%= rowspan %>"><%= sl %></td>
                            <td class="col-pdf  no-warp align-left-baf" rowspan="<%= rowspan %>"><%= subjects['name'] %></td>
                            <% loop_value = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                                <% @report_data['report']['exams'].each do |report| %> 
                                  <% loop_value = loop_value+1 %> 
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>  
                                    <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                    <% if loop_value > 2 || rowspan == 1  %>
                                    <td class="col-pdf" rowspan="<%= rowspan %>"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %></td>
                                    <% else %>
                                    <td class="col-pdf">Subjecttive (50)</td>
                                  <% end %>   
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% total_mark = total_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                <% end %>
                            <% end %>
                            <%
                              main_mark = (obtain_mark.to_f/total_mark.to_f)*100
                            %>
                            <td class="col-pdf" rowspan="<%= rowspan %>"><%= main_mark %></td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf" rowspan="<%= rowspan %>"><%= grade.name %></td>
                              <% total_grade_of_allexam = total_grade_of_allexam+grade.credit_points %>
                            <% else %>
                              <td class="col-pdf" rowspan="<%= rowspan %>">-</td>
                            <% end %>  
                            <% total_mark_of_allexam = total_mark_of_allexam+obtain_mark %>
                            <% full_mark_of_allexam = full_mark_of_allexam+total_mark %>
                      </tr>
                      <% if rowspan == 2 %>
                        <% loop_value = 0 %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>
                                <% loop_value = loop_value+1 %>
                                <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                  <% if loop_value < 3  %>
                                    <td class="col-pdf" ><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %></td>
                                  <% end %>
                                <% end %>
                            <% end %>
                          <% end %> 
                        </tr>
                      <% end %>
                    <% end %>
                  
                  <% end %>
              
                  <% colspan = colspan+2 %>
                  <tr class="even" >
                    <td class="col-pdf  no-warp align-right" colspan="<%= colspan %>"><b>GRAND TOTAL</b></td>
                    <td class="col-pdf  no-warp"><b><%= total_mark_of_allexam %></b></td>
                    <td class="col-pdf  no-warp"></td>
                    <td class="col-pdf  no-warp"></td>
                  </tr>
                  
              </table>
              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <tr class="even">
                    <td class="col-pdf  no-warp align-center" colspan="2"><b>Position in Merit List</b></td>
                         
                  </tr>
                  <tr class="even">
                    <td class="col-pdf  no-warp align-left-baf">&nbsp;Section</td>
                    <td class="col-pdf  no-warp align-left-baf">&nbsp;
                          <% if !@student_position_batch[@student.id.to_i].blank? %> 
                            <%= @student_position_batch[@student.id.to_i] %> out of <%= @total_std_batch %>
                          <% else %>
                            -
                          <% end %>
                    </td>     
                  </tr>
                  <tr class="even">
                    <td class="col-pdf  no-warp align-left-baf">&nbsp;Group</td>
                     <td class="col-pdf  no-warp align-left-baf">&nbsp;
                          <% if !@student_position[@student.id.to_i].blank? %> 
                            <%= @student_position[@student.id.to_i] %> out of <%= @total_std %>
                          <% else %>
                            -
                          <% end %>
                    </td>   
                  </tr>
              </table>
              <div class='fine'></div>
              <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                <tr class="even align-left-baf"><td>&nbsp;Remarks : <% if !@student_position_batch[@student.id.to_i].blank? %> Passed <% else %> Failed <% end %>  </td></tr>  
              </table>
              <div class='fine'></div>
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

                  <tr class="even border-bottom-1-px">
                      <td class="col-pdf " width="33%">
                          <br/><br/><br/>
                      </td> 
                      <td class="col-pdf" width="33%">
                          <br/><br/><br/>
                      </td>
                      <td class="col-pdf" width="33%">
                          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/bncd/principal-sig.png")), :width=>"50%" %>
                      </td> 
                    
                  </tr>
                  <tr class="even">

                      <td class="col-pdf" width="33%">
                          Class Teacher's Sign & Date
                      </td>
                      <td class="col-pdf " width="33%">
                          Guardian's Sign & Date
                      </td>
                      <td class="col-pdf " width="33%">
                          Principal's Sign & Date
                      </td> 

                  </tr>

              </table> 
              
          </div>
      </div>



  </div>


<%= stylesheet_link_tag 'list_table' %>


  <style>


    div.baf_shaheen
    {
        border:none;
    }
    .baf_shaheen td.align-right
    {
        text-align: right !important;
    }
    .baf_shaheen td.align-left
    {
        text-align: left !important;
    }
    .baf_shaheen table.tbl-lign-left tr.even td,.baf_shaheen table.tbl-lign-left tr.odd td
    {
        font-weight: normal !important;
        padding: 7px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100 tr.even td,.baf_shaheen table.tbl-lign-left-100 tr.odd td
    {
        font-weight: normal !important;
        padding: 7px !important; 
    }
    .baf_shaheen table.tbl-lign-left-100
    {
        float:left !important;
        width: 99.8% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen table.tbl-lign-left
    {
        float:left !important;
        width: 52% !important;
        margin-left: 4% !important;
    }
    .baf_shaheen div.grade_information
    {
        margin-left:3%;
        float:left;
        width: 34.7%;
        font-size: 14px;

    }
    .baf_shaheen div.grade_information table#pdf-table tr.even td
    {
        padding: 8px !important;
    }
    div.baf_shaheen h2
    {
        font-weight: normal !important;
        font-size: 32px !important;
    }
    div.baf_shaheen table.top-left-center
    {
        float:left !important;
        margin-top:30px !important;
        margin-left: 4% !important;
        width: 90% !important;
    }
    
    div.baf_shaheen tr.odd td
    {
        padding: 2px 10px !important; 
        border: 1px solid #000000;
        font-size:21px;
    }
    div.baf_shaheen tr.even td
    {
        padding: 2px 10px !important;
        border: 1px solid #000000;
        font-size:21px;
    }
    div.baf_shaheen table#pdf-table tr.header-shade td
    {
        padding: 2px 3px !important;
    }

    .top-margin-20
    {
        margin-top:30px !important;
    }
    .letter-grade tr td
    {
        font-size: 21px !important;
    }
    div.baf_shaheen table#pdf-table tr.header-shade
    {
        background: #e8e9ed !important;
    }
    div.baf_shaheen div.fine
    {
        float:left;
        clear:both;
        margin-top:40px;
        margin-bottom:20px;
        margin-left: 4% !important;
        width: 90% !important
    }
    .letter-grade tr td.font-size-45
    {
        font-size:45px !important;
    }
    .page-break-grade td{
        height: 0px;
        border: 1px solid #fff;
        border-top: 1px solid Black;
        border-bottom: 1px solid Black;
    }
    


</style>     
     