<% unless @report_data.blank?  or  @report_data['report'].blank? %>
                    <table id="pdf-table" class="top-left-center" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_mark_of_allexam = 0 %>
                  <% full_mark_of_allexam = 0 %>
                  <% total_grade_of_allexam = 0 %>
                  <% total_subject = 0 %>
                  <% colspan = 0%>
                  <tr class="even header-shade">
                      <td class="col-pdf" rowspan="2">
                          <b>Sl.</b>
                      </td>
                      <td class="col-pdf no-warp  align-left-baf" rowspan="2"><b><%= "SUBJECTS" %></b></td>
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <% colspan = colspan+1 %>
                          <td class="col-pdf" rowspan="2"><%= report['exam_name'] %></td>
                        <% end %>
                      <% end %> 
                      <td class="col-pdf" rowspan="2"><b>Total</b></td>
                      <td class="col-pdf"><b>Conv. Marks</b></td>
                      <td class="col-pdf" rowspan="2"><b>Letter Grade</b></td>
                  </tr>

                  <tr class="even header-shade">
                       
                      <td class="col-pdf">100</td> 
                  </tr> 
                  
                  <% sl = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %>
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i == 1 %>
                        <% next %>
                      <% end %>
                      <% total_mark = 0 %>
                      <% obtain_mark = 0 %>
                      
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                         <% next %>
                      <% end %>
                      <% sl = sl+1 %>
                        
                      <% total_subject = total_subject+1 %>       
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf  no-warp"><%= sl %></td>
                            <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'] %></td>
                            <% loop_value = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                                <% @report_data['report']['exams'].each do |report| %> 
                                  <% loop_value = loop_value+1 %> 
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>  
                                    <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                   
                                    <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %></td>
                                    
                                  <% else %>
                                        <td class="col-pdf"> - </td>
                                  <% end %>   
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% total_mark = total_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                <% end %>
                            <% end %>
                            <%
                              main_mark = (obtain_mark.to_f/total_mark.to_f)*100
                            %>
                            <td class="col-pdf"><%= obtain_mark.to_i %></td>
                            <td class="col-pdf"><%= main_mark.round().to_i %></td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf"><%= grade.name %></td>
                              <% total_grade_of_allexam = total_grade_of_allexam+grade.credit_points %>
                            <% else %>
                              <td class="col-pdf">-</td>
                            <% end %>  
                            <% total_mark_of_allexam = total_mark_of_allexam+obtain_mark %>
                            <% full_mark_of_allexam = full_mark_of_allexam+total_mark %>
                      </tr>
                     
                    <% end %>
                  
                  <% end %>

                  <% if total_grade_of_allexam > 0 && total_subject > 0 %>
                      <% grade_point_avg = total_grade_of_allexam.to_f/total_subject.to_f %>
                      <% if grade_point_avg > 5 %>
                        <% grade_point_avg = 5.00 %>
                      <% end %>
                       <% grade = GradingLevel.grade_point_to_grade(grade_point_avg, @batch.id) %>
                  <% end %> 
              
                  <% colspan = colspan+2 %>
                  <tr class="even" >
                    <td class="col-pdf  no-warp align-right" colspan="<%= colspan+1 %>"><b>GRAND TOTAL</b></td>
                    <td class="col-pdf  no-warp"><b><%= total_mark_of_allexam %></b></td>
                    <% if !@student_position_batch[@student.id.to_i].blank? %>
                      <td class="col-pdf  no-warp"><%= grade.name %></td>
                    <% else %>
                      <td class="col-pdf  no-warp">F</td>
                    <% end %>
                  </tr>

                  <tr class="page-break-grade">
                     <td colspan="100"></td>
                  </tr> 

                  <% unless @report_data['report']['subjects'].blank? %>
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% if subjects['grade_subject'].to_i != 1 %>
                        <% next %>
                      <% end %>
                      <% total_mark = 0 %>
                      <% obtain_mark = 0 %>
                      
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                         <% next %>
                      <% end %>
                      <% sl = sl+1 %>
                        
                      <% total_subject = total_subject+1 %>       
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <td class="col-pdf  no-warp"><%= sl %></td>
                            <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'] %></td>
                            <% loop_value = 0 %>
                            <% unless @report_data['report']['exams'].blank? %>  
                                <% @report_data['report']['exams'].each do |report| %> 
                                  <% loop_value = loop_value+1 %> 
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>  
                                    <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                    
                                  <% else %>
                                        
                                  <% end %>   
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% total_mark = total_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% end %>
                                <% end %>
                            <% end %>
                            <%
                              main_mark = (obtain_mark.to_f/total_mark.to_f)*100
                            %>
                            <td class="col-pdf"  colspan="<%= colspan+1 %>"></td>
                            <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf"><%= grade.name %></td>
                            <% else %>
                              <td class="col-pdf">-</td>
                            <% end %>  
                      </tr>
                     
                    <% end %>
                  
                  <% end %>
                  
              </table>
                
                
<% end %>