<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('exams_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('create_exam') %></div>
<div id="inner-tab-menu">
  <ul>
    <% if permitted_to? :previous_batch_exams, :exam %>
      <li class='themed_bg themed-dark-hover-background' style="display: none;"><%= link_to "#{t('previous_batch_exam')}", {:controller => "exam", :action => "previous_batch_exams"} %></li>
    <% end %>
    <% unless @show_class_exam %>   
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('exams_text'), :controller => "exam", :action => "create_exam" %></li>
    <% else %>
        <li class='themed_bg themed-dark-hover-background'><%= link_to t('single_batch_exam'), :controller => "exam", :action => "create_exam", :show_class => true %></li>
    <% end %>  
  </ul>
    

</div>
</div>


<div id="page-yield">
  
  <div id="flash-box">   
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
  </div>
    
  <div class="box">
    <% unless @show_class_exam  %>  
      <% if @batches.length > 1 %>
        <h4 align="center"><%= t('batches_available_text') %></h4>  
        <ul id="category-list">
            <% @batches.each do |batch| %>
            <li class="list<%=cycle('odd', 'even')%>" style="width: 100%;">
                  <div id="save_batches_<%= batch.id %>" class="category-name" style="text-align: center; width: 88%;">
                    <%= link_to_remote(batch.name,
                      :url => { :controller=>"courses",:action => 'get_batches_classes', :id =>batch.id, :name => batch.name, :for_exam => true},
                      :method => 'get', :before => "$('loading_" + batch.id.to_s + "').show();", 
                      :complete => "$('loading_" + batch.id.to_s + "').hide();" ) %>  
                  </div>
                  <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_" + batch.id.to_s, :style =>"display: none;  float: left;" ) %>
              </li>
            <% end %>
        </ul>
      <% end %>
      <div id="class_info" ></div>

      <div id="modal-box" style="display:none;"></div>
      <div id="update_batch" ><%= render :partial=>'courses/class_info' %></div>
      <div class="extender"></div>
    <% else %>
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_a_course') %>:
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :batch, :id,
            Course.active_courses.map {|c| [c.course_name, c.course_name] },
            {:include_blank => t('select_a_course')},
            {:onchange => "#{remote_function(
            :url => { :action => 'redirect_exam' },
            :with => "'course_name='+value",
            :before => "Element.show('loader')",
            :complete => "success_load()"  )}"} %>
        </div>
      </div>
      <div id="batch_and_exam" style="display: none;"></div>
    <% end %>
  </div></div>
<%= stylesheet_link_tag("/stylesheets/courses/manage_batches.css")   %>
<script type="text/javascript">
  function success_load()
  {
    var batch_id = parseInt(j.trim(j("#batch_and_exam").html()));
    window.location.href = '/batches/' + batch_id + '/exam_groups?class_exam=true&batch_exam=true'
  }
</script>