<p>&nbsp;</p>
<div id="pdf-header-south" class="general-header potrait_header_south_point text-color-dart-red">
    <table width="100%">
        
        <td class="south-logo"><span><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/logo.jpg")),:width=> '100%' %></span></td>
        
        <td class="name-td">
              <h3 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navy Anchorage School And College Dhaka</h3>
              <h5 align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @connect_exam_obj.name %> - <%=  @connect_exam_obj.published_date.strftime("%Y") %></h5>
              <h5 align="center">&nbsp;&nbsp;&nbsp;&nbsp;</h5>
               
        </td>
        <td class="south-logo"><span><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/mujib.jpeg")),:width=> '130%' %></span></td>
    </table>   
</div>
<div id="pdf-header-south" class="general-header potrait_header_south_point">
    <td>
      <% unless @batch.course.course_name.upcase.index("PLAY").nil? %>
      <h4 align="center">Play</h4>
      <h4 align="center">&nbsp;</h4>
      <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/play.jpg")),:width=> '90%' %></h4>
      <% end %>
      <% unless @batch.course.course_name.upcase.index("NURSERY").nil? %>
      <h4 align="center">Nursery</h4>
      <h4 align="center">&nbsp;</h4>
      <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/nursury.jpg")),:width=> '90%' %></h4>
      <% end %>
      <% unless @batch.course.course_name.upcase.index("KG").nil? %>
      <h4 align="center">KG</h4>
      <h4 align="center">&nbsp;</h4>
      <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/kg.jpg")),:width=> '90%' %></h4>
      <% end %>
    </td>
</div>    

<div class="page-break-main"></div>