<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <%= render  :partial=>"/connect_exam/nascd/header_3" %>
   <% father = mother = Guardian.new %>
    <% if @studenttypes[@student.id] %>
       <% @guardiansdata = @student.archived_guardians %>
    <% else %>
      <% @guardiansdata = @student.guardians %>
    <% end %>
    <% unless @guardiansdata.empty? %>
      <% g_loop = 0 %>
      <%- @guardiansdata.each do |p| -%>
        <% if g_loop == 0 %>
          <% father = p %>
        <% end %>
        <% if g_loop == 1 %>
          <% mother = p %>
        <% end %>
        <% g_loop = g_loop+1 %>
      <% end %>
    <% end %>
  <div id="page-yield"  class="available_sections1 sjis-new sfx">
      <table id="pdf-table" class="margin-top-bottom-20 td-all-align-left" width="99.8%" cellspacing="0">
          <tr class="table-header">
              <td width="20%">Student's Name</td><td width="40%" class="align-left-baf"><%= @student.full_name %></td>
              <td width="10%">Section</td><td width="12%"><%= @batch.course.section_name %></td>
              <td width="6%">Roll</td><td width="12%"><%= @student.class_roll_no %></td>
          </tr>
          <tr class="table-header">
              <td width="20%">Class Teacher</td>
              <td width="40%" class="align-left-baf">
              <% unless @assigned_employee.blank? %>
                  <% @assigned_employee.each do |emp| %>
                      <% emp_full_name = emp.first_name.to_s+" "+emp.last_name.to_s  %>
                      <b><%= emp.first_name %>&nbsp;<%= emp.last_name %></b>
                    <% break %>
                  <% end %>
                <% end %>        
              </td>
              <td width="10%">Cell No</td>
              <td width="30%" colspan="3">
              <% unless @assigned_employee.blank? %>
                  <% @assigned_employee.each do |emp| %>
                      <% emp_full_name = emp.first_name.to_s+" "+emp.last_name.to_s  %>
                      <b><%= emp.mobile_phone %></b>
                    <% break %>
                  <% end %>
                <% end %>    
              </td>
          </tr>

      </table>
      <h2>&nbsp;</h2>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">



              <table id="pdf-table" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  
                   <tr class="table-header">
                       <td class="col-pdf no-warp" rowspan="2"><b><%= "Subject" %></b></td>
                       <td class="col-pdf" colspan="2" ><b>Allotted Marks</b></td>
                       <td class="col-pdf" colspan="3" ><b>Obtained Marks</b></td>
                       <td class="col-pdf" colspan="2" ><b>Grade</b></td>
                   </tr>
                    <tr class="table-header">
                        
                        <% unless @report_data['report']['exams'].blank? %>
                          <% @report_data['report']['exams'].each do |report| %>
                            <td class="col-pdf"><b><%= report['exam_name'] %></b></td>
                          <% end %>
                        <% end %> 
                        <% unless @report_data['report']['exams'].blank? %>
                          <% @report_data['report']['exams'].each do |report| %>
                            <td class="col-pdf"><b><%= report['exam_name'] %></b></td>
                          <% end %>
                        <% end %> 
                        <td class="col-pdf"><b>Total</b></td>
                        <td class="col-pdf">Point</td>
                        <td class="col-pdf">Letter</td>
                    </tr>
                    
                 
                  <% total_mark = 0 %>
                  <% full_mark = 0 %>
                  <% total_grade = 0 %>
                  <% total_subject = 0 %>
                  <% falied = false %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                        <% next %>
                      <% end %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                      <% if !@std_subject_hash_type.blank? %>
                        <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                          <% next %>
                        <% end %>
                      <% end %>
                      <% total_subject = total_subject+1 %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% max_mark = 0 %>
                          <% obtain_mark = 0 %>
                          <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %></td>
                                <% max_mark = max_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% else %>
                                <td class="col-pdf">-</td>
                              <% end %>  
                            <% end %>
                          <% end %>
                          <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                <td class="col-pdf"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %></td>
                                <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                              <% else %>
                                <td class="col-pdf">-</td>
                              <% end %>  
                            <% end %>
                          <% end %>
                          <% obtain_mark = obtain_mark.round() %>
                          <td class="col-pdf"><%= obtain_mark.to_i %></td>
                          


                          <%
                            main_mark = 0
                            if obtain_mark > 0
                              main_mark = (obtain_mark.to_f/max_mark.to_f)*100
                              end
                            grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                            highest_mark = 0
                            if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                              highest_mark = @subject_highest[subjects['id'].to_i].to_f
                            end
                          %>
                          <% if !grade.blank? and !grade.name.blank? %>
                            <%
                              if grade.credit_points.to_i == 0
                                falied = true
                              end
                            %>
                            <td class="col-pdf"><%= grade.credit_points %></td>
                            <td class="col-pdf"><%= grade.name %></td>
                            <% total_grade = total_grade+grade.credit_points.to_f %>
                          <% else %>
                            <td class="col-pdf">-</td>
                            <td class="col-pdf">-</td>
                          <% end %>
                          <% total_mark = total_mark+obtain_mark %>
                          <% full_mark = full_mark+max_mark %>
                      </tr>
                    <% end %>
                  <% end %>
                   
                  
                  <% grade_point_avg = 0 %>
                  <% if total_grade > 0 && total_subject > 0 %>
                    <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                    <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
                    <% grade_point_avg = grade_point_avg.to_f/100 %>
                    <% if grade_point_avg > 5 %>
                      <% grade_point_avg = 5.00 %>
                    <% end %>
                  <% end %>
                      
                  <% grade = GradingLevel.grade_point_to_grade(grade_point_avg, @batch.id) %>
                  <% if falied == true %>
                      <% grade_point_avg = 0 %>
                      <% grade.name = "F" %>
                  <% end %>
                      
                  <tr class="even">
                      <td class="col-pdf align-left-baf"></td>
                      <td class="col-pdf no-warp"  colspan="4"><b>Grand Total & GPA</b></td>
                      <td class="col-pdf no-warp"><b><%= total_mark %></b></td>
                      <td class="col-pdf"><b><%= grade_point_avg %></b></td>
                      <td class="col-pdf">
                        <% if !grade.blank? and !grade.name.blank? %>
                          <b><%= grade.name %></b>
                        <% end %>
                      </td>
                  </tr>
                      
                 

              </table>
              
              <h2>&nbsp;</h2>
              
              <table id="pdf-table"  width="100%" class="left-table break-table odd-table height-exam ev-table" cellspacing="0" >
                  <% if @grading_levels.blank? %>
                    <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
                    <% if @grading_levels.blank? %>
                      <% @grading_levels = GradingLevel.default %>
                    <% end %>
                  <% end %>
                  <tr class="table-header">
                      <td colspan="2" width="30%"><b>Gradding</b></td>
                      <td class='align-left-baf padding-0-text-left' rowspan="8">
                          <ul>
                              <li><p>We issue this report card to let you know our evaluation regarding the progress of your child.</p></li>
                              <li><p>At school, we consider each student as an individual who will develop intellectually, physically and
socially to his or her abilities and opportunities.</p></li> 
                              <li><p>Parents are always welcome to make an appointment to discuss about the progress of their children.</p></li>  
                          </ul>
                      </td>
                  </tr>
                  <tr class="table-header">
                      <td>Range</td>
                      <td>Letter</td>  
                  </tr>
                  <% prev_score = 0 %>
                  <% @grading_levels.each_with_index do |grade,index| %>
                    <tr class="table-header">
                        <td class="no-warp">
                            <% if grade.max_score.nil? %> 
                              <% if grade.min_score.to_i == 0 %>
                                <&nbsp;<%= '%i%' % prev_score %>
                              <% else %>
                                <%= '%i%' % grade.min_score %> 
                              <% end %>
                            <% else %> 
                              <%= grade.min_score.to_s + " - " + grade.max_score.to_s %>
                            <% end %>
                            <%  prev_score = grade.min_score %>
                        </td>
                        <td><%= grade.name %></td>
                    </tr> 
                  <% end %>  
              </table>
              <p>&nbsp;</p>
              <p>Final Result: </p>
              <h2>&nbsp;</h2>
              <table id="pdf-table"  width="100%" class="left-table break-table odd-table height-exam ev-table" cellspacing="0" >
                  <tr class="even">
                      <td width='50%'><br/><br/><br/></td>
                      <td width='50%'><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/nascd/sign_principal.jpeg")), :width=>"20%" %></td>  
                  </tr>
                  <tr class="even">
                      <td>Signature of the Class Teacher</td>
                      <td>Signature of the Principal</td>
                  </tr>
              </table>




          </div>
        <% end %>
        <%= stylesheet_link_tag 'list_table' %>
        <style>
            table.evaluation tr.border-bottom-1-px td.no-border
            {
                border-bottom: none !important;
            }
            .text-align-center
            {
                text-align: center;
            }
            .sfx margin-top-bottom-50
            {
                margin: 50px !important;
            }
            .sfx .margin-top-50
            {
                margin-top: 50px !important;
            }

            .sfx
            {
                font-family: serif;
            }
            sfx  .table-header td{
                color: #000;
                font-weight: bold;
            }
            .sjis-new .left-table.small_table
            {
                float:left;
                margin:20px 0px 20px 10px !important;
            }
            .sjis-new .left-table.ev-table
            {
                float:left;
                margin:20px 0px 20px 20px !important;
            }

            .sfx .left-table
            {
                float:left;
            }
            .sfx .right-table
            {
                float:left;
                margin-left:21px;
            }
            .sfx td.remarks_code_table2
            {
                text-align: left;
                font-size:14px;
            }
            .sfx td.remarks_code_table
            {
                text-align: left;
                font-size:17px;
            }
            .sfx td.remarks_code_table span
            {
                float:left;
            }
            .sfx td.remarks_code_table table
            {
                float:left;
                clear:both;
                text-align: left;
                border:none;

            }
            .sfx td.remarks_code_table table tr
            {
                border:none;
            }
            .sfx td.remarks_code_table table tr td
            {
                border:none;
                padding: 2px 2px 2px 0px;
                text-align: left;
                font-size:17px;
            }
            .no-warp
            {
                white-space: nowrap !important;
            }
            .sfx table.td-align-left td
            {
                text-align: left;
            }
            .sfx table.text-size-18 tr td
            {
                font-size: 17px; 
            }


            .sfx table td.td-align-left
            {
                text-align: left;
            }

            .sfx table td.td-align-right
            {
                text-align: right;
            }
            .sjis table td.border-left-none{
                border-left: 1px solid #000000 !important; 
            } 
            .sjis table td.border-right-none{
                border-right: 1px solid #000000 !important;  
            }
            div.sjis-new
            {
                border: none;
            }

            .sfx table#pdf-table.break-table
            {
                clear: both !important;
                margin-left: 0px !important;
            }


            .sjis-new .table_1 tr.odd td
            {
                padding: 2px !important;  
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_1 tr.even td
            {
                padding: 2px !important;  
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_2 tr.odd td
            {
                padding: 5px !important; 
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_2 tr.even td
            {
                padding: 5px !important; 
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_3 tr.odd td
            {
                padding: 5px 5px 6px 5px  !important;  
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_3 tr.even td
            {
                padding: 5px 5px 6px 5px  !important; 
                border: 1px solid #000000;
                font-size:19px;
            }

            .sjis-new .table-padding-big tr.even td
            {
                padding: 14px  !important;
            }

            .sjis-new table.margin-top-bottom-20
            {
                margin: 5px 0px !important;
            }
            .sjis-new tr.table-header td.padding-0-text-left
            {
               padding: 5px !important;
               text-align: left !important;
            }
            .sjis-new tr.table-header td.padding-0-text-left ul li
            {
               text-align: left !important;
               font-size:19px;
            }
            .sjis-new tr.table-header td.padding-0-text-left ul
            {
               text-align: left !important;
            }
            
            


        </style>    
