<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <%= render  :partial=>"/connect_exam/nascd/header_2" %>
  <div id="page-yield"  class="available_sections1 sjis-new sfx">
      <table id="pdf-table" class="margin-top-bottom-20" width="99.8%" cellspacing="0">
          <tr class="even">
              <td>Student's Name : <b><%= @student.full_name %></b></td>
              <td>Roll : <b><%= @student.class_roll_no %></b></td>
              <td>Section : <b><%= @batch.course.section_name %></b></td>
              <td>Group : <b><%= @batch.course.group %></b></td>
          </tr>

      </table>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">



              <table id="pdf-table" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>

                  <tr class="table-header">
                      <td colspan='8'><b>Subject Wise Grade Sheet<%#= @connect_exam_obj.name %></b></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf no-warp"><b><%= "Subject" %></b></td>

                      <% colspan_exam = 0 %>
                      <% unless @report_data['report']['exams'].blank? %>
                        <% @report_data['report']['exams'].each do |report| %>
                          <td class="col-pdf"><%= report['exam_name'] %></td>
                          <% colspan_exam = colspan_exam+1%>
                        <% end %>
                      <% end %> 
                      <% if @batch.course.course_name.upcase == "XII" %>
                      <td class="col-pdf no-warp"><b><%= "Subject Total <br />(P1 + P2)" %></b></td>
                      <td class="col-pdf no-warp"><b><%= "Percentage(%)" %></b></td>
                      <% else %>
                      <td class="col-pdf no-warp"><b><%= "Subject Total" %></b></td>
                      <% end %>
                      <td class="col-pdf no-warp" colspan="2"><b><%= "Letter Grade" %></b></td>
                      <% if @batch.course.course_name.upcase == "XII" %>
                      <td class="col-pdf no-warp"><b><%= "Grade Point" %></b></td>
                      <% else %>
                      <td class="col-pdf no-warp"><b><%= "GPA" %></b></td>
                      <% end %>

                  </tr>
                  <% total_mark = 0 %>
                  <% full_mark = 0 %>
                  <% total_grade = 0 %>
                  <% total_grade_without_optional = 0 %>
                  <% total_subject = 0 %>
                  <% last_full_mark = 0 %> 
                  <% last_mark = 0 %>
                  <% failed = false %>
                  <% pos = 1 %> 
                  <% mark_subject = 0 %> 
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                        <% next %>
                      <% end %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                      <% if !@std_subject_hash_type.blank? %>
                        <% if @std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                          <% next %>
                        <% end %>
                      <% end %>
                      <% total_subject = total_subject+1 %>
                      <% subject_failed = false %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% max_mark = 0 %>
                          <% obtain_mark = 0 %>
                          <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% max_mark = max_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                
                              <% end %>
                            <% end %>
                          <% end %>
                          <% exam_loop = 0 %> 
                          <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>

                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% last_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %>
                              
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                <% exam_loop = exam_loop+1 %> 
                                <% failed_class = "" %>
                                <% last_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                <% if exam_loop < 3 %>
                                    <%
                                    main_mark = 0
                                    if last_mark > 0
                                      main_mark = (last_mark.to_f/last_full_mark.to_f)*100
                                    end
                                    main_mark = main_mark.round()
                                    grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                                    if !grade.blank? and !grade.name.blank? 
                                          if grade.credit_points.to_i == 0
                                            subject_failed = true
                                            failed = true
                                            failed_class = "underscore" 
                                          end
                                    end
                                    %>
                                <% end %>   
                                <td class="col-pdf <%= failed_class%>"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %></td>
                                <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                 
                              <% else %>
                                <td class="col-pdf">-</td>
                              <% end %>  
                            <% end %>
                          <% end %>
                          <% obtain_mark = obtain_mark.round() %>
                          <% mark_subject = mark_subject + obtain_mark %>
                          <% if @batch.course.course_name.upcase == "XII" %>
                          <% if pos.even? %>
                          <td class="col-pdf" style="border-top: 1px solid #fff; position: relative; top: -20px;"><%= mark_subject %></td>
                          <%
                              mark_to_calculate = 90
                              if (!subjects['code'].downcase.index("ban").nil?)
                                mark_to_calculate = 105
                              elsif (!subjects['code'].downcase.index("eng").nil?)
                                  mark_to_calculate = 105
                              end
                              percentage = (mark_subject.to_f / mark_to_calculate.to_f) * 100
                          %>
                          <td class="col-pdf" style="border-top: 1px solid #fff; position: relative; top: -20px;"><%= "%.2f" % percentage %>%</td>
                          <% mark_subject = 0 %> 
                          <% else %> 
                          <td class="col-pdf" style="border-bottom: 1px solid #fff;"></td>
                          <td class="col-pdf" style="border-bottom: 1px solid #fff;"></td>
                          <% end %>
                          <% else %>
                          <td class="col-pdf"><%= obtain_mark %></td>
                          <% end %>
                          <% pos = pos + 1 %>  
                          <%
                          main_mark = 0
                          if obtain_mark > 0
                            main_mark = (obtain_mark.to_f/max_mark.to_f)*100
                          end
                          grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)

                          if subject_failed == true
                            if !grade.blank? and !grade.name.blank? 
                              grade.name = "F"
                              grade.credit_points = 0.00
                            end  
                          end
                          highest_mark = 0
                          if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                            highest_mark = @subject_highest[subjects['id'].to_i].to_f
                            end
                        %>
                          <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf" colspan="2"><%= grade.name %></td>
                            <td class="col-pdf"><%= grade.credit_points.to_f %></td>
                            <%
                            if grade.credit_points.to_i == 0
                                failed = true
                            end
                            %>
                            <% total_grade = total_grade+grade.credit_points.to_f %>
                          <% end %>
                          <% total_mark = total_mark+obtain_mark %>
                          <% full_mark = full_mark+max_mark %>
                      </tr>
                    <% end %>
                  <% end %>
                  <% grade_point_avg = 0 %>
                  <% if total_grade > 0 && total_subject > 0 %>
                    <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                    <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
                    <% grade_point_avg = grade_point_avg.to_f/100 %>
                    <% if grade_point_avg > 5 %>
                      <% grade_point_avg = 5.00 %>
                    <% end %>
                  <% end %>
                  <!--tr class="table-header">
                      <td><b>GPA Without Optional Subject</b></td>   
                      <td colspan="<%= colspan_exam+2 %>"></td>
                      <% if failed == true %>
                        <td><b>0.0</b></td>
                      <% else %>
                        <td><b><%= grade_point_avg %></b></td>
                      <% end %>
                  </tr-->

                  <tr class="even">
                      <td colspan="<%= colspan_exam+4 + 1 %>">Optional Subject</td>
                  </tr>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <% subjectdata = Subject.find(subjects['id'].to_i) %>
                      <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>@student.id.to_s,:subject_id=>subjects['id'].to_s,:elective_group_id=>subjectdata.elective_group_id.to_i} %>
                      <% if @has_exam_student == false %>
                        <% next %>
                      <% end %>
                      <% if subjects['no_exams_sjws'].to_i == 1  %>
                        <% next %>
                      <% end %>
                      <% if !@std_subject_hash_type.blank? %>
                        <% if !@std_subject_hash_type.include?(@student.id.to_s+"|||"+subjects['id'].to_s+"|||4") %>
                          <% next %>
                        <% end %>
                      <% end %>
                      <% exam_loop = 0 %>
                      <% subject_failed = false %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <td class="col-pdf  no-warp align-left-baf"><%= subjects['name'] %></td>
                          <% max_mark = 0 %>
                          <% obtain_mark = 0 %>
                          <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% max_mark = max_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %>
                            <% end %>
                          <% end %>
                          <% unless @report_data['report']['exams'].blank? %>
                            <% @report_data['report']['exams'].each do |report| %>
                              
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                <% last_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                              <% end %>
                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                <% exam_loop = exam_loop+1 %> 
                                <% failed_class = "" %>
                                <% last_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                <% if exam_loop < 3 %>
                                    <%
                                    main_mark = 0
                                    if last_mark > 0
                                      main_mark = (last_mark.to_f/last_full_mark.to_f)*100
                                    end
                                    main_mark = main_mark.round()
                                    grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                                    if !grade.blank? and !grade.name.blank? 
                                          if grade.credit_points.to_i == 0
                                            subject_failed = true
                                            failed_class = "underscore" 
                                          end
                                    end
                                    %>
                                <% end %>   
                                <td class="col-pdf <%= failed_class%>"><%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %></td>
                                <% obtain_mark = obtain_mark+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                              <% else %>
                                <td class="col-pdf">-</td>
                              <% end %>  
                            <% end %>
                          <% end %>
                          <% obtain_mark = obtain_mark.round() %>
                          <td class="col-pdf"><%= obtain_mark %></td>


                          <%
                          main_mark = 0
                          if obtain_mark > 0
                            main_mark = (obtain_mark.to_f/max_mark.to_f)*100
                            end
                          grade = GradingLevel.percentage_to_grade(main_mark, @batch.id)
                          if subject_failed == true
                            if !grade.blank? and !grade.name.blank? 
                              grade.name = "F"
                              grade.credit_points = 0.00
                            end  
                          end
                          highest_mark = 0
                          if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                            highest_mark = @subject_highest[subjects['id'].to_i].to_f
                            end
                        %>
                          <% if !grade.blank? and !grade.name.blank? %>
                            <td class="col-pdf" colspan="2"><%= grade.name %></td>
                            <td class="col-pdf"><%= grade.credit_points.to_f %></td>
                            <% if grade.credit_points.to_f > 2 %>
                              <% new_grade_point = grade.credit_points.to_f-2.00 %>
                              <% total_grade = total_grade+new_grade_point.to_f %>
                            <% end %>
                          <% end %>
                          <% total_mark = total_mark+obtain_mark %>
                          <% full_mark = full_mark+max_mark %>
                      </tr>
                    <% end %>
                  <% end %>
                  <% grade_point_avg = 0 %>
                  <% if total_grade > 0 && total_subject > 0 %>
                    <% grade_point_avg = total_grade.to_f/total_subject.to_f %>
                    <% grade_point_avg = (grade_point_avg.to_f*100).to_f.round() %>
                    <% grade_point_avg = grade_point_avg.to_f/100 %>
                    <% if grade_point_avg > 5 %>
                      <% grade_point_avg = 5.00 %>
                    <% end %>
                  <% end %>
                  <% grade = GradingLevel.grade_point_to_grade(grade_point_avg, @batch.id) %>
                  <tr class="table-header">
                      <td><b>Total Marks<!--, Grade and GPA--></b></td>   
                      <td><b><%= full_mark %></b></td>
                      <td colspan="<%= colspan_exam-1 %>">Score</td>
                      <td><b><%= total_mark %></b></td>
                      <td><b><%= "Grade" %></b></td>
                      <td><b>
                              <% if !grade.blank? and !grade.name.blank? %>
                                <% if failed == true %>
                                    F
                                <% else %>
                                 <%= grade.name %>
                                <% end%>
                              <% else %>
                                -
                              <% end %>
                          </b></td>
                      <% if failed == true %>
                        <td><b>0.0</b></td>
                      <% else %>
                        <td><b><%= grade_point_avg %></b></td>
                      <% end %>
                     
                  </tr>



              </table>
              
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >
                  <tr class="even border-bottom-1-px">
                      <td class="col-pdf no-border" width="5%"></td>
                      <td class="col-pdf" width="26%">
                      </td> 
                      <td class="col-pdf no-border" width="6%">

                      </td>
                      <td class="col-pdf" width="26%">
                      </td> 
                      <td class="col-pdf no-border" width="6%">

                      </td>
                      <td class="col-pdf " width="26%">
                      </td>
                      <td class="col-pdf no-border" width="5%"></td>
                  </tr>
                  <tr class="even">
                      <% if @batch.course.course_name.upcase == "X" %>      
                        <td class="col-pdf no-border" width="5%"></td>
                        <td class="col-pdf " width="26%">
                          Class Teacher
                        </td>
                        <td class="col-pdf no-border" width="6%">

                        </td>
                        <td class="col-pdf " width="26%">
                        Exam Coordinator
                        </td>
                        <td class="col-pdf no-border" width="6%">

                        </td>
                        <td class="col-pdf" width="26%">
                            Principal
                        </td> 
                        <td class="col-pdf no-border" width="5%"></td>
                      <% else %>
                      <td class="col-pdf no-border" width="5%"></td>
                      <td class="col-pdf " width="26%">
                          Parent's Sign
                      </td>
                      <td class="col-pdf no-border" width="6%">

                      </td>
                      <td class="col-pdf " width="26%">
                          Class Teacher
                      </td>
                      <td class="col-pdf no-border" width="6%">

                      </td>
                      <td class="col-pdf" width="26%">
                          Exam Controller
                      </td> 
                      <td class="col-pdf no-border" width="5%"></td>
                      <% end %>       
                  </tr>

              </table>

              <br/>
              <br/>

              <p class="text-align-center"><b>Date of result publish : <%= @connect_exam_obj.published_date.blank?  ? "" : I18n.l(@connect_exam_obj.published_date,:format=>"%d %B %Y") %></b></p>




          </div>
        <% end %>
        <%= stylesheet_link_tag 'list_table' %>
        <style>
            table.evaluation tr.border-bottom-1-px td.no-border
            {
                border-bottom: none !important;
            }
            .text-align-center
            {
                text-align: center;
            }
            .sfx margin-top-bottom-50
            {
                margin: 50px !important;
            }
            .sfx .margin-top-50
            {
                margin-top: 50px !important;
            }

            .sfx
            {
                font-family: serif;
            }
            sfx  .table-header td{
                color: #000;
                font-weight: bold;
            }
            .sjis-new .left-table.small_table
            {
                float:left;
                margin:20px 0px 20px 10px !important;
            }
            .sjis-new .left-table.ev-table
            {
                float:left;
                margin:20px 0px 20px 20px !important;
            }

            .sfx .left-table
            {
                float:left;
            }
            .sfx .right-table
            {
                float:left;
                margin-left:21px;
            }
            .sfx td.remarks_code_table2
            {
                text-align: left;
                font-size:14px;
            }
            .sfx td.remarks_code_table
            {
                text-align: left;
                font-size:17px;
            }
            .sfx td.remarks_code_table span
            {
                float:left;
            }
            .sfx td.remarks_code_table table
            {
                float:left;
                clear:both;
                text-align: left;
                border:none;

            }
            .sfx td.remarks_code_table table tr
            {
                border:none;
            }
            .sfx td.remarks_code_table table tr td
            {
                border:none;
                padding: 2px 2px 2px 0px;
                text-align: left;
                font-size:17px;
            }
            .no-warp
            {
                white-space: nowrap !important;
            }
            .sfx table.td-align-left td
            {
                text-align: left;
            }
            .sfx table.text-size-18 tr td
            {
                font-size: 17px; 
            }


            .sfx table td.td-align-left
            {
                text-align: left;
            }

            .sfx table td.td-align-right
            {
                text-align: right;
            }
            .sjis table td.border-left-none{
                border-left: 1px solid #000000 !important; 
            } 
            .sjis table td.border-right-none{
                border-right: 1px solid #000000 !important;  
            }
            div.sjis-new
            {
                border: none;
            }

            .sfx table#pdf-table.break-table
            {
                clear: both !important;
                margin-left: 0px !important;
            }


            .sjis-new .table_1 tr.odd td
            {
                padding: 2px !important;  
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_1 tr.even td
            {
                padding: 2px !important;  
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_2 tr.odd td
            {
                padding: 5px !important; 
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_2 tr.even td
            {
                padding: 5px !important; 
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_3 tr.odd td
            {
                padding: 5px 5px 6px 5px  !important;  
                border: 1px solid #000000;
                font-size:19px;
            }
            .sjis-new .table_3 tr.even td
            {
                padding: 5px 5px 6px 5px  !important; 
                border: 1px solid #000000;
                font-size:19px;
            }

            .sjis-new .table-padding-big tr.even td
            {
                padding: 14px  !important;
            }

            .sjis-new table.margin-top-bottom-20
            {
                margin: 5px 0px !important;
            }
            .underscore
            {
               text-decoration: underline;
            }

        </style>    