<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License.
#http://wp.classtune.com/support/php/app.php?widget-init.js&s=<%=MultiSchool.current_school.name&n=<%@current_user.full_name&m=<%=@current_user.email

-%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="<%= (rtl?) ? 'rtl' : 'ltr' %>">
  <head>
    <% @direction = (rtl?) ? 'rtl/' : '' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ClassTune</title>
    <% unless current_school_detail.new_record? %>
      <link rel="shortcut icon" href="<%=current_school_detail.logo.url%>" type="<%=current_school_detail.logo.content_type%>" />
    <% end %>
      
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <%= stylesheet_link_tag(*get_demoschool_stylesheets) %>
  </head>
  <body>
      <header class="head">
          <div class="container-fluid col-md-12">
              <div class="row">
                  <div class="col-md-3" style="display: inline-block; float: left;">
                    <div class="logo">
                            <a href=""><img src="/images/login/logo.png" alt="Logo" width="210" height="50" /></a>
                    </div>
                  </div>
                  <div class="col-md-7 col-sm-7 col-xs-7">
                      <%= image_tag current_school_detail.logo.url, :style => "width:10%;" %>
                      <h2 style="font-size: 24px; font-weight: bold; display: inline-block; padding-left: 10px;"><%= current_school_name %></h2>
                  </div>
                  <div class="col-md-2 col-sm-2 col-xs-2">
                      <div class="user">
                          <div class="dropdown show">
                              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <% if @current_user.employee? || @current_user.admin? %>
                                    <% @profile_image = "/images/user_profile/profile.jpg" %>
                                  <% else %>
                                    <% @profile_image = "/images/master_student/profile/default_student.png" %>
                                  <% end %>
                                  <%= image_tag @profile_image %>
                              </a>

                              <div class="dropdown-menu dropdown-menu-right" style="top: 20; left: auto;">
                                  <a class="dropdown-item" href="#">My Profile</a>
                                  <a class="dropdown-item" href="#">Settings</a>
                                  <a class="dropdown-item" href="#">School Dashboard</a>
                                  <a class="dropdown-item" href="#">Logout</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
    
      <main><%= yield %></main>

      <footer class="footer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <%= t('powered_by') %> <a href=<%= "#{Champs21Setting.company_details[:company_url]}" %> target="_blank", class="themed_text"><%= Champs21Setting.company_details[:company_name] %></a>
                  </div>
              </div>
          </div>
      </footer>
    
      <!-- Modal-Student -->
      <div class="modal fade" id="StudentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <div class="modal-header-wrap">
                          <h5 class="modal-title" id="exampleModalLongTitle">Add Student</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="modal-body-btnwrap">
                          <button class="btn-tune-lg">Bulk Upload(CSV)</button>
                          <button class="btn-tune-lg">Single Student Entry</button>
                      </div>
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div> -->
              </div>
          </div>
      </div>
    
      <!-- Modal-Employee -->
      <div class="modal fade" id="EmployeeModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <div class="modal-header-wrap">
                          <h5 class="modal-title" id="exampleModalLongTitle">Add Employee</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div class="modal-body-btnwrap">
                          <button class="btn-tune-lg">Bulk Upload(CSV)</button>
                          <button class="btn-tune-lg">Single Employee Entry</button>
                      </div>
                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div> -->
              </div>
          </div>
      </div>
    
      <!-- Modal-school-info -->
      <div class="modal fade" id="EchoolInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <div class="modal-header-wrap">
                          <h5 class="modal-title" id="exampleModalLongTitle">School Info</h5>
                      </div>
                  </div>
                  <div class="modal-body">
                      <form>
                          <div class="form-row">
                              <div class="col-md-2"><span class="school-name-panel-label">School: </span></div>
                              <div class="col-md-10 school-div">
                                  <span class="class_info_name"><%= MultiSchool.current_school.name %></span>
                                  <input id="school-name" value="<%= MultiSchool.current_school.name %>" type="text" size="4" name="name" class="form-control" style="width: 85%; padding: 10px; margin-left: 10px;" />
                                  <span class="edit-btn"><img id="edit_btn_name" class="need_edit" src="/images/demo_school_images/edit.png" alt="" /></span>
                                  <input class="display-none" id="file-type" type="file" size="4" name="file"/>
                              </div>
                          </div>
                          <div class="form-row" style="margin-top: 10px;">
                              <div class="col-md-2"><span class="upload-logo">Logo</span></div>
                              <div class="upload-btn-wrap col-md-10">
                                  <input id="browse-click" type="button" class="upload-btn" value="Browse"/>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="col-md-12">
                                  <p class="txt-center">File type .jpg .png allowed.</p>
                              </div>

                              <!-- <input type="hidden" class="form-control" id="subject-code">
                              <input type="file" class="form-control class_info_file" id="subject-code"> -->
                          </div>
                          <div class="form-row">
                              <div class="col-md-12">
                                  <div class="form-group txt-center">
                                      <button class="btn-tune class-info-upload">Confirm</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="">
                      <button type="button" class="class-info-skip" data-dismiss="modal"><img src="/images/demo_school_images/skip.png" alt="" /></button>
                  </div>
              </div>
          </div>
      </div>
    
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      <script type="text/javascript">
          $(window).on('load',function(){
              $('#EchoolInfo').modal('show');
          });
      </script>

      <script type="text/javascript">
          $(document).ready(function () {

            var intervalFunc = function () {
                $('#file-name').html($('#file-type').val());
            };

            $('#browse-click').on('click', function () {
                $('#file-type').click();
            });

            $('.edit-btn').on('click', function(){
                if ( $("#edit_btn_name").hasClass('need_edit') )
                {
                    $('.class_info_name').css('display', 'none');
                    $('#school-name').css('display', 'inline-block');
                    $('.school-name-panel-label').css('padding', '20px 0');
                    $('#edit_btn_name').removeClass('need_edit');
                    $('#edit_btn_name').addClass('need_save');
                    $('#edit_btn_name').attr('src', '/images/demo_school_images/checkmark.png');
                }
                else if ( $("#edit_btn_name").hasClass('need_save') )
                {
                    //$.ajax  
                    $('.class_info_name').css('display', 'inline-block');
                    $('#school-name').css('display', 'none');
                    $('.school-name-panel-label').css('padding', '10px 0');
                    $('#edit_btn_name').addClass('need_edit');
                    $('#edit_btn_name').removeClass('need_save');
                    $('#edit_btn_name').attr('src', '/images/demo_school_images/edit.png');
                }
            });

            $('#dropdownMenuLink').on('shown.bs.dropdown', function () {
                    $('.dropdown-menu').css({
                            'top':'20',
                            'left': 'auto'
                    });
            });
          });
      </script>
  </body>
</html>

