<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%# particular = @bill_generations.map{|s| [s['particular']]}  %>
<%#= debug @bill_generations.inspect %>
<span style="padding: 8px 15px 20px 13px; font-weight: bold; display: block; font-size: 18px; font-family: verdana; text-align: left;">Bill Generation Report</span>
  <div id="table-scroll" class="table-scroll" style="max-height: 500px; overflow-y: auto;">
      <div class="table-wrap">
          <table class="table-bordered main-table" id="table-scroll" cellspacing="0" cellpadding="0" border="0" style="width: 98%; table-layout:fixed;">
              <thead><!-- class="thead-inverse" -->
                <tr>
                  <th class="fixed-side" scope="col" style="width: 200px; text-align: center; vertical-align: middle;">Student info</th>
                  <% unless @particulars.blank? %>
                    <% @particulars.each do |particular| %>
                      <% unless @bill_generations.map{|s| s[particular['name']] unless s[particular['name']].blank?}.blank? %>
                      <% particular['amount'] = 0.0 %>
                      <th style=" background: #f9f9f9; width: 140px; text-align: center; vertical-align: middle; background: #f9f9f9;"><%= particular['name'] %></th>
                      <% end %>
                    <% end %>
                  <% end %>
                  <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Total Fees</th>
                  <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Paid Amount</th>
                  <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Remaining</th>
                </tr>
              </thead>
              <% grand_total = 0.0 %>
              <% grand_paid = 0.0 %>
              <tbody>
                <% particulars_with_amount = [] %>
                <% unless @bill_generations.blank? %>
                  <% @bill_generations.each do |fee_data| %>
                    <% style = "" %>
                    <% txt = "-" %>
                    <% if fee_data['is_paid'] %>  
                    <% #style = "border-left: 10px solid #090;" %>  
                    <% style = "" %>  
                    <% txt = "[+]" %>  
                    <% end %> 
                    <tr class="tr-odd">
                        <th style="vertical-align: middle; text-align: left;" class="fixed-side">
                          <% student = Student.find(:first, :conditions => "id = #{fee_data['id']}") %>
                          <a href="/finance/fees_student_dates/<%= student.id %>" target="_blank"  style="font-weight: normal;">
                            <%= student.full_name unless student.full_name.nil? %><br />
                            <small>ID: <%= student.admission_no unless student.admission_no.nil? %></small>
                          </a>
                        </th>
                        <% total_fee = 0.0 %>
                        <% unless @particulars.blank? %>
                          <% @particulars.each_with_index do |particular, i| %>
                            <% unless @bill_generations.map{|s| s[particular['name']] unless s[particular['name']].blank?}.blank? %>
                              <% if particular['plusminus'] && particular['opt'].to_i == 1 %>
                                <% total_fee += fee_data[particular['name']] unless fee_data[particular['name']].nil? %>
                                <% particular['amount'] += fee_data[particular['name']] unless fee_data[particular['name']].nil? %>
                              <% elsif particular['plusminus'] && particular['opt'].to_i == 2 %>
                                <% total_fee = total_fee - fee_data[particular['name']] unless fee_data[particular['name']].nil? %>
                                <% particular['amount'] = particular['amount'] - fee_data[particular['name']] unless fee_data[particular['name']].nil? %>  
                                <% if total_fee < 0 %>
                                <% total_fee = 0 %>
                                <% end %>
                                <% if particular['amount'] < 0 %>
                                <% particular['amount'] = 0 %>
                                <% end %>
                              <% end %>
                                <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label fee_data[particular['name']] %></td>
                                <% particulars_with_amount[i] = particular %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% grand_total += total_fee  %>
                        <%#= grand_total += total_fee  %>    
                        <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label total_fee %></td>
                        <% paid_amount = 0 %>
                        <% unless fee_data['paid_fees'].blank? and total_fee == 0 %>
                          <% paid_amount = fee_data['paid_fees'].map(&:amount).sum.to_f %>
                          <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label paid_amount %></td>
                        <% else %>  
                          <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label 0.00 %></td>
                        <% end %>
                        <% remaining = total_fee - paid_amount  %>  
                        <% grand_paid += paid_amount  %>
                        <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label remaining %></td>
                    </tr>
                  <% end %>  
                    <tr>  
                      <th style="vertical-align: middle; text-align: left; color: #000; background: #f9f9f9; height: 40px;" class="fixed-side"> Grand Total </th>
                      <% total_fee = 0.0 %>
                      <% unless particulars_with_amount.blank? %>
                        <% particulars_with_amount.each do |particular| %>
                          <% total_fee += particular['amount'] unless particular['amount'].nil? %>
                          <td class="align-right" style="vertical-align: middle; font-weight: bold; background: #f9f9f9;"><%= precision_label particular['amount'] %></td>
                        <% end %>
                      <% end %>
                      <% grand_total += total_fee  %>    
                      <td class="align-right" style="vertical-align: middle; font-weight: bold; background: #f9f9f9;"><%= precision_label total_fee %></td>
                      <td class="align-right" style="vertical-align: middle; font-weight: bold; background: #f9f9f9;"><%= precision_label grand_paid %></td>
                      <td class="align-right" style="vertical-align: middle; font-weight: bold; background: #f9f9f9;"><%= precision_label total_fee - grand_paid %></td>
                    </tr>
                <% end %>  
              </tbody>
          </table>
      </div>
  </div>
  <div class="pdf_link" style="text-align: center;">
      <%#= link_to " ► #{t('pdf_report')}",
        {:controller => "finance", :action => "fee_collection_pdf", :batch_id => @batch.id, :date => @date.id},:target => '_blank', :class=> 'user_button' %>
  </div>

<style>
    #page-yield {
      margin: 0;
      float: left;
      width: 94%;
      background-color: #fff;
      padding: 7px 30px;
    }
    .table-scroll {
	position:relative;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
	border:1px solid #ddd;
    }
    .table-wrap {
            width:100%;
            overflow:auto;
    }
    .table-scroll table {
            width:100%;
            margin:auto;
            border-collapse:separate;
            border-spacing:0;
    }
    .table-scroll th, .table-scroll td {
            padding:5px 10px;
            border:1px solid #000;
            background:#fff;
            vertical-align:top;
    }
    .table-scroll th {
            padding:10px 6px;
    }
    .table-scroll thead, .table-scroll tfoot {
            background:#f9f9f9;
    }
    .clone {
            position:absolute;
            top:0;
            left:0;
    }
    .clone th, .clone td {
            visibility:hidden
    }
    .clone td, .clone th {
            border-color:transparent
    }
    .clone tbody th {
            visibility:visible;
            color:red;
    }
    /*.clone tbody{
      overflow:auto;
      height:200px;
      width:100%;
    }*/
    .clone .fixed-side {
            background:#f9f9f9;
            visibility:visible;
            z-index: 1;
            border-left: 1px solid #ccc;
            position: relative;
            border-bottom: 1px solid #AAA;
    }
    .clone .fixed-side:not(:last-child) {
            background:#f9f9f9;
            visibility:visible;
            z-index: 1;
            border-left: 1px solid #ccc;
            position: relative;
            border-bottom: 1px solid #AAA;
    }
    a:hover {
        text-decoration: none !important;
    }
    .clone thead, .clone tfoot{background:transparent;}
</style>   

<script>
  j("td").each(function(e){
    if(j(this).html() == "-")
    {
      j(this).addClass("align-center");
    }  
  });
  
  j(document).ready(function() {
    j(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');   
  });
  
</script>  

<style>
    .pdf_link .user_button {
        display: inline-block;
        float: none;
    }
    tr.tr-odd td, tr.tr-even td
    {
       text-align:right;
    }
    tr.inverse {
    }
    tr.inverse td {
        font-weight: bold;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
    .align-right
    {
        text-align:right !important;
    }
    .align-center
    {
        text-align:center !important;
    }
    .align-left
    {
        text-align:left !important;
    }
    .show_collection{
       z-index: 1;
    }
    
</style>   
