<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%# particular = @bill_generations.map{|s| [s['particular']]}  %>
<%#= debug @particular_categories[0].inspect %>
<%#= debug @bill_generations.inspect %>
<%#= debug @particular_categories.uniq.inspect %>
<% @particular_categories = @particular_categories.uniq %>
<span style="padding: 8px 15px 20px 13px; font-weight: bold; display: block; font-size: 18px; font-family: verdana; text-align: left;">Bill Generation Report</span>
  <div class="table-wrap">
        <table class="table-bordered main-table" id="table-scroll" cellspacing="0" cellpadding="0" border="0">
            <thead><!-- class="thead-inverse" -->
              <tr>
                <th class="fixed-side" scope="col" style="width: 200px; text-align: center; vertical-align: middle;">Student info</th>
                <% unless @particular_categories.blank? %>
                  <% @particular_categories.each do |particular| %>
                    <th style=" background: #f9f9f9; width: 140px; text-align: center; vertical-align: middle; background: #f9f9f9;"><%= particular %></th>
                  <% end %>
                <% end %>
                <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Discount</th>    
                <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Fine</th>    
                <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Total Fees</th>
                <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Paid Amount</th>
                <th style="width: 100px; text-align: center; vertical-align: middle; background: #f9f9f9;">Remaining</th>
              </tr>
            </thead>
            <% grand_total = 0.0 %>
            <% grand_paid = 0.0 %>
            <tbody>
              <% particulars_with_amount = {} %>
              <% discount_total = 0.00 %>
              <% fine_total = 0.00 %>
              <% paid_total = 0.00 %>
              <% remaining_total = 0.00 %>
              <% unless @students.blank? %>
                <% @students.each do |k, fee_data| %>
                  <% total_fee = 0 %>
                  <tr class="tr-odd">
                      <td style="vertical-align: middle; text-align: left;">
                        <a href="/finance/fees_student_dates/<%= fee_data[0].id %>" target="_blank"  style="font-weight: normal;">
                          <%= fee_data[0].full_name unless fee_data[0].full_name.nil? %><br />
                          <small>ID: <%= fee_data[0].admission_no unless fee_data[0].admission_no.nil? %></small>
                        </a>
                      </td>
                      <% total_fee = 0.0 %>
                      <% unless @student_particulars[k].blank? %>
                        <% unless @particular_categories.blank? %>
                          <% @particular_categories.each do |particular| %>
                            <% sp_amounts = @student_particulars[k][0].map{|sp| sp.amount if sp.finance_fee_particular_category.name == particular } %>
                            <%#= debug sp_amounts.inspect %>
                            <% particular_amount = 0 %>
                            <% sp_amounts.each do |sp_amount| %>
                              <% particular_amount += sp_amount.to_f %>
                            <% end %>
                            <% if particulars_with_amount[particular].blank? %>
                            <%
                              particulars_with_amount[particular] = []
                              tmp = {}
                              tmp['amount'] = particular_amount
                              particulars_with_amount[particular] << tmp
                            %>
                          <% else %>  
                            <%
                              tmp = {}
                              tmp['amount'] = particular_amount
                              particulars_with_amount[particular] << tmp
                            %>
                          <% end %>
                          <% total_fee += particular_amount %>
                          <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label particular_amount %></td>
                          <% end %>
                        <% else %>    
                          <td class="align-right" style=" z-index: 1; position: relative;" colspan="<%= @particular_categories.length %>">&nbsp;</td>
                        <% end %>
                      <% else %>    
                          <td class="align-right" style=" z-index: 1; position: relative;" colspan="<%= @particular_categories.length %>">&nbsp;</td>
                      <% end %>
                      <% discount = 0.0 %>    
                      <% discount_total = 0.0 %>    
                      <% fine = 0.0 %>    
                      <% fine_total = 0.0 %>    
                      <% paid_amount = 0.0 %>    
                      <% paid_total = 0.0 %>    
                      <% unless @student_summaries[k].blank? %>
                          <% student_summaries = @student_summaries[k][0] %>
                          <% discount = student_summaries['discount'].to_f %>
                          <% total_fee -= student_summaries['discount'].to_f %>
                          <% discount_total += student_summaries['discount'].to_f %>

                          <% fine = student_summaries['fine'].to_f %>
                          <% total_fee += student_summaries['fine'].to_f %>
                          <% fine_total += student_summaries['fine'].to_f %>

                          <% paid_amount = student_summaries['paid_amount'].to_f %>
                          <% paid_total += student_summaries['paid_amount'].to_f %>
                      <% end %>
                      <% grand_total += total_fee  %>
                      <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label discount.to_f %></td>
                      <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label fine.to_f %></td>
                      <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label total_fee %></td>
                      <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label paid_amount.to_f %></td>
                      <% remaining = total_fee - paid_amount.to_f  %>  
                      <% remaining_total += remaining.to_f  %>  
                      <td class="align-right" style=" z-index: 1; position: relative;"><%= precision_label remaining %></td>
                  </tr>
                <% end %>  
              <% end %>  
            </tbody>
        </table>
    </div>
  <% if @opt == 1 %>
  <div class="pagination_div" style="margin-top: 100px;">
      <div class="div1">
          <%= will_paginate @student_finance_fees, :previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader_paginate').hide();"  }, :params => {:controller=>:finance,:action => "load_bill_generation_reports", :opt => @opt, :filter_by_course => @filter_by_course, :date => @date.id} %>
      </div>
      <div class="div2"><%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader_paginate",
        :style =>"display: none;" ) %></div>
      
      <div class="pdf_link" style="text-align: center;">
          <% page = 1 %>
          <% unless params[:page].blank? %>
            <% page = params[:page] %>
          <% end %>
          <%= link_to "Download PDF (Page #{page})",
              {:controller => "finance", :action => "bill_generation_report_pdf",  :opt => @opt, :filter_by_course => @filter_by_course, :date => @date.id, :page => page},:target => '_blank', :class=> 'user_button' %>
          <%= link_to "Download Excel (Page #{page})",
            {:controller => "finance", :action => "bill_generation_report_xls",  :opt => @opt, :filter_by_course => @filter_by_course, :date => @date.id, :page => page},:target => '_blank', :class=> 'user_button' %>
      </div>
  </div>
  
  <% elsif @opt == 2 %>
  <div class="pagination_div" style="margin-top: 100px;">
      <div class="div1">
          <%= will_paginate @student_finance_fees, :previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader_paginate').hide();"  }, :params => {:controller=>:finance,:action => "load_bill_generation_reports", :opt => @opt, :section_id => @section_id, :course_name => @course_name, :batch_id => @b_id, :date => @d_id} %>
      </div>
      <div class="div2"><%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader_paginate",
        :style =>"display: none;" ) %></div>
      
      <div class="pdf_link" style="text-align: center;">
          <% page = 1 %>
          <% unless params[:page].blank? %>
            <% page = params[:page] %>
          <% end %>
          <%= link_to "Download PDF (Page #{page})",
            {:controller => "finance", :action => "bill_generation_report_pdf", :opt => @opt, :section_id => @section_id, :course_name => @course_name, :batch_id => @b_id, :date => @d_id, :page => page},:target => '_blank', :class=> 'user_button' %>
          
          <%= link_to "Download Excel (Page #{page})",
            {:controller => "finance", :action => "bill_generation_report_xls", :opt => @opt, :section_id => @section_id, :course_name => @course_name, :batch_id => @b_id, :date => @d_id, :page => page},:target => '_blank', :class=> 'user_button' %>
      </div>
  </div>
  <% else %>
  <div class="pagination_div" style="margin-top: 100px;">
      <div class="div1">
          <%= will_paginate @student_finance_fees, :previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader_paginate').hide();"  }, :params => {:controller=>:finance,:action => "load_bill_generation_reports", :batch_id => @b_id, :date => @d_id} %>
      </div>
      <div class="div2"><%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader_paginate",
        :style =>"display: none;" ) %></div>
      
      <div class="pdf_link" style="text-align: center;">
          <% page = 1 %>
          <% unless params[:page].blank? %>
            <% page = params[:page] %>
          <% end %>
          <%= link_to "Download PDF (Page #{page})",
            {:controller => "finance", :action => "bill_generation_report_pdf", :batch_id => @b_id, :date => @d_id, :page => page},:target => '_blank', :class=> 'user_button' %>
          <%= link_to "Download Excel (Page #{page})",
            {:controller => "finance", :action => "bill_generation_report_xls", :batch_id => @b_id, :date => @d_id, :page => page},:target => '_blank', :class=> 'user_button' %>
      </div>
  </div>
  <% end %>
<%#= debug particulars_with_amount.inspect %>
<style>
    .pdf_link {
        text-align: center;
        padding-bottom: 20px;
        float: left;
        width: 100%;
        margin-top: -45px; 
    }
    .user_button{
        display: inline-block !important;
        float: none;
        margin-left: 0;
        margin-top: 0;
    }
    .div2{
      float: right;
      margin-top: -35px;
      margin-right: 5px;
    }
    .pagination {
        margin-top: -85px;
    }
    #page-yield {
      margin: 0;
      float: left;
      width: 94%;
      background-color: #fff;
      padding: 7px 30px;
    }
    .table-wrap {
          overflow:auto;
          width:100%;
          height:500px;
    }
    table.main-table {
        table-layout: fixed;
        width:100%;
    }
    td:first-child{
      position:sticky;
      left:0;
      z-index:2;
      background-color: #f9f9f9;
    }
    thead tr th {
      position:sticky;
      top:0;
      z-index: 2;
      background-color:#f9f9f9;
      padding: 10px;
    }
    thead tr th:first-child {
      position:sticky;
      top:0;
      left: 0;
      z-index: 3;
      background-color:#f9f9f9;
      padding: 10px;
    }
    tbody tr td {
      padding: 10px;
      text-align: right;
    }
    tbody tr td:first-child {
      padding: 10px;
    }
    
</style>   

<script>
  j("td").each(function(e){
    if(j(this).html() == "-")
    {
      j(this).addClass("align-center");
    }  
  });
  
  j(document).ready(function() {
    //j(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');   
  });
  
</script>  
