<table class="table table-striped table-bordered" id="myTable" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
  <thead><!-- class="thead-inverse" -->
  <tr>
    <th style="vertical-align: middle">Sl.</th>
    <th style="vertical-align: middle">Name<br>Admission No<br>Batch</th>
    <th style="vertical-align: middle">Trn. Date</th>
    <th style="vertical-align: middle">Pay Type<br>Order Id<br>Ref. ID</th>
    <th style="vertical-align: middle">Amount</th>
    <th style="vertical-align: middle">Status</th>
  </tr>
  </thead>

<tbody>
<% i = 0 %>
<% if @option == "2" %>
<% unless @inactive_students.blank? %>
<% @inactive_students.each do |fees| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td class="col-5"><%= i = i + 1 %></td>
    <td class="col-4"><%= fees.full_name %></td>
    <td class="col-3" style="text-align: center;">
      <%= fees.admission_no %>
    </td>
    <td class="col-3">
      <%= fees.batch.full_name %>
    </td>
    <td class="col-3" style="text-align: right;">
      -
    </td>

    <td class="col-3" style="text-align: center;">
      <%= link_to_remote '<i class="fa fa-plus"></i>',:before => "Element.show('gen-loader-#{i}');", :success => "Element.hide('gen-loader-#{i}');searchAjax(2);",:url => {:action => 'generate_student_fees',:fee_id=> params[:id], :student_id => fees.id},:confirm => "Are You sure to Generate?" %>
      <%= image_tag("Loader-transparant.gif",:align => "absmiddle",:border => 0,:id => "gen-loader-#{i}", :class=>"add-palette-loader", :style =>"display: none;" ) %>
    </td>

  </tr>
<% end %>
    </tbody>
    <thead>
    <tr>
      <td colspan="3"></td>
      <td><b>Total Amount:</b></td>
      <td style="text-align: right;">-</td>
      <td></td>
    </tr>
    </thead>
    </table>
  <% else %>
    <tr>
    <td colspan="6" style="text-align: center;">
      No Student Found
    </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6"></td>
      <td><b>Total Amount:</b></td>
      <td style="text-align: right;">-</td>
      <td></td>
    </tr>
    </tfoot>
    </table>
<% end %>

<% else %>
  <% unless @finance_fees.blank?%>
    <% @total_fee = 0 %>
    <% i = 0 %>
    <% @finance_fees.each do |fees| %>
      <% if fees.is_paid
           @transaction_date = []
           @payment_mode = []
           @online_payment = []
           @paid_amount = 0
           @op_type = '';
           @op_order_id = '';
           @op_ref_id = '';
           unless fees.finance_transactions.blank?
             fees.finance_transactions.each do |pf|
               @online_payment = Payment.find(:all, :conditions=>"finance_transaction_id = #{pf.id}")
               unless @online_payment.blank?
               opc = 0
               @online_payment.each do |op|
                @transaction_date << op.transaction_datetime.to_date.strftime('%Y-%m-%d')

                if opc === 0
                 if op.gateway_response[:payment_type] === "MB"
                @op_type += "MB"
                 elsif op.gateway_response[:payment_type] == "ITCL"
                @op_type += "ITCL"
                 else
                @op_type += "#{op.gateway_response[:payment_type] }"
                 end

                @op_ref_id += "#{op.gateway_response[:ref_id] }"
                @op_order_id += "#{op.order_id.to_s}"
                else
                 if op.gateway_response[:payment_type] === "MB"
                 @op_type += ", MB"
                 elsif op.gateway_response[:payment_type] == "ITCL"
                 @op_type += ", ITCL"
                 else
                @op_type += ", #{op.gateway_response[:payment_type] }"
                end
                @op_ref_id += ", #{op.gateway_response[:ref_id] }"
                @op_order_id += ",#{op.order_id.to_s}"
                end
                opc += 1

               end

               else
               @transaction_date << pf.transaction_date.to_date.strftime('%Y-%m-%d')
               @op_type = '-';
               @op_order_id = '-';
               @op_ref_id = '-';
               end

               @payment_mode << pf.payment_mode
               @paid_amount += pf.amount
             end
           end
         else
           @transaction_date = []
           @payment_mode = []
           @online_payment = []
           @op_type = '-';
           @op_order_id = '-';
           @op_ref_id = '-';
         end
      %>
      <tr class="<%= cycle("odd", "even") %>" <% unless params[:batch_id].to_i == fees.student.batch.id {}%> style="background-color: #ffe6e6" <% end %> >
        <td class="col-5" <% unless params[:batch_id].to_i == fees.student.batch.id {}%> style="vertical-align: middle; background-color: #ffe6e6"<% else %>style="vertical-align: middle;"<% end %>><%= i = i + 1 %></td>
        <td class="col-4" <% unless params[:batch_id].to_i == fees.student.batch.id {}%> style="vertical-align: middle; background-color: #ffe6e6"<% else %>style="vertical-align: middle;" <% end %>><small><strong><%= link_to fees.student.full_name, :controller => 'finance' ,:action => 'fees_student_dates',:id => fees.student.id%></strong></small><br><small><%= fees.student.admission_no %></small><br><small><%= fees.student.batch.full_name %></small></td>
        <td <% unless params[:batch_id].to_i == fees.student.batch.id {}%> style="vertical-align: middle;background-color: #ffe6e6;text-align: center;"<% else %>style="vertical-align: middle; text-align: center;" <% end %>>
          <% unless @transaction_date.blank? %>
            <% @transaction_date.each do |date| %>
              <%= date.to_date.strftime('%d-%m-%Y') + "<br>" %>
            <% end %>
          <% else %>
            <%= "-" %>
          <% end %>
        </td>
        <td <% unless params[:batch_id].to_i == fees.student.batch.id {}%> style="vertical-align: middle;background-color: #ffe6e6"<% else %>style="vertical-align: middle;" <% end %>>
          <%= @op_type + "<br>" %>
          <%= @op_order_id + "<br>" %>
          <%= @op_ref_id + "<br>" %>
        </td>

        <td class="col-3" style="text-align: right; <% unless params[:batch_id].to_i == fees.student.batch.id {}%>vertical-align: middle; background-color: #ffe6e6;<% else %> vertical-align: middle; <% end %>" >
          <div id="student_amount_<%= fees.student_id %>_<%= fees.id %>" class="student_amount">
            <% if fees.is_paid %>
              <%= precision_label @paid_amount %>
              <% @total_fee = @total_fee + @paid_amount %>
            <% else %>
              <%= precision_label fees.balance %>
              <% @total_fee = @total_fee + fees.balance %>
            <% end %>
          </div>
        </td>

        <td class="col-3" style="text-align: center;<% unless params[:batch_id].to_i == fees.student.batch.id {}%>vertical-align: middle; background-color: #ffe6e6;<% else %>vertical-align: middle; <% end %>" >
          <% if fees.is_paid %>
            <i class="fa fa-check" style="color: #49BB4B; font-size: 14px;"></i><br/>
          <% else %>
            <input type="hidden" class="notPaid" name="not_paid[]" value="<%= fees.student.id %>">
            <% unless params[:batch_id].to_i == fees.student.batch.id %>
              <% fee_batch =  FeeCollectionBatch.find_by_batch_id(fees.student.batch.id) %>
              <% unless fee_batch.blank? %>
                <% if fee_batch.finance_fee_collection_id.to_i == params[:id].to_i %>
                  <%= link_to_remote '<i class="fa fa-refresh" style="color: #49BB4B;"></i>',:before => "Element.show('add-loader-#{i}')", :success => "Element.hide('add-loader-#{i}');",:url => {:action => 'regenerate_student_fees',:fee_id=> params[:id], :student_id => fees.student.id , :delete=> 1, :option=>2,:finance_fee_id=>fees.id},:confirm => "Are You sure to Regenerate?"%>
                  <br>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to_remote '<i class="fa fa-refresh" style="color: #49BB4B;"></i>',:before => "Element.show('add-loader-#{i}')", :success => "Element.hide('add-loader-#{i}');",:url => {:action => 'regenerate_student_fees',:fee_id=> params[:id], :student_id => fees.student.id},:confirm => "Are You sure to Regenerate?"%>
              <br>
            <% end %>
            <%= link_to_remote '<i class="fa fa-minus-circle" id="deleteFin" style="color:red;"></i>',:before => "Element.show('add-loader-#{i}');", :success => "Element.hide('add-loader-#{i}');",:url => {:action => 'delete_student_fees',:fee_id=> fees.id},:confirm => "Are You sure to Delete?"%>
            <%= image_tag("Loader-transparant.gif",:align => "absmiddle",:border => 0,:id => "add-loader-#{i}", :class=>"add-palette-loader", :style =>"display: none;" ) %>
          <% end %>
        </td>

      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3"></td>
      <td><b>Total Amount:</b></td>
      <td style="text-align: right;"><%= precision_label @total_fee %></td>
      <td></td>
    </tr>
    </tfoot>

  </table>
  <% else %>
    <tr>
      <td colspan="6" style="text-align: center;">
        No Student Found
      </td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3"></td>
      <td><b>Total Amount:</b></td>
      <td style="text-align: right;">-</td>
      <td></td>
    </tr>
    </tfoot>
    </table>
<% end %>

<% end %>
