<script type="text/javascript">
        Element.hide('loader_date');
        </script>
<%if @transactions.present?%>
<div id="payments_details">
    <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
      <thead><!-- class="thead-inverse" -->
        <tr>
          <th><%= t('sl_no') %></th>
          <th><%= t('payee_name') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('cancelled_by') %></th>
          <th><%= t('date_text') %> </th>
          <th ><%= t('fee_collection_name') %></th>
          <th ><%= t('finance_type') %></th>
        </tr>
      </thead>
      <tbody>
      <% @transactions.each_with_index do |f , i| %>
        <tr class="<%= cycle("odd","even") %>">
          <td class="col-1"><%= i +=1 %></td>
          <%if f.payee.nil? and f.finance.nil?%>
         <td class="col-3" style="width:20%"> <%="#{t('user_deleted')}"%></td>
          <%else%>
          <%if f.payee.nil?%>
          <td class="col-3" style="width:20%"><%=f.finance.payee_name%></td>
          <%else%>
          <td class="col-3" style="width:20%"><%= "#{f.payee.full_name}-&#x200E; (#{f.payee_type=="Student" ? f.payee.admission_no : f.payee.employee_number })&#x200E;" %></td>
          <%end%>
          <%end%>
          <td class="col-3">
            <%= precision_label(f.amount) %>
          </td>
          <td class="col-3" style="min-width:85px;"><%= f.user.present?? f.user.full_name  : t('user_deleted') %></td>
          <td class="col-3" ><%= f.created_at.strftime("%d-%m-%Y") %></td>
          <td class="col-2" ><div class="cancel" ><%= f.collection_name %></div></td>
          <td class="col-3" ><%= f.finance_type %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
<div class="pagination_div"><div class="div1"><%= will_paginate @transactions, :previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader').hide();"  }, :params => {:controller=>:finance,:action => "list_deleted_transactions"} %></div><div class="div2"><%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader_paginate",
          :style =>"display: none;" ) %></div></div>
<%else%>
<div id="payments_details">
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
      <thead><!-- class="thead-inverse" -->
        <tr>
          <th><%= t('sl_no') %></th>
          <th><%= t('payee_name') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('cancelled_by') %></th>
          <th><%= t('date_text') %> </th>
          <th ><%= t('fee_collection_name') %></th>
          <th ><%= t('finance_type') %></th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td colspan="7">
                <%=t('no_reverted_transactions_exists')%>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<%end%>
















