<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<br/>
  <div class="linker"><%= link_to_remote "#{t('add_particular')}", :url => { :action => 'add_particulars_new',:id => @collection_date.id} %></div>
<br/>
<% unless @finance_fee_particulars_list.empty? %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
      <th><%= t('sl_no') %></th>
      <th><%= t('particulars') %></th>
      <th><%= t('student_text') %> <%= t('category') %></th>
      <th><%= t('admission_no') %></th>
      <th><%= t('amount') %> (<%= currency %>)</th>
      <th><%= t('created_date') %> </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @finance_fee_particulars_list.each_with_index do |fees, i| %>
      <tr class="<%= cycle("odd","even") %>">
        <td class="col-1"><%= i+1 %></td>
        <td class="col-2"><%= shorten_string(fees.name,50) %></td>
        <td class="col-3"><%= StudentCategory.find(fees.student_category_id).name unless fees.student_category_id.nil? %></td>
        <td class="col-3">
          <%unless fees.admission_no.nil?%>
            <%  student =  Student.find_by_admission_no(fees.admission_no)%>
            <%= student.nil? ? "#{t('n_a')}" : student.full_name %>
          <% else %>
          -
          <% end %>
        </td>
        <td class="col-1" align="right">
          <%= precision_label fees.amount %>
        </td>
        <td class="col-3"><%= I18n.l(fees.created_at,:format=>"%d-%m-%Y") %></td>
        <td class="col-3">
          <%  unless @additional_category.check_fee_collection_for_additional_fees == false %>
            <span class="small"> <%= link_to_remote t('delete_text'),:confirm=>"#{t('delete_confirm_msg')}", :url => { :action => 'add_particulars_delete',:id => fees.id} %></span>
          <% else %>
            <span class="small-strike"><%= t('delete_text') %></span>
          <% end %>
          <span class="small"> <%= link_to_remote t('edit_text'), :url => { :action => 'add_particulars_edit',:id => fees.id} %></span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
<table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('sl_no') %></th>
        <th><%= t('particulars') %></th>
        <th><%= t('student_text') %> <%= t('category') %></th>
        <th><%= t('admission_no') %></th>
        <th><%= t('amount') %> (<%= currency %>)</th>
        <th><%= t('created_date') %> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr><td colspan="7"><%= t('no_particulars') %></td></tr>
    </tbody>
</table>
<% end %>
