<% unless @category_id.blank? %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet" />
<style>
    .form-field{
        width: 90%;
        padding: 9px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 0 auto;
    }
    #assignParticularButton{padding: 10px; cursor: pointer; padding: 5px; background-color: #ddd; float: right; }
    #addParticularButton{padding: 10px; cursor: pointer; padding: 5px; background-color: #ddd;  }
    #addTransport{padding: 9px; cursor: pointer; background-color: #fff; border: 1px solid #ccc; border-radius: 5px;  }
    .minusButton{background-color: #FFF; border-radius: 3px; cursor: pointer;  padding: 3px 4px; border: 1px solid #ccc; color: #F00;  }
    .saveButton{background-color: #49BB4B; border-radius: 10px; padding: 2px; cursor: pointer;  }
    .particularname{padding: 10px; }
    .text-center{text-align: center;}
</style>
<table class="table table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>SL No.</th>
            <th>Particulars</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody id="particularTableRows">
        <tr class="particularDataRow">
            <% unless @fee_particulars.blank? %>
            <td class="text-center">
                <h3 class="sl_no" style="display: inline-block; padding-right: 10px;">1</h3>
                <!--i class="fa fa-check-square-o particular-box"></i-->
            </td>
            <td id="fee_category_td" style="vertical-align: middle;">
                <%= select("assign_fee_category_id",{} ,@fee_particulars.map { |item| [item.finance_fee_particular_category.name, item.finance_fee_particular_category_id] }, {},{:class => "form-field fee_category_tr_row"} ) %><br />
            <span style="display: block; padding-top: 10px; font-family: verdana; font-size: 12px;"><%= check_box_tag "disabled_new_particular_name", 1, true, :class=>'disabled_new_particular_name' %>&nbsp;&nbsp;Use Default Particular Name</span>
            </td>
            <td id="fee_particular_name_td" style="width: 300px; vertical-align: middle;">
                <span class="particularname" style="display: block; padding-bottom: 20px;">
                  <%= text_field_tag "assign_particular_name", @fee_particulars[0].name, :class=>"form-field particular_box_input newNameField", :placeholder => "Particular Name", :"data-transport" => 0, :disabled => "true" %>
                </span>
                <div style="border-top: 1px solid #ccc; text-align: center; width: 100%;">
                    <a id="particular_details_1_<%= @fee_particulars[0].finance_fee_particular_category_id %>" href="javascript:;" style="font-family: verdana; font-size: 12px;" class="particular_details">Particular Details</a>
                    <div id="particular_details_div_1_<%= @fee_particulars[0].finance_fee_particular_category_id %>" style="border: 1px solid #ccc; height: 200px; width: 88%; padding: 20px; border-radius: 6px; background: #FCFCFC; overflow-y: auto; overflow-x: none; display: none; margin: 0 auto;" class="particular_details_div"></div>
                </div>
            </td>
            <td class="text-center" style="vertical-align: middle;"></td>
            <% else %>
            <td colspan="4" style="text-align: center; font-weight: normal; font-size: 12px; font-family: verdana;">[No Particulars found]</td>
            <% end %>
        </tr>
        <% unless @fee_particulars.blank? %>
        <tr class="table-actions">
            <td class="text-center">
              <i class="fa fa-plus-square-o assignParticularButton" style="cursor: pointer; font-size: 20px; color: #0c9b2b;"></i>
            </td>
            <td id="fee_category_td" colspan="3" style="vertical-align: middle;">&nbsp;</td>
        </tr>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" style="padding: 20px;">
                <strong id="addTransport"><i class="fa fa-bus assignParticularButton" style="cursor: pointer; font-size: 16px; padding-right: 6px;  color: #0c9b2b;"></i><span style="color: #0c9b2b;">Add Transport</span></strong>
                <!--strong id="addParticularButton"><i class="fa fa-plus"></i><span>Add Particular</span></strong-->
                <!--strong id="assignParticularButton"><i class="fa fa-check"></i><span>Assign Particular</span></strong-->
            </td>
        </tr>
    </tfoot>
</table>
<% unless @fee_particulars.blank? %>
<table id="particular-row" style="display: none;">
    <tr id="particularDataRow-tmp" class="particularDataRow-tmp">
        <td class="text-center">
            <h3 class="sl_no" style="display: inline-block; padding-right: 10px;">1</h3>
        </td>
        <td id="fee_category_td" style="vertical-align: middle;">
            <%= select("assign_fee_category_id",{} ,@fee_particulars.map { |item| [item.name, item.finance_fee_particular_category_id] }, {:prompt => "--select particular category--"},{:class => "form-field fee_category_tr_row"} ) %><br />
            <span style="display: block; padding-top: 10px; font-family: verdana; font-size: 12px;"><%= check_box_tag "disabled_new_particular_name", 1, true, :class=>'disabled_new_particular_name' %>&nbsp;&nbsp;Use Default Particular Name</span>
        </td>
        <td id="fee_particular_name_td" style="width: 300px; vertical-align: middle;">
            <span class="particularname" style="display: block; padding-bottom: 20px;">
              <%= text_field_tag "assign_particular_name", "", :class=>"form-field particular_box_input newNameField", :placeholder => "Particular Name", :"data-transport" => 0, :disabled => "true" %>
            </span>
            <div style="border-top: 1px solid #ccc; text-align: center; display: none; width: 100%;">
                <a id="particular_details_" href="javascript:;" style="font-family: verdana; font-size: 12px;" class="particular_details">Particular Details</a>
                <div id="particular_details_div_" style="border: 1px solid #ccc; height: 200px; width: 88%; padding: 20px; border-radius: 6px; background: #FCFCFC; overflow-y: auto; overflow-x: none; display: none; margin: 0 auto;" class="particular_details_div"></div>
            </div>
        </td>
        <td class="text-center" style="vertical-align: middle;"><span class="minusButton deleteRowButton"><i class="fa fa-times"></i></span></td>
    </tr>
</table>
<% end %>
<% unless @fee_particulars_transport.blank? %>
<table id="particular-row-transport" style="display: none;">
    <tr id="particularDataTransportRow-tmp" class="particularDataTransportRow-tmp">
        <td class="text-center">
            <h3 class="sl_no" style="display: inline-block; padding-right: 10px;">1</h3>
        </td>
        <td id="fee_category_td" style="vertical-align: middle;">
            <%= select("assign_fee_category_id",{} ,@fee_particulars_transport.map { |item| [item.name, item.id] }, {:prompt => "--select particular category--"},{:class => "form-field fee_category_tr_row"} ) %><br />
            <span style="display: block; padding-top: 10px; font-family: verdana; font-size: 12px;"><%= check_box_tag "disabled_new_particular_name", 1, true, :class=>'disabled_new_particular_name' %>&nbsp;&nbsp;Use Default Particular Name</span>
        </td>
        <td id="fee_particular_name_td" style="width: 300px; vertical-align: middle;">
            <span class="particularname" style="display: block; padding-bottom: 20px;">
              <%= text_field_tag "assign_particular_name", "", :class=>"form-field particular_box_input newNameField", :placeholder => "Particular Name", :"data-transport" => 1, :disabled => "true" %>
            </span>
            <div style="border-top: 1px solid #ccc; text-align: center; display: none; width: 100%;">
                <a id="particular_details_" href="javascript:;" style="font-family: verdana; font-size: 12px;" class="particular_details">Particular Details</a>
                <div id="particular_details_div_" style="border: 1px solid #ccc; height: 200px; width: 88%; padding: 20px; border-radius: 6px; background: #FCFCFC; overflow-y: auto; overflow-x: none; display: none; margin: 0 auto;" class="particular_details_div"></div>
            </div>
        </td>
        <td class="text-center" style="vertical-align: middle;"><span class="minusButton deleteRowButton"><i class="fa fa-times"></i></span></td>
    </tr>
</table>
<% end %>
<script type="text/javascript">


  j(document).ready(function () {

      j(document).on('click', '.saveButton', function () {
          var formFields = [];
          var values = [];
          var selectedStudents = [];
          j('.addNewParticularClass').each(function () {
              values[j(this).data('fieldname')] = j(this).val();
          });
          var recieverType = j("input[name='finance_fee_particular[receiver_type]']:checked").val();
          if (recieverType === "Student")
          {
              j("input[name='student_ids[]']:checked").each(function () {
                  selectedStudents.push(j(this).val());
              });

              values["student_id"] = selectedStudents;
          }
          formFields.push(values);
          var batches = selected_batches();

          new Ajax.Request('/finance/add_fees_particulars_create',
                  {
                      asynchronous: true,
                      evalScripts: true,
                      parameters: 'finance_fee_particular_category_id=' + formFields[0].particular_category_id + '&amount=' + formFields[0].particular_amount + '&particular_name=' + formFields[0].particular_name + '&student_category_id=' + formFields[0].student_category + '&batch_ids=' + batches + '&receiver_type=' + recieverType + '&students=' + selectedStudents + '&finance_fee_category_id=' + j("#finance_fee_collection_fee_category_id").val()
                  }
          )

      });

  });


</script>
<% end %>
