<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<label class="head_label"><%= t('one_time_fee_discount_list') %> <span></span></label>
<% unless @discounts.blank? %>

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
 
  <h4>Batch Wise Discount</h4>  
  
  <% batch_discount = @discounts.select{|d| d.receiver_type == 'Batch'} %>
  <% if batch_discount.length > 0 %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('discount_type_txt') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% batch_discount.each do |f| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td class="col-3"><%= f.name %></td>
        <td class="col-3"><%= (f.is_onetime) ? "One Time" : 'Repeat' %></td>
        <td class="col-3">
          <%= f.is_amount?? "#{precision_label(f.discount)}#{(currency)}"  : "#{precision_label(f.discount)}#{"(%)"}" %>
        </td>
       
          <td class="col-1">
            <div id="discount_option_<%= f.id %>" class="options">
              <% if @fee_collection_discount.include?(f.id) %>  
              <span class="small_warning"> <%= link_to_remote "#{t('remove_assign')}",:confirm=>"#{t('assign_remove_msg')}",:url => {:action => 'remove_fee_discount_from_collection', :id => f.id,:fee_collection_id=>@fee_collection_id,:batch_id=>@batch_id},:before => "Element.show('loader_#{f.id}')", :success => "Element.hide('loader_#{f.id}')" %></span>  
              <% else %>  
              <span class="small"> <%= link_to_remote "#{t('assign')}",:confirm=>"#{t('assign_confirm_msg')}",:url => {:action => 'assign_fee_discount_to_collection', :id => f.id,:fee_collection_id=>@fee_collection_id,:batch_id=>@batch_id},:before => "Element.show('loader_#{f.id}')", :success => "Element.hide('loader_#{f.id}')" %></span>
              <% end %>
            </div>
            <div class="loader_div">
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader_#{f.id}",
                :style =>"display: none; padding-top: 5px;" ) %>
            </div>
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('discount_type_txt') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="4"><%= t('no_discount_found_batch_wise') %></td>
        </tr>
    </tbody>  
  </table>
  <% end %>
  
  <br />
  <hr style="border-top: 1px solid #ccc;" />
  <h4>Student Category Wise Discount</h4>  
  <% category_discount = @discounts.select{|d| d.receiver_type == 'StudentCategory'} %>
  <% if category_discount.length > 0 %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('discount_type_txt') %></th>
        <th><%= t('student_category') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% category_discount.each do |f| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td class="col-3"><%= f.name %></td>
        <td class="col-3"><%= (f.is_onetime) ? "One Time" : 'Repeat' %></td>
        <td class="col-3"><%= f.category_name %></td>
        <td class="col-3">
          <%= f.is_amount?? "#{precision_label(f.discount)}#{(currency)}"  : "#{precision_label(f.discount)}#{"(%)"}" %>
        </td>
       
          <td class="col-1">
            <div id="discount_option_<%= f.id %>" class="options">
              <% if @fee_collection_discount.include?(f.id) %>  
              <span class="small_warning"> <%= link_to_remote "#{t('remove_assign')}",:confirm=>"#{t('assign_remove_msg')}",:url => {:action => 'remove_fee_discount_from_collection', :id => f.id,:fee_collection_id=>@fee_collection_id,:batch_id=>@batch_id},:before => "Element.show('loader_#{f.id}')", :success => "Element.hide('loader_#{f.id}')" %></span>  
              <% else %>  
              <span class="small"> <%= link_to_remote "#{t('assign')}",:confirm=>"#{t('assign_confirm_msg')}",:url => {:action => 'assign_fee_discount_to_collection', :id => f.id,:fee_collection_id=>@fee_collection_id,:batch_id=>@batch_id},:before => "Element.show('loader_#{f.id}')", :success => "Element.hide('loader_#{f.id}')" %></span>
              <% end %>
            </div>
            <div class="loader_div">
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader_#{f.id}",
                :style =>"display: none; padding-top: 5px;" ) %>
            </div>  
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('discount_type_txt') %></th>
        <th><%= t('student_category') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5"><%= t('no_discount_found_student_category_wise') %></td>
        </tr>
    </tbody>  
  </table>
  <% end %>
  
  <br />
  <hr style="border-top: 1px solid #ccc;" />
  <h4>Student Wise Discount</h4>  
  <% student_discount = @discounts.select{|d| d.receiver_type == 'Student'} %>
  <% if student_discount.length > 0 %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('discount_type_txt') %></th>
        <th><%= t('student_name') %></th>
        <th><%= t('admission_no') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% student_discount.each do |f| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td class="col-3"><%= f.name %></td>
        <td class="col-3"><%= (f.is_onetime) ? "One Time" : 'Repeat' %></td>
        <td class="col-3"><%= f.student_short_name %></td>
        <td class="col-3"><%= f.student_admission_no %></td>
        <td class="col-3">
          <%= f.is_amount?? "#{precision_label(f.discount)}#{(currency)}"  : "#{precision_label(f.discount)}#{"(%)"}" %>
        </td>
       
          <td class="col-1">
            <div id="discount_option_<%= f.id %>" class="options">
              <% if @fee_collection_discount.include?(f.id) %>  
              <span class="small_warning"> <%= link_to_remote "#{t('remove_assign')}",:confirm=>"#{t('assign_remove_msg')}",:url => {:action => 'remove_fee_discount_from_collection', :id => f.id,:fee_collection_id=>@fee_collection_id,:batch_id=>@batch_id},:before => "Element.show('loader_#{f.id}')", :success => "Element.hide('loader_#{f.id}')" %></span>  
              <% else %>  
              <span class="small"> <%= link_to_remote "#{t('assign')}",:confirm=>"#{t('assign_confirm_msg')}",:url => {:action => 'assign_fee_discount_to_collection', :id => f.id,:fee_collection_id=>@fee_collection_id,:batch_id=>@batch_id},:before => "Element.show('loader_#{f.id}')", :success => "Element.hide('loader_#{f.id}')" %></span>
              <% end %>
            </div>
            <div class="loader_div">
              <%= image_tag("loader.gif",
                :align => "absmiddle",
                :border => 0,
                :id => "loader_#{f.id}",
                :style =>"display: none; padding-top: 5px;" ) %>
            </div>  
          </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('discount_type_txt') %></th>
        <th><%= t('student_name') %></th>
        <th><%= t('admission_no') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6"><%= t('no_discount_found_student_wise') %></td>
        </tr>
    </tbody>  
  </table>
  <% end %>
<% else %>
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th><%= t('name') %></th>
        <th><%= t('student_category') %></th>
        <th><%= t('student_name') %></th>
        <th><%= t('discount') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5"><%= t('no_discount_found') %></td>
        </tr>
    </tbody>  
  </table>

<% end %>
  <div style="clear: both; height: 20px;"></div>