<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
  <% form_remote_for :vat, :url => {:action => 'update_vat_ajax' }, :before=>"$('add_vat').disable()",:complete=>"setTimeout(function(){$('add_vat').enable();},5000)" do |form| %>
    <div class="fine_info" style="width: 68%;">
      <div class="label-field-pair">
        <div class="label-container" style="width: 63%; text-align: right; padding-right: 2%;  padding-top: 6px;"><label style="width: 100%;"><%= "Vat Amount" %></label></div>
        <div class="input-container" style="width: 35%;">
          <%= form.text_field :vat_amount, :value=>'' ,:id=>"vat_fee", :class=>'',:style=>"width: 36% !important; display: inline-block !important;" %>
          <%= submit_tag "Add Vat",:class=>'submit_button2', :id => 'add_vat' ,:onclick=>'return validate_vat();' %>
        </div>
      </div>
      
    </div>
    <%= form.hidden_field :student, :value => @student.id %>
    <%= form.hidden_field :batch_id, :value => @batch.id %>
    <%= form.hidden_field :date, :value => @date.id %>
    <%= form.hidden_field :fine, :value => @fine %>


  <% end %>
