<script type="text/javascript">
        Element.hide('loader_date');
        </script>
<%if @refunds.present?%>
<div id="payments_details">
    <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
      <thead><!-- class="thead-inverse" -->
        <tr>
          <th><%= t('sl_no') %></th>
          <th><%= t('student_name') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('date_text') %> </th>
          <th><%= t('fee_collection_name') %></th>
          <th><%= t('refund_done') %></th>
        </tr>
      </thead>
      <tbody>
      <%i=@page*5%>
      <% @refunds.each do |f| %>
        <tr class="<%= cycle("odd","even") %>">

          <td class="col-1"><%= i +=1 %></td>
         <td class="col-3" style="width:20%"> <%=f.finance_transaction.student_payee.full_name%></td>
          <td class="col-3"><%= precision_label(f.amount).to_f %></td>
          <td class="col-3" ><%= f.created_at.strftime("%d-%m-%Y") %></td>
          <td class="col-3" style="width:20%" ><div class="cancel" ><%= f.refund_rule.present?? f.refund_rule.finance_fee_collection.name : "#{t('no_fee_collection_present')}"  %></div></td>
          <td class="col-3" ><%= f.refunded_by %></td>
        </tr>
      <% end %>
      </tbody>  
    </table>

  </div>
<div class="pagination_div"><div class="div1"><%= will_paginate @refunds, :previous_label=>"<", :next_label=>">", :renderer => 'RemoteLinkRenderer' ,:remote => { :loading =>  "$('loader_paginate').show();",:complete =>"$('loader').hide();"  }, :params => {:controller=>:finance,:action => "search_fee_refunds",:option=>params[:option],:query=>params[:query]} %></div><div class="div2"><%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader_paginate",
          :style =>"display: none;" ) %></div></div>
<%if permitted_to? :refund_search_pdf,:finance%>
<div class="pdf-center" >
<%= link_to "► #{t('view')} #{t('pdf_report')}",   {:action => "refund_search_pdf",:option=>params[:option],:query=>params[:query]}, :target => '_blank' , :class=> 'user_button' %>
</div>
<%end%>

<%else%>
<div id="payments_details">
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
      <thead><!-- class="thead-inverse" -->
        <tr>
          <th><%= t('sl_no') %></th>
          <th><%= t('student_name') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('date_text') %> </th>
          <th><%= t('fee_collection_name') %></th>
          <th><%= t('refund_done') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6">
            <%=t('no_refunds_exists')%>
          </td>
        </tr>
      </tbody>
  </table>
</div>
<%end%>

