<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('transactions') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('finance_transactions_view') %></div>
<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}",
        {:controller => "finance", :action => "transaction_pdf_fees_month", :start_date => @start_date, :end_date=>@end_date},:target => '_blank' %></li>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "CSV REPORT",
        {:controller => "finance", :action => "transaction_pdf_fees_month_csv", :start_date => @start_date, :end_date=>@end_date},:target => '_blank' %></li>
  </ul>
</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">

    <%= link_to 'Fees', :controller => "finance", :action=>"fees_index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "Fees Report", :controller => "finance", :action => "fees_reports" %><div class = "bread-crumb-separator"> > </div>
    <%= link_to "Date Range Report", :controller => "finance", :action => "monthly_report_fees" %><div class = "bread-crumb-separator"> > </div>

    <%= t('finance_transactions_view') %>
  </div>
  <% unless @finance_fee_category.blank? %>  
  <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
    <thead><!-- class="thead-inverse" -->
      <tr>
        <th>Date</th>
        <% @finance_fee_category.each do |fees_particuler| %>
          <th><%= fees_particuler.name %></th>
        <% end %>
        <% @all_fees_extra_particulers.each do |fees_extra_particuler| %>
          <th><%= fees_extra_particuler %></th>
        <% end %>
        <th>Total Collection</th>
      </tr>
    </thead>
    <% fee_total = {} %>
    <% grand_total = 0.0 %>
    <tbody>
    <% @dates.each do |day| %>
    <tr class="tr-odd">
      <td style="white-space: nowrap;" class="align-center">

          <a href="/finance/update_monthly_report_fees?start_date=<%= day.first.strftime("%Y-%m-%d").to_date.beginning_of_month %>&end_date=<%= day.first.strftime("%Y-%m-%d").to_date.end_of_month %>" target="_blank" ><%= day.last %></a>
      
      </td>
      <% total_fees = 0.0 %>
      <% i = 0 %>
      
      <% @finance_fee_category.each do |fees_particuler| %>
          <% fee_amount = 0.0 %>
          <% unless @transactions_particular.blank? %>
              <% @transactions_particular.each do |transactions_particular| %>
                <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and transactions_particular.particular_id == fees_particuler.id and transactions_particular.particular_type = "ParticularCategory" %>
                  <% fee_amount+=transactions_particular.amount %>
                <% end %>
              <% end %>
          <% end %>
          <% total_fees += fee_amount %>
          <td>
            <%= (fee_amount==0) ? "-" : precision_label(fee_amount) %>
            <div class="date" ><span><%=  fees_particuler.name %></div></span></div>
          </td>
          
          
          <% if fee_total[i].blank? %>
              <% fee_total[i] = 0 %>
          <% end %>
          <% fee_total[i] +=fee_amount %>
          <% grand_total +=fee_amount %>
          <% i +=1; %>
      <% end %>
        
      <%#*Discount Calculation%>    
      
      <% discount_amount = 0 %> 
          
      <% unless @transactions_particular.blank? %>
        <% @transactions_particular.each do |transactions_particular| %>
          <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and (transactions_particular.particular_type == "Discount" or transactions_particular.particular_type == "OnetimeDiscount" or transactions_particular.particular_type == "Fine Discount")   %>
            <% discount_amount+=transactions_particular.amount %>
          <% end %>
        <% end %> 
      <% end %> 
          
      <% if fee_total[i].blank? %>
          <% fee_total[i] = 0 %>
      <% end %>
      <% fee_total[i] += discount_amount %>  
          
      <td>
          <%= (discount_amount==0) ? "-" : "["+precision_label(discount_amount).to_s+"]" %>
          <div class="date" ><span><%= "Discount" %></div></span></div>
      
      </td>
       
      
      <%#*Fine Calculation%> 
      <% i +=1; %>
      <% fine_amount = 0 %>
      
      <% unless @transactions_particular.blank? %>
        <% @transactions_particular.each do |transactions_particular| %>
          <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and transactions_particular.particular_type == "Fine"   %>
            <% fine_amount+=transactions_particular.amount %>
          <% end %>
        <% end %> 
      <% end %>
      
      <% if fee_total[i].blank? %>
          <% fee_total[i] = 0 %>
      <% end %>
      <% fee_total[i] += fine_amount %>  
      <% total_fees += fine_amount %>
      <% grand_total += fine_amount %>
      
      <td>
        <%= (fine_amount==0) ? "-" : precision_label(fine_amount) %>
        <div class="date" ><span><%= "Fine" %></div></span></div>
      </td>
        
      
      <%#*Vat Calculation%>
      <% i +=1; %>
      <% vat_amount = 0 %> 
       
      <% unless @transactions_particular.blank? %>
        <% @transactions_particular.each do |transactions_particular| %>
          <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and transactions_particular.particular_type == "Vat"   %>
            <% vat_amount+=transactions_particular.amount %>
          <% end %>
        <% end %> 
      <% end %>
      
      <% if fee_total[i].blank? %>
          <% fee_total[i] = 0 %>
      <% end %>
      <% fee_total[i] += vat_amount %>  
      <% total_fees += vat_amount %>
      <% grand_total += vat_amount %>
      
      <td>
          <%= (vat_amount==0) ? "-" : precision_label(vat_amount) %>
          <div class="date" ><span><%= "VAT" %></div></span></div>
      </td>
      <% i +=1; %>
      
      <%#*Total Fee%>
      <td><%= (total_fees==0) ? "-" : precision_label(total_fees) %></td>
    </tr>  
    <% end %>
    <tr class="tr-even">
        <td style="white-space: nowrap;">Total Collection</td>
        <% i = 0 %>
        <% @finance_fee_category.each do |fees_particuler| %>
          <td>
              <%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : precision_label(fee_total[i]) %>
              <div class="date" ><span><%=  fees_particuler.name %></div></span></div>
          
          </td>
          <% i = i+1 %>
        <% end %>
        <% @all_fees_extra_particulers.each do |fees_extra_particuler| %>
          <td>
              <%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : precision_label(fee_total[i]) %>
              <div class="date" ><span><%=  fees_extra_particuler %></div></span></div>
          </td>
          <% i = i+1 %>
        <% end %>
        <td><%= (grand_total==0) ? "-" : precision_label(grand_total) %></td>
    </tr>
    </tbody>
  </table>
  <% end %>  

</div>

<style>
    tr.tr-odd td, tr.tr-even td
    {
       text-align:right;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
 
    
</style>   

<script>
  j("td").each(function(e){
    if(j(this).html() == "-")
    {
      j(this).addClass("align-center");
    }  
  });
  
</script>  