<%- # Champs21
    #Copyright 2010 teamCreative Private Limited
    #
    #This product includes software developed at
    #Project Champs21 - http://www.champs21.com/
    #
    #Licensed under the Apache License, Version 2.0 (the "License");
    #you may not use this file except in compliance with the License.
    #You may obtain a copy of the License at
    #
    #  http://www.apache.org/licenses/LICENSE-2.0
    #
    #Unless required by applicable law or agreed to in writing,
    #software distributed under the License is distributed on an
    #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    #KIND, either express or implied.  See the License for the
    #specific language governing permissions and limitations
    #under the License.  -%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/select2.min.css">
<link rel="stylesheet" href="/stylesheets/select2-finance.css">

<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('fees_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('collection_details') %></div>
</div>
<div id="page-yield">
  <h3>Fee Collection Details (Admission)</h3>
  <div class="label-field-pair" style="padding-top: 10px; padding-bottom: 10px; width: 40%; margin: 0 auto; ">
    <div class="input-container" style="width: 100%; position: relative;">
        <input autocomplete="off" type="text" name="student_admission_no_fees" id="student_admission_no_fees" placeholder="Student Admission No" />
        <div class="group-checked search-student"><i class="fa fa-search search-student search-filter-student" aria-hidden="true"></i></div>
    </div>
  </div>
  <br>
  <div id="student-list" style="border: 1px solid #ccc; border-radius: 5px; display: none;">
  </div>
  <div style="clear: both; height: 20px;"></div>
  <%#= debug @finance_fees_inactive.inspect %>

  <% unless @finance_fees.blank? %>
    <div class="particulars" id="particulars">
      <button type="button" class="button submit_button" id="add_absent_fine" style="margin-left: 0%; margin-bottom: 10px;">Add Absent Fine</button>
      <div id="absent_fine_panel" style="border: 1px solid #ccc; width: 95.6%; border-radius: 8px; display: none; padding: 10px; margin: 0 auto;">
          <div class="label-field-pair" style="width: 49%; display: inline-block;">
            <div class="label-container">
              <label for="">Fine Name:</label>
            </div>
            <div class="input-container">
              <input type="text" class="MB_focusable" id="fine_name" placeholder="Fine Name" title="Fine Name">
            </div>
        </div>
        <div class="label-field-pair" style="width: 49%; display: inline-block;">
            <div class="label-container">
              <label for="">Fine Amount:</label>
            </div>
            <div class="input-container">
              <input type="text" class="MB_focusable" id="fine_amount"  onkeypress="return isNumberKey(event,this)" onkeydown="checkKey(event,this)" placeholder="Fine Amount">
            </div>
        </div>
      </div>
  
      <div id="resultDiv">
        <input type="hidden" name="option" id="option" value="<%= @option %>" />
      <table class="table table-striped table-bordered" id="myTable" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
        <thead><!-- class="thead-inverse" -->
        <tr>
          <th style="vertical-align: middle">
              <div id="chkbox_all_panel" style="display: none; padding-right: 5px;"><input type="checkbox" name="check_all" id="check_all" class="check_all" /></div>
              <div style="display: inline-block; padding-right: 5px;">Sl.</div>
          </th>
          <th style="vertical-align: middle">Name<br>Admission No<br>Batch</th>
          <th style="vertical-align: middle">Trn. Date</th>
          <th style="vertical-align: middle">Pay Type<br>Order Id<br>Ref. ID</th>
          <th style="vertical-align: middle">Amount</th>
          <th style="vertical-align: middle">Status</th>
        </tr>
        </thead> 
          <tbody>
          <% unless @finance_fees.blank?%>
          <% @total_fee = 0 %>
          <% i = 0 %>
          <% @finance_fees.each do |fees| %>
            <%  paid_fees = fees.finance_transactions %>
            <%
                @transaction_date = []
                @payment_mode = []
                @online_payment = []
                @paid_amount = 0
                @op_type = '';
                @op_order_id = '';
                @op_ref_id = '';
            %>  
            <% if fees.student.blank? %>
              <% break %>
            <% end %>  
            <% unless paid_fees.blank?
                  paid_fees.each do |pf|
                     @online_payment = Payment.find(:all, :conditions=>"finance_transaction_id = #{pf.id}")
                     unless @online_payment.blank?
                     opc = 0
                     @online_payment.each do |op|
                      @transaction_date << op.transaction_datetime.to_date.strftime('%Y-%m-%d')

                      if opc === 0
                       if op.gateway_response[:payment_type] === "MB"
                      @op_type += "MB"
                       elsif op.gateway_response[:payment_type] == "ITCL"
                      @op_type += "ITCL"
                       else
                      @op_type += "#{op.gateway_response[:payment_type] }"
                       end

                      @op_ref_id += "#{op.gateway_response[:ref_id] }"
                      @op_order_id += "#{op.order_id.to_s}"
                      else
                       if op.gateway_response[:payment_type] === "MB"
                       @op_type += ", MB"
                       elsif op.gateway_response[:payment_type] == "ITCL"
                       @op_type += ", ITCL"
                       else
                      @op_type += ", #{op.gateway_response[:payment_type] }"
                      end
                      @op_ref_id += ", #{op.gateway_response[:ref_id] }"
                      @op_order_id += ",#{op.order_id.to_s}"
                      end
                      opc += 1

                     end

                     else
                     @transaction_date << pf.transaction_date.to_date.strftime('%Y-%m-%d')
                     @op_type = '-';
                     @op_order_id = '-';
                     @op_ref_id = '-';
                     end

                     @payment_mode << pf.payment_mode
                     @paid_amount += pf.amount
                   end
               end
             
               #fine_amount_paid = 0.0
               #unless paid_fees.blank?
                  #transaction_ids = paid_fees.map(&:id)
                  #unless transaction_ids.blank?
                    #paidFineFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Fine' AND finance_transaction_id IN (" + transaction_ids.join(",") + ")")
                    #unless paidFineFess.blank?
                      #fine_amount_paid += paidFineFess.map(&:amount).sum.to_f
                    #end
                  #end
               #end
               ##d = FinanceFeeCollection.find()
               #f = FinanceFee.find(fees.id)
               #if fine_amount_paid > 0
                  #balance = FinanceFee.get_student_balance(f.finance_fee_collection, f.student, f) + fine_amount_paid.to_f
                #else
                  #balance = FinanceFee.get_student_balance(f.finance_fee_collection, f.student, f) + f.finance_fee_collection.fine_to_pay(f.student).to_f + fine_amount_paid.to_f
                #end
               #balance = 0
            %>
            <tr id="student_fee_<%= fees.id %>_<%= fees.student.id %>" class="<%= cycle("odd", "even") %> student_fees_list">
              <td class="col-5" style="text-align: center; vertical-align: middle;">
                  <div class="student_chkbox_panel" style="display: none; padding-right: 5px;"><input type="checkbox" name="student_ids[]" id="student_ids" class="student_ids" value="<%= fees.student.id %>" /></div>
                  <div class="sl_no" style="display: inline-block; padding-right: 5px;"><%= i = i + 1 %></div>
              </td>
              <td class="col-4"style="vertical-align: middle;">
                  <% if MultiSchool.current_school.id == 3 %>
                  <small><strong><%= link_to fees.student.full_name, :controller => 'finance' ,:action => 'fees_student_dates',:id => fees.student.id%></strong></small><br>
                  <% else %>

                  <small><strong><%= link_to fees.student.full_name + " (Roll No: " + fees.student.class_roll_no.to_s + ")", :controller => 'finance' ,:action => 'fees_student_dates',:id => fees.student.id%></strong></small><br>
                  <% end %>
                  <small><%= fees.student.admission_no %></small><br>
                  <small><%= fees.student.batch.full_name %></small>
                  <hr style="border: 1px solid #ccc; display: none;" class="absent_hr_panel" />
                  <div class="label-field-pair absent_days_panel" style="width: 100px; display: none;">
                    <div class="label-container" style="display: block;">
                      <label for="">No of Absent Days:</label>
                    </div>
                    <div class="input-container" style="clear: both; width: 100%;">
                        <input type="text" class="MB_focusable absent_days_cls" id="absent_days_<%= fees.student.id %>" name="absent_days_<%= fees.student.id %>" disabled=""  onkeypress="return isNumberKey(event,this)" onkeydown="checkKey(event,this)" placeholder="No of Absent Days">
                    </div>
                </div>
              </td>
              <td style="vertical-align: middle; text-align: center;">
                <% unless @transaction_date.blank? %>
                  <% @transaction_date.each do |date| %>
                    <%= date.to_date.strftime('%d-%m-%Y') + "<br>" %>
                  <% end %>
                <% else %>
                  <%= "-" %>
                <% end %>
              </td>
              <td style="vertical-align: middle;">
                <%= @op_type + "<br>" %>
                <%= @op_order_id + "<br>" %>
                <%= @op_ref_id + "<br>" %>
              </td>

              <td class="col-3" style="text-align: right; vertical-align: middle;" >
                <div id="student_amount_<%= fees.student_id %>_<%= fees.id %>" class="student_amount">
                  <% if fees.is_paid %>
                    <%= to_comma_seperated_precision_label @paid_amount %>
                    <% @total_fee = @total_fee + @paid_amount %>
                  <% else %>
                    <% if fees.balance == 0.0 %>
                    <%= to_comma_seperated_precision_label @paid_amount %>
                    <% @total_fee = @total_fee + @paid_amount %>
                    <% else %>
                    <%= to_comma_seperated_precision_label fees.balance %>
                    <% if @paid_amount.to_f > 0.00 %>
                    <hr style="border: 1px solid #ccc;" />
                    <b>Paid Amount</b><br /><%= @paid_amount %>
                    <% end %>
                    <% @total_fee = @total_fee + fees.balance %>
                    <% end %>
                  <% end %>
                </div>
              </td>

              <td id="action_tr_<%= fees.student.id %>_<%= fees.id %>" class="col-3 action_tr" style="text-align: center;vertical-align: middle;" >
                  <div class="action_div">
                    <% if fees.is_paid %>
                      <i class="fa fa-check" style="color: #49BB4B; font-size: 14px;"></i><br/>
                    <% else %>
                      <% if fees.balance == 0.0 %>
                      <i class="fa fa-check" style="color: #49BB4B; font-size: 14px;"></i><br/>
                      <% else %>
                      <input type="hidden" class="notPaid" name="not_paid[]" value="<%= fees.student.id %>">
                      <%= link_to_remote '<i class="fa fa-refresh" style="color: #49BB4B;"></i>',:before => "Element.show('add-loader-#{i}')", :success => "Element.hide('add-loader-#{i}');",:url => {:action => 'regenerate_student_fees',:fee_id=> fees.id, :student_id => fees.student.id},:confirm => "Are You sure to Regenerate?"%>
                      <%= link_to_remote '<i class="fa fa-minus-circle" id="deleteFin" style="color:red;"></i>',:before => "Element.show('add-loader-#{i}');", :success => "Element.hide('add-loader-#{i}');",:url => {:action => 'delete_student_fees',:fee_id=> fees.id},:confirm => "Are you sure, you want to delete this fee transaction?"%>
                      <%= image_tag("Loader-transparant.gif",:align => "absmiddle",:border => 0,:id => "add-loader-#{i}", :class=>"add-palette-loader", :style =>"display: none;" ) %>
                      <% end %>
                    <% end %>
                  </div>  
              </td>

          </tr>
          <% end %>
          <% else %>
            <tr>
              <td colspan="6" style="text-align: center;vertical-align: middle;">
                No Student Found
              </td>

            </tr>
            </tbody>
          <% end %>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="3" style="vertical-align: middle;"></td>
            <td style="vertical-align: middle;"><b>Total Amount:</b></td>
            <td style="text-align: right;vertical-align: middle;"><div id="totalAmount"><%= to_comma_seperated_precision_label @total_fee %></div></td>
            <td></td>
          </tr>
          </tfoot>

      </table>
    </div>
    </div>
  <% else %>
      <div class="particulars" id="particulars"><div id="resultDiv">
          <p style="padding: 10px; border: 1px solid #c00; text-align: center; border-collapse: separate !important; background: #f9e79f;font-family: verdana; font-size: 12px;font-weight: bold;">No Student Assign with this Fee Collection</p>
      </div></div>
  
  <% end %>
  <div id="save_absent_fine_panel" style="width:100%; text-align: center; padding-top: 10px; display: none;">
      <i id="absent_fine_clicked" class="fa fa-spin fa-spinner" style="display: none;"></i>
      <button type="button" class="button submit_button" id="save_absent_fine" style="float: none;">Save Absent Fine</button>
  </div>  
</div>
<style>
  .table {
      width: 100%;
      margin-bottom: 0px;

  }
  .label-field-pair .label-container {
    width: 37%;
    padding-top: 4px;
    float: left;
  }
  .select2-container {
    width: 92% !important;
  }
  .course_area .select2-container {
    width: 100% !important;
  }
  .label-field-pair input{
    margin: 0;
    width: 92%;
  }
  .group-checked{
    position: absolute;
    right: 0;
    top: 2px;
    height: 26px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
    cursor: pointer;
  }
</style>
<style>
  .submit_button {
    margin-top: 65px;
    margin-top: 0px;
    margin-left: 33px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    cursor: pointer;
    float: left;
  }
</style>
<script>
    function resetDiv()
    {
       var sn = 0;
       j('.sl_no').each(function(){
            sn += 1;
       });
       if ( sn == 0 )
       {
          j("#particulars").html('<div id="resultDiv"><p style="padding: 10px; border: 1px solid #c00; text-align: center; border-collapse: separate !important; background: #f9e79f;font-family: verdana; font-size: 12px;font-weight: bold;">No Student Assign with this Fee Collection</p></div>');
       }
    }
    
    function resetSearch()
    {
       if ( j(".fees_for_students").length == 0 )
       {
          j("#fees_for_students_table").remove();
          j("#student-list").hide();
       }
    }
    
    function resetSN()
    {
       var sn = 1;
       j('.sl_no').each(function(){
            j(this).html(sn);
            sn += 1;
       });
    }
    
    function filterTable(field) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput"+field);
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[field];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
    function update_amount_to_string(student_id, fee_id)
    {
        var amount = parseFloat(j("#student_amount_" + student_id + "_" + fee_id + "").html());
        j("#student_amount_" + student_id + "_" + fee_id + "").html(numberWithCommas(amount.toFixed(2)));
    }
    
    function numberWithCommas(x) {
        var parts = x.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return parts.join(".");
    }

    function update_total(){
        var total = 0;
        j('.student_amount').each(function (k,v) {
            // console.log(v.innerHTML);
            var bal = j.trim(v.innerHTML).replace(/,/g, '')
            total += parseFloat(bal);
        });

        j('#totalAmount').html(numberWithCommas(total.toFixed(2)));
    }
    
    function isNumberKey(evt, obj) 
    {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        var value = obj.value;
        var dotcontains = value.indexOf(".") != -1;
        if (dotcontains)
            if (charCode == 46) return false;
        if (charCode == 46) return true;
        if (charCode == 37) return true;
        if (charCode == 39) return true;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function checkKey(evt, obj) 
    {
        var charCode = (evt.which) ? evt.which : evt.keyCode
        if ( charCode == 37 )
        {
            return true;
        }
        else if ( charCode == 39 )
        {
            return true;
        }
    }
    
    function runSpinner(e)
    {
        e.preventDefault(); 
        j(".search-filter-student").removeClass("search-student");
        j(".search-filter-student").removeClass("fa-search");
        j(".search-filter-student").addClass("fa-spinner");
        j(".search-filter-student").addClass("fa-spin");
    }
    
    function stopSpinner(e)
    {
        e.preventDefault(); 
        j(".search-filter-student").addClass("search-student");
        j(".search-filter-student").removeClass("fa-spin");
        j(".search-filter-student").removeClass("fa-spinner");
        j(".search-filter-student").addClass("fa-search");
    }
    
    var string_filters = ""
    j(document).ready(function(){
        j(document).on("click","#add_absent_fine",function(){
            var html = j(this).html();
            if ( j.trim(html) == "Add Absent Fine" )
            {
                j(".student_ids").each(function(){
                    j(this).removeAttr("checked");
                    var std_id = this.value;
                    j("#absent_days_" + std_id).val("");
                });
                j("#fine_name").val("");
                j("#fine_amount").val("");
                j(this).html("Cancel Absent Fine");
                j("#absent_fine_panel").css('display', 'inline-block');
                j("#save_absent_fine_panel").css('display', 'inline-block');
                j("#chkbox_all_panel").css('display', 'inline-block');
                j(".student_chkbox_panel").css('display', 'inline-block');
                j(".absent_hr_panel").show();
                j("#regenerateAll").hide();
                j(".absent_days_panel").show();
                j('.action_tr div.action_div').hide();
            }
            else
            {
                j(this).html("Add Absent Fine");
                j("#absent_fine_panel").css('display', 'none');
                j("#save_absent_fine_panel").css('display', 'none');
                j("#chkbox_all_panel").css('display', 'none');
                j(".student_chkbox_panel").css('display', 'none');
                j(".absent_hr_panel").hide();
                j(".absent_days_panel").hide();
                j("#regenerateAll").show();
                j('.action_tr div.action_div').show();
            }

        });
        
        j(document).on("click","#save_absent_fine",function(){
            var student_cnt = 0;
            var student_amt_empty_or_null = 0;
            var student_ids_n_amount = "";
            var found = false;
            j(".student_ids").each(function(){
                if (j(this).prop("checked"))
                {
                    found = false;
                    var std_id = this.value;
                    var amt = j("#absent_days_" + std_id).val();
                    if ( j.trim(amt).length == 0 )
                    {
                          student_amt_empty_or_null++;
                          found = true;
                    }
                    else
                    {
                      if ( parseInt(amt) == 0 )
                      {
                          student_amt_empty_or_null++;
                          found = true;
                      }
                    }
                    if ( !found )
                    {
                      student_cnt++;
                      student_ids_n_amount +=  std_id + "-" + amt + ",";
                    }
                }
            });

            if ( student_cnt == 0 )
            {
                alert("No Student Selected");
                return ;
            }
            /*if ( student_amt_empty_or_null > 0 )
            {
                alert("some Student Absent days is empty or Zero,Please correct this before continue");
                return ;
            }*/

            var fine_amount = j.trim(j("#fine_amount").val());

            var fine_name = j.trim(j("#fine_name").val());

            var fee_id = '<%= params[:id] %>';

            if ( j.trim(fine_amount).length == 0 )
            {
                  alert("Please enter fine amount before continue");
                  return ;
            }
            else
            {
              if ( parseInt(fine_amount) == 0 )
              {
                  alert("Fine Amount is zero or empty, Please correct this before continue");
                  return ;
              }
            }
            if ( j.trim(fine_name).length == 0 )
            {
                  alert("Please enter fine Name before continue");
                  return ;
            }

            j("#absent_fine_clicked").show();
            j(this).attr('disabled', 'true');
            new Ajax.Request('/finance/create_absent_fine_particular_multiple', 
                  {
                    asynchronous:true, 
                    evalScripts:true, 
                    parameters:'date='+fee_id+'&students='+student_ids_n_amount+'&fine_amount='+fine_amount+'&fine_name='+fine_name
                  }
            )
        });
      
        j(document).off('click', '.search-student').on('click', '.search-student', function(e){
            e.preventDefault();
            var student_id = j("#student_admission_no_fees").val();
            
            if (j.trim(student_id).length > 0)
            {
                  new Ajax.Request('/finance/search_student_no_fees', 
                        {
                          asynchronous:true, 
                          evalScripts:true, 
                          before: runSpinner(e),
                          success: stopSpinner(e),
                          parameters:'query='+ student_id + '&fee_id='+<%= @fee_id %>
                        }
                  )
            }
            e.stopPropagation();
        });
        
        j(document).off('keyup', '#student_admission_no_fees').on('keyup', '#student_admission_no_fees', function(e){
            var student_id = j(this).val();
            
            if (j.trim(student_id).length == 0 )
            {
                j("#student-list").hide();
            }
            
            if (j.trim(student_id).length > 0 && e.keyCode == 13)
            {
                e.preventDefault();
                new Ajax.Request('/finance/search_student_no_fees', 
                      {
                        asynchronous:true, 
                        evalScripts:true, 
                        before: runSpinner(e),
                        success: stopSpinner(e),
                        parameters:'query='+ student_id + '&fee_id='+<%= @fee_id %>
                      }
                )
            }
            else if (j.trim(student_id).length > 3)
            {
              if ( string_filters != student_id )
              {
                string_filters = student_id
                new Ajax.Request('/finance/search_student_no_fees', 
                        {
                          asynchronous:true, 
                          evalScripts:true, 
                          before: runSpinner(e),
                          success: stopSpinner(e),
                          parameters:'query='+ student_id + '&fee_id='+<%= @fee_id %>
                        }
                )
              }
            }
        });
    });
    
    
    j(document).on("click",".check_all",function(){
        if (j(this).prop("checked"))
        {
            j(".student_ids").prop('checked', true);
            j(".absent_days_cls").removeAttr('disabled');
        }
        else
        {
            j(".student_ids").removeAttr('checked');
            j(".absent_days_cls").attr('disabled', true);

        }
    });
    
    j(document).on("click",".student_ids",function(){
        var val = this.value;
        if (j(this).prop("checked"))
        {
            j(this).prop('checked', true);
            j("#absent_days_" + val).removeAttr('disabled');
        }
        else
        {
            j(this).removeAttr('checked');
            j("#absent_days_"  + val).attr('disabled', true);

        }
    });
    
</script>

