<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('transactions') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('finance_transactions_view') %></div>
<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}",
        {:controller => "finance", :action => "transaction_pdf_fees_month", :start_date => @start_date, :end_date=>@end_date, :filter_by_course => @filter_by_course, :filter_by_payment_type => @filter_by_payment_type},:target => '_blank' %></li>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "CSV REPORT",
        {:controller => "finance", :action => "transaction_pdf_fees_month_csv", :start_date => @start_date, :end_date=>@end_date, :filter_by_course => @filter_by_course, :filter_by_payment_type => @filter_by_payment_type} %></li>
  </ul>
</div>
</div>
<div id="page-yield">
  <div class="bread_crumb">

    <%= link_to 'Fees', :controller => "finance", :action=>"fees_index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "Fees Report", :controller => "finance", :action => "fees_reports" %><div class = "bread-crumb-separator"> > </div>
    <%= link_to "Date Range Report", :controller => "finance", :action => "monthly_report_fees" %><div class = "bread-crumb-separator"> > </div>

    <%= t('finance_transactions_view') %>
  </div>
  <% unless @finance_particular_categories.blank? %>  
  <h2 style="padding-left: 10px;">Date Wise Particular Report</h2>
  <div id="table-scroll" class="table-scroll">
      <div class="table-wrap">
          <table class="table-bordered main-table" id="table-scroll" cellspacing="0" cellpadding="0" border="0" style="width: 98%; table-layout:fixed;">
              <thead><!-- class="thead-inverse" -->
                <tr>
                  <th class="fixed-side" scope="col" style="width: 120px; text-align: center; vertical-align: middle;">Date</th>
                  <% @finance_particular_categories.each do |fees_particular| %>
                    <th style="width: 250px; text-align: center; vertical-align: middle;"><%= fees_particular.name %></th>
                  <% end %>
                  <th style="width: 100px; text-align: center; vertical-align: middle;">Discount On Total Fees</th>
                  <th style="width: 100px; text-align: center; vertical-align: middle;">Fine</th>
                  <th style="width: 340px; text-align: center; vertical-align: middle;">Total Collection</th>
                </tr>
              </thead>
              <% particular_id = 0 %>
              <% particular_wise_fees_amount = [] %>
              <% particular_wise_adv_amount = [] %>
              <% particular_wise_discount_amount = [] %>
              <% particular_wise_fees_amount_total = 0.00 %>
              <% particular_wise_adv_amount_total = 0.00 %>
              <% particular_wise_discount_amount_total = 0.00 %>
              <% particular_wise_total = [] %>
              <% grand_total = 0.00 %>
              <% grand_fine = 0.00 %>
              <% total_fees_discount = 0.00 %>
              <tbody>
                  <% @finance_particular_categories.each do |fees_particular| %>
                      <% particular_wise_fees_amount[fees_particular.id] = 0 %>
                      <% particular_wise_adv_amount[fees_particular.id] = 0 %>
                      <% particular_wise_discount_amount[fees_particular.id] = 0 %>
                  <% end %>
                  <% @student_ids.each do |std| %>
                    <% date_wise_fees = 0.00 %>
                    <% date_wise_adv = 0.00 %>
                    <% date_wise_discount = 0.00 %>
                    <% date_wise_total = 0.00 %>
                    <% date_wise_fine = 0.00 %>
                  
                    <tr class="tr-odd">
                        <% student = Student.find(std) %>
                        <% pt = @particular_wise_transactions.select{|pwt| pwt.payee_id == std } %>
                        <% transaction_id = pt[0].id %>
                        <% payment = Payment.find_by_finance_transaction_id(transaction_id) %>
                        <th style="vertical-align: middle; text-align: left;" class="fixed-side">
                            <a href="/finance/fees_student_dates/<%= std %>" target="_blank" >
                              <%= student.full_name unless student.full_name.nil? %><br />
                              <hr style="border: 1px solid #ccc;" />
                              <small>ID: <%= student.admission_no unless student.admission_no.nil? %></small><br />
                              <small>Order id: <%= payment.order_id unless payment.order_id.nil? %></small>
                            </a>
                        </th>
                        <% i = 1 %>
                        <% @finance_particular_categories.each do |fees_particular| %>
                          <% ptd = pt.select{|p| p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
                          <% apwfc = @transactions_advances.select{|p|  p.payee_id == std and p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
                          <% td = @transactions_discount.select{|p|  p.payee_id == std and  p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
                        
                        
                          <% amt = 0 %>
                          <% adv_amt = 0 %>
                          <% td_amt = 0 %>
                          <% ptd.each do |pp| %>
                            <% amt += pp.amount.to_f %>
                          <% end %>
                          <% apwfc.each do |pp| %>
                            <% adv_amt += pp.amount.to_f %>
                          <% end %>
                          <% td.each do |pp| %>
                            <% td_amt += pp.amount.to_f %>
                          <% end %>
                          <% date_wise_fees += amt %>
                          <% date_wise_adv += adv_amt %>
                          <% date_wise_discount += td_amt %>
                          <% particular_wise_fees_amount[fees_particular.id] += amt %>
                          <% particular_wise_adv_amount[fees_particular.id] += adv_amt %>
                          <% particular_wise_discount_amount[fees_particular.id] += td_amt %>
                        
                          <td style="white-space: nowrap; text-align: center; padding-right: 10px;">
                              <div style="width: 100%; ">
                                  <div style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                      Fees
                                  </div>
                                  <div style="width: 32%; margin-right: 2px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                      Adv.
                                  </div>
                                  <div style="width: 32%; border-bottom: 2px solid #ccc; display: inline-block;">
                                      Waiver
                                  </div>
                              </div>
                              <div style="width: 100%; ">
                                  <div id="particular_fees_<%= particular_id %>_<%= std %>_<%= i %>" style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                      <%= precision_label amt %>
                                  </div>
                                  <div id="particular_adv_<%= particular_id %>_<%= std %>_<%= i %>" style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                      <%= precision_label adv_amt %>
                                  </div>
                                  <div id="particular_discount_<%= particular_id %>_<%= std %>_<%= i %>" style="width: 32%; border-bottom: 1px solid #ccc; display: inline-block;">
                                      <%= precision_label td_amt %>
                                  </div>
                              </div>
                              <div style="width: 100%; text-align: right; padding-top: 8px;">
                                  <% total = (amt + adv_amt) - td_amt %>
                                  <% date_wise_total += total %>
                                  Total:&nbsp;&nbsp;&nbsp;<b id="particular_total_<%= std %>_<%= i %>"><%= precision_label total %></b>
                              </div>

                          </td>
                          <% i += 1 %>
                        <% end %>
                        <td style="white-space: nowrap; text-align: center; padding-right: 10px;">
                            <% discount_on_total_fees = @transactions_discount_total_fees.select{|p|  p.payee_id == std} %>
                            <% discount_total_amount = discount_on_total_fees.map(&:amount).sum %>
                            <div style="width: 100%; text-align: center; padding-top: 8px;">
                                <b><%= discount_total_amount %></b>
                            </div>
                            <% date_wise_discount += discount_total_amount %>
                            <% total_fees_discount += discount_total_amount %>
                            <% date_wise_total -= discount_total_amount %>
                        </td>
                        <td style="white-space: nowrap; text-align: center; padding-right: 10px;">
                            <% fine_discount = @transactions_fine.select{|p|  p.payee_id == std} %>
                            <% fine_discount_amount = fine_discount.map(&:amount).sum %>
                            <div style="width: 100%; text-align: center; padding-top: 8px;">
                                <b><%= fine_discount_amount %></b>
                            </div>
                            <% date_wise_fine += fine_discount_amount %>
                            <% grand_fine += date_wise_fine %>
                        </td>
                        <td style="white-space: nowrap; text-align: center; padding-right: 10px;">
                            <div style="width: 100%; ">
                                <div style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                    Fees
                                </div>
                                <div style="width: 32%; margin-right: 2px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                    Adv.
                                </div>
                                <div style="width: 32%; border-bottom: 2px solid #ccc; display: inline-block;">
                                    Waiver
                                </div>
                            </div>
                            <div style="width: 100%; display: block; padding-top: 6px; padding-bottom: 6px;">
                                <div id="particular_total_fees_<%= std %>" style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                  <%= to_comma_seperated_precision_label date_wise_fees %></b>
                                </div>
                                <div id="particular_total_adv_<%= std %>" style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                    <%= to_comma_seperated_precision_label date_wise_adv %>
                                </div>
                                <div id="particular_total_discount_<%= std %>" style="width: 32%; border-bottom: 1px solid #ccc; display: inline-block;">
                                    <%= to_comma_seperated_precision_label date_wise_discount %>
                                </div>
                            </div>
                            <div style="width: 100%; display: block; padding-top: 6px; padding-bottom: 6px;">
                                <div style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                    Amount
                                </div>
                                <div style="width: 32%; margin-right: 2px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                                    Fine
                                </div>
                                <div style="width: 32%; border-bottom: 2px solid #ccc; display: inline-block;">
                                    Total
                                </div>
                            </div>
                            <div id="particular_total_fees_<%= std %>_gt" style="width: 100%; text-align: center;">
                                <div style="width: 32%; margin-right: 2px; border-right: 1px solid #ccc; display: inline-block;">
                                    <%= to_comma_seperated_precision_label date_wise_total %>
                                </div>
                                <div id="particular_total_fees_<%= std %>_fine" style="width: 32%; margin-right: 2px; border-right: 1px solid #ccc; display: inline-block;">
                                    <%= to_comma_seperated_precision_label date_wise_fine %>
                                </div>
                                <div id="particular_total_fees_<%= std %>_total" style="width: 32%; display: inline-block;">
                                    <%= to_comma_seperated_precision_label (date_wise_total.to_f + date_wise_fine.to_f) %>
                                </div>
                            </div>
                        </td>  
                    </tr>
                  <% end %>
                    
              </tbody>
          </table>
      </div>
  </div>
  <div style="padding-top: 20px;">
    <%= will_paginate @particular_wise_transactions_payee,:params=>{:start_date => params[:start_date],:end_date => params[:end_date]} %>
  </div>
  <% else %>
  <h2 style="border-bottom: 2px solid #ccc; padding-bottom: 10px;">Date Wise Particular Report</h2>
  <p>No records found</p>
  <% end %>  

</div>

<style>
    .table-scroll {
	position:relative;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
	border:1px solid #ddd;
    }
    .table-wrap {
            width:100%;
            overflow:auto;
    }
    .table-scroll table {
            width:100%;
            margin:auto;
            border-collapse:separate;
            border-spacing:0;
    }
    .table-scroll th, .table-scroll td {
            padding:5px 10px;
            border:1px solid #000;
            background:#fff;
            vertical-align:top;
    }
    .table-scroll thead, .table-scroll tfoot {
            background:#f9f9f9;
    }
    .clone {
            position:absolute;
            top:0;
            left:0;
    }
    .clone th, .clone td {
            visibility:hidden
    }
    .clone td, .clone th {
            border-color:transparent
    }
    .clone tbody th {
            visibility:visible;
            color:red;
    }
    .clone .fixed-side {
            background:#eee;
            visibility:visible;
            z-index: 1;
            border-left: 1px solid #ccc;
            position: relative;
            border-bottom: 1px solid #AAA;
    }
    .clone .fixed-side:not(:last-child) {
            background:#eee;
            visibility:visible;
            z-index: 1;
            border-left: 1px solid #ccc;
            position: relative;
            border-bottom: 1px solid #AAA;
    }
    a:hover {
        text-decoration: none !important;
    }
    .clone thead, .clone tfoot{background:transparent;}
</style>   

<script>
  j("td").each(function(e){
    if(j(this).html() == "-")
    {
      j(this).addClass("align-center");
    }  
  });
  
  j(document).ready(function() {
    j(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');   
  });
  
</script>  