</div>
<div id="page-yield">
    <div class="hor_line"></div>
    <h4 align="center"><%= "Scholarship Students" %></h4>
    <div class="hor_line"></div>
    
    <div class="extender"> </div>
    <div class="report">
    
    <div id ="main_info">
        <h4 style="width: 25%; display: inline-block;"> &nbsp;</h4>
    </div>
        
    <div id="pdf-info" style="padding-bottom: 40px;">
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
            <td style="text-align: center; width: 10%;">#</th>
            <td style="text-align: center; width: 10%;">Student ID</th>
            <td style="width: 20%;">Student Name</th>
            <td style="text-align: center; width: 10%;">Class & Section</td>
            <%#*<td style="text-align: center;">Scholarship Name</td>%>
            <td style="text-align: center; width: 10%;">Scholarship On</td>
            <td style="text-align: center; width: 10%;">Discount</td>
            <td style="text-align: center; width: 10%;">Amount</td>
        </tr>
        <% i = 0 %>
        <% page = 1 %>  
        <% unless @scholarships.blank? %>
          <%  page_no = 1 %>
          <%  page_sl = 1 %>
          <%  slno = 1 %>
          <% @scholarships.each do |sc| %>
            <% unless sc.receiver.nil? %>
              <% if page == 1 and i== 38 %>
                  <% i= 0 %>
                  <% page += 1 %>
                  <tr style="padding: 15px; height: 40px;"><td colspan="7">&nbsp;</td></tr>
                  <tr class="table-header">
                      <td style="text-align: center;">#</th>
                      <td style="text-align: center;">Student ID</th>
                      <td style="width: 10%;">Student Name</th>
                      <td style="text-align: center;">Class & Section</td>
                      <%#*<td style="text-align: center;">Scholarship Name</td>%>
                      <td style="text-align: center;">Scholarship On</td>
                      <td style="text-align: center;">Discount</td>
                      <td style="text-align: center;">Amount</td>
                  </tr>
              <% elsif page > 1 and i== 40 %>
                  <% i= 0 %>
                  <% page += 1 %>
                  <tr style="padding: 10px; height: 1px;"><td colspan="7">&nbsp;</td></tr>

                  <tr class="table-header">
                    <td style="text-align: center;">#</th>
                    <td style="text-align: center;">Student ID</th>
                    <td style="width: 10%;">Student Name</th>
                    <td style="text-align: center;">Class & Section</td>
                    <%#*<td style="text-align: center;">Scholarship Name</td>%>
                    <td style="text-align: center;">Scholarship On</td>
                    <td style="text-align: center;">Discount</td>
                    <td style="text-align: center;">Amount</td>
                </tr>
              <% end %>
              <% i += 1  %>
              <% c =cycle('even','odd ') %>
              <tr id="deleteID-<%= sc.id %>" class="<%= "#{c}" %> td-body">
                  <td> <%= slno %></td>
                  <td><%= sc.receiver.admission_no %></td>
                  <td><%= sc.receiver.full_name %></td>
                  <td><%= sc.receiver.batch.course_section unless sc.receiver.batch.nil? %></td>
                  <!--td><%#= sc.name %></td-->
                  <td><%= sc.finance_fee_particular_category.name %></td>
                  <td style="text-align: right;"><span id="editID-<%= sc.id %>"><%= precision_label sc.discount %> <%= sc.is_amount == true ? 'BDT'  : '%' %></span></td>
                  <td style="text-align: right;"><%= precision_label @scholarships_student_ids[sc.receiver.id] %></td>
              </tr>
            <% end %>

            <%  slno += 1 %>
            <%  page_sl += 1 %>
          <% end %>
        <% else %>
          <tr>
              <td colspan="7" style="text-align: center;"><h3>No Scholarship Students Available</h3></td>
          </tr>
        <% end %>
    </table>
    </div>
        
    </div>
</div>
<style>
    #pdf-table tr.table-header td {
      color: #000;
      font-weight: bold;
      font-family: verdana;
      font-size: 10px;
    }
    #pdf-table tr.td-body td.name {
      width: 5% !important;
    }
    #pdf-table tr.td-body td:not(.remarks) {
        padding: 4px 4px;
        color: #000;
        font-weight: normal;
        font-family: verdana;
        font-size: 12px;
        background: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #pdf-table tr.td-body td.remarks {
        padding: 4px 10px;
        color: #000;
        font-weight: normal;
        font-family: verdana;
        font-size: 9px;
        background: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #pdf-table tr.td-body td:last {
        border-bottom: 1px solid #000;
    }
</style>