<style>
#page{ width: 900px;}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #000;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ddd;
  color: 000;
}
.page_break{width: 100%; height: 70px;}
</style>
<div id="page">
    <h2 style="text-align: center;"><%=Configuration.get_config_value('InstitutionName'); %></h2>
    <hr/>
    <h2 style="text-align: center;">Scholarship Students</h2>
    <hr/>
    <table id="customers">
        <thead>
            <tr>
                <th>#</th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Class & Section</th>
                <th>Scholarship Name</th>
                <th>Scholarship On</th>
                <th>Discount</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% unless @scholarships.blank? %>
              <%  page_no = 1 %>
              <%  page_sl = 1 %>
              <%  slno = 1 %>
              <% @scholarships.each do |sc| %>
                <% unless sc.receiver.nil? %>
                  <tr id="deleteID-<%= sc.id %>">
                      <td> <%= slno %></td>
                      <td><%= sc.receiver.admission_no %></td>
                      <td><%= sc.receiver.full_name %></td>
                      <td><%= sc.receiver.batch.course_section unless sc.receiver.batch.nil? %></td>
                      <td><%= sc.name %></td>
                      <td><%= sc.finance_fee_particular_category.name %></td>
                      <td><span id="editID-<%= sc.id %>"><%= precision_label sc.discount %> <%= sc.is_amount == true ? 'BDT'  : '%' %></span></td>
                      <td><%= precision_label @scholarships_student_ids[sc.receiver.id] %></td>
                  </tr>
                <% end %>
                
                <%  if(page_no == 1 and page_sl == 24) %>
                    <tr class="page_break"></tr>
                    <%  page_no = 2 %>
                    <%  page_sl = 0 %>
                <%  end %>
                    
                <%  if(page_no == 2 and page_sl == 27) %>
                    <tr class="page_break"></tr>
                    <%  page_sl = 0 %>
                <%  end %>
                    
                <%  slno += 1 %>
                <%  page_sl += 1 %>
              <% end %>
            <% else %>
              <tr>
                  <td colspan="5" style="text-align: center;"><h3>No Scholarship Students Available</h3></td>
              </tr>
            <% end %>
        </tbody>
    </table>
</div>