<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('expenses') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('expenses_list') %></div>
<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('pdf_report')}",
            {:controller => "finance", :action => "expense_list_pdf", :start_date => @start_date, :end_date=>@end_date, :page_height=>1050},:target => '_blank' %></li>
  </ul>
</div>
</div>
<div id="page-yield">
  <% unless @expenses.empty? %>
    <br />
    <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
      <thead><!-- class="thead-inverse" -->
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('description') %></th>
          <th><%= t('voucher_no') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('transaction_date') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @expenses.each do |d| %>
        <tr class="<%= cycle('odd','even') %>">
          <td class="col-2"><%= d.title %></td>
          <td class="col-2"><%= d.description %></td>
          <td class="col-1"><%= d.voucher_no %></td>
          <td class="col-1"><%= precision_label(d.amount) %></td>
          <td class="col-4"><%= d.transaction_date.strftime("%d-%m-%y") unless d.transaction_date.nil?%></td>
          <td class="col-3"><small><%= link_to "#{t('edit_text')}",{:action=>'expense_edit',:id=>d.id},:class=>'edit_link' %></small> | <small><%= link_to "#{t('delete_text')}",{:action=>'delete_transaction',:id=>d.id},:confirm=>"#{t('delete_confirm_msg')}" %></small></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
      <thead><!-- class="thead-inverse" -->
        <tr>
          <th><%= t('name') %></th>
          <th><%= t('description') %></th>
          <th><%= t('voucher_no') %></th>
          <th><%= t('amount') %></th>
          <th><%= t('transaction_date') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr><td colspan="5"><%= t('no_transaction_for_the_given_period') %></td></tr>
      </tbody>
    </table>
  <% end %>

</div>
