<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">
    
    <div class="hor_line"></div>
    <h4 align="center"><%= t('fees_collections_text') %></h4>
    <div class="hor_line"></div>


  <div class="extender"> </div>
  <div class="report">

    <div id ="main_info">
        <% batch_version = @batch.name.split(" ") %>
        <h4 style="width: 25%; display: inline-block;"> <%= "#{t('shift')} :"+ " " "#{batch_version[0].strip}" %></h4>
        <% unless batch_version[1].blank? %>
          <h4 style="width: 24%; display: inline-block; text-align: left; "> <%= "#{t('version')} :"+ " " "#{batch_version[1].strip}" %></h4>
        <% else  %>
          <h4 style="width: 24%; display: inline-block; text-align: left; "> <%= "#{t('version')} :"+ " " "N/A" %></h4>
        <% end %>
        <h4 style="width: 24%; display: inline-block; text-align: center;"> <%= "#{t('class')} :"+ " " "#{@batch.course.course_name}" %></h4>
        <h4 style="width: 24%; display: inline-block; text-align: right;"> <%= "#{t('section')} :"+ " " "#{@batch.course.section_name}" %></h4>
    </div>
    <div id="pdf-info" style="padding-bottom: 40px;">
      <% page = 1 %>  
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
            <td class="col-pdf" style="width: 6%;">#</td>
            <td class="col-pdf" style="width: 14%;"><%= t('student_id') %></td>
            <td class="col-pdf"><%= t('name') %></td>
            <td class="col-pdf"><%= t('roll_no') %></td>
            <td class="col-pdf"><%= t('section') %></td>
            <td class="col-pdf"><%= t('student_category') %></td>
            <td class="col-pdf"><%= t('amount')%> (<%= @currency_type%>)</td>
            <td class="col-pdf"><%= t('paid_amount')%> (<%= @currency_type%>)</td>
            <td class="col-pdf"><%= t('contact_number') %></td>
        </tr>
        <% i = 0 %>
        <% index = 0   %>
        <% c = 'even' %>
        <% @defaulters.each do |s| %>
          <% b = Batch.find(s.batch_id)  %>
          <% sc = StudentCategory.find(s.student_category_id)  %>
          <% b_v = b.name.split(" ") %>
          <% fee_id = s.fee_id %>
          <% finance_fee = FinanceFee.find(fee_id) %>
          <% paid_fees = finance_fee.finance_transactions %>
          <% transaction_ids = paid_fees.map(&:id) %>
          <% paidAmount = 0 %>
          <%
            unless transaction_ids.blank?
              paidFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Adjustment' AND transaction_type = 'Discount' AND finance_transaction_id IN (" + transaction_ids.join(",") + ") AND particular_id = 0")
              unless paidFess.blank?
                paidAmount += paidFess.map(&:amount).sum.to_f
              end
            end
          %>
          <% if page == 1 and i== 15 %>
              <% i= 0 %>
              <% page += 1 %>
              <tr style="padding: 10px; height: 30px;"><td colspan="8">&nbsp;</td></tr>
              <tr class="table-header">
                <td class="col-pdf" style="width: 6%;">#</td>
                <td class="col-pdf" style="width: 14%;"><%= t('student_id') %></td>
                <td class="col-pdf"><%= t('name') %></td>
                <td class="col-pdf"><%= t('roll_no') %></td>
                <td class="col-pdf"><%= t('section') %></td>
                <td class="col-pdf"><%= t('student_category') %></td>
                <td class="col-pdf"><%= t('amount')%> (<%= @currency_type%>)</td>
                <td class="col-pdf"><%= t('paid_amount')%> (<%= @currency_type%>)</td>
                <td class="col-pdf"><%= t('contact_number') %></td>
              </tr>
          <% elsif page > 1 and i== 17 %>
              <% i= 0 %>
              <% page += 1 %>
              <tr style="padding: 10px; height: 25px;"><td colspan="8">&nbsp;</td></tr>
              <tr class="table-header">
                <td class="col-pdf" style="width: 6%;">#</td>
                <td class="col-pdf" style="width: 14%;"><%= t('student_id') %></td>
                <td class="col-pdf"><%= t('name') %></td>
                <td class="col-pdf"><%= t('roll_no') %></td>
                <td class="col-pdf"><%= t('section') %></td>
                <td class="col-pdf"><%= t('student_category') %></td>
                <td class="col-pdf"><%= t('amount')%> (<%= @currency_type%>)</td>
                <td class="col-pdf"><%= t('paid_amount')%> (<%= @currency_type%>)</td>
                <td class="col-pdf"><%= t('contact_number') %></td>
              </tr>
          <% end %>
          <% i += 1  %>
          <% c =cycle('even','odd ') %>
          <tr class="<%= "#{c}" %> td-body" style="height: 55px;">
              <td class="col-pdf" style="text-align: center;"><%= index += 1 %></td>
              <td class="col-pdf" style="text-align: center;"><%= s.admission_no %></td>
              <td class="col-pdf"><%= s.full_name %></td>
              <td class="col-pdf" style="text-align: center;"><%= s.class_roll_no %></td>
              <td class="col-pdf" style="text-align: center;"><%= b.course.section_name %></td>
              <td class="col-pdf" style="text-align: center;"><%= sc.name %></td>
              <td class="col-pdf" style="text-align: right;"><%= precision_label(s.balance.to_f+@date.fine_to_pay(s).to_f) %></td>
              <td class="col-pdf" style="text-align: right;"><%= precision_label(paidAmount.to_f) %></td>
              <td class="col-pdf" style="text-align: center;"><%= s.sms_number %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>

</div>
<style>
    #pdf-table tr.table-header td {
      color: #000;
      font-weight: bold;
      font-family: verdana;
      font-size: 12px;
    }
    #pdf-table tr.td-body td {
        padding: 6px 10px;
        color: #000;
        font-weight: normal;
        font-family: verdana;
        font-size: 12px;
        background: #fff;
    }
    #pdf-table tr.td-body td:last {
        border-bottom: 1px solid #000;
    }
</style>