<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/select2.min.css">
<link rel="stylesheet" href="/stylesheets/select2-finance.css">

<%= javascript_include_tag 'select2.full.min.js' %>


<div id="content-header">
    <%= show_header_icon %>
    <h1><%= t('fees_collection') %></h1>
    <div class='header-sep'>|</div>
    <div class='sub-header'><%= t('create_fee_collection') %></div>
    <div id="inner-tab-menu">
        <ul>
            <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('fees_collection')}", :action=>'fee_collection'%></li>
        </ul>
    </div>
</div>
<div id="page-yield">
    <div id="flash_box">
    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <% form_for @finance_fee_collection,
      :url => {:action => 'fee_collection_create'},:html=>{:onsubmit=>"return validate();"} do |form| %>
      <% unless params[:ui_test].blank? %>
      <% if params[:ui_test].to_i == 1 %>
      <input type="hidden" name="ui_test" id="ui_test" value="1" />
      <% end %>
      <% end %>
      <div id="form-errors"><%= error_messages_for 'finance_fee_collection' %></div>
      <div id="left-side-inputs">
          <div class="label-field-pair">
              <div class="label-container"><label for="reason"> <%= t('fee_category') %>:</label></div>
              <% unless params[:ui_test].blank? %>
                <% if params[:ui_test].to_i == 1 %>
                  <div class="input-container">
                      <%= form.select(:fee_category_id, [["Common", 0]] + @fee_categories.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
                        {:selected => @fee_category.present? ? @fee_category.first.name : nil , :prompt => "#{ t('select_category')}" },
                        {:onchange => "#{remote_function(:url => {:action => "fee_collection_filter_new"},
                          :with => "'id='+value",
                          :before => "Element.show('loader')",
                          :success => "Element.hide('loader')")}", :autocomplete => "off"
                        })%>
                  </div>
                <% else %>
                  <div class="input-container">
                      <%= form.select(:fee_category_id, [["Common", 0]] + @fee_categories.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
                        {:selected => @fee_category.present? ? @fee_category.first.name : nil , :prompt => "#{ t('select_category')}" },
                        {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_list"},
                          :with => "'id='+value",
                          :before => "Element.show('loader')",
                          :success => "Element.hide('loader')")}", :autocomplete => "off"
                        })%>
                  </div>
                <% end %>
              <% else %>
              <div class="input-container">
                  <%= form.select(:fee_category_id, [["Common", 0]] + @fee_categories.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
                    {:selected => @fee_category.present? ? @fee_category.first.name : nil , :prompt => "#{ t('select_category')}" },
                    {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_list"},
                      :with => "'id='+value",
                      :before => "Element.show('loader')",
                      :success => "Element.hide('loader')")}", :autocomplete => "off"
                    })%>
              </div>
              <% end %>
              <div class="loader_div">
                  <%= image_tag("loader.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader",
                    :style =>"display: none; position : absolute; " ) %>
              </div>
          </div>
          <div style="clear: both;"></div>  
          <div class="label-field-pair">
              <div class="label-container"><label for="reason">  <%= t('fee_collection_name') %>:</label></div>
              <div class="input-container"><%= form.text_field :name, :value => Date.today.strftime("%b") + "' " + Date.today.strftime("%Y") %></div>
          </div>
          <div class="label-field-pair" style="display: none;">
              <div class="label-container"><label for="reason">  <%= "Title <small>(appear On Ledger)</small>" %>:</label></div>
              <div class="input-container"><%= form.text_field :title, :value => "" %></div>
          </div>
          <div style="clear: both; height: 10px;"></div>  
          <div class="label-field-pair">
              <div class="label-container"><label for="reason"><%= t('fine') %>:</label></div>
              <div class="input-container">
                  <%= form.select(:fine_id, @fines.map { |item| [item.name, item.id] }.sort_by{|x, y| x.downcase}.uniq,
                    {:prompt => "#{t('select_fine')}" },
                    {:onchange => "#{remote_function(:url => {:action => "fine_list"},
                      :with => "'id='+value",
                      :before => "Element.show('loader1')",
                      :success => "Element.hide('loader1')")}", :autocomplete => "off"
                    })%>
              </div>
              <div class="loader_div">
                  <%= image_tag("loader.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader1",
                    :style =>"display: none; position : absolute; " ) %>
              </div>
          </div>

          <div id ="fines" style="margin: 0;"></div>


          <div class="label-field-pair">
              <div class="label-container"><label for="reason">  <%= t('start_date') %>:</label></div>
              <div class="input-container calendar-input"><%= calendar_date_select_tag 'finance_fee_collection[start_date]', I18n.l(@finance_fee_collection.start_date || Date.today,:format=>"%d %b %Y"),:popup=>"force",:class=>'start_date',:onchange=>"executeOnChange();" %></div>
          </div>
          <div class="label-field-pair" style="display: none;">
              <div class="label-container"><label for="reason">  <%= t('end_date') %>:</label></div>
              <div class="input-container calendar-input"><%= calendar_date_select_tag 'finance_fee_collection[end_date]',I18n.l(@finance_fee_collection.end_date || Date.today,:format=>"%d %b %Y"), :popup=>"force",:class=>'end_date' %></div>
          </div>
          <div class="label-field-pair">
              <div class="label-container"><label for="reason">  <%= t('due_date') %>:</label></div>
              <div class="input-container calendar-input"><%= calendar_date_select_tag 'finance_fee_collection[due_date]', I18n.l(@finance_fee_collection.due_date || Date.today,:format=>"%d %b %Y"), :popup=>"force",:class=>'due_date'%></div>
          </div>
          <div class="label-field-pair">
              <div class="label-container"><label for="reason"></label></div>
              <div class="input-container">
                  <div class="each_batch" style="border-bottom: 0; width: 320px; overflow: hidden;">
                    <div class="checkbox_inline"><%= check_box_tag "sent_remainder", 1, true, :class=>'batches_box' %></div> 
                    <div class="checkbox_label" style="width: 120px;"><label>Sent Reminder</label></div>
                  </div>
              </div>
          </div>
          <div class="label-field-pair">
              <div class="label-container"><label for="reason"></label></div>
              <div class="input-container">
                  <div class="each_batch" style="border-bottom: 0; width: 320px; overflow: hidden;">
                    <div class="checkbox_inline"><%= check_box_tag "auto_adjust_advance", 1, false, :class=>'batches_box' %></div> 
                    <div class="checkbox_label" style="width: 120px;"><label>Advance Auto Adjustment</label></div>
                  </div>
              </div>
          </div>
      </div>


      <div id ="batchs" style="height: auto;">
          <% unless params[:fee_collection].nil? %>
            <%= render :partial=>'fee_collection_batchs' if params[:fee_collection][:category_ids].present? %>
          <% end %>
      </div>
      
      <div class="extender"></div>
      <div id="fee_category_particulars_div" style="display: none;"> 

      </div>
      
      <div id="category_generated_table"></div>
      <div class="extender"></div>
      <div id="submit-button" style="text-align: center;">
          <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button',:disable_with => "► #{t('create_text')}" %>
      </div>
    <% end %>
      
</div>

<script>
  function resetSN()
  {
     var sn = 1;
     j('.sl_no').each(function(){
          j(this).html(sn);
          sn += 1;
     });
     
     sn = 1;
     j('.particular_details').each(function(){
          var particular_details_id = this.id.replace("particular_details_", "");
          var a_particular_details_id = particular_details_id.split("_");
          j(this).attr("id", "particular_details_" + sn + "_" + a_particular_details_id[1]);
          sn += 1;
     });
     
     sn = 1;
     j('.particular_details_div').each(function(){
          var particular_details_id = this.id.replace("particular_details_div_", "");
          var a_particular_details_id = particular_details_id.split("_");
          j(this).attr("id", "particular_details_div_" + sn + "_" + a_particular_details_id[1]);
          sn += 1;
     });
  }
  
  function remove_other()
  {
    j(".hide_particular_details").each(function () {
        j(this).text("Particular Details");
        j(this).addClass("particular_details");
        j(this).removeClass("hide_particular_details");
        var a_id = this.id.replace("particular_details_", "").split("_");
        var particular_category_id = a_id[1];
        var div_id = "particular_details_div_" + a_id[0] + "_" + a_id[1];
        j("#" + div_id).html("");
        j("#" + div_id).hide();
    });
  }
  
  function validate() {
      string = ""
      if ($$('#finance_fee_collection_fee_category_id')[0].value.length == 0)
      {
      string = '<%="#{t('select_fee_category')}"%>' + "\n"
      }
      if ($$('.batch_select_box')[0] == undefined)
      {
          string = string + '<%="#{t('finance.flash28')}"%>' + "\n";
      } else {
          pointer = 0
          arr = $$('#fee_collection_category_ids_')
          len = $$('#fee_collection_category_ids_').length
          for (i = 0; i < len; i++) {
              if (arr[i].checked) {
          pointer = 1
        }
          }
          if (pointer == 0) {
              string = string + '<%="#{t('select_one_batch')}" %>' + "\n";
          }
      }
      if ($$('#finance_fee_collection_name')[0].value.length == 0)
      {
          string = string + '<%="#{t('fee_collection_name_cant_be_blank')}"%>' + "\n"
      }
      if (!($$('.start_date')[0].value <= $$('.due_date')[0].value))
      {
          string = string + '<%="Start Date can't be After End Date"%>' + "\n"
      }
      /*if (!($$('.end_date')[0].value <= $$('.due_date')[0].value))
      {
          string = string + '<%#="#{t('end_date_cant_be_after_due_date')}"%>' + "\n"
      }*/
      
      var particulars = 0;
      j("#fee_category_particulars_div").html("");
      j(".fee_category_tr_row").each(function(){
         if ( this.value.length > 0 )
         {
            var p_id = this.value;
            var p_name = j(this).parent('td').next('td').children('span.particularname').children("input").val();
            var default_particular_name = "0";
            if ( j(this).parent('td').children('span').children("input.disabled_new_particular_name").prop('checked') )
            {
              default_particular_name = "1";
            }
            
            if ( j.trim(p_id).length > 0 )
            {
                particulars++;
                if ( j(this).parent('td').next('td').children('span.particularname').children("input").data('transport') == "1" )
                {
                  var input_particular_id = '<input type="hidden" name="transport_particular_id[]" id="transport_particular_id_new" value="' + p_id + '" />';
                  input_particular_id += '<input type="hidden" name="default_transport_particular_name[]" id="default_transport_particular_name" value="' + default_particular_name + '" />';
                  input_particular_id += '<input type="hidden" name="transport_particular_name[]" id="transport_particular_name_new" value="' + p_id + '_' + p_name + '" />';
                }
                else
                {
                  var input_particular_id = '<input type="hidden" name="particular_id[]" id="particular_id_new" value="' + p_id + '" />';
                  input_particular_id += '<input type="hidden" name="default_particular_name[]" id="default_particular_name_new" value="' + default_particular_name + '" />';
                  input_particular_id += '<input type="hidden" name="particular_name[]" id="particular_name_new" value="' + p_id + '_' + p_name + '" />';
                }
                j("#fee_category_particulars_div").append(input_particular_id);
            }
         }
      });
      
      if ( particulars == 0 )
      {
          string = string + 'No particular selected for this fee collection' + "\n"
      }
      //return false;
      if (string.length == 0)
      {
          return true;
      } else
      {
          alert(string);
          return false;
      }

  }

  function executeOnChange()
  {
      var monthNames = ["Jan' ", "Feb' ", "Mar' ", "Apr'", "May' ", "June' ",
          "July' ", "Aug' ", "Sep' ", "Oct' ", "Nov' ", "Dec' "
      ];
      var d = new Date(j(".start_date").val());
      var yr = d.getFullYear();
      var name = monthNames[d.getMonth()] + yr;
      j("#finance_fee_collection_name").val(name);
  }
  
  function selected_batches()
  {
      var batches = "";
      j(".category_select").each(function () {
          if (j(this).prop('checked'))
          {
              batches += this.value + ",";
          }
      });
      if (j.trim(batches).length > 0)
      {
          batches = batches.substr(0, batches.length - 1);
      }
      return batches;
  }

  j(document).ready(function () {
      j(document).on("click", "#include_transport", function () {
          if (j("#include_transport").prop("checked"))
          {
              j("#include_employee_div").show();
              j("#include_employee").attr("checked", true);
          } else
          {
              j("#include_employee_div").hide();
              j("#include_employee").removeAttr("checked");
          }
      });
      
      j(document).on("click", ".disabled_new_particular_name", function () {
          if (j(this).prop("checked"))
          {
              j(this).parent('span').parent('td').parent('tr').children('td').children('span.particularname').children('input').prop('disabled', true);
          } 
          else
          {
              j(this).parent('span').parent('td').parent('tr').children('td').children('span.particularname').children('input').prop('disabled', false);
          }
      });
      
      j(document).on("keyup", ".batch_search", function () {
          var srch_val = this.value;
          j('.batch_name_srch').each(function(){
              var batchid = this.id.replace("batch_name_srch_","");
              var val = j(this).html();
              if ( val.toLowerCase().indexOf(srch_val.toLowerCase()) == -1  )
              {
                  j('.batches_box').each(function(){
                      if ( this.value == batchid )
                      {
                         j(this).removeAttr('checked');
                         return ;
                      }
                  });
                  j(this).parent().parent().hide();
              }
              else
              {
                  j('.batches_box').each(function(){
                      if ( this.value == batchid )
                      {
                         if ( j(this).prop('checked') == false && j(this).parent().parent().css('display') != 'block')
                         {
                            if ( j('#none_click').val() == 1 )
                            {
                               j(this).removeAttr('checked');
                            }
                            else
                            {
                               j(this).prop('checked', true);
                            }
                         }
                         return ;
                      }
                  });
                  j(this).parent().parent().show();
              }
          });
      });
      
      j(document).off('click', '.assignParticularButton').on('click', '.assignParticularButton', function () {
          var particularDataRow = document.getElementById("particularDataRow-tmp")
          var clonetr = particularDataRow.cloneNode(true);
          j(clonetr).removeAttr("id");
          j(clonetr).removeClass("particularDataRow-tmp");
          j(clonetr).addClass("particularDataRow");
          j('.particularDataRow').last().after(clonetr.outerHTML);
          if ( j("#zeroRow").length == 1 )
          {
            j("#zeroRow").remove();
          }
          resetSN();
      });
      
      j(document).off('click', '#addTransport').on('click', '#addTransport', function () {
          var particularDataRow = document.getElementById("particularDataTransportRow-tmp")
          var clonetr = particularDataRow.cloneNode(true);
          j(clonetr).removeAttr("id");
          j(clonetr).removeClass("particularDataTransportRow-tmp");
          j(clonetr).addClass("particularDataRow");
          j('.particularDataRow').last().after(clonetr.outerHTML);
          if ( j("#zeroRow").length == 1 )
          {
            j("#zeroRow").remove();
          }
          resetSN();
      });
      
      j(document).off('click', '.particular-box').on('click', '.particular-box', function () {
          if (j(this).hasClass('fa-check-square-o'))
          {
              j(this).removeClass('fa-check-square-o');
              j(this).addClass('fa-square-o');
              j(this).parent('td').parent('tr').children('td').each(function(){
                  j(this).css('background', "#ccc");
              });
          }
          else
          {
              j(this).addClass('fa-check-square-o');
              j(this).removeClass('fa-square-o');
              var val = new Number(j(this).parent('td').children('h3.sl_no').html());
              var evenorodd = (val % 2 == 0);
              j(this).parent('td').parent('tr').children('td').each(function(){
                  if ( evenorodd )
                  {
                    j(this).css('background', "#FFFFFF");
                  }
                  else
                  {
                    j(this).css('background', "#F9F9F9");
                  }
              });
          }
      });

      j(document).on('click', '.deleteRowButton', function () {
          j(this).parents("tr").remove();
          resetSN();
          var tableRowExist = j('#particularTableRows tr').length;
          if (tableRowExist == 0)
          {
              j('#particularTableRows').html('<tr id="zeroRow"><td colspan="4"><span class="text-center">No Particulars</span></td></tr>');
          }
      });
      
      j(document).on('change', ".fee_category_tr_row", function (e) {
          var selected = j(this).find("option:selected").text();
          var val = this.value;
          var found = false;
          var len = 0;
          var obj = this;
          j(".fee_category_tr_row").each(function(){
            if ( obj != this )
            {
                if (this.value == val)
                {
                    found = true;
                    len++;
                }
            }
          });
          
          var choice = true;
          if ( found )
          {
            choice = confirm("You already declare this particular for the fee collection, Please make sure\n\n if you accidently select this particular or you intentionally select this particular to make duplicate particular for this fee collection? ");
          }
          if (choice)
          {
            if ( val.length == 0 )
            {
              j(this).parent('td').next('td').children('span.particularname').children("input").val("");
              j(this).parent('td').next('td').children('div').hide();
            }
            else
            {
              if (found)
              {
                  j(this).parent('td').next('td').children('span.particularname').children("input").val(selected + " (" + len + ")");
              }
              else
              {
                  j(this).parent('td').next('td').children('span.particularname').children("input").val(selected);
              }
              j(this).parent('td').next('td').children('div').show();
              var sn = j(this).parent('td').parent('tr').children('td:first-child').children('label.sl_no').html();
              j(this).parent('td').next('td').children('div').children('a').attr('id', 'particular_details_' + sn + "_" + val);
              j(this).parent('td').next('td').children('div').children('div').attr('id', 'particular_details_div_' + sn + "_" + val);
            }
            if ( found )
            {
                j(this).parent('td').parent('tr').children('td').each(function(){
                    j(this).css('background', "#f7f2f2");
                });
            }
          }
          else
          {
            this.value = "";
          }
      });
      
      j(document).on('change', ".particular-batch-combo", function (e) {
          j(this).after("<i class='fa fa-spinner fa-spin spinner-batch'></i>");
          var val = this.value;
          if ( j("#is_transport_particular").val() == "1" )
          {
            new Ajax.Request('/finance/particular_batch_details', 
                    {
                      asynchronous:true, 
                      evalScripts:true, 
                      parameters:'particular_category_id='+j("#particular_category_id_batch").val()+'&vehicle_id='+val+'&fee_category_id='+j("#fee_category_id_batch").val()+'&transport=1'
                    }
            )
          }
          else
          {
            new Ajax.Request('/finance/particular_batch_details', 
                    {
                      asynchronous:true, 
                      evalScripts:true, 
                      parameters:'particular_category_id='+j("#particular_category_id_batch").val()+'&batch_id='+val+'&fee_category_id='+j("#fee_category_id_batch").val()+'&transport=0'
                    }
            )
          }
      });
      
      j(document).on('click', ".particular_details", function (e) {
          remove_other();
          j(this).html("Particular Details " + "<i class='fa fa-spinner fa-spin'></i>");
          var obj = this.id;
          var a_id = this.id.replace("particular_details_", "").split("_");
          var particular_category_id = a_id[1];
          var div_id = "particular_details_div_" + a_id[0] + "_" + a_id[1];
          var batches = "";
          j('.batches_selected').each(function(){
              if ( j(this).prop('checked') )
              {
                 batches += this.value + ",";
              }
          });
          batches = batches.substr(0, batches.length - 1);
          var transport = 0;
          if ( j(this).parent('div').parent('td').children('span').children('input').data('transport') == "1" )
          {
            transport = 1;
            var fee_category_id = 0;
          }
          else
          {
            var fee_category_id = j("#finance_fee_collection_fee_category_id").val();
          }
          new Ajax.Request('/finance/particular_details', 
                  {
                    asynchronous:true, 
                    evalScripts:true, 
                    parameters:'particular_category_id='+particular_category_id+'&batches='+batches+'&fee_category_id='+fee_category_id+'&div_id='+div_id+'&obj='+obj+'&transport='+transport
                  }
          )
      });
      
      j(document).on('click', "#set_by_batches", function (e) {
          var id = j(this).data("id-val");
          var show_other_filter = j(this).data("target");
          j("#loading_batches_collection").css("display","inline-block");
          new Ajax.Request('/finance/fee_collection_batch_list', 
                  {
                    asynchronous:true, 
                    evalScripts:true, 
                    parameters:'id='+id+'&show_other_filter='+show_other_filter
                  }
          )
      });
      
      j(document).on('click', "#set_by_school_college", function (e) {
          var id = j(this).data("id-val");
          var show_other_filter = j(this).data("target");
          j("#loading_batches_collection").css("display","inline-block");
          new Ajax.Request('/finance/fee_collection_filter_new', 
                  {
                    asynchronous:true, 
                    evalScripts:true, 
                    parameters:'id='+id+'&show_other_filter='+show_other_filter
                  }
          )
      });
      
      j(document).on('click', ".hide_particular_details", function (e) {
          j(this).text("Particular Details");
          j(this).addClass("particular_details");
          j(this).removeClass("hide_particular_details");
          var a_id = this.id.replace("particular_details_", "").split("_");
          var particular_category_id = a_id[1];
          var div_id = "particular_details_div_" + a_id[0] + "_" + a_id[1];
          j("#" + div_id).html("");
          j("#" + div_id).hide();
      });
      
      j(document).on('click', ".filter_fees", function () {
          if ( this.checked )
          {
              j(".fee_category_scroll").hide();
              var checked = 0;
              j(".filter_fees").each(function(){
                  var id_old = this.id;
                  j(".sel-list").css("opacity","0");
                  j(".category_select").each(function(){
                      j(this).prop('checked', false);
                      j(this).prop('disabled', true);
                  });
                  j(this).prop('checked', false);
                  j(".batch_select_box").each(function(){
                      var height = j(this).data('hide-height');
                      j(this).css('height', height);
                  });
              });
              j(this).prop('checked', true);
              var id = this.id
              j(".sel-list").css("opacity","0");
              
              j(".batch_select_box").each(function(){
                  var height = j(this).data('hide-height');
                  j(this).css('height', height);
              });
              j(".sel-list-" + id).css("opacity","1");
              j(".category_select").each(function(){
                  j(this).prop('checked', false);
                  j(this).prop('disabled', true);
              });

              var height = j(".batch_select_box_" + id).data('show-height');
              j(".batch_select_box_" + id).css('height', height);
              j(".fee_category_scroll_" + id).show();
              j("." + id + "_selected").each(function(){
                  j(this).prop('checked', true);
                  j(this).prop('disabled', false);
              });
          }
          else
          {
              return false;
          }
      });

  });
  
  
</script>

<style>
    .submit_button{
      margin-left: 0;
    }
    .label-field-pair .label-container {
        width: 39% !important;
    }

    .label-field-pair select{
        width: 110% !important;
    }

    .batch_select_box{
        margin: 20px;
    }

    .fee_category1_scroll {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    #batchs {
        float: right;
        height: 243px;
        width: 407px;
    }
    #batchs .batch_select_box{
        width: 390px;
        height: 246px;
    }

    #batchs .batch_select_box .label-field-pair{
        width: 389px !important;
    }
    #category_generated_table{
        margin-top: 50px;
    }
    .select2-selection{
      text-align: left;
    }
</style>