<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/stylesheets/select2.min.css">
<%= javascript_include_tag 'select2.full.min.js' %>

<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'form-bootstrap' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %> 

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('fee_collection_dates') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('view_fee_collection_dates') %></div>
</div>
<div id="page-yield">
  <div id="flash_box"></div>
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div id="batch">
    <div class="label-field-pair">
        <div class="label-container" style="text-align: right;"><label style="width: 90%; font-weight: normal; padding-top: 2px;"><%= t('select_batch') %> : </label></div>
        <div class="input-container"> <%= select("batch",:id,@batchs.map { |c| [c.full_name, c.id] },
          {:prompt => "#{t('select_batch')}"},
          {:onChange => "#{remote_function(:url => {:action => "fee_collection_dates_batch"},
            :with => "'id='+value",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')")}"
          })%>
        </div>
        <div class="loader_div">
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </div>
    </div>
  </div>
  <div style="clear: both; height: 20px;"></div>
  <div id="fee_collection_dates"></div>
  <div id="modal-box" style="display:none;"></div>

</div>
<style>
    #MB_content {
        padding: 0 !important;
        overflow: hidden;
        overflow-y: auto;
    }
    #modal-box div{
        padding-left: 10px;
        padding-top: 10px;
    }
    .label-field-pair .label-container {
        width: 50% !important;
    }
    .label-field-pair .input-container {
        width: 45% !important;
    }
    .select2-container .select2-selection--single
    {
        height:32px;
    }
    .mdl-data-table td, .mdl-data-table th
    {
        text-align:left;
    }
    .select2-results__options li {
        padding: 10px 4px;
        border-bottom: 1px dotted #ccc;
    }
    .select2-search--dropdown .select2-search__field {
        padding: 10px;
        border-radius: 5px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        top: 4px !important;
    }

</style>
<script>
  var jq = jQuery.noConflict();
  jq(document).ready(function() {
      jq('#batch_id').select2();
      
      jq(document).on('click', '#category_discount_close', function(){
          jq('#category_discount_div').hide();
      });
      
      jq(document).on('click', '#batch_discount_close', function(){
          jq('#batch_discount_div').hide();
      });
      
      jq(document).on('click', '#list_of_student_category', function(){
          jq('#student-list-table').slideToggle();
      });
      
      jq(document).on('click', '#list_of_student_batch', function(){
          jq('#student-list-table-batch').slideToggle();
      });
  });
</script>