<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


</div>
<div id="page-yield">
    
    <div class="hor_line"></div>
    <h4 align="center"><%= t('fees_defaulters_text') %></h4>
    <div class="hor_line"></div>


  <div class="extender"> </div>
  <div class="report">

    <div id ="main_info">
        <% unless @batch.blank? %>
          <% batch_version = @batch.name.split(" ") %>
          <h4 style="width: 25%; display: inline-block;"> <%= "#{t('shift')} :"+ " " "#{batch_version[0].strip}" %></h4>
          <h4 style="width: 24%; display: inline-block; text-align: left; "> <%= "#{t('version')} :"+ " " "#{batch_version[1].strip}" %></h4>
          <h4 style="width: 24%; display: inline-block; text-align: center;"> <%= "#{t('class')} :"+ " " "#{@batch.course.course_name}" %></h4>
          <h4 style="width: 24%; display: inline-block; text-align: right;"> <%= "#{t('section')} :"+ " " "#{@batch.course.section_name}" %></h4>
        <% else %>
          <h4 style="width: 25%; display: inline-block;"> &nbsp;</h4>
        <% end %>
    </div>
    <div id="pdf-info" style="padding-bottom: 40px;">
      <% page = 1 %>  
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
            <td style="text-align: center;">SL</td>
            <td style="text-align: center;"><%= t('student_id') %></td>
            <td class="name" style="text-align: center;"><%= t('name') %></td>
            <td style="text-align: center;"><%= t('roll_no') %></td>
            <td style="text-align: center;"><%= t('student_category') %></td>
            <td style="text-align: center;"><%= t('due_amount')%> (<%= @currency_type%>)</td>
            <td style="text-align: center;"><%= t('contact_number') %></td>
            <td style="text-align: center;"><%= "Remarks" %></td>
        </tr>
        <% i = 0 %>
        <% index = 0   %>
        <% c = 'even' %>
        <% @defaulters.each do |s| %>
          <% unless @date == 0 %>
            <% if @multi_date %>
            <% dates = @dates.map(&:id) %>
            <% fees = s.finance_fees.select{ |f| dates.include?(f.fee_collection_id.to_i)} %>
            <% @date = FinanceFeeCollection.find(fees[0].fee_collection_id) %>  
            <% else %>
            <% fees = s.finance_fees.select{ |f| f.fee_collection_id.to_i == @date.id.to_i} %>
            <% end %>
          <% else %>  
            <% fees = s.finance_fees %>
          <% end %>
          <% b = Batch.find(s.batch_id)  %>
          <% sc = StudentCategory.find(s.student_category_id)  %>
          <% b_v = b.name.split(" ") %>
          <% if page == 1 and i== 35 %>
              <% i= 0 %>
              <% page += 1 %>
              <tr style="padding: 10px; height: 30px;"><td colspan="8">&nbsp;</td></tr>
              <tr class="table-header">
                <td style="text-align: center;">SL</td>
                <td style="text-align: center;"><%= t('student_id') %></td>
                <td class="name" style="text-align: center;"><%= t('name') %></td>
                <td style="text-align: center;"><%= t('roll_no') %></td>
                <td style="text-align: center;"><%= t('student_category') %></td>
                <td style="text-align: center;"><%= t('due_amount')%> (<%= @currency_type%>)</td>
                <td style="text-align: center;"><%= t('contact_number') %></td>
                <td style="text-align: center;"><%= "Remarks" %></td>
              </tr>
          <% elsif page > 1 and i== 40 %>
              <% i= 0 %>
              <% page += 1 %>
              <tr style="padding: 10px; height: 35px;"><td colspan="8">&nbsp;</td></tr>
              
              <tr class="table-header">
                <td style="text-align: center;">SL</td>
                <td style="text-align: center;"><%= t('student_id') %></td>
                <td class="name" style="text-align: center;"><%= t('name') %></td>
                <td style="text-align: center;"><%= t('roll_no') %></td>
                <td style="text-align: center;"><%= t('student_category') %></td>
                <td style="text-align: center;"><%= t('due_amount')%> (<%= @currency_type%>)</td>
                <td style="text-align: center;"><%= t('contact_number') %></td>
                <td style="text-align: center;"><%= "Remarks" %></td>
              </tr>
          <% end %>
          <% i += 1  %>
          <% c =cycle('even','odd ') %>
          <tr class="<%= "#{c}" %> td-body">
              <td style="text-align: center;"><%= index += 1 %></td>
              <td style="text-align: center;"><%= s.admission_no %></td>
              <td class="name"><%= s.full_name %></td>
              <td style="text-align: center;"><%= s.class_roll_no %></td>
              <td style="text-align: center;"><%= sc.name %></td>
              <% fee_remarks = "" %>
              <% unless params[:date] == '0' %>
              <% fee_remarks = @date.name %>
              <% cnt = 1 %>
              <% else %>
              <% cnt = 0 %>
              <% fees.each_with_index do |fee,m| %>
                <% unless fee.is_paid %>
                  <% if m == fees.length - 1 %>
                  <% fee_remarks += fee.finance_fee_collection.name %>
                  <% else %>
                  <% fee_remarks += fee.finance_fee_collection.name + ", " %>
                  <% end %>
                  <% cnt += 1 %>
                <% end %>
              <% end %>
              <% end %>
              <td style="text-align: right;"><%= to_comma_seperated_precision_label fees.map(&:balance).sum %> (<%= cnt %>)</td>
              
              <td style="text-align: center;"><%= s.sms_number %></td>
              <td class="col-pdf remarks" style="text-align: center;;"><%= truncate(fee_remarks, :length => 20) %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>

</div>
<style>
    #pdf-table tr.table-header td {
      color: #000;
      font-weight: bold;
      font-family: verdana;
      font-size: 10px;
    }
    #pdf-table tr.td-body td.name {
      width: 5% !important;
    }
    #pdf-table tr.td-body td:not(.remarks) {
        padding: 4px 4px;
        color: #000;
        font-weight: normal;
        font-family: verdana;
        font-size: 12px;
        background: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #pdf-table tr.td-body td.remarks {
        padding: 4px 10px;
        color: #000;
        font-weight: normal;
        font-family: verdana;
        font-size: 9px;
        background: #fff;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #pdf-table tr.td-body td:last {
        border-bottom: 1px solid #000;
    }
</style>