<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('finance_reports') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('finance_reports') %></div>



</div>


<div id="page-yield">
   <div class="bread_crumb">
    <%= link_to "Fees", :controller => "finance", :action=>"fees_index" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('fees_report') %>
  </div>
<div class="box">

  <div class="link-box">
      <div class="link-heading"><%= link_to "Ledger", :action => "student_ledger_list" %></div>
      <div class="link-descr"><%= "Student Ledger" %></div>
  </div>

  <div class="link-box">
      <div class="link-heading"><%= link_to "Bill Generation Report", :action => "bill_generation_report" %></div>
      <div class="link-descr"><%= "Bill Generation Report" %></div>
  </div>
    
  <div class="link-box">
      <div class="link-heading"><%= link_to "Particular Wise Report ", :action => "particular_wise_report" %></div>
      <div class="link-descr"><%= "Bill Generation Report Particular Wise" %></div>
  </div>
    
  <div class="link-box">
      <div class="link-heading"><%= link_to "Bill Status Report ", :action => "bill_staus_report" %></div>
      <div class="link-descr"><%= "Bill Generation Report Status" %></div>
  </div>
    
  <div class="link-box">
      <div class="link-heading"><%= link_to "#{t('report')}", :action => "monthly_report_fees" %></div>
      <div class="link-descr"><%= t('show_transactions') %></div>
  </div>
  
  <%
    transaction_summary_enabled = [361] 
    transaction_summary_enabled = PaymentNewConfiguration.config_value("transaction_summary_enabled_school") 

    transaction_summary_enabled = transaction_summary_enabled.split(",").map(&:to_i) unless transaction_summary_enabled.blank?
    transaction_summary_enabled ||= Array.new
  %>  
    
  <% if transaction_summary_enabled.include?(MultiSchool.current_school.id) %>  
  <div class="link-box">
      <div class="link-heading"><%= link_to "Transaction Summary", :action => "transaction_summary" %></div>
      <div class="link-descr"><%= "Transaction Summary report " %></div>
  </div>
  <% end %>  
    
  <div class="link-box">
      <div class="link-heading"><%= link_to "Month Wise Report", :action => "all_monthly_report_fees" %></div>
      <div class="link-descr"><%= "All Month Report" %></div>
  </div>
    
  <div class="link-box">
      <div class="link-heading"><%= link_to "Single Payment Permission", :action => "single_payment_permission" %></div>
      <div class="link-descr"><%= "Report of Single Payment option enabled list" %></div>
  </div>

</div>
</div>