<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script type="text/javascript">
      var j = jQuery.noConflict();
      document.observe("dom:loaded", function() {
       <%#*$$("#right-side-inputs")[0].hide();%>
      });
      </script>
<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('fees_collection') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('create_particular_for_master_fee') %></div>

<div id="inner-tab-menu">
  <ul>
    <li class='themed_bg themed-dark-hover-background'><%= link_to "#{t('master_fees')}", :action=>'master_fees'%></li>
  </ul>
</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">
    <%= link_to t('finance_text'), :controller => "finance", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('fees_text')}", :controller => "finance", :action => "fees_index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to "#{t('master_fees')}", :controller => "finance", :action => "master_fees" %> <div class = "bread-crumb-separator"> > </div>
    <%= t('create_particulars') %>
  </div>
  <div id="flash_box">
  </div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

    <div id="grading-levels-form" style="height: auto;">

    <% form_for  :finance_fee_particular,:url =>{:action => 'fees_particulars_create'}  do |f| %>
       <%if @finance_fee_particular.errors.present?%>
        <div id="form-errors"><%= render :partial=>'errors',:object=>@finance_fee_particular %></div>
      <%end%>
      <div id="form-errors"></div>
      <div style="width: 100%; float: left;">
      <div id="right-side-inputs">
        <div class="label-field-pair">
            <div class="label-container">
              <label for="student_course"><%= t('select_a_category') %> : </label>
            </div>
            <div class="input-container">
                <%= select :finance_fee_particular, :finance_fee_category_id,
                      @fees_categories.map {|b| [b.name, b.id]},
                      {:prompt => "#{t('select_a_category')}"},{:onChange => "#{remote_function(:url => {:action => "list_category_batch"}, :with => "'category_id='+value",:before => "$('loader').show();",
                      :success => "$('loader').hide();")}"}%>
                <%= image_tag("loader.gif",
                    :align => "absmiddle",
                    :border => 0,
                    :id => "loader",
                    :style =>"display: none;" ) %>
            </div>
        </div>
        <div class="label-field-pair category_list" id="list-particular-category"></div>
        <div class="label-field-pair category_list" id="list-category-batch">
          <%if @render and @batches%>
            <div class="label-container" style="width: 100%;">
                <label><%= t('select_a_batch') %>:
                  <div class="sel-list" style="padding-bottom: 5px; padding-left: 20px; display: inline-block; width: 60%; ">
                    <%= link_to_function t('all'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = true; });" %>,
                    <%= link_to_function t('none'), "$$('input.category_select').each(function(checkbox) { checkbox.checked = false; });" %>
                  </div>
                </label>
            </div>
            <div class="categories" style="height: 200px;">
              <% @batches.each do |c| %>
                <div class="each_category">
                    <div class="checkbox_inline"><%= check_box_tag "particular[batch_ids][]", c.id,(@cat_ids.present? and @cat_ids.include?(c.id.to_s)), :class=>"category_select" %> </div>
                    <div class="checkbox_label"><label><%= "#{c.full_name}" %></label></div>
                </div>
              <% end %>
            </div>
            <%end%>
        </div>
      </div>
      <div id="left-side-inputs">
        <div class="label-field-pair">
          <div class="label-container"><%= f.label "#{t('name')}"  %></div>
          <div class="input-container"><%= f.text_field :name %></div>
        </div>
        <div class="label-field-pair">
          <div class="label-container"><%= f.label "#{t('description')}" %></div>
          <div class="input-container"><%= f.text_field :description %></div>
        </div>
        <div class="label-field-pair2">
          <div class="label-container2"><label><%= t('create_using') %></label></div>
          <div class="input-container2">
              <div class="opt"><%= radio_button("finance_fee_particular","receiver_type","Batch",
                {:checked=>@all,:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                  :with => "'select_value='+value+'&batch_id='+selected_batches()")}"}) %><%= t('all') %></div>
              <div class="opt"><%=  radio_button("finance_fee_particular","receiver_type","Student",
                {:checked=>@student,:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                  :with => "'select_value='+value+'&batch_id='+selected_batches()")}"}) %><%= t('admission_no') %></div>
              <div class="opt"> <%= radio_button("finance_fee_particular","receiver_type","StudentCategory",
                {:checked=>@category,:onchange => "#{remote_function(:url => {:action => "student_or_student_category"},
                  :with => "'select_value='+value+'&batch_id='+selected_batches()")}"}) %><%= t('student_category') %> </div>
            <div style="clear: both; height: 10px;"></div>
          </div>
          
        </div>

        <div id="student" style="float: left; width: 100%; height: auto;">
          <%if @render%>
            <%if @student%>
              <%= render :partial => "fee_collection_student_list_new" %>
            <%end%>
            <%if @category%>
              <div class="label-field-pair">
                <div class="label-container"><label><%= t('student_category') %>:</label></div>
                <div class="input-container"> <%= select :finance_fee_particular,:receiver_id, @student_categories.map { |c| [c.name, c.id] },
                    {:prompt => "#{t('select_category')}" }%></div></div>
            <%end%>
          <%end%>
        </div>
        <div style="clear: both; height: 2px;"></div>  

        <div class="label-field-pair">
          <div class="label-container"><%= f.label "#{t('amount')}" %></div>
          <div class="input-container"> <%= f.text_field :amount, :class=>'precision_text' %></div>
        </div>
      </div>
      </div>    


      <div style="clear: both; height: 10px;"></div>
      <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button', :disable_with => "► #{t('please_wait')}" %>

    <% end %>
  </div>
</div>
     
<script>
  function selected_batches()
  {
      var batches = "";
      j(".category_select").each(function(){
          if ( j(this).prop('checked') )
          {
              batches += this.value + ",";
          }
      });
      if ( j.trim(batches).length > 0 )
      {
          batches = batches.substr(0, batches.length - 1);
      }
      return batches;
  }
</script>
<script>
  j(document).ready(function(){
      j(document).on("keyup","#search_std",function(){
        
          var srch_val = this.value;
          j('.std_name').each(function(){
              var stdid = this.id.replace("std_","");
              var val = j(this).html();
              if ( val.toLowerCase().indexOf(srch_val.toLowerCase()) == -1  )
              {
                  j('.students_box').each(function(){
                      if ( this.value == stdid )
                      {
                         j(this).removeAttr('checked');
                         return ;
                      }
                  });
                  j(this).parent().parent().hide();
              }
              else
              {
                  j('.students_box').each(function(){
                      if ( this.value == stdid )
                      {
                         if ( j(this).prop('checked') == false && j(this).parent().parent().css('display') != 'block')
                         {
                            if ( j('#none_click').val() == 1 )
                            {
                               j(this).removeAttr('checked');
                            }
                            else
                            {
                               j(this).prop('checked', true);
                            }
                         }
                         return ;
                      }
                  });
                  j(this).parent().parent().show();
              }
          });
      });
      
      j(document).on("change",".category_select",function(){
          var is_checked = false;
          j("div.opt input").each(function(){
              if ( this.id == "finance_fee_particular_receiver_type_student" && j(this).prop('checked') )
              {
                  is_checked = true;
              }
          });
          if (is_checked)
          {
              var batches = "";
              var students = "";
              j(".category_select").each(function(){
                  if ( j(this).prop('checked') )
                  {
                      batches += this.value + ",";
                  }
              });
              if ( j.trim(batches).length > 0 )
              {
                  batches = batches.substr(0, batches.length - 1);
              }
              j(".students_box").each(function(){
                  if ( j(this).prop('checked') )
                  {
                      students += this.value + ",";
                  }
              });
              if ( j.trim(students).length > 0 )
              {
                  students = students.substr(0, students.length - 1);
              }
              new Ajax.Request('/finance/student_or_student_category', 
                {
                  asynchronous:true, 
                  evalScripts:true, 
                  parameters:'select_value='+'Student'+'&batch_id='+batches+'&selected='+students
                }
              )
              
          }
      });
  });
</script>    