<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('finance_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('manage_finance') %></div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

  <div class="box">
    
    <% if @finance_modules.find{|d| d['name']=="fees_text"}["visible"] %>  
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('fees_text')}", :action => "fees_index" %> </div>
        <div class="link-descr"><%= t('manage_fees') %></div>
      </div>
    <% end %>  
    
    <% if @finance_modules.find{|d| d['name']=="category"}["visible"] %>    
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('category')}", :action => "categories" %> </div>
        <div class="link-descr"><%= t('manage_category') %></div>
      </div>
    <% end %>    

    <% if @finance_modules.find{|d| d['name']=="transactions"}["visible"] %>      
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('transactions')}", :action => "transactions" %> </div>
        <div class="link-descr"><%= t('manage_expense_and_income') %></div>
      </div>
    <% end %>    

    <% if @finance_modules.find{|d| d['name']=="donations"}["visible"] %>        
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('donations')}", :action => "donation" %></div>
        <div class="link-descr"><%= t('creates_new_donations') %></div>
      </div>
    <% end %>    

    <% if @finance_modules.find{|d| d['name']=="automatic_transactions"}["visible"] %>          
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('automatic_transactions')}", :action => "automatic_transactions" %></div>
        <div class="link-descr"><%= t('add_automatic_transactions') %></div>
      </div>
    <% end %>    
      
    <% unless @hr.nil? %>
      <% if @finance_modules.find{|d| d['name']=="payslip_text"}["visible"] %>          
        <div class="link-box">
          <div class="link-heading"><%= link_to "#{t('payslip_text')}", :action => "payslip_index" %></div>
          <div class="link-descr"><%= t('employee_payslips') %></div>
        </div>
      <% end %>  
    <% end %>
      
    <% if @finance_modules.find{|d| d['name']=="finance_reports"}["visible"] %>          
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('finance_reports')}", :action => "finance_reports" %></div>
        <div class="link-descr"><%= t('show_transactions') %></div>
      </div>
    <% end %>    

    <% if @finance_modules.find{|d| d['name']=="asset_liability_management"}["visible"] %>            
      <div class="link-box">
        <div class="link-heading"><%= link_to "#{t('asset_liability_management')}", :action => "asset_liability" %></div>
        <div class="link-descr"><%= t('asset_liability') %> <%= t('management') %></div>
      </div>
    <% end %>    


  </div>
</div>
