<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('transactions') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'>Fees Report</div>

</div>
<div id="page-yield">
  <div class="bread_crumb">

  </div>
  <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><ul><li><%= flash[:warn_notice] %></li></ul> </div>
  <% end %>
 <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box" style="width: 100%; border-radius: 10px; float: left; padding-top: 20px;">
    <% form_for :report, :url => {:action => 'update_monthly_report_fees'},:html=>{:id=>"form_id"} do |form| %>
      <div class="label-field-pair" style="width: 55%; display: block; float: left;">
        <div class="label-container" style="width: 20%; display: inline-block; padding-top: 6px;"><label><%= "Date Range" %>:</label></div>
        <div class="input-container calendar-input" style="width: 37%; margin-right: 2%; display: inline-block; "><%= calendar_date_select_tag 'start_date', I18n.l(Date.today,:format=>"%d %b %Y") ,:popup=>:force%></div>
        <div class="input-container calendar-input" style="width: 37%; display: inline-block; padding-left: 10px; "><%= calendar_date_select_tag 'end_date', I18n.l(Date.today,:format=>"%d %b %Y") ,:popup=>:force%></div>
      </div>
      
      <div class="label-field-pair" style="width: 21%; display: block; float: left; margin-top: 6px; margin-right: 1%;">
        <select name="filter_by_course" id="filter_by_course" style="width: 100% !important;">
            <option value="0">All Batches</option>
            <option value="1">School</option>
            <option value="2">College</option>
        </select>
        
      </div>
      
      <div class="label-field-pair" style="width: 22%; display: block; float: left; margin-top: 6px;">
        <select name="filter_by_payment_type" id="filter_by_payment_type" style="width: 100% !important;">
            <option value="0">All Payment Type</option>
            <option value="1">Mobile Banking</option>
            <option value="2">Card Payment</option>
            <option value="3">TrustBank (MB/ITCL)</option>
            <option value="4">nKash Payment</option>
            <option value="5">Citybank Payment</option>
        </select>
        
      </div>
      
      <div style="clear: both; height: 5px;"></div>
      <div style="width: 100%; text-align: center; padding-left: 44%; margin: 0 auto;"><%=  link_to_function "► #{t('monthly_report')}","submit_form();",{:class=>'user_button'} %></div>
      <div style="clear: both; height: 20px;"></div>
    <%end%>
  </div>
</div>
<script type="text/javascript">
function submit_form(){
  url="/finance/update_monthly_report_fees?start_date="+j('#start_date')[0].value+"&end_date="+j('#end_date')[0].value+"&filter_by_course="+j('#filter_by_course')[0].value+"&filter_by_payment_type="+j('#filter_by_payment_type')[0].value
  window.location.href=url   
}
  
</script>
<style>
    .text-input-bg select, .label-field-pair input, .label-field-pair textarea {
      width: 85%;
    }
    .calendar_date_select_popup_icon {
      right: -8px;
    }
    .user_button {
      margin-top: 20px;
    }
</style>

