<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%
  copy = []
  copy << "Parent Copy"
  copy << "Bank Copy"
  copy << "School Copy"
  copy << "Finance Copy"
%>

<div id="page-yield" class="available_sections">
    <% copy.each do |cp| %>
    <div class="div-24" >  
       
            <center>
                <div id="pdf-header-south" class="general-header">
                  <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '4%' %></h4>
                  <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
                </div>
            </center>
            <% total_fees = 0 %>
            <table class="std_info">
                <tr>
                    <td><%= "#{t('name')}" %></td> <td>:&nbsp; <%=  "#{@student.full_name}" %></td>
                </tr>
                   <tr> <td><%= "#{t('admission_no')}" %></td> <td>:&nbsp;  <%=  "#{@student.admission_no}" %></td>
                </tr> 
                <tr>
                    <td><%= "#{t('course_text')}" %> </td><td>:&nbsp;  <%=  "#{@student.batch.full_name}" %></td></tr>
                  <tr>  <td>Fee Collection</td> <td> :&nbsp; <%=  "#{@date.name.capitalize}" %></td>
                </tr> 
                
            </table>
          
       
       
            <table id="pdf-table" width="98%" cellspacing="0">
                <tr class="table-header">
                    <td class="mark-td"><%= t('sl_no') %></td>
                    <td class="name-td"><%= t('particulars') %></td>
                    <td class="mark-td"> <%= t('amount') %></td>
                </tr>
                <%k=7%>
                <% i = 0  %>
                <% c= 'even' %>
                <% @fee_particulars.each do |fee| %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td class="mark-td"><%= i+=1 %></td>
                      <%k+=1%>
                      <td class="name-td"><%= fee.name %></td>
                      <td class="mark-td"><%= @currency_type.to_s + " #{precision_label(fee.amount.to_s)}" %></td>
                  </tr>
                  <% total_fees += fee.amount %>
                <% end %>

                <% unless @total_discount == 0 %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <%k+=1%>
                      <td class="col-1" colspan="3"><span class="space"><%= t('discount') %></span></td>
                  </tr>

                  <% @discounts.each do |d| %>
                    <%k+=1%>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        <td class="mark-td"><%= i+=1 %></td>
                        <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}(#{d.discount})%" %>
                        <td class="name-td"><%= discount_text %></td>
                        <td class="mark-td"><%= precision_label(@total_payable * d.discount.to_f/ (d.is_amount?? @total_payable : 100)) %></td>
                    </tr>
                  <% end %>


                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <%k+=1%>
                      <td class="mark-td" colspan="2" ><%= t('total_discount') %></td>
                      <td class="mark-td" ><%= "#{precision_label(@total_discount)}" %></td>
                  </tr>

                  <tr class="tr-blank"></tr>
                  <tr class="tr-blank"></tr>
                  <% total_fees = (@total_payable-@total_discount) %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <%k+=1%>
                      <td class="mark-td" colspan="2" ><%= t('total_fees') %></td>
                      <td class="mark-td" ><%=  precision_label(total_fees) %></td>
                  </tr>


                <% end %>

                <% if @paid_fees%>



                  <% unless @paid_fees.blank? %>
                    <% @paid_fees.each do |trans| %>
                      <% if trans.fine_included %>
                        <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                            <%k+=1%>
                            <td class="col-1"><%= i+=1 %></td>
                            <td class="col-2"><span><%= t('fine_on') %> <%= trans.transaction_date %></span></td>

                            <td class="col-4"><%= @currency_type.to_s +  " #{precision_label(trans.fine_amount.to_f)}" %></td>
                        </tr>
                        <% total_fees += trans.fine_amount.to_f %>
                      <% end %>
                    <% end %>
                  <% end %>
                <%end%>
                <% unless @paid_fees.nil? %>
                  <% paid=0 %>
                  <% @paid_fees.each{|a| paid += a.amount.to_f} %>
                  <% total_fees -= paid %>
                  <%if @fine_amount.present?%>
                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                        <%k+=1%>
                        <td class="col-8" colspan="2" ><%= t('fine_on') %> <%= Date.today %></td>
                        <td class="col-6" ><%= precision_label(@fine_amount.to_f) %></td>
                    </tr>
                  <%end%>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <%k+=1%>
                      <td class="col-8" colspan="2" ><%= t('payment_done') %></td>
                      <td class="col-6" ><%= precision_label(paid) %></td>
                  </tr>
                <% end %>
                <%balance=@financefee.balance.to_f+@fine.to_f+@fine_amount.to_f%>
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                    <%k+=1%>
                    <td colspan="2" class="col-8"><%= t('amount_to_pay') %></td>
                    <td class="col-pdf"><%= @currency_type.to_s + " #{precision_label(balance)}" %></td>
                </tr>
                <% if ((k+1)%1)==0 %>
              </table>
              </center>
               <table id="pdf-table" width="100%" >

                    <% end %>
                </table>
              <hr/>
              <center>
                  <img src="http://www.barcodes4.me/barcode/c128a/<%= @student.admission_no+"-"+params[:id2] %>.png?width=200&height=50" />
              </center>
              <center>
                <div id="pdf-header-south" class="copy">
                    <h3><%= cp %></h3>
                </div>          
              <center>      
              
    </div>
    
    <% end %>
    
    
</div>


