<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

<% unless @from_student_view %>
<div style="background: transparent; height: 40px;">

</div>
<% else %>
<div class="header-wrapper">

    <div class="header-title">
        <div class="header-icon">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper">
            <div class="header-title-main-text f2">
                <%= link_to "Student Ledger", :controller => "finance", :action => "student_ledger", :id => @student.id,:id2=>1 %>
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
        <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
        <ul class="header-tabs">
            <li>
                <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
            </li>
            <li>
                <%= link_to "#{t('view_refunds')}", {:controller => 'finance', :action => "refund_student_view",:id => @student.id}, {:class => 'f2'} %>
            </li>
            <li class="active">
                <%= link_to "Ledger", {:controller => 'finance', :action => "student_ledger",:id => @student.id,:id2=>1}, {:class => 'f2'} %>
            </li>
            <li>
                <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
            </li>
        </ul>
        <% end %>
    </div>

</div>
<% end %>

<div id="page-yield" class="bg-disable">
    <div class="fees_wrapper">
        <div id="student_profile_heading">
            <div id="profile_picture_display">
                <% if @student.photo.file? %>
                  <% @profile_image = @student.photo.url %>

                  <% unless @profile_image.index("RackMultipart").nil? %>
                    <% if @student.photo.exists? %>
                      <% unless @profile_image.index("?").nil?  %>
                        <% @profile_image.gsub! '?', '.?' %>
                      <% else %>
                        <% @profile_image = @profile_image+"." %>
                      <% end %>
                    <% else %>
                      <% @profile_image = "master_student/profile/default_student.png" %>
                    <% end %>
                  <% end %>

                <% else %>
                  <% @profile_image = "master_student/profile/default_student.png" %>
                <% end %>
                <%= image_tag "#{@profile_image}", :width=>"125" %>
                <% if @student.photo.file? %>
                <% if @current_user.admin? or permitted_to? :remove_photo, :student %>
                <div class="image-delete-link" />
                   <%= link_to '<img src="/images/buttons/delete-new.png" />', {:controller => 'student', :action => 'remove_photo', :id => @student.id}, :confirm => "Do you realy want to remove this photo?" %>
                </div>
                <% end %>
                <% end %>

            </div>

            <div id ="student_main_info">
                <div id="student_name" class="f2"><%= @student.full_name %></div>
                <div id="student_class"><%= @student.batch.course.course_name %></div>
            </div>
        </div>

        <div id="personal_info_wrapper">
            <div id="class_info">
              <% if Batch.active.find(:all, :group => "name").length > 1  %>
                <div class="infos">
                    <div><%= @student.batch.name %></div>
                    <div><%= t('batch_text') %></div>
                </div>
              <% end %>
              <div class="infos">
                  <div><%= @student.admission_no %></div>
                  <div><%= t('adm_no') %></div>
              </div>
              <div class="infos last">
                  <% unless  @student.batch.course.section_name.empty? %>
                  <div><%= @student.batch.course.section_name %></div>
                  <div><%= t('profile_section_label') %></div>
                  <% else %>
                  <div> No Section</div>
                  <div></div>
                  <% end %>

              </div>
          </div>
        </div>

        <div id="student_profile_heading1">
            <div id="student_main_info1" style="float: left; width: 98%;">
                <span class="name" style="width: 66%; display: inline-block;"><h1> Student Ledger</h1> </span>
                <% if @from_student_view %>
                  <span class="name" style="width: 15%; padding-right: 10px; display: inline-block; text-align: right;">
                      <%= link_to "Download PDF",
                              {:controller => "finance", :action => "student_ledger_pdf_fees", :id => @student.id, :id2 => 1},:target => '_blank', :class => "user_button" %>
                  </span>
                  <span class="name" style="width: 15%; padding-right: 0px; display: inline-block; text-align: right;">
                      <%= link_to "Download Excel",
                              {:controller => "finance", :action => "student_ledger_xls_fees", :id => @student.id, :id2 => 1},:target => '_blank', :class => "user_button" %>
                  </span>
                <% else %>
                  <span class="name" style="width: 15%; padding-right: 10px; display: inline-block; text-align: right;">
                      <%= link_to "Download PDF",
                              {:controller => "finance", :action => "student_ledger_pdf_fees", :id => @student.id, :start_date => @start_date},:target => '_blank', :class => "user_button" %>
                  </span>
                  <span class="name" style="width: 15%; padding-right: 0px; display: inline-block; text-align: right;">
                      <%= link_to "Download Excel",
                              {:controller => "finance", :action => "student_ledger_xls_fees", :id => @student.id, :start_date => @start_date},:target => '_blank', :class => "user_button" %>
                  </span>
                <% end %>
            </div>
            <div class="extender"> </div>
        </div>
        <%#= debug @student_fee_ledgers_previous.inspect %>
        <hr style="border: 1px solid #ccc;" />
        <div id="table-scroll" class="table-scroll" style="display: block; width: 96%; padding-bottom: 20px;">
            <table class="table-bordered main-table" id="table-scroll" cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;">
                <thead><!-- class="thead-inverse" -->
                  <tr>
                    <th style="width: 40px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Sl No</th>  
                    <th class="fixed-side" scope="col" style="width: 140px; text-align: center; vertical-align: middle;">Transaction Date</th>
                    <th style="width: 80px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Tran Type</th>
                    <th style="width: 70px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Tran ID</th>
                    <th style="width: 70px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">For</th>
                    <th style="width: 180px; text-align: left; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Particulars</th>
                    <th style="text-align: center; vertical-align: middle;">Debit</th>
                    <th style="text-align: center; vertical-align: middle;">Credit</th>
                    <th style="text-align: center; vertical-align: middle;">Balance</th>
                  </tr>
                </thead>
                <tbody>
                    <% carried_amount = 0 %>
                    <% current_balance = 0 %>
                    <% i = 0 %>
                    <% balance_forward = false %>
                    <% already_shown = false %>
                    <% val = 0 %>
                    <% unless @student_fee_ledgers_previous.blank? %>
                      <% val = 1 %>
                      <tr class="tr-odd">
                          <td style="text-align: center; vertical-align: middle; font-weight: bold; font-family: Roboto;"><%= 1 %></td>
                          <th style="vertical-align: middle; text-align: left; color: #555; font-family: verdana; font-size: 12px; line-height: 17px;" class="fixed-side">
                          </th>
                          <td colspan="4" style="vertical-align: middle; text-align: right; color: #555; font-family: verdana; font-size: 12px; line-height: 17px;">
                              <%= "Balance Forward upto " + @start_date.strftime("%d %B, %Y") unless @start_date.blank? %><br />
                          </td>
                          <% amt = @student_fee_ledgers_previous.amount_to_pay %>
                          <% amt_paid = @student_fee_ledgers_previous.amount_paid %>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label amt %></td>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label amt_paid %></td>
                          <% current_balance = (carried_amount + amt.to_f) - amt_paid.to_f %>
                          <% carried_amount = current_balance %>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;">
                              <% if current_balance < 0 %>
                                <%= to_comma_seperated_precision_label current_balance * (-1) %><br />
                                <small style="font-size: 13px;">(Advance)</small>
                              <% else %>
                                <%= to_comma_seperated_precision_label current_balance %>
                              <% end %>
                          </td>
                      </tr>
                    <% end %>
                    <% @student_fee_ledgers.each_with_index do |student_fee_ledger, ind| %>
                    <% balance_forward = false %>
                    <% ledger_info = "" %>
                    <% info = "" %>
                    <% trans_type = "" %>
                    <% trans = [] %>
                    <% finance_transaction_id = [] %>
                    <% for_id = [] %>
                    <% particulars = [] %>
                    <% particular_name = "" %>
                    <% trans_id = "" %>
                    <% finance_transaction_ids = "" %>
                    <% if student_fee_ledger.amount_to_pay.to_f == 0.00 and student_fee_ledger.amount_paid.to_f == 0.00 %>
                    <% balance_forward = true %>
                    <% info = "" %>
                    <% trans_type = "" %>
                    <% particular_name = "Balance Forward upto " + student_fee_ledger.ledger_date.strftime("%d-%m-%Y") %>
                    <% ledger_info = "(Admission Date)" %>
                    <% elsif student_fee_ledger.amount_to_pay.to_f > 0.00 and student_fee_ledger.amount_paid.to_f == 0.00 %>
                      <% trans_type = "Receivable" %>
                      <% student_ledgers = StudentFeeLedger.find(:all, :select => "id, fee_id, particular_id", :conditions => ["id = #{student_fee_ledger.id} and student_id = #{@student.id} and ledger_date = '#{student_fee_ledger.ledger_date}'"]) %>
                      <% unless student_ledgers.nil? %>
                        <% student_ledgers.each do |student_ledger| %>
                          <% fee = FinanceFee.find(:first, :conditions => "id = #{student_ledger.fee_id}") %>
                          <% unless fee.nil? %>
                            <% trans << fee.id %>
                            <% date_id = fee.fee_collection_id %>
                            <% d = FinanceFeeCollection.find(date_id) %>
                            <% for_id << d.name %>
                            <%
                              exclude_particular_ids = StudentExcludeParticular.find_all_by_student_id_and_fee_collection_id(@student.id,@date.id).map(&:fee_particular_id)
                              unless exclude_particular_ids.nil? or exclude_particular_ids.empty? or exclude_particular_ids.blank?
                                exclude_particular_ids = exclude_particular_ids
                              else
                                exclude_particular_ids = [0]
                              end
                            %>
                              <%#= student_ledger.particular_id %>
                            <% if student_ledger.particular_id == 0 or student_ledger.particular_id.blank? %>
                            <% fee_particulars = d.finance_fee_particulars.all(:conditions=>"finance_fee_particulars.id not in (#{exclude_particular_ids.join(",")}) and is_deleted=#{false} and batch_id=#{fee.batch.id}").select{|par|  (par.receiver.present?) and (par.receiver==@student or par.receiver==@student.student_category or par.receiver==fee.batch) } %>
                            <% else %>
                            <% fee_particulars = d.finance_fee_particulars.all(:conditions=>"finance_fee_particulars.id not in (#{exclude_particular_ids.join(",")}) and finance_fee_particulars.id = #{student_ledger.particular_id} and is_deleted=#{false} and batch_id=#{fee.batch.id}").select{|par|  (par.receiver.present?) and (par.receiver==@student or par.receiver==@student.student_category or par.receiver==fee.batch) } %>
                            <% end %>
                            <% unless fee_particulars.blank? %>
                            <% particular_name = fee_particulars.map(&:name).join(", ") + " for " + d.name  %>
                            <% end %>
                            <% ledger_info += "(<a href='/student/fee_details/" + @student.id.to_s + "/" + fee.finance_fee_collection.id.to_s + "?opt=" + Base64.encode64(@student.admission_no.to_s + "-" + fee.finance_fee_collection.id.to_s).reverse + '===' + "' target='_blank' style='text-decoration: underline;'>" + fee.finance_fee_collection.name + '</a>' %>
                            <% if i == student_ledgers.length - 1 %>
                            <% ledger_info += ")" %>
                            <% else %>
                            <% ledger_info += ", " %>
                            <% end %>
                            <% i += 1 %>
                          <% else %>  
                            <% student_ledger.destroy %>  
                          <% end %>
                          <% trans_id = trans.join(", ") %>
                          <% info = for_id.join(", ") %>
                        <% end %>
                      <% end %>
                    <% elsif student_fee_ledger.amount_to_pay.to_f == 0.00 and student_fee_ledger.amount_paid.to_f > 0.00 %>
                        <% trans_type = "Received" %>
                        <% student_ledgers = StudentFeeLedger.find(:all, :select => "id, fee_id, transaction_id, particular_id", :conditions => ["id = #{student_fee_ledger.id} and student_id = #{@student.id} and ledger_date = '#{student_fee_ledger.ledger_date}'"]) %>
                        <%#= debug student_ledgers.inspect %>
                        <% unless student_ledgers.nil? %>
                          <% student_ledgers.each do |student_ledger| %>
                            <% if student_ledger.transaction_id == 0 and student_ledger.particular_id > 0 %>
                              <% trans_type = "Discount" %>
                              <% fee = FinanceFee.find(:first, :conditions => "id = #{student_ledger.fee_id}") %>
                              <% unless fee.blank? %>
                                  <% date_id = fee.fee_collection_id %>
                                  <% d = FinanceFeeCollection.find(date_id) %>
                                  <% for_id << d.name %>
                              <% else %>    
                                  <% student_ledger.destroy %>   
                              <% end %>
                              <% trans_id = trans.join(", ") %>
                              <% info = for_id.join(", ") %>
                              <% particular_name = particulars.join(", ") %>
                            <% else %>
                              <% payments = Payment.find(:all, :conditions => "finance_transaction_id = #{student_ledger.transaction_id} and payee_id = #{@student.id}") %>
                              <%#= debug payments.map(&:id).inspect  %>
                              <%#= student_ledger.transaction_id  %>
                              <%#= student_ledgers.length  %>
                              <% unless payments.nil? %>
                                <% payments.each do |payment| %>
                                  <% trans << payment.order_id %>
                                  <% finance_transaction_id << payment.finance_transaction_id %>
                                  <% fee = FinanceFee.find(:first, :conditions => "id = #{payment.payment_id}") %>
                                  <% unless fee.blank? %>
                                    <% date_id = fee.fee_collection_id %>
                                    <% d = FinanceFeeCollection.find(date_id) %>
                                    <% for_id << d.name %>
                                    <% particulars << d.name %>
                                  <% else %>  
                                    <% student_ledger.destroy %>
                                  <% end %>
                                  <% particulars << "Trust Bank Payment" %>  
                                  <% payment_type = (payment.gateway_response[:payment_type] = "MB") ? "Mobile Banking" : "Card Online" %>
                                  <% particulars << payment_type %>    
                                  <% unless payment.gateway_response[:ref_id].blank? %>
                                  <% particulars << "Reference ID: " + payment.gateway_response[:ref_id] %>    
                                  <% end %>
                                  <% unless fee.blank? %>
                                  <% ledger_info += "Order Id: #{payment.order_id} <a href='/finance/student_fee_receipt_pdf/#{@student.id}/#{fee.finance_fee_collection.id}?trn_id=#{payment.finance_transaction_id}' target='_blank' style='text-decoration: underline;'>Print receipt</a><Br />" %>
                                  <% else %>
                                  <% ledger_info += "Order Id: #{payment.order_id} <a href='/finance/student_fee_receipt_pdf/#{@student.id}/0?trn_id=#{payment.finance_transaction_id}' target='_blank' style='text-decoration: underline;'>Print receipt</a><Br />" %>
                                  <% end %>
                                <% end %>
                                <% trans_id = trans.join(", ") %>
                                <% finance_transaction_ids = finance_transaction_id.join(", ") %>
                                <% info = for_id.join(", ") %>
                                <% particular_name = particulars.join(", ") %>
                              <% else %>  
                                  <% student_ledger.destroy %>   
                              <% end %>
                            <% end %>
                          <% end %>
                        <% end %>
                    <% end %>
                    
                    <% ledger_found = true %>
                    <% is_fine = false %>
                    <% student_ledger = StudentFeeLedger.find(:first, :select => "is_fine", :conditions => ["id = #{student_fee_ledger.id} and student_id = #{@student.id} and ledger_date = '#{student_fee_ledger.ledger_date}'"]) %>
                    <% unless student_ledger.blank? %>
                      <% if student_ledger.is_fine %>
                        <% is_fine = true %>
                        <% ledger_found = false %>
                      <% end %>
                    <% end %>
                    <% unless is_fine %>
                      <% if student_fee_ledger.amount_to_pay.to_f == 0.00 and student_fee_ledger.amount_paid.to_f == 0.00 %>
                      <% elsif student_fee_ledger.amount_to_pay.to_f > 0.00 and student_fee_ledger.amount_paid.to_f == 0.00 %>
                        <% student_ledgers = StudentFeeLedger.find(:all, :select => "id, fee_id", :conditions => ["id = #{student_fee_ledger.id} and student_id = #{@student.id} and ledger_date = '#{student_fee_ledger.ledger_date}'"]) %>
                        <% if student_ledgers.blank? %>
                          <% ledger_found = false %>
                        <% end %>  
                      <% elsif student_fee_ledger.amount_to_pay.to_f == 0.00 and student_fee_ledger.amount_paid.to_f > 0.00 %>
                          <% student_ledgers = StudentFeeLedger.find(:all, :select => "id, fee_id, transaction_id", :conditions => ["id = #{student_fee_ledger.id} and student_id = #{@student.id} and ledger_date = '#{student_fee_ledger.ledger_date}'"]) %>
                          <% if student_ledgers.blank? %>
                            <% ledger_found = false %>
                          <% end %>
                      <% end %>
                    <% end %>
                    
                    <% if trans_type == "Received" %>
                      <% unless finance_transaction_ids.blank? %>
                        <% amt = 0 %>
                        <% amt_paid = 0 %>
                        <% ledger_date = '' %>
                        <% fee_id = '' %>
                        <% info_fine = '' %>
                        <% fine_title = '' %>
                        <% student_ledgers = StudentFeeLedger.find(:all, :select => "id, fee_id, transaction_id, amount_to_pay, amount_paid, ledger_date, ledger_title", :conditions => ["transaction_id IN (#{finance_transaction_ids}) and student_id = #{@student.id} and is_fine = #{true}"]) %>
                        <% unless student_ledgers.blank? %>
                          <% student_ledgers.each do |student_ledger| %>
                            <% amt += student_ledger.amount_to_pay %>
                            <% amt_paid += student_ledger.amount_paid %>
                            <% ledger_date = student_ledger.ledger_date %>
                            <% fee_id = student_ledger.fee_id %>
                            <% fee = FinanceFee.find(:first, :conditions => "id = #{student_ledger.fee_id}") %>
                            <% unless fee.blank? %>
                               <% date_id = fee.fee_collection_id %>
                                <% d = FinanceFeeCollection.find(date_id) %>
                                <% info_fine = d.name %>
                            <% end %>
                            <% fine_title = student_ledger.ledger_title %>
                          <% end %>
                        <% end %>
                        <% if amt > 0 %>
                          <tr class="tr-odd">
                              <td style="text-align: center; vertical-align: middle; font-weight: bold; font-family: Roboto;"><%= ind + 1 + val %></td>
                              <th style="vertical-align: middle; text-align: left; color: #555; font-family: verdana; font-size: 12px; line-height: 17px;" class="fixed-side">
                                  <%= ledger_date.strftime("%d %B, %Y") unless ledger_date.blank? %><br />
                              </th>
                              <td style="text-align: center; vertical-align: middle;"><%= "Fine" %></td>
                              <td style="text-align: center; vertical-align: middle;"><%= fee_id %></td>
                              <td style="text-align: center; vertical-align: middle;"><%= info_fine unless info_fine.blank? %></td>
                              <td style="text-align: left; padding-left: 10px; vertical-align: middle;"><%= fine_title %></td>
                              <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label amt %></td>
                              <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label amt_paid %></td>
                              <% current_balance = (carried_amount + amt.to_f) - amt_paid.to_f %>
                              <% carried_amount = current_balance %>
                              <td style="vertical-align: middle; text-align: right; font-size: 12px;">
                                  <% if current_balance < 0 %>
                                    <%= to_comma_seperated_precision_label current_balance * (-1) %><br />
                                    <small style="font-size: 13px;">(Advance)</small>
                                  <% else %>
                                    <%= to_comma_seperated_precision_label current_balance %>
                                  <% end %>
                              </td>
                          </tr>
                        <% end %>
                      <% end %>
                    <% end %>
                    
                    <% if ledger_found and already_shown and !balance_forward %>  
                      <tr class="tr-odd">
                          <td style="text-align: center; vertical-align: middle; font-weight: bold; font-family: Roboto;"><%= ind + 1 + val %></td>
                          <th style="vertical-align: middle; text-align: left; color: #555; font-family: verdana; font-size: 12px; line-height: 17px;" class="fixed-side">
                              <% unless balance_forward %>
                                <%= student_fee_ledger.ledger_date.strftime("%d %B, %Y") %><br />
                                <small><%= ledger_info %></small>
                              <% end %>
                          </th>
                          <td style="text-align: center; vertical-align: middle;"><%= trans_type %></td>
                          <td style="text-align: center; vertical-align: middle;"><%= trans_id %></td>
                          <td style="text-align: center; vertical-align: middle;"><%= info %></td>
                          <td style="text-align: left; padding-left: 10px; vertical-align: middle;"><%= (student_fee_ledger.ledger_title.blank?) ? particular_name : student_fee_ledger.ledger_title %></td>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label student_fee_ledger.amount_to_pay %></td>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label student_fee_ledger.amount_paid %></td>
                          <% current_balance = (carried_amount + student_fee_ledger.amount_to_pay.to_f) - student_fee_ledger.amount_paid.to_f %>
                          <% carried_amount = current_balance %>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;">
                              <% if current_balance < 0 %>
                                <%= to_comma_seperated_precision_label current_balance * (-1) %><br />
                                <small style="font-size: 13px;">(Advance)</small>
                              <% else %>
                                <%= to_comma_seperated_precision_label current_balance %>
                              <% end %>
                          </td>
                      </tr>
                    <% elsif ledger_found and !already_shown %>  
                      <% already_shown = true %>
                      <tr class="tr-odd">
                          <td style="text-align: center; vertical-align: middle; font-weight: bold; font-family: Roboto;"><%= ind + 1 + val %></td>
                          <th style="vertical-align: middle; text-align: left; color: #555; font-family: verdana; font-size: 12px; line-height: 17px;" class="fixed-side">
                              <% unless balance_forward %>
                                <%= student_fee_ledger.ledger_date.strftime("%d %B, %Y") %><br />
                                <small><%= ledger_info %></small>
                              <% end %>
                          </th>
                          <td style="text-align: center; vertical-align: middle;"><%= trans_type %></td>
                          <td style="text-align: center; vertical-align: middle;"><%= trans_id %></td>
                          <td style="text-align: center; vertical-align: middle;"><%= info %></td>
                          <td style="text-align: left; padding-left: 10px; vertical-align: middle;"><%= (student_fee_ledger.ledger_title.blank?) ? particular_name : student_fee_ledger.ledger_title %></td>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label student_fee_ledger.amount_to_pay %></td>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;"><%= to_comma_seperated_precision_label student_fee_ledger.amount_paid %></td>
                          <% current_balance = (carried_amount + student_fee_ledger.amount_to_pay.to_f) - student_fee_ledger.amount_paid.to_f %>
                          <% carried_amount = current_balance %>
                          <td style="vertical-align: middle; text-align: right; font-size: 12px;">
                              <% if current_balance < 0 %>
                                <%= to_comma_seperated_precision_label current_balance * (-1) %><br />
                                <small style="font-size: 13px;">(Advance)</small>
                              <% else %>
                                <%= to_comma_seperated_precision_label current_balance %>
                              <% end %>
                          </td>
                      </tr>
                    <% end %>
                    <% end %>

                </tbody>
            </table>
            <% remaining_amount = 0.00 %>
            <% if carried_amount < 0 %>
              <% remaining_amount = carried_amount * (-1) %>
            <% else %>
              <% remaining_amount = carried_amount %>
            <% end %>
            <div id ="report_info" style="background: #EEEEEE; border: 1px solid #ccc; text-align: right; padding-right: 10px;">
                <h6 style="font-size: 13px; font-family: verdana; margin-top: 20px;"><%= (carried_amount < 0) ? "Advance:" : "Current Dues:" %> <span style='font-weight: normal; padding-left: 10px;'><%= to_comma_seperated_precision_label remaining_amount %></span></h6>
            </div>
            <% unless carried_amount == 0 %>
              <div style="display: none; width: 140px; float: right; padding: 20px; border: 1px solid #ccc; border-radius: 6px; margin-top: 10px; background: #3b823c; color: #fff; text-align: center;">
                  <% if carried_amount < 0 %>
                  <b style="font-size: 18px;"><%= to_comma_seperated_precision_label carried_amount * (-1) %></b><br />
                  <small style="font-size: 10px; letter-spacing: 2px; font-family: verdana;">(Advance)</small>
                  <% else %>
                  <b style="font-size: 18px;"><%= to_comma_seperated_precision_label carried_amount %></b>
                  <% end %>
              </div>
            <% end %>
        </div>
        
    </div>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<style>
    a.user_button {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      float: none;
      font-size: 12px;
      font-family: verdana;
    }
    .table-scroll {
	position:relative;
	max-width:1000px;
	margin:auto;
	overflow:hidden;
    }
    .table-wrap {
            width:100%;
            overflow:auto;
    }
    .table-scroll table {
            width:100%;
            margin:auto;
            border-collapse:separate;
            border-spacing:0;
    }
    .table-scroll th, .table-scroll td {
            padding:5px 10px;
            background:#fff;
            vertical-align:top;
    }
    .table-scroll thead, .table-scroll tfoot {
            background:#f9f9f9;
    }
    .clone {
            position:absolute;
            top:0;
            left:0;
    }
    .clone th, .clone td {
            visibility:hidden
    }
    .clone td, .clone th {
            border-color:transparent
    }
    .clone tbody th {
            visibility:visible;
            color:red;
    }
    .clone .fixed-side {
            background:#eee;
            visibility:visible;
            z-index: 1;
    }
    a:hover {
        text-decoration: none !important;
    }
    .clone thead, .clone tfoot{background:transparent;}
</style>   

<script>
  j(document).ready(function() {
      j(".main-table").clone(true).appendTo('#table-scroll').addClass('clone');   
  });
  
</script>  