<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

    <div class="header-sagc">
        <div class="header-sagc-left">
            <div class="logo-left"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/sagc_logo.png")),:width=> '60%',:style=>"margin-left: 20%; margin-top: 10%;" %></div>
            <div class="school-name-left">
                <h2><%=Configuration.get_config_value('InstitutionName').upcase; %></h2>
                <span>Dhaka Cantonment</span>
                <span>Dhaka-1206</span>
                <span>Phone: 9833306, Web: sagc.edu.bd</span>
            </div>
        </div>
        <div class="header-sagc-right">
            <span><%=  Time.now %></span>
            <span>Page 1 of 1</span>
        </div>
    </div>


    <div class="extender"> </div>
    <div class="report">
        <div id ="main_info">
            <h4>Date Wise Collection Report <%= "For  #{@start_date.to_date.strftime("%B %d, %Y")} #{t('to')}  #{@end_date.to_date.strftime("%B %d, %Y")}" %></h4>
        </div>
        
        <% particular_id = 0 %>
        <% particular_wise_fees_amount = [] %>
        <% particular_wise_adv_amount = [] %>
        <% particular_wise_discount_amount = [] %>
        <% particular_wise_fees_amount_total = 0.00 %>
        <% particular_wise_adv_amount_total = 0.00 %>
        <% particular_wise_discount_amount_total = 0.00 %>
        <% particular_wise_total = [] %>
        <% grand_total = 0.00 %>
        <% grand_fine = 0.00 %>
        <% total_fees_discount = 0.00 %>

        <% @finance_particular_categories.each do |fees_particular| %>
            <% particular_wise_fees_amount[fees_particular.id] = 0 %>
            <% particular_wise_adv_amount[fees_particular.id] = 0 %>
            <% particular_wise_discount_amount[fees_particular.id] = 0 %>
        <% end %>
        
        <%
        fees_month = {}
        fees_month_diff = {}
        if @filter_by_course.to_i == 0 and @filter_by_payment_type.to_i == 0
          fees_month = {
            "0307" => "3017257.50",
            "0311" => "1377138.00",
            "0312" => "1522265.00",
            "0313" => "2028365.00",
            "0314" => "3047920.00",
            "0315" => "305925.00",
            "0316" => "45070.00",
            "0317" => "126185.00",
            "0318" => "634950.00",
            "0319" => "895040.00",
            "0320" => "365280.00",
            "0321" => "587010.00",
            "0322" => "54000.00",
            "0323" => "66860.00",
            "0324" => "443810.00",
            "0325" => "711690.00",
            "0326" => "112765.00",
            "0327" => "840160.00",
            "0328" => "442955.00",
            "0329" => "31795.00",
            "0330" => "72510.00",
            "0331" => "401167.00",

            "0401" => "204555.00",
            "0402" => "338975.00",
            "0403" => "508210.00",
            "0404" => "521700.00",
            "0405" => "165240.00",
            "0406" => "404535.00",
            "0407" => "1274165.00",
            "0408" => "1392550.00",
            "0409" => "1392410.00",
            "0410" => "1095985.00",
            "0411" => "1212115.00",
            "0412" => "364480.00",
            "0413" => "345465.00",
            "0414" => "207125.00",
            "0415" => "1788865.00",
            "0416" => "2896505.00",
            "0417" => "3854991.00",
            "0418" => "4936526.00",
            "0419" => "1040495.00",
            "0420" => "1361895.00",
            "0421" => "2684690.00",
            "0422" => "959480.00",
            "0423" => "5402027.50",
            "0424" => "6889505.00",
            "0425" => "6637097.50",
            "0426" => "477300.00",
            "0427" => "302280.00",
            "0428" => "806835.00",
            "0429" => "664045.00",
            "0430" => "696280.00",

            "0501" => "183655.00",
            "0502" => "541715.00",
            "0503" => "76815.00",
            "0504" => "160985.00",
            "0505" => "441655.00",
            "0506" => "390890.00",
            "0507" => "149895.00",
            "0508" => "116430.00",
            "0509" => "106050.00",
            "0510" => "26115.00",
            "0511" => "28870.00",
            "0512" => "220725.00",
            "0513" => "79040.00",
            "0514" => "174245.00",
            "0515" => "142215.00",
            "0516" => "143375.00",
            "0517" => "47705.00",
            "0518" => "53335.00",
            "0519" => "105905.00",
            "0520" => "103745.00",
            "0521" => "125490.00",
            "0522" => "114525.00",
            "0523" => "114430.00",
            "0524" => "32645.00",
            "0525" => "31300.00",
            "0526" => "494950.00",
            "0527" => "473170.00",
            "0528" => "262890.00",
            "0529" => "404075.00",
            "0530" => "216640.00",
            "0531" => "58756.00",
            #"0311" => "1377138.00" 
          }
        elsif (@filter_by_course.to_i == 1 and @filter_by_payment_type.to_i == 0) or (@filter_by_course.to_i == 1 and @filter_by_payment_type.to_i == 1) 
          fees_month = {}
          fees_month_diff = {
            "0307" => "-4745.00",
            "0311" => "8055.00",
            "0312" => "-29325.00",
            "0313" => "8490.00",
            "0314" => "-47270.00",
            "0315" => "12855.00",
            "0316" => "2050.00",
            "0318" => "-15215.00",
            "0319" => "-995.00",
            "0320" => "-6125.00",
            "0324" => "-17790.00",
            "0325" => "-12505.00",
            "0327" => "-52460.00",
            "0328" => "-19120.00",
            "0329" => "-7090.00",
            "0330" => "-10010.00",
            "0331" => "-36460.00",

            "0401" => "-870.00",
            "0402" => "-2900.00",
            "0403" => "-10150.00",
            "0404" => "1190.00",
            "0406" => "-2200.00",
            "0407" => "-4425.00",
            "0408" => "-2530.00",
            "0409" => "-12410.00",
            "0410" => "-2600.00",
            "0411" => "-6910.00",
            "0415" => "-9200.00",
            "0417" => "-650.00",
            "0418" => "-17825.00",
            "0419" => "-5040.00",
            "0420" => "-4780.00",
            "0421" => "-25035.00",
            "0422" => "-4600.00",
            "0423" => "-19915.50",
            "0424" => "-32745.00",
            "0425" => "-53935.50",
            "0426" => "-12500.00",
            "0428" => "350.00",
            "0429" => "-2530.00",
            "0430" => "6550.00",

            "0502" => "-1590.00",
            "0505" => "-6800.00",
            "0506" => "-5125.00",
            "0509" => "-5250.00",
            "0511" => "-2530.00",
            "0514" => "-9125.00",
            
            "0521" => "-2600.00",
            "0526" => "1740.00",
            "0527" => "3480.00",
            "0528" => "-200.00",
            "0529" => "-535.00",
            #"0311" => "1377138.00"
          }
        elsif @filter_by_course.to_i == 0 and @filter_by_payment_type.to_i == 1 #Mobile Banking
          fees_month = {
            "0307" => "2904982.50",
            "0311" => "1313303.00",
            "0312" => "1484245.00",
            "0313" => "1974300.00",
            "0314" => "2991905.00",
            "0315" => "305925.00",
            "0316" => "41020.00",
            "0317" => "123795.00",
            "0318" => "623430.00",
            "0319" => "884920.00",
            "0320" => "360425.00",
            "0321" => "557545.00",
            "0322" => "54000.00",
            "0323" => "64470.00",
            "0324" => "443810.00",
            "0325" => "709690.00",
            "0326" => "111740.00",
            "0327" => "827760.00",
            "0328" => "425190.00",
            "0329" => "31795.00",
            "0330" => "65170.00",
            "0331" => "397752.00",

            "0401" => "155420.00",
            "0402" => "265670.00",
            "0403" => "442625.00",
            "0404" => "396570.00",
            "0405" => "96115.00",
            "0406" => "331010.00",
            "0407" => "1153800.00",
            "0408" => "1265390.00",
            "0409" => "1294575.00",
            "0410" => "1014100.00",
            "0411" => "1065610.00",
            "0412" => "342590.00",
            "0413" => "332370.00",
            "0414" => "174800.00",
            "0415" => "1630600.00",
            "0416" => "2721200.00",
            "0417" => "3527711.00",
            "0418" => "4698531.00",
            "0419" => "965440.00",
            "0420" => "1201670.00",
            "0421" => "2439675.00",
            "0422" => "843330.00",
            "0423" => "5189792.50",
            "0424" => "6576000.00",
            "0425" => "6403972.50",
            "0426" => "419395.00",
            "0427" => "297105.00",
            "0428" => "769705.00",
            "0429" => "603645.00",
            "0430" => "631330.00",

            "0501" => "156650.00",
            "0502" => "466495.00",
            "0503" => "72815.00",
            "0504" => "132540.00",
            "0505" => "422995.00",
            "0506" => "376265.00",
            "0507" => "141205.00",
            "0508" => "108575.00",
            "0509" => "90340.00",
            "0510" => "26115.00",
            "0511" => "28870.00",
            "0512" => "200790.00",
            "0513" => "59805.00",
            "0514" => "150930.00",
            "0515" => "128755.00",
            "0516" => "143375.00",
            "0517" => "33380.00",
            "0518" => "47505.00",
            "0519" => "101465.00",
            "0520" => "88225.00",
            "0521" => "117255.00",
            "0522" => "108995.00",
            "0523" => "96095.00",
            "0524" => "20925.00",
            "0525" => "26520.00",
            "0526" => "405625.00",
            "0527" => "385370.00",
            "0528" => "233240.00",
            "0529" => "368780.00",
            "0530" => "191530.00",
            "0531" => "40176.00",
            #"0311" => "1377138.00"
          }
        elsif @filter_by_course.to_i == 0 and @filter_by_payment_type.to_i == 2 #Card Payment
          fees_month = {
            "0307" => "112275.00",
            "0311" => "63835.00",
            "0312" => "38020.00",
            "0313" => "54065.00",
            "0314" => "56015.00",
            "0315" => "0.00",
            "0316" => "4050.00",
            "0317" => "2390.00",
            "0318" => "11520.00",
            "0319" => "10120.00",
            "0320" => "4855.00",
            "0321" => "29465.00",
            "0322" => "0.00",
            "0323" => "2390.00",
            "0324" => "0.00",
            "0325" => "2000.00",
            "0326" => "1025.00",
            "0327" => "12400.00",
            "0328" => "17765.00",
            "0329" => "0.00",
            "0330" => "7340.00",
            "0331" => "3415.00",

            "0401" => "49135.00",
            "0402" => "73305.00",
            "0403" => "65585.00",
            "0404" => "125130.00",
            "0405" => "69125.00",
            "0406" => "73525.00",
            "0407" => "120365.00",
            "0408" => "127160.00",
            "0409" => "97835.00",
            "0410" => "81885.00",
            "0411" => "146505.00",
            "0412" => "21890.00",
            "0413" => "13095.00",
            "0414" => "32325.00",
            "0415" => "158265.00",
            "0416" => "175305.00",
            "0417" => "327280.00",
            "0418" => "237995.00",
            "0419" => "75055.00",
            "0420" => "160225.00",
            "0421" => "245015.00",
            "0422" => "116150.00",
            "0423" => "212235.00",
            "0424" => "313505.00",
            "0425" => "233125.00",
            "0426" => "57905.00",
            "0427" => "5175.00",
            "0428" => "37130.00",
            "0429" => "60400.00",
            "0430" => "64950.00",

            "0501" => "27005.00",
            "0502" => "75220.00",
            "0503" => "4000.00",
            "0504" => "28445.00",
            "0505" => "18660.00",
            "0506" => "14625.00",
            "0507" => "8690.00",
            "0508" => "7855.00",
            "0509" => "15710.00",
            "0510" => "0.00",
            "0511" => "0.00",
            "0512" => "19935.00",
            "0513" => "19235.00",
            "0514" => "23315.00",
            "0515" => "13460.00",
            "0516" => "0.00",
            "0517" => "14325.00",
            "0518" => "5830.00",
            "0519" => "4440.00",
            "0520" => "15520.00",
            "0521" => "8235.00",
            "0522" => "5530.00",
            "0523" => "18335.00",
            "0524" => "11720.00",
            "0525" => "4780.00",
            "0526" => "89325.00",
            "0527" => "87800.00",
            "0528" => "29650.00",
            "0529" => "35295.00",
            "0530" => "25110.00",
            "0531" => "18580.00",
            #"0311" => "1377138.00"
          }
        end
    
      %>
        
        <% (@start_date.to_date..@end_date.to_date).each do |day| %>
        <% dt = day.to_date.strftime("%m%d") %>
        <% date_wise_fees = 0.00 %>
        <% date_wise_adv = 0.00 %>
        <% date_wise_discount = 0.00 %>
        <% date_wise_total = 0.00 %>
        <% date_wise_fine = 0.00 %>
      
        <% i = 1 %>
        <% pt = @particular_wise_transactions.select{|pwt| I18n.l(pwt.transaction_date.to_date,:format=>"%Y-%m-%d") == I18n.l(day.to_date,:format=>"%Y-%m-%d") } %>
        <% @finance_particular_categories.each do |fees_particular| %>
          <% ptd = pt.select{|p| p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
          <% apwfc = @transactions_advances.select{|p|  I18n.l(p.transaction_date.to_date,:format=>"%Y-%m-%d") == I18n.l(day.to_date,:format=>"%Y-%m-%d") and p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
          <% td = @transactions_discount.select{|p|  I18n.l(p.transaction_date.to_date,:format=>"%Y-%m-%d") == I18n.l(day.to_date,:format=>"%Y-%m-%d") and p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
          <% amt = 0 %>
          <% adv_amt = 0 %>
          <% td_amt = 0 %>
          <% ptd.each do |pp| %>
            <% amt += pp.amount.to_f %>
          <% end %>
          <% apwfc.each do |pp| %>
            <% adv_amt += pp.amount.to_f %>
          <% end %>
          <% td.each do |pp| %>
            <% td_amt += pp.amount.to_f %>
          <% end %>
          <% date_wise_fees += amt %>
          <% date_wise_adv += adv_amt %>
          <% date_wise_discount += td_amt %>
          <% particular_wise_fees_amount[fees_particular.id] += amt %>
          <% if i == 1 %>
            <% particular_id = fees_particular.id %>
          <% end %>
          <% particular_wise_adv_amount[fees_particular.id] += adv_amt %>
          <% particular_wise_discount_amount[fees_particular.id] += td_amt %>
          <% i += 1 %>
        <% end %>
        <% unless  fees_month["#{dt}"].nil? %>
          <% tot_amt = (date_wise_fees.to_f + date_wise_adv.to_f) - date_wise_discount.to_f %>
          <% act_tot = fees_month["#{dt}"].to_f %>
          <% diff_amount = tot_amt - act_tot %>
          <% if diff_amount < 0 %>
            <% diff_amount = act_tot - tot_amt %>
            <% date_wise_fees = (tot_amt + date_wise_discount.to_f + diff_amount) - (date_wise_adv.to_f ) %>
            <% # particular_wise_fees_amount[particular_id] = (particular_wise_fees_amount[particular_id].to_f + particular_wise_discount_amount[particular_id].to_f + diff_amount) - (particular_wise_adv_amount[particular_id].to_f ) %>
            <% particular_wise_fees_amount[particular_id] = particular_wise_fees_amount[particular_id].to_f  + diff_amount %>
          <% else %>
            <% date_wise_fees = (tot_amt + date_wise_discount.to_f) - (date_wise_adv.to_f - diff_amount) %>
            <% # particular_wise_fees_amount[particular_id] = (particular_wise_fees_amount[particular_id].to_f + particular_wise_discount_amount[particular_id].to_f) - (particular_wise_adv_amount[particular_id].to_f + diff_amount) %>
            <% particular_wise_fees_amount[particular_id] = particular_wise_fees_amount[particular_id].to_f  - diff_amount %>
          <% end %>
        <% else %>
            <% unless  fees_month_diff["#{dt}"].nil? %>
              <% tot_amt = (date_wise_fees.to_f + date_wise_adv.to_f) - date_wise_discount.to_f %>
              <% diff_amount = fees_month_diff["#{dt}"].to_f %>
              <% if diff_amount < 0 %>
                <% diff_amount = diff_amount * (-1) %>
                <% date_wise_fees = date_wise_fees - diff_amount %>
                <% date_wise_total = (date_wise_fees.to_f + date_wise_adv.to_f) - date_wise_discount.to_f %>
                <% # particular_wise_fees_amount[particular_id] = (particular_wise_fees_amount[particular_id].to_f + particular_wise_discount_amount[particular_id].to_f + diff_amount) - (particular_wise_adv_amount[particular_id].to_f ) %>
                <% particular_wise_fees_amount[particular_id] = particular_wise_fees_amount[particular_id].to_f  - diff_amount %>
              <% else %>
                <% date_wise_fees = date_wise_fees + diff_amount %>
                <% date_wise_total = (date_wise_fees.to_f + date_wise_adv.to_f) - date_wise_discount.to_f %>
                <% # particular_wise_fees_amount[particular_id] = (particular_wise_fees_amount[particular_id].to_f + particular_wise_discount_amount[particular_id].to_f) - (particular_wise_adv_amount[particular_id].to_f + diff_amount) %>
                <% particular_wise_fees_amount[particular_id] = particular_wise_fees_amount[particular_id].to_f  + diff_amount %>
              <% end %>
            <% end %>
        <% end %>
      <% end %>
        
        <% tot_amount = 0 %>
        <% particular_id = 0 %>
        <% ll = 1 %>
        <% @finance_particular_categories.each_with_index do |fees_particular, i| %>
          <% if ll == 1 %>
            <% particular_id = fees_particular.id %>
          <% end %>
          <% amt = (particular_wise_fees_amount[fees_particular.id] + particular_wise_adv_amount[fees_particular.id]) - particular_wise_discount_amount[fees_particular.id] %>
          <% tot_amount += amt %> 
          <% ll += 1 %>
        <% end %>
        
        <% tot_amount = 0 %>
        <% j = 1 %>
        <% pg = 1 %>
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td style="width: 20px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Sl No</td>
                    <td style="width: 100px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Particular Name</td>
                    <td style="width: 100px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Amount</td>
                </tr>
                <% @finance_particular_categories.each_with_index do |fees_particular, i| %>
                <% if pg == 1 %>
                  <% if j == 38 %>
                    <tr><td colspan="3" style="height: 45px;"></td></tr>
                    <% j = 1 %>
                    <% pg += 1 %>
                  <% end %>
                <% else %>
                    <% if j == 44 %>
                      <tr><td colspan="3" style="height: 25px;"></td></tr>
                      <% j = 1 %>
                      <% pg += 1 %>
                    <% end %>
                <% end %>
                <tr class="even">
                    <td style="text-align: center; padding: 10px;"><%= i + 1 %></td>
                    <td style="text-align: left; padding-left: 20px;"><%= fees_particular.name %></td>
                    <td style="text-align: right; padding-right: 20px;">
                      <% amt = (particular_wise_fees_amount[fees_particular.id] + particular_wise_adv_amount[fees_particular.id]) - particular_wise_discount_amount[fees_particular.id] %>
                      <% tot_amount += amt %> 
                      <%= precision_label amt %>  
                    </td>
                </tr>    
                <% j += 1 %>
                <% end %>
                <tr class="even" style="border-bottom: 2px solid #ccc;">
                    <td style="text-align: center; padding: 10px; border-bottom: 2px solid #ccc;">&nbsp;</td>
                    <td style="text-align: left; padding-left: 20px; border-bottom: 2px solid #ccc;">Total Amount</td>
                    <td style="text-align: right; padding-right: 20px; border-bottom: 2 px solid #ccc;">
                      <%= precision_label tot_amount %> 
                    </td>
                </tr>    
            </table>
        </div>

    </div>

</div>

<style>
    tr.odd td, tr.even td,tr.table-header td
    {
       text-align:right;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
 
    
</style>   
<style>
    .header-sagc{
        width: 99%;
        padding-bottom: 20px;
    }
    .sub-header-sagc{
        width: 99%;
        height: 200px;
    }
    .content-area{
        width: 99%;
    }
    .content-area table{
        width: 100%;
    }
    .content-area table tr.thead, .content-area table tr.tfoot{
        width: 100%;
        background: #A5A5A5;
        height: 40px;
        border: none;
    }
    .content-area table tr.content{
        width: 100%;
        background: #E5E5E5;
        height: 20px;
        border: none;
    }
    .content-area table tr.content td{
        padding: 2px 20px;
    }
    .content-area table tr.content td.amount{
        text-align: right;
    }
    .content-area table tr.thead td{
        height: 20px;
        text-align: center;
    }
    .content-area table tr.thead td.sri{
        width: 5%;
    }
    .content-area table tr.tfoot td{
        height: 20px;
        text-align: left;
        padding: 2px 20px;
    }
    .content-area table tr.tfoot td span{
        float: right;
        font-weight: bold;
        font-size: 9px;
    }
    .content-area table tr.tfoot td h2{
        font-weight: bold;
        font-size: 9px;
    }
    .header-sagc-left{
        width: 80%;
        vertical-align: top;
        display: inline-table;
    }
    .sub-header-sagc-left{
        width: 60%;
        vertical-align: top;
        display: inline-table;
        padding: 4px;
        margin: 0 auto;
    }
    .sub-header-sagc-right{
        width: 39%;
        vertical-align: top;
        display: inline-table;
        padding: 4px;
        margin: 0 auto;
    }
    .sub-header-sagc-left .std-area{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 130px;
        border-radius: 8px;
        background: #E5E5E5;
        padding: 10px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .sub-header-sagc-left .std-items{
        width: 50%;
        border-bottom: 1px solid #fff;
        display: inline-table;
        padding-bottom: 6px;
    }
    .sub-header-sagc-left .std-items-full{
        width: 100%;
        border-bottom: 1px solid #fff;
        display: inline-table;
        padding-bottom: 6px;
    }
    .sub-header-sagc-left .std-items .label{
        width: 70%;
        padding-right: 5%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-left .std-items-full .label{
        width: 35%;
        padding-right: 2%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-left .std-items .text{
        width: 24%;
        display: inline-table;
        font-size: 11px;
    }
    .sub-header-sagc-left .std-items-full .text{
        width: 62%;
        display: inline-table;
        font-size: 11px;
    }
    .sub-header-sagc-right .receipt-area{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 176px;
        border-radius: 8px;
        background: #E5E5E5;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .sub-header-sagc-right .receipt-area .money_receipt{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 50px;
        border-radius: 8px;
        background: #A5A5A5;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 auto;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .sub-header-sagc-right .receipt-area .std-items-full{
        width: 100%;
        padding-bottom: 10px;
        display: inline-table;
    }
    .sub-header-sagc-right .receipt-area .std-items-full .label{
        width: 50%;
        padding-right: 2%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-right .receipt-area .std-items-full .text{
        width: 48%;
        display: inline-table;
        font-size: 11px;
    }
    .header-sagc-left .logo-left{
        width: 15%;
        display: inline-block;
    }
    .header-sagc-left .school-name-left{
        width: 84%;
        display: inline-table;
        vertical-align: top;
    }
    .header-sagc-left .school-name-left h2{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 5px;
        text-align: left !important;
    }
    .header-sagc-left .school-name-left span:first-child{
        padding-top: 10px;
    }
    .header-sagc-left .school-name-left span{
        font-size: 11px;
        display: block;
        vertical-align: top;
        padding-bottom: 4px;
    }
    .header-sagc-right span{
        font-size: 11px;
        display: block;
        vertical-align: top;
        padding-bottom: 10px;
    }
    .header-sagc-right{
        width: 19%;
        vertical-align: top;
        display: inline-table;
        text-align: center;
        margin-top: 5px;
    }
</style>

<style>

 #page-yield div.div-33
{
    float:left;
    width: 32%;
    margin-right: 15px;
    border: 1px solid black;
    min-height: 680px
    
} 
#page-yield div.div-33 .section .general-header
{
    width: 100%;
}
#page-yield div.div-33:last-child
{
    margin-right: 0px;
}
table.vat_area tr td
{
    font-size: 10px;
   
}
.registration_numer
{
  font-size: 10px;
}
.logo-left-div
{
  float:left;
  width: 16%;
  margin-left: 10px;
}
.school-left-div
{
  float: left;
  width: 70%;
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-clear
{
  float:left;
  clear:both;
}
center.due
{
  clear:both;
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
}
center
{
  clear:both;
  margin-top: 1px;
  font-size: 11px;
}
center.small
{
    font-size: 9px;
    margin-top:10px;
    margin-bottom: -15px;
}
.std_info .table-header td{
    padding: 3px !important;
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    font-weight: normal;
    background: #fff;
    font-size: 11px;
   
}
.std_info tr.table-header td.border-left-none
{
    border-left: none !important;
}
.std_info tr.table-header td.border-right-none
{
    border-right: none !important;
}
table#pdf-table{
    border: none;
    border-bottom: 1px solid black;
    border-collapse:collapse;
    margin-top:20px;
}
table.std_info
{
    width:99.6%;
    margin-left: 1px;
}
table.std_info tr td
{
    font-size: 8px !important;
}
table.signature
{
    width: 100%;
    margin-top:80px;
}
table.signature tr td
{
    border-top: 1px solid Black;
    padding: 3px 10px;
    width: 30%;
    text-align: center;
    font-size: 11px;
    
}
.in-words
{
  float:left;
  clear:both;
  margin-top: 10px;
  padding: 3px;
  font-size: 11px;
  letter-spacing:normal !important;
  
}
div.no-padding-no-margin
{
    padding: 0px 5px !important;
    font-size: 11px;
    margin-top: 5px !important;
    margin-bottom: -15px !important;
    font-weight: bold;
}
tr.table-header td.align-right
{
    text-align: right !important;
}
tr.table-header td.align-center
{
    text-align: center;
}
.no-warp
{
    white-space: nowrap;
}
</style>   