<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<title>Transaction Fees</title>
</div>
<div id="page-yield">

    <div class="header-sagc">
        <div class="header-sagc-left">
            
            <% if MultiSchool.current_school.id == 352 %>
                <div class="logo-left"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/sagc_logo.png")),:width=> '60%',:style=>"margin-left: 20%; margin-top: 10%;" %></div>
            <% else %>
              <% if File.exists?("/"+("#{Rails.root}/"+ ("public/images/school_logo/#{MultiSchool.current_school.id}/logo.png"))) %>
                <div class="logo-left" style="<%= "width: 40%; padding-bottom: 20px;" if MultiSchool.current_school.id == 348 %>"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/#{MultiSchool.current_school.id}/logo.png")),:width=> '95%' %></div>
              <% else %>
                <div class="logo-left" style="<%= "width: 40%; padding-bottom: 20px;" if MultiSchool.current_school.id == 348 %>"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public" + current_school_detail.logo.url.to_s.gsub(/\?.*/, ''))),:width=> '95%' %></div>
              <% end %>
            <% end %>
            
            <div class="school-name-left">
                <% unless MultiSchool.current_school.id == 348  %>
                  <% if MultiSchool.current_school.id == 352 %>
                  <h2><%=Configuration.get_config_value('InstitutionName').upcase; %></h2>
                  <% else %>
                  <h2 style="margin-top: 20px; font-size: 20px;"><%=Configuration.get_config_value('InstitutionName').upcase; %></h2>
                  <% end %>
                  <% if MultiSchool.current_school.id == 352 %>
                  <span>Dhaka Cantonment</span>
                  <span>Dhaka-1206</span>
                  <span>Phone: 9833306, Web: sagc.edu.bd</span>
                  <% else %>
                  <span style=" font-size: 14px;"><%=Configuration.get_config_value('InstitutionAddress'); %></span>
                  <% end %>
                <% end %>
            </div>
        </div>
        <div class="header-sagc-right">
            <span><%=  Time.now %></span>
            <span>Page 1 of 1</span>
        </div>
    </div>


    <div class="extender"> </div>
    <div class="report">
        <div id ="main_info">
            <h4>Date Wise Collection Report <%= "For  #{@start_date.to_date.strftime("%B %d, %Y")} #{t('to')}  #{@end_date.to_date.strftime("%B %d, %Y")}" %></h4>
        </div>
        
        <% j = 1 %>
        <% pg = 1 %>
        
        <% tar1 = 15 %>
        <% tar2 = 21 %>
        <% if MultiSchool.current_school.id == 348 %>
        <% tar1 = 16 %>
        <% tar2 = 21 %>
        <% end %>
        
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td style="width: 50px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Sl No</td>
                    <td style="width: 300px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Student Name</td>
                    <td style="width: 100px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Student ID</td>
                    <% if MultiSchool.current_school.id == 312 %>
                    <td style="width: 300px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Batch Info</td>
                    <% end %>
                    <td style="width: 300px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Order Id</td>
                    <td style="width: 300px; text-align: center; vertical-align: middle; padding: 10px; border-bottom: 2px solid #ccc; background: #fff;">Amount</td>
                </tr>
                <% tot_amount = 0 %>
                <% @student_ids.each_with_index do |student, i| %>
                  
                  <% pt = @particular_wise_transactions.select{|pwt| pwt.payee_id == student }.first %>
                  <% std_id = pt.payee_id %>
                  <% transaction_id = pt.id %>
                  <% student = Student.find(:first, :conditions => "id = #{std_id}") %>
                  <% if student.nil?  %>
                  <% student = ArchivedStudent.find(:first, :conditions => "former_id = #{std_id}") %>
                  <% end %>
                  <% payment = Payment.find_by_finance_transaction_id(transaction_id) %>
                  <% amount = pt.amount %>  
                  <% if pg == 1 %>
                    <% if j == tar1 %>
                      <tr><td colspan="3" style="height: 40px;"></td></tr>
                      <% j = 1 %>
                      <% pg += 1 %>
                    <% end %>
                  <% else %>
                      <% if j == tar2 %>
                        <tr><td colspan="3" style="height: 45px;"></td></tr>
                        <% j = 1 %>
                        <% pg += 1 %>
                      <% end %>
                  <% end %>
                
                  <tr class="even">
                      <td style="text-align: center; padding: 10px;"><%= i + 1 %></td>
                      <td style="text-align: left; padding-left: 20px;"><%= student.full_name %></td>
                      <td style="text-align: left; padding-left: 20px;"><%= student.admission_no %></td>
                      <% if MultiSchool.current_school.id == 312 %>
                      <td style="text-align: left; padding-left: 20px;"><%= student.batch.full_name %></td>
                      <% end %>
                      <td style="text-align: left; padding-left: 20px;"><%= order %></td>
                      <td style="text-align: right; padding-right: 20px;">
                        <%= to_comma_seperated_precision_label amount.to_f %>
                      </td>
                  </tr>

                  <% tot_amount += amount.to_f %>
                  <% j += 1 %>  
                <% end %>
                <tr class="even" style="border-bottom: 1px solid #ccc;">
                    <td style="text-align: center; padding: 10px;">&nbsp;</td>
                    <td style="text-align: left; padding-left: 20px; font-weight: bold;" colspan="<%= MultiSchool.current_school.id == 312 ? "4" : "3" %>">Total Amount</td>
                    <td style="text-align: right; padding-right: 20px;">
                      <%= to_comma_seperated_precision_label tot_amount %>
                    </td>
                </tr>  
            </table>
        </div>
        
        

    </div>

</div>

<style>
    tr.odd td, tr.even td,tr.table-header td
    {
       text-align:right;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
 
    
</style>   
<style>
    .header-sagc{
        width: 99%;
        padding-bottom: 20px;
    }
    .sub-header-sagc{
        width: 99%;
        height: 200px;
    }
    .content-area{
        width: 99%;
    }
    .content-area table{
        width: 100%;
    }
    .content-area table tr.thead, .content-area table tr.tfoot{
        width: 100%;
        background: #A5A5A5;
        height: 40px;
        border: none;
    }
    .content-area table tr.content{
        width: 100%;
        background: #E5E5E5;
        height: 20px;
        border: none;
    }
    .content-area table tr.content td{
        padding: 2px 20px;
    }
    .content-area table tr.content td.amount{
        text-align: right;
    }
    .content-area table tr.thead td{
        height: 20px;
        text-align: center;
    }
    .content-area table tr.thead td.sri{
        width: 5%;
    }
    .content-area table tr.tfoot td{
        height: 20px;
        text-align: left;
        padding: 2px 20px;
    }
    .content-area table tr.tfoot td span{
        float: right;
        font-weight: bold;
        font-size: 9px;
    }
    .content-area table tr.tfoot td h2{
        font-weight: bold;
        font-size: 9px;
    }
    .header-sagc-left{
        width: 80%;
        vertical-align: top;
        display: inline-table;
    }
    .sub-header-sagc-left{
        width: 60%;
        vertical-align: top;
        display: inline-table;
        padding: 4px;
        margin: 0 auto;
    }
    .sub-header-sagc-right{
        width: 39%;
        vertical-align: top;
        display: inline-table;
        padding: 4px;
        margin: 0 auto;
    }
    .sub-header-sagc-left .std-area{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 130px;
        border-radius: 8px;
        background: #E5E5E5;
        padding: 10px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .sub-header-sagc-left .std-items{
        width: 50%;
        border-bottom: 1px solid #fff;
        display: inline-table;
        padding-bottom: 6px;
    }
    .sub-header-sagc-left .std-items-full{
        width: 100%;
        border-bottom: 1px solid #fff;
        display: inline-table;
        padding-bottom: 6px;
    }
    .sub-header-sagc-left .std-items .label{
        width: 70%;
        padding-right: 5%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-left .std-items-full .label{
        width: 35%;
        padding-right: 2%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-left .std-items .text{
        width: 24%;
        display: inline-table;
        font-size: 11px;
    }
    .sub-header-sagc-left .std-items-full .text{
        width: 62%;
        display: inline-table;
        font-size: 11px;
    }
    .sub-header-sagc-right .receipt-area{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 176px;
        border-radius: 8px;
        background: #E5E5E5;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .sub-header-sagc-right .receipt-area .money_receipt{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 50px;
        border-radius: 8px;
        background: #A5A5A5;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 auto;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .sub-header-sagc-right .receipt-area .std-items-full{
        width: 100%;
        padding-bottom: 10px;
        display: inline-table;
    }
    .sub-header-sagc-right .receipt-area .std-items-full .label{
        width: 50%;
        padding-right: 2%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-right .receipt-area .std-items-full .text{
        width: 48%;
        display: inline-table;
        font-size: 11px;
    }
    .header-sagc-left .logo-left{
        width: 15%;
        display: inline-block;
    }
    .header-sagc-left .school-name-left{
        width: 84%;
        display: inline-table;
        vertical-align: top;
    }
    .header-sagc-left .school-name-left h2{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 5px;
        text-align: left !important;
    }
    .header-sagc-left .school-name-left span:first-child{
        padding-top: 10px;
    }
    .header-sagc-left .school-name-left span{
        font-size: 11px;
        display: block;
        vertical-align: top;
        padding-bottom: 4px;
    }
    .header-sagc-right span{
        font-size: 11px;
        display: block;
        vertical-align: top;
        padding-bottom: 10px;
    }
    .header-sagc-right{
        width: 19%;
        vertical-align: top;
        display: inline-table;
        text-align: center;
        margin-top: 5px;
    }
</style>

<style>

 #page-yield div.div-33
{
    float:left;
    width: 32%;
    margin-right: 15px;
    border: 1px solid black;
    min-height: 680px
    
} 
#page-yield div.div-33 .section .general-header
{
    width: 100%;
}
#page-yield div.div-33:last-child
{
    margin-right: 0px;
}
table.vat_area tr td
{
    font-size: 10px;
   
}
.registration_numer
{
  font-size: 10px;
}
.logo-left-div
{
  float:left;
  width: 16%;
  margin-left: 10px;
}
.school-left-div
{
  float: left;
  width: 70%;
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-clear
{
  float:left;
  clear:both;
}
center.due
{
  clear:both;
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
}
center
{
  clear:both;
  margin-top: 1px;
  font-size: 11px;
}
center.small
{
    font-size: 9px;
    margin-top:10px;
    margin-bottom: -15px;
}
.std_info .table-header td{
    padding: 3px !important;
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    font-weight: normal;
    background: #fff;
    font-size: 11px;
   
}
.std_info tr.table-header td.border-left-none
{
    border-left: none !important;
}
.std_info tr.table-header td.border-right-none
{
    border-right: none !important;
}
table#pdf-table{
    border: none;
    border-bottom: 1px solid black;
    border-collapse:collapse;
    margin-top:20px;
}
table.std_info
{
    width:99.6%;
    margin-left: 1px;
}
table.std_info tr td
{
    font-size: 8px !important;
}
table.signature
{
    width: 100%;
    margin-top:80px;
}
table.signature tr td
{
    border-top: 1px solid Black;
    padding: 3px 10px;
    width: 30%;
    text-align: center;
    font-size: 11px;
    
}
.in-words
{
  float:left;
  clear:both;
  margin-top: 10px;
  padding: 3px;
  font-size: 11px;
  letter-spacing:normal !important;
  
}
div.no-padding-no-margin
{
    padding: 0px 5px !important;
    font-size: 11px;
    margin-top: 5px !important;
    margin-bottom: -15px !important;
    font-weight: bold;
}
tr.table-header td.align-right
{
    text-align: right !important;
}
tr.table-header td.align-center
{
    text-align: center;
}
.no-warp
{
    white-space: nowrap;
}
</style>   
