<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

    <div class="hor_line"></div>
    <h3 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h3>
    <div class="hor_line"></div>


    <div class="extender"> </div>
    <div class="report">
        <div id ="main_info">
            <h4> <%= "#{t('from')} ( #{@start_date}) #{t('to')} ( #{@end_date})" %>&nbsp;&nbsp; Date Wise Collection Report</h4>
        </div>
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td style="width: 120px; text-align: center; vertical-align: middle;">Date</td>
                    <% @finance_particular_categories.each do |fees_particular| %>
                      <td style="width: 250px; text-align: center; vertical-align: middle;"><%= fees_particular.name %></td>
                    <% end %>
                    <td style="width: 100px; text-align: center; vertical-align: middle;">Discount On Total Fees</td>
                    <td style="width: 100px; text-align: center; vertical-align: middle;">Fine</td>
                    <td style="width: 340px; text-align: center; vertical-align: middle;">Total Collection</td>
                </tr>
                <% particular_wise_fees_amount = [] %>
                <% particular_wise_adv_amount = [] %>
                <% particular_wise_discount_amount = [] %>
                <% particular_wise_fees_amount_total = 0.00 %>
                <% particular_wise_adv_amount_total = 0.00 %>
                <% particular_wise_discount_amount_total = 0.00 %>
                <% particular_wise_total = [] %>
                <% grand_total = 0.00 %>
                <% grand_fine = 0.00 %>
                <% total_fees_discount = 0.00 %>
                <% c= 'even' %>
                <% date_count = 0 %>
                <% @finance_particular_categories.each do |fees_particular| %>
                    <% particular_wise_fees_amount[fees_particular.id] = 0 %>
                    <% particular_wise_adv_amount[fees_particular.id] = 0 %>
                    <% particular_wise_discount_amount[fees_particular.id] = 0 %>
                <% end %>
                <% (@start_date.to_date..@end_date.to_date).each do |day| %>
                  <% date_count = date_count+1 %>
                  <% if date_count > 24 %>
                    <% date_count  = 1 %>
                    <tr class="page-break">
                        <td colspan="100"></td>
                    </tr> 
                    <tr class="table-header">
                        <td style="width: 120px; text-align: center; vertical-align: middle;">Date</td>
                        <% @finance_particular_categories.each do |fees_particular| %>
                          <td style="width: 250px; text-align: center; vertical-align: middle;"><%= fees_particular.name %></td>
                        <% end %>
                        <td style="width: 100px; text-align: center; vertical-align: middle;">Discount On Total Fees</td>
                        <td style="width: 100px; text-align: center; vertical-align: middle;">Fine</td>
                        <td style="width: 340px; text-align: center; vertical-align: middle;">Total Collection</td>
                    </tr>
                  <% end %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td style="white-space: nowrap;" class="align-center"><%= I18n.l(day.to_date,:format=>"%d %b %Y") %></td>
                      <% total_fees = 0.0 %>
                      <% i = 0 %>

                      <% pt = @particular_wise_transactions.select{|pwt| I18n.l(pwt.transaction_date.to_date,:format=>"%Y-%m-%d") == I18n.l(day.to_date,:format=>"%Y-%m-%d") } %>
            <% @finance_particular_categories.each do |fees_particular| %>
              <% ptd = pt.select{|p| p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
              <% apwfc = @transactions_advances.select{|p|  I18n.l(p.transaction_date.to_date,:format=>"%Y-%m-%d") == I18n.l(day.to_date,:format=>"%Y-%m-%d") and p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
              <% td = @transactions_discount.select{|p|  I18n.l(p.transaction_date.to_date,:format=>"%Y-%m-%d") == I18n.l(day.to_date,:format=>"%Y-%m-%d") and p.finance_fee_particular_category_id.to_i == fees_particular.id.to_i } %>
              <% amt = 0 %>
              <% adv_amt = 0 %>
              <% td_amt = 0 %>
              <% ptd.each do |pp| %>
                <% amt += pp.amount.to_f %>
              <% end %>
              <% apwfc.each do |pp| %>
                <% adv_amt += pp.amount.to_f %>
              <% end %>
              <% td.each do |pp| %>
                <% td_amt += pp.amount.to_f %>
              <% end %>
              <% date_wise_fees += amt %>
              <% date_wise_adv += adv_amt %>
              <% date_wise_discount += td_amt %>
              <% particular_wise_fees_amount[fees_particular.id] += amt %>
              <% particular_wise_adv_amount[fees_particular.id] += adv_amt %>
              <% particular_wise_discount_amount[fees_particular.id] += td_amt %>
              <td style="white-space: nowrap; text-align: center; padding-right: 10px;">
                  <div style="width: 100%; ">
                      <div style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                          Fees
                      </div>
                      <div style="width: 32%; margin-right: 2px;border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                          Adv.
                      </div>
                      <div style="width: 32%; border-bottom: 2px solid #ccc; display: inline-block;">
                          Waiver
                      </div>
                  </div>
                  <div style="width: 100%; ">
                      <div style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                          <%= precision_label amt %>
                      </div>
                      <div style="width: 32%; margin-right: 2px; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; display: inline-block;">
                          <%= precision_label adv_amt %>
                      </div>
                      <div style="width: 32%; border-bottom: 1px solid #ccc; display: inline-block;">
                          <%= precision_label td_amt %>
                      </div>
                  </div>
                  <div style="width: 100%; text-align: right; padding-top: 8px;">
                      <% total = (amt + adv_amt) - td_amt %>
                      <% date_wise_total += total %>
                      Total:&nbsp;&nbsp;&nbsp;<b><%= total %></b>
                  </div>
                
              </td>
            <% end %>
                <% c= 'even' %>
                <tr class="table-header">
                    <td style="white-space: nowrap;" class="align-center">Total Collection</td>
                    <% i = 0 %>
                    <% @finance_fee_category.each do |fees_particuler| %>
                      <td>
                          <%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : precision_label(fee_total[i]) %>
                      </td>
                      <% i = i+1 %>
                    <% end %>
                    <% @all_fees_extra_particulers.each do |fees_extra_particuler| %>
                      <td>
                          <%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : precision_label(fee_total[i]) %>
                      </td>
                      <% i = i+1 %>
                    <% end %>
                    <td><%= (grand_total==0) ? "-" : precision_label(grand_total) %></td>
                </tr>  


            </table>
        </div>

    </div>

</div>

<style>
    tr.odd td, tr.even td,tr.table-header td
    {
       text-align:right;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
 
    
</style>   
