<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

    <div class="hor_line"></div>
    <h3 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h3>
    <div class="hor_line"></div>


    <div class="extender"> </div>
    <div class="report">
        <div id ="main_info">
            <h4> <%= "#{t('from')} ( #{@start_date}) #{t('to')} ( #{@end_date})" %></h4>
        </div>
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td class="col-pdf">Date</td>
                    <% @all_fees_particulers.each do |fees_particuler| %>
                      <td class="col-pdf"><%= fees_particuler %></td>
                    <% end %>
                    <td class="col-pdf">Total Collection</td>
                </tr>
                <% fee_total = {} %>
                <% grand_total = 0.0 %>
                <% c= 'even' %>
                <% date_count = 0 %>
                <% (@start_date.to_date..@end_date.to_date).each do |day| %>
                  <% date_count = date_count+1 %>
                  <% if date_count > 24 %>
                    <% date_count  = 1 %>
                    <tr class="page-break">
                        <td colspan="100"></td>
                    </tr> 
                     <tr class="table-header">
                          <td class="col-pdf">Date</td>
                          <% @all_fees_particulers.each do |fees_particuler| %>
                            <td class="col-pdf"><%= fees_particuler %></td>
                          <% end %>
                          <td class="col-pdf">Total Collection</td>
                      </tr>
                  <% end %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td  class="col-pdf" style="white-space: nowrap;"><%= day %></td>
                      <% total_fees = 0.0 %>
                      <% i = 0 %>
                      <% @all_fees_particulers.each do |fees_particuler| %>

                        <% fee_amount = 0.0 %>
                        <% unless @transactions.blank? %>
                          <% @transactions.each do |trans| %>

                            <% if trans.transaction_date == day %>

                              <%
                              finance_fees = FinanceFee.find_by_id(trans.finance_id)
                              if !finance_fees.blank? and finance_fees.balance.to_i == 0
                                fee_particulars = finance_fees.finance_fee_collection.fee_category.fee_particulars
                                unless fee_particulars.blank?

                                  fee_particulars.each do |fee_particular_new|
                                    unless fee_particular_new.name.index(fees_particuler).nil?
                                      fee_amount = fee_amount.to_f+fee_particular_new.amount
                                    end  
                                  end  
                                end

                                end
                            %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% total_fees = total_fees.to_f+fee_amount.to_f  %>

                        <td  class="col-pdf"><%= (fee_amount==0) ? "-" : fee_amount %></td>
                        <% if fee_total[i].blank? %>
                          <% fee_total[i] = 0 %>
                        <% end %>
                        <%  
                        fee_total[i] = fee_total[i]+fee_amount 
                        grand_total = grand_total.to_f+fee_amount.to_f

                      %>
                        <% i = i+1 %>
                      <% end %>
                      <td  class="col-pdf"><%= (total_fees==0) ? "-" : total_fees %></td>
                  </tr>
                <% end %>
                <% c= 'even' %>
                <tr class="table-header">
                    <td  class="col-pdf" style="white-space: nowrap;">Total Collection</td>
                    <% i = 0 %>
                    <% @all_fees_particulers.each do |fees_particuler| %>
                      <td  class="col-pdf"><%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : fee_total[i] %></td>
                      <% i = i+1 %>
                    <% end %>
                    <td  class="col-pdf"><%= (grand_total==0) ? "-" : grand_total %></td>
                </tr>  


            </table>
        </div>

    </div>

</div>
