<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



</div>
<div id="page-yield">

    <div class="hor_line"></div>
    <h3 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h3>
    <div class="hor_line"></div>
    <div class="report">
        <div id ="main_info">
            <h4> <%= "#{t('from')} ( #{@start_date}) #{t('to')} ( #{@end_date})" %>&nbsp;&nbsp; Date Wise Collection Report</h4>
        </div>
        <div id="pdf-info">
            <table id="pdf-table" width="100%" cellspacing="0">
                <tr class="table-header">
                    <td class="col-pdf align-center">Date</td>
                    <% @finance_fee_category.each do |fees_particuler| %>
                      <td class="col-pdf align-center"><%= fees_particuler.name %></td>
                    <% end %>
                    <% @all_fees_extra_particulers.each do |fees_extra_particuler| %>
                      <td class="col-pdf align-center"><%= fees_extra_particuler %></td>
                    <% end %>
                    <td class="col-pdf align-center">Total Collection</td>
                </tr>
                <% fee_total = {} %>
                <% grand_total = 0.0 %>
                <% c= 'even' %>
                <% date_count = 0 %>
                <% @dates.each do |day| %>
                  <% date_count = date_count+1 %>
                  <% if date_count > 24 %>
                    <% date_count  = 1 %>
                    <tr class="page-break">
                        <td colspan="100"></td>
                    </tr> 
                    <tr class="table-header">
                        <td class="col-pdf align-center">Date</td>
                        <% @finance_fee_category.each do |fees_particuler| %>
                          <td class="col-pdf align-center"><%= fees_particuler.name %></td>
                        <% end %>
                        <% @all_fees_extra_particulers.each do |fees_extra_particuler| %>
                          <td class="col-pdf align-center"><%= fees_extra_particuler %></td>
                        <% end %>
                        <td class="col-pdf align-center">Total Collection</td>
                    </tr>
                  <% end %>
                  <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                      <td style="white-space: nowrap;" class="align-center"><%= day.last %></td>
                      <% total_fees = 0.0 %>
                      <% i = 0 %>

                      <% @finance_fee_category.each do |fees_particuler| %>
                        <% fee_amount = 0.0 %>
                        <% unless @transactions_particular.blank? %>
                          <% @transactions_particular.each do |transactions_particular| %>
                            <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and transactions_particular.particular_id == fees_particuler.id and transactions_particular.particular_type = "ParticularCategory" %>
                              <% fee_amount+=transactions_particular.amount %>
                            <% end %>
                          <% end %>
                        <% end %>
                        <% total_fees += fee_amount %>
                        <td>
                            <%= (fee_amount==0) ? "-" : precision_label(fee_amount) %>
                        </td>


                        <% if fee_total[i].blank? %>
                          <% fee_total[i] = 0 %>
                        <% end %>
                        <% fee_total[i] +=fee_amount %>
                        <% grand_total +=fee_amount %>
                        <% i +=1; %>
                      <% end %>
 

                      <% discount_amount = 0 %> 

                      <% unless @transactions_particular.blank? %>
                        <% @transactions_particular.each do |transactions_particular| %>
                          <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and (transactions_particular.particular_type == "Discount" or transactions_particular.particular_type == "OnetimeDiscount" or transactions_particular.particular_type == "Fine Discount")   %>
                            <% discount_amount+=transactions_particular.amount %>
                          <% end %>
                        <% end %> 
                      <% end %> 

                      <% if fee_total[i].blank? %>
                        <% fee_total[i] = 0 %>
                      <% end %>
                      <% fee_total[i] += discount_amount %>  
                      <% total_fees -= discount_amount %>
                      <% grand_total -= discount_amount %>

                      <td>
                          <%= (discount_amount==0) ? "-" : "["+precision_label(discount_amount).to_s+"]" %>
                      </td>

                      <% i +=1; %>
                      <% fine_amount = 0 %>

                      <% unless @transactions_particular.blank? %>
                        <% @transactions_particular.each do |transactions_particular| %>
                          <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and transactions_particular.particular_type == "Fine"   %>
                            <% fine_amount+=transactions_particular.amount %>
                          <% end %>
                        <% end %> 
                      <% end %>

                      <% if fee_total[i].blank? %>
                        <% fee_total[i] = 0 %>
                      <% end %>
                      <% fee_total[i] += fine_amount %>  
                      <% total_fees += fine_amount %>
                      <% grand_total += fine_amount %>

                      <td>
                          <%= (fine_amount==0) ? "-" : precision_label(fine_amount) %>
                      </td>

                      <% i +=1; %>
                      <% vat_amount = 0 %> 

                      <% unless @transactions_particular.blank? %>
                        <% @transactions_particular.each do |transactions_particular| %>
                          <% if transactions_particular.transaction_date.to_date.beginning_of_month.strftime("%b-%y") == day.first.strftime("%b-%y") and transactions_particular.particular_type == "Vat"   %>
                            <% vat_amount+=transactions_particular.amount %>
                          <% end %>
                        <% end %> 
                      <% end %>

                      <% if fee_total[i].blank? %>
                        <% fee_total[i] = 0 %>
                      <% end %>
                      <% fee_total[i] += vat_amount %>  
                      <% total_fees += vat_amount %>
                      <% grand_total += vat_amount %>

                      <td>
                          <%= (vat_amount==0) ? "-" : precision_label(vat_amount) %>
                      </td>
                      <% i +=1; %>
                      <td><%= (total_fees==0) ? "-" : precision_label(total_fees) %></td>
                  </tr>
                <% end %>
                <% c= 'even' %>
                <tr class="table-header">
                    <td style="white-space: nowrap;" class="align-center">Total Collection</td>
                    <% i = 0 %>
                    <% @finance_fee_category.each do |fees_particuler| %>
                      <td>
                          <%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : precision_label(fee_total[i]) %>
                      </td>
                      <% i = i+1 %>
                    <% end %>
                    <% @all_fees_extra_particulers.each do |fees_extra_particuler| %>
                      <td>
                          <%= (fee_total[i].blank? or fee_total[i] == 0) ? "-" : precision_label(fee_total[i]) %>
                      </td>
                      <% i = i+1 %>
                    <% end %>
                    <td><%= (grand_total==0) ? "-" : precision_label(grand_total) %></td>
                </tr>  


            </table>
        </div>

    </div>

</div>

<style>
    tr.odd td, tr.even td,tr.table-header td
    {
       text-align:right;
    }
    td.align-center
    {
       text-align:center !important;
    }
    .date span{
        display: none;
        color: #FFFFFF;
        text-align: left;
    }
    .date{
        position: relative;
    }
    td:hover .date span{
        display: block;
        position: absolute;
        background-color: black;
        border:1px solid #ccc;
        min-height: 20px;
        min-width: 100px;
        left: 0px;
        top: -60px;
        color: #FFFFFF;
        padding: 5px;
        font-size: 13px;
        text-align: center;
    }
    td
    {
      cursor: pointer;
    }
 
    
</style>   
