<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <div id="page-yield"  class="available_sections1  sis sis-final">
      <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '7%' %></h4>
                <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
            </div>
      </center>    
      <p>&nbsp;<p>
      <table id="pdf-table" class="margin-top-bottom-10" width="100%" cellspacing="0">
        <tr class="table-header">
            <td><h4 align="center"><%= @connect_exam_obj.name.upcase+" REPORT CARD" %></h4></td>
        </tr>
        <tr class="table-header">
          <td><h4 align="center">ACADEMIC SESSION : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B, %Y"):@connect_exam_obj.published_date.strftime("%B, %Y") %></h4></td>
        </tr>
        <tr class="table-header">
            <td><h4 align="center">CLASS - <%= @batch.course.course_name.upcase %></h4></td>
        </tr>    
      </table>

      <table id="pdf-table" class="margin-top-bottom-10" width="100%" cellspacing="0">
          <tr class="table-header">
              <td colspan="2">Name of the Student: <b><%= @student.full_name %></b></td>
              <td>ID NO: <b><%= @student.admission_no %></b></td>
          </tr>
          <tr class="table-header">
              <td>Section: <b><%= @batch.course.section_name %></b></td>
              <td>Roll No: <b><%= @student.class_roll_no %></b></td>
              <td>Date Of Birth: <b><%= @student.date_of_birth.strftime("%Y/%m/%d") %></b></td>
          </tr>
      </table>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">


              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf" rowspan="2"><%= "Areas of Assessment" %></b></td>
                      <td class="col-pdf" colspan="100">
                          Grades
                      </td>
                  </tr>
                  <tr class="table-header">
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <td class="col-pdf">
                              <%= report['exam_name'] %>
                          </td> 
                        <% end %>
                      <% end %>
                  </tr>

                  
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <tr class="table-header">
                        <% if subjects['no_exams_sjws'].to_i != 0 %>
                          <% next %>
                        <% end %>
                         

                          <td class="col-pdf align-left"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>
                              <td class="col-pdf no-warp">
                                      <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                        <% main_mark = 0 %>
                                        <% if report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f > 0 %>
                                          <% main_mark = (report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f/report['result'][report['exam_id']][subjects['id']]['full_mark'].to_f)*100 %>
                                        <% end %>
                                        <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                                        <% if !grade.blank? and !grade.name.blank? %>
                                          <b><%= grade.name %></b>
                                        <% else %>
                                          <b>-</b>
                                        <% end %>
                                      <% else %>
                                       <b>-</b>
                                      <% end %> 
                                       


                              </td>


                            <% end %>
                          <% end %>

      

                      </tr> 
                    <% end %>  
                  <% end %>     

              </table>
              <table id="pdf-table"  width="100%" class="margin-top-bottom-10" cellspacing="0" >
                  <tr class="table-header">
                      <td class="col-pdf align-left" ><b>Personal, Emotional and Social Development</b></td>
                      <td class="col-pdf width-18 sjws_table_intro">Sometimes</td>
                      <td class="col-pdf width-18 sjws_table_intro">Usually</td>
                      <td class="col-pdf width-18 sjws_table_intro">Mostly</td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Works cooperatively with peers</td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Expresses Positive activities and good behaviour</td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Demonstrate discipline and organization</td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Expresses feelings and emotions constructively</td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Respects feelings and achievements of others</td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Works independently with confidence </td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf align-left" >Shows curiosity with creativity </td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                      <td class="col-pdf width-18 sjws_table_intro"><span class="tickbox_uncheck2"></span></td>
                  </tr>
                  <tr class="table-header">
                      <% unless @present_total.blank? %>
                        <td class="col-pdf">Number of working days : <%= @total_day %></td>
                        <td colspan="3">Attendance : <%= @present_total %></td>
                      <% else %>
                        <% @comment_from_split = @total_day  %>
                        <td class="col-pdf">Number of working days : <%= @report_data['total'] %></td>
                        <td colspan="3">Attendance : <%= @report_data['present'] %></td>
                      <% end %>
                  </tr>
                  
              </table>

             
              <table id="pdf-table" class="margin-top-bottom-10 font-size-20" width="100%" >
                 
                      <tr class="table-header">
                          <td class="col-pdf align-left">
                            <b>Comments: <b/>
                            <%= @comment_from_split %>
                            <br/><br/><br/><br/><br/>  
                          </td>
                      </tr> 
                  

              </table>
              <table id="pdf-table" class="margin-top-bottom-10 font-size-20" width="100%" >
                    <tr  class="table-header">
                      <td class="col-pdf no-warp align-left"><b><span class="tickbox_uncheck2"></span> Promoted to </b></td>
                      <td class="col-pdf no-warp align-left width-60"><%= @connect_exam_obj.promoted_to %></td>
                     </tr>
                     <tr class="table-header">
                      <td class="col-pdf no-warp align-left"><b><span class="tickbox_uncheck2"></span> Next session begins on </b></td>
                      <td class="col-pdf no-warp align-left width-60"><%= @connect_exam_obj.next_session_begins.blank?  ? "" : I18n.l(@connect_exam_obj.next_session_begins,:format=>"%d %B %Y") %></td>
                     </tr>
              </table>
              
               <table id="pdf-table" width="100%" class="left-table even-table signature" cellspacing="0">
                  <tr class="even">
                      <td class="small-height"><b>Class Teacher's Signature</b></td>
                      <td class="small-height"><b>Principal Signature</b></td>
                      <td class="small-height"><b>Parent's Signature</b></td>
                  </tr> 
                  <tr class="even">
                     <td><br/><br/><br/></td>
                     <td><br/><br/><br/></td>
                     <td><br/><br/><br/></td>
                  </tr> 
               </table>
              


             



          </div>
      </div>



  </div>

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>)
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var current_page_height = 0
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1
            el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            insertPage();
        }
        currPage().appendChild(el);
    });
  </script>
<% end %>