<% unless @report_data.blank?  or  @report_data['report'].blank? %>

    <div id="page-yield"  class="available_sections1 academia cherry_blossoms sis sis-final">
       <p>&nbsp;<p>
       <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '9%' %></h4>
                <h2 align="center"><b><%=Configuration.get_config_value('InstitutionName'); %></b></h2>
            </div>
        </center>
        <div class="academia_box">
         
          <div class="academia_middle_box">
            <h3 align="center">(House: 5, Road: 2, Block: C, Section: 2, Mirpur, Dhaka)</h3>
            <h3 align="center">(www.orchidintschool.com, Contact : 01625905083, 01712665157,<br/> Email : oisd.edu@yahoo.com)</h3>
            <h3 align="center"><%= @connect_exam_obj.name %></h3>
            <br/>
           
              <%#= debug @student %>
            <div class="academia_exam_details_box">              
              <table width="100%">
                <tr>
                    <td class="left">
                      Name : <%= @student.full_name %><br />
                      Student ID : <%= @student.admission_no %>
                    </td>
                    <td class="middle"> 
                      <% month_number =@connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%-m"):@connect_exam_obj.published_date.strftime("%-m") %>
                        <% if month_number.to_i>6 %>
                            Session : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i+1:@connect_exam_obj.published_date.strftime("%Y").to_i+1 %>
                        <% else %>
                            Session : <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i-1:@connect_exam_obj.published_date.strftime("%Y").to_i-1 %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>
                        <% end %> 
                      <br />
                      DOB : <%= @student.date_of_birth.strftime("%Y/%m/%d") %>  
                    </td>
                    <td width="28%">
                       Class : <%= @batch.course.full_name %><br />       
                       Roll No. : <%= @student.class_roll_no %>
                    </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="academia_right_box">
              <br />
            <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
            <% if @grading_levels.blank? %>
            <% @grading_levels = GradingLevel.default %>
            <% end %>
            <%  unless @grading_levels.empty? %>
              <table class="">
                  <tr>
                    <td>Range</td>
                    <td>Grade</td>
                    <td>GPA</td>
                  </tr>
                  <% @grading_levels.each do |grade| %>
                  <tr>
                    <td>
                      <% if grade.max_score.nil? %>  
                      <%= '%i%' % grade.min_score %>
                      <% else %>  
                      <%= grade.min_score.to_s + " - " + grade.max_score.to_s %>  
                      <% end %>
                    </td>
                    <td><%= grade.name %></td>
                    <td><%= grade.credit_points %></td>
                  </tr>                  
                  <% end %>
              </table>  
            <% else %>
              <h4><%= t('set_in_common') %></h4>
            <% end %>
          </div>
        </div>
       <br/>
       
        <div class ="current_batch">
            <div id="grouped_exam_report">
                <div class="CSSTableGenerator">
                    <table id="pdf-table"  width="99.8%">
                        <thead>
                          <% extra_string = "" %>
                          <% @report_data['report']['exams'].each do |report| %>
                            <% if report['exam_category'] == '1' %>
                              <%
                                if report['exam_name'].upcase.include? ("FIRST")
                                  extra_string = "First Term "
                                elsif report['exam_name'].upcase.include? ("FINAL")
                                  extra_string = "Final Term "
                                end
                                break
                            
                              %>
                            <% end %>
                          <% end %>  
                          <tr class="table-header">
                              <td class='subjects'>Subject Name </td>
                              <td><%= extra_string %>Class Test 2018-19</td>
                                    
                              <% count = 0 %>
                              <% unless @report_data['report']['exams'].blank? %>  
                                
                                <% @report_data['report']['exams'].each do |report| %>
                                  <% if report['exam_category'] != '1' %>
                                    <% count = count+1 %>
                                  <% end %>
                                <% end %>
                                                     
                                <% @report_data['report']['exams'].each do |report| %>
                                  <% if report['exam_category'] != '1' %>
                                  <% w = 30/count%>
                                  <td>
                                    <%= report['exam_name'] %>
                                  </td> 
                                  <% end %>
                                <% end %>
                              
                              <% end %>

                              <td>Total Marks</td>
                         
                              <td>Letter Grade</td>
                          </tr>
                        </thead>
                        <% total_parcent = 0 %>
                        <% total_subject = 0 %>
                        <% unless @report_data['report']['subjects'].blank? %> 
                          <% count2 = @report_data['report']['exams'].count %>         
                          <% @report_data['report']['subjects'].each do |subjects| %>
                            <tr class="table-header">
                                <% weightage_mark = 0 %>
                                <% total_mark = 0 %>
                                <% full_mark = 0 %>
                                <% ct_mark = 0 %>
                                <% ct_full_mark = 0 %>
                                <% ct_mark_array = [] %>
                                <td class='subjects'><b><%= subjects['name'] %></b></td>
                                <% @report_data['report']['exams'].each do |report| %>
                                  <% if report['exam_category'] == '1' %>
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                          <% ct_full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                        <% end %> 
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                            <% ct_mark_array << report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                        <% end %>
                                  <% end %>
                                <% end %>
                                
                                <% unless ct_mark_array.blank? %>
                                  <% 
                                    ct_mark_array.sort! {|x,y| y <=> x }
                                    ct_mark =  ct_mark_array[0]
                                    ct_mark = ct_mark.round
                                  %>
                                <% end %>
                                <td >

                                    
                                      <% if !ct_full_mark.blank? %>

                                        <% full_mark = ct_full_mark %>

                                      <% end %> 
                                      <% if !ct_mark.blank? && full_mark != 0 %>
                                        <%= ct_mark %>
                                        <% total_mark = ct_mark.to_f %>
                                      <% else %>
                                        -
                                      <% end %>  
                                               


                                </td>
                                <% unless @report_data['report']['exams'].blank? %>  
                                  <% @report_data['report']['exams'].each do |report| %>
                                    <% w = 30/count%>
                                    <% if report['exam_category'] != '1' %>
                                    <td>
                                                    <% full_mark_main = false %>
                                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                                      <% full_mark_main = true %>
                                                      <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                                   
                                                    <% end %>  
                                                
                                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? and full_mark_main == true %>
                                                      <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'].round %>
                                                      <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].round.to_f %>
                                                    <% else %>
                                                      -
                                                    <% end %>  

                                    </td>
                                    <% end %>

                                    <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
                                      <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
                                    <% end %>

                                  <% end %>
                                <% end %>





                                <% 
                                  heighst_mark = 0
                                  if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
                                    heighst_mark = (@report_data['report']['max_mark'][subjects['id']].to_f/full_mark.to_f)*100
                                  end  

                                  if total_mark.to_f>0 and full_mark.to_f>0
                                    main_mark = (total_mark.to_f/full_mark.to_f)*100 
                                    main_mark = main_mark.round
                                  else
                                    main_mark = 0
                                  end  
                               %>

                                  <% if full_mark.to_f > 0 %>
                                      <td><b><%= sprintf( "%0.02f", total_mark) %></b></td>
                                      <!--td><b><%= sprintf( "%0.02f", main_mark) %> %</b></td-->
                                      
                                      <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>

                                      <% if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank? %>
                                        <td><b><%= grade.name %></b></td>
                                        <!--td width="5%"><b><%= grade.credit_points %></b></td-->
                                      <% else %>
                                        <td><b>-</b></td>
                                        <!--td width="5%"><b>-</b></td-->
                                      <% end %>


                                      <% total_parcent= total_parcent+main_mark %>
                                      <% total_subject = total_subject+1 %>
                                  <% else  %>
                                      <td><b>-</b></td>
                                      <!--td><b>-</b></td-->
                                      <td><b>-</b></td>
                                      <td><b>-</b></td>
                                      <!--td width="5%"><b>-</b></td-->
                                  <% end %>      

                            </tr> 
                          <% end %>  
                        <% end %> 
                            <% avgparcent = total_parcent.to_f/total_subject.to_f %>
                            <tr class="table-header">
                                <td  align="right" colspan="50" class="avg_mark">
                                    <b><font size="4">(Average Marks : <%= sprintf( "%0.02f",avgparcent) %> %)</font></b>
                                </td>
                            </tr>    

                    </table>
                   

                   

                    <% unless @report_data['report']['no_exam_subject_resutl'].blank? or !@report_data['report']['no_exam_subject_resutl'].blank? %>

                      <h4 align="center">Cumulative Assessment Record</h4>


                      <table  width="100%"  id="listing table-design" style="margin-top:20px;">
                          <% 
                          iloop = 1
                          cloop = 1
                        %>
                          <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>

                            <% if iloop == 1 %>
                              <tr>
                                <% end %>
                                <% if cloop == 3 %>
                              </tr>
                              <tr>
                                  <% cloop = 1 %>        
                                <%  end %> 
                                <td   width="6%"><%= iloop %></td>
                                <td   width="23%"><%= report['subject_name'] %></td>
                                <% if report['subject_comment'].blank? %>
                                  <td   width="23%">Not Tested Yet</td>
                                <% else %>
                                  <td   width="23%"><%= report['subject_comment'] %></td>
                                <% end %>
                                <% iloop = iloop+1 %> 
                                <% cloop = cloop+1 %>
                              <% end %>

                      </table>

                    <% end %>

                </div>

            </div>
        </div>
       <% if @present_total.blank? %>
        <% @comment_from_split = @total_day  %>
       <% end %>
        <div class="academia_box">
          <div class="academia_sign_left">
              <table class="teachers_sign">
                  <tr>
                      <td>
                          <b>Teacher's Remark :</b>
                      </td>                      
                  </tr>
                  <tr>
                      <td>
                          <%= @comment_from_split %>
                          <br/><br/><br/><br/><br/>
                      </td>                      
                  </tr>
              </table>
          </div>
          <% unless @present_total.blank? %>
            <% @report_data['total'] = @total_day %>
            <% @report_data['present'] = @present_total %>
          <% end %>  
          <div class="academia_sign_right">
              <table class="teachers_sign">
                  <tr>
                      <td colspan="2">
                          <b>Class Attendance</b>
                      </td>                      
                  </tr>
                  <tr>
                      <td width="50%">
                          <b>Working Days</b>
                      </td>
                      <td width="50%">
                          <%= @report_data['total'] %>
                      </td>
                  </tr>
                  <tr>
                      <td width="50%">
                          <b>Present</b>
                      </td>
                      <td width="50%">
                          <%= @report_data['present'] %>
                      </td>
                  </tr>
                  <tr>
                      <td width="50%">
                          <b>Absent</b> 
                      </td>
                      <td width="50%">
                          <%= @report_data['total'].to_i - @report_data['present'].to_i %>
                      </td>
                  </tr>
              </table>
              
          </div>
          <table id="pdf-table" width="99.8%" class="left-table even-table signature" cellspacing="0">
                  <tr class="even">
                      <td class="small-height"><b>Class Teacher's Signature</b></td>
                      <td class="small-height"><b>Principal Signature</b></td>
                      <td class="small-height"><b>Parent's Signature</b></td>
                  </tr> 
                  <tr class="even">
                     <td><br/><br/><br/></td>
                     <td><br/><br/><br/></td>
                     <td><br/><br/><br/></td>
                  </tr> 
               </table>
        </div>
    </div>

  <% end %>
  <%= stylesheet_link_tag 'list_table' %>

  <% if params[:page_height] %>
    <script type="text/javascript">
      var body = document.body,
              html = document.documentElement;
      var pg_height = parseInt(<%= params[:page_height] %>)
      var page = new Element('div', {'class': 'page1'});
      var pageBreak = new Element('div', {'class': 'page-break1'});
      var insertPageBreak = function () {
          body.appendChild(pageBreak.cloneNode(true))
      };
      var insertPage = function () {
          body.appendChild(page.cloneNode(true));
      };
      var currPage = function () {
          return $$('.page1').last()
      };
      var current_page_height = 0
      var i = 0
      $$('.available_sections1 .section1').each(function (el) {
          a = parseInt(el.getHeight());
          c = current_page_height + a;
          current_page_height = c;
          if (c > pg_height) {
              current_page_height = a
              body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
              document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
              document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
              i += 1
              el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
              insertPageBreak();
              insertPage();
          }
          currPage().appendChild(el);
      });
    </script>
  <% end %>
    
    <style>
        
      .cherry_blossoms  table tr td
{
    font-size:20px;
    text-align: center;
}

.cherry_blossoms  table tr td.avg_mark
{
    font-size:20px !important;
    text-align: right;
    padding: 10px 20px; 
}
.cherry_blossoms  .CSSTableGenerator table thead tr th
{
    font-size:20px;
    text-align: left;
}

.cherry_blossoms  .academia_sign_left
{
    float:left;
    width:48%;

}

.cherry_blossoms  .academia_middle_box
{
    float:left;
    width:900px;
    margin-left:180px;

}

.cherry_blossoms   .academia_sign_right
{
    margin-left:24px ;
    float:left;
    width:50%;

}
.cherry_blossoms  .academia_exam_title_box
{
    border: 1px solid #000;
    width:40%;
    margin: 10px auto;

}

.academia_right_box
{
    float:right;
    width:230px;                
}
.cherry_blossoms  .academia_middle_box
{
    float:left;
    width:840px;
    margin-left:180px;

}
#page-yield #pdf-header-south h2 b
    {
       font-size: 28px !important;
    }
    .sis-final .table-header td{
        padding: 8px !important;
    }
    </style>