<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="subjects-form">
  <% if @show_batch_subject %>  
    <h4><%= @batch.course.course_name unless @batch.nil? %></h4>
  <% else %>
    <h4>Elective Group for: <%= @batch.course.course_name %></h4>
  <% end %>  
  
  <% form_remote_for @subject, :url => {:controller => 'elective_groups', :action => 'update_elective_subject', :id=>@elective_group, :id2 => @subject.id ,:batch_id => @batch.id} do |f| %>
    
    <% elective_group_id = (@elective_group.nil? ? nil : @elective_group.id) %>
    <%= f.hidden_field :elective_group_id, :value => elective_group_id %>
    <%= f.hidden_field :icon_number %>
    <% if @show_batch_subject %>
      <%= hidden_field :batch_subject, :show, :value => "1" %>
    <% else %>
      <%= hidden_field :batch_subject, :show, :value => "0" %>
    <% end %>
    <%= hidden_field :from, :action, :value => @from_action %>

    <% unless @batch_only.nil? %>
      <% if @batch_only %>
        <%= hidden_field :course, :batch_only, :value => "1" %>
        <%= hidden_field :course, :batch_name, :value => @batch_name %>
      <% end %>
    <% end %>
    
    <div id="form-errors"></div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('name') %></label></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('code') %></label></div>
      <div class="input-container"> <%= f.text_field :code %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><label><%= t('max_weekly_class') %></label></div>
      <div class="input-container"> <%= f.text_field :max_weekly_classes %></div>
    </div>
    <div class="label-field-pair">
      <div class="label-container"><%= f.label "Priority" %></div>
      <div class="input-container"> <%= f.text_field :priority %></div>
    </div>
    
    <% if school_mock_test? and !@elective_group.id.nil? %>
    <div class="label-field-pair">
      <div class="label-container"><label>Calculation in result</label></div>
      <div class="input-container"> <%= f.text_field :percentage %></div>
    </div>
    <% end %>  

    <% if @batch and (@batch.cwa_enabled? or @batch.gpa_enabled?) %>
      <div class="label-field-pair" style="display: none;">
        <div class="label-container"><label>Credit Hours</label></div>
        <div class="input-container"> <%= f.text_field :credit_hours, :value => "100" %></div>
      </div>
    <% end %>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('no_exam') %></label></div>
      <div class="input-container"><%= f.check_box :no_exams %></div>
    </div>
    
    <% if MultiSchool.current_school.id == 340  %>   
    <div class="label-field-pair">
      <div class="label-container"><label><%= "No Written" %></label></div>
      <div class="input-container"><%= f.check_box :no_exams_sjws %></div>
    </div>
    <% end %> 

    <%= submit_tag "", :value => "► #{t('save')}", :method => "post", :class => "submit_button" %>

  <% end %>
</div>

<div id="icons">
  <ul>
    <% @images.each do |im| %>
      <li><%= image_tag "/images/icons/subjects/#{im.split('/').last}", :class => 'custom_icon', :id => "#{im.split('/').last}" %></li>
    <% end %>
  </ul>
</div>

<style type="text/css">
  #subjects-form{
    float: left;
    width: 450px;
  }
  #icons{
    background-color: #eee;
    border: 1px solid #c6c6c6;
    float: right;
    height: 270px;
    margin-right: 10px;
    margin-top: 30px;
    overflow: auto;
    width: 390px;
  }
  #icons ul{
    padding-left: 12px;
  }
  #icons ul li{
    cursor: pointer;
    display: inline;
  }
  .custom_icon{
    border: 1px solid #ccc;
    height: 60px;
    padding: 3px;
    width: 60px;
  }

</style>