<% if (@current_user.admin or @current_user.employee) and !@student_list.blank? %> 
  <div>

      <%= select :Suspension, :student_id,
        options_for_select(@student_list.map {|b| [b.full_name, b.id] },@student_id.to_i),
        {:prompt => "Select a Student"},
        {:onchange => "#{remote_function(
        :url => { :action => 'show_suspension' },
        :update => 'data-div',
        :with => "'student_id='+value+'&achnowladge_id='+$('Suspension_ackhnowledged').value+'&batch_id='+$('Suspension_batch_id').value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"  )}"} 
    %>

  </div>    
<% else %>
  <input type="hidden" id="Suspension_student_id" value="" />
<% end %>


<div id="page-yield" class="bg-disable" style="margin-top: 0px;">

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <div id="all_news" class="partial_homework" style="margin-top:0px;">
        <%= image_tag("loader.gif",
          :align => "absmiddle",
          :border => 0,
          :id => "loader",
          :style =>"display: none;" ) %>

        <% unless @suspension.blank %>


          <% @suspension.each_with_index do |r,i| %>

            <div class="portlet-subcontent">

                <div class="timetable_right">
                    <div class="subcontent-header themed_text">
                        <% if @current_user.parent? %>
                          Your Son/ward 
                        <% end %>   
                        <%= r.student.first_name %> <%= r.student.last_name %>,<%= r.batch.full_name   %>, roll : <%= r.student.class_roll_no %> is suspended from school from <%= r.start_date %> UNTIL <%= r.end_date  %>.

                        He will not be permitted to attend his classes until his guardians meet with Principal in his office on <%= r.meeting_date %> between   <%= r.start_time.strftime("%I:%M %p") unless r.start_time.nil? %> to <%= r.end_time.strftime("%I:%M %p") unless r.end_time.nil? %>  
                        <% if !r.reason.blank? %>
                          <br/>
                          </br>

                          Reasons for Suspensions is are as follows: </br>
                          <%=  r.reason %> 
                        <% end %>
                          
                        <% if r.ackhnowledged==0 and @current_user.parent? %>
                          </br></br>
                          please click the acknowledged button to acknowledge the detention
                        <% end %>
                       
                  </div>            

              </div>


              <div class='timetable_last' id="status_<%=  r.id %>">

                  <% if @current_user.admin %>
                    <% if r.ackhnowledged==1 %>
                      <font color="green">Acknowledged</font></br>
                    <% else %>
                      <%= link_to_remote "delete" , :url => {:controller => 'detention', :action => "show_suspension", :id =>r.id},:confirm => "Are you sure?",:with => "'achnowladge_id='+$('Suspension_ackhnowledged').value+'&batch_id='+$('Suspension_batch_id').value+'&student_id='+$('Suspension_student_id').value",:loading => "$('loader').show();", :loaded => "$('loader').hide();" , :update=> "data-div" %>
                    <% end %>


                  <% elsif @current_user.employee %>
                    <% if @employee.is_pod.to_i == 1 %>
                      <% if r.ackhnowledged==1 %>
                        <font color="green">Acknowledged</font></br>
                      <% else %>
                        <%= link_to_remote "delete" , :url => {:controller => 'detention', :action => "show_suspension", :id =>r.id},:confirm => "Are you sure?",:with => "'achnowladge_id='+$('Suspension_ackhnowledged').value+'&batch_id='+$('Suspension_batch_id').value+'&student_id='+$('Suspension_student_id').value",:loading => "$('loader').show();", :loaded => "$('loader').hide();" , :update=> "data-div" %>
                      <% end %>       
                    <% end %>

                  <% elsif @current_user.parent? and r.ackhnowledged==0  %>
                    <%= link_to_remote "acknowledge" , :url => {:controller => 'detention', :action => "ackhnowledged_suspension", :id =>r.id },:loading => "$('loader').show();", :loaded => "$('loader').hide();" , :update=> 'status_'+r.id.to_s %>
                  <% else %>
                    <b>
                        <% if r.ackhnowledged==1 %>
                          <font color="green">Acknowledged</font></br>
                        <% end %>
                    </b>

                  <% end %>


              </div>
          </div>
          <div style="float: left; margin: 7px; width: 95%;"></div> 
        <% end %>



        <% posted_params = params %>
        <% posted_params.delete(:page) %>
        <% posted_params.delete(:authenticity_token) %>
        <% posted_params.delete(:controller) %>
        <% posted_params.delete(:action) %>
        <% @url_params = "" %>
        <% posted_params.each{|k,v| @url_params = @url_params.to_s+k.to_s+"="+v.to_s+"&"}  %>
        <%= will_paginate @suspension, :renderer => 'RemoteLinkRenderer', :remote=>{:update=>'data-div'}%>

<%#= will_paginate @news %>


      <% else %>
        <div class="portlet-subcontent">
            <div class="timetable_right">
                <div class="subcontent-header themed_text">No Suspension found</div>
            </div>
        </div>
      <% end %>

    </div>

</div>