<% unless @report_data.blank?  or  @report_data['report'].blank? %>

  <%
    @top_exam_group = []
    unless @all_exam_groups.blank?
      @all_exam_groups.each do |exam_group|
         if !exam_group.name.index('Sub').nil?
           exam_group_name_array = exam_group.name.split(" ")
           @top_exam_group << exam_group_name_array[0]+" "+exam_group_name_array[1]
         end
      end  
    end

  %>

  <div id="page-yield"  class="available_sections1 st_joseph_bg">

      <p class="line-height-10">&nbsp;<p>
      <h4 align="center"><%= @connect_exam_obj.name+" Report : " %><%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B, %Y"):@connect_exam_obj.published_date.strftime("%B, %Y") %></h4>


      <table id="pdf-table" class="margin-top-bottom-10" width="100%" cellspacing="0">
          <tr class="even">
              <td>Name : <b><%= @student.full_name %></b></td>
              <td>Class : <b><%= @batch.course.course_name %></b></td>
              <td>Section : <b><%= @batch.course.section_name %></b></td>
              <td>Roll : <b><%= @student.class_roll_no %></b></td>
          </tr>
      </table>
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">


              <table id="pdf-table" width="100%" cellspacing="0">
                  <% c = 'even'  %>
                  <tr class="table-header">
                      <td class="col-pdf"><b><%= "Subject" %></b></td>
                      <% unless @report_data['report']['exams'].blank? %> 
                        <% @top_exam_group.each do |top_exam| %>
                          <td class="col-pdf group_exam" colspan="3"><%= top_exam %></td>
                        <% end %>
                      <% end %>
                      

                      <td class="col-pdf">Total Marks</td>
                      <td class="col-pdf">Highest Marks</td>
                      <td class="col-pdf">Grade</td>
                  </tr>
                  <tr class="table-header">
                      <td class="col-pdf"></td>
                      
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @top_exam_group.each do |top_exam| %>
                          <td class="col-pdf">
                              Subjective
                          </td> 
                          <td class="col-pdf">
                              Objective
                          </td>
                          <td class="col-pdf">
                              Practical
                          </td>
                        <% end %>
                      <% end %>

                      <td class="col-pdf"></td>
                      <td class="col-pdf"></td>
                      <td class="col-pdf"></td>
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% full_marks_total = 0 %>
                  <% total_marks_student = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>
                          <% fail_grade = false %>

                          <td class="col-pdf no-warp"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                            <% @report_data['report']['exams'].each do |report| %>
                              <% marks_obtain_single_exam = 0 %>
                              <% total_marks_single_exam = 0 %>
                              <% na= false %>
                              <td class="col-pdf no-warp">
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                    
                                    <% marks_obtain_single_exam = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                    <% total_mark = total_mark.to_i+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_i %>
                                    <%= marks_obtain_single_exam %>
                                  <% else %>
                                    N/A
                                  <% end %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                    <% total_marks_single_exam = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                    <% 
                                      grade_name_single = ""
                                      if total_marks_single_exam > 0 
                                        if marks_obtain_single_exam.to_i == 0
                                            fail_grade = true
                                            grade_name_single = "U"
                                        else
                                            mark_for_grade = (marks_obtain_single_exam.to_f/total_marks_single_exam.to_f)*100 
                                            grade_check = GradingLevel.percentage_to_grade(mark_for_grade, @batch.id)
                                            if !grade_check.blank? and !grade_check.name.blank?
                                              if grade_check.name.to_s == "U"
                                                fail_grade = true
                                              end 
                                              grade_name_single = grade_check.name
                                            end
                                         end
                                      end
                                    
                                      if fail_grade == false and !report['exam_name'].index('Obj').nil? and total_marks_single_exam.to_i == 25
                                        if marks_obtain_single_exam.to_i < 12
                                          fail_grade = true
                                          grade_name_single = "U"
                                        end
                                      end
                                    
                                      if grade_name_single == "U" and !report['exam_name'].index('sub').nil? and total_marks_single_exam.to_i == 50
                                        %><%= marks_obtain_single_exam  %>|<%
                                        if marks_obtain_single_exam.to_i >= 22
                                          fail_grade = false
                                          grade_name_single = "D"
                                        end
                                      end  

                                      if grade_name_single == "U" and !report['exam_name'].index('prac').nil? and total_marks_single_exam.to_i == 25
                                        if marks_obtain_single_exam.to_i >= 11
                                          fail_grade = false
                                          grade_name_single = "D"
                                        end
                                      end
                                    
                                    %>
                                    [<%= grade_name_single  %>]
                                    [<%= total_marks_single_exam %>]
                                    
                                  <% else %>

                                  <% end %>  
                                    
                                    


                              </td>

                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
                                <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
                              <% end %>

                            <% end %>
                          <% end %>





                          <% 
                          heighst_mark = 0
                          if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
                            heighst_mark = @report_data['report']['max_mark'][subjects['id']].to_f
                            end  

                          if total_mark.to_f>0 and full_mark.to_f>0
                            main_mark = (total_mark.to_f/full_mark.to_f)*100 
                            else
                            main_mark = 0
                            end  
                        %>

                          <% if full_mark.to_f > 0 %>
                            <td class="col-pdf"><%= total_mark.to_i %></td>
                            <td class="col-pdf"><%= heighst_mark.to_i %> </td>
                            
                            <% grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td class="col-pdf"><b><%= grade.name %></b></td>
                            <% else %>
                              <td class="col-pdf"><b>N/A</b></td>
                            <% end %>
                            
                            <% full_marks_total = full_marks_total+full_mark.to_f %>  
                            <% total_marks_student = total_marks_student+total_mark.to_f %> 
                            <% total_parcent= total_parcent+main_mark %>
                            <% total_subject = total_subject+1 %>
                          <% else  %>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                          <% end %>      

                      </tr> 
                    <% end %>  
                  <% end %>     

              </table>


              <% avgparcent = (total_marks_student.to_f/full_marks_total.to_f)*100 %>
              <table id="pdf-table" class="margin-top-bottom-10 font-size-20" width="100%" >

                  <tr class="table-header">

                      <td class="col-pdf">Working Days : <%= @report_data['total'] %></td>

                      <td class="col-pdf">Days Present : <%= @report_data['present'] %> </td>
                      <td class="col-pdf">Days Absent : <%= @report_data['total']-@report_data['present'] %> </td>
                      <td class="col-pdf">Average Marks : <%= sprintf( "%0.02f",avgparcent) %> % </td>
                      <td class="col-pdf">Detention : <%= @student_detention_count  %> </td>
                  </tr> 


              </table>
              <table id="pdf-table" class="margin-top-bottom-10 font-size-20 float-left" width="38%" >
                      <tr class="table-header">
                          <td class="col-pdf t-left">
                              <b>Teacher's Remark</b>
                          </td>                      
                      </tr>
                      <tr class="table-header">
                          <td class="col-pdf">
                              <% if !@exam_comment.blank? %>
                                <%= @exam_comment.comments %>
                              <% else %>     
                                &nbsp;<br /><br /><br /><br />
                              <% end %>
                          </td>                      
                      </tr>
              </table>
              <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
              <% if @grading_levels.blank? %>
                <% @grading_levels = GradingLevel.default %>
              <% end %>
              <%  unless @grading_levels.empty? %>
                <table id="pdf-table" class="margin-top-bottom-10  font-size-20 float-left-10" width="61%" cellspacing="0">
                    <tr class="even">
                        <td><b>Grade</b></td>


                        <% @grading_levels.each_with_index do |grade,index| %>

                          <td><%= grade.name %></td>

                        <% end %> 
                    </tr> 
                    <tr class="odd">
                        <td><b>marks</b></td>


                        <% @grading_levels.each_with_index do |grade,index| %>

                          <td>
                              <% if grade.max_score.nil? %>
                                <% if grade.min_score == 44.00 %>
                                  <% grade.min_score = 45.00 %>
                                <% end %>
                                <%= '%i%' % grade.min_score %>
                              <% else %> 
                                <%= grade.min_score.to_i.to_s + " - " + grade.max_score.to_i.to_s %>
                              <% end %>
                          </td>

                        <% end %> 
                    </tr> 
                </table>

              <% end %> 



              <% unless @report_data['report']['no_exam_subject_resutl'].blank? or !@report_data['report']['no_exam_subject_resutl'].blank? %>

                <h4 align="center">Cumulative Assessment Record</h4>


                <table  width="100%"  id="listing table-design" style="margin-top:20px;">
                    <% 
                    iloop = 1
                    cloop = 1
                  %>
                    <% @report_data['report']['no_exam_subject_resutl'].each do |report| %>

                      <% if iloop == 1 %>
                        <tr>
                          <% end %>
                          <% if cloop == 3 %>
                        </tr>
                        <tr>
                            <% cloop = 1 %>        
                          <%  end %> 
                          <td   width="6%"><%= iloop %></td>
                          <td   width="23%"><%= report['subject_name'] %></td>
                          <% if report['subject_comment'].blank? %>
                            <td   width="23%">Not Tested Yet</td>
                          <% else %>
                            <td   width="23%"><%= report['subject_comment'] %></td>
                          <% end %>
                          <% iloop = iloop+1 %> 
                          <% cloop = cloop+1 %>
                        <% end %>

                </table>

              <% end %>



          </div>
      </div>



  </div>

<% end %>
<%= stylesheet_link_tag 'list_table' %>

<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
            html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>)
    var page = new Element('div', {'class': 'page1'});
    var pageBreak = new Element('div', {'class': 'page-break1'});
    var insertPageBreak = function () {
        body.appendChild(pageBreak.cloneNode(true))
    };
    var insertPage = function () {
        body.appendChild(page.cloneNode(true));
    };
    var currPage = function () {
        return $$('.page1').last()
    };
    var current_page_height = 0
    var i = 0
    $$('.available_sections1 .section1').each(function (el) {
        a = parseInt(el.getHeight());
        c = current_page_height + a;
        current_page_height = c;
        if (c > pg_height) {
            current_page_height = a
            body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
            document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
            document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
            i += 1
            el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
            insertPageBreak();
            insertPage();
        }
        currPage().appendChild(el);
    });
  </script>
<% end %>