<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="page-yield" class="available_sections1">
    <div class="page1"> </div>
    <div class="section1 row" >
        <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '4%' %></h4>
                <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
            </div>
            <h4 align="center">Tabulation Sheet, <%= @connect_exam_obj.name %></h4>
            <table width="100%" >
                <thead>
                    <tr>
                        <td><b>Year: <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B-%Y"):@connect_exam_obj.published_date.strftime("%B-%Y") %> </b></td>
                        <td align="right"><b>Class : 
                                <% if @batch.name == "General" %>
                                  <%= @batch.course.full_name %>
                                <% else %>
                                  <%= @batch.name %> ,<%= @batch.course.full_name %>
                                <% end %></b>
                        </td>
                    </tr>
                </thead>    
            </table>
            <% 
            @all_subject_id = []
            @has_exam_score = []
            @all_exam_groups = []
            @all_group_exams = GroupedExam.find(
              :all,
              :conditions => [
                "connect_exam_id = ?",
                @connect_exam_obj.id
              ]
              )
            unless @all_group_exams.blank?
              @all_exam_group_id = @all_group_exams.map(&:exam_group_id).uniq


              @all_exams = Exam.find(
                :all,
                :conditions => ["exam_group_id IN (?)", @all_exam_group_id]
                )

              @all_exam_groups = ExamGroup.find(
                :all,
                :conditions => ["id IN (?)", @all_exam_group_id]
                )


              unless @all_exams.blank?
                @all_subject_id = @all_exams.map(&:subject_id).uniq
                @all_exam_id = @all_exams.map(&:id).uniq
                @exam_score_all = ExamScore.find(
                  :all,
                  :conditions => ["exam_id IN (?)", @all_exam_id]
                  )
                @has_exam_score = @exam_score_all.map(&:exam_id).uniq
              end
              end
          %>
            <% unless @report_data.blank? %>
              <% c = 'even' %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <tr class="table-header">

                      <td class="col-pdf">Roll</td>
                      <td class="col-pdf">Students Name</td>
                      <% @report_data['report']['subjects'].each do |sub| %>
                        <% has_exam = false %>
                        <% if @all_subject_id.include?(sub['id'].to_i) %>
                          <% has_exam = true %>
                        <% end %>
                        <% if has_exam == true %>
                          <% 
                          subjective = false
                          objective = false
                          practical = false


                        %>
                          <% @all_exam_groups.each do |exam_group| %>
                            <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                            <% unless examfound.blank? %>
                              <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                <% subjective = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>

                              <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                <% objective = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>

                              <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                <% practical = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>
                            <% end %>

                          <% end %>
                        <% end %>
                      <% end %>

                      <td>Total</td>
                      <td class="col-pdf">Rank</td>

                  </tr>

                  <% extender = 0 %>
                  <% std_count = 0 %>
                  <% j = 0 %>

                  <% @report_data['report']['students'].each do |std| %>
                    <% j = j+1 %>
                    <%  std_count = std_count+1; %>
                    <% if std_count>20 && extender ==0 %>
                      <% std_count = 0 %>
                      <% extender = 1 %>
                      <tr class="page-break">
                          <td colspan="100">&nbsp;</td>
                      </tr>  
                      <tr class="table-header">
                          <td class="col-pdf">Roll</td>
                          <td class="col-pdf">Students Name</td>
                          <% @report_data['report']['subjects'].each do |sub| %>
                        <% has_exam = false %>
                        <% if @all_subject_id.include?(sub['id'].to_i) %>
                          <% has_exam = true %>
                        <% end %>
                        <% if has_exam == true %>
                          <% 
                          subjective = false
                          objective = false
                          practical = false


                        %>
                          <% @all_exam_groups.each do |exam_group| %>
                            <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                            <% unless examfound.blank? %>
                              <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                <% subjective = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>

                              <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                <% objective = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>

                              <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                <% practical = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>
                            <% end %>

                          <% end %>
                        <% end %>
                      <% end %>

                          <td>Total</td>
                          <td class="col-pdf">Rank</td>

                      </tr>
                    <% elsif std_count>21 && extender ==1 %>
                      <% std_count = 0 %>
                      <% extender = 1 %>
                      <tr class="page-break">
                          <td colspan="100">&nbsp;</td>
                      </tr> 
                      <tr class="table-header">
                          <td class="col-pdf">Roll</td>
                          <td class="col-pdf">Students Name</td>
                          <% @report_data['report']['subjects'].each do |sub| %>
                        <% has_exam = false %>
                        <% if @all_subject_id.include?(sub['id'].to_i) %>
                          <% has_exam = true %>
                        <% end %>
                        <% if has_exam == true %>
                          <% 
                          subjective = false
                          objective = false
                          practical = false


                        %>
                          <% @all_exam_groups.each do |exam_group| %>
                            <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                            <% unless examfound.blank? %>
                              <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                <% subjective = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>

                              <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                <% objective = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>

                              <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                <% practical = true %>
                                <td><%=  sub['code'] %></td>
                              <% end %>
                            <% end %>

                          <% end %>
                        <% end %>
                      <% end %>

                          <td>Total</td>
                          <td class="col-pdf">Rank</td>

                      </tr>
                    <% end %>    



                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                        <td class="name"><%= std['class_roll_no'] %></td>
                        <td class="name-std"><%= std['first_name']+" "+std['last_name'] %></td>
                        <% total_mark = 0 %>
                        <% grades = [] %>
                        <% grade_count = {} %>
                        <% @report_data['report']['subjects'].each do |sub| %>
                          <% subjectdata = Subject.find(sub['id'].to_i) %>
                          <% check_std_subject = StudentsSubject.find_by_student_id_and_subject_id(std['id'],sub['id'].to_i) %>
                          <% if check_std_subject.blank? and !subjectdata.elective_group_id.blank? %>
                            <td>&nbsp;</td>
                          <% else %>
                            <% subject_full_mark = 0 %>
                            <% subject_obtain_mark = 0 %>
                            <% subject_subjective_full_mark = 0 %>
                            <% subject_subjective_obtain_mark = 0 %>
                            
                            <% subject_objective_full_mark = 0 %>
                            <% subject_objective_obtain_mark = 0 %>
                            
                            
                            <% subject_prac_full_mark = 0 %>
                            <% subject_prac_obtain_mark = 0 %>
                            
                            <% 
                              subjective = false
                              objective = false
                              practical = false
                            %>
                            
                            <% has_exam = false %>
                            <% if @all_subject_id.include?(sub['id'].to_i) %>
                              <% has_exam = true %>
                            <% end %>

                            <% @report_data['report']['exams'].each do |rs| %>
                              <% unless has_exam == false  %> 
                                
                                <% @examobj = Exam.find_by_exam_group_id_and_subject_id(rs['exam_id'].to_i,sub['id'].to_i) %>
                                <% check_exam = false %>
                                <% unless @examobj.blank?  %>
                                  <% @exam_score_all = ExamScore.find_all_by_exam_id(@examobj.id.to_i) %>
                                  <% if @exam_score_all.blank? %>
                                    <% check_exam = false %>
                                  <% else %>
                                    <% @exam_score_all.each do |score| %>
                                      <%
                                      unless score.marks.blank?
                                        check_exam = true
                                      break
                                        end
                                    %>
                                    <% end %>
                                  <% end %>
                                <% end %>
                              
                            



                              <% if !rs['result'].blank? and !rs['result'][rs['exam_id']].blank? and !rs['result'][rs['exam_id']][sub['id']].blank? and !rs['result'][rs['exam_id']][sub['id']][std['id']].blank? and check_exam == true %>

                                <%

                                subject_full_mark = subject_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                subject_obtain_mark = subject_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                
                                if !@examobj.name.index('Sub').nil?
                                  subjective = true
                                  subject_subjective_full_mark = subject_subjective_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                  subject_subjective_obtain_mark = subject_subjective_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                end 
                              
                                if !@examobj.name.index('Obj').nil?
                                  objective = true
                                  subject_objective_full_mark = subject_objective_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                  subject_objective_obtain_mark = subject_objective_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                end 
                              
                                if !@examobj.name.index('Prac').nil?
                                  practical = true
                                  subject_prac_full_mark = subject_prac_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                  subject_prac_obtain_mark = subject_prac_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                end 


                              %>
                              <% end %>
                            <% end %> 

                            <% main_mark = (subject_obtain_mark.to_f/subject_full_mark.to_f)*100 %>  
                            <% total_mark = total_mark+subject_obtain_mark.to_f %>
                              <% if subjective == true %>
                              <td>
                                  <%= subject_subjective_obtain_mark.round() %>
                              </td> 
                              <% end %>
                              <% if objective == true %>
                              <td>
                                  <%= subject_objective_obtain_mark.round() %>
                              </td> 
                              <% end %>
                              <% if practical == true %>
                              <td>
                                  <%= subject_prac_obtain_mark.round() %>
                              </td> 
                              <% end %>
                            <% end %>
                          <% end %>   
                        <% end %> 
                             

                        <td>
                            <%= total_mark %>    
                        </td>
                        <td class="col-pdf"><%= j %></td>


                    </tr>
                  <% end %>
              </table>
            <% end %>
        </center>
    </div>


</div>
