<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="page-yield" class="available_sections1 legal_tabulation">
    <div class="page1"> </div>
    <div class="section1 row" >
        <center>
            <div id="pdf-header-south" class="general-header">
                <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '4%' %></h4>
                <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
            </div>
            <h4 align="center">Tabulation Sheet, <%= @connect_exam_obj.name %></h4>
            <table width="100%" >
                <thead>
                    <tr>
                        <td><b>Year: <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B-%Y"):@connect_exam_obj.published_date.strftime("%B-%Y") %> </b></td>
                        <td align="right"><b>Class : 
                                <% if @batch.name == "General" %>
                                  <%= @batch.course.full_name %>
                                <% else %>
                                  <%= @batch.name %> ,<%= @batch.course.full_name %>
                                <% end %></b>
                        </td>
                    </tr>
                </thead>    
            </table>
            <% 
            @all_subject_id = []
            @has_exam_score = []
            @all_exam_groups = []
            @all_group_exams = GroupedExam.find(
              :all,
              :conditions => [
                "connect_exam_id = ?",
                @connect_exam_obj.id
              ]
              )
            unless @all_group_exams.blank?
              @all_exam_group_id = @all_group_exams.map(&:exam_group_id).uniq


              @all_exams = Exam.find(
                :all,
                :conditions => ["exam_group_id IN (?)", @all_exam_group_id],
                :include => [:exam_group]
                )
              
              @subjective_marks = {}
              @objective_marks = {}
              @practical_marks = {}
              
              

              @all_exam_groups = ExamGroup.find(
                :all,
                :conditions => ["id IN (?)", @all_exam_group_id]
                )


              unless @all_exams.blank?
                
                @all_exams.each do |exam|
                  
                  unless exam.exam_group.name.index('Sub').nil?
                    if @subjective_marks[exam.subject_id.to_i].nil?
                        @subjective_marks[exam.subject_id.to_i] = 0
                    end
                    @subjective_marks[exam.subject_id.to_i] = @subjective_marks[exam.subject_id.to_i]+exam.maximum_marks.to_i
                  end 
                  
                  unless exam.exam_group.name.index('Obj').nil?
                    if @objective_marks[exam.subject_id.to_i].nil?
                        @objective_marks[exam.subject_id.to_i] = 0
                    end
                    @objective_marks[exam.subject_id.to_i] = @objective_marks[exam.subject_id.to_i]+exam.maximum_marks.to_i
                  end
                  
                  unless exam.exam_group.name.index('Prac').nil?
                    if @practical_marks[exam.subject_id.to_i].nil?
                        @practical_marks[exam.subject_id.to_i] = 0
                    end
                    @practical_marks[exam.subject_id.to_i] = @practical_marks[exam.subject_id.to_i]+exam.maximum_marks.to_i
                  end
                  
                end  
                
                
                @all_subject_id = @all_exams.map(&:subject_id).uniq
                @all_exam_id = @all_exams.map(&:id).uniq
                @exam_score_all = ExamScore.find(
                  :all,
                  :conditions => ["exam_id IN (?)", @all_exam_id],
                  :include => [:exam]
                  )
                @has_exam_score = []
                unless @exam_score_all.blank?
                  @exam_score_all.each do |score|
                      if !score.marks.blank? and score.marks.to_i!=0 and !@has_exam_score.include?(score.exam_id)
                        exammain = score.exam
                        unless exammain.blank?
                          @has_exam_score << exammain.exam_group_id.to_s+"_"+exammain.subject_id.to_s
                        end
                      end
                  end
                end
                
              end
              end
            
              std_subject = StudentsSubject.find_all_by_batch_id(@batch.id)
              @std_subject_hash = []
              unless std_subject.blank?
                std_subject.each do |std_sub|
                  @std_subject_hash << std_sub.student_id.to_s+"_"+std_sub.subject_id.to_s
                end
              end
            
             
          %>
            <% unless @report_data.blank? %>
              <% c = 'even' %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <tr class="table-header">

                      <td class="col-pdf">Roll</td>
                      <td class="col-pdf">Students Name</td>
                      <% @report_data['report']['subjects'].each do |sub| %>
                        <% has_exam = false %>
                        <% if @all_subject_id.include?(sub['id'].to_i) %>
                          <% has_exam = true %>
                        <% end %>
                        <% if has_exam == true %>
                          <% 
                          subjective = false
                          objective = false
                          practical = false


                        %>
                          <% @all_exam_groups.each do |exam_group| %>
                            <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                            <% unless examfound.blank? %>
                              <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                <% subjective = true %>
                                <td>
                                   <%=  sub['code'] %>
                                   <% unless @subjective_marks[sub['id'].to_i].nil? %>
                                      <hr/>
                                      <%= @subjective_marks[sub['id'].to_i] %>
                                   <% end %>
                                </td>
                              <% end %>

                              <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                <% objective = true %>
                                <td><%=  sub['code'] %>
                                <% unless @objective_marks[sub['id'].to_i].nil? %>
                                    <hr/>
                                    <%= @objective_marks[sub['id'].to_i] %>
                                <% end %>
                               </td>
                              <% end %>

                              <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                <% practical = true %>
                                <td><%=  sub['code'] %>
                                <% unless @practical_marks[sub['id'].to_i].nil? %>
                                    <hr/>
                                    <%= @practical_marks[sub['id'].to_i] %>
                                <% end %>
                                </td>
                              <% end %>
                            <% end %>

                          <% end %>
                        <% end %>
                      <% end %>

                      <td>Total</td>
                      <td class="col-pdf">Rank</td>

                  </tr>

                  <% extender = 0 %>
                  <% std_count = 0 %>
                  <% j = 0 %>

                  <% @report_data['report']['students'].each do |std| %>
                    <% j = j+1 %>
                    <%  std_count = std_count+1; %>
                    <% if std_count>11 && extender ==0 %>
                      <% std_count = 0 %>
                      <% extender = 1 %>
                      <tr class="page-break">
                          <td colspan="100">&nbsp;</td>
                      </tr>  
                      <tr class="table-header">
                          <td class="col-pdf">Roll</td>
                          <td class="col-pdf">Students Name</td>
                          <% @report_data['report']['subjects'].each do |sub| %>
                            <% has_exam = false %>
                            <% if @all_subject_id.include?(sub['id'].to_i) %>
                              <% has_exam = true %>
                            <% end %>
                            <% if has_exam == true %>
                              <% 
                              subjective = false
                              objective = false
                              practical = false


                            %>
                              <% @all_exam_groups.each do |exam_group| %>
                                <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                                <% unless examfound.blank? %>
                                  <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                <% subjective = true %>
                                <td>
                                   <%=  sub['code'] %>
                                   <% unless @subjective_marks[sub['id'].to_i].nil? %>
                                      <hr/>
                                      <%= @subjective_marks[sub['id'].to_i] %>
                                   <% end %>
                                </td>
                                <% end %>

                                <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                  <% objective = true %>
                                  <td><%=  sub['code'] %>
                                  <% unless @objective_marks[sub['id'].to_i].nil? %>
                                      <hr/>
                                      <%= @objective_marks[sub['id'].to_i] %>
                                  <% end %>
                                 </td>
                                <% end %>

                                <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                  <% practical = true %>
                                  <td><%=  sub['code'] %>
                                  <% unless @practical_marks[sub['id'].to_i].nil? %>
                                      <hr/>
                                      <%= @practical_marks[sub['id'].to_i] %>
                                  <% end %>
                                  </td>
                                <% end %>
                                <% end %>

                              <% end %>
                            <% end %>
                          <% end %>

                          <td>Total</td>
                          <td class="col-pdf">Rank</td>

                      </tr>
                    <% elsif std_count>12 && extender ==1 %>
                      <% std_count = 0 %>
                      <% extender = 1 %>
                      <tr class="page-break85">
                          <td colspan="100">&nbsp;</td>
                      </tr> 
                      <tr class="table-header">
                          <td class="col-pdf">Roll</td>
                          <td class="col-pdf">Students Name</td>
                          <% @report_data['report']['subjects'].each do |sub| %>
                            <% has_exam = false %>
                            <% if @all_subject_id.include?(sub['id'].to_i) %>
                              <% has_exam = true %>
                            <% end %>
                            <% if has_exam == true %>
                              <% 
                              subjective = false
                              objective = false
                              practical = false


                            %>
                              <% @all_exam_groups.each do |exam_group| %>
                                <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                                <% unless examfound.blank? %>
                                  <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                  <% subjective = true %>
                                  <td>
                                     <%=  sub['code'] %>
                                     <% unless @subjective_marks[sub['id'].to_i].nil? %>
                                        <hr/>
                                        <%= @subjective_marks[sub['id'].to_i] %>
                                     <% end %>
                                  </td>
                                  <% end %>

                                  <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                    <% objective = true %>
                                    <td><%=  sub['code'] %>
                                    <% unless @objective_marks[sub['id'].to_i].nil? %>
                                        <hr/>
                                        <%= @objective_marks[sub['id'].to_i] %>
                                    <% end %>
                                   </td>
                                  <% end %>

                                  <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                    <% practical = true %>
                                    <td><%=  sub['code'] %>
                                    <% unless @practical_marks[sub['id'].to_i].nil? %>
                                        <hr/>
                                        <%= @practical_marks[sub['id'].to_i] %>
                                    <% end %>
                                    </td>
                                  <% end %>
                                <% end %>

                              <% end %>
                            <% end %>
                          <% end %>

                          <td>Total</td>
                          <td class="col-pdf">Rank</td>

                      </tr>
                    <% end %>    



                    <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">

                        <td class="name"><%= std['class_roll_no'] %></td>
                        <td class="name-std"><%= std['first_name']+" "+std['last_name'] %></td>
                        <% total_mark = 0 %>
                        <% grades = [] %>
                        <% grade_count = {} %>
                        <% @report_data['report']['subjects'].each do |sub| %>
                          <%= render  :partial=>"/connect_exam/check_student_subject", :locals=>{:student_id=>std['id'].to_s,:subject_id=>sub['id'].to_s,:elective_group_id=>sub['elective_group_id'].to_i} %>
                          
                          <% if @has_exam_student == false %>
                              
                              <% has_exam = false %>
                              <% if @all_subject_id.include?(sub['id'].to_i) %>
                                <% has_exam = true %>
                              <% end %>
                        
                              <% if has_exam == true %>
                                  <% 
                                    subjective = false
                                    objective = false
                                    practical = false
                                  %>
                                <% @all_exam_groups.each do |exam_group| %>
                                  <% examfound = Exam.find_by_exam_group_id_and_subject_id(exam_group.id,sub['id'].to_i) %>
                                  <% unless examfound.blank? %>
                                    <% if !exam_group.name.index('Sub').nil? && subjective == false %>
                                      <% subjective = true %>
                                      <td>&nbsp;</td>
                                    <% end %>

                                    <% if !exam_group.name.index('Obj').nil? && objective == false %>
                                      <% objective = true %>
                                      <td>&nbsp;</td>
                                    <% end %>

                                    <% if !exam_group.name.index('Prac').nil? && practical == false %>
                                      <% practical = true %>
                                      <td>&nbsp;</td>
                                    <% end %>
                                  <% end %>

                                <% end %>
                              <% end %>
                          <% else %>
                            <% subject_full_mark = 0 %>
                            <% subject_obtain_mark = 0 %>
                            <% subject_subjective_full_mark = 0 %>
                            <% subject_subjective_full_mark_single = 0 %>
                            <% subject_subjective_obtain_mark = 0 %>

                            <% subject_objective_full_mark = 0 %>
                            <% subject_objective_full_mark_single = 0 %>
                            <% subject_objective_obtain_mark = 0 %>


                            <% subject_prac_full_mark = 0 %>
                            <% subject_prac_full_mark_single = 0 %>
                            <% subject_prac_obtain_mark = 0 %>

                            <% 
                              subjective = false
                              objective = false
                              practical = false
                            %>
                                
                            <% has_exam = false %>
                            <% if @all_subject_id.include?(sub['id'].to_i) %>
                              <% has_exam = true %>
                            <% end %>

                            <% @report_data['report']['exams'].each do |rs| %>
                              <% unless has_exam == false  %> 
                                
                                 
                                <%= render  :partial=>"/connect_exam/has_exam_score", :locals=>{:exam_group_id=>rs['exam_id'].to_s,:subject_id=>sub['id'].to_s} %>
                               
                                 <% 
                                 if @check_exam_score == true
                                  if !rs['exam_name'].index('Sub').nil?
                                    subjective = true
                                  end 

                                  if !rs['exam_name'].index('Obj').nil?
                                    objective = true
                                  end 

                                  if !rs['exam_name'].index('Prac').nil?
                                    practical = true
                                  end
                                 end
                                %>



                                <% if !rs['result'].blank? and !rs['result'][rs['exam_id']].blank? and !rs['result'][rs['exam_id']][sub['id']].blank? and !rs['result'][rs['exam_id']][sub['id']][std['id']].blank? and @check_exam_score == true %>

                                  <%

                                  subject_full_mark = subject_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                  subject_obtain_mark = subject_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f

                                  if !rs['exam_name'].index('Sub').nil?
                                    subject_subjective_full_mark_single = rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                    subject_subjective_full_mark = subject_subjective_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                    subject_subjective_obtain_mark = subject_subjective_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                  end 

                                  if !rs['exam_name'].index('Obj').nil?
                                    subject_objective_full_mark_single = rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                    subject_objective_full_mark = subject_objective_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                    subject_objective_obtain_mark = subject_objective_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                  end 

                                  if !rs['exam_name'].index('Prac').nil?
                                    subject_prac_full_mark_single = rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                    subject_prac_full_mark = subject_prac_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                                    subject_prac_obtain_mark = subject_prac_obtain_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f
                                  end 


                                %>
                                <% end %>
                              <% end %> 
                            <% end %>
                            <% main_mark = (subject_obtain_mark.to_f/subject_full_mark.to_f)*100 %>  
                            <% total_mark = total_mark+subject_obtain_mark.to_f %>
                            <% fail_grade = false %>
                            <% if subjective == true %>
                              <td>
                                  <%= subject_subjective_obtain_mark.round() %>
                                  
                                  <%  
                                    grade_name_single = ""
                                    if subject_subjective_full_mark > 0 
                                      if subject_subjective_obtain_mark.to_i == 0
                                          fail_grade = true
                                          grade_name_single = "U"
                                      else
                                          mark_for_grade = (subject_subjective_obtain_mark.to_f/subject_subjective_full_mark.to_f)*100 
                                          grade_check = GradingLevel.percentage_to_grade(mark_for_grade, @batch.id)
                                          if !grade_check.blank? and !grade_check.name.blank?
                                            if grade_check.name.to_s == "U"
                                              fail_grade = true
                                            end 
                                            grade_name_single = grade_check.name
                                          end

                                          if fail_grade == true  and subject_subjective_full_mark_single.to_i == 50
                                            if mark_for_grade.to_f >= 44.00
                                              fail_grade = false
                                              grade_name_single = "D"
                                            end
                                          end

                                      end
                                    end
                                  %>
                                  <hr/>
                                  <% if grade_name_single == "U" %>
                                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/delete_image.gif")) %>
                                  <% else %>
                                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/tick_image.gif")) %>
                                  <% end %>
                              </td> 
                            <% end %>
                            <% if objective == true %>
                              <td>
                                
                                  <%= subject_objective_obtain_mark.round() %>
                                  <%  
                                    grade_name_single = ""
                                    
                                    if subject_objective_full_mark > 0 
                                        if subject_objective_obtain_mark.to_i == 0
                                            fail_grade = true
                                            grade_name_single = "U"
                                        else
                                            mark_for_grade = (subject_objective_obtain_mark.to_f/subject_objective_full_mark.to_f)*100 
                                            grade_check = GradingLevel.percentage_to_grade(mark_for_grade, @batch.id)
                                            if !grade_check.blank? and !grade_check.name.blank?
                                              if grade_check.name.to_s == "U"
                                                fail_grade = true
                                              end 
                                              grade_name_single = grade_check.name
                                            end
                                          
                                            if fail_grade == false  and subject_objective_full_mark_single.to_i == 25
                                              if mark_for_grade.to_f < 48.00
                                                fail_grade = true
                                                grade_name_single = "D"
                                              end
                                            end
                                            
                                         end
                                      end
                                      
                                  %>
                                  <hr/>
                                  <% if grade_name_single == "U" %>
                                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/delete_image.gif")) %>
                                  <% else %>
                                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/tick_image.gif")) %>
                                  <% end %>
                              </td> 
                            <% end %>
                            <% if practical == true %>
                              <td> 
                                  <%= subject_prac_obtain_mark.round() %>
                                  <%  
                                    grade_name_single = ""
                                    if subject_prac_full_mark > 0 
                                      if subject_prac_obtain_mark.to_i == 0
                                          fail_grade = true
                                          grade_name_single = "U"
                                      else
                                          mark_for_grade = (subject_prac_obtain_mark.to_f/subject_prac_full_mark.to_f)*100 
                                          grade_check = GradingLevel.percentage_to_grade(mark_for_grade, @batch.id)
                                          if !grade_check.blank? and !grade_check.name.blank?
                                            if grade_check.name.to_s == "U"
                                              fail_grade = true
                                            end 
                                            grade_name_single = grade_check.name
                                          end

                                          if fail_grade == true  and subject_prac_full_mark_single.to_i == 25
                                            if mark_for_grade.to_f >= 44.00
                                              fail_grade = false
                                              grade_name_single = "D"
                                            end
                                          end

                                      end
                                    end
                                  %>
                                  <hr/>
                                  <% if grade_name_single == "U" %>
                                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/delete_image.gif")) %>
                                  <% else %>
                                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/280/tick_image.gif")) %>
                                  <% end %>
                              </td> 

                            <% end %>
                          <% end %>   
                        <% end %> 


                        <td>
                            <%= total_mark %>    
                        </td>
                        <td class="col-pdf"><%= j %></td>


                    </tr>
                  <% end %>
              </table>
            <% end %>
        </center>
    </div>


</div>
