<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<title>Student Fees Receipt</title>
<div id="page-yield" class="available_sections">
    <div class="header-sagc">
        <div class="header-sagc-left">
            <div class="logo-left"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/sagc_logo.png")),:width=> '60%',:style=>"margin-left: 20%; margin-top: 10%;" %></div>
            <div class="school-name-left">
                <h2><%=Configuration.get_config_value('InstitutionName').upcase; %></h2>
                <span>Dhaka Cantonment</span>
                <span>Dhaka-1206</span>
                <span>Phone: 9833306, Web: sagc.edu.bd</span>
            </div>
        </div>
        <div class="header-sagc-right">
            <span><%=  Time.now.strftime("%B %d, %Y") %></span>
            <span>Page 1 of 1</span>
        </div>
    </div>
    <div class="sub-header-sagc">
        <div class="sub-header-sagc-left">
          <%#=debug @paid_fees.inspect %>
            <%
              batchsplit = @student.batch.name.split(" ")
              version = ""
              batch = batchsplit[0]
              unless batchsplit[1].blank?
                version = batchsplit[1]
              end
              unless batchsplit[2].blank?
                version = version+" "+batchsplit[2]
              end
              std_category = ""
              unless @student.student_category.blank?
                std_category = @student.student_category.name
              end
            %>
            <%
              trans_data = ""
              trans_id = ""
              trans_type = ""
            %>
            <% unless @paid_fees.blank? %>
            <% unless params[:trn_id].nil? %>
              <% payment = Payment.find_by_payment_id_and_finance_transaction_id(@financefee.id,params[:trn_id]) %>
              <%else %>
              <% payment = Payment.find_by_payment_id(@financefee.id) %>
              <%end %>

            <%
              unless payment.nil? or payment.blank?
                trans_data = I18n.l(payment.transaction_datetime.to_date,:format=>"%d-%m-%Y")
                #trans_data = I18n.l((payment.created_at.to_time + 6.hours).to_datetime,:format=>"%d-%m-%Y")
                trans_id = payment.gateway_response[:order_id]
		if payment.gateway_txt == 'bkash'
		trans_type = "bKash Online Payment "
		trans_id = payment.order_id	
		else
                if payment.gateway_response[:payment_type] == "MB"
                  trans_type = "TBL Mobile banking"
                else
                  trans_type = "TBL Card Payment"
                end
		end
              else
                unless params[:trn_id].nil?
                  @paid_fees.select{ |f| f.id.to_i == params[:trn_id].to_i}.each do |p|
                    trans_data += I18n.l(p.transaction_date.to_date,:format=>"%d-%m-%Y") + ","
                    trans_id += p.id.to_s + ","
                    trans_type += p.payment_mode.to_s + ","
                  end
                else
                  @paid_fees.each do |p|
                    trans_data += I18n.l(p.transaction_date.to_date,:format=>"%d-%m-%Y") + ","
                    trans_id += p.id.to_s + ","
                    trans_type += p.payment_mode.to_s + ","
                  end
                  end

                trans_data = trans_data[0...trans_data.length - 1]
                trans_id = trans_id[0...trans_id.length - 1]
                trans_type = trans_type[0...trans_type.length - 1]
              end
            %>
            <% end %>
            <div class="std-area">
                <div class="std-items">
                    <div class="label">StudentID: </div>
                    <div class="text"><%=  "#{@student.admission_no}" %></div>
                </div>
                <div class="std-items">
                    <div class="label">StudentRoll: </div>
                    <div class="text"><%=  "#{@student.class_roll_no}" %></div>
                </div>
                <div style="clear: both; height: 4px;"></div>
                <div class="std-items-full">
                    <div class="label">Student Name: </div>
                    <div class="text"><%=  "#{@student.full_name}" %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
                <div class="std-items-full">
                    <div class="label">Version: </div>
                    <div class="text"><%= version %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
                <div class="std-items">
                    <div class="label">Class: </div>
                    <div class="text"><%= @student.batch.course.course_name %></div>
                </div>
                <div class="std-items">
                    <div class="label">Group: </div>
                    <div class="text"><%= @student.batch.course.group %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
                <div class="std-items">
                    <div class="label">Section: </div>
                    <div class="text"><%= @student.batch.course.section_name %></div>
                </div>
                <div class="std-items">
                    <div class="label">Shift: </div>
                    <div class="text"><%= batch %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
                <div class="std-items">
                    <div class="label">Session: </div>
                    <div class="text"><%= @student.batch.course.session %></div>
                </div>
                <div class="std-items">
                    <div class="label">Category: </div>
                    <div class="text"><%= std_category %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div class="sub-header-sagc-right">
            <div class="receipt-area">
                <div class="money_receipt">Money Receipt</div>
                <div class="std-items-full">
                    <div class="label">Transaction Date: </div>
                    <div class="text"><%= trans_data %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
                <div class="std-items-full">
                    <div class="label">Transaction ID: </div>
                    <div class="text"><%= trans_id %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
                <div class="std-items-full">
                    <div class="label">Transaction Type: </div>
                    <div class="text"><%= trans_type %></div>
                </div>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div class="content-area">
        <table>
            <tr class="thead">
                <td class="sri">Srl</td>
                <td class="desc">Description</td>
                <td class="amt">Total Amount</td>
            </tr>
            <% k = 0 %>
            <% total_fees = 0 %>
            <% @fee_particulars.each do |fee| %>
                  <% unless @paid_fees.blank? %>

              <% unless params[:trn_id].nil? %>
                <% transaction_ids = params[:trn_id] %>
                <% paidFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Particular' AND transaction_type IN ('Fee Collection', 'Advance') AND finance_transaction_id IN (" + transaction_ids + ") AND particular_id = #{fee.id}") %>
                <%else %>
                <% transaction_ids = @paid_fees.map(&:id) %>
                <% paidFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Particular' AND transaction_type IN ('Fee Collection', 'Advance') AND finance_transaction_id IN (" + transaction_ids.join(",") + ") AND particular_id = #{fee.id}") %>
                <%end %>

                    <% unless paidFess.blank? %>
                      <% amount =  paidFess.map(&:amount).sum  %>
                      <tr  class="content">
                          <%k+=1%>
                          <td style="text-align: center;"><%= k %></td>
                          <td><%= fee.name %></td>
                          <td class="amount"><% if amount.to_i > 0 %><%= "#{precision_label(amount.to_s)}" %><% else %>-<% end %></td>
                      </tr>
                      <% total_fees += amount %>   
                    <% end %>
                  <% else %>
                      <tr  class="content">
                          <%k+=1%>
                          <td style="text-align: center;"><%= k %></td>
                          <td><%= fee.name %></td>
                          <td class="amount"><% if fee.amount.to_i > 0 %><%= "#{precision_label(fee.amount.to_s)}" %><% else %>-<% end %></td>
                      </tr>
                      <% total_fees += fee.amount %>   
                  <% end %>
            <% end %>
            <tr  class="content">
                <td colspan="3"></td>
            </tr>      
            <% total_discount = 0 %>
            <% unless @total_discount == 0 %>
              <% unless @onetime_discounts.nil? or @onetime_discounts.empty? or @onetime_discounts.blank? %>
                <% @onetime_discounts.each do |d| %>
                  <% amount = 0 %>
                  <% already_paid = false %>
                  <% unless @paid_fees.blank? %>
                    <% transaction_ids = @paid_fees.map(&:id) %> 
                    <% paidFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Adjustment' AND transaction_type = 'Discount' AND finance_transaction_id IN (" + transaction_ids.join(",") + ") AND particular_id = #{d.id}") %>
                    <% already_paid = true %>
                    <% amount =  paidFess.map(&:amount).sum  %>
                  <% else %>  
                    <% unless @onetime_discounts_amount[d.id].nil? or @onetime_discounts_amount[d.id].blank? %>  
                      <% amount = @onetime_discounts_amount[d.id] %>
                    <% else %>
                      <% amount = @total_payable * d.discount.to_f/ (d.is_amount?? @total_payable : 100) %>
                    <% end %>
                  <% end %>
                  <% k += 1 %>
                  <% if amount > 0 and already_paid %>
                  <tr  class="content">
                    <td style="text-align: center;"><%= k %></td>
                    <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}&#x200E; (#{d.discount})% &#x200E;" %>
                    <td><%= discount_text %></td>
                    <td class="amount">
                        <b>(-)</b>&nbsp;&nbsp;&nbsp;<%= precision_label(amount) %>
                        <% total_discount += amount %>
                    </td>
                  </tr>
                  <% elsif already_paid == false and amount.to_i > 0 %>
                  <tr  class="content">
                    <td style="text-align: center;"><%= k %></td>
                    <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}&#x200E; (#{d.discount})% &#x200E;" %>
                    <td><%= discount_text %></td>
                    <td class="amount">
                        <b>(-)</b>&nbsp;&nbsp;&nbsp;<%= precision_label(amount) %>
                        <% total_discount += amount %>
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %> 

              <% unless @discounts.nil? or @discounts.empty? or @discounts.blank? %>  
                <% @discounts.each do |d| %>
                  <% amount = 0 %>
                  <% already_paid = false %>
                  <% unless @paid_fees.blank? %>
                    <% transaction_ids = @paid_fees.map(&:id) %> 
                    <% paidFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Adjustment' AND transaction_type = 'Discount' AND finance_transaction_id IN (" + transaction_ids.join(",") + ") AND particular_id = #{d.id}") %>
                    <% already_paid = true %>
                    <% amount =  paidFess.map(&:amount).sum  %>
                  <% else %>  
                    <% unless @discounts[d.id].nil? or @discounts[d.id].blank? %>  
                      <% amount = @discounts_amount[d.id] %>
                    <% else %>
                      <% amount = @total_payable * d.discount.to_f/ (d.is_amount?? @total_payable : 100) %>
                    <% end %>
                  <% end %>
                  <%  k += 1%>
                  <% if amount > 0 and already_paid %>
                  <tr  class="content">
                    <td style="text-align: center;"><%= k %></td>
                    <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}&#x200E; (#{d.discount})% &#x200E;" %>
                    <td><%= discount_text %></td>
                    <td class="amount">
                        <b>(-)</b>&nbsp;&nbsp;&nbsp;<%= precision_label(amount) %>
                        <% total_discount += amount %>
                    </td>
                  </tr>
                  <% elsif already_paid == false and amount.to_i > 0 %>
                  <tr  class="content">
                    <td style="text-align: center;"><%= k %></td>
                    <% discount_text = d.is_amount == true ? "#{d.name}" : "#{d.name}&#x200E; (#{d.discount})% &#x200E;" %>
                    <td><%= discount_text %></td>
                    <td class="amount">
                        <b>(-)</b>&nbsp;&nbsp;&nbsp;<%= precision_label(amount) %>
                        <% total_discount += amount %>
                    </td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>      
            <%  k += 1%> 
            <%
              fine_amount_paid = 0.0
              unless @paid_fees.blank?
                transaction_ids = @paid_fees.map(&:id)
                unless transaction_ids.blank?
                  paidFineFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Fine' AND finance_transaction_id IN (" + transaction_ids.join(",") + ")")
                  unless paidFineFess.blank?
                    fine_amount_paid += paidFineFess.map(&:amount).sum.to_f
                  end
                end
              else
                fine_amount_paid = @fine_amount
              end
            %>
            <% if fine_amount_paid > 0 %>
              <tr  class="content">
                  <td style="text-align: center;"><%= k %></td>
                  <td><%= "Fine Paid" %></td>
                  <td class="amount">
                      &nbsp;&nbsp;&nbsp;<%= precision_label(fine_amount_paid) %>
                      <% total_fees += fine_amount_paid %>
                  </td>
              </tr>      
            <% end %>
                  
            <tr  class="content">
                <td colspan="3"></td>
            </tr>      
            
            <tr class="tfoot">
                <% vat_amount = 0 %>
                <% balance=total_fees-total_discount %>
                <td colspan="2"><h2 class='in-words'>in Words TK: <%= in_words(balance.to_i).split.map(&:capitalize).join(' ') if total_fees.to_i > 0 %></h2></td>
                <td>Total: <span><%= precision_label balance %></span></td>
            </tr>
        </table>
        <p><b>This is a computer generated copy no signature is required</b></p>
    </div>
</div>
<style>
    .header-sagc{
        width: 99%;
        padding-bottom: 20px;
    }
    .sub-header-sagc{
        width: 99%;
        height: 200px;
        float: left;
        margin-bottom: 10px;
    }
    .content-area{
        width: 99%;
    }
    .content-area table{
        width: 100%;
    }
    .content-area table tr.thead, .content-area table tr.tfoot{
        width: 100%;
        background: #A5A5A5;
        height: 40px;
        border: none;
    }
    .content-area table tr.content{
        width: 100%;
        background: #E5E5E5;
        height: 20px;
        border: none;
    }
    .content-area table tr.content td{
        padding: 2px 20px;
    }
    .content-area table tr.content td.amount{
        text-align: right;
    }
    .content-area table tr.thead td{
        height: 20px;
        text-align: center;
    }
    .content-area table tr.thead td.sri{
        width: 5%;
    }
    .content-area table tr.tfoot td{
        height: 20px;
        text-align: left;
        padding: 2px 20px;
    }
    .content-area table tr.tfoot td span{
        float: right;
        font-weight: bold;
        font-size: 9px;
    }
    .content-area table tr.tfoot td h2{
        font-weight: bold;
        font-size: 9px;
    }
    .header-sagc-left{
        width: 80%;
        vertical-align: top;
        display: inline-table;
    }
    .sub-header-sagc-left{
        width: 60%;
        vertical-align: top;
        display: inline-table;
        padding: 4px;
        float: left; 
    }
    .sub-header-sagc-right{
        width: 39%;
        vertical-align: top;
        display: inline-table;
        padding: 4px;
        float: right;
    }
    .sub-header-sagc-left .std-area{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 130px;
        border-radius: 8px;
        background: #E5E5E5;
        padding: 10px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .sub-header-sagc-left .std-items{
        width: 50%;
        border-bottom: 1px solid #fff;
        display: inline-table;
        padding-bottom: 6px;
    }
    .sub-header-sagc-left .std-items-full{
        width: 100%;
        border-bottom: 1px solid #fff;
        display: inline-table;
        padding-bottom: 6px;
    }
    .sub-header-sagc-left .std-items .label{
        width: 70%;
        padding-right: 5%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-left .std-items-full .label{
        width: 35%;
        padding-right: 2%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-left .std-items .text{
        width: 24%;
        display: inline-table;
        font-size: 11px;
    }
    .sub-header-sagc-left .std-items-full .text{
        width: 62%;
        display: inline-table;
        font-size: 11px;
    }
    .sub-header-sagc-right .receipt-area{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 176px;
        border-radius: 8px;
        background: #E5E5E5;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }
    .sub-header-sagc-right .receipt-area .money_receipt{
        width: 100%;
        border: 1px solid #ccc;
        display: inline-table;
        height: 50px;
        border-radius: 8px;
        background: #A5A5A5;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 auto;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .sub-header-sagc-right .receipt-area .std-items-full{
        width: 100%;
        padding-bottom: 10px;
        display: inline-table;
    }
    .sub-header-sagc-right .receipt-area .std-items-full .label{
        width: 50%;
        padding-right: 2%;
        display: inline-table;
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .sub-header-sagc-right .receipt-area .std-items-full .text{
        width: 48%;
        display: inline-table;
        font-size: 11px;
    }
    .header-sagc-left .logo-left{
        width: 15%;
        display: inline-block;
    }
    .header-sagc-left .school-name-left{
        width: 84%;
        display: inline-table;
        vertical-align: top;
    }
    .header-sagc-left .school-name-left h2{
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .header-sagc-left .school-name-left span:first-child{
        padding-top: 10px;
    }
    .header-sagc-left .school-name-left span{
        font-size: 11px;
        display: block;
        vertical-align: top;
        padding-bottom: 4px;
    }
    .header-sagc-right span{
        font-size: 11px;
        display: block;
        vertical-align: top;
        padding-bottom: 10px;
    }
    .header-sagc-right{
        width: 19%;
        vertical-align: top;
        display: inline-table;
        text-align: center;
        margin-top: 5px;
    }
</style>

<style>

 #page-yield div.div-33
{
    float:left;
    width: 32%;
    margin-right: 15px;
    border: 1px solid black;
    min-height: 680px
    
} 
#page-yield div.div-33 .section .general-header
{
    width: 100%;
}
#page-yield div.div-33:last-child
{
    margin-right: 0px;
}
table.vat_area tr td
{
    font-size: 10px;
   
}
.registration_numer
{
  font-size: 10px;
}
.logo-left-div
{
  float:left;
  width: 16%;
  margin-left: 10px;
}
.school-left-div
{
  float: left;
  width: 70%;
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.left-clear
{
  float:left;
  clear:both;
}
center.due
{
  clear:both;
  margin-top: 30px;
  font-size: 12px;
  font-weight: bold;
}
center
{
  clear:both;
  margin-top: 1px;
  font-size: 11px;
}
center.small
{
    font-size: 9px;
    margin-top:10px;
    margin-bottom: -15px;
}
.std_info .table-header td{
    padding: 3px !important;
    border-top: 1px solid black !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
    font-weight: normal;
    background: #fff;
    font-size: 11px;
   
}
.std_info tr.table-header td.border-left-none
{
    border-left: none !important;
}
.std_info tr.table-header td.border-right-none
{
    border-right: none !important;
}
table#pdf-table{
    border: none;
    border-bottom: 1px solid black;
    border-collapse:collapse;
    margin-top:20px;
}
table.std_info
{
    width:99.6%;
    margin-left: 1px;
}
table.std_info tr td
{
    font-size: 8px !important;
}
table.signature
{
    width: 100%;
    margin-top:80px;
}
table.signature tr td
{
    border-top: 1px solid Black;
    padding: 3px 10px;
    width: 30%;
    text-align: center;
    font-size: 11px;
    
}
.in-words
{
  float:left;
  clear:both;
  margin-top: 10px;
  padding: 3px;
  font-size: 11px;
  letter-spacing:normal !important;
  
}
div.no-padding-no-margin
{
    padding: 0px 5px !important;
    font-size: 11px;
    margin-top: 5px !important;
    margin-bottom: -15px !important;
    font-weight: bold;
}
tr.table-header td.align-right
{
    text-align: right !important;
}
tr.table-header td.align-center
{
    text-align: center;
}
.no-warp
{
    white-space: nowrap;
}
</style>    
