<% unless @report_data.blank?  or  @report_data['report'].blank? %>

    <div id="page-yield"  class="available_sections1 academia cherry_blossoms sis sis-final">
      
        <div class="academia_box"  style="margin-bottom:20px;">
         
          <div class="academia_middle_box">
            <table width="100%" style="border: none !important;" class="no-border">
                <tr>
                  <td width="18%" style="vertical-align: bottom;" rowspan="2" class="no-tr-td-border">
                    <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/356/baghc_new_logo.png")),:width=> '70%' %>
                  </td>
                  <td class="no-tr-td-border">
                      <h3 align="center"><b><font size="3"><%=Configuration.get_config_value('InstitutionName'); %></font></b></h3>
                    <h4 align="center"><b>(EIIN : 108214)</b></h4>
                    <h4 align="center"><b>Subject-Wise Grade/Marks Sheet</b></h4>
                    
                  </td>
                </tr>
                <tr>
                    <td class="no-tr-td-border">
                    <table width="100%">
                <tr class="table-header">
                    <td class="left">
                      Name : <%= @student.full_name %>
                    </td>
                    <td class="left">
                      Class : <%= @connect_exam_obj.batch.course_name %>
                    </td>
                    <td class="left">
                      Section : <%= @connect_exam_obj.batch.section_name %>
                    </td>
                    <td class="left">
                      Roll : <%= @student.class_roll_no %>
                    </td>
                </tr>  
                <tr class="table-header">
                    <%
                      shift = "Morning"
                      medium = "Bangla"
                      unless @batch.name.upcase.index("DAY").nil?
                        shift = "Day"
                      end
                      unless @batch.name.upcase.index("ENGLISH").nil?
                        medium = "English"
                      end
                      if !@batch.course.group.upcase.index("SCIENCE").nil?
                        @batch.course.group = "Science"
                      elsif !@batch.course.group.upcase.index("BUSINESS").nil?
                        @batch.course.group = "Business Studies"
                      elsif !@batch.course.group.upcase.index("HUMAN").nil?
                        @batch.course.group = "Humanities"
                      else
                        @batch.course.group = "N/A"
                      end  
                    %>
                    <td class="left">
                      Shift : <%= shift %>
                    </td>
                    <td class="left">
                      Medium : <%= medium %>
                    </td>
                    <td class="left">
                      Group : <%= @batch.course.group %>
                    </td>
                    <td class="left">
                      ID : <%= @student.admission_no %>
                    </td>
                </tr>
            </table>  
                    </td>
                </tr>
            </table>
            
          </div>
          <div class="academia_right_box">
            <% @grading_levels = GradingLevel.for_batch(@batch.id) %>
            <% if @grading_levels.blank? %>
            <% @grading_levels = GradingLevel.default %>
            <% end %>
            <%  unless @grading_levels.empty? %>
              <table  width="100%" class="margin-top-minus-10" >
                  <tr>
                    <td>Marks</td>
                    <td>Grade</td>
                    <td>GP</td>
                  </tr>
                  <% @grading_levels.each do |grade| %>
                  <tr>
                    <td>
                      <% if grade.max_score.nil? %>  
                      <%= '%i%' % grade.min_score %>
                      <% else %>  
                      <%= grade.min_score.to_i.to_s + " - " + grade.max_score.to_i.to_s %>  
                      <% end %>
                    </td>
                    <td><%= grade.name %></td>
                    <td><%= grade.credit_points %></td>
                  </tr>                  
                  <% end %>
              </table>  
            <% else %>
              <h4><%= t('set_in_common') %></h4>
            <% end %>
          </div>
        </div>
        <h3 align="center"><b><font size="3"><%= @connect_exam_obj.name %></font></b></h3>
 
       
        <div class ="current_batch">
            <div id="grouped_exam_report">
                <div class="CSSTableGenerator">
                    <table id="pdf-table" class="margin-top-10"  width="99.8%">
                        
                        <thead> 
                          <tr class="table-header">
                              <td rowspan="3">SL</td>
                              <td rowspan="3">Subjects</td>
                              <td colspan="7">Half Yearly Exam - <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></td>
                              <td colspan="7">Year Final Exam - <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></td> 
                              <td colspan="7">Average</td>
                          </tr>
                          <tr class="table-header">
                              <td rowspan="2">CQ/SQ</td>
                              <td rowspan="2">MCQ</td>
                              <td rowspan="2">MTT/Prac</td>
                              <td colspan="4">Result</td> 
                              <td rowspan="2">CQ/SQ</td>
                              <td rowspan="2">MCQ</td>
                              <td rowspan="2">MTT/Prac</td>
                              <td colspan="4">Result</td> 
                              <td rowspan="2">CQ/SQ</td>
                              <td rowspan="2">MCQ</td>
                              <td rowspan="2">MTT/Prac</td>
                              <td colspan="4">Result</td> 
                          </tr>
                          <tr class="table-header"> 
                              <td>Total(%)</td> 
                              <td>Highest Marks(%)</td>
                              <td>GP</td>
                              <td>LG</td>
                              <td>Total(%)</td> 
                              <td>Highest Marks(%)</td>
                              <td>GP</td>
                              <td>LG</td>
                              <td>Total(%)</td> 
                              <td>Highest Marks(%)</td>
                              <td>GP</td>
                              <td>LG</td>
                          </tr>
                        </thead>
                        <% total_parcent = 0 %>
                        <% total_mark = 0 %>
                        <% total_full_mark = 0 %>
                        <% total_mark_result = 0 %>
                        <% total_gpa = 0 %>
                        <% total_subject = 0 %>
                        <% main_failed_grade = false %>
                        
                        
                        <% total_parcent2 = 0 %>
                        <% total_mark2 = 0 %>
                        <% total_full_mark2 = 0 %>
                        <% total_mark2_result = 0 %>
                        <% total_gpa2 = 0 %>
                        <% main_failed_grade2 = false %>
                        
                        <% total_parcent3 = 0 %>
                        <% total_mark3 = 0 %>
                        <% total_full_mark3 = 0 %>
                        <% total_mark3_result = 0 %>
                        <% total_gpa3 = 0 %>
                      
                        <% main_failed_grade3 = false %>
                        <% unless @report_data['report']['subjects'].blank? %> 
                          <% i = 0 %>   
                          <% @report_data['report']['subjects'].each do |subjects| %>
                            <% total_100 = 0 %>
                            <% full_100 = 0 %>
                            <% cq = 0 %>
                            <% mcq = 0 %>
                            <% mtt = 0 %>
                            <% cq_total = 0 %>
                            <% mcq_total = 0 %>
                            <% mtt_total = 0 %>
                            
                            <% i = i+1 %> 
                            <tr class="table-header">
                                <td class='subjects'><%= i %></td>
                                <td class='left'><%= subjects['name'] %></td>
                                <% failed_grade = false %>
                                <% @report_data['report']['exams'].each do |report| %>
                                  <%
                                    grade_mark = 0
                                    full_mark = 0
                                  %>
                                      
                                  <% if (report['exam_category'] == '1' or report['exam_category'] == '2') and report['quarter'] == "0" %>
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                          <% full_100 = full_100+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% if report['exam_category'] == '1' %>
                                            <% cq_total = cq_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% else %>
                                            <% mcq_total = mcq_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% end %>
                                        <% end %> 
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                            <% total_100 = total_100+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% grade_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% if report['exam_category'] == '1' %>
                                              <% cq = cq+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% else %>
                                              <% mcq = mcq+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% end %>
                                           
                                        <% end %>
                                  <% end %>
                                   <% if report['exam_category'] == '3' and report['quarter'] == "0" %>
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                          <% full_100 = full_100+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% mtt_total = mtt_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                        <% end %> 
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                            <% total_100 = total_100+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% mtt = mtt+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% grade_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                        <% end %>
                                  <% end %>
                                  <%
                                    if full_mark > 0
                                      if grade_mark > 0
                                        point_mark = (grade_mark.to_f/full_mark.to_f)*100
                                        grade = GradingLevel.percentage_to_grade(point_mark, @batch.id)
                                        if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                          if grade.credit_points.to_i == 0
                                            failed_grade = true
                                          end  
                                        end
                                      else
                                        failed_grade = true
                                      end  
                                    end 
                                
                                  %>
                                  
                                <% end %>
                                <%
                                  total_mark = total_mark+total_100
                                  total_full_mark = total_full_mark+full_100
                                  coverted_100 = 0
                                  if total_100 > 0
                                    coverted_100 = (total_100.to_f/full_100.to_f)*100
                                  end
                                 
                                  coverted_100_no_round = coverted_100
                                  coverted_100 = coverted_100.round()
                                  total_mark_result = total_mark_result+coverted_100_no_round
                                  gp_point =0
                                  lg = "-"
                                  grade = GradingLevel.percentage_to_grade(coverted_100, @batch.id)
                                  if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                    gp_point = grade.credit_points
                                    lg = grade.name
                                  end
                                  if failed_grade == false
                                    total_gpa = total_gpa+gp_point
                                  end
                                %>
                                <td>
                                  <% if cq_total > 0 %>
                                    <%= cq %> <font class="soft">[<%= cq_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <% if mcq_total > 0 %>
                                    <%= mcq %> <font class="soft">[<%= mcq_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <% if mtt_total > 0 %>
                                    <%= mtt %> <font class="soft">[<%= mtt_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <%= sprintf( "%0.02f", coverted_100_no_round) %>
                                  <%#= coverted_100.to_i %>  
                                </td>
                                <%
                                    highest_mark = 0
                                    if !@subject_highest.blank? and !@subject_highest[subjects['id'].to_i].blank?
                                      highest_mark = @subject_highest[subjects['id'].to_i].to_f
                                    end
                                %>
                                <td>
                                   <%= sprintf( "%0.02f", highest_mark) %>
                                </td>
                                <% if failed_grade %>
                                  <% main_failed_grade = true %>
                                <td>
                                   0.00
                                </td>
                                <td>
                                   F 
                                </td>
                                
                                <% else %>
                                <% if gp_point.to_i == 0 %>
                                  <% main_failed_grade = true %>
                                <% end %>
                                <td>
                                   <%= gp_point %> 
                                </td>
                                <td>
                                   <%= lg %> 
                                </td>
                                <% end %>
                                <% total2_100 = 0 %>
                                <% full2_100 = 0 %>
                                <% cq2 = 0 %>
                                <% mcq2 = 0 %>
                                <% mtt2 = 0 %>
                                <% cq2_total = 0 %>
                                <% mcq2_total = 0 %>
                                <% mtt2_total = 0 %>
                                
                                <% failed_grade = false %>
                                <% @report_data['report']['exams'].each do |report| %>
                                  <%
                                    grade_mark = 0
                                    full_mark = 0
                                  %>
                                      
                                  <% if (report['exam_category'] == '1' or report['exam_category'] == '2') and report['quarter'] == "1" %>
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                          <% full2_100 = full2_100+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% if report['exam_category'] == '1' %>
                                            <% cq2_total = cq2_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% else %>
                                            <% mcq2_total = mcq2_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% end %>
                                        <% end %> 
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                            <% total2_100 = total2_100+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% grade_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% if report['exam_category'] == '1' %>
                                              <% cq2 = cq2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% else %>
                                              <% mcq2 = mcq2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% end %>
                                           
                                        <% end %>
                                  <% end %>
                                   <% if report['exam_category'] == '3' and report['quarter'] == "1" %>
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                          <% full2_100 = full2_100+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% full_mark = report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                          <% mtt2_total = mtt2_total+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                        <% end %> 
                                        <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                            <% total2_100 = total2_100+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% mtt2 = mtt2+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                            <% grade_mark = report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f.round() %>
                                        <% end %>
                                  <% end %>
                                  <%
                                    if full_mark > 0
                                      if grade_mark > 0
                                        point_mark = (grade_mark.to_f/full_mark.to_f)*100
                                        grade = GradingLevel.percentage_to_grade(point_mark, @batch.id)
                                        if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                          if grade.credit_points.to_i == 0
                                            failed_grade = true
                                          end  
                                        end
                                      else
                                        failed_grade = true
                                      end  
                                    end 
                                
                                  %>
                                  
                                <% end %>
                                <%
                                  total_mark2 = total_mark2+total2_100
                                  total_full_mark2 = total_full_mark2+full2_100
                                  coverted_100 = 0
                                  if total2_100 > 0
                                    coverted_100 = (total2_100.to_f/full2_100.to_f)*100
                                  end
                                 
                                  coverted_100_no_round = coverted_100
                                  coverted_100 = coverted_100.round()
                                  total_mark2_result = total_mark2_result+coverted_100_no_round
                                  gp_point2 =0
                                  lg = "-"
                                  grade = GradingLevel.percentage_to_grade(coverted_100, @batch.id)
                                  if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                    gp_point2 = grade.credit_points
                                    lg = grade.name
                                  end
                                  if failed_grade == false
                                    total_gpa2 = total_gpa2+gp_point2
                                  end
                                %>
                                <td>
                                  <% if cq2_total > 0 %>
                                    <%= cq2 %> <font class="soft">[<%= cq2_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <% if mcq2_total > 0 %>
                                    <%= mcq2 %> <font class="soft">[<%= mcq2_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <% if mtt2_total > 0 %>
                                    <%= mtt2 %> <font class="soft">[<%= mtt2_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <%= sprintf( "%0.02f", coverted_100_no_round) %>
                                  <%#= coverted_100.to_i %>  
                                </td>
                                <%
                                    highest_mark = 0
                                    if !@subject_highest2.blank? and !@subject_highest2[subjects['id'].to_i].blank?
                                      highest_mark = @subject_highest2[subjects['id'].to_i].to_f
                                    end
                                %>
                                <td>
                                   <%= sprintf( "%0.02f", highest_mark) %>
                                </td>
                                <% if failed_grade %>
                                  <% main_failed_grade2 = true %>
                                <td>
                                   0.00
                                </td>
                                <td>
                                   F 
                                </td>
                                
                                <% else %>
                                <% if gp_point2.to_i == 0 %>
                                  <% main_failed_grade2 = true %>
                                <% end %>
                                <td>
                                   <%= gp_point2 %> 
                                </td>
                                <td>
                                   <%= lg %> 
                                </td>
                                <% end %>
                                
                                <% total3_100 = total_100+total2_100 %>
                                <% full3_100 = full_100+full2_100 %>
                                <% cq3 = cq+cq2 %>
                                <% mcq3 = mcq+mcq2 %>
                                <% mtt3 = mtt+mtt2 %>
                                <% cq3_total = cq2_total+cq_total %>
                                <% mcq3_total = mcq2_total+mcq_total %>
                                <% mtt3_total = mtt_total+mtt2_total %>
                                <% failed_grade3 = false %>
                                <%
                                  if cq3_total > 0
                                    if cq3 > 0
                                      point_mark = (cq3.to_f/cq3_total.to_f)*100
                                      grade = GradingLevel.percentage_to_grade(point_mark, @batch.id)
                                      if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                        if grade.credit_points.to_i == 0
                                          failed_grade3 = true
                                        end  
                                      end
                                    else
                                      failed_grade3 = true
                                    end
                                  end
                                  if mcq3_total > 0
                                    if mcq3 > 0
                                      point_mark = (mcq3.to_f/mcq3_total.to_f)*100
                                      grade = GradingLevel.percentage_to_grade(point_mark, @batch.id)
                                      if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                        if grade.credit_points.to_i == 0
                                          failed_grade3 = true
                                        end  
                                      end
                                    else
                                      failed_grade3 = true
                                    end
                                  end
                                  if mtt3_total > 0
                                    if mtt3 > 0
                                      point_mark = (mtt3.to_f/mtt3_total.to_f)*100
                                      grade = GradingLevel.percentage_to_grade(point_mark, @batch.id)
                                      if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                        if grade.credit_points.to_i == 0
                                          failed_grade3 = true
                                        end  
                                      end
                                    else
                                      failed_grade3 = true
                                    end
                                  end
                              
                                  cq3 = (cq3.to_f/2.00).round()
                                  mcq3 = (mcq3.to_f/2.00).round()
                                  mtt3 = (mtt3.to_f/2.00).round()
                                  
                                  total_mark3 = total_mark3+cq3+mcq3+mtt3
                                  total_full_mark3 = total_full_mark3+cq_total+mcq_total+mtt_total
                                  
                                  total_mark3_100 = cq3+mcq3+mtt3
                                  total_full_mark3_100 = cq_total+mcq_total+mtt_total
                                  coverted_100 = 0
                                  if total_mark3 > 0
                                    coverted_100 = (total_mark3_100.to_f/total_full_mark3_100.to_f)*100
                                  end
                                 
                                  coverted_100_no_round = coverted_100
                                  coverted_100 = coverted_100.round()
                                  total_mark3_result = total_mark3_result+coverted_100_no_round
                                  gp_point3 =0
                                  lg = "-"
                                  grade = GradingLevel.percentage_to_grade(coverted_100, @batch.id)
                                  if !grade.blank? and !grade.name.blank? and !grade.credit_points.blank?
                                    gp_point3 = grade.credit_points
                                    lg = grade.name
                                  end
                                  if failed_grade3 == false
                                    total_gpa3 = total_gpa3+gp_point3
                                  end
                              
                                %>
                                <td>
                                  <% if cq3_total > 0 %>
                                    <%= cq3 %> <font class="soft">[<%= cq_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <% if mcq3_total > 0 %>
                                    <%= mcq3 %> <font class="soft">[<%= mcq_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <% if mtt3_total > 0 %>
                                    <%= mtt3 %> <font class="soft">[<%= mtt_total.to_i %>]</font>
                                  <% else %>
                                    -
                                  <% end %>    
                                </td>
                                <td>
                                  <%= sprintf( "%0.02f", coverted_100_no_round) %>
                                  <%#= coverted_100.to_i %>  
                                </td>
                                <%
                                    highest_mark = 0
                                    if !@subject_highest3.blank? and !@subject_highest3[subjects['id'].to_i].blank?
                                      highest_mark = @subject_highest3[subjects['id'].to_i].to_f
                                    end
                                %>
                                <td>
                                   <%= sprintf( "%0.02f", highest_mark) %>
                                </td>
                                <% if failed_grade3 %>
                                  <% main_failed_grade3 = true %>
                                <td>
                                   0.00
                                </td>
                                <td>
                                   F 
                                </td>
                                
                                <% else %>
                                <% if gp_point3.to_i == 0 %>
                                  <% main_failed_grade3 = true %>
                                <% end %>
                                <td>
                                   <%= gp_point3 %> 
                                </td>
                                <td>
                                   <%= lg %> 
                                </td>
                                <% end %>
                                    

                            </tr> 
                          <% end %>  
                        <% end %> 
                            <% gpa_fraction = 0 %>
                            <% if total_gpa > 0 && i > 0 %>
                              <% gpa_fraction = total_gpa.to_f/i.to_f %>
                            <% end %>
                            
                            <% gpa_fraction2 = 0 %>
                            <% if total_gpa2 > 0 && i > 0 %>
                              <% gpa_fraction2 = total_gpa2.to_f/i.to_f %>
                            <% end %>
                            
                            <% gpa_fraction3 = 0 %>
                            <% if total_gpa3 > 0 && i > 0 %>
                              <% gpa_fraction3 = total_gpa3.to_f/i.to_f %>
                            <% end %>
                            <tr class="table-header">
                                <td colspan="2" rowspan="2">
                                    <b>Result : </b> 
                                </td>
                                <td colspan="3" style="text-align:center">
                                    <b><%= total_mark.to_i %></b> [<%= total_full_mark.to_i %>]
                                </td>
                                <td style="text-align:center">
                                    <b><%= sprintf( "%0.02f", total_mark_result) %></b>
                                </td>
                                <td style="text-align:center">
                                    &nbsp;
                                </td>
                                <td style="text-align:center">
                                    <b><%= sprintf( "%0.02f", total_gpa) %></b>
                                </td>
                                <td style="text-align:center">
                                    &nbsp;
                                </td>
                                
                                
                                <td colspan="3" style="text-align:center">
                                    <b><%= total_mark2.to_i %></b> [<%= total_full_mark2.to_i %>]
                                </td>
                                <td style="text-align:center">
                                    <b><%= sprintf( "%0.02f", total_mark2_result) %></b>
                                </td>
                                <td style="text-align:center">
                                    &nbsp;
                                </td>
                                <td style="text-align:center">
                                    <b><%= sprintf( "%0.02f", total_gpa2) %></b>
                                </td>
                                <td style="text-align:center">
                                    &nbsp;
                                </td>
                                
                                
                                <td colspan="3" style="text-align:center">
                                    <b><%= total_mark3.to_i %></b> [<%= total_full_mark3.to_i %>]
                                </td>
                                <td style="text-align:center">
                                    <b><%= sprintf( "%0.02f", total_mark3_result) %></b>
                                </td>
                                <td style="text-align:center">
                                    &nbsp;
                                </td>
                                <td style="text-align:center">
                                    <b><%= sprintf( "%0.02f", total_gpa3) %></b>
                                </td>
                                <td style="text-align:center">
                                    &nbsp;
                                </td>
                            </tr>
                            
                            <tr class="table-header">
                                <td colspan="7" style="text-align:right">
                                    <% if main_failed_grade %>
                                      <b><font size="3">GPA&nbsp;&nbsp;&nbsp;&nbsp;0.00</font></b>
                                    <% else %>
                                      <b><font size="3">GPA&nbsp;&nbsp;&nbsp;&nbsp;<%= sprintf( "%0.02f", gpa_fraction) %></font></b>
                                    <% end %>
                                    
                                </td>
                                <td colspan="7" style="text-align:right">
                                    <% if main_failed_grade2 %>
                                      <b><font size="3">GPA&nbsp;&nbsp;&nbsp;&nbsp;0.00</font></b>
                                    <% else %>
                                      <b><font size="3">GPA&nbsp;&nbsp;&nbsp;&nbsp;<%= sprintf( "%0.02f", gpa_fraction2) %></font></b>
                                    <% end %>
                                    
                                </td>
                                <td colspan="7" style="text-align:right">
                                    <% if main_failed_grade3 %>
                                      <b><font size="3">GPA&nbsp;&nbsp;&nbsp;&nbsp;0.00</font></b>
                                    <% else %>
                                      <b><font size="3">GPA&nbsp;&nbsp;&nbsp;&nbsp;<%= sprintf( "%0.02f", gpa_fraction3) %></font></b>
                                    <% end %>
                                    
                                </td>
                            </tr>
                            
                            <tr class="table-header">
                                <td colspan="2" rowspan="5">Meritocracy/Comment</td>
                            </tr>
                            <tr class="table-header">
                              <td colspan="3">Position: <% if !@student_position.blank? && !@student_position[@student.id.to_i].blank?  %><%= @student_position[@student.id.to_i] %><% else %>N/A<% end %></td>
                              <td colspan="4">Total Students: <%= @total_std unless @total_std.blank? %></td>
                              
                              <td colspan="3">Position: <% if !@student_position2.blank? && !@student_position2[@student.id.to_i].blank?  %><%= @student_position2[@student.id.to_i] %><% else %>N/A<% end %></td>
                              <td colspan="4">Total Students: <%= @total_std unless @total_std.blank? %></td>
                              
                              <td colspan="3">Position: <% if !@student_position3.blank? && !@student_position3[@student.id.to_i].blank?  %><%= @student_position3[@student.id.to_i] %><% else %>N/A<% end %></td>
                              <td colspan="4">Total Students: <%= @total_std unless @total_std.blank? %></td>
                            </tr>
                            
                            <tr>
                                <%
                                  start_date_first_term = ""
                                  end_date_first_term = ""
                                  unless @report_data['first_term_id'].nil?
                                    @connect_exam_obj2 = ExamConnect.find_by_id(@report_data['first_term_id'].to_i)
                                    unless @connect_exam_obj2.blank?
                                      start_date_first_term = @connect_exam_obj2.attandence_start_date.strftime("%B-%Y")
                                      end_date_first_term = @connect_exam_obj2.attandence_end_date.strftime("%B-%Y")
                                    end
                                  end
                              
                                %>
                                
                                <td colspan="7">Attendance Report Duration : <%=  start_date_first_term %> to <%=  end_date_first_term %> </td> 
                                <td colspan="7">Attendance Report Duration : <%=@connect_exam_obj.attandence_start_date.strftime("%B-%Y")%> to <%=@connect_exam_obj.attandence_end_date.strftime("%B-%Y")%> </td> 
                                <td colspan="7">Attendance Report Duration : <%=  start_date_first_term %> to <%=@connect_exam_obj.attandence_end_date.strftime("%B-%Y")%> </td>
                            </tr>
                            
                            <%
                            total = @report_data['total'].to_i
                            present = @report_data['present'].to_i
                            absent = @report_data['absent'].to_i
                            
                            total1 = @report_data['total'].to_i
                            present1 = @report_data['present'].to_i
                            
                            total2 = @report_data['total'].to_i
                            present2 = @report_data['present'].to_i
                          
                            %>
                            <tr class="table-header">
                                <% if @report_data['total_first_term'].nil? %>
                                <td colspan="2">Working day<br/><%= @report_data['total'] %></td>
                                <td colspan="2">Present<br/>
                                    <% unless @report_data['total_new_std'].blank?  %>
                                        <% present = @report_data['total_new_std'].to_i-@report_data['absent'].to_i  %>
                                        <% present1 = @report_data['total_new_std'].to_i-@report_data['absent'].to_i  %>
                                        <%= @report_data['total_new_std'].to_i-@report_data['absent'].to_i %>
                                    <% else %>
                                        <%= @report_data['present'] %>
                                    <% end %>    
                                </td>
                                <td colspan="1">
                                    Absent<br/>
                                    <% unless @report_data['absent'].nil?  %>
                                      <%= @report_data['absent'] %>
                                    <% else %>
                                      <% absent = @report_data['total'].to_i-@report_data['present'].to_i  %>
                                      <%= @report_data['total']-@report_data['present'] %>
                                    <% end %>
                                </td>
                                <% else %>
                                <% total = total+@report_data['total_first_term'] %>
                                <% total1 = @report_data['total_first_term'] %>
                                <td colspan="2">Working days<br/><%= @report_data['total_first_term'] %></td>
                                <td colspan="2">Present<br/>
                                <% unless @report_data['total_new_std_first_term'].blank?  %>
                                    <% present = present+@report_data['total_new_std_first_term'].to_i-@report_data['absent_first_term'].to_i  %>
                                    <% present1 = @report_data['total_new_std_first_term'].to_i-@report_data['absent_first_term'].to_i  %>
                                    <%= @report_data['total_new_std_first_term'].to_i-@report_data['absent_first_term'].to_i %>
                                <% else %>
                                    <% present1 = @report_data['present_first_term'].to_i %>
                                    <% present = present+@report_data['present_first_term'].to_i %>
                                    <%= @report_data['present_first_term'] %>
                                <% end %>    
                                </td>
                                <td colspan="1">
                                    Absent<br/>
                                    <% unless @report_data['absent_first_term'].nil?  %>
                                      <% absent = absent+@report_data['absent_first_term'].to_i %>
                                      <%= @report_data['absent_first_term'] %>
                                    <% else %>
                                      <% absent = absent+@report_data['total_first_term']-@report_data['present_first_term'].to_i  %>
                                      <%= @report_data['total_first_term'].to_i-@report_data['present_first_term'].to_i %>
                                    <% end %>
                                </td>
                                <% end %>
                                
                                <% percent = (present1.to_f/total1.to_f)*100 %>
                                
                                <td colspan="2">
                                    Attendance<br/>
                                    <%= sprintf( "%0.02f", percent) %>
                                </td>
                                
                                <% if @report_data['total_first_term'].nil? %>
                                <td colspan="2">Working days</td>
                                <td colspan="2">Present</td>
                                <td colspan="1">Absent</td>
                                <td colspan="2">Attendance</td>
                                <% else %>
                                <td colspan="2">Working days<br/><%= @report_data['total'] %></td>
                                <td colspan="2">Present<br/>
                                <% unless @report_data['total_new_std'].blank?  %>
                                    <% present2 = @report_data['total_new_std'].to_i-@report_data['absent'].to_i %>
                                    <%= @report_data['total_new_std'].to_i-@report_data['absent'].to_i %>
                                <% else %>
                                    <%= @report_data['present'] %>
                                <% end %>    
                                </td>
                                <td colspan="1">
                                    Absent<br/>
                                    <% unless @report_data['absent'].nil?  %>
                                      <%= @report_data['absent'] %>
                                    <% else %>
                                      <%= @report_data['total']-@report_data['present'] %>
                                    <% end %>
                                </td>
                                <% percent = (present2.to_f/total2.to_f)*100 %>
                                <td colspan="2">
                                    Attendance<br/>
                                    <%= sprintf( "%0.02f", percent) %>
                                </td>
                                <% end %>
                               
                                
                                
                                
                                <td colspan="2">Working days<br/><%= total %></td>
                                <td colspan="2">Present<br/><%= present %></td>
                                <td colspan="1">Absent<br/><%= absent %></td>
                                <% percent = (present.to_f/total.to_f)*100 %>
                                <td colspan="2">
                                    Attendance<br/>
                                    <%= sprintf( "%0.02f", percent) %>
                                </td>
                                
                            </tr>
                            
                            <tr class="table-header">
                                <td colspan="100" style="text-align:left;" >&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" /> &nbsp;&nbsp;Promoted&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" /> &nbsp;&nbsp;Detained</td>
                            </tr>

                    </table>
                    
                    
                   

                </div>

            </div>
        </div>
       
      
    </div>

  <% end %>
  <%= stylesheet_link_tag 'list_table' %>

  <% if params[:page_height] %>
    <script type="text/javascript">
      var body = document.body,
              html = document.documentElement;
      var pg_height = parseInt(<%= params[:page_height] %>)
      var page = new Element('div', {'class': 'page1'});
      var pageBreak = new Element('div', {'class': 'page-break1'});
      var insertPageBreak = function () {
          body.appendChild(pageBreak.cloneNode(true))
      };
      var insertPage = function () {
          body.appendChild(page.cloneNode(true));
      };
      var currPage = function () {
          return $$('.page1').last()
      };
      var current_page_height = 0
      var i = 0
      $$('.available_sections1 .section1').each(function (el) {
          a = parseInt(el.getHeight());
          c = current_page_height + a;
          current_page_height = c;
          if (c > pg_height) {
              current_page_height = a
              body.appendChild(new Element('div', {'id': 'page-blank_' + i, 'class': 'page-blank'}))
              document.getElementById('page-blank_' + i).style.height = (c - pg_height) + 'px';
              document.getElementById('page-blank_' + i).innerHTML = "&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
              i += 1
              el.style.marginTop = "50px"; /* for this border-top is coming, top section of each page */
              insertPageBreak();
              insertPage();
          }
          currPage().appendChild(el);
      });
    </script>
  <% end %>
    
 <style>
  .cherry_blossoms font.soft
  {
      font-weight: lighter !important;
  }
  .cherry_blossoms  table tr td.left
  {
      text-align: left !important;
  }
  .cherry_blossoms .academia_right_box table tr td
  {
      font-size:10px !important;
      text-align: center;
      padding: 2px !important;
  }
  .cherry_blossoms  table tr td
  {
      font-size:11px;
      text-align: center;
  }

  .cherry_blossoms  table tr td.avg_mark
  {
      font-size:12px !important;
      text-align: right;
      padding: 3px; 
  }
  .cherry_blossoms  .CSSTableGenerator table thead tr th
  {
      font-size:14px;
      text-align: left;
  }

  .cherry_blossoms  .academia_sign_left
  {
      float:left;
      width:48%;

  }

  .cherry_blossoms  .academia_middle_box
  {
      float:left;
      width:950px;
      margin-left:0px !important;

  }
  .cherry_blossoms  .academia_middle_box table.no-border, .cherry_blossoms  .academia_middle_box table.no-border  tr td.no-tr-td-border, .cherry_blossoms  .academia_middle_box table.no-border tr.no-tr-td-border
  {
      border:none !important;
  }

  .cherry_blossoms   .academia_sign_right
  {
      margin-left:24px ;
      float:left;
      width:50%;

  }
  .cherry_blossoms  .academia_exam_title_box
  {
      border: 1px solid #000;
      width:40%;
      margin: 10px auto;

  }
  

  .academia_right_box
  {
      float:right;
      width:290px;  
      margin-right: 0px !important;
  }

  #page-yield #pdf-header-south h2 b
  {
     font-size: 23px !important;
  }
  .sis-final .table-header td{
      padding: 1px 2px !important;
  }
</style>