<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<% if @summary.to_i == 1 %>
  <% styles = "" %>
<% else %>
  <% styles = "width: 1460px;" %>
<% end %>
</div>
<div id="page-yield" style="<%= styles  %>; ">

    <p id="ss_name" style="padding-left: 10px; font-size: 16px; font-weight: bold;"><%= MultiSchool.current_school.name %></p>
    <% if @summary.to_i == 1 %>
    <p style="padding-left: 10px; font-size: 16px;"><%= "Report for Late, Absent and Leave" %></p>
    <% else %>
    <p style="padding-left: 10px; font-size: 16px;"><%= "Attendance Report" %></p>
    <% end %>
    <p style="padding-left: 10px; font-size: 16px;"><%= "Report Date: #{@report_date}" %></p>
    


    
    <div class="report">

        <div id="pdf-info">
            <% k = 1 %>
            <% if @summary.to_i == 1 %>
              <table id="pdf-table" width="100%" cellspacing="0">
                  <tr class="table-header">
                      <td class="col-pdf">Ser No.</td>
                      <td class="col-pdf">Name</td>
                      <td class="col-pdf">Designation</td>
                      <td class="col-pdf">Late(Total Days)</td>
                      <td class="col-pdf">Absent(Total Days)</td>
                      <td class="col-pdf">Leave(Total Days)</td>
                      <td class="col-pdf">Remarks</td>
                  </tr>
                  <% grp_done = 0 %>
                  <% page_one_done = false %>
                  <% @all_groups.each do |group| %>
                    <% group_a = group.split("-") %>
                    <% k = k + 1 %>
                    <tr class="<%= cycle('odd', 'even') %>">
                        <td class="col-pdf" colspan="7"><%= group_a[0] %></td>
                    </tr>
                    <% dept_ids = group_a[1].split("+") %>
                    <% employee_attendances = @employee_attendance.select{|e| dept_ids.include?(e[7].to_s) } %>
                    <% i = 1 %>
                    <% employee_attendances.each do |e| %>
                      <% k = k + 1 %>
                      <tr class="<%= cycle('odd', 'even') %>">
                        <td class="col-pdf"><%= i %></td>
                        <td class="col-pdf"><%= e[0] %></td>
                        <td class="col-pdf"><%= e[1] %></td>
                        <td class="col-pdf"><%= e[5] %></td>
                        <td class="col-pdf"><%= e[4] %></td>
                        <td class="col-pdf"><%= e[6] %></td>
                        <td class="col-3">&nbsp;</td>
                        <% i = i + 1 %>
                      </tr>  
                      <% if page_one_done == false and k == 39 %>
                        <% page_one_done = true %>
                        <% k = 0 %> 
                        <tr style="border: 1px solid #fff; border-bottom: 1px solid #000; height: 23px;">
                            <td class="col-pdf" colspan="7">&nbsp;</td>
                        </tr>  
                      <% elsif page_one_done and k == 47 %>
                        <% k = 0 %> 
                        <tr style="border: 1px solid #fff; border-bottom: 1px solid #000;  height: 28px;">
                            <td class="col-pdf" colspan="7">&nbsp;</td>
                        </tr>  
                      <% end %>
                    <% end %>
                    <% grp_done = grp_done + 1 %>    
                    <% if grp_done < @all_groups.length %>    
                    <% k = k + 1 %>
                    <tr class="<%= cycle('odd', 'even') %>">
                        <td class="col-pdf" colspan="7">&nbsp;</td>
                    </tr> 
                    <% end %>
                    <% if page_one_done == false and k == 39 %>
                      <% page_one_done = true %>
                      <% k = 0 %> 
                      <tr style="border: 1px solid #fff; border-bottom: 1px solid #000; height: 23px;">
                          <td class="col-pdf" colspan="7">&nbsp;</td>
                      </tr>  
                    <% elsif page_one_done == true and k == 47 %>
                      <% k = 0 %> 
                      <tr style="border: 1px solid #fff; border-bottom: 1px solid #000;  height: 28px;">
                          <td class="col-pdf" colspan="7">&nbsp;</td>
                      </tr>  
                    <% end %>
                  <% end %>
                  <% last_index = 41 %>    
                  <% if page_one_done %>    
                      <% last_index = 45 %>
                  <% end %>    
                  <% (k+1..last_index).each do |n| %>    
                      <% if n < last_index %>
                      <tr style="border: 1px solid #fff; height: 28px;">
                          <td class="col-pdf" colspan="7">&nbsp;</td>
                      </tr>
                      <% else %>
                      <tr style="border: 1px solid #fff; height: 28px;">
                          <td class="col-pdf" colspan="7">
                              <div class="summaryFooter" style="width: 100%; float: left;">
                                <div style="float: left; width: 33%; text-align: left;">
                                  <%= "------------------------------------------" %><br />
                                  <font size='3'><%= "Admin's Signature" %></font>
                                </div>
                                <div style="float: left; width: 33%; text-align: center;">
                                  <%= "------------------------------------------" %><br />
                                  <font size='3'><%= "Account's Signature" %></font>
                                </div>
                                <div style="float: left; width: 33%; text-align: right;">
                                  <%= "------------------------------------------" %><br />
                                  <font size='3'><%= "Principal's Signature" %></font>
                                </div>
                            </div>
                          </td>
                      </tr>
                      <% end %>
                  <% end %>    
              </table>
            <% else %>
              <% j = 1 %>
              <% newPage = true %>
              <% @employees.each do |e| %>
                <% employee_attendances = @employee_attendance[e.id] %>
                <% unless employee_attendances.nil? or employee_attendances.empty? or employee_attendances.blank? %>
                  <div style='float: left; width: 24.8%;'>
                    <table id="pdf-table_new" width="100%" cellspacing="0">
                      <tr class="<%= cycle('odd_summary', 'even_summary') %>">
                          <% if newPage %>
                            <td class="col-pdf" style="border-right: 2px solid #000;">Ser No</td>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf" colspan="5"><%= j  %> </td>
                            <% else %>
                            <td class="col-pdf" colspan="5" style="border-right: 3px solid #000;"><%= j  %> </td>
                            <% end %>
                          <% else %>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf" colspan="6"><%= j  %> </td>
                            <% else %>
                            <td class="col-pdf" colspan="6" style="border-right: 3px solid #000;"><%= j  %> </td>
                            <% end %>
                          <% end %>
                      </tr>
                      <tr class="<%= cycle('odd_summary', 'even_summary') %>">
                          <% if newPage %>
                            <td class="col-pdf" style="border-right: 2px solid #000;">Name</td>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf" colspan="5"><%= e.employee_info %> </td>
                            <% else %>
                            <td class="col-pdf" colspan="5" style="border-right: 3px solid #000;"><%= e.employee_info %> </td>
                            <% end %>
                          <% else %>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf" colspan="6"><%= e.employee_info %> </td>
                            <% else %>
                            <td class="col-pdf" colspan="6" style="border-right: 3px solid #000;"><%= e.employee_info %> </td>
                            <% end %>
                          <% end %>
                      </tr>
                      <tr class="<%= cycle('odd_summary', 'even_summary') %>">
                          <% if newPage %>
                            <td class="col-pdf" style="border-right: 2px solid #000;">Deg.</td>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf" colspan="5"><%= e.position_name  %> </td>
                            <% else %>
                            <td class="col-pdf" colspan="5" style="border-right: 3px solid #000;"><%= e.position_name  %> </td>
                            <% end %>
                          <% else %>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf" colspan="6"><%= e.position_name  %> </td>
                            <% else %>
                            <td class="col-pdf" colspan="6" style="border-right: 3px solid #000;"><%= e.position_name  %> </td>
                            <% end %>
                          <% end %>
                      </tr>
                      <tr class="<%= cycle('odd_summary', 'even_summary') %>">
                          <% if newPage %>
                          <td class="col-pdf" style="border-right: 2px solid #000;">Date</td>
                          <% end %>
                          <td class="col-pdf vertical-text">Arrival</td>
                          <td class="col-pdf">Departure</td>
                          <td class="col-pdf">late</td>
                          <td class="col-pdf">Absent</td>
                          <% if j % 4 == 0 %>
                          <td class="col-pdf">Leave</td>
                          <% else %>
                          <td class="col-pdf" style="border-right: 3px solid #000;">Leave</td>
                          <% end %>
                      </tr>
                      <% num_date = employee_attendances.length %>
                      <% employee_attendances.each do |em| %>
                        <tr class="<%= cycle('odd_summary', 'even_summary') %>" style="border-bottom: 1px solid #000;">
                            <% if newPage %>
                            <td class="col-pdf" style="border-right: 2px solid #000;"><%= em[2]  %></td>
                            <% end %>
                            <td class="col-pdf"><%= em[5]  %></td>
                            <td class="col-pdf"><%= em[6]  %></td>
                            <td class="col-pdf">
                              <% if ( em[7] == 'yes' && ! @event_dates.map{|c| c.to_date}.include?(em[2].to_date) ) || ( em[7] == 'yes' && ! em[10].split(",").map{|c| c.to_date}.include?(em[2].to_date) ) %>
                                &#10004;
                              <% else %>  
                                -
                              <% end %>  
                            </td>
                            <td class="col-pdf">
                              <% if @event_dates.map{|c| c.to_date}.include?(em[2].to_date) %> 
                                - 
                              <% elsif em[10].split(",").map{|c| c.to_date}.include?(em[2].to_date) %>
                                - 
                              <% else %>   
                                <% if em[8] == 'yes' %>
                                <span class="tick_sign"></span> 
                                <% else %>
                                - 
                                <% end %>
                              <% end %>  
                            </td>
                            <% if j % 4 == 0 %>
                            <td class="col-pdf">
                                <% if ( em[9] == 'yes' && ! @event_dates.map{|c| c.to_date}.include?(em[2].to_date) ) || ( em[9] == 'yes' && ! em[10].split(",").map{|c| c.to_date}.include?(em[2].to_date) ) %> 
                                  &#10004;
                                <% else %>  
                                  -
                                <% end %>   
                            </td>
                            <% else %>
                            <td class="col-pdf" style="border-right: 3px solid #000;">
                                <% if ( em[9] == 'yes' && ! @event_dates.map{|c| c.to_date}.include?(em[2].to_date) ) || ( em[9] == 'yes' && ! em[10].split(",").map{|c| c.to_date}.include?(em[2].to_date) ) %> 
                                  &#10004;
                                <% else %>  
                                  -
                                <% end %>   
                            </td>
                            <% end %>
                        </tr>
                      <% end %>
                      <% newPage = false %>  
                    </table>
                  </div>
                  <% if j % 4 == 0 %>
                    <% newPage = true %>
                    <% if j < 5 %>
                      <% height = 40 %>
                      <% pg_height = 31 - num_date.to_i %>
                      <% hght = height + ( pg_height * 20 ) %>
                      <div style="clear: both; height: <%= hght %>px;"></div>
                    <% else %>
                      <% height = 142 %>
                      <% pg_height = 31 - num_date.to_i %>
                      <% hght = height + ( pg_height * 19 ) %>
                      <div style="clear: both; height: <%= hght %>px;"><%= hght %></div>
                    <% end %>
                  <% end %>
                  <% j = j + 1 %>
                <% end %>  
              <% end %>
	      <% if (j - 1 )  % 4 != 0 %>
		<% k = 4 - ( (j - 1 ) % 4) %>
		<% p = 24.8 * k %>
		<div style="float: left; width: <%= p %>%;"></div>
  	        <div style="clear: both; height: 5px;"></div>
	      <% end; %> 	 		
            <% end %>
        </div>
    </div>
</div>
