<% if !@connect_exam_obj.blank? && (@connect_exam_obj.result_type.to_i == 3 || @connect_exam_obj.result_type.to_i == 4 )  %>
  <div id="pdf-header-south" class="general-header cbis-header">
      <table width="60%">

          <td ><span><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/246/cherry-logo-new.png")),:width=> '50%' %></span></td>
          <td >
              <h4 align="center"><%=Configuration.get_config_value('InstitutionName').upcase; %></h4>
              <h5 align="center" class="new-step-1">(PLAY GROUP-'A' LEVEL, EDEXCEL CENTRE NO. 96440, UK)</h5>
              <h5 align="center" class="bold-all step-1"><%= @connect_exam_obj.name+" Report : " %><%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B, %Y"):@connect_exam_obj.published_date.strftime("%B, %Y") %></h5>  
          </td>
      </table>   
  </div>
<% else %>
  <div id="pdf-header-south" class="landscape">
      <center>
          <center><h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/246/cherry-logo-new.png")),:width=> '8%' %></h4></center>
          <h3 align="center">Cherry Blossoms International School &amp; College</h3>

  </div>
<% end %>