<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="page-yield" class="available_sections1">
  <div class="page1"></div>
  <div class="section1 row" >
    <center>
      <h2><%= t('attendance_report') %></h2>
      <div class="hor_line"></div>

      <div class="extender"> </div>
    </center>
  </div>

  <%  if @academic_days %>
    <% working_days = @academic_days %>
    <div class="section1 row" >
      <center>
        <div id ="main_info">
          <div class="info1">
            <div class="info-left">
              <h4><%= t('course') %> : <%= @batch.course.full_name %></h4>
            </div>
            <div class="info-right">
              <h4 style="color:black;"><%= @batch.full_name %></h4>
            </div>
            <div class="hor_line1"></div>
          </div>
          <div class="info1">
            <div class="info-left">
              <% if @config.config_value == 'Daily' %>
                <h4> <%= "#{t('total_no_of_wrkng_days')} = " + @academic_days.to_s %></h4>
              <% else %>
                <h4> <%= "#{t('total_no_of_wrkng_hours')} = " + @academic_days.to_s %></h4>
              </div>
              <div class="info-right">
                <% if @subject.nil? %>
                  <h4> <%= "#{t('subject')} : " + "#{t('all_subjects')}"  %></h4>
                <% else %>
                  <h4> <%= "#{t('subject')} : " + @subject.name  %></h4>
                <% end %>
              <% end %>
              
              <h4> <%= "#{t('filtered')}: "+ t(@range.to_s.downcase) + " " + @value.to_s + "%" %></h4>
            </div>
          </div>
        </div>
      </center>
    </div>
    <div class="section1 row" id="table-headers" >
      <center>
        <table id="pdf-table" width="100%">
          <tr class="odd">
              <td class="col-pdf1"><%= "Roll" %></td>
              <td class="col-pdf1"><%= t('name') %></td>
              <td class="col-pdf1"><%= t('adm_no') %></td>
              <td class="col-pdf1">
                Present
              </td>
              <td class="col-pdf1">
                Late
              </td>
              <td class="col-pdf1">
                Absent
              </td>
              <td class="col-pdf1">
                Leave
              </td>
              <td class="col-pdf1"><%= t('total') %></td>
              <td class="col-pdf1"><%= t('percentage') %></td>
          </tr>
          <% extender = 0 %>
          <% std_count = 0 %>
          <% @students.each_with_index do |student,i| %>
              <%  std_count = std_count+1; %>
              <% if std_count>24 && extender ==0 %>
                  <% std_count = 0 %>
                  <% extender = 1 %>
                  <tr class="page-break">
                      <td colspan="100">&nbsp;</td>
                  </tr>    
              <% elsif std_count>30 && extender ==1 %>
                  <% std_count = 0 %>
                  <% extender = 1 %>
                  <tr class="page-break">
                      <td colspan="100">&nbsp;</td>
                  </tr> 
              <% end %>
            <% c =cycle('even','odd ') %>
            <tr class="<%= "#{c}" %>">
              <td class="col-pdf1"><%= student.class_roll_no %></td>
              <td class="col-pdf1"><%= student.full_name %></td>
              <td class="col-pdf1"><%= student.admission_no %></td>
              <td class="col-pdf1"> <%= @leaves[student.id]['present'] %></td>
              <td class="col-pdf1"> <%= @leaves[student.id]['late'] %></td>
              <td class="col-pdf1"> <%= @leaves[student.id]['absent'] %></td>
              <td class="col-pdf1"> <%= @leaves[student.id]['on_leave'] %></td>
              <td class="col-pdf1"><%= @leaves[student.id]['total'] %></td>
              <td class="col-pdf1"><%= @leaves[student.id]['percent'].round(2) unless @leaves[student.id]['percent'].nil? %></td>
            </tr>
          <% end %>  
        </table>
      </center>
    </div>
  

  <%  else %>
    <div class="section1 row" >
      <center>
        <div class="no-data"><%= t('no_report_for_given_period') %></div>
      </center>
    </div>
  <% end %>


</div>
