<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<% unless @previous_exam.empty? %>
  <br/>
  <div class="position-name"><%= "Combined Exam Report" %></div>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= "Name" %></td>
      <td><%= "Published" %></td>
      <td><%= "Action" %></td>
    </tr>
    <% p_exam = [] %>
    <% @previous_exam.each do |p| %>
      
      <% unless p_exam.include?(p.exam_connect_id.to_i) %>
      <% p_exam << p.exam_connect_id.to_i %>
      <% if File.file?(Rails.root.join('public','result_pdf_archive',"0"+p.school_id.to_s,"0"+p.batch_id.to_s,"connectexam","0"+p.exam_connect_id.to_s,"connect_exam_"+p.exam_connect_id.to_s+"_"+p.student_id.to_s+".pdf")) %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= p.exam_connect.name %></td>
        <td class="col-1"><%= p.exam_connect.published_date %></td>
        <td class="col-1">
            <a target="_blank" href="/result_pdf_archive/0<%= p.school_id.to_s %>/0<%= p.batch_id.to_s %>/connectexam/0<%= p.exam_connect_id.to_s %>/connect_exam_<%= p.exam_connect_id.to_s %>_<%= p.student_id.to_s %>.pdf">Show</a></td>
      </tr>
      <% else %>
    
        <%  prevexam = PreviousExam.find_by_connect_exam_id(p.exam_connect_id,:conditions=>["(is_finished = 1  and(data_type = 1 or data_type=2))"]) %>
        
        <% unless prevexam.blank? %>
          <% connect_exam = ExamConnect.find_by_id(p.exam_connect_id) %>
          <% if connect_exam.is_published == 1 or  MultiSchool.current_school.id != 348 or !connect_exam.name.upcase.index("FINAL").nil? or !connect_exam.name.upcase.index("TERM").nil? %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= p.exam_connect.name %></td>
              <td class="col-1"><%= p.exam_connect.published_date %></td>
              <td class="col-1">
                <%= link_to "Show", {:controller => "exam", :action => "continues", :student=>p.student_id,:id=>p.exam_connect_id,:unsolved_exam=>0},:target => '_blank' %>
                <% if @current_user.admin? %>
                     &nbsp; &nbsp;<%= link_to "All Result", {:controller => "exam", :action => "continues",:id=>p.exam_connect_id,:unsolved_exam=>0},:target => '_blank' %>
                     <% if p.exam_connect.result_type.to_i == 2 && MultiSchool.current_school.id == 323 %>
                      &nbsp; &nbsp;<%= link_to "Excell Report", {:controller => "exam", :action => "tabulation_excell_sems",:id=>p.exam_connect_id},:target => '_blank' %>
                     <% end %>
                  <% if MultiSchool.current_school.id == 348 && p.exam_connect.result_type.to_i > 8 && p.exam_connect.result_type.to_i != 11 %>
                     &nbsp; &nbsp;<%= link_to "Transcript", {:controller => "exam", :action => "continues", :student=>p.student_id, :transscript=>1,:id=>p.exam_connect_id,:unsolved_exam=>0},:target => '_blank' %>
                     &nbsp; &nbsp;<%= link_to "All Transcript", {:controller => "exam", :action => "continues", :transscript=>1,:id=>p.exam_connect_id,:unsolved_exam=>0},:target => '_blank' %>

                  <% end %>
                <% end %>  
              </td>
            </tr>
        <% end %>
        
        <% else %>
          <% connect_exam = ExamConnect.find_by_id(p.exam_connect_id) %>
          <% if connect_exam.is_published == 1 or  MultiSchool.current_school.id != 348 or !connect_exam.name.upcase.index("FINAL").nil? or !connect_exam.name.upcase.index("TERM").nil? %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-1"><%= p.exam_connect.name %></td>
              <td class="col-1"><%= p.exam_connect.published_date %></td>
              <td class="col-1">
                <%= link_to "Show", {:controller => "exam", :action => "continues", :student=>p.student_id,:id=>p.exam_connect_id,:unsolved_exam=>1},:target => '_blank' %>
                <% if @current_user.admin? %>
                     &nbsp; &nbsp;<%= link_to "All Result", {:controller => "exam", :action => "continues",:id=>p.exam_connect_id,:unsolved_exam=>1},:target => '_blank' %>
                     <% if p.exam_connect.result_type.to_i == 2 && MultiSchool.current_school.id == 323 %>
                      &nbsp; &nbsp;<%= link_to "Excell Report", {:controller => "exam", :action => "tabulation_excell_sems",:id=>p.exam_connect_id},:target => '_blank' %>
                     <% end %>
                     <% if MultiSchool.current_school.code == "nascd" %>
                      &nbsp; &nbsp;<%= link_to "Tabulation", {:controller => "exam", :action => "tabulation",:id=>p.exam_connect_id,:unsolved_exam=>1},:target => '_blank' %>
                     <% end %>
                  <% if MultiSchool.current_school.id == 348 && p.exam_connect.result_type.to_i > 8 && p.exam_connect.result_type.to_i != 11 %>
                     &nbsp; &nbsp;<%= link_to "Transcript", {:controller => "exam", :action => "continues", :student=>p.student_id, :transscript=>1,:id=>p.exam_connect_id,:unsolved_exam=>1},:target => '_blank' %>
                     &nbsp; &nbsp;<%= link_to "All Transcript", {:controller => "exam", :action => "continues", :transscript=>1,:id=>p.exam_connect_id,:unsolved_exam=>1},:target => '_blank' %>

                  <% end %>
                <% end %>  
              </td>
            </tr>
        <% end %>

        <% end %>
      
      <% end %>
    <% end %>
    <% end %>
  </table> 
<% end %>
<% school_ids = [348,312,340] %>
<% unless school_ids.include?(MultiSchool.current_school.id)  %>  
<% unless @previous_group_exam.empty? %>
  <br/>
  <div class="position-name"><%= "Exam Report" %></div>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= "Name" %></td>
      <td><%= "Date" %></td>
      <td><%= "Action" %></td>
    </tr>
    <% p_exam2 = [] %>
    <% @previous_group_exam.each do |p| %>
      <% unless p_exam2.include?(p.exam_group_id.to_i) %>
      <% p_exam2 << p.exam_group_id.to_i %>
      <% if File.file?(Rails.root.join('public','result_pdf_archive',"0"+p.school_id.to_s,"0"+p.batch_id.to_s,"examgroup","0"+p.exam_group_id.to_s,"group_exam_"+p.exam_group_id.to_s+"_"+p.student_id.to_s+".pdf")) %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= p.exam_group.name %></td>
        <td class="col-1"><%= p.exam_group.exam_date %></td>
        <td class="col-1"><a target="_blank" href="/result_pdf_archive/0<%= p.school_id.to_s %>/0<%= p.batch_id.to_s %>/examgroup/0<%= p.exam_group_id.to_s %>/group_exam_<%= p.exam_group_id.to_s %>_<%= p.student_id.to_s %>.pdf">Show</a></td>
      </tr>
      <% else %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-1"><%= p.exam_group.name %></td>
        <td class="col-1"><%= p.exam_group.exam_date %></td>
        <td class="col-1">
            <%= link_to "Show", {:controller => "exam", :action => "student_wise_generated_report", :student=>p.student_id,:exam_group=>p.exam_group_id},:target => '_blank' %>
            <% if @current_user.admin? %>
              &nbsp; | &nbsp;<%= link_to "All Result", {:controller => "exam", :action => "student_wise_generated_report_all", :exam_group=>p.exam_group_id},:target => '_blank' %>
              &nbsp; | &nbsp;<%= link_to "Tabulation", {:controller => "exam", :action => "student_wise_tabulation",:exam_group=>p.exam_group_id},:target => '_blank' %>
            <% end %>
        </td>
      </tr>
      <% end %>
      <% end %>
    <% end %>
  </table> 
<% end %>
<% end %>