<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="students-table">
    <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
    <table align="center" width="100%" cellpadding="1" cellspacing="1">


        <%  unless @guardians.nil? %>
          <tr class="tr-head">
              <td></td>
              <td  class="col-7" style="text-align: center"><%= t('name') %></td>
              <td  class="col-7" style="text-align: center">Students</td>

              <td></td>
          </tr>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
          <% @guardians.each_with_index do |r, i| %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
                <td class="col-1">
                    <input id="student_checkbox_activation_<%= r.id %>" name="student_checkbox_activation" type="checkbox" value="<%= r.id %>" class="student_checkbox_activation" /> 
                </td>
                <td class="col-7">
                    <%=  r.first_name+" "+r.last_name %>
                </td>
               
                <td class="col-7">
                    <%
                    students = r.snames.split("|")
                  %>
                    <%  unless @guardians.first.first_name.nil? %>
                      <% students.each_with_index do |g, j| %>
                        <p><%= j+1 %>. <%= g %></p>
                      <% end %>
                    <% end %>  
                </td>

                <td class="col-9">
                    <div class="image_loading">
                        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader_approve_#{r.id}",:style =>"display: none; float:left;" ) %>
                    </div>
                    <%= link_to_remote "#{t('approve')}",
                      :before => "Element.show('loader_approve_#{r.id}')",
                      :success => "Element.hide('loader_approve_#{r.id}')",
                      :confirm => 'Are you sure you want to approve this guardian?',
                      :url=>{:controller=>"student", :action=>"list_applicant_guardian"},
                      :with => "'&student_id=#{r.id}'+'&status_change=1'"%>
                    &nbsp;&nbsp;&nbsp;
                    <%= link_to_remote "Delete",
                      :before => "Element.show('loader_approve_#{r.id}')",
                      :success => "Element.hide('loader_approve_#{r.id}')",
                      :confirm => 'Are you sure you want to parmantly remove this guardian?',
                      :url=>{:controller=>"student", :action=>"list_applicant_guardian"},
                      :with => "'&student_id=#{r.id}'+'&status_change=0'"%>
  
                </td>
            </tr>
          <% end %>
        <% else %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-9">No Guardian Found</td>
          </tr>

        <% end %>
    </table>
    <%= will_paginate @guardians %>
    </br>
    </br>
    <div style="margin-top:10px;">
        <input type="button" value="Approve" style="cursor: pointer;" onClick="approve_checked_student();"  id="approve_button_student">
        <input type="button" value="Delete" style="cursor: pointer;" onClick="delete_checked_student()"  id="delete_button_student">
    </div>    
</div>








