<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="box_noc">
  <form name="employee" action="" style="display:inline;">
    <div id="flash-box-popup">
      <% unless flash[:notice].nil? %>
        <p class="flash-msg"> <%= flash[:notice] %> </p>
      <% end %>
    </div>  
    <div id="form-errors"></div>

    <div class="row">
      <div class="row_label">Student Name</div>
      <div class="row_data"><%= @student.full_name %><input type="hidden" id="student_name" value="<%= @student.full_name %>"></div>
    </div>
    
    <div class="row">
      <div class="row_label">Class</div>
      <div class="row_data">
                  <%= @student.batch.name %>&nbsp;<%= @student.batch.course.course_name %>&nbsp;
                    <%  class_string = @student.batch.name+" "+@student.batch.course.course_name %>
                    <% unless  @student.batch.course.section_name.empty? %>                      
                      <%= ", " %>
                      <%= t('profile_section_label') %>         
                      <%= @student.batch.course.section_name %>
                      <%  class_string = class_string + t('profile_section_label')+ @student.batch.course.section_name %>
                    <% end %>
          <input type="hidden" id="student_class" value="<%= class_string %>">
    </div>
      
      
    <div class="row">
      <div class="row_label">Class</div>
      <div class="row_data"><div><%= @student.batch.name %>&nbsp;<%= @student.batch.course.course_name %>&nbsp;
                    <%  class_string = @student.batch.name+" "+@student.batch.course.course_name %>
                    <% unless  @student.batch.course.section_name.empty? %>                      
                      <%= ", " %>
                      <%= t('profile_section_label') %>         
                      <%= @student.batch.course.section_name %>
                      <%  class_string = class_string + t('profile_section_label')+ @student.batch.course.section_name %>
                    <% end %>
          <input type="hidden" id="student_class" value="<%= class_string %>"></div>
    </div>
    
    <div class="row">
      <div class="row_label">Reason</div>
      <div class="row_data"><%= text_field_tag("reason","", :placeholder => "Exp:Travels Abroad", :autocomplete => 'off') %></div>
    </div>
    
    <div class="row" id="start_date_1">
      <div class="row_label">Start Date</div>
      <div class="row_data"><%= calendar_date_select_tag 'start_date', I18n.l(Date.today,:format=>:default),  :popup=>"force" %></div>
    </div>

    <div class="row" id="end_date_1">
      <div class="row_label">End Date</div>
      <div class="row_data"><%= calendar_date_select_tag 'start_date', I18n.l(Date.today + 5.year,:format=>:default), :popup=>"force" %></div>
    </div>
   <div class="row">
      <div class="row_label">&nbsp;</div>
      <div class="row_data">
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader2", :style =>"display: none;" ) %>
        <input type="button" value="Submit" name="submit_noc" id="submit_noc" />
      </div>
    </div>
   

  </form>
  <div class="extender"></div>
</div>
<script>
    var jj = jQuery.noConflict();
    jj(document).on("click", '#submit_noc', function(e){
      Element.show('loader2')
      new Ajax.Request('/student/noc_letter_update',
      {asynchronous:true, evalScripts:true,
        parameters:'letter_data='+jj('#student_name').val()+"|"+jj('#student_class').val()+"|"+jj('#reason').val()+"|"+jj('#start_date').val()+"|"+jj('#start_date').val()+'&id=<%= @student.id %>',onSuccess:function(request){Element.hide('loader2')}
      }); 
    }); 
</script>

<style>
.box_noc{
    width:450px;
    margin:0px auto;
}
.row_label
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}
.row_data {
    width:217px;
    float: left;
}
</style>