<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="students-table">
  <% form_remote_for :student, :url=>{:action=>"save_roll_no"},:before=>"$('submit_button').disable()",:complete=>"setTimeout(function(){$('submit_button').enable();},5000)" do |form| %>
    <%
    male = 0
    female = 0
    %>
    <table align="center" width="100%" cellpadding="1" cellspacing="1" style="float:left; clear:both;">
    <%if !@students.empty? %>
      
      <tr class="tr-head">
        <td><%= t('sl_no') %></td>
        <td><%= t('name') %></td>
        <% if MultiSchool.current_school.id != 340 %>
        <td><%= t('roll_number') %></td>
        <% else %>
        <td style='white-space:nowrap;'><%= t('date_of_birth') %></td>
        <% end %>
        <td><%= t('adm_no') %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% @students.each_with_index do |r, i| %>
        <% if !r.gender.blank? && r.gender.upcase == "F" %>
          <% female = female+1 %>
        <% else %>
          <% male = male+1 %>
        <% end %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1">
            <%= i+1 %>
          </td>

          <td class="col-2">
            <%= link_to r.full_name,:controller => "student", :action => "profile", :id => r.id %>
          </td>
          <td class="col-1">
            <% if MultiSchool.current_school.id != 340 %>
            <% if @current_user.admin? %>
              <%= text_field_tag "student[#{r.id}][class_roll_no]", r.class_roll_no, :class=>"marks-box" %>
            <% else %>
              <%= r.class_roll_no %>
            <% end %>  
            <% else %>
              <%= I18n.l(r.date_of_birth,:format=>"%d %b %Y") unless r.date_of_birth.nil? %>
            <% end %>  
          </td>

          <td class="col-1">
            <%= r.admission_no %>
          </td>

          <td class="col-7">
            <%=  link_to  "#{t('view_profile')}", :controller => "student", :action => "profile", :id => r.id %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="tr-head">
          <td colspan="4"><b>Male : <%= male %>,&nbsp;&nbsp; Female : <%= female %></b></td>
      </tr>
        
    <% else %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <td class="col-2"><%= t('no_students_found') %></td>
      </tr>
    </table>
    
      <% end %> 
  
  <% end %>
   <br/>
   
   <% if MultiSchool.current_school.id != 340 %>
   <div  style="float:left; clear:both; margin:10px;"><%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id=> 'submit_button' %></div>
   <% end %>
</div>
