<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div class="box_noc">
  <form name="employee" action="" style="display:inline;">
    <div id="flash-box-popup">
      <% unless flash[:notice].nil? %>
        <p class="flash-msg"> <%= flash[:notice] %> </p>
      <% end %>
    </div>  
    <div id="form-errors"></div>

    <div class="row">
      <div class="row_label">Student Name</div>
      <div class="row_data"><%= @student.full_name %><input type="hidden" id="student_name" value="<%= @student.full_name %>"></div>
    </div>
    
    <div class="row">
      <div class="row_label">Class</div>
      <div class="row_data"><%= @student.batch.full_name %>          
          <% unless @student.batch.course.section_name.blank?   %>
              <input type="hidden" id="student_class" value="Class : <%= @student.batch.course.course_name %>, Section : <%= @student.batch.course.section_name %>">
          <% else %>
              <input type="hidden" id="student_class" value="Class : <%= @student.batch.course.course_name %>">
          <% end %>
      </div>
    </div> 
    <div class="row">
      <div class="row_label"><%= t('admission_date') %></div>
      <div class="row_data">
          <% unless @student.admission_date.nil? %>
            <%= I18n.l(@student.admission_date,:format=>:normal) %>
            <input type="hidden" id="admission_date" value="<%= I18n.l(@student.admission_date,:format=>:normal) %>">
          <% else %>
            <%= calendar_date_select_tag 'admission_date', I18n.l(Date.today,:format=>:default),  :popup=>"force" %>
          <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="row_label">Father's Name</div>
      <div class="row_data"><%= text_field_tag("father","", :placeholder => "Exp:full name", :autocomplete => 'off') %></div>
    </div>
    
    <div class="row" id="start_date_1">
      <div class="row_label">Mother's Name</div>
      <div class="row_data"><%= text_field_tag("mother","", :placeholder => "Exp:full name", :autocomplete => 'off') %></div>
    </div>
    <div class="row" id="request_date_1">
      <div class="row_label">Request Date of Collection</div>
      <div class="row_data"><%= calendar_date_select_tag 'request_date', I18n.l(Date.today+3,:format=>:default),:year_range => [0.years.ago, 1.years.from_now], :popup=>"force" %></div>
    </div> 
    <div class="row" id="request_date_1">
        <div class="row_label" style="width:100%;"><font color="red" >Please allow minimum 3 working days to process</font></div>
    </div>
    <div class="row" style="border: 0px;">      
      <div class="row_button">
        <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader2", :style =>"display: none;" ) %>
        <input type="button" value="Apply" name="submit_studentship" class="apply_button" id="submit_studentship" />
      </div>
    </div>
   

  </form>
  <div class="extender"></div>
</div>
<script>
    var jj = jQuery.noConflict();
    jj(document).on("click", '#submit_studentship', function(e){
      Element.show('loader2')
      new Ajax.Request('/student/studentship_letter_update',
      {asynchronous:true, evalScripts:true,
        parameters:'letter_data='+jj('#student_name').val()+"|"+jj('#student_class').val()+"|"+jj('#request_date').val()+"|"+jj('#admission_date').val()+"|"+jj('#father').val()+"|"+jj('#mother').val()+'&id=<%= @student.id %>',onSuccess:function(request){Element.hide('loader2'); location.reload();}
      }); 
    }); 
</script>

<style>
.box_noc{
    width:450px;
    margin:0px auto;
}
.row_label
{
    color: #444444;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
    padding-top: 10px;
    width: 200px;
}
.row_data {
    width:217px;
    float: left;
}
.row_button
{
    width:100%;
    text-align: center;
}
.apply_button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #49BB4B none repeat scroll 0 0 !important;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 30px;
    padding: 7px 10px;
    border: none;
    cursor: pointer;
}
</style>