 <% if !@formData.empty? and @formData.count > 0 %>  
      <% @formData.each do |a| %>
        <% 
        if a.form_type_text == "transfer_letter" 
          title = "Transfer Certificate"
          style = "transfer_letter"
        elsif a.form_type_text == "noc_letter" 
          title = "No Objection Certificate"
          style = "noc_letter"
        elsif a.form_type_text == "recommendation_letter" 
          title = "Recommendation Letter"
          style = "recommendation_letter"
        elsif a.form_type_text == "studentship_letter" 
          title = "Studentship Certificate"
          style = "studentship_letter"
        elsif a.form_type_text == "visa_recommendation_letter" 
          title = "VISA Recommendation Letter"
          style = "visa_recommendation_letter"
        end 
        %>        
       
        <div class="row <%= style %>">
            <div class="row_label">
              <div><%= title %></div>
            </div>
            <div class="row_data">
              <div>
                <% result = a.form_data.split("|") %>

                <b>Student Name :</b> <%= link_to result[0], { :controller=>"student",:action => 'profile', :id => a.student_id},:target => "blank" %> <br />
                <b>Class :</b> <%= result[1] %> <br />
                <b>Date of Collection :</b> <%= result[2] %> <br />
              </div>
            </div> 
            <div class="row_status"> 
                <div>
                  <% if a.status == 1 %>
                    <span class="Pending">
                        Pending
                    </span>  
                  <% end %>
                  <% if a.status == 2 %>
                    <span class="Pending">Processing</span>
                  <% end %>
                  <% if a.status == 3 %> 
                    <span class="Ready">Ready</span>
                  <% end %>
                  <% if a.status == 22 %>
                    <span class="rejected">Rejected</span>
                  <% end %>
                    <div>
                      <% if a.employee_id!=0 %>
                        <% current_employee = Employee.find_by_id(a.employee_id) %>
                        <% unless current_employee.employee.blank? %>
                         Current Desk : <%= current_employee.full_name %>
                        <% else %>
                         Current Desk : Section Office
                         <% end %>
                      <% else %>
                         Current Desk : Section Office
                      <% end %>  
                    </div>    
                </div>
            </div>
            
            <div class="row_action">
             
              <div>
                <% if a.status != 1 or @current_user.admin? or a.employee_id == @current_user.employee_record.id %>
                  <% if a.status == 1 %>
                    <span class="apply_tag">
                        <%= link_to "Start Processing", { :controller=>"student",:action => 'update_letter_status', :aid => a.id, :id => a.student_id, :status => 2, :page => params[:page],:batch_id =>@batch_id,:status_id =>@status_id,:form_type =>@form_type},:confirm=>"#{t('delete_confirm_msg')}",:class=>"delete" %>
                    </span>  
                  <% end %>

                  <% if a.status == 2 and (@current_user.admin? or @current_user.employee_record.meeting_forwarder.to_i == 1) %>                  
                  <span class="Processing">
                    <%= link_to "Complete Processing", { :controller=>"student",:action => 'update_letter_status', :aid => a.id, :id => a.student_id, :status => 3,:page => params[:page],:batch_id =>@batch_id,:status_id =>@status_id,:form_type =>@form_type},:confirm=>"#{t('delete_confirm_msg')}",:class=>"delete" %>
                  </span>
                  <% end %>
                  <% if a.status == 3 %> 

                  <% end %>

                  <% if a.status == 22 %>

                  <% elsif a.status == 3 %>

                  <% else %>
                  <span class="Denied">
                    <%= link_to "Deney", { :controller=>"student",:action => 'update_letter_status', :aid => a.id, :id => a.student_id, :status => 22, :page => params[:page],:batch_id =>@batch_id,:status_id =>@status_id,:form_type =>@form_type},:confirm=>"#{t('delete_confirm_msg')}",:class=>"delete" %>
                  </span>
                  <% end %>
                  <% if a.status != 22 %>
                    <span class="generate_pdf">
                    <%= link_to "Generate PDF", { :controller=>"student",:action => 'generate_pdf_letter', :aid => a.id, :id => a.student_id}, :target => "_blank" %>
                    </span>
                    <% if !a.generated_form.nil? %>
                      <span class="generate_pdf">
                      <%= link_to "View PDF", { :controller=>"student",:action => 'view_pdf_letter', :aid => a.id, :id => a.student_id}, :target => "_blank" %>
                      </span>
                    <% end %>
                  <% end %>
                <% end %>
                
              </div>
              
              
            </div>
            <div class="row_action2">
                <div>
                  <% if a.forwarded == 0 or @current_user.admin? or a.employee_id == @current_user.employee_record.id %>
                   <% form_for :studentfrom, :url => {:action=> 'forward_form', :aid => a.id, :id => a.student_id},:html=>{:onsubmit=>"return validate("+a.id.to_s+");"} do |f| %>
                    <%
                      desig_ids = [1610,1611,1612]
                      employees = Employee.find(:all,:conditions=>["employee_position_id in (?) and id!=?",desig_ids,@current_user.employee_record.id],:order=>"employee_position_id DESC")
                    %>
                    <% unless employees.blank? %>
                    Forward To: 
                    <select name="emp" id="emp_<%= a.id %>" style="height: 22px;width: 96%;margin-top: 5px; margin-left:0px;" >
                        <option value="0">Select Employee</option>
                        <% employees.each do |emp| %>
                          <span class="apply_tag" style="float:left; claer:both; margin-top:10px;">
                              <option value="<%= emp.id %>"><%= emp.first_name+"("+emp.employee_position.name+")"%> </option>
                          </span>
                        <% end %>
                    </select>    
                    <% end %>
                    <div style="margin: 5px 0px; padding:0px;" >
                      <%= f.submit "Forward"  %>
                    </div>    
                    <% end %>
                   <% end %> 
                </div>    
             
            </div>
            
        </div>
      <% end %>
  <% posted_params = params %>
  <% posted_params.delete(:page) %>
  <% posted_params.delete(:authenticity_token) %>
  <% posted_params.delete(:controller) %>
  <% posted_params.delete(:action) %>
  <% @url_params = "" %>
  <% posted_params.each{|k,v| @url_params = @url_params.to_s+k.to_s+"="+v.to_s+"&"}  %>

  <%= will_paginate @formData, :renderer => 'RemoteLinkRenderer', :remote=>{:update=>'data-div'},:params =>params %>

<% else %>
<div class="row" style="padding: 20px;">
    No Form Found
</div>

<% end %>
<script>
  var jj = jQuery.noConflict();
  function validate(id){
    if(jj("#emp_"+id).val()!=0)
    {
       return true;
    }
    alert("Select an Employee");
    return false;
  }
</script>  



