<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

<div class="header-wrapper">

    <div class="header-title">
        <div class="header-icon">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper">
            <div class="header-title-main-text f2">
                <%= link_to "student Fees", :controller => "student", :action => "fees", :id => @student.id %>
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
        <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
        <ul class="header-tabs">
            <li class="active"><%= link_to "Adjust Fees", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %></li>
        </ul>
        <% end %>
    </div>

</div>

<div id="page-yield" class="bg-disable">
    <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
      <div class="fees_wrapper">
          <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
          <div id="student_profile_heading">
              <div id="profile_picture_display">
                  <% if @student.photo.file? %>
                    <% @profile_image = @student.photo.url %>
                  
                    <% unless @profile_image.index("RackMultipart").nil? %>
                      <% if @student.photo.exists? %>
                        <% unless @profile_image.index("?").nil?  %>
                              <% @profile_image.gsub! '?', '.?' %>
                            <% else %>
                              <% @profile_image = @profile_image+"." %>
                            <% end %>
                      <% else %>
                        <% @profile_image = "master_student/profile/default_student.png" %>
                      <% end %>
                    <% end %>

                  <% else %>
                    <% @profile_image = "master_student/profile/default_student.png" %>
                  <% end %>
                  <%= image_tag "#{@profile_image}", :width=>"125" %>
                  <% if @student.photo.file? %>
                  <% if @current_user.admin? or permitted_to? :remove_photo, :student %>
                  <div class="image-delete-link" />
                     <%= link_to '<img src="/images/buttons/delete-new.png" />', {:controller => 'student', :action => 'remove_photo', :id => @student.id}, :confirm => "Do you realy want to remove this photo?" %>
                  </div>
                  <% end %>
                  <% end %>

              </div>

              <div id ="student_main_info">
                  <div id="student_name" class="f2"><%= @student.full_name %></div>
                  <div id="student_class"><%= @student.batch.course.course_name %></div>
              </div>
          </div>
          
          <div id="personal_info_wrapper">
              <div id="class_info">
                <% if Batch.active.find(:all, :group => "name").length > 1  %>
                  <div class="infos">
                      <div><%= @student.batch.name %></div>
                      <div><%= t('batch_text') %></div>
                  </div>
                <% end %>
                <div class="infos">
                    <div><%= @student.admission_no %></div>
                    <div><%= t('adm_no') %></div>
                </div>
                <div class="infos last">
                    <% unless  @student.batch.course.section_name.empty? %>
                    <div><%= @student.batch.course.section_name %></div>
                    <div><%= t('profile_section_label') %></div>
                    <% else %>
                    <div> No Section</div>
                    <div></div>
                    <% end %>
                    
                </div>
            </div>
          </div>
          
          
          <div id="student_profile_heading1">
              <div id="student_main_info1">
                  <span class="name" style="width: 70%; display: inline-block;"><h1> Adjust Student Paid Fees</h1> </span>
              </div>
              <div class="extender"> </div>
          </div>

          <div class="extender"> </div>
          <div class="line" style=""></div>
              <div style="padding: 10px;">
                <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 98%;">
                  <thead><!-- class="thead-inverse" -->
                    <tr>
                      <th style="font-weight: bold; width: 8%; text-align: center; "><i class="fa fa-square-o finance_fees_collection_chk_all" style="font-size: 20px; color: #000; "></i></th>
                      <th style="font-weight: bold; width: 50%; text-align: left;"><%= t('name') %></th>
                      <th style="font-weight: bold; width: 14%; text-align: right;"><%= t('amount') %></th>
                      <th style="font-weight: bold; width: 14%; text-align: right;"><%= "Paid Amount" %></th>
                      <th style="font-weight: bold; width: 14%; text-align: right;"><%= "Remaining" %></th>
                      <th style="font-weight: bold; width: 14%; text-align: right;"><%= "&nbsp;" %></th>
                    </tr>
                  </thead>
                  <tbod>
                      <%- @finance_fees.each_with_index do |finance_fee, i| -%>
                        <%  fee_collection_id = finance_fee.fee_collection_id %>
                        <%  d = FinanceFeeCollection.find(:first, :conditions => "id = #{fee_collection_id}") %>
                        <%  paid_fees = finance_fee.finance_transactions %>
                        <%
                          paid_amount = 0.0
                          unless paid_fees.nil? or paid_fees.blank?
                            paid_fees.each do |pf|
                              paid_amount += pf.amount
                            end
                          end
                        %>

                        <% if finance_fee.balance.to_f+d.fine_to_pay(@student).to_f == 0.00 %>
                        <% bal = FinanceFee.get_student_balance(d,@student, finance_fee) %>  
                        <% else %>
                        <% bal = finance_fee.balance.to_f+d.fine_to_pay(@student).to_f %>
                        <% end %>
                        <% due = bal - paid_amount %>
                        <% advance = false %>
                        <% if due < 0 %>
                        <% due = due * (-1) %>
                        <% end %>
                        <tr>
                            <td style="text-align: center;"><i id="<%= finance_fee.id %>" class="fa fa-square-o finance_fees_collection_chk" style="font-size: 20px; color: #000; "></i></td>
                            <td style="font-family: verdana; font-size: 12px; font-weight: normal; font-family: verdana; font-size: 12px;"><%= d.name  %></td>
                            <td style="font-family: verdana; font-size: 12px; text-align: right; padding-right: 10px;"><%= to_comma_seperated_precision_label(bal.to_f)  %></td>
                            <td style="font-family: verdana; font-size: 12px; text-align: right; padding-right: 10px;"><%= to_comma_seperated_precision_label(paid_amount.to_f)  %></td>
                            <td style="font-family: verdana; font-size: 12px; text-align: right; padding-right: 10px;"><%= to_comma_seperated_precision_label(due.to_f)  %></td>
                            <td style="font-family: verdana; font-size: 12px; text-align: center; padding-right: 10px;"><%= link_to "[Details]", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"fee_link", :target => "blank" %></td>
                        </tr>
                      <% end %>
                  </tbod>
                </table>
              </div>  
              <% form_for :student, :url => {:action => 'adjust_student_fees'} do |form| %>
              <input type="hidden" name="id" id="id" value="<%= @student.id %>" />
              <input type="hidden" name="previous_batch_id" id="previous_batch_id" value="<%= @previous_batch_id %>" />
              <input type="hidden" name="previous_category_id" id="previous_category_id" value="<%= @previous_category_id %>" />
              <input type="hidden" name="fee_id" id="fee_id" value="0" />
              <div id="combined_pay">
                <div style="clear: both; height: 4px; background: #FBFBFB; "><hr style="border: 1px solid #ccc;" /></div>
                
                <div style="padding: 10px; text-align: center; height: 60px;">
                    <div id="lnk" style="padding-top: 10px;">
                        <%=  submit_tag "Adjust Fees",:class=>'user_button_new',:id => 'fine_button' %>
                        <%= link_to "Skip", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class=> 'user_button_new', :id => "lnk_btn"} %>
                    </div>
                </div>
              </div>
              <% end %>
            </div>
      </div>
    <% else %>
      <div id="page-yield">
        <h2 style="padding: 10px;">Coming Soon</h2>
      </div>
    <% end %>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<style>
    .fee_bottom span a{
      color: #fff;
    }
    .history{
        font-size: 14px; 
        font-family: verdana;
        color: #000; 
        border: 1px solid #ccc; 
        padding: 5px; 
        border-radius: 5px;
        text-decoration: none;
    }
    .history:hover{
        text-decoration: none;
        background: #1C4F04;
        color: #fff;
    }
    .live{
        background: #DB3434;
        color: #fff; 
        font-size: 14px; 
        font-family: verdana;
        border: 1px solid #ccc; 
        padding: 5px; 
        border-radius: 5px;
        text-decoration: none;
    }
    .history:hover{
        text-decoration: none;
        background: #1C4F04;
        color: #fff;
    }
    .live:hover{
        text-decoration: none;
        background: #fff;
        color: #000;
    }
</style>
<script>
  String.prototype.replaceAll = function(search, replacement) {
      var target = this;
      return target.replace(new RegExp(search, 'g'), replacement);
  };
</script>
<script>
  j(document).ready(function(){
      j(document).on('click', '.finance_fees_collection_chk', function(){
          var count_fees = 0;
          var fees = "";
          
          if ( j(this).hasClass('fa-check-square-o') )
          {
              j(this).addClass('fa-square-o');
              j(this).removeClass('fa-check-square-o');
          }
          else
          {
              j(this).removeClass('fa-square-o');
              j(this).addClass('fa-check-square-o');
          }
          
          var fees = "";
          j(".finance_fees_collection_chk").each(function(){
              if ( j(this).hasClass('fa-check-square-o') )
              {
                var fee_id = this.id;
                fees += fee_id + ",";
              }
          });
          if (fees.length > 0)
          {
              fees = fees.substr(0,fees.length - 1 );
          }
          else
          {
              fees = "0"
          }
          j("#fee_id").val(fees);
      });
      
      j(document).on('click', '.finance_fees_collection_chk_all', function(){
          var count_fees = 0;
          var fees = "";
          
          if ( j(this).hasClass('fa-check-square-o') )
          {
              j(this).addClass('fa-square-o');
              j(this).removeClass('fa-check-square-o');
              
              j(".finance_fees_collection_chk").each(function(){
                  j(this).addClass('fa-square-o');
                  j(this).removeClass('fa-check-square-o');
              });
          }
          else
          {
              j(this).removeClass('fa-square-o');
              j(this).addClass('fa-check-square-o');
              
              j(".finance_fees_collection_chk").each(function(){
                  j(this).removeClass('fa-square-o');
                  j(this).addClass('fa-check-square-o');
              });
          }
          
          
          var fees = "";
          j(".finance_fees_collection_chk").each(function(){
              if ( j(this).hasClass('fa-check-square-o') )
              {
                var fee_id = this.id;
                fees += fee_id + ",";
              }
          });
          if (fees.length > 0)
          {
              fees = fees.substr(0,fees.length - 1 );
          }
          else
          {
              fees = "0"
          }
          j("#fee_id").val(fees);
      });
  });
</script>