<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
// Put jQuery 1.10.2 into noConflict mode.
  var $jq1 = jQuery.noConflict(true);
</script>
<div class="header-wrapper">


    <div class="header-title">
        <div class="header-icon">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper">
            <div class="header-title-main-text f2">
                <%= t('admission') %>
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>
</div>
<div id="page-yield">

    <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

    <div id="parents">

        <% unless @student.guardians.empty? %>
     
          <div class="f1-steps">
              <div class="f1-progress">
                  <div class="f1-progress-line" data-now-value="40.5" data-number-of-steps="3" style="width: 40.5%;"></div>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">1</div></div>
                  <p><a href="/student/edit/<%= params[:id] %>?steps=one">Student Information</a></p>
              </div>
              <div class="f1-step active">
                  <div class="f1-step-icon"><div class="fa">2</div></div>
                  <p>Guardian Information</p>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">3</div></div>
                  <p>Previous Details</p>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">4</div></div>
                  <p>Aditional Information</p>
              </div>
          </div>    
        <fieldset>
          <legend><%= t('saved_message') %> <%= @student.full_name %></legend>
          <ul id="parents-list">
              <%- @student.guardians.each do |p| -%>
              <li class="list<%=cycle('odd', 'even')%>">
                  <%= p.full_name %> - <%= p.relation %> &nbsp; &nbsp;
                  <% if permitted_to? :edit_guardian,:student %>
                    <%= link_to "► #{t('edit_text')}",
                    { :controller => 'student', :action => 'edit_guardian', :id => p.id,:student_id=>@student.id,:steps=>"one"}, :class=>"btn btn-success" %>
                  <% end %>
              </li>
              <%  end %>
              <div id="add-more-parent">
                  <%= link_to_function "► #{t('add_another_guardian')}", :class => "btn btn-success" do |page|
                    page.visual_effect :toggle_slide, "admission1_form"
                    page.hide "parents"
                    end %>
              </div>
              <div id="skip">
                  <%= link_to "► #{t('save_and_proceed')}", {:controller => "student", :action => "admission3", :id => @student.id }, :class => "btn btn-success" %>
              </div>
              <script type="text/javascript">
                Event.observe(window, 'load', function () {
                    $('admission1_form').hide();
                });
              </script>
          </ul>
        </fieldset>              

        <%  end %>

    </div>

    <% form_for :guardian do |f| %>

      <%= f.error_messages :header_message => nil %>
      <% if f.error_messages.present?  %>
        <script type="text/javascript">
          Event.observe(window, 'load', function () {
              $('parents').hide();
          });
          Event.observe(window, 'load', function () {
              $('admission1_form').show();
          });
        </script>
      <% end %>
      <div id="admission1_form">
          <div class="f1-steps">
              <div class="f1-progress">
                  <div class="f1-progress-line" data-now-value="40.5" data-number-of-steps="3" style="width: 40.5%;"></div>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">1</div></div>
                  <p><a href="/student/edit/<%= params[:id] %>?steps=one">Student Information</a></p>
              </div>
              <div class="f1-step active">
                  <div class="f1-step-icon"><div class="fa">2</div></div>
                  <p>Guardian Information</p>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">3</div></div>
                  <p>Previous Details</p>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">4</div></div>
                  <p>Aditional Information</p>
              </div>
          </div>  
          <div id="admission1_form_vertical_block_left">

              <div class="form-group col-sm-6 even">
                  <label for="parent_detail_student_id"><%= "#{t('student_text')}  #{t('admission_number')}" %></label>
                  <%= f.text_field :first_name,:value=>@student.admission_no,:readonly=>"readonly", :class=>"form-control" %>
                  <%= f.hidden_field :ward_id, :value => @student.id %>
              </div>


              <div class="col-sm-12" style="padding:0px;">
                  <fieldset>
                      <legend><%= t('parent') %> - <%= t('personal_details') %></legend>
                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_name"><%= t('first_name') %><span class="necessary-field">*</span></label>
                          <%= f.text_field :first_name, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_name"><%= t('last_name') %></label>
                          <%= f.text_field :last_name, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_relation"><%= t('relation') %><span class="necessary-field">*</span></label>
                          <%= f.text_field :relation, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_dob"><%= t("date_of_birth") %></label>
                          <%= calendar_date_select_tag 'guardian[dob]', nil,
                            :year_range => 60.years.ago..20.years.ago, :readonly=>true, :popup=>"force", :class=>"form-control form-control-date" %>
                      </div>



                      <div class="form-group col-sm-6 even"  >
                          <label for="parent_detail_education"><%= t('education') %></label>
                          <%= f.text_field :education, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_occupation"><%= t('occupation') %></label>
                          <%= f.text_field :occupation, :class=>"form-control" %>
                      </div>
                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_occupation"><%= "Organization" %></label>
                          <%= f.text_field :organization, :class=>"form-control" %>
                      </div>
                      <div class="form-group col-sm-6">
                          <label for="parent_detail_occupation"><%= "Designation" %></label>
                          <%= f.text_field :designation, :class=>"form-control" %>
                      </div>

                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_occupation"><%= "NID/Passport Number" %></label>
                          <%= f.text_field :passport, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_income"><%= t('income') %></label>
                          <%= f.text_field :income, :class=>"form-control" %>
                      </div>
                  </fieldset>
              </div>     

              <div class="col-sm-12" style="padding:0px;">
                  <fieldset>
                      <legend><%= t("parent") %> - <%= t('contact_details_office') %></legend>


                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_email"><%= t('email') %></label>
                          <%= f.text_field :email, :class=>"form-control" %>
                      </div>

                      <div class="form-group col-sm-6">
                          <label for="master_student_city"><%= t('office_address_line1') %></label>

                          <%= f.text_field :office_address_line1, :class=>"form-control" %>

                      </div>



                      <div class="form-group col-sm-6 even">
                          <label for="master_student_city"><%= t('office_address_line2') %></label>

                          <%= f.text_field :office_address_line2, :class=>"form-control" %>

                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_city"><%= t('city') %></label>

                          <%= f.text_field :city, :class=>"form-control" %>

                      </div>

                      <div class="form-group col-sm-6 even" style="display: none;">
                          <label for="parent_detail_state"><%= t('state') %></label>

                          <%= f.text_field :state, :class=>"form-control" %>

                      </div>



                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_country"><%= t('country') %></label>

                          <%= select :guardian, :country_id, Country.all.map {|c| [c.name, c.id]}, :selected => 14 %>

                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_office_phone1"><%= t('phone') %></label>
                          <%= f.text_field :office_phone1, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6 even">
                          <label for="parent_detail_office_phone2">Residence Phone</label>
                          <%= f.text_field :office_phone2, :class=>"form-control" %>
                      </div>



                      <div class="form-group col-sm-6">
                          <label for="parent_detail_mob_phone"><%= t('mobile') %></label>
                          <%= f.text_field :mobile_phone, :class=>"form-control" %>
                      </div>
                  </fieldset>
              </div> 
              <div class="form-group col-sm-6 even">
                  <%= submit_tag "", :value => " ► #{t('save_and_proceed')}",  :name => "commit", :class => "btn btn-success", :disable_with => "► #{t('please_wait')}" %>
              
                  <%= link_to "► #{t('click_here_to_skip')}", {:controller => "student", :action => "admission3", :id => @student.id }, :class => "btn btn-success" %>
              </div>

          </div>



      </div>
    <% end %>

</div>
<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'form-bootstrap' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
