<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
// Put jQuery 1.10.2 into noConflict mode.
  var $jq1 = jQuery.noConflict(true);
</script>
<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'form-bootstrap' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<div class="header-wrapper">
    <div class="header-title">
        <div class="header-icon">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper">
            <div class="header-title-main-text f2">
                <%= t('admission') %>
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>
</div>
<div id="page-yield">

    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>
    <% form_for :student_additional_details do |a| %>
      <%= error_messages_for 'student' %>
  <%#= error_messages_for 'employee_bank_details' %>
      <% i=0 %>
      <div id="admission1_form"> 
          <div class="f1-steps">
              <div class="f1-progress">
                  <div class="f1-progress-line" data-now-value="85.5" data-number-of-steps="2" style="width: 85.5%;"></div>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">1</div></div>
                  <p><a href="/student/edit/<%= params[:id] %>?steps=one">Student Information</a></p>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">2</div></div>
                  <p><a href="/student/admission2/<%= params[:id] %>">Guardian Information</a></p>
              </div>
              <div class="f1-step">
                  <div class="f1-step-icon"><div class="fa">3</div></div>
                  <p><a href="/student/previous_data/<%= params[:id] %>">Previous Details</a></p>
              </div>
              <div class="f1-step active">
                  <div class="f1-step-icon active"><div class="fa">4</div></div>
                  <p>Aditional Information</p>
              </div>
          </div>

          <div class="col-sm-12" style="padding:0px;">
              <fieldset>
                  <legend><%= t('additional_detail') %></legend>
                  <% @additional_fields.each do |additional| %>
                    <% prev_record = @student_additional_details.find_by_additional_field_id(additional.id) %>
                    <% unless prev_record.nil? %>
                      <% if additional.input_type=="has_many" %>
                        <% prev_value = prev_record.additional_info.split(", ") %>
                      <% else %>
                        <% prev_value = prev_record.additional_info %>
                      <% end %>
                    <% end %>
                    <% input_val = ((params[:student_additional_details].present? and params[:student_additional_details][additional.id.to_s.to_sym].present? and params[:student_additional_details][additional.id.to_s.to_sym][:additional_info].present?) ? (params[:student_additional_details][additional.id.to_s.to_sym][:additional_info]) : (prev_value.present? ? prev_value : nil))%>
                    <% if additional.input_type=="belongs_to" %>
                      <div class="form-group col-sm-6">
                          <label><%= additional.name %>
                              <% if additional.is_mandatory %>
                                <span class="necessary-field">*</span>
                              <% end %>
                          </label>
                          <%= select_tag "student_additional_details[#{additional.id}][additional_info]", options_for_select(additional.student_additional_field_options.map{|b| [b.field_option,b.field_option]}, input_val)%>
                      </div>
                    <% elsif additional.input_type=="has_many" %>
                          <div class="form-group col-sm-6">
                              <label><%= additional.name %>
                                  <% if additional.is_mandatory %>
                                    <span class="necessary-field">*</span>
                                  <% end %></label>
                          <div class="fee_category_scroll">
                              <div class="sel-list">
                                  <%= t('select') %>: <%= link_to_function t('all'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = true; });" %>,
                                  <%= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
                              </div>
                              <% additional.student_additional_field_options.each do |k| %>
                                <div class="each_batch">
                                    <%= check_box_tag "student_additional_details[#{additional.id}][additional_info][]", k.field_option,(!(input_val.nil?) and input_val.include?(k.field_option)), :class=>"batches_box check#{i}" %> <label><%= k.field_option %></label>
                                </div>
                              <% end %>
                          </div>
                          </div>      
                      <% i+=1 %>
                    <% elsif additional.input_type=="text_area" %>
                      <div class="form-group col-sm-6">
                          <label><%= additional.name %>
                              <% if additional.is_mandatory %>
                                <span class="necessary-field">*</span>
                              <% end %></label>
                          <%= text_area_tag "student_additional_details[#{additional.id}][additional_info]", input_val, :class=>"form-control"%>
                      </div>
                    <% else %>
                      <div class="form-group col-sm-6">
                          <label><%= additional.name %>
                              <% if additional.is_mandatory %>
                                <span class="necessary-field">*</span>
                              <% end %></label>
                              <%= text_field_tag "student_additional_details[#{additional.id}][additional_info]", input_val, :class=>"form-control" %>
                      </div>
                    <% end %>

                  <% end %>
              </fieldset>
              <div class="form-group col-sm-6 even">
                <%= submit_tag "► #{t('save_and_proceed')}", :disable_with => "► #{t('please_wait')}", :class => "btn btn-success" %>
              </div>
          </div>   
      </div>
    <% end %>

</div>
