
<% if !@main_batch.nil? && !@main_batch.course.group.nil? %>
  <% group_split = @main_batch.course.group.split(" ") %>
  <% unless group_split[2].blank? %>
    <% group_split[0] = group_split[0]+" "+group_split[1] %>
  <% end %>
  <% 
  if !@main_batch.course.group.blank? && !@main_batch.course.group.index("--").nil? 
    group_split[0] = ""
  end 

  %>
<% end %>
<div id="page-yield" class="available_sections1" style="width:1250px !important;">
    <div class="heading-section" style="width: 100%;" >
        <div class="box info"  style="width:500px !important; margin: 0 auto;">
            <% if @batch_only == "1" %>
              <span>Course: <strong> <%= @batch.course.course_name  %> </strong>, Section: <strong> <%= @batch.course.section_name  %> </strong> </span><br>
            <% else %>
              <span>Course: <strong> <%= @batch.course.course_name  %> </strong> </span><br>
            <% end %>
            <% unless @main_batch.blank? %>
              <span>Group: <strong> <%= group_split[0] unless @main_batch.course.group.nil?  %> </strong> </span><br>
            <% end %>
            <span>Elective Subject: <strong> <%= @elective_subject.name  %> </strong> </span><br>
        </div>
        <h3>Assigned Student List</h3>
    </div>
    <div class="content-section" >
        <table id="pdf-table" class="custom-table">
            <tr class="table-header">
                <th class="col-pdf sl">Serial</th>
                <th class="col-pdf name">Student Name</th>
                <th class="col-pdf name">
                            <% if MultiSchool.current_school.code == "sfx" %>
                              <%= t('adm_no') %>
                            <% else %>
                              <%= t('roll_number') %>
                            <% end %></th>
                <th class="col-pdf admn_no">Admission No</th>
                <th class="col-pdf elective_type">Elective Type</th>
            </tr>
            <% page = 0 %>
            <% std_count = 0 %>
            <% j = 0 %>
            <% @subject_students.each do |sub_std| %>
              <% if sub_std.student.blank? %>
                <% next %>
              <% end %>
              <% j = j+1 %>
              <%  std_count = std_count+1; %>
             
              <tr>
                  <td class="col-pdf sl"><%= j %></td>
                  <td class="col-pdf name"><%= sub_std.student.full_name %></td>
                  <td class="col-pdf name"><%= sub_std.student.class_roll_no %></td>
                  <td class="col-pdf admn_no"><%= sub_std.student.admission_no %></td>
                  <td class="col-pdf elective_type">
                      <% if sub_std.elective_type == 3 %>
                        <%= 'Third Subject'  %>
                      <% elsif sub_std.elective_type == 4 %>
                        <%= 'Fourth Subject'  %>
                      <% else %>
                        <%= 'NA'  %>
                      <%  end %>
                  </td>
              </tr>
            <% end %>
        </table>
    </div>
</div>

<style>
<% if std_count > 55 %>
table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
}
<% end %>

</style>

