<style>
    div.page-break-main { display:block; clear:both; page-break-after:always;}
    .security-card{
        width: 99%;
        height:570px;
        border: 2px solid #000;
        margin-bottom: 30px;
        margin-top: 90px;
    }
    .col-6{
        width:50%;
        float: left;
    }
    .card-header{
        width: 100%;
        text-align: center;
    }
    .card-details{
        width: 90%;
        margin: 0 auto;
    }
    .student-info{font-size: 25px;}
    .authorisation{
        float: right;
        margin-top: 10px;
        margin-right: 80px;
        width: 200px;
        text-align: center;
    }
    .authorisation img{
      width:60%;
    }
    .incharge{
      border-top: 2px #000 solid;
      font-size: 16px !important;
    }
    .validtill{
        margin-top: 160px;
    }
    .chargeinfo{font-size: 15px !important;}
    .std-name{
        text-transform: uppercase;
    }
    .sectionname{
        text-transform: uppercase;
    }
    #page-yield 
    {
        width:1250px;
        margin: 0 auto;
    }

    div.galleryimg {
        border: 1px solid #ccc;
        float: left;
        width: 26%;
        margin: 20px 20px;
    }

    div.galleryimg img {
        width: 100%;
        height: 180px;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
    .school-logo{
      width: 100%;
      margin-top: 30px;
      margin-bottom: 120px;
    }
    .school-logo-summerfield{
      width: 50%;
      float: left;
    }
    .school-logo-summerfield img{
      width: 70%;
      margin-left: 30px;
    }
    .school-logo-tinytots{
      width: 50%;
      float: left;
    }
    .school-logo-tinytots img{
      width: 70%;
      float: right;
      margin-right: 20px;
    }

</style>   
<% default_image = "public/images/HR/default_employee.png" %>
<% summerfield = "public/images/summerfield/logo.png" %>
<% ttots = "public/images/summerfield/ttots.png" %>
<% signature = "public/images/summerfield/signature.png" %>
<div id="page-yield" class="available_sections1 baf_shaheen">
    <div class="section1 row" >
        <% i = 0 %>
        <% @student_security.each do |card| %>

          <% i = i+1 %>
        <div class="security-card">
              <div class="col-6">
                  <div class="school-logo">
                    <div class="school-logo-summerfield">
                     <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (summerfield)) %>
                  </div>
                  <div class="school-logo-tinytots">
                     <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (ttots))%>
                  </div>
                  </div>
                  
                  <div class="card-header">
                      <h3>The Holder of this card is authorised to collect</h3>
                  </div>
                  <div class="card-details">
                      <p class="student-info">
                          <strong class="std-name"> <%= card.full_name  %> </strong> <br/> 
                          of class: <strong><%= card.batch.course.course_name %></strong> 
                          Section: <strong class="sectionname"><%= card.batch.course.section_name  %> </strong>
                          <% if MultiSchool.current_school.code == "sfx" %>
                              <%= t('adm_no') %>
                            <% else %>
                              <%= t('roll_number') %>
                            <% end %>: <strong><%= card.class_roll_no %></strong><br/> 
                          Date of Issue: <strong><%= Date.today  %> </strong>
                      </p>
                      <div class="authorisation">
                          <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (signature))%>
                        <p class="incharge"> Authorised Signature </p>
                      </div>
                      <p class="validtill">Valid till: <strong><%= Date.today + 4.months  %> </strong></p>
                      <p class="chargeinfo"><sup>*</sup>A charge of Taka 200 is to be paid for replacement of the card </p>
                  </div>
              </div>
              <div class="col-6 card-images">
                  <div class="galleryimg">
                      <% if card.photo.file? %>
                      <% profile_image = card.photo.url %>
                        <% unless profile_image.index("RackMultipart").nil? %>	
                           <% profile_image.gsub! '?', '.?' %>	
                        <% end %>
                      <% else %>
                        <% profile_image = default_image %>
                      <% end %>
                      <%= wicked_pdf_image_tag "/"+"#{Rails.root}/public/"+ "#{profile_image}" %>
                      
                      <div class="desc">Student</div>
                  </div>
                  <div class="galleryimg">
                      <% if card.student_security %>
                        <img src="<%= card.student_security.photo1   %>" />
                      <%  else %>
                        <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (default_image)) %>
                      <% end %>
                      <div class="desc">Parent</div>
                  </div>
                  <div class="galleryimg">
                      <% if card.student_security %>
                        <img src="<%= card.student_security.photo2   %>" />
                      <%  else %>
                        <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (default_image)) %>
                      <% end %>
                      <div class="desc">Parent</div>
                  </div>
                  <div class="galleryimg">
                      <% if card.student_security %>
                        <img src="<%= card.student_security.photo3   %>" />
                      <%  else %>
                        <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (default_image)) %>
                      <% end %>
                      <div class="desc">Guardian</div>
                  </div>
                  <div class="galleryimg">
                      <% if card.student_security %>
                        <img src="<%= card.student_security.photo4   %>" />
                      <%  else %>
                        <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (default_image)) %>
                      <% end %>
                      <div class="desc">Guardian</div>
                  </div>
                  <div class="galleryimg">
                      <% if card.student_security %>
                        <img src="<%= card.student_security.photo5   %>" />
                      <%  else %>
                        <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (default_image)) %>
                      <% end %>
                      <div class="desc">Guardian</div>
                  </div>
              </div>
          </div>
          <% if i%3 == 0 %>
            <div class="page-break-main"></div>
          <% end %>

        <% end %>
    </div>
</div>


