<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= show_header_icon %>
  <h1><%= t('student_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%= t('elective') %></div>

</div>

<div id="page-yield">
  <%  unless @from_action == "subjects"  %>     
  <div class="bread_crumb">
    <%= link_to t('configuration_text'), :controller => "configuration", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
    <%= link_to t('manage_batch'), :controller => "courses", :action => "manage_batches" %>  <div class = "bread-crumb-separator"> > </div> 
    <%= link_to t('assign_subject'), :controller => "batch_transfers", :action => "subject_transfer", :id=>@batch %>  <div class = "bread-crumb-separator"> > </div> 
    <%= link_to t('elective_group'), batch_elective_groups_path(@batch) %>  <div class = "bread-crumb-separator"> > </div> 
    <%= link_to @elective_group.name, [@batch, @elective_group] %>  <div class = "bread-crumb-separator"> > </div> 
    <%= t('assign_student') %>
  </div>  
  <% else %>  
  <div class="bread_crumb">
    <% if @show_batch_subject %>
    <%= link_to t('subject_text'), :controller => "subjects", :action=>"index", :show_batch_subject => "1" %> <div class = "bread-crumb-separator"> > </div>
    <% else %>
      <% if @batch_only %>
        <%= link_to t('subject_text'), :controller => "subjects", :action=>"index", :show_batch_subject => "1" %> <div class = "bread-crumb-separator"> > </div>
      <% else %>
        <%= link_to t('subject_text'), :controller => "subjects", :action=>"index" %> <div class = "bread-crumb-separator"> > </div>
      <% end %>
    <% end %>
    <% if @show_batch_subject %> 
      <%= link_to "#{t('elective_group')}", batch_elective_groups_path(@batch, :show_batch_subject => "1", :from_action => "subjects")  %>  <div class = "bread-crumb-separator"> > </div> 
    <% else %>
      <% if @batch_only %>
        <%= link_to "#{t('elective_group')}", batch_elective_groups_path(@batch, :show_batch_subject => "0", :from_action => "subjects", :batch_only => "1", :batch_name => @batch_name)  %>  <div class = "bread-crumb-separator"> > </div> 
      <% else %>
        <%= link_to "#{t('elective_group')}", batch_elective_groups_path(@batch, :show_batch_subject => "0", :from_action => "subjects")  %>  <div class = "bread-crumb-separator"> > </div> 
      <% end %>
    <% end %>
    <% if @show_batch_subject %>  
    <%= link_to @elective_group.name, '/batches/' + @batch.id.to_s + '/electives/' + @elective_group.id.to_s + '?from_action=' + @from_action %>  <div class = "bread-crumb-separator"> > </div> 
    <% else %>
      <% if @batch_only %>
      <%= link_to @elective_group.name, '/batches/' + @batch.id.to_s + '/electives/' + @elective_group.id.to_s + '?from_action=' + @from_action + '&show_batch_subject=0&batch_only=1&batch_name=' + @batch_name %>  <div class = "bread-crumb-separator"> > </div> 
      <% else %>
      <%= link_to @elective_group.name, '/batches/' + @batch.id.to_s + '/electives/' + @elective_group.id.to_s + '?from_action=' + @from_action + '&show_batch_subject=0' %>  <div class = "bread-crumb-separator"> > </div> 
      <% end %>
    <% end %>
    <%= t('assign_student') %>
  </div> 
  <% end %>  
  <h4><%= @course_name  %></h4>
  
    
  <div id="flash_box"></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <% if @show_batch_subject %>  
  <div class="name"><%= t('batch') %></div><div class="val themed_text"><span>:</span><%= @batch.name %></div>
  <div class="name" style="padding-top: 7px;"><%=t('elective_group') %></div><div class="val themed_text" style="padding-top: 7px;"><span>:</span>
    <%= @elective_group.name %>
  </div>
  <div class="name" style="padding-top: 7px;"><%= t('subject') %></div><div class="val themed_text" style="padding-top: 7px;"><span>:</span><%= @elective_subject.name %></div>
  <% else %>
  <div class="name" style="padding-top: 7px;"><%=t('elective_group') %></div><div class="val themed_text" style="padding-top: 7px;"><span>:</span><%= @elective_group.name %><%= @s_message_for_elective %></div>
  <div class="name" style="padding-top: 7px;"><%= t('subject') %></div><div class="val themed_text" style="padding-top: 7px;"><span>:</span><%= @elective_subject.name %><%= @s_message_for_subject %></div>
  <% end %>
  <br />
  <%unless @students.empty?%>
  <ul id="category-list">
    <div class="linker">
    <select id="elective_type"  style="margin:0px;">
      <option value="0">N/A</option>
      <option value="3">3rd</option>
      <option value="4">4th</option>
    </select> 
    <% if @show_batch_subject %>    
      <%= link_to_remote "#{t('assign_all')}",:url=>{:controller=>"student",:action=>"assign_all_students",:id=>@batch.id,:id2=>@elective_subject.id,:from_action => @from_action},:with =>"'elective_type='+$(elective_type).value" %>
      <%= link_to_remote "#{t('remove_all')}",:url=>{:controller=>"student",:action=>"unassign_all_students",:id=>@batch.id,:id2=>@elective_subject.id,:from_action => @from_action} %></div>
    <% else %>
      <% if @batch_only %>
        <%= link_to_remote "#{t('assign_all')}",:url=>{:controller=>"student",:action=>"assign_all_students",:id=>@batch.id,:id2=>@elective_subject.id, :show_batch_subject => "0", :from_action => @from_action, :batch_only => "1", :batch_name => @batch_name},:with =>"'elective_type='+$(elective_type).value"%>
        <%= link_to_remote "#{t('remove_all')}",:url=>{:controller=>"student",:action=>"unassign_all_students",:id=>@batch.id,:id2=>@elective_subject.id, :show_batch_subject => "0", :from_action => @from_action, :batch_only => "1", :batch_name => @batch_name} %></div>
      <% else %>
        <%= link_to_remote "#{t('assign_all')}",:url=>{:controller=>"student",:action=>"assign_all_students",:id=>@batch.id,:id2=>@elective_subject.id, :show_batch_subject => "0", :from_action => @from_action},:with =>"'elective_type='+$(elective_type).value"%>
        <%= link_to_remote "#{t('remove_all')}",:url=>{:controller=>"student",:action=>"unassign_all_students",:id=>@batch.id,:id2=>@elective_subject.id, :show_batch_subject => "0", :from_action => @from_action} %></div>
      <% end %>
    <% end %>
    <% if @show_batch_subject %>
    <% @students.each do |s| %>
      <li id="stud_<%=s.id%>" class="list<%=cycle('odd', 'even')%>">
        <% stud_assigned = StudentsSubject.new() %>
        <% assigned = stud_assigned.student_assigned(s.id,@elective_subject.id) %>
        <div class="category-name"> <%= s.full_name %></div>
        
        <% unless assigned.nil? %>
          <div class="category-edit">
              
          <%= link_to_remote "#{t('remove')}",:url=>{:controller=>"student",:action=>"unassign_students",:id=>s.id,:id2=>@elective_subject.id}, :before=>"this.style.display='none'" %>
          <% if assigned.elective_type > 0  %>
             <% if assigned.elective_type == 3 %>
              &nbsp;(3rd)
             <% else %>
             &nbsp;(4th)
             <% end %>
          <% end %>
          </div>
        <% else %>
          <div class="category-edit">
             
            <select id="elective_type_<%=s.id.to_s%>"  style="margin:0px;">
              <option value="0">N/A</option>
              <option value="3">3rd</option>
              <option value="4">4th</option>
            </select> 
            <%= link_to_remote "#{t('assign')}", :url=>{:controller=>"student",:action=>"assign_students",:id=>s.id,:id2=>@elective_subject.id}, :before=>"this.style.display='none';",:with =>"'elective_type='+$(elective_type_#{s.id}).value" %></div>
        <% end %>
      </li>
    <% end %>
    <% else %>
      <% i = 0 %>
      <% @students.each do |key, s_data| %>
        <% if i > 0 %>
          <div style="clear: both; height: 20px;"></div>
          <hr class="label-underline-2" style=""></hr>
          <div style="clear: both; height: 20px;"></div>
        <% end %>
        <span class="span-sub-heading"><%= t('batches_text') %>: <%= key %></span>
        <hr class="sub-heading">
        <% s_data.each do |data| %>
          <% @students_data_found =  "(No Student found...)"%>
          <% unless data['students'].nil? %>
            <% if data['students'].length > 0 %>
              <%  @students_data_found  = "" %>
            <% end %>
          <% else %>  
            <% unless data['message'].nil? %>
              <%  @students_data_found  = data['message'] %>
            <% end %>
          <% end %>
          <span class="span-sub-heading-course">Section: <%= data["section"] %></span>
          <hr class="label-underline" style=""></hr>
          <% if @students_data_found.length > 0 %>
            <div style="font-size: 13px; text-align: center; padding-bottom: 20px;"> <%= @students_data_found  %>   </div>
          <% end %>
          <% unless data['students'].nil? %>
            <% if data['students'].length > 0 %>
              <% data['students'].each do |s| %>
              <li id="stud_<%=s.id%>" class="list<%=cycle('odd', 'even')%>" style="width: 86%">
                <% b = s.batch_id %>
                <% @subjects_code = @elective_subject.code %>  
                <% @tmp_subject_to_test = Subject.find_by_code_and_batch_id(@subjects_code,b,:conditions=>"elective_group_id IS NOT NULL AND is_deleted = false") %>  
                <%
                  appropriate_elective_subject_id = 0
                  unless @tmp_subject_to_test.nil?
                    appropriate_elective_subject_id = @tmp_subject_to_test.id
                  end
                %>  
                <% stud_assigned = StudentsSubject.new() %>
                <% assigned = stud_assigned.student_assigned(s.id,appropriate_elective_subject_id) %>
                <div class="category-name"> <%= s.full_name %></div>
                <% unless assigned.nil? %>
                  <% if @batch_only %>
                    <div class="category-edit"><%= link_to_remote "#{t('remove')}",:url=>{:controller=>"student",:action=>"unassign_students",:id=>s.id,:id2=>@elective_subject.id, :batch_only => "1", :batch_name => @batch_name}, :before=>"this.style.display='none'" %></div>
                  <% else %>
                    <div class="category-edit"><%= link_to_remote "#{t('remove')}",:url=>{:controller=>"student",:action=>"unassign_students",:id=>s.id,:id2=>@elective_subject.id}, :before=>"this.style.display='none'" %></div>
                  <% end %>
                <% else %>
                  <% if @batch_only %>
                    <div class="category-edit">
                        <select id="elective_type_<%=s.id%>"  style="margin:0px;">
                          <option value="0">N/A</option>
                          <option value="3">3rd</option>
                          <option value="4">4th</option>
                        </select>
                        <%= link_to_remote "#{t('assign')}", :url=>{:controller=>"student",:action=>"assign_students",:id=>s.id,:id2=>@elective_subject.id, :batch_only => "1", :batch_name => @batch_name}, :before=>"this.style.display='none'",:with =>"'elective_type='+$(elective_type_#{s.id}).value" %></div>
                  <% else %>
                    <div class="category-edit">
                      <select id="elective_type_<%=s.id%>"  style="margin:0px;">
                        <option value="0">N/A</option>
                        <option value="3">3rd</option>
                        <option value="4">4th</option>
                      </select>
                      <%= link_to_remote "#{t('assign')}",:url=>{:controller=>"student",:action=>"assign_students",:id=>s.id,:id2=>@elective_subject.id}, :before=>"this.style.display='none'",:with =>"'elective_type='+$(elective_type_#{s.id}).value" %></div>
                  <% end %>
                <% end %>
              </li>
              <% end %>
              <div style="clear: both; height: 20px;"></div>
            <% end %>
              
          <% end %>
        <% end %>
        <% i += 1 %>              
      <% end %>  
    <% end %>    
  </ul>
<%end%>
  <div class="extender"></div>
</div>
<style>
  .span-sub-heading {
    font-weight: bold;
    padding-top: 10px;
  }
  .span-sub-heading-course {
    font-weight: bold;
    padding-top: 10px;
    font-size: 12px;
    text-align: center;
  }
  .sub-heading {
    background: #9E0F15;
    height: 1px;
    border: none;
    margin-bottom: 15px;
  }
  .label-underline {
    background: #eeeeee;
    height: 1px;
    border: none;
  }
  .label-underline-2 {
    background: #eeeeee;
    height: 2px;
    border: none;
  }
  #category-list li div.category-name
  {
      width:350px;
  }
  #category-list li div.category-edit, #category-list li div.category-delete
  {
      width:100px;
  }
</style>