
<div class="header-wrapper">

  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
        <%= link_to "#{t('send_email')}", :controller => "student", :action => "email", :id => @student.id %>
      </div>
      <div class="clearfix"></div>
      <div class="header-title-sub-text">
        <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="tabbed-header-wrapper">
    <ul class="header-tabs">
      <% if permitted_to? :profile,:student %>
        <li>
          <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <%end%>

      <% if permitted_to? :reports,:student %>
        <li>
          <%= link_to "#{t('reports_text')}", {:controller => 'student', :action => 'reports', :id => @student}, {:class => 'f2'} %>
        </li>
      <%end%>
        
      <% BatchStudent.find_by_student_id(@student.id) %>  
       
      <% if !BatchStudent.blank? %>
              <li>
                <%= link_to "Previous Report", {:controller => "student", :action => "previous_report", :id => @student.id}, {:class => 'f2'} %>
              </li>
      <%  end %> 

      <% if permitted_to? :guardians,:student %>
        <li>
          <%= link_to "#{t('guardians_text')}", {:controller => "student", :action => "guardians", :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

      

      

      <% if @sms_module.include?('Finance') and permitted_to? :fees, :student%>
        <li>
          <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

      <% Champs21Plugin::ADDITIONAL_LINKS[:student_profile_more_menu].each do |mod| %>
        <% if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
          <% unless t(mod[:title]) == "Hostel" %>
          <li>
              <%= link_to "#{t(mod[:title])}", mod[:destination].merge(:id=>@student.id), {:class => 'f2'} %>
          </li>
          <% end %>
        <% end %>
      <% end %>
     <% if permitted_to? :remove, :student or permitted_to? :admission1, :student %>
        <li>
          <%= link_to "#{t('delete_text')}", {:controller => 'student', :action => 'remove', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div id="page-yield" class="bg-disable">

  <div class="wrapper">

    <div id="student_profile_heading">

      <div id="student_main_info">
        <span class="name"> <%= @student.full_name %>  </span>
        <span class="course"><%= t('course_and_batch') %>:<%= @student.batch.full_name %> </span>
        <span class="adm"><%= t('adm_no') %> : <%= @student.admission_no %> </span>
      </div>

      <div class="extender"> </div>

    </div>
    <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
    <% end %>

    <% form_for :email do |f| %>
      <%= error_messages_for 'student', :header_message => nil %>

      <div class="label-field-pair">
        <label for="email_subject"><%= t('subject_messages') %></label>
        <% subject = "" %>
        <% subject = params[:email][:subject] if params[:email] and params[:email][:subject]%>
        <div class="text-input-bg"><%= f.text_field 'subject',:value=>subject%></div>
      </div>

      <div class="label-field-pair">
        <label for="email_recipients"><%= t('recipients') %></label>
        <div class="text-input-bg"><%= select 'email', 'recipients', [["#{t('student_text')}","Student"], ["#{t('guardian')}","Guardian"], ["#{t('student_text')} & #{t('guardian')}","Student & Guardian"]], :selected=>(params[:email] and params[:email][:recipients] ? params[:email][:recipients] : 0) %></div>
      </div>

      <div class="message-area">
        <br/>
        <% message = "" %>
        <% message = params[:email][:subject] if params[:email] and params[:email][:subject]%>
        <label for="email_message"><%= t('message') %></label>
        <%= f.text_area 'message', :value=>message %>
      </div>

      <div class="submit-area">
        <%= submit_tag '' , :value => "►#{t('create_text')}", :disable_with => "► #{t('please_wait')}"  %>
      </div>

    <% end %>

  </div>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>