<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

<div class="header-wrapper">

    <div class="header-title">
        <div class="header-icon">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper">
            <div class="header-title-main-text f2">
                <%= link_to "student Fees", :controller => "student", :action => "fees", :id => @student.id %>
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
        <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
        <ul class="header-tabs">
            <li class="active">
                <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
            </li>
            <li>
                <%= link_to "#{t('view_refunds')}", {:controller => 'finance', :action => "refund_student_view",:id => @student.id}, {:class => 'f2'} %>
            </li>
            <li>
                <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
            </li>
        </ul>
        <% end %>
    </div>

</div>

<div id="page-yield" class="bg-disable">
    <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
      <div class="fees_wrapper">
          <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
          <div id="student_profile_heading">
              <div id="profile_picture_display">
                  <% if @student.photo.file? %>
                    <% @profile_image = @student.photo.url %>
                  
                    <% unless @profile_image.index("RackMultipart").nil? %>
                      <% if @student.photo.exists? %>
                        <% @profile_image.gsub! '?', '.?' %>
                      <% else %>
                        <% @profile_image = "master_student/profile/default_student.png" %>
                      <% end %>
                    <% end %>

                  <% else %>
                    <% @profile_image = "master_student/profile/default_student.png" %>
                  <% end %>
                  <%= image_tag "#{@profile_image}", :width=>"125" %>
                  <% if @student.photo.file? %>
                  <% if @current_user.admin? or permitted_to? :remove_photo, :student %>
                  <div class="image-delete-link" />
                     <%= link_to '<img src="/images/buttons/delete-new.png" />', {:controller => 'student', :action => 'remove_photo', :id => @student.id}, :confirm => "Do you realy want to remove this photo?" %>
                  </div>
                  <% end %>
                  <% end %>

              </div>

              <div id ="student_main_info">
                  <div id="student_name" class="f2"><%= @student.full_name %></div>
                  <div id="student_class"><%= @student.batch.course.course_name %></div>
              </div>
          </div>
          
          <div id="personal_info_wrapper">
              <div id="class_info">
                <% if Batch.active.find(:all, :group => "name").length > 1  %>
                  <div class="infos">
                      <div><%= @student.batch.name %></div>
                      <div><%= t('batch_text') %></div>
                  </div>
                <% end %>
                <div class="infos">
                    <div><%= @student.admission_no %></div>
                    <div><%= t('adm_no') %></div>
                </div>
                <div class="infos last">
                    <% unless  @student.batch.course.section_name.empty? %>
                    <div><%= @student.batch.course.section_name %></div>
                    <div><%= t('profile_section_label') %></div>
                    <% else %>
                    <div> No Section</div>
                    <div></div>
                    <% end %>
                    
                </div>
            </div>
          </div>
          
          
          <div id="student_profile_heading1">
              <div id="student_main_info1">
                  <span class="name" style="width: 70%; display: inline-block;"><h1> Student Fees</h1> </span>
                  <span class="name" style="width: 23%; display: inline-block; text-align: right; padding-right: 20px;">
                      <a class="history" href="javascript:;" style="">History</a>
                  </span>
              </div>
              <div class="extender"> </div>
          </div>

          <% combine_fees_enabled = false %>
          <% @include_combined_fees = PaymentConfiguration.find_by_config_key("include_combined_fees").try(:config_value)    %>
          <% unless @include_combined_fees.blank? %>
          <% combine_fees_enabled = true %>
          <% end %>
          <% student_fee_configuration = StudentFeeConfiguration.find(:first, :conditions => "student_id = #{@student.id} and config_key = 'combined_payment_student'") %>
          <% unless student_fee_configuration.nil? %>
            <% if student_fee_configuration.config_value.to_i == 1 %>
              <% combine_fees_enabled = true %>
            <% else %>
              <% combine_fees_enabled = false %>
            <% end %>
          <% end %>
          
          <div class="extender"> </div>
          <div class="line" style=""></div>
          <div id="fees_list" style="background: #FBFBFB; padding: 20px;">
            <% if @current_user.admin?  %>
            <div id="combined_configuration" style="padding: 20px 0; ">
                <% if combine_fees_enabled %>
                <i id="combined_payment_student" name="combined_payment_student" class="fa fa-check-square-o" style="font-size: 20px; "></i>&nbsp;&nbsp;&nbsp;Enable Combined payment for this student
                <% else %>
                <i id="combined_payment_student" name="combined_payment_student" class="fa fa-square-o" style="font-size: 20px; "></i>&nbsp;&nbsp;&nbsp;Enable Combined payment for this student
                <% end %>
            </div>
            <% end %>
            <p id="no_fee_dues" style="display: none; font-size: 14px; font-family: verdana;">No Fee dues found</p>
            <p id="no_fee_history" style="display: none; font-size: 14px; font-family: verdana;">No Previous Fee History</p>
            <% found_fees = false %>
            <% if @dates_unpaid.present? %>
            <% found_fees = true %>
            <% end %>
            <% if @dates_paid.present? %>
            <% found_fees = true %>
            <% end %>
            <div style="width: 100%; text-align: right;"></div>
          </div>
          
            <div id="fees_list_unpaid"  style="background: #FBFBFB; padding: 20px; float: left; width: 96%;">
              <div style="text-align: center; width: 100%;">
                <% fees_multiple = "" %>  
                <% l = 0 %>  
                <%- @dates_unpaid.each do |d| -%>
                  <%  finance_fee = @student.finance_fee_by_date(d) %>
                  <%  paid_fees = finance_fee.finance_transactions %>
                  <%
                    paid_amount = 0.0
                    unless paid_fees.nil? or paid_fees.blank?
                      paid_fees.each do |pf|
                        paid_amount += pf.amount
                      end
                    end
                  %>

                  <% if finance_fee.balance.to_f > 0 %>
                  <% fee_box_class = "unpaid" %>
                  <% else %>
                  <% fee_box_class = "paid" %>
                  <% end %>
                  <div class='fee_details_box <%= fee_box_class %>' id="finance_fee_<%= finance_fee.id %>">
                      <% checked_class = "fa-square-o" %>
                      <% cls_rerd = "finance_fees_collection_chk finance_fees_collection_all" %>
                      <% if combine_fees_enabled %>
                        <% cls_rerd = "finance_fees_collection_all" %>
                        <% checked_class  = "fa-check-square-o" %>
                        <% fees_multiple += finance_fee.id.to_s + "," %>
                      <% end %>
                      <div class="fee_name" style="position: relative;"><span style="position: absolute; top: 10px; left: 10px; height: 30px; width: 30px;"><i id="fee_collection_<%= finance_fee.id %>" class="fa <%= checked_class %> <%= cls_rerd %>" style="font-size: 30px; color: #FFFFFF; "></i></span><%= d.name  %></div>
                      <!--div class="fee_name"><%#= d.name  %></div-->
                      <div class='fee_details'>
                          <table style='width: 100%;'>
                              <tr><td class="fee_due" colspan="2"><b>Fee Details</b></td></tr>
                              <tr>
                                  <td class='fee_due'><b>Due Date</b></td>
                                  <td class='fee_due'><%= d.due_date %></td>
                              </tr>
                              <tr>
                                  <td class='fee_due'><b>Amount</b></td>
                                  <td class='fee_due'><%= precision_label(finance_fee.balance.to_f+d.fine_to_pay(@student).to_f+paid_amount.to_f)  %></td>
                              </tr>
                              <tr>
                                  <td class='fee_due'><b>Paid</b></td>
                                  <td class='fee_due'><%=  precision_label(paid_amount) %></td>
                              </tr>
                              <tr>
                                  <td class='fee_due'><b>Due</b></td>
                                  <td class='fee_due'><%=  precision_label((finance_fee.balance.to_f+d.fine_to_pay(@student).to_f)) %></td>
                              </tr>
                              <tr>
                                  <% has_due = false %>
                                  <% due = 0.00 %>
                                  <td class='fee_due'><b>Status</b></td>
                                  <% if finance_fee.balance.to_f > 0 %>
                                  <% has_due = true %>
                                  <% due = finance_fee.balance.to_f+d.fine_to_pay(@student).to_f %>
                                  <td class='fee_due'>Unpaid</td>
                                  <% else %>
                                  <td class='fee_due'>Paid</td>
                                  <% end %>
                              </tr>
                              <% if has_due %>
                                <% if finance_fee.balance.to_f != due.to_f %>
                                    <% ffee = FinanceFee.find(finance_fee.id) %>
                                    <% ffee.update_attributes(:balance => due, :is_paid => false) %>
                                <% end %>
                              <% else %>
                                <% if finance_fee.is_paid == false %>
                                  <% ffee = FinanceFee.find(finance_fee.id) %>
                                  <% ffee.update_attributes(:balance => 0.00, :is_paid => true) %>
                                <% end %>
                              <% end %>
                          </table>
                      </div>
                      <% if MultiSchool.current_school.id != 352 %>  
                      <div class="fee_bottom">
                          <div><%= link_to "Print Receipt", {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>d.id}, :class=>"fee_link" %></div>
                          <div><%= link_to "Pay Fees", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"fee_link" %></div>
                      </div>
                      <% else %>
                      <div class="fee_bottom">
                          <span style="font-weight: bold;"><%= link_to "Details", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"fee_link", :id => "fee_link_" + Base64.encode64(@student.id.to_s + "-" + d.id.to_s).reverse + '===' + "" %></span>
                      </div>
                      <% end %>
                  </div>
                  <% if l < @dates_unpaid.length - 1 %>
                  <div style="float: left; width: 3%; height: 300px;"></div>
                  <% end %>
                  <% l += 1 %>  
                <% end %>
              </div></div>
              <div id="fees_list_paid" style="background: #FBFBFB; padding: 20px; float: left; width: 96%; border-bottom: 1px solid #999;">
                  <div style="text-align: center; width: 100%;">
                <%- @dates_paid.each do |d| -%>
                  <%  finance_fee = @student.finance_fee_by_date(d) %>
                  <%  paid_fees = finance_fee.finance_transactions %>
                  <%
                    paid_amount = 0.0
                    unless paid_fees.nil? or paid_fees.blank?
                      paid_fees.each do |pf|
                        paid_amount += pf.amount
                      end
                    end
                  %>
                  
                  <% if finance_fee.balance.to_f+d.fine_to_pay(@student).to_f == 0.00 %>
                  <% bal = FinanceFee.get_student_balance(d,@student, finance_fee) %>  
                  <% else %>
                  <% bal = finance_fee.balance.to_f+d.fine_to_pay(@student).to_f %>
                  <% end %>
                  <% due = bal - paid_amount %>
                  <% if due > 0 %>
                  <% fee_box_class = "unpaid" %>
                  <% else %>
                  <% fee_box_class = "paid" %>
                  <% end %>
                  <div class='fee_details_box <%= fee_box_class %>' id="finance_fee_<%= finance_fee.id %>">
                      <% cls_rerd = "finance_fees_collection_all" %>
                      <% checked_class = "fa-check-square-o" %>
                      <% if due > 0 %>
                        <% cls_rerd = "finance_fees_collection_chk finance_fees_collection_all" %>
                        <% checked_class = "fa-square-o" %>
                      
                        <% if combine_fees_enabled %>
                          <% checked_class = "fa-check-square-o" %>
                          <% cls_rerd = "" %>
                          <% fees_multiple += finance_fee.id.to_s + "," %>
                        <% end %>
                      <% end %>
                      
                      <div class="fee_name" style="position: relative;"><span style="position: absolute; top: 10px; left: 10px;"><i class="fa <%= checked_class %> <%= cls_rerd %>" style="font-size: 30px; color: #598A3D; "></i></span><%= d.name  %></div>
                      <div class='fee_details'>
                          <table style='width: 100%;'>
                              <tr><td class="fee_due" colspan="2"><b>Fee Details</b></td></tr>
                              <tr>
                                  <td class='fee_due'><b>Due Date</b></td>
                                  <td class='fee_due'><%= d.due_date %></td>
                              </tr>
                              <tr>
                                  <td class='fee_due'><b>Amount</b></td>
                                  <td class='fee_due'>BDT <%= precision_label(bal.to_f)  %></td>
                              </tr>
                              <tr>
                                  <td class='fee_due'><b>Paid</b></td>
                                  <td class='fee_due'>BDT <%=  precision_label(paid_amount) %></td>
                              </tr>
                              <% has_due = false %>
                              <% due = 0.00 %>
                              <% if paid_amount - bal > 0 %>
                              <tr>
                                  <td class='fee_due'><b>Advance</b></td>
                                  <% advance = paid_amount - bal %>
                                  <td class='fee_due'>BDT <%=  precision_label(advance) %></td>
                              </tr>
                              <% else %>
                              <tr>
                                  <td class='fee_due'><b>Due</b></td>
                                  <% due = bal - paid_amount %>
                                  <td class='fee_due'>BDT <%=  precision_label(due) %></td>
                              </tr>
                              <% if due > 0.00 %>
                              <% has_due = true %>
                              <% end %>
                              <% end %>
                              <tr>
                                  <td class='fee_due'><b>Status</b></td>
                                  <% if has_due %>
                                  <td class='fee_due'>Unpaid</td>
                                  <% else %>
                                  <td class='fee_due'>Paid</td>
                                  <% end %>
                              </tr>
                          </table>
                          <% if has_due %>
                            <% if finance_fee.balance.to_f != due.to_f %>
                                <% ffee = FinanceFee.find(finance_fee.id) %>
                                <% ffee.update_attributes(:balance => due, :is_paid => false) %>
                            <% end %>
                          <% else %>
                            <% if finance_fee.is_paid == false %>
                              <% ffee = FinanceFee.find(finance_fee.id) %>
                              <% ffee.update_attributes(:balance => 0.00, :is_paid => true) %>
                            <% end %>
                          <% end %>
                      </div>
                      <% if MultiSchool.current_school.id != 352 %> 
                      <div class="fee_bottom">
                          <div><%= link_to "Print Receipt", {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>d.id}, :class=>"fee_link" %></div>
                          <div><%= link_to "Details", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"fee_link" %></div>
                      </div>
                      <% else %>
                      <div class="fee_bottom">
                          <span style="font-weight: bold;"><%= link_to "Details", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"fee_link", :id => "fee_link_" + Base64.encode64(@student.id.to_s + "-" + d.id.to_s).reverse + '===' + "" %></span>
                      </div>
                      <% end %>
                  </div>
                  <div style="float: left; width: 3%; height: 300px;"></div>
                <% end %>  
              </div></div>  
              <% if found_fees %>
              <% display = "none" %>
              <% if fees_multiple.strip.length > 0 %>
                <% display = "block" %>
              <% end %>
              <div id="combined_pay" style="display: <%= display %>;">
                <div style="clear: both; height: 4px; background: #FBFBFB; "><hr style="border: 1px solid #ccc;" /></div>
                
                <div style="padding: 10px; text-align: right; height: 60px;">
                    <% if fees_multiple.strip.length > 0 %>
                    <div id="lnk" style="padding-top: 10px;"><%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true, :fees => fees_multiple.strip}, {:class=> 'user_button', :id => "lnk_btn"} %></div>
                    <% else %>
                    <div id="lnk" style="padding-top: 10px;"><%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true}, {:class=> 'user_button', :id => "lnk_btn"} %></div>
                    <% end %>
                </div>
              </div>
              <% end %>
              
            </div>
      </div>
    <% else %>
      <div id="page-yield">
        <h2 style="padding: 10px;">Coming Soon</h2>
      </div>
    <% end %>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<style>
    .fee_bottom span a{
      color: #fff;
    }
    .history{
        font-size: 14px; 
        font-family: verdana;
        color: #000; 
        border: 1px solid #ccc; 
        padding: 5px; 
        border-radius: 5px;
        text-decoration: none;
    }
    .history:hover{
        text-decoration: none;
        background: #1C4F04;
        color: #fff;
    }
    .live{
        background: #DB3434;
        color: #fff; 
        font-size: 14px; 
        font-family: verdana;
        border: 1px solid #ccc; 
        padding: 5px; 
        border-radius: 5px;
        text-decoration: none;
    }
    .history:hover{
        text-decoration: none;
        background: #1C4F04;
        color: #fff;
    }
    .live:hover{
        text-decoration: none;
        background: #fff;
        color: #000;
    }
    #fees_list_paid{
        display: none;
    }
    #fees_list_unpaid{
        display: block;
    }
</style>
<script>
  String.prototype.replaceAll = function(search, replacement) {
      var target = this;
      return target.replace(new RegExp(search, 'g'), replacement);
  };
</script>
<% if @current_user.admin?  %>
  <script>
    j(document).ready(function(){
        j(document).on('click', '#combined_payment_student', function(){
            var count_fees = 0;
            var fees = "";

            if ( j(this).hasClass('fa-check-square-o') )
            {
                j(this).addClass('fa-square-o');
                j(this).removeClass('fa-check-square-o');
                 new Ajax.Request('/finance/set_combined_payment_configuration', 
                      {
                        asynchronous:true, 
                        evalScripts:true, 
                        parameters:'student='+<%=  @student.id %>+'&value=0'+'&key='+j(this).attr('id')
                      }
                )
            }
            else
            {
                j(this).removeClass('fa-square-o');
                j(this).addClass('fa-check-square-o');
                new Ajax.Request('/finance/set_combined_payment_configuration', 
                      {
                        asynchronous:true, 
                        evalScripts:true, 
                        parameters:'student='+<%=  @student.id %>+'&value=1'+'&key='+j(this).attr('id')
                      }
                )
            }
        });
    });
    
    function enable_combined_payment()
    {
        var count_fees = 0;
        var fees = "";
        
        j("#combined_payment_student").removeClass('fa-square-o');
        j("#combined_payment_student").addClass('fa-check-square-o');
        
        j('.finance_fees_collection_all').each(function(){
            j(this).removeClass('fa-square-o');
            j(this).addClass('fa-check-square-o');
        });
        
        j('.finance_fees_collection_all').each(function(){
            if ( j(this).hasClass('fa-check-square-o') )
            {
              var fee_id = this.id.replace('fee_collection_','');
              fees += fee_id + ",";
              count_fees++;
            }
        });
        
        if ( count_fees == 0 )
        {
            j("#combined_pay").hide();
        }
        else
        {
            fees = fees.substr(0, fees.length - 1);
            j("#combined_pay").show();
            j('#lnk').html('<%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true}, :class=> 'user_button' %>');
            var href = j('#lnk').children('a').attr('href');
            j('#lnk').children('a').attr('href', href + "&fees=" + fees);
        }
    }
    
    function remove_combined_payment()
    {
        var count_fees = 0;
        var fees = "";
        
        j("#combined_payment_student").addClass('fa-square-o');
        j("#combined_payment_student").removeClass('fa-check-square-o');
        
        j('.finance_fees_collection_all').each(function(){
            j(this).addClass('fa-square-o');
            j(this).removeClass('fa-check-square-o');
        });
        
        j('.finance_fees_collection_all').each(function(){
            if ( j(this).hasClass('fa-check-square-o') )
            {
              var fee_id = this.id.replace('fee_collection_','');
              fees += fee_id + ",";
              count_fees++;
            }
        });
        
        if ( count_fees == 0 )
        {
            j("#combined_pay").hide();
        }
        else
        {
            fees = fees.substr(0, fees.length - 1);
            j("#combined_pay").show();
            j('#lnk').html('<%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true}, :class=> 'user_button' %>');
            var href = j('#lnk').children('a').attr('href');
            j('#lnk').children('a').attr('href', href + "&fees=" + fees);
        }
    }
  </script>  

<% end %>
<script>
  j(document).ready(function(){
      var unpaid = 0;
      j(".fee_details_box").each(function(){
        if (j(this).hasClass('paid'))
        {
           var parent_id = j(this).parent('div').parent('div').attr('id');
           if ( parent_id == "fees_list_unpaid" )
           {
             var id = this.id;
             var html = j(this).html();
             j("#fees_list_paid").children('div').append('<div class="fee_details_box paid" id="' + id + '">' + html + '</div>');
             j(this).remove();
           }
        }
        else if (j(this).hasClass('unpaid'))
        {
           var parent_id = j(this).parent('div').parent('div').attr('id');
           if ( parent_id == "fees_list_paid" )
           {
             var id = this.id;
             var html = j(this).html();
             j("#fees_list_unpaid").children('div').append('<div class="fee_details_box unpaid" id="' + id + '">' + html + '</div>');
             j(this).remove();
           }
        }
      });
      
      j(".unpaid").each(function(){
        if ( j(this).css('display') != "none" )
        {
          unpaid++;
        }
      });
      if ( unpaid == 0 )
      {
         j("#no_fee_dues").show();
         j("#combined_configuration").hide();
         
         j('.fee_link').each(function(){
            var href = j(this).attr('href');
            var key = this.id.replace("fee_link_", "");
            var k = "=aaz" + key.replaceAll("=","") + "odc==";
            j(this).attr('href', href + "?opt=" + k);
        });
      }
      else if ( unpaid == 1 )
      {
          /*j("#combined_pay").hide();
          
          j('.finance_fees_collection_chk').each(function(){
              j(this).removeClass('finance_fees_collection_chk');
          });
          
          j('.fee_link').each(function(){
              var href = j(this).attr('href');
              var key = this.id.replace("fee_link_", "");
              j(this).attr('href', href + "?opt=" + key);
          });*/
      }
      else
      {
          j('.fee_link').each(function(){
              var href = j(this).attr('href');
              var key = this.id.replace("fee_link_", "");
              var k = "==az" + key.replaceAll("=","") + "lcd===";
              j(this).attr('href', href + "?opt=" + k);
          });
      }
      
      
      
      j(document).on('click', '.history', function(){
          j("#no_fee_dues").hide();
          j("#no_fee_history").hide();
          j("#combined_configuration").hide();
          j("#fees_list_paid").show();
          j("#fees_list_unpaid").hide();
          j("#combined_pay").hide();
          
          
          var paid = 0;
          j(".paid").each(function(){
            if ( j(this).css('display') != "none" )
            {
              paid++;
            }
          });
          if ( paid == 0 )
          {
             j("#no_fee_history").show();
          }
          
          j(this).removeClass("history");
          j(this).addClass("live");
          j(this).text("Current");
      });
      
      j(document).on('click', '.live', function(){
          j("#no_fee_dues").hide();
          j("#no_fee_history").hide();
          j("#fees_list_paid").hide();
          j("#fees_list_unpaid").show();
          
          j("#combined_configuration").show();
          j("#combined_pay").show();
          
          var unpaid = 0;
          j(".unpaid").each(function(){
            if ( j(this).css('display') != "none" )
            {
              unpaid++;
            }
          });
          if ( unpaid == 0 )
          {
             j("#no_fee_dues").show();
             j("#combined_configuration").hide();
          }
          
          j(this).removeClass("live");
          j(this).addClass("history");
          j(this).text("History");
      });
      
      j(document).on('click', '.finance_fees_collection_chk', function(){
          var count_fees = 0;
          var fees = "";
          
          if ( j(this).hasClass('fa-check-square-o') )
          {
              j(this).addClass('fa-square-o');
              j(this).removeClass('fa-check-square-o');
          }
          else
          {
              j(this).removeClass('fa-square-o');
              j(this).addClass('fa-check-square-o');
          }
          j('.finance_fees_collection_chk').each(function(){
              if ( j(this).hasClass('fa-check-square-o') )
              {
                var fee_id = this.id.replace('fee_collection_','');
                fees += fee_id + ",";
                count_fees++;
              }
          });
          if ( count_fees == 0 )
          {
              j("#combined_pay").hide();
          }
          else
          {
              fees = fees.substr(0, fees.length - 1);
              j("#combined_pay").show();
              j('#lnk').html('<%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true}, :class=> 'user_button' %>');
              var href = j('#lnk').children('a').attr('href');
              j('#lnk').children('a').attr('href', href + "&fees=" + fees);
          }
      });
  });
</script>