<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" type="text/css" />

<div class="header-wrapper">

    <div class="header-title">
        <div class="header-icon">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper">
            <div class="header-title-main-text f2">
                <%= link_to "student Fees", :controller => "student", :action => "fees", :id => @student.id %>
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="tabbed-header-wrapper">
        <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
        <ul class="header-tabs">
            <li class="active">
                <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
            </li>
            <% unless MultiSchool.current_school.classpay_enabled %>
            <li>
                <%= link_to "#{t('view_refunds')}", {:controller => 'finance', :action => "refund_student_view",:id => @student.id}, {:class => 'f2'} %>
            </li>
            <li>
                <%= link_to "Ledger", {:controller => 'finance', :action => "student_ledger",:id => @student.id,:id2=>1}, {:class => 'f2'} %>
            </li>
            <li>
                <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
            </li>
            <% end %>
        </ul>
        <% end %>
    </div>

</div>

<div id="page-yield" class="bg-disable">
    <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
      <div class="fees_wrapper">
          <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>
          <div id="student_profile_heading">
              <div id="profile_picture_display">
                  <% if @student.photo.file? %>
                    <% @profile_image = @student.photo.url %>
                  
                    <% unless @profile_image.index("RackMultipart").nil? %>
                      <% if @student.photo.exists? %>
                        <% @profile_image.gsub! '?', '.?' %>
                      <% else %>
                        <% @profile_image = "master_student/profile/default_student.png" %>
                      <% end %>
                    <% end %>

                  <% else %>
                    <% @profile_image = "master_student/profile/default_student.png" %>
                  <% end %>
                  <%= image_tag "#{@profile_image}", :width=>"125" %>
                  <% if @student.photo.file? %>
                  <% if @current_user.admin? or permitted_to? :remove_photo, :student %>
                  <div class="image-delete-link" />
                     <%= link_to '<img src="/images/buttons/delete-new.png" />', {:controller => 'student', :action => 'remove_photo', :id => @student.id}, :confirm => "Do you realy want to remove this photo?" %>
                  </div>
                  <% end %>
                  <% end %>

              </div>

              <div id ="student_main_info">
                  <div id="student_name" class="f2"><%= @student.full_name %></div>
                  <div id="student_class"><%= @student.batch.course.course_name %></div>
              </div>
          </div>
          
          <div id="personal_info_wrapper">
              <div id="class_info">
                <% if Batch.active.find(:all, :group => "name").length > 1  %>
                  <div class="infos">
                      <div><%= @student.batch.name %></div>
                      <div><%= t('batch_text') %></div>
                  </div>
                <% end %>
                <div class="infos">
                    <div><%= @student.admission_no %></div>
                    <div><%= t('adm_no') %></div>
                </div>
                <div class="infos last">
                    <% unless  @student.batch.course.section_name.empty? %>
                    <div><%= @student.batch.course.section_name %></div>
                    <div><%= t('profile_section_label') %></div>
                    <% else %>
                    <div> No Section</div>
                    <div></div>
                    <% end %>
                    
                </div>
            </div>
          </div>
          
          <% unless MultiSchool.current_school.classpay_enabled %>
          <div id="student_profile_heading1">
              <div id="student_main_info1">
                  <span class="name" style="width: 70%; display: inline-block;"><h1> Student Fees</h1> </span>
                  <span class="name" style="width: 23%; display: inline-block; text-align: right; padding-right: 20px;">
                      <a class="history" href="javascript:;" style="">History</a>
                  </span>
              </div>
              <div class="extender"> </div>
          </div>

          <div id="fee_div">
          <% combine_fees_enabled = false %>
          <% @include_combined_fees = PaymentConfiguration.find_by_config_key("include_combined_fees").try(:config_value)    %>
          <% unless @include_combined_fees.blank? %>
          <% combine_fees_enabled = true %>
          <% end %>
          <% student_fee_configuration = StudentFeeConfiguration.find(:first, :conditions => "student_id = #{@student.id} and config_key = 'combined_payment_student'") %>
          <% unless student_fee_configuration.nil? %>
            <% if student_fee_configuration.config_value.to_i == 1 %>
              <% combine_fees_enabled = true %>
            <% else %>
              <% combine_fees_enabled = false %>
            <% end %>
          <% end %>
          
          <div class="extender"> </div>
          <div class="line" style=""></div>
          <% hide_style = "" %>
          <% if @dates_all.blank? %>
            <% hide_style = "display: none;" %>
          <% end %>
          <% unless @current_user.admin?  %>
            <% hide_style = "display: none;" %>
          <% end %>
          <div id="fees_list" style="background: #FBFBFB; padding: 20px; <%= hide_style %>">
            <div id="combined_configuration" style="padding: 20px 0; ">
                <% if combine_fees_enabled %>
                <i id="combined_payment_student" name="combined_payment_student" class="fa fa-check-square-o" style="font-size: 20px; "></i>&nbsp;&nbsp;&nbsp;Enable Combined payment for this student
                <% else %>
                <i id="combined_payment_student" name="combined_payment_student" class="fa fa-square-o" style="font-size: 20px; "></i>&nbsp;&nbsp;&nbsp;Enable Combined payment for this student
                <% end %>
            </div>
            <p id="no_fee_dues" style="display: none; font-size: 14px; font-family: verdana;">No Fee dues found</p>
            <p id="no_fee_history" style="display: none; font-size: 14px; font-family: verdana;">No Previous Fee History</p>
            <div style="width: 100%; text-align: right;"></div>
          </div>
          
          <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
              <thead><!-- class="thead-inverse" -->
                <tr>
                  <th style="font-weight: normal; width: 8%; text-align: center;"><%= "" %> </th>
                  <th style="font-weight: normal; width: 32%; text-align: left;"><%= "Fee Name" %></th>
                  <th style="font-weight: normal; width: 15%; text-align: right;"><%= t('amount') %></th>
                  <th style="font-weight: normal; width: 15%; text-align: right;"><%= "Paid" %></th>
                  <th style="font-weight: normal; width: 15%; text-align: right;"><%= "Due" %></th>
                  <th style="font-weight: normal; width: 15%; text-align: right;"><%= "Advance" %></th>
                  <th style="font-weight: normal; width: 15%; text-align: right;"><%= "" %></th>
                </tr>
              </thead>
              <tbody>
                  <tr class="unpaid_empty_class">
                      <td style="font-weight: normal;" colspan="6">No fees dues</td>
                  </tr>
                  <tr class="paid_empty_class">
                      <td style="font-weight: normal;" colspan="6">No Previous Fee History</td>
                  </tr>
              <% fees_multiple = "" %>  
              <% amount = 0.0 %>    
              <% fees_to_paid = 0 %>    
              <% fine_amount_user = 0.00 %>    
              <% amount_to_pay_without_fine = 0.00 %>    
              <%- @dates_all.each do |d| -%>
                  <% fine_enabled = true %>
                  <% student_fee_configuration = StudentFeeConfiguration.find(:first, :conditions => "student_id = #{@student.id} and date_id = #{d.id} and config_key = 'fine_payment_student'") %>
                  <% unless student_fee_configuration.blank? %>
                    <% if student_fee_configuration.config_value.to_i == 1 %>
                      <% fine_enabled = true %>
                    <% else %>
                      <% fine_enabled = false %>
                    <% end %>
                  <% end %>
                  <%  finance_fee = @student.finance_fee_by_date(d) %>
                  <%  paid_fees = finance_fee.finance_transactions %>
                  <%
                    paid_amount = 0.0
                    fine_amount_paid = 0.0
                    unless paid_fees.nil? or paid_fees.blank?
                      paid_fees.each do |pf|
                        paid_amount += pf.amount
                      end
                      
                      transaction_ids = paid_fees.map(&:id)
                      unless transaction_ids.blank?
                        paidFineFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Fine' AND finance_transaction_id IN (" + transaction_ids.join(",") + ")")
                        unless paidFineFess.blank?
                          fine_amount_paid += paidFineFess.map(&:amount).sum.to_f
                        end
                      end
                    end
                    if fine_amount_paid > 0
                      balance = FinanceFee.get_student_balance(d, @student, finance_fee) + fine_amount_paid.to_f
                    else
                      balance = FinanceFee.get_student_balance(d, @student, finance_fee) + d.fine_to_pay(@student).to_f + fine_amount_paid.to_f
                    end
                  
                    if fine_amount_paid > 0
                      balance_with_fine = FinanceFee.get_student_balance(d, @student, finance_fee) + fine_amount_paid.to_f
                    else
                      balance_with_fine = FinanceFee.get_student_balance(d, @student, finance_fee) + d.actual_fine_to_pay(@student).to_f + fine_amount_paid.to_f
                    end
                    
                    fine_amount_user = d.actual_fine_to_pay(@student).to_f
                    amount_to_pay_without_fine = balance_with_fine - fine_amount_user
                    if amount_to_pay_without_fine < 0
                      amount_to_pay_without_fine = 0
                    end
                  
                    advance = 0.0
                    
                    advance_amount_paid = 0.0
                    unless paid_fees.nil? or paid_fees.blank?
                      transaction_ids = paid_fees.map(&:id)
                      unless transaction_ids.blank?
                        paidAdvanceFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Particular' AND transaction_type = 'Advance' AND finance_transaction_id IN (" + transaction_ids.join(",") + ")")
                        unless paidAdvanceFess.blank?
                          advance_amount_paid += paidAdvanceFess.map(&:amount).sum.to_f
                        end
                      end
                    end
		    balance = '%.2f' % balance.to_f
                    paid_amount -= advance_amount_paid  
		    paid_amount = '%.2f' % paid_amount
                    bal = balance.to_f.round(2) - paid_amount.to_f.round(2)
                    
                    if bal.to_f > 0
                      fees_to_paid += 1
                    end
                    if bal.to_f < 0 
                      advance = bal * -1
                      bal = 0.00
                    else
                      advance = advance_amount_paid
                    end
                  %>
                  <% class_name = "unpaid_class" %>
                  <% if bal.to_f <= 0  %>
                    <% class_name = "paid_class" %>
                  <% end %>
                  <% checked_class = "fa-square-o" %>
                  <% cls_rerd = "finance_fees_collection_chk finance_fees_collection_all" %>
                  <% if combine_fees_enabled %>
                    <% checked_class  = "fa-check-square-o" %>
                    <% cls_rerd = "finance_fees_collection_all" %>
                    <% color_check = "#999" %>
                    <% if bal.to_f > 0  %>
                    <% fees_multiple += finance_fee.id.to_s + "," %>
                    <% color_check = "#000" %>
                    <% amount += bal %>   
                    <% end %>
                  <% else %>
                    <% if bal.to_f <= 0  %>
                      <% checked_class  = "fa-check-square-o" %>
                      <% cls_rerd = "finance_fees_collection_all" %>
                    <% end %>
                    <% color_check = "#999" %>
                    <% if bal.to_f > 0  %>
                    <% fees_multiple += finance_fee.id.to_s + "," %>
                    <% color_check = "#000" %>
                    <% amount += bal %>    
                    <% end %>
                  <% end %>
                  <%#= cls_rerd %>
                  <%#= bal %>
                  <tr  id="finance_fee_<%= finance_fee.id %>" class="<%= class_name %>">
                    <td style="font-weight: normal; vertical-align: middle; text-align: center; cursor: pointer;"><i id="fee_collection_<%= finance_fee.id %>" class="fa <%= checked_class %> <%= cls_rerd %>" style="font-size: 16px; color: <%= color_check %>; "></i></td>
                    <td style="font-weight: normal; vertical-align: middle; text-align: left; font-weight: bold;">
                        <%= d.name %><br /><%=  '<small>Due Date:' + d.due_date.strftime("%d %b, %Y") + '</small>'  if bal.to_f > 0  %> 
                        <% if @current_user.admin? and bal > 0 %>
                          <% unless d.fine_id.blank? %>
                          <input type="hidden" id="fine_amount_to_pay_<%= d.id %>" name="fine_amount_to_pay" value="<%= fine_amount_user %>" />
                          <input type="hidden" id="amount_to_pay_without_fine_<%= d.id %>" name="amount_to_pay_without_fine" value="<%= amount_to_pay_without_fine %>" />
                          <input type="hidden" id="paid_amount_user_<%= d.id %>" name="paid_amount_user" value="<%= paid_amount %>" />
                          <hr style="border: 1px solid #ccc;" />
                          <div id="fine_configuration">
                              <% if fine_enabled %>
                              <i id="fine_payment_student" name="fine_payment_student" class="fa fa-check-square-o" style="font-size: 14px; " data-date_id="<%= d.id %>"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight: normal;">Enable Fine for this student</span>
                              <% else %>
                              <i id="fine_payment_student" name="fine_payment_student" class="fa fa-square-o" style="font-size: 14px; " data-date_id="<%= d.id %>"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight: normal;">Enable Fine for this student</span>
                              <% end %>
                          </div>
                          <% end %>
                        <% end %>
                    </td>
                    <td id="amount_user_<%= d.id %>" style="font-weight: normal; vertical-align: middle; font-weight: normal; text-align: right; font-size: 14px;"><%= to_comma_seperated_precision_label(balance.to_f)  %>&nbsp;&nbsp;</td>
                    <td id="paid_user_<%= d.id %>" style="font-weight: normal; vertical-align: middle; text-align: right; font-weight: normal; font-size: 14px;"><%= to_comma_seperated_precision_label(paid_amount.to_f)  %>&nbsp;&nbsp;</td>
                    <td id="bal_user_<%= finance_fee.id %>" style="font-weight: normal; vertical-align: middle; text-align: right; font-weight: normal; font-size: 14px;"><span class="bal"><%= to_comma_seperated_precision_label(bal.to_f)  %></span>&nbsp;&nbsp;</td>
                    <td id="advance_user_<%= d.id %>" style="font-weight: normal; vertical-align: middle; text-align: right; font-weight: normal; font-size: 14px;"><%= to_comma_seperated_precision_label(advance.to_f)  %>&nbsp;&nbsp;</td>
                    <td class="button_td" style="font-weight: normal; vertical-align: middle; text-align: center; font-weight: normal; font-size: 14px;">
                        <% school_only_details = [352, 361, 360] %>
                        <% unless school_only_details.include?(MultiSchool.current_school.id) %>  
                            <% if bal.to_f <= 0 %>
                            <%= link_to "Details", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"details_button details_button_color", :id => "fee_link_" + Base64.encode64(@student.id.to_s + "-" + d.id.to_s).reverse + '===' + "" %>
                            <% else %>
                            <%= link_to "Print Receipt", {:controller => "finance", :action => "student_fee_receipt_pdf", :id => @student.id, :id2=>d.id}, :class=>"details_button details_button_color" %>
                            <%= link_to "Pay Fees", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"details_button details_button_color" %>
                            <% end %>
                        <% else %>
                        <%= link_to "Details", {:action=>:fee_details, :id=>@student.id, :id2=>d.id}, :class=>"details_button details_button_color", :id => "fee_link_" + Base64.encode64(@student.id.to_s + "-" + d.id.to_s).reverse + '===' + "" %>
                        <% end %>
                    </td>
                  </tr>
                  <% if bal > 0 %>
                    <% if finance_fee.balance.to_f != bal.to_f %>
                        <% ffee = FinanceFee.find(finance_fee.id) %>
                        <% ffee.update_attributes(:balance => bal, :is_paid => false) %>
                    <% end %>
                  <% else %>
                    <% ffee = FinanceFee.find(finance_fee.id) %>
                    <% ffee.update_attributes(:balance => 0.00, :is_paid => true) %>
                  <% end %>
              <% end %>
                  <% if amount > 0 %>
                  <tr class="total_fees">
                      <td colspan="4" style="font-weight: normal; vertical-align: middle; text-align: right; cursor: pointer;">Total Fees</td>
                      <td style="font-weight: normal; vertical-align: middle; text-align: right; font-weight: normal; font-size: 14px;"><span id="total_fees_bal"><%= to_comma_seperated_precision_label(amount.to_f)  %></span>&nbsp;&nbsp;</td>
                      <td style="font-weight: normal; vertical-align: middle; text-align: center; font-weight: normal; font-size: 14px;">
                          <% if fees_to_paid > 0 %>
                            <% style = 'display: block;' %>
                            <% unless combine_fees_enabled %>
                              <% style = 'display: none;' %>
                            <% end %>
                            <% if fees_multiple.strip.length > 0 %>
                            <div id="lnk_all" style="padding-top: 10px; <%= style %>"><%= link_to "Pay All Fees",{:action=>:fee_details, :id => @student.id, :multiple=>true, :fees => fees_multiple.strip}, {:class=> 'details_button', :id => "lnk_btn"} %></div>
                            <% else %>
                            <div id="lnk_all" style="padding-top: 10px; <%= style %>"><%= link_to "Pay All Fees",{:action=>:fee_details, :id => @student.id, :multiple=>true}, {:class=> 'details_button', :id => "lnk_btn"} %></div>
                            <% end %>
                          <% end %>
                      </td>
                  </tr>
                  <% end %>
                  <% if @dates_all.blank? %>
                    <% unless @dates_admission.blank? %>
                      <tr class="unpaid_class">
                        <td style="font-weight: normal; vertical-align: middle; text-align: center; cursor: pointer;">&nbsp;</td>
                        <td style="font-weight: normal; vertical-align: middle; text-align: left; font-weight: bold;">
                            <select id="fees_for_admission" autocomplete="off">
                                <option value="" selected="">Select</option>
                                <% @dates_admission.each do |dates_admission| %>
                                  <option value="<%= dates_admission.id %>"><%= dates_admission.name %></option>
                                <% end %>
                            </select>
                        </td>
                        <td colspan="3" style="font-weight: normal; vertical-align: middle; font-weight: normal; text-align: right; font-size: 14px;">&nbsp;&nbsp;</td>
                        <td class="paid_class_advance" style="font-weight: normal; vertical-align: middle; text-align: right; font-weight: normal; font-size: 14px;">&nbsp;&nbsp;</td>
                        <td class="button_td" style="font-weight: normal; vertical-align: middle; text-align: center; font-weight: normal; font-size: 14px;">
                            <div id="generate_fee" style="display: none; border: 1px solid #ccc; padding: 1px 0px; background: #f5f5f5; cursor: pointer; width: 20px; margin: 0 auto;"><i class="fa fa-plus plus-fees"></i></div>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
              </tbody>
          </table>
          
            
              <div id="combined_pay_1" style="display: none;">
                <div style="clear: both; height: 4px; background: #FBFBFB; "></div>
                
                <div style="padding: 10px; text-align: center; height: 60px;">
                    <% if fees_multiple.strip.length > 0 %>
                    <div id="lnk" style="padding-top: 10px;"><%= link_to "Pay Fees",{:action=>:fee_details, :id => @student.id, :multiple=>true, :fees => fees_multiple.strip}, {:class=> 'user_button_new', :id => "lnk_btn"} %></div>
                    <% else %>
                    <div id="lnk" style="padding-top: 10px;"><%= link_to "Pay Fees",{:action=>:fee_details, :id => @student.id, :multiple=>true}, {:class=> 'user_button_new', :id => "lnk_btn"} %></div>
                    <% end %>
                </div>
              </div>
              </div>
              <% else %>
                <div id="student_profile_heading1">
                    <div id="student_main_info1">
                        <span class="name" style="width: 70%; display: inline-block;"><h1> Student Fees</h1> </span>
                    </div>
                    <div class="extender"> </div>
                </div>
                <hr style="border: 1px solid #ccc;" />  
                <div id="fee_div">
                    <div style="background: url('/images/background_myfees.png'); height: 98px; width: 88%; margin-left: 4%; margin-bottom: 24px; padding: 20px;">
                        <img src="/images/Apps-system-software-update-icon.png" style="height: 100%;">
                        <h1 style="width: 80%; color: #fff; display: inline-table; padding-left: 13px; vertical-align: top; font-family: verdana; font-size: 22px;">Due to an upgradation of our payment system, you can't able to make any fees payment, Hope we will be back soon. Thanks  </h1>
                    </div>
                        
                </div>
              <% end %>
            </div>
      </div>
    <% else %>
      <div id="page-yield">
        <h2 style="padding: 10px;">Coming Soon</h2>
      </div>
    <% end %>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>
<style>
    #fees_for_admission{
      width: 100%;
      height: 30px;
      border: 1px solid #ccc;
    }
    .fee_bottom span a{
      color: #fff;
    }
    .history{
        font-size: 14px; 
        font-family: verdana;
        color: #000; 
        border: 1px solid #ccc; 
        padding: 5px; 
        border-radius: 5px;
        text-decoration: none;
    }
    .history:hover{
        text-decoration: none;
        background: #1C4F04;
        color: #fff;
    }
    .live{
        background: #DB3434;
        color: #fff; 
        font-size: 14px; 
        font-family: verdana;
        border: 1px solid #ccc; 
        padding: 5px; 
        border-radius: 5px;
        text-decoration: none;
    }
    .history:hover{
        text-decoration: none;
        background: #1C4F04;
        color: #fff;
    }
    .live:hover{
        text-decoration: none;
        background: #fff;
        color: #000;
    }
    #fees_list_paid{
        display: none;
    }
    #fees_list_unpaid{
        display: block;
    }
    .paid_class, .paid_class_advance{
        display: none;
    }
    .unpaid_empty_class, .paid_empty_class{
        display: none;
        text-align: center;
        font-family: verdana;
        font-size: 14px;
    }
    .details_button{
        border: 1px solid #ccc;
        padding: 6px 10px;
        border-radius: 5px;
        background:#fff;
        display: inline-block;
        margin-bottom: 5px;
        background: #49BB4B none repeat scroll 0 0;
        color: #fff; 
        font-family: verdana;
        font-size: 14px;
    }
    .details_button_color{
        background: #FFF;
        color: #000; 
    }
    .details_button:hover{
        text-decoration: none;
        background: #145214;
        color: #fff;
    }
    .details_button_color:hover{
        background: #ccc;
        color: #000; 
    }
</style>
<script>
  String.prototype.replaceAll = function(search, replacement) {
      var target = this;
      return target.replace(new RegExp(search, 'g'), replacement);
  };
</script>
<% if @current_user.admin?  %>
  <script>
    function show_spinner()
    {
        j('.plus-fees').removeClass('fa-plus');
        j('.plus-fees').addClass('fa-spin');
        j('.plus-fees').addClass('fa-spinner')
    }
    
    j(document).ready(function(){
        j(document).on('change', '#fees_for_admission', function(){
            if ( j(this).val().length == 0 )
            {
                j("#generate_fee").hide();
            }
            else
            {
                j("#generate_fee").show();
            }
        });
        
        j(document).on('click', '.plus-fees', function(){
            new Ajax.Request('/finance/generate_student_fees_from_profile', 
                  {
                    asynchronous:true, 
                    evalScripts:true, 
                    before: show_spinner(),
                    parameters:'student_id='+<%=  @student.id %>+'&fee_id='+j("#fees_for_admission").val()
                  }
            )
        });
        
        j(document).on('click', '#combined_payment_student', function(){
            var count_fees = 0;
            var fees = "";

            if ( j(this).hasClass('fa-check-square-o') )
            {
                j(this).addClass('fa-square-o');
                j(this).removeClass('fa-check-square-o');
                 new Ajax.Request('/finance/set_combined_payment_configuration', 
                      {
                        asynchronous:true, 
                        evalScripts:true, 
                        parameters:'student='+<%=  @student.id %>+'&value=0'+'&key='+j(this).attr('id')
                      }
                )
            }
            else
            {
                j(this).removeClass('fa-square-o');
                j(this).addClass('fa-check-square-o');
                new Ajax.Request('/finance/set_combined_payment_configuration', 
                      {
                        asynchronous:true, 
                        evalScripts:true, 
                        parameters:'student='+<%=  @student.id %>+'&value=1'+'&key='+j(this).attr('id')
                      }
                )
            }
        });
        
        j(document).on('click', '#fine_payment_student', function(){
            var count_fees = 0;
            var fees = "";
            var date_id = j(this).data('date_id');

            if ( j(this).hasClass('fa-check-square-o') )
            {
                if ( confirm('Do you want to disable fine for this student?') )
                {
                  j(this).addClass('fa-square-o');
                  j(this).removeClass('fa-check-square-o');
                   new Ajax.Request('/finance/set_fine_payment_configuration', 
                        {
                          asynchronous:true, 
                          evalScripts:true, 
                          parameters:'student='+<%=  @student.id %>+'&date_id='+date_id+'&value=0'+'&key='+j(this).attr('id')
                        }
                  )
                }
            }
            else
            {
                if ( confirm('Do you want to enable fine for this student?') )
                {
                  j(this).removeClass('fa-square-o');
                  j(this).addClass('fa-check-square-o');
                  new Ajax.Request('/finance/set_fine_payment_configuration', 
                        {
                          asynchronous:true, 
                          evalScripts:true, 
                          parameters:'student='+<%=  @student.id %>+'&date_id='+date_id+'&value=1'+'&key='+j(this).attr('id')
                        }
                  )
                }
            }
        });
    });
    
    function update_user_amount_with_fine(date_id)
    {
        var fine = parseFloat(j("#fine_amount_to_pay_" + date_id).val());
        var amount_without_fine = parseFloat(j("#amount_to_pay_without_fine_" + date_id).val());
        var user_amount_to_pay = amount_without_fine + fine;
        
        var paid_amount_user = parseFloat(j("#paid_amount_user_" + date_id).val());
        
        var user_balance = user_amount_to_pay - paid_amount_user;
        var advance = false;
        var advance_amount = 0;
        if ( user_balance < 0 )
        {
            advance = false;
            advance_amount = user_balance * -1;
            user_balance = 0;
        }
        const options = { 
          minimumFractionDigits: 2,
          maximumFractionDigits: 2 
        };
        j("#amount_user_" + date_id).html(Number(user_amount_to_pay).toLocaleString('en', options) + '&nbsp;&nbsp;');
        j("#paid_user_" + date_id).html(Number(paid_amount_user).toLocaleString('en', options) + '&nbsp;&nbsp;');
        j("#bal_user_" + date_id).html(Number(user_balance).toLocaleString('en', options) + '&nbsp;&nbsp;');
        j("#advance_user_" + date_id).html(Number(advance_amount).toLocaleString('en', options) + '&nbsp;&nbsp;');
    }
    
    function update_user_amount_without_fine(date_id)
    {
        var fine = parseFloat(0.00);
        var amount_without_fine = parseFloat(j("#amount_to_pay_without_fine_" + date_id).val());
        var user_amount_to_pay = amount_without_fine + fine;
        
        var paid_amount_user = parseFloat(j("#paid_amount_user_" + date_id).val());
        
        var user_balance = user_amount_to_pay - paid_amount_user;
        var advance = false;
        var advance_amount = 0;
        if ( user_balance < 0 )
        {
            advance = false;
            advance_amount = user_balance * -1;
            user_balance = 0;
        }
        const options = { 
          minimumFractionDigits: 2,
          maximumFractionDigits: 2 
        };
        j("#amount_user_" + date_id).html(Number(user_amount_to_pay).toLocaleString('en', options) + '&nbsp;&nbsp;');
        j("#paid_user_" + date_id).html(Number(paid_amount_user).toLocaleString('en', options) + '&nbsp;&nbsp;');
        j("#bal_user_" + date_id).html(Number(user_balance).toLocaleString('en', options) + '&nbsp;&nbsp;');
        j("#advance_user_" + date_id).html(Number(advance_amount).toLocaleString('en', options) + '&nbsp;&nbsp;');
    }
    
    function enable_combined_payment()
    {
        var count_fees = 0;
        var fees = "";
        
        j("#combined_payment_student").removeClass('fa-square-o');
        j("#combined_payment_student").addClass('fa-check-square-o');
        
        j('.finance_fees_collection_all').each(function(){
            j(this).removeClass('fa-square-o');
            j(this).addClass('fa-check-square-o');
        });
        
        j('.finance_fees_collection_all').each(function(){
            j(this).removeClass('finance_fees_collection_chk');
            
            if ( j(this).hasClass('fa-check-square-o') )
            {
              var fee_id = this.id.replace('fee_collection_','');
              fees += fee_id + ",";
              j("#bal_user_" + fee_id).children('.bal').css("color", "#000");
              count_fees++;
            } 
        }); 
        
        //alert(fees)
        if ( count_fees > 0 )
        {
             fees = fees.substr(0, fees.length - 1);
             j("#combined_pay").show();
             j("#lnk_all").show();
              //j('#lnk').html('<%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true}, :class=> 'user_button' %>');
              var href = j('#lnk').children('a').attr('href');
              j('#lnk').children('a').attr('href', href + "&fees=" + fees);
              j('#lnk_all').children('a').attr('href', j('#lnk').children('a').attr('href'));
              
              j("#total_fees_bal").css("color", "#000");
            
        }
        else
        {
            j("#combined_pay").hide();
            j("#lnk_all").hide();
        }
    }
    
    function remove_combined_payment()
    {
        var count_fees = 0;
        var fees = "";
        
        j("#combined_payment_student").addClass('fa-square-o');
        j("#combined_payment_student").removeClass('fa-check-square-o');
        
        j('.finance_fees_collection_all').each(function(){
            var fee_id = this.id.replace('fee_collection_','');
            fees += fee_id + ",";
              
            j(this).addClass('finance_fees_collection_chk');
            j(this).addClass('fa-square-o');
            j(this).removeClass('fa-check-square-o');
            j("#bal_user_" + fee_id).children('.bal').css("color", "#ccc");
        });
        
        j("#combined_pay").hide();
        j("#lnk_all").hide();
        j("#total_fees_bal").css("color", "#999");
    }
  </script>  

<% end %>
<script>
  function numberWithCommas(x) {
      var parts = x.toString().split(".");
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return parts.join(".");
  }
  j(document).ready(function(){
      if ( !j("#combined_payment_student").hasClass('fa-check-square-o') )
      {
          j('.finance_fees_collection_all').each(function(){
              var fee_id = this.id.replace('fee_collection_','');
              
              j(this).addClass('finance_fees_collection_chk');
              j(this).addClass('fa-square-o');
              j(this).removeClass('fa-check-square-o');
              j("#bal_user_" + fee_id).children('.bal').css("color", "#999");
          });
          j("#total_fees_bal").css("color", "#999");
      }
      else
      {
          j('.finance_fees_collection_all').each(function(){
              var fee_id = this.id.replace('fee_collection_','');
              
              j(this).removeClass('finance_fees_collection_chk');
              j(this).removeClass('fa-square-o');
              j(this).addClass('fa-check-square-o');
              j("#bal_user_" + fee_id).children('.bal').css("color", "#000");
          });
          j("#total_fees_bal").css("color", "#000");
      }
      
      if ( j(".unpaid_class").length == 0 )
      {
          j('.unpaid_empty_class').show();
          j("#combined_pay").hide();
          j('.total_fees').hide();
          j("#lnk_all").hide();
      }
      j(document).on('click', '.history', function(){
        
          j('.paid_class').show();
          j('.unpaid_class').hide();
          j('.paid_empty_class').hide();
          j('.unpaid_empty_class').hide();
          j('.total_fees').hide();
          j('.paid_class_advance').show();
          if ( j(".paid_class").length == 0 )
          {
              j('.paid_empty_class').show();
          }
          
          j(this).removeClass("history");
          j(this).addClass("live");
          j(this).text("Current");
          
          j("#combined_pay").hide();
          j("#lnk_all").hide();
          j("#fees_list").hide();
      });
      
      j(document).on('click', '.live', function(){
          j('.paid_class').hide();
          j('.unpaid_class').show();
          j('.paid_empty_class').hide();
          j('.unpaid_empty_class').hide();
          j('.total_fees').show();
          j('.paid_class_advance').hide();
          
          if ( j(".unpaid_class").length == 0 )
          {
              j('.unpaid_empty_class').show();
              j("#combined_pay").hide();
              j("#lnk_all").hide();
              j("#fees_list").hide();
          }
          else
          {
              <% if @current_user.admin?  %>
              j("#fees_list").show();
              if ( j("#combined_payment_student").hasClass('fa-check-square-o')  )
              {
                  j('.finance_fees_collection_chk').each(function(){
                      j(this).removeClass('fa-square-o');
                      j(this).addClass('fa-check-square-o');
                  });
                  j("#combined_pay").show();
                  j("#lnk_all").show();
              }
              else
              {
                  j('.finance_fees_collection_chk').each(function(){
                      j(this).addClass('fa-square-o');
                      j(this).removeClass('fa-check-square-o');
                  });
                  j("#combined_pay").hide();
                  j("#lnk_all").hide();
              }
              <% end %>
          }
          
          j(this).removeClass("live");
          j(this).addClass("history");
          j(this).text("History");
      });
      
      j(document).on('click', '.finance_fees_collection_chk', function(){
          var count_fees = 0;
          var fees = "";
          var amount = 0.0
          
          if (j("#combined_payment_student").hasClass('fa-check-square-o') == false)
          {
           if ( j(this).hasClass('fa-check-square-o') )
            {
                j(this).addClass('fa-square-o');
                j(this).removeClass('fa-check-square-o');
            }
            else
            {
                j(this).removeClass('fa-square-o');
                j(this).addClass('fa-check-square-o');
            }
            
            fee_bal = new Number(0)
            not_active_fee_bal = new Number(0)
            j('.finance_fees_collection_chk').each(function(){
                if ( j(this).hasClass('fa-check-square-o') )
                {
                  var fee_id = this.id.replace('fee_collection_','');
                  var amt_str = j.trim(j("#bal_user_" + fee_id).children('.bal').html().split("&nbsp;").join(""));
                  var bal = parseFloat(j.trim(amt_str).replace(/,/g, ''))
                  j("#bal_user_" + fee_id).children('.bal').css("color", "#000");
                  fee_bal += bal
                  fees += fee_id + ",";
                  count_fees++;
                }
                else
                {
                  var fee_id = this.id.replace('fee_collection_','');
                  j("#bal_user_" + fee_id).children('.bal').css("color", "#999");
                  
                  var amt_str = j.trim(j("#bal_user_" + fee_id).children('.bal').html().split("&nbsp;").join(""));
                  var bal = parseFloat(j.trim(amt_str).replace(/,/g, ''))
                  not_active_fee_bal += bal
                }
            }); 
            
            if ( count_fees > 0 )
            {
                 j("#total_fees_bal").html(numberWithCommas(fee_bal.toFixed(2)));
                 j("#total_fees_bal").css("color", "#000");
                 
                 fees = fees.substr(0, fees.length - 1);
                 j("#combined_pay").show();
                 j("#lnk_all").show();
                  //j('#lnk').html('<%= link_to "Pay All",{:action=>:fee_details, :id => @student.id, :multiple=>true}, :class=> 'user_button' %>');
                  var href = j('#lnk').children('a').attr('href');
                  j('#lnk').children('a').attr('href', href + "&fees=" + fees);
                  j('#lnk_all').children('a').attr('href', j('#lnk').children('a').attr('href'));

            }
            else
            {
                j("#combined_pay").hide();
                j("#lnk_all").hide();
                
                j("#total_fees_bal").html(numberWithCommas(not_active_fee_bal.toFixed(2)));
                j("#total_fees_bal").css("color", "#999");
            }
          }
      });
  });
</script>
