<html>
    <head>
        <title>Transfer Certificate</title>
    </head>
    <body>
        
        <p class="left-font" id="left-position-0"><%= @student.admission_no %></p>
        <p class="left-font" id="left-position-1"><%= @student.full_name %></p>
        <p class="left-font" id="left-position-2"><%= @std_guardians[0].full_name unless @std_guardians.blank? or @std_guardians[0].blank? %></p>
        <p class="left-font" id="left-position-3"><%= @std_guardians[1].full_name unless @std_guardians.blank? or @std_guardians[1].blank? %></p>
        <p class="left-font address" id="left-position-4"><%= @student.address_line1 %>&nbsp;<%= @student.address_line2 %></p>
        <p class="left-font" id="left-position-5"><%= I18n.l(@student.admission_date,:format=>"%Y") unless @student.admission_date.nil? %></p>
        <p class="left-font" id="left-position-6"><%= @student.admission_class %></p>
        <p class="left-font" id="left-position-7"><%= @student.batch.course.course_name %></p>
        <p class="left-font" id="left-position-8"><%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></p>
        <p class="left-font" id="left-position-9">Date....</p>
        <p class="left-font" id="left-position-10"><%= @student.batch.course.course_name %></p>
        <p class="left-font" id="left-position-11"><%= @student.batch.course.section_name %></p>
        <p class="left-font" id="left-position-12">Group...</p>
        <p class="left-font" id="left-position-13">Paid..</p>
        <% unless params[:sign].blank? %>
        <p class="left-font" id="left-position-14"><img src="/images/school_logo/352/principal.png" width="70"></p>
        <% end %>
        
        <p id="position-0"><%= @student.admission_no %></p>
        <p id="position-1"><%= @student.full_name %></p>
        <p id="position-2"><%= @std_guardians[0].full_name unless @std_guardians.blank? or @std_guardians[0].blank? %></p>
        <p id="position-3"><%= @std_guardians[1].full_name unless @std_guardians.blank? or @std_guardians[1].blank? %></p>
        <p id="position-4"><%= @student.address_line1 %>&nbsp;<%= @student.address_line2 %></p>
        <p id="position-5"><%= I18n.l(@student.admission_date,:format=>"%Y") unless @student.admission_date.nil? %></p>
        <p id="position-6"><%= @student.admission_class %></p>
        <p id="position-7"><%= @student.batch.course.course_name %></p>
        <p id="position-8"><%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></p>
        <p id="position-9">Date....</p>
        <p id="position-10"><%= @student.batch.course.course_name %></p>
        <p id="position-11"></p>
        <p id="position-12">Group...</p>
        <p id="position-13">Paid..</p>
        <% unless params[:sign].blank? %>
        <p id="position-14"><img src="/images/school_logo/352/principal.png" width="100"></p>
        <% end %>
        
    </body>
</html>
<style>

    @import url('https://fonts.googleapis.com/css?family=Cookie');

    p
    {
        font-size: 22px;
        font-style: italic;
        font-family: 'Cookie', cursive;
    }
    p.left-font
    {
      font-size: 15px;
    }
    p.address
    {
      font-size: 10px;
    }
    #left-position-0
    {
        position: fixed;
        left: 55;
        top: 162;
        font-weight: bold;
    }
    #left-position-1
    {
        position: fixed;
        left: 115;
        top: 185;
    }
    #left-position-2
    {
        position: fixed;
        left: 55;
        top: 212;
    }
    #left-position-3
    {
        position: fixed;
        left: 55;
        top: 247;
    }
    #left-position-4
    {
        position: fixed;
        left: 60;
        top: 281;
    }
    #left-position-5
    {
        position: fixed;
        left: 150;
        top: 304;
    }
    #left-position-6
    {
        position: fixed;
        left: 225;
        top: 304;
    }
    #left-position-7
    {
        position: fixed;
        left: 220;
        top: 335;
    }
    #left-position-8
    {
        position: fixed;
        left: 55;
        top: 395;
    }
    #left-position-9
    {
        position: fixed;
        left: 63;
        top: 425;
    }
    #left-position-10
    {
        position: fixed;
        left: 250;
        top: 455;
    }
    
 
    #left-position-11
    {
        position: fixed;
        left: 70;
        top: 480;
    }
    #left-position-12
    {
        position: fixed;
        left: 180;
        top: 480;
    }
    #left-position-13
    {
        position: fixed;
        left: 10;
        top: 538;
    }
    #left-position-14
    {
        position: fixed;
        left: 225;
        top: 590;
    }
    
    #position-0
    {
        position: fixed;
        left: 435;
        top: 87;
    }
    #position-1
    {
        position: fixed;
        left: 560;
        top: 129;
    }
    #position-2
    {
        position: fixed;
        left: 480;
        top: 162;
    }
    #position-3
    {
        position: fixed;
        left: 480;
        top: 195;
    }
    #position-4
    {
        position: fixed;
        left: 485;
        top: 230;
    }
    #position-5
    {
        position: fixed;
        left: 560;
        top: 264;
    }
    #position-6
    {
        position: fixed;
        left: 910;
        top: 264;
    }
    #position-7
    {
        position: fixed;
        left: 635;
        top: 297;
    }
    #position-8
    {
        position: fixed;
        left: 625;
        top: 328;
    }
    #position-9
    {
        position: fixed;
        left: 570;
        top: 362;
    }
    #position-10
    {
        position: fixed;
        left: 550;
        top: 397;
    }
    #position-11
    {
        position: fixed;
        left: 688;
        top: 397;
    }
    #position-12
    {
        position: fixed;
        left: 870;
        top: 397;
    }
    #position-13
    {
        position: fixed;
        left: 785;
        top: 427;
    }
    #position-14
    {
        position: fixed;
        left: 800;
        top: 540;
    }
</style>
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<script>
  window.print();
</script>  
