<html>
    <head>
        <title>Transfer Certificate</title>
    </head>
    <body>
        
        <p class="left-font" id="left-position-0"><%= @student.admission_no %></p>
        <p class="left-font" id="left-position-1"><%= @student.full_name %></p>
        <p class="left-font" id="left-position-2"><%= @std_guardians[0].full_name unless @std_guardians.blank? or @std_guardians[0].blank? %></p>
        <p class="left-font" id="left-position-3"><%= @std_guardians[1].full_name unless @std_guardians.blank? or @std_guardians[1].blank? %></p>
        <p class="left-font address" id="left-position-4"><%= @student.address_line1 %>&nbsp;<%= @student.address_line2 %></p>
        <p class="left-font" id="left-position-5"><%= I18n.l(@student.admission_date,:format=>"%Y") unless @student.admission_date.nil? %></p>
        <p class="left-font" id="left-position-6"><%= @student.admission_class %></p>
        <p class="left-font" id="left-position-7"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p class="left-font" id="left-position-8"><%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></p>
        <p class="left-font" id="left-position-9"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p class="left-font" id="left-position-10"><%= @student.batch.course.course_name %></p>
        <p class="left-font" id="left-position-11"><%= @student.batch.course.section_name %></p>
        <p class="left-font" id="left-position-11-2"><%= @student.class_roll_no %></p>
        <p class="left-font" id="left-position-12"><%= @group %></p>
        <p class="left-font" id="left-position-13"><%= I18n.l(@student.date_of_leaving,:format=>"%Y") unless @student.date_of_leaving.nil? %></p>
        <% unless params[:sign].blank? %>
          <p class="left-font" id="left-position-14"><img src="/images/school_logo/352/principal-sir-signature-2019.jpg" width="70"></p>
        <% end %>
        
        <p id="position-0"><%= @student.admission_no %></p>
        <p id="position-1"><%= @student.full_name %></p>
        <p id="position-2"><%= @std_guardians[0].full_name unless @std_guardians.blank? or @std_guardians[0].blank? %></p>
        <p id="position-3"><%= @std_guardians[1].full_name unless @std_guardians.blank? or @std_guardians[1].blank? %></p>
        <p id="position-4"><%= @student.address_line1 %>&nbsp;<%= @student.address_line2 %></p>
        <p id="position-5"><%= I18n.l(@student.admission_date,:format=>"%Y") unless @student.admission_date.nil? %></p>
        <p id="position-6"><%= @student.admission_class %></p>
        <p id="position-7"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p id="position-8"><%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></p>
        <p id="position-9"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p id="position-10"><%= @student.batch.course.course_name %></p>
        <p id="position-11"><%= @student.batch.course.section_name %></p>
        <p id="position-11-2"><%= @student.class_roll_no %></p>
        <p id="position-12"><%= @group %></p>
        <p id="position-13"><%= I18n.l(@student.date_of_leaving,:format=>"%Y") unless @student.date_of_leaving.nil? %></p>
        <% unless params[:sign].blank? %>
          <p id="position-14"><img src="/images/school_logo/352/principal-sir-signature-2019.jpg" width="100"></p>
        <% end %>
        
    </body>
</html>
<style>

    @import url('https://fonts.googleapis.com/css?family=Cookie');

    p
    {
        font-size: 22px;
        font-style: italic;
        font-family: 'Cookie', cursive;
    }
    p.left-font
    {
      font-size: 15px;
    }
    p.address
    {
      font-size: 10px;
    }
    #left-position-0
    {
        position: fixed;
        left: 67;
        top: 160;
        font-weight: bold;
    }
    #left-position-1
    {
        position: fixed;
        left: 125;
        top: 185;
    }
    #left-position-2
    {
        position: fixed;
        left: 65;
        top: 214;
    }
    #left-position-3
    {
        position: fixed;
        left: 65;
        top: 248;
    }
    #left-position-4
    {
        position: fixed;
        left: 70;
        top: 281;
    }
    #left-position-5
    {
        position: fixed;
        left: 150;
        top: 305;
    }
    #left-position-6
    {
        position: fixed;
        left: 232;
        top: 305;
    }
    #left-position-7
    {
        position: fixed;
        left: 230;
        top: 335;
    }
    #left-position-8
    {
        position: fixed;
        left: 65;
        top: 392;
    }
    #left-position-9
    {
        position: fixed;
        left: 73;
        top: 422;
    }
    #left-position-10
    {
        position: fixed;
        left: 152;
        top: 452;
    }
    
 
    #left-position-11
    {
        position: fixed;
        left: 232;
        top: 452;
    }
    #left-position-11-2
    {
        position: fixed;
        left: 65;
        top: 478;
    }
    #left-position-12
    {
        position: fixed;
        left: 190;
        top: 478;
    }
    #left-position-13
    {
        position: fixed;
        left: 20;
        top: 539;
    }
    #left-position-14
    {
        position: fixed;
        left: 235;
        top: 603;
    }
    
    #position-0
    {
        position: fixed;
        left: 447;
        top: 90;
    }
    #position-1
    {
        position: fixed;
        left: 573;
        top: 131;
    }
    #position-2
    {
        position: fixed;
        left: 490;
        top: 164;
    }
    #position-3
    {
        position: fixed;
        left: 490;
        top: 197;
    }
    #position-4
    {
        position: fixed;
        left: 495;
        top: 232;
    }
    #position-5
    {
        position: fixed;
        left: 590;
        top: 266;
    }
    #position-6
    {
        position: fixed;
        left: 910;
        top: 266;
    }
    #position-7
    {
        position: fixed;
        left: 645;
        top: 299;
    }
    #position-8
    {
        position: fixed;
        left: 635;
        top: 335;
    }
    #position-9
    {
        position: fixed;
        left: 580;
        top: 364;
    }
    #position-10
    {
        position: fixed;
        left: 485;
        top: 401;
    }
    #position-11
    {
        position: fixed;
        left: 582;
        top: 401;
    }
    #position-11-2
    {
        position: fixed;
        left: 782;
        top: 401;
    }
    #position-12
    {
        position: fixed;
        left: 880;
        top: 401;
    }
    #position-13
    {
        position: fixed;
        left: 790;
        top: 432;
    }
    #position-14
    {
        position: fixed;
        left: 810;
        top: 565;
    }
</style>
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<script>
  window.print();
</script>  
