<div class="header-wrapper">
    <div class="header-title" style="width:100%;">
        <div class="header-icon" style="width:10%;">
            <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
        </div>
        <div class="header-title-text-wrapper" style="width:80%;">
            <div class="header-title-main-text f2" style="width:100%;">
                From Content
            </div>
            <div class="clearfix"></div>
            <div class="header-title-sub-text">
                From Students
            </div>
            <div class="header-title-sub-text">
                <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
      
</div>
<% if !@formData.nil? %>  

  <%
    formContent = ""
    formHead = ""
    if !@formData.generated_form.nil? and @formData.generated_form != ""
      formContent = @formData.generated_form
    elsif @defaultFromData.form_data != "" and !@defaultFromData.form_data.nil?
      formContent = @defaultFromData.form_data
    end
    
    if @formData.form_head != "" and !@formData.form_head.nil?
      formHead = @formData.form_head
    elsif @defaultFromData.form_head != "" and !@defaultFromData.form_head.nil?
      formHead = @defaultFromData.form_head
    end
    
  %>
  <% result = @formData.form_data.split("|") %>
  <%#= debug result %>
  <% 
    arStudentData = []
    if @formData.form_type_text == "transfer_letter" 
      title = "Transfer Certificate"
      style = "transfer_letter"
      
 
      
      
      arStudentData << ["Student Name", result[0]] 
      arStudentData << ["Class", result[1]]       
      arStudentData << ["Admission Date", result[4].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["Date of Birth", result[3].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["End Date", result[5].to_date.strftime("%d-%m-%Y").to_s]   
      arStudentData << ["Request Date of Collection", result[2].to_date.strftime("%d-%m-%Y").to_s] 
      
      
      formContent = formContent.gsub("{Student_name}", result[0])
      formContent = formContent.gsub("{Class_title}", result[1])
      formContent = formContent.gsub("{PLAYGROUP}", result[1])
      formContent = formContent.gsub("{School_name}", @schoolData.name)
      formContent = formContent.gsub("{Admission_date}", result[4].to_date.strftime("%d-%m-%Y").to_s)
      formContent = formContent.gsub("{Date_of_birth}", result[3].to_date.strftime("%d-%m-%Y").to_s)
      formContent = formContent.gsub("{DOB}", result[3].to_date.strftime("%d-%m-%Y").to_s)
      formContent = formContent.gsub("{Academic_duration}", result[4].to_date.strftime("%d-%m-%Y").to_s+" - "+result[5].to_date.strftime("%d-%m-%Y").to_s)
     
      formContent = formContent.gsub("{he/she}", result[6])
      formContent = formContent.gsub("{his/her}", result[7])
      
      
   
      
    elsif @formData.form_type_text == "noc_letter" 
      title = "No Objection Certificate"
      style = "noc_letter"
      
      arStudentData << ["Student Name", result[0]] 
      arStudentData << ["Class", result[1]]       
      arStudentData << ["Reason", result[3]] 
      arStudentData << ["Start Date", result[4].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["End Date", result[5].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["Request Date of Collection", result[2].to_date.strftime("%d-%m-%Y").to_s] 
      
      formContent = formContent.gsub("{student_name}", result[0])
      formContent = formContent.gsub("{class_title}", result[1])
      formContent = formContent.gsub("{school_name}", MultiSchool.current_school.name)
      formContent = formContent.gsub("{startdate}", result[4].to_date.strftime("%d-%m-%Y").to_s)
      formContent = formContent.gsub("{enddate}", result[5].to_date.strftime("%d-%m-%Y").to_s)
    elsif @formData.form_type_text == "recommendation_letter" 
      title = "Recommendation Letter"
      style = "recommendation_letter"
      
      arStudentData << ["Student Name", result[0]] 
      arStudentData << ["Class", result[1]] 
      arStudentData << ["Admission Date", result[3].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["Achievements Hints", result[4]] 
      arStudentData << ["Request Date of Collection", result[2].to_date.strftime("%d-%m-%Y").to_s] 
      
      formContent = formContent.gsub("his/here", "his/her")
      
      formContent = formContent.gsub("{current_date}", Date.today.strftime("%d-%m-%Y").to_s)
      formContent = formContent.gsub("{admissoin_date}", result[3].to_date.strftime("%d-%m-%Y").to_s)
      formContent = formContent.gsub("{Student_name}", result[0])
      formContent = formContent.gsub("he/she", result[5])
      formContent = formContent.gsub("He/She", result[5])
      formContent = formContent.gsub("His/Her", result[6])
      formContent = formContent.gsub("his/her", result[6])
      formContent = formContent.gsub("girl/boy", result[7])
    elsif @formData.form_type_text == "studentship_letter" 
      title = "Studentship Certificate"
      style = "studentship_letter"
      
      arStudentData << ["Student Name", result[0]] 
      arStudentData << ["Class", result[1]] 
      arStudentData << ["Admission Date", result[3].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["Father Name", result[4]] 
      arStudentData << ["Mother Name", result[5]] 
      formContent = formContent.gsub("{Student_name}", result[0])
      formContent = formContent.gsub("{school_name}", MultiSchool.current_school.name)
      formContent = formContent.gsub("{Class_title}", result[1])
      formContent = formContent.gsub(", {Section_title}", "")
      formContent = formContent.gsub("{Father_name}", result[4])
      formContent = formContent.gsub("{Mother_name}", result[5])
      formContent = formContent.gsub("requeired", "required")
      formContent = formContent.gsub("studing", "studying")
      arStudentData << ["Request Date of Collection", result[2]] 
      
    elsif @formData.form_type_text == "visa_recommendation_letter" 
      title = "VISA Recommendation Letter"
      style = "visa_recommendation_letter"
      
      arStudentData << ["Student Name", result[0]] 
      arStudentData << ["Class", result[1]] 
      arStudentData << ["Admission Date", result[3].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["Father Name", result[4]] 
      arStudentData << ["Mother Name", result[5]] 
      arStudentData << ["Date of Birth", result[6].to_date.strftime("%d-%m-%Y").to_s] 
      arStudentData << ["Passport No", result[7]] 
      arStudentData << ["Head To Embassy", result[8].gsub(/\n/, '<br/>')] 
      arStudentData << ["Request Date of Collection", result[2]] 
      
    formContent = formContent.gsub("{Student_name}", result[0])
    formContent = formContent.gsub("{school_name}", MultiSchool.current_school.name)
    formContent = formContent.gsub("{Class_title}", result[1])
    formContent = formContent.gsub(", {Section_title}", "")
    formContent = formContent.gsub("{Father_name}", result[4])
    formContent = formContent.gsub("{Mother_name}", result[5])
    formContent = formContent.gsub("{passport_no}", result[7])
    formContent = formContent.gsub("{dbo}", result[6])
    formContent = formContent.gsub("son/daughter", result[9])
    formContent = formContent.gsub("requeired", "required")
    formContent = formContent.gsub("studing", "studying")
    formHead = result[8]
    end 
  
    formContent = formContent.gsub(".he", ".He")
    formContent = formContent.gsub(". he", ". He")
      
    formContent = formContent.gsub(".she", ".She")
    formContent = formContent.gsub(". she", ". She")
  %>
  
  
  
  <% if !arStudentData.nil? %>
    
      <% form_for :student, :url => {:action => 'generate_pdf_letter'}, :html => {:multipart => true, :id => 'new_student'} do |s| %>
      <input type="hidden" name="st_content" value="st_form">
      <input type="hidden" name="aid" value="<%= @formData.id %>">
      <div id="page-yield" class="bg-disable">
        <div id="guardian_detail" class="row_wrapper">
              <div class="row">
                  <div class="guardian_header_txt"><%= title %> Content</div>
              </div>
              <div class="row">
                <div class="row_label">
                    <div>School Name</div>
                </div>
                <div class="row_data">
                    <div><%= @schoolData.name %> </div>
                </div>
              </div>
              
            <% arStudentData.each do |a| %>
              <div class="row">
                <div class="row_label">
                    <div><%= a[0] %></div>
                </div>
                <div class="row_data">
                    <div><%= a[1] %> </div>
                </div>
              </div>
              <div class="clearfix"></div>
            <% end %>
              <div class="clearfix"></div>    
              <div class="row"><h3 style="margin-left: 30px;">Form Head</h3></div>
              <div class="row">

                  <div class="row_action">
                    <div class="content_div">
                      <textarea name="form_head" class="form_head" id="form_head" rows="100" cols="4"><%= formHead %></textarea>
                    </div>
                  </div>

              </div>
              <div class="clearfix"></div>
              <div class="row"><h3 style="margin-left: 30px;">Form Content</h3></div>
              <div class="row">
                  <div class="row_action">
                    <div class="content_div">
                        <textarea name="content_editor" class="content_editor" id="content_editor" rows="100" cols="10"><%= formContent %></textarea>
                    </div>
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="row_action">
                    <div>
                      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader2", :style =>"display: none;" ) %>
                      <%= submit_tag "", :class => "submit_button", :value => "► #{t('update')}" %>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>

