<html>
    <head>
        <title>Transfer Certificate</title>
    </head>
    <body>
        
        <p class="left-font" id="left-position-0"><%= @student.admission_no %></p>
        <p class="left-font" id="left-position-1"><%= @student.full_name %></p>
        <p class="left-font" id="left-position-2"><%= @std_guardians[0].full_name unless @std_guardians.blank? or @std_guardians[0].blank? %></p>
        <p class="left-font" id="left-position-3"><%= @std_guardians[1].full_name unless @std_guardians.blank? or @std_guardians[1].blank? %></p>
        <p class="left-font address" id="left-position-4"><%= @student.address_line1 %>&nbsp;<%= @student.address_line2 %></p>
        <p class="left-font" id="left-position-5"><%= I18n.l(@student.admission_date,:format=>"%Y") unless @student.admission_date.nil? %></p>
        <p class="left-font" id="left-position-6"><%= @student.admission_class %></p>
        <p class="left-font" id="left-position-7"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p class="left-font" id="left-position-8"><%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></p>
        <p class="left-font" id="left-position-9"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p class="left-font" id="left-position-10"><%= @student.batch.course.course_name %></p>
        <p class="left-font" id="left-position-11"><%= @student.batch.course.section_name %></p>
        <p class="left-font" id="left-position-11-2"><%= @student.class_roll_no %></p>
        <p class="left-font" id="left-position-12"><%= @group %></p>
        <p class="left-font" id="left-position-13"><%= I18n.l(@student.date_of_leaving,:format=>"%Y") unless @student.date_of_leaving.nil? %></p>
        <% unless params[:sign].blank? %>
          <p class="left-font" id="left-position-14"><img src="/images/school_logo/352/principal-sir-signature-2019.jpg" width="70"></p>
        <% end %>
        
        <p id="position-0"><%= @student.admission_no %></p>
        <p id="position-1"><%= @student.full_name %></p>
        <p id="position-2"><%= @std_guardians[0].full_name unless @std_guardians.blank? or @std_guardians[0].blank? %></p>
        <p id="position-3"><%= @std_guardians[1].full_name unless @std_guardians.blank? or @std_guardians[1].blank? %></p>
        <p id="position-4"><%= @student.address_line1 %>&nbsp;<%= @student.address_line2 %></p>
        <p id="position-5"><%= I18n.l(@student.admission_date,:format=>"%Y") unless @student.admission_date.nil? %></p>
        <p id="position-6"><%= @student.admission_class %></p>
        <p id="position-7"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p id="position-8"><%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></p>
        <p id="position-9"><%= I18n.l(@student.date_of_leaving,:format=>"%b %Y") unless @student.date_of_leaving.nil? %></p>
        <p id="position-10"><%= @student.batch.course.course_name %></p>
        <p id="position-11"><%= @student.batch.course.section_name %></p>
        <p id="position-11-2"><%= @student.class_roll_no %></p>
        <p id="position-12"><%= @group %></p>
        <p id="position-13"><%= I18n.l(@student.date_of_leaving,:format=>"%Y") unless @student.date_of_leaving.nil? %></p>
        <% unless params[:sign].blank? %>
          <p id="position-14"><img src="/images/school_logo/352/principal-sir-signature-2019.jpg" width="100"></p>
        <% end %>
        
    </body>
</html>
<style>

    @import url('https://fonts.googleapis.com/css?family=Cookie');

    p
    {
        font-size: 22px;
        font-style: italic;
        font-family: 'Cookie', cursive;
    }
    p.left-font
    {
      font-size: 15px;
    }
    p.address
    {
      font-size: 10px;
    }
    #left-position-0
    {
        position: fixed;
        left: 60;
        top: 156;
        font-weight: bold;
    }
    #left-position-1
    {
        position: fixed;
        left: 120;
        top: 180;
    }
    #left-position-2
    {
        position: fixed;
        left: 60;
        top: 209;
    }
    #left-position-3
    {
        position: fixed;
        left: 60;
        top: 244;
    }
    #left-position-4
    {
        position: fixed;
        left: 65;
        top: 278;
    }
    #left-position-5
    {
        position: fixed;
        left: 148;
        top: 295;
    }
    #left-position-6
    {
        position: fixed;
        left: 212;
        top: 295;
    }
    #left-position-7
    {
        position: fixed;
        left: 220;
        top: 325;
    }
    #left-position-8
    {
        position: fixed;
        left: 60;
        top: 382;
    }
    #left-position-9
    {
        position: fixed;
        left: 68;
        top: 412;
    }
    #left-position-10
    {
        position: fixed;
        left: 135;
        top: 442;
    }
    
 
    #left-position-11
    {
        position: fixed;
        left: 222;
        top: 442;
    }
    #left-position-11-2
    {
        position: fixed;
        left: 60;
        top: 473;
    }
    #left-position-12
    {
        position: fixed;
        left: 185;
        top: 473;
    }
    #left-position-13
    {
        position: fixed;
        left: 15;
        top: 529;
    }
    #left-position-14
    {
        position: fixed;
        left: 225;
        top: 593;
    }
    
    #position-0
    {
        position: fixed;
        left: 442;
        top: 87;
    }
    #position-1
    {
        position: fixed;
        left: 573;
        top: 124;
    }
    #position-2
    {
        position: fixed;
        left: 490;
        top: 157;
    }
    #position-3
    {
        position: fixed;
        left: 490;
        top: 190;
    }
    #position-4
    {
        position: fixed;
        left: 495;
        top: 223;
    }
    #position-5
    {
        position: fixed;
        left: 590;
        top: 255;
    }
    #position-6
    {
        position: fixed;
        left: 910;
        top: 255;
    }
    #position-7
    {
        position: fixed;
        left: 645;
        top: 290;
    }
    #position-8
    {
        position: fixed;
        left: 635;
        top: 322;
    }
    #position-9
    {
        position: fixed;
        left: 565;
        top: 355;
    }
    #position-10
    {
        position: fixed;
        left: 448;
        top: 389;
    }
    #position-11
    {
        position: fixed;
        left: 582;
        top: 389;
    }
    #position-11-2
    {
        position: fixed;
        left: 782;
        top: 389;
    }
    #position-12
    {
        position: fixed;
        left: 883;
        top: 389;
    }
    #position-13
    {
        position: fixed;
        left: 790;
        top: 420;
    }
    #position-14
    {
        position: fixed;
        left: 810;
        top: 550;
    }
</style>
<style type="text/css" media="print">
  @page { size: landscape; }
</style>
<script>
  window.print();
</script>  
