<div class="header-wrapper">

  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
        <%= link_to "Guardian Profile", :controller => "student", :action => "guardians", :id => @student.id %>
      </div>
      <div class="clearfix"></div>
      <div class="header-title-sub-text">
        <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="tabbed-header-wrapper">
    <ul class="header-tabs">
      <% if permitted_to? :profile,:student %>
        <li>
          <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <%end%>

      <% if permitted_to? :reports,:student and !check_free_school?  %>
        <li>
          <%= link_to "#{t('reports_text')}", {:controller => 'student', :action => 'reports', :id => @student}, {:class => 'f2'} %>
        </li>
      <%end%>
        
      <% BatchStudent.find_by_student_id(@student.id) %>  
       
      <% unless BatchStudent.blank? %>
        <li>
          <%= link_to "Previous Report", {:controller => "student", :action => "previous_report", :id => @student.id}, {:class => 'f2'} %>
        </li>
      <%  end %>

      <% if permitted_to? :guardians,:student %>
        <li class="active">
          <%= link_to "#{t('guardians_text')}", {:controller => "student", :action => "guardians", :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

    

      

      <% if @sms_module.include?('Finance') and permitted_to? :fees, :student and !check_free_school? %>
        <li>
          <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>
      <% if !check_free_school? %>
        <% Champs21Plugin::ADDITIONAL_LINKS[:student_profile_more_menu].each do |mod| %>
          <% if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
            <% unless t(mod[:title]) == "Hostel" %>
          <li>
              <%= link_to "#{t(mod[:title])}", mod[:destination].merge(:id=>@student.id), {:class => 'f2'} %>
          </li>
          <% end %>
          <% end %>
        <% end %>
      <% end %> 
      <% if (permitted_to? :remove, :student or permitted_to? :admission1, :student) and !check_free_school?  %>
        <li>
          <%= link_to "#{t('delete_text')}", {:controller => 'student', :action => 'remove', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div id="page-yield" class="bg-disable">

  <div class="guardian_profile_wrapper">
    <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

    <div id="student_profile_heading">
      <div id="student_main_info">
        <span class="name"> <%= truncate(@student.full_name, 30) %>  </span>
        <span class="course"><%= t('course_and_batch') %>: <%= truncate(@student.batch.course_name, 15) %> </span>
        <span class="adm"><%= t('adm_no') %>: <%= @student.admission_no %> </span>
      </div>

      <div class="extender"> </div>
    </div>

    <div id="guardians-links">
      <ul>
        <span><%= t('parents_guardian') %>:</span>
        <% @parents.each do |p| %>
          <li><a class="themed_hover_text" href="#guardian-details-id-<%= p.id %>"><%= " #{p.full_name} &#x200E;" %></a> <%= "( #{p.relation} ) &#x200E;"%></li>
        <% end %>
      </ul>
    </div>
    
    


    <div id="parent-list">

      <% @parents.each do |p| %>
        <% g_students = GuardianStudents.find_by_student_id_and_guardian_id(@student.id,p.id) %>

        <a name="guardian-details-id-<%= p.id %>"> </a>
        <div id="new_profile_info_top">
          <table width ="700">
            <tr class="odd left"><td><%= t('name') %></td><td class="right"><%= shorten_string(p.full_name,35) %></td></tr>
            <tr class="even left"><td><%= t('relation') %></td><td class="right"><%= g_students.relation  %></td></tr>
            <tr class="odd left"><td><%= t('date_of_birth') %></td><td class="right"><%= p.dob.strftime('%d %B, %Y') unless p.dob.nil? %></td></tr>
            <tr class="odd left"><td><%= t('education') %></td><td class="right"><%= p.education %></td></tr>
            <tr class="even left"><td><%= t('email') %></td><td class="right"><%= p.email  %></td></tr>

            <tr class="odd left"><td><%= t('office_phone1') %></td><td class="right"><%= p.office_phone1 %></td></tr>
            <tr class="even left"><td><%= t('office_phone2') %></td><td class="right"><%= p.office_phone2 %></td></tr>

            <tr class="odd left"><td><%= t('mobile_phone_no') %></td><td class="right"><%= p.mobile_phone  %></td></tr>
            <tr class="even left"><td><%= t('address') %></td><td class="right"><%= p.office_address_line1%> <%= p.office_address_line2%></td></tr>
            <tr class="odd left"><td><%= t('city') %></td><td class="right"><%= p.city %> </td></tr>
            <tr class="even left"><td><%= t('state') %></td><td class="right"><%= p.state %>  </td></tr>
            <tr class="odd left"><td><%= t('country') %></td><td class="right"><%= p.country.nil? ? "" : p.country.name %> </td></tr>
            <tr class="even left"><td><%= t('income') %></td><td class="right"><%= p.income %></td></tr>
            <tr class="odd left"><td><%= t('occupation') %></td><td class="right"><%= p.occupation %></td></tr>
          </table>
          <div class="extender"></div>
        </div>
        <div class="button-pair">
            
          <% if permitted_to? :edit_guardian_own %>
            <% if @current_user.guardian_entry.id == p.id %>
            <% @config = Configuration.find_by_config_key('ParentCanEdit') %>
            <% if !@config.blank? and !@config.config_value.blank? and @config.config_value.to_i == 1 %>
              <%= link_to "► #{t('edit_text')}",
                { :controller => 'student', :action => 'edit_guardian_own'}, :class=>"user_button" %>
            <% end %>
            <% end %>
          <% end %>  
          <% if permitted_to? :edit_guardian,:student %>
            <div class="parent-edit-button">
              <%= link_to "► #{t('edit_text')}",
                { :controller => 'student', :action => 'edit_guardian', :id => p.id,:student_id=>@student.id}, :class=>"user_button" %>
            </div>
          <%  end %>
          <% if permitted_to? :del_guardian,:student %>
            <%  if @student.guardians.size > 1 %>
              <div class="parent-edit-button">
                <%= link_to "► #{t('delete_text')}",
                  {:controller => 'student', :action => 'del_guardian', :id => p.id ,:student_id=>@student.id},
                  {:confirm => "#{t('are_you_completely_sure')}", :class=>"user_button"} %>
              </div>
            <%  end %>
          <% end %>
            
               
            
        </div>

        <div class="extender"></div>
      <% end %>
        
      <% if permitted_to? :add_guardian,:student %>
        <div class="button-pair">
          <div class="parent-edit-button">
             <%= link_to "#{t('add_guardian')}",{:controller => 'student',:action => 'add_guardian', :id => @student.id}, :class=>"user_button" %>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>