<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script type="text/javascript"> function setOption(optn) {document.getElementById("option").value = optn;} </script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
// Put jQuery 1.10.2 into noConflict mode.
  var $jq1 = jQuery.noConflict(true);
</script>
<%= stylesheet_link_tag 'tadded-header' %>
<%= stylesheet_link_tag 'form-bootstrap' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %> 


<div class="header-wrapper">

  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
        <%= t('student_details') %>
      </div>
      <div class="clearfix"></div>
      <div class="header-title-sub-text">
        <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="tabbed-header-wrapper">
    <ul class="header-tabs">
      <li class="active">
        <%= link_to "Student Search", {:controller => 'student', :action => 'index'}, {:class => 'f2'} %>
      </li>
      <li>
          <%= link_to t('view_all'), {:controller => 'student', :action => 'view_all'}, {:class => 'f2'} %>
      </li>
      <li>
        <%= link_to "Graduation Lists", {:controller => 'student', :action => 'graduation_lists'}, {:class => 'f2'} %>
      </li>
      <li>
          <%= link_to t('advanced'), {:controller => 'student', :action => 'advanced_search'}, {:class => 'f2'} %>
      </li>
  
    </ul>
  </div>

</div>
<div id="page-yield">

    <form name="search_form" action="" style="display:inline;">
      <%= hidden_field_tag("option", params['option'], :value => "active") %>
      <div class="form-group col-sm-6">
        <label for="user_name"><%= t('search_text') %>
          <%= image_tag("loader.gif",
            :align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %>
        </label>
        <%= text_field_tag("query", params['query'], :autocomplete => 'off',:class=>"form-control") %>

      </div>
      <div class="form-group col-sm-6" style="margin-top:30px;">
          <label class="radio-inline"><input type="radio" name="setopt" id="search_present_students_radio" checked="checked" onclick="setOption('active')" /><%= t('present_student') %></label>
          <label class="radio-inline"><input type="radio" name="setopt" id ="search_guardian_radio" onclick="setOption('guardian')" />Guardian</label>
        <label class="radio-inline"><input type="radio" name="setopt" id ="search_former_students_radio"onclick="setOption('former')" /><%= t('former_student') %></label>
      </div>
      <div class="extender"></div>
    </form>

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="view_all">

  </div>


<%#= observe_fields ['query', 'option'],
:frequency => 0.5,
:update => 'information',
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:url => {:action => 'search_ajax'} %>

  <script type="text/javascript">
    function search_ajax(){
      if ($('query').value.include("%")) return;
<%="#{remote_function(:url => {:action => "search_ajax"},
:with =>"j('form').serialize()",
:before => "Element.show('loader')",
:success => "Element.hide('loader')",
:update=>"information"
)}"%>
  }

  document.observe("dom:loaded", function() {
    new Form.Element.Observer('query', 1, search_ajax);
    new Form.Element.Observer('option', 0.5, search_ajax);
  });

  </script>

  <div id="information"></div>

</div>
