<html lang="en">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <body>
        <% unless MultiSchool.current_school.classpay_enabled %>
        <% combine_fees_enabled = false %>
        <% @include_combined_fees = PaymentConfiguration.find_by_config_key("include_combined_fees").try(:config_value)    %>
        <% unless @include_combined_fees.blank? %>
        <% combine_fees_enabled = true %>
        <% end %>
        <% student_fee_configuration = StudentFeeConfiguration.find(:first, :conditions => "student_id = #{@student.id} and config_key = 'combined_payment_student'") %>
        <% unless student_fee_configuration.nil? %>
          <% if student_fee_configuration.config_value.to_i == 1 %>
            <% combine_fees_enabled = true %>
          <% else %>
            <% combine_fees_enabled = false %>
          <% end %>
        <% end %>
        <%#= combine_fees_enabled %>
        <% if MultiSchool.current_school.id != 340 or !params[:show_fees].blank? %>
            <div class="alert alert-info header-info" role="alert" style="display: none;">
                <p style="width: 48%; display: inline-block; float: left;"><%= @student.admission_no %> <Br /> <%= @student.full_name %><p>
                <p style="width: 50%; display: inline-block; float: left;"><%= @student.batch.full_name %></p>
            </div>
            <% unless flash[:notice].nil? %> 
              <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
            <% end %>
            <div style="clear: both;"></div>     
            <% unless @dates.blank? %>
              <% if combine_fees_enabled %>
              <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                <thead><!-- class="thead-inverse" -->
                  <tr>
                    <th style="font-weight: normal; width: 30%; text-align: center;"><%= "Fee" %> </th>
                    <th style="font-weight: normal; width: 30%; text-align: left;"><%= "Due Date" %></th>
                    <th style="font-weight: normal; width: 30%; text-align: right; padding-right: 1%;"><%= "Amount (#{currency})" %></th>
                  </tr>    
                </thead>
                <tbody>
              <% else %>  
                <table class="table table-striped table-bordered" id="example" cellspacing="0" cellpadding="0" border="0" style="width: 100%;">
                <thead><!-- class="thead-inverse" -->
                  <tr>
                    <th style="font-weight: normal; width: 25%; text-align: center;"><%= "Fee" %> </th>
                    <th style="font-weight: normal; width: 25%; text-align: left;"><%= "Due Date" %></th>
                    <th style="font-weight: normal; width: 25%; text-align: right; padding-right: 1%;"><%= "Amount (#{currency})" %></th>
                    <th style="font-weight: normal; width: 25%; text-align: right; padding-right: 1%;"><%= "&nbsp;" %></th>
                  </tr>    
                </thead>
                <tbody>
              <% end %>
                <% total_fees = 0 %>  
                <% fees_multiple = "" %>    
                <%- @dates.each do |d| -%>
                  <%  finance_fee = @student.finance_fee_by_date(d) %>
                  <%  paid_fees = finance_fee.finance_transactions %>
                  <%
                    paid_amount = 0.0
                    fine_amount_paid = 0.0
                    unless paid_fees.nil? or paid_fees.blank?
                      paid_fees.each do |pf|
                        paid_amount += pf.amount
                      end
                      
                      transaction_ids = paid_fees.map(&:id)
                      unless transaction_ids.blank?
                        paidFineFess = FinanceTransactionParticular.find(:all, :conditions => "particular_type = 'Fine' AND finance_transaction_id IN (" + transaction_ids.join(",") + ")")
                        unless paidFineFess.blank?
                          fine_amount_paid += paidFineFess.map(&:amount).sum.to_f
                        end
                      end
                    end
                    if fine_amount_paid > 0
                      balance = FinanceFee.get_student_balance(d, @student, finance_fee) + fine_amount_paid.to_f
                    else
                      balance = FinanceFee.get_student_balance(d, @student, finance_fee) + d.fine_to_pay(@student).to_f + fine_amount_paid.to_f
                    end
                    
                    bal = balance - paid_amount
                    if bal.to_f < 0 
                      bal = 0.00
                    end
                  %>
                  <% if bal > 0 %>
                    <% fees_multiple += finance_fee.id.to_s + "," %>
                    <% total_fees += bal %>
                    <% if combine_fees_enabled %>
                      <tr class="<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
                          <td><%= "#{d.name}"%></td>
                          <td><%= "#{d.due_date}"%></td>
                          <td style="text-align: right; padding-right: 1%;"><%= "#{to_comma_seperated_precision_label(bal.to_f)}" %></td>
                      </tr>
                    <% else %>
                      <tr class="<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
                          <td><%= "#{d.name}"%></td>
                          <td><%= "#{d.due_date}"%></td>
                          <td style="text-align: right; padding-right: 1%;"><%= "#{to_comma_seperated_precision_label(bal.to_f)}" %></td>
                          <td style="text-align: center;">
                            <%= link_to "View", {:action=>:fee_details, :id=>@student.id, :id2=>d.id,:mobile_view=>1}, :class=>"user_button_new" %>
                          </td>
                      </tr>
                    <% end %>
                  <% end %>  
                  <% if bal > 0 %>
                    <% if finance_fee.balance.to_f != bal.to_f %>
                        <% ffee = FinanceFee.find(finance_fee.id) %>
                        <% ffee.update_attributes(:balance => bal, :is_paid => false) %>
                    <% end %>
                  <% else %>
                    <% ffee = FinanceFee.find(finance_fee.id) %>
                    <% ffee.update_attributes(:balance => 0.00, :is_paid => true) %>
                  <% end %>
                <% end %>
              
              <% if combine_fees_enabled and total_fees > 0 %>  
                  <tr class="<%= cycle("odd","even") %>" cellpadding="1" cellspacing="1">
                      <td colspan="2" style="text-align: right; padding-right: 1%;"><%= "Total Fees"%></td>
                      <td style="text-align: right; padding-right: 1%;"><%= "#{to_comma_seperated_precision_label(total_fees.to_f)}" %></td>
                  </tr>   
              <% end %> 
              <% if combine_fees_enabled %>
                </tbody></table>
              <% else %>   
                </tbody></table> 
              <% end %>  
              <% if combine_fees_enabled and total_fees > 0 %>  
                <div id="combined_pay" style="display: inline-block; width: 100%;">
                  <div style="padding: 10px; text-align: center; height: 60px; width: 100%;">
                      <% if fees_multiple.strip.length > 0 %>
                      <div id="lnk" style="padding-top: 10px;"><%= link_to "► #{t('pay_fees')}",{:action=>:fee_details, :id => @student.id, :multiple=>true, :fees => fees_multiple.strip,:mobile_view=>1}, {:class=> 'user_button_new', :id => "lnk_btn"} %></div>
                      <% else %>
                      <div id="lnk" style="padding-top: 10px;"><%= link_to "► #{t('pay_fees')}",{:action=>:fee_details, :id => @student.id, :multiple=>true,:mobile_view=>1}, {:class=> 'user_button_new', :id => "lnk_btn"} %></div>
                      <% end %>
                  </div>
                </div>  
                <% end %>
            <% end %> 
          <% else %>
            <div class="alert alert-info" role="alert">Coming Soon</div>
          <% end %>
          <% else %>  
          <div id="fee_div">
              <div style="background: url('/images/background_myfees.png'); height: 98px; width: 94%; margin-left: 2%; margin-bottom: 24px; padding: 20px;">
                  <img src="/images/Apps-system-software-update-icon.png" style="height: 100%;">
                  <h1 style="width: 79%; color: #000; display: inline-table; padding-left: 13px; vertical-align: top; font-family: verdana; font-size: 13px; margin-top: -13px;">ক্লাসটিউনের পেমেন্ট সিস্টেম আপগ্রেডেশনের কাজ চলছে। এই লক্ষে ২৫ মার্চ থেকে ৩০ মার্চ পর্যন্ত শুধুমাত্র পেমেন্ট সিস্টেমটি বন্ধ থাকবে। ৩১ মার্চ থেকে যথারীতি ফিস পরিশোধ করা যাবে। সাময়িক এই অসুবিধার জন‌্য আমরা আন্তরিকভাবে দুঃখিত। - এসএজিসি</h1>
              </div>

          </div>  
          <% end %>  
    </body>

</html>
<style>
    .header-info {
        //background-image: url('/images/backgrounds/top_profile.png'); 
        background-image: linear-gradient(to bottom,#DB3434 0,#820d0d 100%);
        color: #fff; 
        font-size: 16px; 
        font-weight: bold;
        float: left;
        width: 100%;
    }
    .alert-info
    {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-radius: 0px !important;
        margin-bottom: 10px;
    }
    .list-special .list-group-item:first-child {
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
    }

    .list-special .list-group-item:last-child {
        border-bottom-right-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }
    .alert > p + p{
        margin-top: 0px;
    }
    
    .user_button_new {
        background: #49bb4b none repeat scroll 0 0 !important;
        border: medium none;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        margin: 18px 5px 0 5px;
        padding: 7px 10px;
        height: 34px;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;

    }
    .table thead tr th{
      font-size: 14px;
      font-weight: bold;
    }
    .table tbody tr td{
      font-size: 13px;
      font-weight: bold;
    }
    .fees_particular_fa{
      display: none;
    }
    .fees_discount_fa {
      display: none;
    }
    .fee_vat_fa {
      display: none;
    }
    .fee_fine_fa {
      display: none;
    }
    .fee_fine_discount_fa {
      display: none;
    }
    .expand_tr {
      cursor: pointer;
    }
</style>