
<div class="header-wrapper">

  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
        <%= link_to "#{t('report_center')}", :controller => 'student', :action => 'reports', :id => @student.id %>
      </div>
      <div class="clearfix"></div>
      <div class="header-title-sub-text">
        <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="tabbed-header-wrapper">
    <ul class="header-tabs">
      <% if permitted_to? :profile,:student %>
        <li>
          <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <%end%>

      <% if permitted_to? :reports,:student %>
        <li>
          <%= link_to "#{t('reports_text')}", {:controller => 'student', :action => 'reports', :id => @student}, {:class => 'f2'} %>
        </li>
      <%end%>
        
      <% BatchStudent.find_by_student_id(@student.id) %>  
       
      <% if !BatchStudent.blank? %>
              <li>
                <%= link_to "Previous Report", {:controller => "student", :action => "previous_report", :id => @student.id}, {:class => 'f2'} %>
              </li>
      <%  end %> 

      <% if permitted_to? :guardians,:student %>
        <li>
          <%= link_to "#{t('guardians_text')}", {:controller => "student", :action => "guardians", :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

      

      

      <% if @sms_module.include?('Finance') and permitted_to? :fees, :student%>
        <li>
          <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

      <% Champs21Plugin::ADDITIONAL_LINKS[:student_profile_more_menu].each do |mod| %>
        <% if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
          <% unless t(mod[:title]) == "Hostel" %>
          <li>
              <%= link_to "#{t(mod[:title])}", mod[:destination].merge(:id=>@student.id), {:class => 'f2'} %>
          </li>
          <% end %>
        <% end %>
      <% end %>
      <% if permitted_to? :remove, :student or permitted_to? :admission1, :student %>
        <li>
          <%= link_to "#{t('delete_text')}", {:controller => 'student', :action => 'remove', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>
    </ul>
  </div>

</div>

<div id="page-yield" class="bg-disable">
  <div class="wrapper">

    <div id="exam-results-dashboard">

      <h3><%= "Previous Reports" %></h3>
      <div class="label-field-pair">
          <label for="category_name">Class</label>
         <div class="text-input-bg">
             <%= select :student, :batch_name, options_for_select(@previous_batch.map {|b| [b.batch.full_name+" ("+b.session+")", b.id]},""), 
              {:prompt => "#{t('select')}"},
              {:onChange => "#{remote_function(:url => {:controller => "student", :action => "get_previous_exam"}, :with => "'batch_id='+value" ,:before => "$('loading_2').show();",
              :success => "$('loading_2').hide();")}"} %>
              <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loading_2", :style =>"display: none;" ) %>
         </div>
         
      </div>
      
      <div id="exams">
        
      </div>

    </div>
  </div>
</div>


<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>