<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%-
#page breaking implemented page
#'available_sections' marks beginning of a pdf page, all the contents within a 'section' class beneath -
#the 'available_section' will be taken to another div with a class 'page' dynamically by the javascript -
#written in layouts/pdf.html.erb. 'page' has style for page-break-after:auto property which makes sure -
#content within class 'section' breaks on each page if its the last content and no space left in current page
#warning: the 'page' div is created directly below html , so style your pdf keeping that in mind.
#point to note: make an easy guess the length of content a page can hold, and make sure each 'section' will -
#not exceed the a page size, like we did below for student_additional_fields, we force a new table to be drawn -
#each time the row count reaches 28, as 28 being the max number of rows an A4 can hold.
#avoid creating deeper nests, make 'section' simpler.
-%>
<% if @student.photo.file? %>
    <% @profile_image = @student.photo.url %>
    <% unless @profile_image.index("RackMultipart").nil? %>	
       <% if @student.photo.exists? %>
          <% @profile_image.gsub! '?', '.?' %>
       <% else %>
          <% @profile_image = "master_student/profile/default_student.png" %>
       <% end %>	
    <% end %>

  <% else %>
    <% @profile_image = "/master_student/profile/default_student.png" %>
  <% end %>

<p class='ab-image'>
    
    <%= wicked_pdf_image_tag "/"+"#{Rails.root}/public/"+ "#{@profile_image}",:width=> '100%' %>
</p>
<div id="page-yield" class="available_sections">
    <table id="pdf-table" width="100%" cellspacing="0">
            <tr>
                <td width="10%">
                    <% if MultiSchool.current_school.id == 352 %>
                      <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/352/logo-sagc.png")),:width=> '85%' %>

                    <% else %>
                      <%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ current_school_detail.logo.url),:width=> '85%' %>
                    <% end %>
                </td>
                <td width="70%" style="vertical-align:top;">
                    <font size="4"><b><%=Configuration.get_config_value('InstitutionName'); %></b></font><br/><br/>
                    <% if MultiSchool.current_school.id == 352 %>
                      <font size="3">Dhaka Cantonment, Dhaka- 1206</font><br/>
                      <font size="3">Phone: 9833306 web: www.sagc.edu.bd</font>
                    <% end %>
                </td>
                <td class="align-right-bottom">
                    <b>Student Profile</b><br/>
                    <small>Printing Date: <%= I18n.l(Date.today,:format=>"%d %b %Y") %></small>
                </td>
            </tr>     
        </table>
 
 

  <%
    batchsplit = @student.batch.name.split(" ")
    version = ""
    batch = batchsplit[0]
    unless batchsplit[1].blank?
      version = batchsplit[1]
    end
    unless batchsplit[2].blank?
      version = version+" "+batchsplit[2]
    end
  
    fee_particular = FinanceFeeParticular.find(:all,:conditions=>"is_deleted=#{false} and finance_fee_particular_category_id=54 and batch_id=#{@student.batch.id}",:order=>"FIELD(receiver_type,'Student','StudentCategory','Batch'), id DESC").find{|par|  (par.receiver.present?) and (par.receiver==@student or par.receiver==@student.student_category or par.receiver==@student.batch) }
    monthly_fee = 0
    unless fee_particular.blank?
      monthly_fee = fee_particular.amount
    end
  %>
  <div id="general_info">
  <table id="pdf-table" width="100%">
        <tr class="odd">
          <td class="col-pdf" colspan="4"><%= "Academic Information" %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Student Id" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.admission_no unless @student.admission_no.nil? %></td>
          <td class="col-pdf no-border" colspan="2"></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Class Roll" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.class_roll_no unless @student.class_roll_no.nil? %></td>
          <td class="col-pdf no-border" colspan="2"></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Student's Name" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.full_name %></td>
          <td class="col-pdf no-border" colspan="2"></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Monthly Fee" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= monthly_fee %></td>
          <td class="col-pdf no-border" colspan="2"></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Class" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.batch.course.course_name unless @student.batch.course.course_name.nil? %></td>
          <td class="col-pdf no-border" colspan="2"></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Group" %></td>
          <% unless @student.batch.course.group.nil? %>
            <% group_split = @student.batch.course.group.split(" ") %>
            <% unless group_split[2].blank? %>
              <% group_split[0] = group_split[0]+" "+group_split[1] %>
            <% end %>
            <% 
            if !@student.batch.course.group.blank? && !@student.batch.course.group.index("--").nil? 
              group_split[0] = ""
            end 

            %>
          <% end %>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= group_split[0] unless @student.batch.course.group.nil? %></td>
          <td class="col-pdf" colspan="1"><%= "Admission Type" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Section" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.batch.course.section_name unless @student.batch.course.section_name.nil? %></td>
          <td class="col-pdf" colspan="1"><%= "Version" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= version %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Session" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.batch.course.session unless @student.batch.course.session.nil? %></td>
          <td class="col-pdf" colspan="1"><%= "Category" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.student_category.name unless @student.student_category.nil? %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Shift" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= batch %></td>
          <td class="col-pdf" colspan="1"><%= "Admission date" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.admission_date,:format=>"%d %b %Y") unless @student.admission_date.nil? %></td>
        </tr>
        
        <tr class="odd">
          <td class="col-pdf" colspan="4"><%= "Personal Details" %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Date Of Birth" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></td>
          <td class="col-pdf" colspan="1"><%= "Emergency Contact" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.sms_number %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Sex" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= t("#{@student.gender_as_text.downcase}") %></td>
          <td class="col-pdf" colspan="1"><%= "Religion" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.religion %></td>
          
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Blood Group" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.blood_group unless @student.blood_group.nil? %></td>
          <td class="col-pdf" colspan="1"><%= "Nationality" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= @student.nationality.nationality.nationality unless @student.nationality_id.nil? %></td>
        </tr>
        
        <% father = mother = Guardian.new %>
        <% unless @student.guardians.empty? %>
          <% g_loop = 0 %>
          <%- @student.guardians.each do |p| -%>
            <% if g_loop == 0 %>
              <% father = p %>
            <% end %>
            <% if g_loop == 1 %>
              <% mother = p %>
            <% end %>
            <% g_loop = g_loop+1 %>
          <% end %>
        <% end %>
        <% unless father.nil? %>
          <%
            aditional_details = StudentAdditionalDetail.find_all_by_student_id(@student.id,:include=>[:student_additional_field])
          %>
          <tr class="odd">
            <td class="col-pdf" colspan="4"><%= "Parent's Details" %></td>
          </tr>
          <tr>
            <td class="col-pdf" colspan="1"><%= "Father's Name" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= father.first_name %> <%= father.last_name %></td>
            <td class="col-pdf" colspan="1"><%= "Mother's Name" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;
            <%  unless mother.nil? %>
              <%= "#{mother.first_name} #{mother.last_name}" %>
              
            <% end %>  
            </td>
          </tr>
          <tr>
            <td class="col-pdf" colspan="1"><%= "Profession" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= father.occupation %></td>
            <td class="col-pdf" colspan="1"><%= "Profession" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= mother.occupation unless mother.nil? %></td>
          </tr>
          
          <%
        
          unless aditional_details.blank?
            rank = aditional_details.find{|ad| ad.additional_field_id == 38}
          end
          unless aditional_details.blank?
            station = aditional_details.find{|ad| ad.additional_field_id == 39}
          end
          unless aditional_details.blank?
            unit = aditional_details.find{|ad| ad.additional_field_id == 40}
          end
          %>
          <tr>
            <td class="col-pdf"><%= "Rank/Designation" %></td>
            <td class="col-pdf">:&nbsp;&nbsp;&nbsp;<%= rank.additional_info unless rank.blank? %></td>
            <td class="col-pdf"><%= "Rank/Designation" %></td>
            <td class="col-pdf">:&nbsp;&nbsp;&nbsp;</td>
          </tr>
          <tr>
            <td class="col-pdf"><%= "Station Name/Office Address" %></td>
            <td class="col-pdf">:&nbsp;&nbsp;&nbsp;<%= station.additional_info unless station.blank? %></td>
            <td class="col-pdf"><%= "Station Name/Office Address" %></td>
            <td class="col-pdf">:&nbsp;&nbsp;&nbsp;</td>
          </tr>
           <tr>
            <td class="col-pdf"><%= "Unit Name" %></td>
            <td class="col-pdf">:&nbsp;&nbsp;&nbsp;<%= unit.additional_info unless unit.blank? %></td>
            <td class="col-pdf"><%= "Unit Name" %></td>
            <td class="col-pdf">:&nbsp;&nbsp;&nbsp;</td>
          </tr>
           <tr>
            <td class="col-pdf" colspan="1"><%= "Email" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= father.email %></td>
            <td class="col-pdf" colspan="1"><%= "Email" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= mother.email unless mother.nil? %></td>
          </tr>
          <tr>
            <td class="col-pdf" colspan="1"><%= "Contact No" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= father.office_phone1 %></td>
            <td class="col-pdf" colspan="1"><%= "Contact No" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= mother.office_phone1 unless mother.nil? %></td>
          </tr>
          
        <% end %>
        <% @guardian = Guardian.find_by_id(@student.immediate_contact_id) unless @student.immediate_contact_id.blank? %>
        <% unless @guardian.blank? %>
          <% g_loop = 0 %>
          <% p = @guardian %>
          
          <tr class="odd">
            <td class="col-pdf" colspan="4"><%= "Local Guardian's Details" %></td>
          </tr>
          <tr>
            <td class="col-pdf" colspan="1"><%= "Guardian's Name" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= p.first_name %> <%= p.last_name %></td>
            <td class="col-pdf" colspan="1"><%= "Address" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= p.office_address_line1 %></td>
            
          </tr>
          <tr>
            <td class="col-pdf" colspan="1"><%= "Profession" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= p.occupation %></td>
            <td class="col-pdf" colspan="1"><%= "Designation/Rank" %></td>
            <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;<%= p.designation %></td>
          </tr>
          <tr>
            <td class="col-pdf" ><%= "Contact No" %></td>
            <td class="col-pdf" >:&nbsp;&nbsp;&nbsp;<%= p.office_phone1 %></td>
            <td class="col-pdf" ><%= "Relation" %></td>
            <td class="col-pdf" >:&nbsp;&nbsp;&nbsp;<%= p.relation %></td>
          </tr>
          
          
        <% end %>
        <tr class="odd">
          <td class="col-pdf" colspan="4"><%= "TC Information" %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Date & Reason" %></td>
          <td class="col-pdf" colspan="1">:&nbsp;&nbsp;&nbsp;</td>
          <td class="col-pdf no-border" colspan="2"></td>
        </tr>
        <tr class="odd">
          <td class="col-pdf" colspan="4"><%= "Address" %></td>
        </tr>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Present" %></td>
          <td class="col-pdf" colspan="3">:&nbsp;&nbsp;&nbsp;<%= @student.address_line1 %></td>
        </tr>
        <% unless @student.permanent_address.nil? or @student.permanent_address.blank? %>
        <tr>
          <td class="col-pdf" colspan="1"><%= "Permanent" %></td>
          <td class="col-pdf" colspan="3">:&nbsp;&nbsp;&nbsp;<%= @student.permanent_address %></td>
        </tr>
        <% end %>
        <% unless @subjects.blank? %>
          <tr class="odd">
            <td class="col-pdf" colspan="4"><%= "Subject Course Information" %></td>
          </tr>
          <% start_loop = 0 %>
         
          <tr>
              <td class="col-pdf" colspan="2">
                <table id="pdf-table" width="100%">
                    <tr class="odd">
                      <td class="col-pdf"><%= "Srl" %></td>
                      <td class="col-pdf"><%= "Subject Course Name" %></td>
                      <td class="col-pdf"><%= "T" %></td>
                    </tr>
                <% @subjects.each do |subject| %>
                    <tr class="even">
                      <td class="col-pdf"><%= start_loop+1 %></td>
                      <td class="col-pdf"><%= subject.name %></td>
                      <% e_sub = @student_electives.find{|es| es.subject_id == subject.id } %>
                      <% t = "C" %>
                      <% unless e_sub.blank? %>
                        <% if e_sub.elective_type == 4 or e_sub.elective_type == 3 %>
                        <% t = "O" %>
                        <% end %>
                      <% end %>
                      <td class="col-pdf"><%= t %></td>
                    </tr>
                    <% start_loop = start_loop+1 %>
                    <% if start_loop > 6 %>
                      <% break %>
                    <% end %>
                <% end %>
                </table>    
              </td>
              <% start_loop = 0 %>
              <td class="col-pdf" colspan="2">
                <% if @subjects.count > 7 %>
                <table id="pdf-table" width="100%">
                    <tr class="odd">
                      <td class="col-pdf"><%= "Srl" %></td>
                      <td class="col-pdf"><%= "Subject Course Name" %></td>
                      <td class="col-pdf"><%= "T" %></td>
                    </tr>
                <% @subjects.each do |subject| %>
                    <% if start_loop < 7 %>
                       <% start_loop = start_loop+1 %>
                      <% next %>
                    <% end %>
                    <tr class="even">
                      <td class="col-pdf"><%= start_loop+1 %></td>
                      <td class="col-pdf"><%= subject.name %></td>
                      <% e_sub = @student_electives.find{|es| es.subject_id == subject.id } %>
                      <% t = "C" %>
                      <% unless e_sub.blank? %>
                        <% if e_sub.elective_type == 3 %>
                          <% t = "O" %>
                        <% end %>
                        <% if e_sub.elective_type == 4 %>
                          <% t = "F" %>
                        <% end %>
                      <% end %>
                      <td class="col-pdf"><%= t %></td>
                    </tr>
                   <% start_loop = start_loop+1 %>
                    
                <% end %>
                </table> 
                <% end %>
              </td>
          </tr>     
        
        <% end %>
        
        
          
  </table>
  <br/>Student mentioned above is quite correct
  <table id="pdf-table" class="evaluation table_99 top-left-center sign_table"  width="99.8%" >

            <tr class="even border-bottom-1-px">
                <td class="col-pdf " width="25%">
                     <br/><br/><br/>
                </td>
                <td class="col-pdf" width="25%">
                    <br/><br/><br/>
                </td> 
                <td class="col-pdf " width="25%">
                    <br/><br/><br/>
                </td>
            </tr>
            <tr class="even">

                <td class="col-pdf" width="25%">
                    Student's Signature
                </td>
                <td class="col-pdf " width="25%">
                    Guardian's Signature
                </td>
                <td class="col-pdf" width="25%">
                    Class Teacher's Signature
                </td> 

            </tr>

    </table>
  </div>    
  
</div>
<style>
    .ab-image
    {
        width: 100px;
        position: fixed;
        top:135px;
        left: 700px;
    }
    #page-yield
   {
       font-size: 12px;
   }
  div.hor_line
  {
      background: red;
  }
.hor_line2{
    width:200px;
    background: #333333;
    height: 2px;
}
#pdf-table tr td.align-left-bottom
{
    text-align:left;
    vertical-align: bottom;
}
#pdf-table tr td.align-right-bottom
{
    text-align:right;
    vertical-align: bottom;
}
#pdf-table tr td.no-border,table#pdf-table
{
    border: none;
}
#pdf-table tr td
{
    padding: 4px;
    font-size:13px;
    vertical-align: top;
    
}
#pdf-table tr.odd td
{
    padding: 4px;  
    border: 1px solid #000000;
    font-size:14px;
 
}
#pdf-table tr.even td
{
    padding: 4px;
    border: 1px solid #000000;
    font-size:14px;
   
}

table#pdf-table{
    border-top: none;
    border-collapse:collapse
}
table.sign_table
{
    border:none !important;
}
table.sign_table tr.even td.col-pdf
{
    border:none !important;
    text-align: center !important;
}
table.sign_table tr.border-bottom-1-px td.col-pdf
{
    border-bottom:1px dashed black !important;
}
table.sign_table
{
    border-collapse: separate !important;
    border-spacing: 18px !important;

}

  
</style>   