<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<%-
#page breaking implemented page
#'available_sections' marks beginning of a pdf page, all the contents within a 'section' class beneath -
#the 'available_section' will be taken to another div with a class 'page' dynamically by the javascript -
#written in layouts/pdf.html.erb. 'page' has style for page-break-after:auto property which makes sure -
#content within class 'section' breaks on each page if its the last content and no space left in current page
#warning: the 'page' div is created directly below html , so style your pdf keeping that in mind.
#point to note: make an easy guess the length of content a page can hold, and make sure each 'section' will -
#not exceed the a page size, like we did below for student_additional_fields, we force a new table to be drawn -
#each time the row count reaches 28, as 28 being the max number of rows an A4 can hold.
#avoid creating deeper nests, make 'section' simpler.
-%>

<div id="page-yield" class="available_sections">
  <h4><%=Configuration.get_config_value('InstitutionName').upcase; %></h4>
  <div class="hor_line"></div>
  <h4><%= @student.full_name %>  </h4>
  <div id="general_info">
  <table id="pdf-table" width="100%">
        <tr class="odd">
          <td class="col-pdf name"><%= t('admission_number') %></td>
          <td class="col-pdf amnt"><%= @student.admission_no unless @student.admission_no.nil? %></td>
        </tr>
        
        <tr class="even">
          <td class="col-pdf name"><% if MultiSchool.current_school.id == 340  %>
                  <%= t('admission_date_2')  %>
                <% else %>  
                  <%= t('admission_date') %>
                <% end %></td>
          <td class="col-pdf amnt"><%= I18n.l(@student.admission_date,:format=>"%d %b %Y") unless @student.admission_date.nil? %></td>
        </tr>
      
        <tr class="odd">
          <td class="col-pdf name"><%= "Form Serial Number" %></td>
          <td class="col-pdf amnt"><%= @student.serial_no %></td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"><%= "Designated Number for SMS" %></td>
          <td class="col-pdf amnt"><%= @student.sms_number %></td>
        </tr>
        <tr class="odd">
          <td class="col-pdf name"><%= t('email_for_school_use') %></td>
          <td class="col-pdf amnt"><%= @student.email %></td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"><%= t('batch') %></td>
          <td class="col-pdf amnt"><%= @student.batch.name unless @student.batch.name.nil? %> </td>
        </tr>
         <tr class="odd">
          <td class="col-pdf name"><%= t('course_text') %></td>
          <td class="col-pdf amnt"><%= @student.batch.course.full_name unless @student.batch.course.full_name.nil? %> </td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"> <%= t('date_of_birth') %></td>
          <td class="col-pdf amnt"> <%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %> </td>
        </tr>
        <tr class="odd">
          <td class="col-pdf name"> <%= t('gender') %> </td>
          <td class="col-pdf amnt"> <%= t("#{@student.gender_as_text.downcase}") %> </td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"> <%= t('nationality') %></td>
          <td class="col-pdf amnt bnla"> <%= @student.nationality.nationality.nationality unless @student.nationality_id.nil? %></td>
        </tr>
        <tr class="odd">
          <td class="col-pdf name"> <%= t('dual_nationality') %></td>
          <td class="col-pdf amnt bnla"> <%= @student.dual_nationality.name unless @student.dual_nationality_id.nil? %></td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"> <%= t('category') %> </td>
          <td class="col-pdf amnt"> <%= @student.student_category.name unless @student.student_category.nil? %> </td>
        </tr>
        <tr class="odd">
          <td class="col-pdf name"> <%= t('religion') %> </td>
          <td class="col-pdf amnt"> <%= @student.religion %> </td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"> <%= t('address') %> </td>
          <td class="col-pdf amnt"> <%= @student.address_line1%><%= ', ' unless @student.address_line1.blank? %><%=  @student.address_line2 %> </td>
        </tr>
        <tr class="odd">
          <td class="col-pdf name"> <%= t('country') %> </td>
          <td class="col-pdf amnt"> <%= @student.country.name unless @student.country_id.nil? %> </td>
        </tr>
        <tr class="even">
          <td class="col-pdf name"> <%= t('mobile') %> </td>
          <td class="col-pdf amnt"> <%= @student.phone2 %> </td>
        </tr>
        <% c = "odd" %>
        <% unless  @additional_details.empty? %>
          <% @additional_details.each do |detail| %>
            <% unless detail.nil? %>
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="col-pdf name"><%= detail.student_additional_field.name %></td>
              <td class="col-pdf amnt">
                <%= detail.additional_info.gsub(/\n/, '<br>') unless detail.nil? %>
              </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>    
  </table>
  </div>    
  
</div>
<style>
  div.hor_line
  {
      background: red;
  }
.hor_line2{
    width:200px;
    background: #333333;
    height: 2px;
}

tr.odd td
{
    padding: 12px;  
    border: 1px solid #000000;
    font-size:15px;
}
tr.even td
{
    padding: 12px;
    border: 1px solid #000000;
    font-size:15px;
}

table#pdf-table{
    border-top: none;
    border-collapse:collapse
}
tr.even{
    border: none;
}

tr.odd{
    border: none;
}
  
</style>   