<div class="header-wrapper">

  <div class="header-title">
    <div class="header-icon">
      <%= image_tag '/images/icons/profile-icon.png', :html => {:alt => 'Student Profile'} %>
    </div>
    <div class="header-title-text-wrapper">
      <div class="header-title-main-text f2">
        <%= link_to "Delete Student", :controller => 'student', :action => 'remove', :id => @student.id %>
      </div>
      <div class="clearfix"></div>
      <div class="header-title-sub-text">
        <%= I18n.l(@local_tzone_time.to_date, :format=>'%d/%m/%Y') %>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="tabbed-header-wrapper">
    <ul class="header-tabs">
      <% if permitted_to? :profile,:student %>
        <li>
          <%= link_to "#{t('student_profile')}", {:controller => 'student', :action => 'profile', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <%end%>

      <% if permitted_to? :reports,:student and !check_free_school?  %>
        <li>
          <%= link_to "#{t('reports_text')}", {:controller => 'student', :action => 'reports', :id => @student}, {:class => 'f2'} %>
        </li>
      <%end%>
      
      <% BatchStudent.find_all_by_student_id(@student.id) %>  
       
      <% unless BatchStudent.blank? %>
        <li>
          <%= link_to "Previous Report", {:controller => "student", :action => "previous_report", :id => @student.id}, {:class => 'f2'} %>
        </li>
      <%  end %>

      <% if permitted_to? :guardians,:student %>
        <li class="active">
          <%= link_to "#{t('guardians_text')}", {:controller => "student", :action => "guardians", :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

      <% if (permitted_to? :remove, :student or permitted_to? :admission1, :student) and !check_free_school?  %>
        <li>
          <%= link_to "#{t('delete_text')}", {:controller => 'student', :action => 'remove', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>

      <% if @sms_module.include?('Finance') and permitted_to? :fees, :student and !check_free_school? %>
        <li>
          <%= link_to "#{t('fees_text')}", {:controller => 'student', :action => 'fees', :id => @student.id}, {:class => 'f2'} %>
        </li>
      <% end %>
      <% if !check_free_school? %>
        <% Champs21Plugin::ADDITIONAL_LINKS[:student_profile_more_menu].each do |mod| %>
          <% if can_access_request? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
            <li>
              <%= link_to "#{t(mod[:title])}", mod[:destination].merge(:id=>@student.id), {:class => 'f2'} %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

</div>

<div id="page-yield" class="bg-disable">
  <div class="wrapper">

    <% unless flash[:warn_notice].nil? %>
      <div id="errorExplanation" class="errorExplanation"><%= flash[:warn_notice] %> </div>
    <% end %>
    <div id="student-details">
      <h3><%= @student.full_name %></h3>
      <h4><%= t('adm_no') %> : <%= @student.admission_no %></h4>
      <h4><%= t('class') %>: <%= @student.batch.course_name %></h4>
    </div>

    <div class="extender"> </div>

    <div class="link-box">
      <div class="link-heading"> <%= link_to "#{t('leaving_institution')}", :controller => "student", :action => "change_to_former", :id => @student.id %> </div>
      <div class="link-descr"><%= t('leaving_institution_message') %></div>
    </div>

    <div class="link-box">
      <div class="link-heading"> <%= link_to "#{t('remove_student_records')}", :controller => "student", :action => "delete", :id => @student.id %> </div>
      <div class="link-descr"><%= t('remove_student_message') %></div>
    </div>

    <!--
  
  <div id="remove-student">
    <h4><%= link_to "#{t('student_left_message')}" %></h4>
    <p>For students leaving the school, use this option to remove them from the list of active students and place them in the former students list.</p>
    <% form_for :remove do |f| %>
            <div class="label-field-pair">
              <label for="remove_descr">Reason for leaving</label>
              <div class="text-input-bg"><%= f.text_field :description %></div>
            </div>
            <div class="extender"> </div>
      <%= image_submit_tag '/images/buttons/remove.png', :disable_with => "► #{t('please_wait')}" %>
    <% end %>
  </div>
  
  <div id="delete-student">
    <h4>Delete student</h4>
    <p>Completely delete student's records from the school's databases. Use this option only if you created the student record by accident and want to remove it completely.</p>
  
    <p class="warning">(Warning: All records will be deleted for the student and cannot be recovered.)</p>
    <%= link_to image_tag('/images/buttons/delete.png', :border => 0),
      { :action => 'destroy', :id => @student.id }, :confirm =>"#{t('are_you_completely_sure')}" %>
  </div>
    -->
  </div>
</div>

<%= stylesheet_link_tag 'tadded-header' %>
<% content_for :head do %>
  <%= javascript_include_tag "custom/tabbed-header" %>
<% end %>