<% unless @report_data.blank?  or  @report_data['report'].blank? %>
  <% if params[:no_logo].blank? %>
  <div id="pdf-header-south" class="sfx-header" style="width: 100%;">
    <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ ("public/images/school_logo/323/transcript.png")),:width=> '65%' %></h4>
  </div>
  <% end %>
  <% unless params[:no_logo].blank? %>
    <div id="pdf-header-south" class="sfx-header" style="width: 100%; height: 300px;"></div>
  <% end %>
  <% total_u = 0 %>
  <div id="page-yield"  class="available_sections1 baf_shaheen" style="border: 1px solid #fff !important;">
    <div class="student_information">
      <h4><b>Student's Information</b></h4>

      <table class="std_info_table" width="100%" cellspacing="0">
          <tr>
              <td>Student's ID </td><td colspan="3" class="font-dark">:&nbsp;&nbsp;&nbsp;<%= @student.admission_no %></td>
          </tr>
          <tr>
              <td><%= "Student's Name" %></td><td colspan="3" class="font-light">:&nbsp;&nbsp;&nbsp;<%= @student.full_name.upcase %></td>
          </tr>
          <tr>
              <td>Date of Birth </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.date_of_birth,:format=>"%d %b %Y") unless @student.date_of_birth.nil? %></td>
              <td>Gender </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<% unless @student.gender_as_text.blank?  %><%= t("#{@student.gender_as_text.downcase}") %><% end %></td>
          </tr>
          <tr>
              <% month_number =@connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%-m"):@connect_exam_obj.published_date.strftime("%-m") %>

              <% if month_number.to_i>6 %>
              <td>Academic Session </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i+1:@connect_exam_obj.published_date.strftime("%Y").to_i+1 %></td>
              <% else %>
              <td>Academic Session </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y").to_i-1:@connect_exam_obj.published_date.strftime("%Y").to_i-1 %>-<%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%Y"):@connect_exam_obj.published_date.strftime("%Y") %></td>
              <% end %>
              <td>Roll </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @student.class_roll_no %></td>
          </tr>
          <tr>
              <td>Standard </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @batch.course.course_name %></td>
              <td>Section </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @batch.course.section_name %></td>

          </tr>
          <tr>
              <td>Exam Name </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= @connect_exam_obj.name %></td>
              <td>Enrollment </td><td class="font-light">:&nbsp;&nbsp;&nbsp;<%= I18n.l(@student.admission_date,:format=>"%d %b %Y") unless @student.admission_date.nil? %></td>

          </tr>

      </table>
    </div>
    <div class="grade_information">
      <%= render  :partial=>"/connect_exam/baf_shaheen/gradding_level" %>
    </div>
      
      


    
      <div class ="current_batch" style="margin-left:0px;">
          <div id="grouped_exam_report">

              

              
             
              
          </div>
      </div>



  </div>
<% end %>

<%= stylesheet_link_tag 'list_table' %>
 
 <style>
     
  .baf_shaheen table.life-skills tr td
  {
    padding: 2px 6px 2px 10px !important; 
    font-size: 22px !important;
  }
  .baf_shaheen tr.odd td
  {
      padding: 1px 3px 2px 3px !important;  
      font-size: 22px !important; 
  }
  .baf_shaheen tr.even td
  {
      padding: 1px 3px 2px 3px !important; 
      font-size: 22px !important;
  }

</style>

