
<% unless @report_data.blank?  or  @report_data['report'].blank? %>
<% total_u = 0 %>
              <table id="pdf-table" width="99.8%" cellspacing="0">
                  <% c = 'even'  %>
                  <% total_u = 0 %>
                  <% total_mark_of_allexam = 0 %>
                 
                  <tr class="table-header">
                      <td class="col-pdf border-left-none"><%= "Subject" %></b></td>
                      <% loop=0 %>
                      <% unless @report_data['report']['exams'].blank? %>  
                        <% @report_data['report']['exams'].each do |report| %>
                          <% 
                            loop = loop+1  
                            if loop>2
                              break
                            end  
                          %>
                          <td class="col-pdf">
                              <%= report['exam_name'] %>
                              <hr/>
                              Score Out of <% unless @exam_marks[report['exam_id'].to_s].blank?  %><% total_mark_of_allexam = total_mark_of_allexam+@exam_marks[report['exam_id'].to_s].to_i  %><%= @exam_marks[report['exam_id'].to_s] %><% end %>
                              
                          </td>
                          
                        <% end %>
                      <% end %>

                      <td class="col-pdf">
                          Total Marks
                          <hr/>
                          Score Out of <%= total_mark_of_allexam %>
                      </td>
                      <td class="col-pdf">
                          70% of Final Term Score
                      </td>
                      <td class="col-pdf">
                          30% of Mid Term Score
                      </td>
                      <td class="col-pdf">Accumulated Score</td>
                      <td class="col-pdf">Grade</td>
                      <td class="col-pdf border-right-none">Highest Mark</td>
                      
                  </tr>

                  <% total_parcent = 0 %>
                  <% total_subject = 0 %>
                  <% total_mark_all_subject = 0 %>
                  <% unless @report_data['report']['subjects'].blank? %> 
                    <% @report_data['report']['subjects'].each do |subjects| %>
                      <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                          <% weightage_mark = 0 %>
                          <% total_mark = 0 %>
                          <% full_mark = 0 %>

                          <td class="col-pdf border-left-none no-warp"><%= subjects['name'] %></td>
                          <% unless @report_data['report']['exams'].blank? %>  
                          <% loop=0 %>
                            <% @report_data['report']['exams'].each do |report| %>
                              <% 
                                loop = loop+1  
                                if loop>2
                                  break
                                end  
                              %>
                              <td class="col-pdf no-warp">
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank? %>
                                    <%= report['result'][report['exam_id']][subjects['id']]['marks_obtained'] %>
                                    <% total_mark = total_mark.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f %>
                                  <% else %>
                                    N/A
                                  <% end %>
                                  <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['full_mark'].blank? %>
                                    <% full_mark = full_mark+report['result'][report['exam_id']][subjects['id']]['full_mark'].to_i %>
                                  <% else %>

                                  <% end %>  



                              </td>

                              <% if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['weightage_mark'].blank? %>
                                <% weightage_mark = weightage_mark+report['result'][report['exam_id']][subjects['id']]['weightage_mark'] %>
                              <% end %>

                            <% end %>
                          <% end %>

                          <% 
                          midterm_total = 0
                          midterm_30 = 0
                          unless @report_data['report']['exams'].blank? 
                            loop=0 
                            @report_data['report']['exams'].each do |report| 

                              loop = loop+1  
                              if loop>2
                                if !report['result'].blank? and !report['result'][report['exam_id']].blank? and !report['result'][report['exam_id']][subjects['id']].blank?  and !report['result'][report['exam_id']][subjects['id']]['marks_obtained'].blank?
                                  midterm_total = midterm_total.to_f+report['result'][report['exam_id']][subjects['id']]['marks_obtained'].to_f 
                                end
                              end

                            end
                          end
                        
                            if midterm_total.to_f>0
                              midterm_30  = (midterm_total.to_f*30)/100
                            end
                          %>



                          <% 
                          highest_mark = 0
                          if !@report_data['report']['max_mark'].blank? and !@report_data['report']['max_mark'][subjects['id']].blank?
                            highest_mark = @report_data['report']['max_mark'][subjects['id']].to_f
                            end  

                          if total_mark.to_f>0 and full_mark.to_f>0
                            main_mark = (total_mark.to_f/full_mark.to_f)*100 
                            total_70 = (total_mark.to_f*70)/100
                          else
                            main_mark = 0
                            total_70 = 0
                          end
                        
                          accumulated = midterm_30+total_70
                          accumulated = accumulated.round()
                          
                        
                        %>

                          <% if full_mark.to_f > 0 %>
                            <td class="col-pdf"><%= sprintf( "%0.02f", total_mark) %></td>
                            <td class="col-pdf"><%= sprintf( "%0.02f", total_70) %></td>
                            <td class="col-pdf"><%= sprintf( "%0.02f", midterm_30) %></td>
                            <td class="col-pdf"><%= accumulated %></td>
                            <%  grade = GradingLevel.percentage_to_grade(accumulated, @batch.id) %>
                            <% if !grade.blank? and !grade.name.blank? %>
                              <td ><b><%= grade.name %></b></td>
                              <% if grade.name == "U" %>
                              <% total_u +=1 %>
                              <% end %>
                            <% else %>
                              <td ><b>N/A</b></td>
                            <% end %>
                              
                            <% unless @subject_highest[subjects['id'].to_i].blank? %> 
                              
                                <td class="col-pdf border-right-none"><b><%= @subject_highest[subjects['id'].to_i].round() %></b></td>
                            <% else %>
                                <td class="col-pdf border-right-none"><b>N/A</b></td>
                            <% end %>    
                            
                            

                            <% total_parcent= total_parcent+main_mark %>
                            <% total_subject = total_subject+1 %>
                            <%  total_mark_all_subject = total_mark_all_subject+accumulated %>
                          <% else  %>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf">N/A</td>
                            <td class="col-pdf border-right-none">N/A</td>
                          <% end %>      

                      </tr> 
                    <% end %>  
                  <% end %>
                      <tr class="odd">
                        <td class="col-pdf border-left-none"><b>Total Mark</b></td>
                         <td class="col-pdf"></td>
                         <td class="col-pdf"></td>
                         <td class="col-pdf"></td>
                         <td class="col-pdf"></td>
                         <td class="col-pdf"></td>
                         <td class="col-pdf"><b><%= total_mark_all_subject %></b></td>
                          
                         <td></td>
                         <td class="col-pdf border-right-none"></td>
                      </tr>   

              </table>       
<% end %>