<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<div id="page-yield" class="available_sections1 baf_shaheen">
  <div class="page1"> </div>
  <div class="section1 row" >
    <center>
      <div id="pdf-header-south" class="general-header">
        <h4 align="center"><%= wicked_pdf_image_tag "/"+("#{Rails.root}/"+ (current_school_detail.logo.path||"public/images/application/c.png")),:width=> '4%' %></h4>
        <h2 align="center"><%=Configuration.get_config_value('InstitutionName'); %></h2>
      </div>
      <h4 align="center">Tabulation Sheet, <%= @connect_exam_obj.name %></h4>
      <table width="100%" >
            <thead>
                <tr>
                    <td><b>Year: <%= @connect_exam_obj.published_date.blank? ? @connect_exam_obj.created_at.strftime("%B-%Y"):@connect_exam_obj.published_date.strftime("%B-%Y") %> </b></td>
                    <td align="right"><b>Class : 
                        <% if @batch.name == "General" %>
                        <%= @batch.course.full_name %>
                        <% else %>
                           <%= @batch.name %> ,<%= @batch.course.full_name %>
                        <% end %></b>
                    </td>
                </tr>
            </thead>    
      </table>
     
      <% unless @report_data.blank? %>
      <% c = 'even' %>
      <table id="pdf-table" width="100%" cellspacing="0">
        <tr class="table-header">
          <td class="col-pdf">Roll</td>
          <td class="col-pdf">Students Name</td>
          <% @report_data['report']['subjects'].each do |sub| %>
            <td><%=  sub['code'] %></td>
          <% end %> 
          
          
          <td>Total</td>
        
        </tr>
        
        <% extender = 0 %>
        <% std_count = 0 %>
        <% j = 0 %>
      
        <% @report_data['report']['students'].each do |std| %>
          <% j = j+1 %>
          <%  std_count = std_count+1; %>
          <% if std_count>5 && extender ==0 %>
              <% std_count = 0 %>
              <% extender = 1 %>
              <tr class="page-break3-bf">
                  <td colspan="100">&nbsp;</td>
              </tr>  
              <tr class="table-header">
                <td class="col-pdf">Roll</td>
                <td class="col-pdf">Students Name</td>
                <% @report_data['report']['subjects'].each do |sub| %>
                  <td><%=  sub['code'] %></td>
                <% end %>

                <td>Total</td>

              </tr>
          <% elsif std_count>5 && extender ==1 %>
              <% std_count = 0 %>
              <% extender = 1 %>
              <tr class="page-break4-bf">
                  <td colspan="100">&nbsp;</td>
              </tr> 
              <tr class="table-header">
                <td class="col-pdf">Roll</td>
                <td class="col-pdf">Students Name</td>
                <% @report_data['report']['subjects'].each do |sub| %>
                  <td><%=  sub['code'] %></td>
                <% end %>

                <td>Total</td>

              </tr>
          <% end %>    
        
          
          
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="name"><%= std['class_roll_no'] %></td>
            <td class="name-std"><%= std['first_name']+" "+std['last_name'] %></td>
            <% total_mark = 0 %>
            <% grades = [] %>
            <% grade_count = {} %>
            <% @report_data['report']['subjects'].each do |sub| %>
                  <% subject_full_mark = 0 %>
                  <% subject_obtain_mark = 0 %>
            
                  <% subject_mark_final = 0 %>
                  <% subject_mark_midterm = 0 %>
                  
                  <% iloop = 0  %>
                  <td>
                  <% @report_data['report']['exams'].each do |rs| %>
                    <% iloop = iloop+1 %>
                    <% if !rs['result'].blank? and !rs['result'][rs['exam_id']].blank? and !rs['result'][rs['exam_id']][sub['id']].blank? and !rs['result'][rs['exam_id']][sub['id']][std['id']].blank? and !rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].blank? %>
                      
                      <%
                      subject_full_mark = subject_full_mark+rs['result'][rs['exam_id']][sub['id']][std['id']]['full_mark'].to_i
                      %>
                      <% if iloop < 3  %>
                        <%  subject_mark_final = subject_mark_final+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f %>
                      <% else %>
                        <%  subject_mark_midterm = subject_mark_midterm+rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f %>
                      <% end %>
                      
                      
                      <% if iloop == 1 or iloop == 3  %>
                        A:
                      <% elsif iloop == 2  %>
                        F:
                      <% else  %>
                        M:
                      <% end %>  
                        
                        
                      <%= rs['result'][rs['exam_id']][sub['id']][std['id']]['marks_obtained'].to_f %>
                      <% unless rs.equal? @report_data['report']['exams'].last %>
                      <hr/>
                      <% end %>
                      
                      <% if iloop == 2  %>
                        
                      <% end %>
                        
                    <% end %>
                   <% end %>
                        <% subject_obtain_mark = ((subject_mark_final.to_f/100)*70)+((subject_mark_midterm.to_f/100)*30) %>
                        <% subject_obtain_mark = subject_obtain_mark.round() %>
                        <% main_mark = subject_obtain_mark %>  
                
                       <% total_mark = total_mark+subject_obtain_mark.to_f %>
                       <hr/>T&nbsp;:&nbsp; <%= sprintf( "%0.02f", subject_obtain_mark) %>
                     
                       <%  grade = GradingLevel.percentage_to_grade(main_mark, @batch.id) %>
                       <% if !grade.blank? and !grade.name.blank? %>
                           <%
                              if grades.include?(grade.name.to_s)
                                grade_count[grade.name.to_s] = grade_count[grade.name.to_s]+1
                              else
                                grades << grade.name.to_s
                                grade_count[grade.name.to_s] = 1
                              end  
                           %>
                        
                       <% end %>
                      
                  </td>   
                       
                           
                    
                     
             <% end %> 
                
            
              <td>
                   <%= total_mark %>    
              </td>
            
              
           
        </tr>
        <% end %>
      </table>
      <% end %>
    </center>
  </div>
  
  
</div>
