<%-# Champs21
#Copyright 2010 teamCreative Private Limited
#
#This product includes software developed at
#Project Champs21 - http://www.champs21.com/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<header class="head">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4" style="display: inline-block; float: left;">
                  <div class="logo">
                          <a href=""><img src="/images/login/logo.png" alt="Logo" width="210" height="50" /></a>
                  </div>
                </div>
                <div class="col-md-8" style="text-align: left; padding-top: 10px; display: inline-block; float: left;">
                    <%= image_tag current_school_detail.logo.url %>
                    <h2 style="font-size: 24px; font-weight: bold; display: inline-block; padding-left: 10px;"><%= current_school_name %></h2>
                </div>
            </div>
        </div>
    </div>
</header> <!-- end header -->

<div id="wrapper">
    <main>
        <section class="login-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-box">
                              <% form_for :reset_password do |form| %>
                                  <div class="login-logo">
                                      <img src="/images/login/logo.png" height="50" width="200" alt="" />
                                  </div>
                                  <% unless flash[:notice].nil? %>
                                    <p class="flash-msg" style=""> <%= flash[:notice] %> </p>
                                  <% end %>
                                  <legend style="font-size: 1.5rem;">Forget Password?</legend>
                                  <div class="form-group">
                                      <%= form.text_field :username, :maxlength => 40, :placeholder=>"Username", :style=>"width: 100%;" %>
                                  </div>
                                  <div class="input-group" style="padding-left: 10px;">
                                    <div class="checkbox">
                                      <%= link_to t('login'), {:controller => "user",:action => "login"}, :class=>"forgot_pwd themed_hover_text" %>
                                    </div>
                                  </div>  
                                  <div class="form-group">
                                      <input type="submit" class="btn-tune btn-login" value="Reset" />
                                  </div>
                              <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>



